@model ERPElectrodata.Models.TICKET

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<style>
    b{
        color:#F83C50;
    }
</style>
<div>
    <div style="float:left;width:69%;">
        <div class="titleForm">
            <div class="title">Reasignación Directa de Activo</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" id="Encabezado">
                @using (Html.BeginForm("CreateReasignacion", "DeliveryReception", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormReceptionAsset", target = "upload_target" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Entrega</legend>
                        @Html.HiddenFor(model => model.ID_TYPE_TICK)
                        @Html.HiddenFor(model => model.ID_TICK)
                        @Html.HiddenFor(model => model.ID_CATE)
                        @Html.HiddenFor(model => model.ID_PERS_ENTI_END)
                        @Html.HiddenFor(model => model.ID_PERS_ENTI_ASSI)
                        @Html.HiddenFor(model => model.ID_QUEU)
                        @Html.HiddenFor(model => model.ID_PRIO)
                        @Html.HiddenFor(model => model.ID_STAT)
                        @Html.HiddenFor(model => model.ID_AREA, new { @value = "0" })
                        @Html.HiddenFor(model => model.ID_SOUR)

                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Usuario - Recepción <b>(*)</b>
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_PERS_ENTI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Fecha de Reasignación (mm/dd/yyyy) <b>(*)</b>
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.FEC_TICK)
                                    @Html.ValidationMessageFor(model => model.FEC_TICK)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Usuario - Asignación <b>(*)</b>
                                </div>
                                <div class="editor-field">
                                    <input id="IdPersAsignacion" name="IdPersAsignacion" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Locación - Asignación <b>(*)</b>
                                </div>
                                <div class="editor-field">
                                    <input id="IdLocacion" name="IdLocacion" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div style="width: 98%; float:left; padding: 0px 0px 0 15px;">
                                <div class="editor-label">
                                    Comentario
                                </div>
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.SUM_TICK)
                                    @Html.ValidationMessageFor(model => model.SUM_TICK)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div style="width: 96%; float:left;">
                                <input name="files" id="files" type="file" />
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div id="divAssetsAdd" style="width: 96%;text-align: center; padding: 0px 0px 0 15px;"></div>
                            <div style="height: 10px"></div>
                            <div style="display:inline-block; float:right; padding:0px 15px 15px 5px;">
                                @*<div style="float:left;">
                                        <button id="addAsset" class="k-button">Agregar Activo</button>
                                    </div>*@
                                <div class="divSpace3"></div>
                                <div style="float:left;">
                                    <button id="submit" class="btn btn-primary btn-sm">Crear</button>
                                </div>
                                <div class="divSpace3"></div>
                                <div style="float:left;">
                                    <button id="reset" class="btn btn-primary btn-sm" onclick="cancel(); return false;">Limpiar</button>
                                </div>
                                <div class="divSpace3"></div>
                            </div>
                        </div>
                        <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
                        <input id="idsActivo" type="hidden" name="idsActivo" value="" />
                        <input id="idsCondicion" type="hidden" name="idsCondicion" value="" />
                    </fieldset>
                }
            </div>
        </div>
    </div>

    <div style="float:right; width:30%;">
        <div class="titleForm">
            <div class="title">Agregar Activo</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm">
                <fieldset>
                    <legend>Entrega</legend>
                    <div class="divSpace3"></div>
                    <div style="float:left; width:100%">
                        <div class="editor-label">
                            Buscar Activo
                        </div>
                        <div class="k-textbox">
                            <input id='txtActivo' type='text' name='ID_ASSE'>
                        </div>
                        <div style="float:right">
                            <button id='AgregarTodo' class='btn btn-primary btn-sm'>Agregar Todos</button>
                        </div>
                    </div>
                    <div style="float:left; width:100%">
                        <div class="editor-label">
                            Tipo Activo
                        </div>
                        <div class="editor-field">
                            <input id='cmbTipoActivo' type='text' name='cmbTipoActivo'>
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div style="float:left; overflow-y:auto; height:450px; width:100%;">
                        <div id="gridActivos">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="template">
    <div id="div${ IdActivo }" class="FondoGris01">
        <div style="border-top:1px dashed;padding:5px 0px 5px 0px;">
            <div id="TA${IdActivo}" style="font-weight:bold;">${ TipoActivo }</div>
            <div style="float:right;"><button id="${IdActivo}" class='k-button' style='font-size:.9em;' onclick="AgregarActivo(this);">Agregar Activo</button></div>
            <div><div style="font-weight:bold; float:left;">Estado - Condicion :&nbsp;</div><div id="CO${IdActivo}">${ Estado } - ${ Condicion }</div></div>
            <div><div style="font-weight:bold; float:left;">Codigo Activo :&nbsp;</div><div id="CD${IdActivo}">${ Codigo }</div></div>
            <div><div style="font-weight:bold; float:left;">Serie :&nbsp;</div><div id="SE${IdActivo}">${ Serie }</div></div>
            <div><div style="font-weight:bold; float:left;">Marca :&nbsp;</div><div id="MA${IdActivo}">${ Marca }</div></div>
        </div>
    </div>
    <div style="width:100%;height:4px;"></div>
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    var ids = '';

    $("#ID_SOUR").val(3);

    $(document).ready(function () {
        $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/PersonaPorCompania?var=" + Math.random()
                }
            }
        });
        var ID_PERS_ENTI = $("#ID_PERS_ENTI").data("kendoComboBox");

        $("#IdPersAsignacion").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/PersonaPorCompania?var=" + Math.random()
                }
            }
        });
        var IdPersAsignacion = $("#IdPersAsignacion").data("kendoComboBox");

        $("#ID_LOCA").kendoComboBox({
            dataTextField: "NAM_LOCA",
            dataValueField: "ID_LOCA",
            template: '<div style="font-weight:bold;">${ data.NAM_SITE }</div>' +
                        '<div>${ data.NAM_LOCA }</div>',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Location/List?var=" + Math.random()
                }
            }
        });
        var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

        $("#IdLocacion").kendoComboBox({
            dataTextField: "NAM_LOCA",
            dataValueField: "ID_LOCA",
            template: '<div style="font-weight:bold;">${ data.NAM_SITE }</div>' +
                        '<div>${ data.NAM_LOCA }</div>',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Location/List?var=" + Math.random()
                }
            }
        });
        var IdLocacion = $("#IdLocacion").data("kendoComboBox");

        var FEC_TICK = $("#FEC_TICK").kendoDateTimePicker().data("kendoDateTimePicker");
        FEC_TICK.min("@ViewBag.FEC_TICK");
        FEC_TICK.value("@ViewBag.FEC_TICK");

        $("#SUM_TICK").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            }
        });

        ID_PERS_ENTI.bind("change", function (e) {
            ids = '';
            $("#divAssetsAdd").empty();
            $("#txtActivo").val("");
            CargarActivos(); 
        });

        $("#txtActivo").keyup(function () {
            CargarActivos();
        });

        $("#cmbTipoActivo").kendoComboBox({
            index: 0,
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/List?var=" + Math.random()
                }
            }
        });
        var cmbTipoActivo = $("#cmbTipoActivo").data("kendoComboBox");

        cmbTipoActivo.bind("change", function (e) {
            CargarActivos();
        });

        function CargarActivos() {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeliveryReception/FiltrarActivoRecepcion?var=" + Math.random(),
                        type: "GET",
                        dataType: "json",
                        data: {
                            txt: $("#txtActivo").val(),
                            IdPersEnti: ID_PERS_ENTI.value(),
                            ta: $("#cmbTipoActivo").val() == '' ? 0 : $("#cmbTipoActivo").val()
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Data",
                }
            });

            $("#gridActivos").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });
        }

        $("#submit").click(function () {
            winPopUpModalLoad("Guardando el Activo", "Please Wait", 300, 130);
        });

        $("#AgregarTodo").click(function () {
            $("#txtActivo").val("");
            
            $.ajax({
                url: "/DeliveryReception/FiltrarActivoRecepcion?var=" + Math.random(),
                data: {
                    txt: $("#txtActivo").val(),
                    IdPersEnti: ID_PERS_ENTI.value()
                },
                cache: false,
                type: "GET",
                dataType: "json",
                success: function (source) {
                    data = source;
                    ids = '';
                    $("#idsActivo").val('');
                    $("#divAssetsAdd").empty();

                    $.each(data['Data'], function (index, value) {
                        var strHtml =
                                    '<div id="divDetail_' + String(data['Data'][index]['IdActivo']) + '">' +
                                        '<div id="divDetailAsset_' + String(data['Data'][index]['IdActivo']) + '" class ="FondoGris01" onmouseover=\'this.style.background="#F3F3F3"\' onmouseout=\'this.style.background="#F7F7F7"\' >' +
                                            '<div class = "casilla">' +
                                                '<div class = "smallField">Tipo de Activo</div>' +
                                                '<div class = "smallTitle">' + String(data['Data'][index]['TipoActivo']).toUpperCase().substring(0, 12) + '</div>' +
                                            '</div>' +
                                            '<div class = "casilla">' +
                                                '<div class = "smallField">Código de Activo</div>' +
                                                '<div class = "smallTitle">' + String(data['Data'][index]['Codigo']) + '</div>' +
                                            '</div>' +
                                            '<div class = "casilla">' +
                                                '<div class = "smallField">Número de Serie</div>' +
                                                '<div class = "smallTitle">' + String(data['Data'][index]['Serie']) + '</div>' +
                                            '</div>' +
                                            '<div class = "casilla">' +
                                                '<div class = "smallField">Marca</div>' +
                                                '<div class = "smallTitle">' + String(data['Data'][index]['Marca']) + '</div>' +
                                            '</div>' +
                                            '<div class = "casilla">' +
                                                '<div class = "smallField">Estado</div>' +
                                                '<div class = "editor-field"><input id="ID_COND" type="text" name="ID_COND" onchange="condicionActivo(this.value, ' + String(data['Data'][index]['IdActivo']) + ');"></div>' +
                                            '</div>' +
                                            '<div onclick="removeAsset(this);" id="removeAsset_' + String(data['Data'][index]['IdActivo']) + '" style="font-weight: bold; float:right; top:-1px; right:1px; text-align: center; position: relative; height: 30px; width: 40px; background-color: #FFFFFF; cursor: pointer; padding-top: 10px;" title="@ResourceLanguaje.Resource.Remove" onmouseover=\'this.style.background="#B21E1E"; this.style.color="#FFFFFF";\' onmouseout=\'this.style.background="#FFFFFF"; this.style.color="#000000";\'>X</div>' +
                                        '</div>' +
                                    '<div style="height: 5px"></div></div>';
                        $("#divAssetsAdd").prepend(strHtml);

                        CargarCondicion(data['Data'][index]['IdActivo']);
                        ids = ids + String(data['Data'][index]['IdActivo']) + ',';
                        $("#idsActivo").val(ids);
                    });
                },
                error: function (source) {
                    alert('error');
                }
            });
        });

        function CargarCondicion(idAsse) {
            var ID_COND = $("#ID_COND").kendoComboBox({
                autoBind: true,
                dataTextField: "TEXT",
                dataValueField: "ID_COND",
                template: '<div style="font-weight:bold;">${ data.NAM_STAT_ASSE }</div>' +
                            '<div>${ data.NAM_COND }</div>',
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/OptionCondition/ListarCondicionRecepcion/2",
                    }
                }
            }).data("kendoComboBox");
        }

    });

    function AgregarActivo(btn) {

        var sw = 0;
        var elem = ids.split(',');
        for (f = 0; f < elem.length - 1; f++) {
            if (elem[f] == btn.id) {
                alert('El activo ya se ha agregado.');
                f = elem.length;
                sw = 1;
            }
        }

        if (sw == 0) {
            var strHtml =
                '<div id="divDetail_' + String(btn.id) + '">' +
                '<div id="divDetailAsset_' + String(btn.id) + '" class ="FondoGris01" onmouseover=\'this.style.background="#F3F3F3"\' onmouseout=\'this.style.background="#F7F7F7"\'>' +
                '<div class = "casilla">' +
                    '<div class = "smallField">Tipo de Activo</div>' +
                    '<div class = "smallTitle">' + String($("#TA" + btn.id).html()).toUpperCase().substring(0, 12) + '</div>' +
                '</div>' +
                '<div class = "casilla">' +
                    '<div class = "smallField">Código de Activo</div>' +
                    '<div class = "smallTitle">' + String($("#CD" + btn.id).html()) + '</div>' +
                '</div>' +
                '<div class = "casilla">' +
                    '<div class = "smallField">Número de Serie</div>' +
                    '<div class = "smallTitle">' + String($("#SE" + btn.id).html()) + '</div>' +
                '</div>' +
                '<div class = "casilla">' +
                    '<div class = "smallField">Marca</div>' +
                    '<div class = "smallTitle">' + String($("#MA" + btn.id).html()) + '</div>' +
                '</div>' +
                '<div class = "casilla">' +
                    '<div class = "smallField">Estado</div>' +
                    '<div class = "editor-field"><input id="ID_COND" type="text" name="ID_COND" onchange="condicionActivo(this.value, ' + btn.id + ');"></div>' +
                '</div>' +
                '<div onclick="removeAsset(this);" id="removeAsset_' + String(btn.id) + '" style="font-weight: bold; float:right; top:-1px; right:1px; text-align: center; position: relative; height: 30px; width: 40px; background-color: #FFFFFF; cursor: pointer; padding-top: 10px;" title="@ResourceLanguaje.Resource.Remove" onmouseover=\'this.style.background="#B21E1E"; this.style.color="#FFFFFF";\' onmouseout=\'this.style.background="#FFFFFF"; this.style.color="#000000";\'>X</div>' +
            '</div>' +
            '<div style="height: 5px"></div></div>';
            $("#divAssetsAdd").prepend(strHtml);

            CargarCondicion(btn.id);
            ids = ids + String(btn.id) + ',';
            $("#idsActivo").val(ids);
        }
    }

    function CargarCondicion(idAsse) {
        var ID_COND = $("#ID_COND").kendoComboBox({
            autoBind: true,
            dataTextField: "TEXT",
            dataValueField: "ID_COND",
            template: '<div style="font-weight:bold;">${ data.NAM_STAT_ASSE }</div>' +
                        '<div>${ data.NAM_COND }</div>',
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/OptionCondition/ListarCondicionRecepcion/2",
                }
            }
        }).data("kendoComboBox");
    }

    function removeAsset(c) {
        var elem = c.id.split('_');
        ids = ids.replace(elem[1] + ',', '');
        $("#idsActivo").val(ids);
        $('#divDetail_' + String(elem[1])).remove();
    }

    function condicionActivo(idCondicion, idActivo) {
        var str = $("#idsCondicion").val();
        var elem1, elem2, flag = 0;
        //reemplazo si existe
        if (str.indexOf(idActivo) != -1) {
            elem1 = str.split(',');
            for (i = 0; i < elem1.length; i++) {
                elem2 = elem1[i].split('_');
                if (elem2[0] == idActivo) {
                    str = str.replace(elem1[i], idActivo + '_' + idCondicion);
                    flag = 1;
                }
            }
        }
        if (flag == 0) {
            str = str + idActivo + '_' + idCondicion + ',';
        }
        $("#idsCondicion").val(str);
    }
</script>

<script type="text/javascript">
    function cancel() {
       location.reload(true);
    }

    function uploadDone(msg, codeRecepcion, idRecepcion,codeAsignacion,idAsignacion) {
        if (msg == "OK") {
            closeWinModalPopUpLoad();
            winPopUpModal("Información Guardada / ´Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:10px 0px 10px 0px;'>Información de la Reasignación ha sido correctamente guardada.</div>"
           + "<div style='padding:10px 0px 10px 0px;'>Código Ticket de Recepción: " + codeRecepcion + "</div>"
           + "<div style='padding:10px 0px 10px 0px;'>Código Ticket de Asignación: " + codeAsignacion + "</div>"
           + "La notificación ha sido enviada a: <br>Usuario Final, Staff, Service Desk and Coordinador TI.<br>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continuar</button>" +
           "</div></div>"
             , 400, 250);

            var undo = $("#continues")
           .bind("click", function () {
               closeWinModalPopUp();
               var newurl = location.host + "/DeliveryReception/Details/" + idRecepcion;
               location = "http://" + location.host + "/DeliveryReception/Details/" + idRecepcion;
               window.open('/DeliveryReception/Details/' + idAsignacion, '_blank');
           });

            $("#closebtnmodal").click(function () {
                location.reload(true);
            });
        }
        else {
            closeWinModalPopUpLoad();
            console.log(location.host + "/DeliveryReception/Details/" + 46972);
            var titleAsset = '';
            var messageAsset = '';
            if (codeRecepcion == '0') {
                titleAsset = 'Completar la Información';
                messageAsset = 'Por favor, completar la información';
            }
            else if (codeRecepcion == '1') {
                titleAsset = '@ResourceLanguaje.Resource.BasedDrawback';
                messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }
            else {
                titleAsset = '@ResourceLanguaje.Resource.Warning';
                messageAsset = '@ResourceLanguaje.Resource.ReceptionMessage2';

                var elem = msg.split(',');
                for (f = 0; f < elem.length - 1; f++) {
                    $("#divDetailAsset_" + elem[f]).addClass('borderDetailsRojo');
                }
            }

            winPopUpModal(titleAsset, "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
               "<div style='padding:10px 0px 10px 0px;'>" + messageAsset + "</div>" +
                   "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                   "<button id='continuee' class='k-button'>Continuar</button>" +
                   "</div></div>"
                   , 400, 140);

            var undo = $("#continuee")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }
</script>
