@model ERPElectrodata.Models.TICKET

@{
    ViewBag.Title = "Create";
    //Layout = null;
}
<style>
    b {
        color: #F83C50;
    }

    .Cargo {
        color: #4F4F59;
        font-size: 14px;
    }

    #alertaPerfilActivo {
        color: #9F222A;
        font-size: 10.5px;
    }

    #tamSolicitudCambio {
        width: 80% !important;
        /*margin:10% auto;*/
    }
</style>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">Nueva Entrega de Activo</div>
            <div class="card-body">
                <div class="inBodyForm" id="Encabezado">
                    @using (Html.BeginForm("Create", "DeliveryReception", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormDeliveryReception", target = "upload_target" }))
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            @Html.HiddenFor(model => model.ID_TYPE_TICK)
                            @Html.HiddenFor(model => model.ID_CATE)
                            @Html.HiddenFor(model => model.ID_PERS_ENTI_END)
                            @Html.HiddenFor(model => model.ID_PERS_ENTI_ASSI)
                            @Html.HiddenFor(model => model.ID_QUEU)
                            @Html.HiddenFor(model => model.ID_PRIO)
                            @Html.HiddenFor(model => model.ID_STAT)
                            @Html.HiddenFor(model => model.ID_AREA, new { @value = "0" })
                            @Html.HiddenFor(model => model.ID_SOUR)
                            <input type="hidden" id="IdTicket" name="IdTicket" value="@ViewBag.IdTicket" />
                            <input type="hidden" id="Fecha" name="Fecha" value="@ViewBag.FEC_TICK" />
                            <div class="form-group row">
                                @if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60)
                                {
                                    <div class="col-md-4">
                                        <div class="editor-label">
                                            Grupo <b style="color:red">(*)</b>
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.IdGrupoActivo)
                                            @Html.ValidationMessageFor(model => model.IdGrupoActivo)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="editor-label">
                                            Unidad Minera <b style="color:red">(*)</b>
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.ID_COMP)
                                            @Html.ValidationMessageFor(model => model.ID_COMP)
                                        </div>
                                    </div>
                                }
                                else if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 55)
                                {
                                    <input type="hidden" name="IdGrupoActivo" id="IdGrupoActivo" value="@ViewBag.IdGrupoIT" />
                                }
                                <div class="col-md-4">
                                    <div class="editor-label">
                                        Usuario <span class="cMinsur divHide">asignado</span><b style="color:red">(*)</b>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.ID_PERS_ENTI)
                                        @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="editor-label">
                                        Fecha de Entrega (mm/dd/yyyy) <b style="color:red">(*)</b>
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.FEC_TICK)
                                        @Html.ValidationMessageFor(model => model.FEC_TICK)
                                    </div>
                                </div>
                                <div class="col-md-4 divLoca">
                                    <div class="editor-label">
                                        Locación <b style="color:red">(*)</b>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.ID_LOCA)
                                        @Html.ValidationMessageFor(model => model.ID_LOCA)
                                    </div>
                                </div>
                                @if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60)
                                {
                                    <div class="col-md-4">
                                        <div class="editor-label">
                                            Locación
                                        </div>
                                        <div class="editor-field">
                                            <input id="Locacion" name="Locacion" />
                                        </div>
                                    </div>
                                    <div class="col-md-4" id="divMicroinformatico" style="display: none;">
                                        <div class="editor-label">
                                            Ubicación
                                        </div>
                                        <div class="editor-field">
                                            <input id="Ubicacion" name="Ubicacion" class="form-control" />
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 1)
                            {
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="editor-label">
                                            Usado Por Contratista
                                        </div>
                                        <div class="k-check">
                                            <input id='PorContratista' type='checkbox' name='PorContratista'>
                                        </div>
                                    </div>
                                    <div class="col-md-3 divContratista" style="display: none;">
                                        <div class="editor-label">
                                            Empresa
                                        </div>
                                        <div class="editor-field">
                                            <input id="EmpresaContratista" name="EmpresaContratista" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 divContratista" style="display: none;">
                                        <div class="editor-label">
                                            Usuario
                                        </div>
                                        <div class="editor-field">
                                            <input id="UsuarioContratista" name="UsuarioContratista" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 divContratista" style="display: none;">
                                        <div class="editor-label">
                                            Área
                                        </div>
                                        <div class="editor-field">
                                            <input id="AreaContratista" name="AreaContratista" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="form-group row cMinsur divHide">
                                <div class="col-md-4">
                                    <div class="editor-label">
                                        Usuario Responsable<b style="color:red">(*)</b>
                                    </div>
                                    <div class="editor-field">
                                        <input id="IdUsuarioResponsable" name="IdUsuarioResponsable" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="editor-label">
                                        Comentario <b id="bMicroinformatico" style="color:red">(*)</b>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(model => model.SUM_TICK)
                                        @Html.ValidationMessageFor(model => model.SUM_TICK)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input name="files" id="files" type="file" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div id="divAssetsAdd" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-3">
                                    <button id="reset" type="button" class="btn btn-light btn-block" onclick="cancel(); return false;">Limpiar</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="ladda-button mb-2 mr-2 btn btn-primary btn-block" data-style="expand-right" id="submit" onclick="enviarForm(this)">
                                        <span class="ladda-label">
                                            <i class="fa fa-save"></i> Guardar
                                        </span>
                                        <span class="ladda-spinner"></span>
                                        <div class="ladda-progress" style="width: 0px;"></div>
                                    </button>
                                    <style>
                                        /* Estilo para el botón deshabilitado */
                                        .ladda-button.disabled {
                                            pointer-events: none;
                                        }
                                    </style>
                                </div>
                            </div>
                            <iframe id="upload_target" name="upload_target" src="" style="display:none;"></iframe>

                            <input id="idsActivo" type="hidden" name="idsActivo" value="" />
                            <input id="idsCondicion" type="hidden" name="idsCondicion" value="" />
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">Agregar Activo</div>
            <div class="card-body">
                <fieldset>
                    <div class="form-row" id="alertaPerfilActivo">
                        <div class="col-md-12">
                            <div class="editor-label">
                                Este cargo no tiene un perfil de activos asignado
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div id="divUsuario" style="width:100%">
                            </div>
                            <div class="row divLocaText">
                                <div class="col-md-3 editor-label">
                                    <strong>Locación: </strong>
                                </div>
                                <div class="col-md-9 editor-field">
                                    <span class="">@ViewBag.Locacion</span>
                                </div>
                            </div>
                            <div class="row divLocaText">
                                <div class="col-md-3 editor-label">
                                    <strong>DNI: </strong>
                                </div>
                                <div class="col-md-9 editor-field">
                                    <span class="">@ViewBag.DNI</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="divGestionarCambio">
                        <div class="col-md-5">
                            <br />
                            <button id='btnGestionarCambio' name='btnGestionarCambio' class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#miModal" onclick="GestionarCambio(@ViewBag.IdTicket)">Gestionar Cambio</button>
                        </div>
                    </div>
                    <div class="form-group row" id="divExcepcionUsuarios" style="display: none;">
                        <div class="col-md-12">
                            <div class="editor-label">
                                Excepción de Usuarios
                            </div>
                            <div class="k-check">
                                <input id='chkExcepcion' type='checkbox' name='chkExcepcion'>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" id="divBuscarActivo">
                        <div class="col-md-12">
                            <div class="editor-label">
                                Buscar Activo
                            </div>
                            <div class="k-textbox" style="width:100%">
                                <input id='txtActivo' type='text' name='ID_ASSE' title="Código de Activo, Equipo, Serie">
                            </div>
                        </div>
                    </div>
                    @if (Convert.ToInt32(Session["ID_ACCO"].ToString()) != 60)
                    {
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="editor-label">
                                    Tipo Activo
                                </div>
                                <div class="editor-field">
                                    <input id='cmbTipoActivo' type='text' name='cmbTipoActivo'>
                                </div>
                            </div>
                        </div>
                    }
                    <div style="overflow-y:auto; height:360px; width:100%;">
                        <div id="gridActivos">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</div>


<script type="text/x-kendo-tmpl" id="template">
    <div id="div${ IdActivo }" class="card-body py-3 btn-shadow btn-outline-focus">
        <div class="row no-gutters align-items-center">
            <div id="TA${IdActivo}" style="font-weight:bold;" class="col-md-7">${ TipoActivo }</div>
            <div class="col-md-5"><button id="${IdActivo}" class='btn btn-light' style='font-size:11px;' onclick="AgregarActivo(this);">Agregar Activo</button></div>
        </div>
        <div class="row no-gutters align-items-center"><div style="font-size:13px;" class="col-md-12"><span style="font-weight:bold">Estado - Condicion :&nbsp;</span><span id="CO${IdActivo}">${ Estado } - ${ Condicion }</span></div></div>
        <div class="row no-gutters align-items-center"><div style="font-size:13px;" class="col-md-12"><span style="font-weight:bold">Codigo Activo :&nbsp;</span><span id="CD${IdActivo}">${ Codigo }</span></div></div>
        <div class="row no-gutters align-items-center"><div style="font-size:13px;" class="col-md-12"><span style="font-weight:bold">Serie :&nbsp;</span><span id="SE${IdActivo}">${ Serie }</span></div></div>
        <div class="row no-gutters align-items-center"><div style="font-size:13px;" class="col-md-12"><span style="font-weight:bold">Marca :&nbsp;</span><span id="MA${IdActivo}">${ Marca }</span></div></div>
        # if (parseInt(@Session["ID_ACCO"]) != 60) { #
            <div class="row no-gutters align-items-center"><div style="font-size:13px;" class="col-md-12"><span style="font-weight:bold">Locación :&nbsp;</span><span id="MA${IdActivo}">${ Locacion }</span></div></div>
        # } #
    </div>
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<!-- TIPO DE SOLICITUD DE CAMBIO-->
<div class="modal fade" id="SolicitudCambio" role="dialog" aria-labelledby="modalSolicitudCambio" aria-hidden="true">
    <div class="modal-dialog" id="tamSolicitudCambio">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestionar Cambio</h4>
            </div>
            <div class="modal-body">
                <div id="divSolicitudCambio"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>

<!-- GESTION DE CAMBIO-->
<div class="modal fade" id="GestionCambio" role="dialog" aria-labelledby="modalGestionCambio" aria-hidden="true">
    <div class="modal-dialog" id="tamGestionCambio">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Gestión de Cambio</h4>
            </div>
            <div class="modal-body">
                <div id="divGestionCambio"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var idx = 0;
    var ids = '';

    $("#ID_SOUR").val(3);



    $(document).ready(function () {

        if (@ViewBag.IdAcco == 56 || @ViewBag.IdAcco == 57 || @ViewBag.IdAcco == 58) {
            $(".cMinsur").removeClass('divHide');
            $(".divLocaText").removeClass('divHide');
        } else {
            $(".cMinsur").addClass('divHide');
            $(".divLocaText").addClass('divHide');
        }
        $("#alertaPerfilActivo").hide();
        @*if(@ViewBag.TienePerfil == 0){
            $("#alertaPerfilActivo").show();
            $("#btnGestionarCambio").hide();
        }else{
            $("#alertaPerfilActivo").hide();
            $("#btnGestionarCambio").show();
        }
        if(@ViewBag.TieneCambio == 1){
            //$("#alertaPerfilActivo").show();
            $("#btnGestionarCambio").hide();
        } else {
           //$("#alertaPerfilActivo").hide();
           $("#btnGestionarCambio").show();
        }*@

        if (@ViewBag.IdAcco == 60) {
            $("#divGestionarCambio").hide();
            $("#divBuscarActivo").addClass('mb-4');
        } else {
            if (@ViewBag.TienePerfil == 1) {
                if (@ViewBag.TieneCambio == 1) {
                    $("#btnGestionarCambio").hide();
                } else {
                    $("#btnGestionarCambio").show();
                }
            } else {
                $("#alertaPerfilActivo").show();
                $("#btnGestionarCambio").hide();
            }
        }

        if (@ViewBag.IdAcco == 55) {
            var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "Usuario",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListarPersonaPorCompania?IdPersEnti="+@ViewBag.IdPersEnti+"&var=" + Math.random()
                }
            }
            }).data("kendoComboBox");

            ID_PERS_ENTI.bind("change", function (e) {
                ObtenerCargoxUsuario(ID_PERS_ENTI.dataItem().ID_PERS_ENTI);
            });

        } else if (@ViewBag.IdAcco == 60) {

            var id = 2;
            $("#FEC_TICK").prop('disabled', true);
            $("#txtActivo").attr('title', 'Número de Serie');
            if ("@ViewBag.Grupo" == "MICROINFORMATICO") {
                $("#bMicroinformatico").hide();
                $("#divMicroinformatico").show();
                $("#divExcepcionUsuarios").show();
            } else if ("@ViewBag.Grupo" == "MOVIL") {
                $("#divExcepcionUsuarios").show();
            }

            var IdGrupoActivo = $("#IdGrupoActivo").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "Id",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Asset/ListarGruposBNV?var=" + Math.random()
                    }
                },
                change: function (e) {
                    ids = '';
                    $("#divAssetsAdd").empty();
                    $("#txtActivo").val("");

                    if (IdGrupoActivo.text() == "MICROINFORMATICO") {
                        $("#bMicroinformatico").hide();
                        $("#divMicroinformatico").show();
                        $("#divExcepcionUsuarios").show();
                    }
                    else if (IdGrupoActivo.text() == "INFRAESTRUCTURA") {
                        $("#bMicroinformatico").show();
                        $("#divMicroinformatico").hide();
                        $("#divExcepcionUsuarios").hide();
                        $("#Ubicacion").val("");
                    }
                    else if (IdGrupoActivo.text() == "MOVIL") {
                        $("#bMicroinformatico").show();
                        $("#divMicroinformatico").hide();
                        $("#divExcepcionUsuarios").show();
                        $("#Ubicacion").val("");
                    }

                    $("#chkExcepcion").prop('checked', false);
                    id = 2;
                    Locacion.value("");
                    ID_PERS_ENTI.value("");
                    ID_PERS_ENTI.dataSource.read();

                    CargarActivos();
                }
            }).data("kendoComboBox");

            var ID_COMP = $("#ID_COMP").kendoComboBox({
                dataTextField: "COM_NAME",
                dataValueField: "ID_ENTI",
                cascadeFrom: "IdGrupoActivo",
                autoBind: false,
                filter: "contains",
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Asset/ListarUMineraBNV?var=" + Math.random()
                    }
                },
                dataBound: function (e) {
                    if (ID_COMP.dataSource.view().length == 1) {
                        ID_COMP.select(0);
                    }
                },
                change: function (e) {
                    ids = '';
                    $("#divAssetsAdd").empty();
                    $("#txtActivo").val("");

                    ID_PERS_ENTI.value("");
                    ID_PERS_ENTI.dataSource.read();

                    CargarActivos();
                }
            }).data("kendoComboBox");

            var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                //cascadeFrom: 'ID_COMP',
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        //read: "/Asset/ListarAfectadosxUMinBNV?var=" + Math.random()
                        read: {
                            url: "/Asset/ListarAfectadosxGrupoBNV",
                            data: function () {
                                return {
                                    id: id,
                                    idUMin: ID_COMP.value(),
                                    idGrupo: IdGrupoActivo.value(),
                                    var: Math.random()
                                };
                            }
                        }
                    }
                }
            }).data("kendoComboBox");

            var Locacion = $("#Locacion").kendoComboBox({
                dataTextField: "NAM_LOCA",
                dataValueField: "ID_LOCA",
                cascadeFrom: 'ID_COMP',
                template: '<div><div style="font-weight:bold;">${ data.NAM_SITE }</div>' +
                    '<div>${ data.NAM_LOCA }</div></div>',
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        //read: "/Asset/ListarLocacionBNV?idGrupo=" + idGroup + "&var=" + Math.random()
                        read: {
                            url: "/Asset/ListarLocacionBNV",
                            data: function() {
                                return {
                                    idGrupo: IdGrupoActivo.value(),
                                    var: Math.random()
                                };
                            }
                        }
                    }
                }
            }).data("kendoComboBox");

            $("#chkExcepcion").change(function () {
                if (this.checked) {
                    id = 3;
                    ID_PERS_ENTI.value("");
                    ID_PERS_ENTI.dataSource.read();
                } else {
                    id = 2;
                    ID_PERS_ENTI.value("");
                    ID_PERS_ENTI.dataSource.read();
                }
            });


        } else {
            var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
            index:1,
            dataTextField: "Usuario",
            dataValueField: "ID_PERS_ENTI",
            value:@ViewBag.IdPersEnti,
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListarPersonaPorCompania?IdPersEnti="+@ViewBag.IdPersEnti+"&var=" + Math.random()
                }
            }
            }).data("kendoComboBox");

            ID_PERS_ENTI.bind("change", function (e) {
                ObtenerCargoxUsuario(ID_PERS_ENTI.dataItem().ID_PERS_ENTI);
            });

        }

        @*$("#ID_PERS_ENTI").kendoComboBox({
            index:1,
            dataTextField: "Usuario",
            dataValueField: "ID_PERS_ENTI",
            value:@ViewBag.IdPersEnti,
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListarPersonaPorCompania?IdPersEnti="+@ViewBag.IdPersEnti+"&var=" + Math.random()
                }
            }
        });*@

        var ID_PERS_ENTI = $("#ID_PERS_ENTI").data("kendoComboBox");
        $("#ID_LOCA").kendoComboBox({
            dataTextField: "NAM_LOCA",
            dataValueField: "ID_LOCA",
            template: '<div><div style="font-weight:bold">${ data.NAM_SITE }</div>' +
                '<div>${ data.NAM_LOCA }</div></div>',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Location/List?var=" + Math.random()
                }
            }
        });
        var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

        if (@ViewBag.IdAcco == 56 || @ViewBag.IdAcco == 57 || @ViewBag.IdAcco == 58 || @ViewBag.IdAcco == 60) {
            $(".divLoca").addClass("d-none");
        } else {
            $(".divLoca").removeClass("d-none");
        }
        //ID_PERS_ENTI.bind("change", function (e) {
        //    ID_AREA.value(ID_PERS_ENTI.dataItem().ID_AREA);
        //});

        if (@ViewBag.IdAcco != 60) {
            $("#cmbTipoActivo").kendoComboBox({
                index: 0,
                dataTextField: "NAM_TYPE_ASSE",
                dataValueField: "ID_TYPE_ASSE",
                filter: "contains",
                autoBind: false,
                suggest: true,
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeAsset/ListarTipoActivoPorCargo?IdChar=" +@ViewBag.IdCargo+"&var=" + Math.random()
                    }
                }
            });
            var cmbTipoActivo = $("#cmbTipoActivo").data("kendoComboBox");

            cmbTipoActivo.bind("change", function (e) {
                CargarActivos();
            });
        }

        $("#PorContratista").change(function () {
            $("#EmpresaContratista").val("");
            $("#UsuarioContratista").val("");
            $("#AreaContratista").val("");

            if (this.checked) {
                $(".divContratista").show();
            } else {
                $(".divContratista").hide();
            }
        });

        var FEC_TICK = $("#FEC_TICK").kendoDateTimePicker().data("kendoDateTimePicker");
        //FEC_TICK.min("@ViewBag.FEC_TICK");
        FEC_TICK.value("@ViewBag.FEC_TICK");
        if (@ViewBag.IdAcco == 56 || @ViewBag.IdAcco == 57 || @ViewBag.IdAcco == 58) {
            $("#IdUsuarioResponsable").kendoComboBox({
                index: 1,
                dataTextField: "Usuario",
                dataValueField: "ID_PERS_ENTI",
                value:@ViewBag.IdPersEnti,
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/ListarPersonaResponsable?var=" + Math.random()
                    }
                }
            });
            var IdUsuarioResponsable = $("#IdUsuarioResponsable").data("kendoComboBox");
        }
        $("#SUM_TICK").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            }
        });

        $("#txtActivo").keyup(function () {
            CargarActivos();
        });

        CargarActivos();

        function CargarActivos() {

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/DeliveryReception/FiltrarActivo?var=" + Math.random(),
                        type: "GET",
                        dataType: "json",
                        data: {
                            txt: $("#txtActivo").val(),
                            ta: $("#cmbTipoActivo").val() == '' ? 0 : $("#cmbTipoActivo").val(),
                            IdChar: @ViewBag.IdCargo,
                            IdUMin: $("#ID_COMP").length ? ($("#ID_COMP").val() == '' ? 0 : $("#ID_COMP").val()) : 0,
                            IdGrupo: $("#IdGrupoActivo").length ? ($("#IdGrupoActivo").val() == '' ? 0 : $("#IdGrupoActivo").val()) : 0
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Data",
                }
            });

            $("#gridActivos").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });
        }



        $("#submit").click(function () {
            winPopUpModalLoad("Saving Your Asset", "Please Wait", 300, 130);
            //if (!$(this).hasClass("disabled")) {
            //    $(this).addClass("disabled");
            //}

        });
    });



    function ObtenerCargoxUsuario(id) {

        if (@ViewBag.IdAcco == 55) {
            $.ajax({
                url: "/AccountEntity/ObtenerCargoxUsuario/" + id,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (source) {
                    data = source;
                    $.each(data['Data'], function (index) {
                        $("#divUsuario").empty();
                        $("#divUsuario").append(
                            '<div class = "row">' +
                            '<div class="col-md-3"  style="font-weight:bolder">Cargo:</div>' +
                            '<div class="col-md-6">' + (data['Data'][index]['Cargo']) + '</div>' +
                            '</div>' + '</br>' +
                            '<div class = "row">' +
                            '<div class="col-md-3" style="font-weight:bolder">Area:</div>' +
                            '<div class="col-md-6">' + (data['Data'][index]['Area']) + '</div>' +
                            '</div>');
                    });
                },
                error: function (source) {
                    toastr.error("Error Carga Json Comercial", "Mensaje");
                }
            });
        } else {
            $.ajax({
                url: "/AccountEntity/ObtenerCargoxUsuario/" + id,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (source) {
                    data = source;
                    $.each(data['Data'], function (index) {
                        $("#divUsuario").empty();
                        $("#divUsuario").append(
                            '<div class = "row">' +
                            '<div class="col-md-3"  style="font-weight:bolder">Cargo:</div>' +
                            '<div class="col-md-6">' + (data['Data'][index]['Cargo']) + '</div>' +
                            '</div>');
                    });
                },
                error: function (source) {
                    toastr.error("Error Carga Json Comercial", "Mensaje");
                }
            });
        }


    }

    function GestionarCambio(id) {

         $("#lblTitulo").text("Gestionar de Cambios");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/ChangeRequest/RegistrarGestionActivos/" + id);

        //$("#divSolicitudCambio").empty();
        //$("#divSolicitudCambio").load("/ChangeRequest/RegistrarGestionActivos/" + id);
    }

    function AgregarActivo(btn) {

        var sw = 0;
        var elem = ids.split(',');
        for (f = 0; f < elem.length - 1; f++) {
            if (elem[f] == btn.id) {
                toastr.warning('','El activo ya se ha agregado.');
                f = elem.length;
                sw = 1;
            }
        }

        if (sw == 0) {
            var strHtml =
                '<div id="divDetail_' + String(btn.id) + '">' +
                    '<div id="divDetailAsset_' + String(btn.id) + '" class ="form-row">' +
                        '<div class = "col-sm-6 col-lg-2">' +
                            '<div style="font-weight: bold;">Tipo de Activo</div>' +
                            '<div>' + String($("#TA" + btn.id).html()).toUpperCase().substring(0, 12) + '</div>' +
                        '</div>' +
                        '<div class = "col-sm-6 col-lg-2">' +
                            '<div style="font-weight: bold;"">Código de Activo</div>' +
                            '<div>' + String($("#CD" + btn.id).html()) + '</div>' +
                        '</div>' +
                        '<div class = "col-sm-6 col-lg-2">' +
                            '<div style="font-weight: bold;">Número de Serie</div>' +
                            '<div>' + String($("#SE" + btn.id).html()) + '</div>' +
                        '</div>' +
                        '<div class = "col-sm-6 col-lg-2">' +
                            '<div style="font-weight: bold;">Marca</div>' +
                            '<div>' + String($("#MA" + btn.id).html()) + '</div>' +
                        '</div>' +
                        '<div class = "col-sm-6 col-lg-3">' +
                            '<div style="font-weight: bold;">Estado</div>' +
                            '<div class = "editor-field"><input id="ID_COND" type="text" name="ID_COND" onchange="condicionActivo(this.value, ' + btn.id + ');"></div>' +
                        '</div>' +
                        '<div class = "col-sm-6 col-lg-1">' +
                            '</br>'+
                            '<button onclick="removeAsset(this);" id="removeAsset_' + String(btn.id) + '" style="font-weight: bold; text-align: center" class="btn btn-danger btn-block" title="Eliminar">X</button>' +
                        '</div>' +
                    '</div>' +
                    '<hr class="m-0" />' +
                '</div>';
            $("#divAssetsAdd").prepend(strHtml);

            CargarCondicion(btn.id);
            ids = ids + String(btn.id) + ',';
            $("#idsActivo").val(ids);
        }
    }

    function CargarCondicion(idAsse) {
        if (@ViewBag.IdAcco == 60) {
            var IdGrupo = $("#IdGrupoActivo").data("kendoComboBox");

            var ID_COND = $("#ID_COND").kendoComboBox({
                autoBind: true,
                dataTextField: "TEXT",
                dataValueField: "ID_COND",
                template: '<div><div style="font-weight:bold;">${ data.NAM_STAT_ASSE }</div>' +
                    '<div>${ data.NAM_COND }</div></div>',
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Condition/ListarCondicionEntregaBNV/1?idGrupo=" + IdGrupo.dataItem().Id,
                    }
                }
            }).data("kendoComboBox");

        } else {
            var ID_COND = $("#ID_COND").kendoComboBox({
                autoBind: true,
                dataTextField: "TEXT",
                dataValueField: "ID_COND",
                template: '<div><div style="font-weight:bold;">${ data.NAM_STAT_ASSE }</div>' +
                    '<div>${ data.NAM_COND }</div></div>',
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/OptionCondition/ListarCondicionEntrega/1",
                    }
                }
            }).data("kendoComboBox");
        }
    }

    function condicionActivo(idCondicion, idActivo) {
        var str = $("#idsCondicion").val();
        var elem1, elem2, flag = 0;
        //reemplazo si existe
        if (str.indexOf(idActivo) != -1) {
            elem1 = str.split(',');
            for (i = 0; i < elem1.length; i++) {
                elem2 = elem1[i].split('_');
                if (elem2[0] == idActivo) {
                    str = str.replace(elem1[i], idActivo + '_' + idCondicion);
                    flag = 1;
                }
            }
        }
        if (flag == 0) {
            str = str + idActivo + '_' + idCondicion + ',';
        }
        $("#idsCondicion").val(str);
    }

    function removeAsset(c) {
        var elem = c.id.split('_');
        ids = ids.replace(elem[1] + ',', '');
        $("#idsActivo").val(ids);
        $('#divDetail_' + String(elem[1])).remove();
    }


</script>


<script type="text/javascript">

    function enviarForm(button) {
        button.classList.add("disabled");
        button.querySelector(".ladda-spinner").style.display = "inline-block";
        document.getElementById("FormDeliveryReception").submit();
    }

    function cancel() {
         location.reload(true);
    }

    function uploadDone(msg, code, id) {
        if (msg == "OK") {

            toastr.success("Código Ticket: " + code, "Información de Entrega ha sido correctamente guardada.");


            setTimeout(function () {
                var newurl = location.host + "/DeliveryReception/Details/" + id;
                location = "https://" + location.host + "/DeliveryReception/Details/" + id;
            }, 1000);

           // closeWinModalPopUpLoad();
           // winPopUpModal("Información Guardad / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           //+ "<div style='padding:10px 0px 10px 0px;'> Información de Entrega ha sido correctamente guardada.</div>"
           //+ "<div style='padding:10px 0px 10px 0px;'>Código Ticket: " + code + "</div>"
           //+ "La notificación ha sido enviada a: <br>Usuario Final, Staff, Service Desk and IT Coordinador.<br>" +
           //"<div style='float:right; padding:30px 0px 0px 0px; '>" +
           //"<button id='continues' class='k-button'>Continuar</button>" +
           //"</div></div>"
           //  , 400, 220);

           // var undo = $("#continues")
           //.bind("click", function () {
           //    closeWinModalPopUp();
           //    var newurl = location.host + "/#/AssetTicket";
           //    location = "http://" + location.host + "/#/AssetTicket";
           //});

           // $("#closebtnmodal").click(function () {
           //     //location.reload(true);
           //     var newurl = location.host + "/#/AssetTicket";
           //     location = "http://" + location.host + "/#/AssetTicket";
           // });
        }
        else if (msg == "INFO") {
            toastr.warning(code, "Mensaje");
        }
        else {
            //closeWinModalPopUpLoad();

            //console.log(location.host + "/DeliveryReception/Details/" + 46972);


            //location.assign(location.host + "/DeliveryReception/Details/" + 46972);
            var messageAsset = '';
            if (code == '0') {
                messageAsset = 'Por favor, completar la información.';
            }
            else if (code == '1') {
                messageAsset = 'Falla al insertar en base de datos.';
            }
            else {
                titleAsset = '@ResourceLanguaje.Resource.Warning';
                messageAsset = '@ResourceLanguaje.Resource.ReceptionMessage2';

                var elem = msg.split(',');
                for (f = 0; f < elem.length - 1; f++) {
                    $("#divDetailAsset_" + elem[f]).addClass('borderDetailsRojo');
                }
            }

            toastr.warning(messageAsset, "Mensaje");

            //winPopUpModal(titleAsset, "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //   "<div style='padding:10px 0px 10px 0px;'>" + messageAsset + "</div>" +
            //       "<div style='float:right; padding:30px 0px 0px 0px; '>" +
            //       "<button id='continuee' class='k-button'>Continue</button>" +
            //       "</div></div>"
            //       , 400, 140);

            //var undo = $("#continuee")
            //.bind("click", function () {
            //    closeWinModalPopUp();
            //});
        }

        $("#submit").removeClass("disabled");
    }
</script>

