@model ERPElectrodata.Models.SOURCE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SOURCE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_SOUR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_SOUR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAM_SOUR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAM_SOUR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DES_SOUR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DES_SOUR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIG_SOUR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIG_SOUR)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
