@model IEnumerable<ERPElectrodata.Models.SOURCE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_SOUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAM_SOUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DES_SOUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIG_SOUR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAM_SOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DES_SOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIG_SOUR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
