@{
    Layout = null;
}

    <div id="divCondicion">
        <div class="row">
            <div class="col-md-12">
                Condición
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                @Html.Editor("IdCondicion")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Comentario
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                @Html.TextArea("txtComentario", new { style = "width: 100%", rows = "5", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="btnActualiza" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Actualizar</button>
            </div>
        </div>
    </div>
    <div id="divMensaje" style="display:none" class="row">
        <div class="col-md-12">
            El activo se encuentra asignado.<br /> No se puede actualizar la condición del activo.
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {
        var btnActualiza = $('#btnActualiza');

        if (parseInt(@Session["ID_ACCO"]) == 60) {
            if (@ViewBag.IdEstadoActivo == 1 && @ViewBag.IdGrupo != 3103) {

                $("#divCondicion").removeAttr("style");
                $("#divCondicion").attr("style", "display:none");

                $("#divMensaje").removeAttr("style");
                $("#divMensaje").attr("style", "display:true");

            }

        } else {
            if (@ViewBag.IdEstadoActivo == 1) {

                $("#divCondicion").removeAttr("style");
                $("#divCondicion").attr("style", "display:none");

                $("#divMensaje").removeAttr("style");
                $("#divMensaje").attr("style", "display:true");

            }
        }

        if (parseInt(@Session["ID_ACCO"]) == 60) {
            if (@ViewBag.IdAsignado == 1007) {
                $("#IdCondicion").kendoComboBox({
                    index: 0,
                    dataTextField: "TEXT",
                    dataValueField: "ID_COND",
                    template: '<span style="font-weight:bold;">${ data.NAM_STAT_ASSE }</span> - ' +
                        '<span>${ data.NAM_COND }</span>',
                    filter: "contains",
                    autoBind: false,
                    delay: 500,
                    minLength: 0,
                    suggest: true,
                    dataSource: {
                        serverFiltering: false,
                        schema: {
                            data: "Data"
                        },
                        transport: {
                            read: "/Condition/ListarCondicionEntregaBNV/2?idGrupo=" + @ViewBag.IdGrupo + "&var=" + Math.random()
                        }
                    }
                });
                var IdCondicion = $("#IdCondicion").data("kendoComboBox");
            } else {
                $("#IdCondicion").kendoComboBox({
                    index: 0,
                    dataTextField: "TEXT",
                    dataValueField: "ID_COND",
                    template: '<span style="font-weight:bold;">${ data.NAM_STAT_ASSE }</span> - ' +
                        '<span>${ data.NAM_COND }</span>',
                    filter: "contains",
                    autoBind: false,
                    delay: 500,
                    minLength: 0,
                    suggest: true,
                    dataSource: {
                        serverFiltering: false,
                        schema: {
                            data: "Data"
                        },
                        transport: {
                            read: "/Condition/ListarCondicionEntregaBNV/3?idGrupo=" + @ViewBag.IdGrupo + "&var=" + Math.random()
                        }
                    }
                });
                var IdCondicion = $("#IdCondicion").data("kendoComboBox");
            }

        } else {
            $("#IdCondicion").kendoComboBox({
                index: 0,
                dataTextField: "Condicion",
                dataValueField: "IdCondicion",
                template: '<span style="font-weight:bold;">${ data.EstadoActivo }</span> - ' +
                    '<span>${ data.Condicion }</span>',
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data"
                    },
                    transport: {
                        read: "/Condition/ListarCondicionActualizar?var=" + Math.random()
                    }
                }
            });
            var IdCondicion = $("#IdCondicion").data("kendoComboBox");
        }

        IdCondicion.value(@ViewBag.IdCondicion);

        $('#btnActualiza').click(function(){

            if(IdCondicion.value() == ""){
                toastr.warning("Seleccione una condición para modificar.","Mensaje");
            }
            else {
                btnActualiza.prop('disabled', true);
                $.ajax({
                    url: "/Asset/ActualizarCondicion/",
                    data: "id=" + @ViewBag.IdClienteActivo + "&cond=" + IdCondicion.value() + "&txt=" + $("#txtComentario").val() + "&var=" + Math.random(),
                    type: "GET",
                    cache: false,
                    dataType: "text",
                    success: function (resp) {
                        uploadDone(resp);
                    }
                });
            } 
        })

        function uploadDone(msg) {
            if (msg == "Ok") {
                $("[data-dismiss=modal]").trigger({ type: "click" });
                toastr.success("Se actualizó la condición", "Información Guardada");
                ObtenerDatosActivo();
            }
            else {

                var mensaje = 'No se Actualizaron los Datos.'
                toastr.error(mensaje, "Mensaje");

            }
        }

    });
</script>
