@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Create";
    if (Convert.ToInt32(Session["GESTOR_ACTIVOS_HUDBAY_OT"]) == 1 && Convert.ToInt32(Session["GESTOR_ACTIVOS_HUDBAY_IT"]) == 0)
    {
        Layout = "~/Views/Shared/_LayoutHBOT.cshtml";
    }
}

<div class="mb-3 card">
    <div class="card-header-tab card-header">
        Nuevo Activo
    </div>

    <div class="card-body">
        @using (Html.BeginForm("CreateHudbayOT", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAsset", target = "upload_target" }))
        {
            <fieldset>
                <input id="IdGrupoOT" name="IdGrupoOT" value="@ViewBag.IdGrupoOT" hidden />
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div id="NuevoTipoActivo" class="editor-label" onclick="NewTypeAsset()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar un tipo de activo." data-toggle="modal" data-target="#miModal">
                            Tipo de Activo <b style="color:red">(*)</b>
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_TYPE_ASSE)
                            @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Código de Activo
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.COD_ASSE)
                            @Html.ValidationMessageFor(model => model.COD_ASSE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Número de Serie <b style="color:red">(*)</b>
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.SER_NUMB)
                            @Html.ValidationMessageFor(model => model.SER_NUMB)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Nombre de Equipo <b style="color:red">(*)</b>
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.NAM_EQUI)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            <div id="NuevaMarca" class="editor-label" onclick="NewManufacturer()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar una marca." data-toggle="modal" data-target="#miModal">
                                Marca <b style="color:red">(*)</b>
                            </div>
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_MANU)
                            @Html.ValidationMessageFor(model => model.ID_MANU)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            <div id="NuevoModeloComercial" class="editor-label" onclick="NewCommercialModel()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar un modelo comercial.">
                                Modelo Comercial
                            </div>
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_COMM_MODE)
                            @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div id="NuevoContrato" class="editor-label" onclick="NuevoContrato()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar un contrato." data-toggle="modal" data-target="#miModal">
                            Contrato
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.IdContrato)
                            @Html.ValidationMessageFor(model => model.IdContrato)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Lote
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.LOTE)
                            @Html.ValidationMessageFor(model => model.LOTE)
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div id="NuevaLocacion" class="editor-label" onclick="NewLocacion()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar una locación." data-toggle="modal" data-target="#miModal">
                            Locación <b style="color:red">(*)</b>
                        </div>
                        <div class="editor-field">
                            @Html.Editor("Locacion")
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            IP Local
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.IpLocal)
                            @Html.ValidationMessageFor(model => model.IpLocal)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            IP Pública
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.IpPublica)
                            @Html.ValidationMessageFor(model => model.IpPublica)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            MAC Física
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.MAC_ADRR)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            MAC Inalámbrica
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.Mac_Address)
                            @Html.ValidationMessageFor(model => model.Mac_Address)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            MAC Bluetooth
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.MacAddressBluetooth)
                            @Html.ValidationMessageFor(model => model.MacAddressBluetooth)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="editor-label">
                            Comentario
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.SUM_ASSE)
                            @Html.ValidationMessageFor(model => model.SUM_ASSE)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-lg-12">
                        <input name="archivos" id="archivos" type="file" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <br />
                    </div>
                    <div class="col-sm-12 col-lg-2">
                        <button id="reset" class="btn btn-light btn-block" onclick="cancel(); return false;">Ir al Listado</button>
                    </div>
                    <div class="col-sm-12 col-lg-2">
                        <button id="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
                <iframe id="upload_target" name="upload_target" src="" style="display:none;"></iframe>
            </fieldset>
        }
    </div>
</div>

<button id="btnMensajeConfirmacion" class="k-button" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#miModal" style="display:none">Mensaje</button>

<script type="text/javascript">
    $(document).ready(function () {
        var idGrupo = $("#IdGrupoOT").val();

        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").kendoComboBox({
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/ListarTipoActivoPorGrupo?idGrupo=" + idGrupo + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_MANU = $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/ListarMarcaPorGrupo?idGrupo=" + idGrupo + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_COME_MODE = $("#ID_COMM_MODE").kendoComboBox({
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/ListarModeloComercialPorGrupo?idGrupo=" + idGrupo + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var Locacion = $("#Locacion").kendoComboBox({
            dataTextField: "text",
            dataValueField: "id",
            template: '<div><div style="font-weight:bold;">${ data.NAM_SITE }</div>' +
                        '<div>${ data.NAM_LOCA }</div></div>',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Location/ListarLocacionPorGrupo?idGrupo=" + idGrupo + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var IdContrato = $("#IdContrato").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Contrato/ListarContratoPorGrupo?idGrupo=" + idGrupo + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#LOTE").kendoNumericTextBox({
            min: 0,
            decimals: 0
        });

        $("#SUM_ASSE").kendoEditor({
            encoded: false
        });
        var onSelectAttaCess = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();
                    toastr.error("@ResourceLanguaje.Resource.AssetMessage8","@ResourceLanguaje.Resource.WrongFileExtension");
                }
            });
        };
        $("#archivos").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            select: onSelectAttaCess,
            multiple: false,
        });

        $("#submit").click(function () {
            toastr.info("Guardando...", "Espere por favor");
        });

    });

    function NewTypeAsset() {
        $("#NuevoTipoActivo").removeAttr("data-toggle");
        $("#NuevoTipoActivo").removeAttr("data-target");

        var idGrupo = $("#IdGrupoOT").val();

        $("#lblTitulo").text("Nuevo Tipo de Activo");

        $("#NuevoTipoActivo").attr("data-toggle", "modal");
        $("#NuevoTipoActivo").attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/TypeAsset/Create/' + idGrupo);
    }

    function NewManufacturer() {
        $("#NuevaMarca").removeAttr("data-toggle");
        $("#NuevaMarca").removeAttr("data-target");

        var idGrupo = $("#IdGrupoOT").val();

        $("#lblTitulo").text("Nueva Marca");

        $("#NuevaMarca").attr("data-toggle", "modal");
        $("#NuevaMarca").attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Manufacturer/Create/' + idGrupo);
    }

    function NewCommercialModel() {
        $("#NuevoModeloComercial").removeAttr("data-toggle");
        $("#NuevoModeloComercial").removeAttr("data-target");

        var ID_MANU = $("#ID_MANU").data("kendoComboBox");
        var idGrupo = $("#IdGrupoOT").val();

        if (ID_MANU.dataItem() === undefined) {
            toastr.warning("Seleccione una marca.", "Mensaje");
        }
        else {
            ID_MN = ID_MANU.dataItem().ID_MANU;
            $("#lblTitulo").text("Nuevo Modelo Comercial");

            $("#NuevoModeloComercial").attr("data-toggle", "modal");
            $("#NuevoModeloComercial").attr("data-target", "#miModal");

            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");

            $('#modal-content').empty();
            $('#modal-content').load("/CommercialModel/Create/" + ID_MANU.dataItem().ID_MANU + "?idGrupo=" + idGrupo);
        }
    }

    function NuevoContrato() {
        $("#NuevoContrato").removeAttr("data-toggle");
        $("#NuevoContrato").removeAttr("data-target");

        var idGrupo = $("#IdGrupoOT").val();

        $("#lblTitulo").text("Nuevo Contrato");

        $("#NuevoContrato").attr("data-toggle", "modal");
        $("#NuevoContrato").attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Contrato/Nuevo/' + idGrupo);
    }

    function NewLocacion() {
        $("#NuevaLocacion").removeAttr("data-toggle");
        $("#NuevaLocacion").removeAttr("data-target");

        var idGrupo = $("#IdGrupoOT").val();

        $("#lblTitulo").text("Nueva Locación");

        $("#NuevaLocacion").attr("data-toggle", "modal");
        $("#NuevaLocacion").attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/Location/CrearLocacionPorGrupo" + "?idGrupo=" + idGrupo);
    }

    function cancel() {
        location = "http://" + location.host + "/Asset/IndexOT";
    }

    function uploadDone(msg, code, idActivo) {

        if (msg == "OK") {
            $("#btnMensajeConfirmacion").click();

            $("#lblTitulo").text("Información Guardada");

            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");
            $(".modal-dialog").addClass("modal-sm");

            $('#modal-content').empty();
            $('#modal-content').html("<div class='form-group row'><div class='col-md-12'>Información del Nuevo Activo ha sido guardado correctamente.</div></div>" +
                "<div class='form-group row'><div class='col-md-6'></div>" +
                "<div class='col-md-6'><button class='btn btn-primary btn-block' id='btnContinuar'>Continuar</button></div></div> ");


            $(".close").click(function () {
                location = "http://" + location.host + "/Asset/Detalle/" + idActivo;
            });

            $("#btnContinuar").click(function () {
                $("[data-dismiss=modal]").trigger({ type: "click" });
                location = "http://" + location.host + "/Asset/Detalle/" + idActivo;
            });
        } else if (msg == "INFO") {
            toastr.warning(code, "Mensaje");
        } else {
            var titleAsset = '';
            var messageAsset = '';
            if (code == '0') {
                titleAsset = 'Alerta';
                messageAsset = 'Por favor completar la información';
            }
            else if (code == '1') {
                titleAsset = 'Alerta';
                messageAsset = 'Contacte al administrador';
            }
            else if (code == '2') {
                titleAsset = 'Sesión expirada';
                messageAsset = 'Por favor vuelva a ingresar al sistema.';
            }
            else if (code == '3') {
                titleAsset = 'Duplicidad de Activos';
                messageAsset = 'La serie ingresada ya existe. Por favor validar.';
            }

            toastr.warning(messageAsset, "Mensaje");
        }
    }

</script>