@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Create";
    //Layout = null;
}


<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
<div class="mb-3 card">
    <div class="card-header-tab card-header">Nuevo Activo</div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAsset", target = "upload_target" }))
        {
            <fieldset>
                @Html.HiddenFor(model => model.CREATE_ASSE)
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Tipo de Activo <b style="color:red">(*)</b>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ID_TYPE_ASSE)
                            @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Código de Activo <b style="color:red">(*)</b>
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.COD_ASSE)
                            @Html.ValidationMessageFor(model => model.COD_ASSE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Número de Serie <b style="color:red">(*)</b>
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.SER_NUMB)
                            @Html.ValidationMessageFor(model => model.SER_NUMB)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Nombre de Equipo
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.NAM_EQUI)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3" id="divSubTipo" hidden>
                        <div class="editor-label">
                            Sub Tipo de Activo
                        </div>
                        <div class="editor-field">
                            <input id="SubTipoActivo" type="text" name="SubTipoActivo" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            <div id="divManufacturerNew" class="editor-label" onclick="NewManufacturer()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar una marca." data-toggle="modal" data-target="#miModal">
                                Marca <b style="color:red">(*)</b>
                            </div>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ID_MANU)
                            @Html.ValidationMessageFor(model => model.ID_MANU)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            <div id="NuevoModeloComercial" class="editor-label" onclick="NewCommercialModel()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar un modelo comercial.">
                                Modelo Comercial
                            </div>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ID_COMM_MODE)
                            @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            <div id="NuevoModeloFabrica" class="editor-label" onclick="NewManufacturerModel()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar un modelo de fábrica.">
                                Modelo de Fábrica
                            </div>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ID_MANU_MODE)
                            @Html.ValidationMessageFor(model => model.ID_MANU_MODE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Locación <b style="color:red">(*)</b>
                        </div>
                        <div class="editor-field">
                            @Html.Editor("ID_LOCA")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Fecha de Adquisición @ResourceLanguaje.Resource.DateFormat
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ACQ_DATE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            MAC Física
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.MAC_ADRR)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            MAC Inalámbrica
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.Mac_Address)
                            @Html.ValidationMessageFor(model => model.Mac_Address)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            MAC Bluetooth
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.TextBoxFor(model => model.MacAddressBluetooth)
                            @Html.ValidationMessageFor(model => model.MacAddressBluetooth)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            IP Local
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.IpLocal)
                            @Html.ValidationMessageFor(model => model.IpLocal)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            IP Pública
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.IpPublica)
                            @Html.ValidationMessageFor(model => model.IpPublica)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div id="divNuevoContrato" class="editor-label" onclick="NuevoContrato()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar un contrato." data-toggle="modal" data-target="#miModal">
                            Contrato
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.IdContrato)
                            @Html.ValidationMessageFor(model => model.IdContrato)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Código Solped
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.SOLPED)
                            @Html.ValidationMessageFor(model => model.SOLPED)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Lote
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.LOTE)
                            @Html.ValidationMessageFor(model => model.LOTE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Modo de Compra <b style="color:red">(*)</b>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ID_BUY_MODE)
                            @Html.ValidationMessageFor(model => model.ID_BUY_MODE)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div id="divNuevoCentroCosto" class="editor-label" onclick="NewCostCenter()" style="cursor:pointer;color:royalblue" title="Click aquí para registrar un nuevo Centro de Costo." data-toggle="modal" data-target="#miModal">
                            Centro de Costo
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_COST_CENT)
                            @Html.ValidationMessageFor(model => model.ID_COST_CENT)
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="editor-label">
                            Costo (@ViewBag.MON_ACCO)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.COST)
                            @Html.ValidationMessageFor(model => model.COST)
                        </div>
                    </div>
                </div>
                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4)
                    {
                        <div class="row" id="divdetalleElectrodata2">
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    N° Factura
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.EditorFor(model => model.Contrato)
                                    @Html.ValidationMessageFor(model => model.Contrato)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Valor Activo (0-5)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ValorActivo)
                                    @Html.ValidationMessageFor(model => model.ValorActivo)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Riesgo Intrínseco (0-11)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RiesgoIntrinseco)
                                    @Html.ValidationMessageFor(model => model.RiesgoIntrinseco)
                                </div>
                            </div>
                        </div>
                    }
                }
                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 19)
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Fecha Inicio de Alquiler
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DAT_STAR_LEAS)
                                    @Html.ValidationMessageFor(model => model.DAT_STAR_LEAS)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Fecha Fin de Alquiler
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.DAT_END_LEAS)
                                    @Html.ValidationMessageFor(model => model.DAT_END_LEAS)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Garantía
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.fechaFinGarantia)
                                    @Html.ValidationMessageFor(model => model.fechaFinGarantia)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Código Contrato
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.EditorFor(model => model.Contrato)
                                    @Html.ValidationMessageFor(model => model.Contrato)
                                </div>
                            </div>
                        </div>
                    }
                }
                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 56 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 57 ||
                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 58)
                    {
                        <div class="row" id="divdetalleElectrodata2">
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Grupo
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.IdGrupo)
                                    @Html.ValidationMessageFor(model => model.IdGrupo)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Arrendador
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.IdArrendador)
                                    @Html.ValidationMessageFor(model => model.IdArrendador)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Fecha fin contrato
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.FechaFinContrato)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Tipo usuario
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.TipoUsuario)
                                    @Html.ValidationMessageFor(model => model.TipoUsuario)
                                </div>
                            </div>
                        </div>
                    }
                }

                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 61 ||
                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 62 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 63 ||
                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 64 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 65 ||
                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 66 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 67 ||
                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 68 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 69 ||
                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 70 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 71 ||
                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 72
                        )
                    {
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Fecha Fin @ResourceLanguaje.Resource.DateFormat
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.FechaFin)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Activo
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.EditorFor(model => model.IdActivo)
                                    @Html.ValidationMessageFor(model => model.IdActivo)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Fecha Fin Garantía ext.
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.fechaFinGarantia)
                                    @Html.ValidationMessageFor(model => model.fechaFinGarantia)
                                </div>
                            </div>
                        </div>

                        <div class="row" id="divServidor1" style="display:none">
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Procesador 1 - RAM 1
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.EditorFor(model => model.ProcesadorRam1)
                                    @Html.ValidationMessageFor(model => model.ProcesadorRam1)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Procesador 2 - RAM 2
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.EditorFor(model => model.ProcesadorRam2)
                                    @Html.ValidationMessageFor(model => model.ProcesadorRam2)
                                </div>
                            </div>
                        </div>

                        <div class="row" id="divServidor2" style="display:none">
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Cantidad HD
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.EditorFor(model => model.CantidadHD)
                                    @Html.ValidationMessageFor(model => model.CantidadHD)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Capacidad HD
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.EditorFor(model => model.CapacidadHD)
                                    @Html.ValidationMessageFor(model => model.CapacidadHD)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Tipo Servidor
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.IdTipoServidor)
                                    @Html.ValidationMessageFor(model => model.IdTipoServidor)
                                </div>

                            </div>
                        </div>

                    }
                }
                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 1)
                    {
                        <div class="row" id="divDispositivos" hidden>
                            <div class="col-sm-6 col-lg-3" id="Procesador">
                                <div class="editor-label">
                                    Procesador
                                </div>
                                <div class="k-textbox" style="width:100%">
                                    @Html.TextBoxFor(model => model.ProcesadorRam1)
                                    @Html.ValidationMessageFor(model => model.ProcesadorRam1)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3" id="Ram">
                                <div class="editor-label">
                                    Capacidad RAM (GB)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.CapacidadRam)
                                    @Html.ValidationMessageFor(model => model.CapacidadRam)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div id="divTipodeDisco" class="editor-label">
                                    Tipo de Disco
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.TipoDisco)
                                    @Html.ValidationMessageFor(model => model.TipoDisco)
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Almacenamiento
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.CapacidadDisco)
                                    @Html.ValidationMessageFor(model => model.CapacidadDisco)
                                </div>
                            </div>
                        </div>
                        <div class="row" id="divGarantia" hidden>
                            <div class="col-sm-6 col-lg-3">
                                <div class="editor-label">
                                    Garantía
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.fechaFinGarantia, new { @class = "fecha-fin-garantia" })
                                    @Html.ValidationMessageFor(model => model.fechaFinGarantia)
                                </div>
                            </div>
                        </div>
                    }
                }

                <div class="form-group row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="editor-label">
                            Comentario <b style="color:red">(*)</b>
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.SUM_ASSE)
                            @Html.ValidationMessageFor(model => model.SUM_ASSE)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-lg-12">
                        <input name="archivos" id="archivos" type="file" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <br />
                    </div>
                    <div class="col-sm-12 col-lg-2">
                        <button id="reset" class="btn btn-light btn-block" onclick="cancel(); return false;">Ir al Listado</button>
                    </div>
                    <div class="col-sm-12 col-lg-2">
                        <button id="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
                <iframe id="upload_target" name="upload_target" src="" style="display:none;"></iframe>
            </fieldset>
        }
    </div>
</div>

<button id="btnMensajeConfirmacion" class="k-button" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#miModal" style="display:none">Mensaje</button>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<script type="text/javascript">

    $(document).ready(function () {

        $("#ID_TYPE_ASSE").kendoComboBox({
            index: 0,
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/List?var=" + Math.random()
                }
            },
            change: function (e) {
                if (ID_TYPE_ASSE.dataItem()) {
                    var IdTipoActivo = ID_TYPE_ASSE.dataItem().ID_TYPE_ASSE;
                    if ((@Session["ID_ACCO"] == 56 || @Session["ID_ACCO"] == 57 || @Session["ID_ACCO"] == 58) && (IdTipoActivo == 3 || IdTipoActivo == 6 || IdTipoActivo == 63)) {
                        $("#divSubTipo").removeAttr('hidden');
                    } else {
                        $("#divSubTipo").attr('hidden', true);
                    }
                    $("#divServidor1").removeAttr("style");
                    $("#divServidor2").removeAttr("style");
                    if (IdTipoActivo == 16 & @Session["ID_ACCO"] != 1) {
                        $("#fechaFinGarantia").val("");
                        $("#fechaFinGarantia").data("kendoDateTimePicker").value("");
                        $("#divGarantia").attr('hidden', true);
                        $("#divServidor1").css("display", "true");
                        $("#divServidor2").css("display", "true");
                    }
                    else if (IdTipoActivo == 6 || IdTipoActivo == 3 || IdTipoActivo == 41990
                        || IdTipoActivo == 18 || IdTipoActivo == 1223 || IdTipoActivo == 16) {
                        if (IdTipoActivo == 6 || IdTipoActivo == 3 || IdTipoActivo == 1223) {
                            $("#divGarantia").removeAttr('hidden');
                        }
                        else {
                            $("#fechaFinGarantia").val("");
                            $("#fechaFinGarantia").data("kendoDateTimePicker").value("");
                            $("#divGarantia").attr('hidden', true);
                        }
                        $("#divDispositivos").removeAttr('hidden');
                        $("#Procesador").show();
                        $("#Ram").show();
                        $("#ProcesadorRam1").val("");
                        $("#CapacidadRam").val(0);
                        $("#CapacidadRam").data("kendoNumericTextBox").value("");
                        $("#TipoDisco").val(1);
                        $("#CapacidadDisco").val(1);

                    } else if (IdTipoActivo == 163 || IdTipoActivo == 79) {
                        $("#divDispositivos").removeAttr('hidden');
                        $("#Procesador").hide();
                        $("#Ram").hide();
                        $("#fechaFinGarantia").val("");
                        $("#fechaFinGarantia").data("kendoDateTimePicker").value("");
                        $("#divGarantia").attr('hidden', true);
                        $("#Procesador").val("");
                        $("#CapacidadRam").val(0);
                        $("#CapacidadRam").data("kendoNumericTextBox").value("");
                        $("#TipoDisco").val(0);
                        $("#CapacidadDisco").val(0);
                    }
                    else {
                        $("#Procesador").val("");
                        $("#CapacidadRam").val(0);
                        $("#CapacidadRam").data("kendoNumericTextBox").value("");
                        $("#TipoDisco").data("kendoComboBox").value("");
                        $("#CapacidadDisco").data("kendoComboBox").value("");
                        $("#fechaFinGarantia").val("");
                        $("#fechaFinGarantia").data("kendoDateTimePicker").value("");
                        $("#divDispositivos").attr('hidden', true);
                        $("#divGarantia").attr('hidden', true);
                        $("#divServidor1").css("display", "none");
                        $("#divServidor2").css("display", "none");
                        $("#ProcesadorRam1").val("");
                        $("#ProcesadorRam2").val("");
                        $("#CantidadHD").val("");
                        $("#CapacidadHD").val("");
                        $("#IdTipoServidor").data("kendoComboBox").value("");
                    }
                }
            }
        });
        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

        if (parseInt(@Session["ID_ACCO"]) == 19) {
            var DAT_STAR_LEAS = $("#DAT_STAR_LEAS").kendoDateTimePicker().data("kendoDateTimePicker");
            var DAT_END_LEAS = $("#DAT_END_LEAS").kendoDateTimePicker().data("kendoDateTimePicker");
            var fechaFinGarantia = $("#fechaFinGarantia").kendoDateTimePicker().data("kendoDateTimePicker");
        }
        if (parseInt(@Session["ID_ACCO"]) == 1) {
            var fechaFinGarantia = $("#fechaFinGarantia").kendoDateTimePicker().data("kendoDateTimePicker");
        }
        if (parseInt(@Session["ID_ACCO"]) == 60 || parseInt(@Session["ID_ACCO"]) == 61 || parseInt(@Session["ID_ACCO"]) == 62 ||
            parseInt(@Session["ID_ACCO"]) == 63 || parseInt(@Session["ID_ACCO"]) == 64 || parseInt(@Session["ID_ACCO"]) == 65 ||
            parseInt(@Session["ID_ACCO"]) == 66 || parseInt(@Session["ID_ACCO"]) == 67 || parseInt(@Session["ID_ACCO"]) == 68 ||
            parseInt(@Session["ID_ACCO"]) == 69 || parseInt(@Session["ID_ACCO"]) == 70 || parseInt(@Session["ID_ACCO"]) == 71 ||
            parseInt(@Session["ID_ACCO"]) == 72 ) {
            var FechaFin = $("#FechaFin").kendoDateTimePicker().data("kendoDateTimePicker");
            var fechaFinGarantia = $("#fechaFinGarantia").kendoDateTimePicker().data("kendoDateTimePicker");
        }
        var TipoDisco = $("#TipoDisco").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [{
                text: "M.2",
                value: 1
            },
            {
                text: "HDD",
                value: 2
            },
            {
                text: "SSD",
                value: 3,
            }],
            filter: "contains",
        }).data("kendoComboBox");
        var CapacidadDisco = $("#CapacidadDisco").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "480 GB", value: 480 },
                { text: "500 GB", value: 500 },
                { text: "960 GB", value: 960 },
                { text: "1024 GB", value: 1024 },
                { text: "2048 GB", value: 2048 },
                { text: "4096 GB", value: 4096 }
            ],
            filter: "contains"
        }).data("kendoComboBox");

        var SubTipoActivo = $("#SubTipoActivo").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [{
                text: "ESTANDAR",
                value: "1"
            },
            {
                text: "WORKSTATION",
                value: "2"
            }],
            filter: "contains",
        }).data("kendoComboBox");

        $("#IdContrato").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Contrato/Listar"
                }
            }
        });
        var IdContrato = $("#IdContrato").data("kendoComboBox");

        $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        $("#ID_COMM_MODE").kendoComboBox({

            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/List?var=" + Math.random()
                }
            }
        });
        var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

        $("#ID_MANU_MODE").kendoComboBox({

            dataTextField: "NAM_MANU_MODE",
            dataValueField: "ID_MANU_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ManufacturerModel/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU_MODE = $("#ID_MANU_MODE").data("kendoComboBox");

        $("#ID_COND").kendoComboBox({
            //index: 0,
            dataTextField: "TEXT",
            dataValueField: "ID_COND",
            template: '<div style="font-weight:bold;">${ data.NAM_STAT_ASSE }</div>' +
                        '<div>${ data.NAM_COND }</div>',
            filter: "contains",
            index: 1,
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Condition/ListStatCondAsset?var=" + Math.random()
                }
            }
        });
        var ID_COND = $("#ID_COND").data("kendoComboBox");

        var FEC_TICK = $("#ACQ_DATE").kendoDateTimePicker().data("kendoDateTimePicker");


        $("#ID_LOCA").kendoComboBox({
            dataTextField: "NAM_LOCA",
            dataValueField: "ID_LOCA",
            template: '<div><div style="font-weight:bold">${ data.NAM_SITE }</div>' +
                '<div>${ data.NAM_LOCA }</div></div>',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Location/List?var=" + Math.random()
                }
            },

            select: function(e) {
             var userId = parseInt(@Html.Raw(Json.Encode(Session["UserId"])));

             var selectedDataItem = this.dataItem(e.item.index());

             if (selectedDataItem.ID_LOCA === 173015) {
                 if (userId == 293 || userId == 187 || userId == 34) {
                     return;
                 } else {
                     e.preventDefault();
                     uploadDone("INFO", "Esta locación está restringida para este usuario.", null);
                 }
             }
         }
        });
        var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

        $("#ID_BUY_MODE").kendoComboBox({
            dataTextField: "NAM_BUY_MODE",
            dataValueField: "ID_BUY_MODE",
            filter: "contains",
            autoBind: true,
            index: 1,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/BuyMode/List?var=" + Math.random()
                }
            }
        });
        var ID_BUY_MODE = $("#ID_BUY_MODE").data("kendoComboBox");

        $("#ID_COST_CENT").kendoComboBox({
            dataTextField: "COD_COST_CENT",
            dataValueField: "ID_COST_CENT",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CostCenter/List?var=" + Math.random()
                }
            }
        });
        var ID_COST_CENT = $("#ID_COST_CENT").data("kendoComboBox");

        if (parseInt(@Session["ID_ACCO"]) == 56 || parseInt(@Session["ID_ACCO"]) == 57 || parseInt(@Session["ID_ACCO"]) == 58) {
            $("#IdGrupo").kendoComboBox({
                dataTextField: "VAL_ACCO_PARA",
                dataValueField: "ID_ACCO_PARA",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Parameter/ListarxParametro?idparametro=1070"
                    }
                }
            });

            $("#IdArrendador").kendoComboBox({
                dataTextField: "VAL_ACCO_PARA",
                dataValueField: "ID_ACCO_PARA",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Parameter/ListarxParametro?idparametro=1071"
                    }
                }
            });
            var FechaFinContrato = $("#FechaFinContrato").kendoDateTimePicker().data("kendoDateTimePicker");
            $("#TipoUsuario").kendoComboBox({
                dataTextField: "VAL_ACCO_PARA",
                dataValueField: "ID_ACCO_PARA",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Parameter/ListarxParametro?idparametro=1079"
                    }
                }
            });
        }
        $("#CapacidadRam").kendoNumericTextBox({
            min: 0,
            decimals: 0,
            format: "#"
        });

        $("#COST").kendoNumericTextBox({
            min: 0
        });

        $("#LOTE").kendoNumericTextBox({
            min: 0
        });


        $("#ValorActivo").kendoNumericTextBox({
            min: 0,
            max: 5,
            decimals: 0
        });

        $("#RiesgoIntrinseco").kendoNumericTextBox({
            min: 0,
            max: 11,
            decimals: 0
        });

        $("#SUM_ASSE").kendoEditor({
            encoded: false
        });
        var onSelectAttaCess = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();
                    toastr.error("@ResourceLanguaje.Resource.AssetMessage8","@ResourceLanguaje.Resource.WrongFileExtension");
                }
            });
        };
        $("#archivos").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            select: onSelectAttaCess,
            multiple: false,
        });

        $("#submit").click(function () {
            toastr.info("Guardando...", "Espere por favor");
        });

        $("#IdTipoServidor").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarTipoServidor?var=" + Math.random()
                }
            }
        });

    });

</script>

<script type="text/javascript">
    function NewManufacturer() {

        $("#lblTitulo").text("Nueva Marca");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Manufacturer/Create/');

    }

    function NewCommercialModel() {
        $("#NuevoModeloComercial").removeAttr("data-toggle");
        $("#NuevoModeloComercial").removeAttr("data-target");

        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        if (ID_MANU.dataItem() === undefined) {
            toastr.warning("Selecciona una marca.", "Mensaje");
        }
        else {
            ID_MN = ID_MANU.dataItem().ID_MANU;
            $("#lblTitulo").text("Nuevo Modelo Comercial");

            $("#NuevoModeloComercial").attr("data-toggle", "modal");
            $("#NuevoModeloComercial").attr("data-target", "#miModal");

            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");

            $('#modal-content').empty();
            $('#modal-content').load("/CommercialModel/Create/" + ID_MANU.dataItem().ID_MANU + "?var=" + Math.random());
        }
    }

    function NewManufacturerModel() {
        $("#NuevoModeloFabrica").removeAttr("data-toggle");
        $("#NuevoModeloFabrica").removeAttr("data-target");

        var ID_MANU = $("#ID_MANU").data("kendoComboBox");
        if (ID_MANU.dataItem() === undefined) {
            toastr.warning("Selecciona una marca.", "Mensaje");
        }
        else {
            ID_MN = ID_MANU.dataItem().ID_MANU;
            $("#lblTitulo").text("Nueva Modelo de Fábrica");
            $("#NuevoModeloFabrica").attr("data-toggle", "modal");
            $("#NuevoModeloFabrica").attr("data-target", "#miModal");

            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");

            $('#modal-content').empty();
            $('#modal-content').load("/ManufacturerModel/Create/" + ID_MANU.dataItem().ID_MANU + "?var=" + Math.random());
        }
    }

    function NewCostCenter() {
        $("#lblTitulo").text("Nuevo Centro de Costo");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-sm");

        $('#modal-content').empty();
        $('#modal-content').load("/CostCenter/Create?var=" + Math.random());
    }

    function NuevoContrato() {
        $("#lblTitulo").text("Nuevo Contrato");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/Contrato/Nuevo?var=" + Math.random());
    }

</script>

<script type="text/javascript">
    function cancel() {
        location = "http://" + location.host + "/Asset";
    }

    function uploadDone(msg, code, idActivo) {

        //var span = document.createElement("span");
        //span.innerHTML = "<img src='/Content/Images/warning.png' width='80'/><p>¿Estás seguro de borrar el archivo adjunto?</p>";
        //swal({
        //    type: "warning",
        //    title: "Alerta",
        //    content: span,
        //    type: 'success',
        //    buttons: {
        //        eliminar: {
        //            text: "Si"
        //        },
        //        cancelar: {
        //            text: "No"
        //        },
        //    }
        //}).then((value) => {
        //    switch (value) {
        //        case "cancelar":
        //            break;
        //        case "eliminar":

        //                        toastr.success("Información actualizada.", "Information Saved");

        //            break;
        //    }
        //});
        if (msg == "OK") {
            $("#btnMensajeConfirmacion").click();

            $("#lblTitulo").text("Información Guardada");

            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");
            $(".modal-dialog").addClass("modal-sm");

            $('#modal-content').empty();
            $('#modal-content').html("<div class='form-group row'><div class='col-md-12'>Información del Nuevo Activo ha sido guardado correctamente.</div></div>" +
                "<div class='form-group row'><div class='col-md-6'><button class='btn btn-light btn-block' id='btnAgregarHW'>Agregar HW</button></div>" +
                "<div class='col-md-6'><button class='btn btn-primary btn-block' id='btnContinuar'>Continuar</button></div></div> ");


            $(".close").click(function () {
                location = "http://" + location.host + "/Asset/Detalle/" + idActivo;
            });

            var undo = $("#btnAgregarHW").bind("click", function () {

                $("#lblTitulo").text("Agregar/Actualizar HW");

                $(".modal-dialog").removeClass("modal-sm");
                $(".modal-dialog").removeClass("modal-lg");
                $(".modal-dialog").addClass("modal-lg");
                $("#btnAgregarHW").attr("data-backdrop", "static");

                $('#modal-content').empty();
                $('#modal-content').load("/Asset/Componentes/" + idActivo + "?crea=1&var=" + Math.random());
            });

            $("#btnContinuar").click(function () {
                $("[data-dismiss=modal]").trigger({ type: "click" });
                location = "http://" + location.host + "/Asset/Detalle/" + idActivo;
            });
        } else if (msg == "INFO") {
            toastr.warning(code, "Mensaje");
        }
        else {

            var titleAsset = '';
            var messageAsset = '';
            if (code == '0') {
                titleAsset = 'Alerta';
                messageAsset = 'Por favor completar la información';
            }
            else if (code == '1') {
                titleAsset = 'Alerta';
                messageAsset = 'Contacte al administrador';
            }
            else if (code == '2') {
                titleAsset = 'Sesión expirada';
                messageAsset = 'Por favor vuelva a ingresar al sistema.';
            }
            else if (code == '3') {
                titleAsset = 'Duplicidad de Activos';
                messageAsset = 'El código de activo o la serie ingresada ya existen. Por favor validar.';
            }

            toastr.warning(messageAsset, "Mensaje");

        }
    }
    //
</script>
