@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/Forms.css" rel="stylesheet" type="text/css" />
<link href="~/Content/FrmTicket.css" rel="stylesheet" type="text/css" />

<style>
    a {
        text-decoration: none;
    }

    form {
        font-size: .9em;
    }

    .titleForm {
        height: auto;
        background-color: #516882;
        width: 100%;
        border-color: #516882;
        color: white;
        font-size: 1.1em;
        border-radius: 4px 4px 0px 0px;
    }

        .titleForm .title {
            padding: 2px 0px 5px 10px;
        }

    .bodyForm {
        width: 100%;
    }

    .inBodyForm {
        border: 1px solid #e2e2e2;
        border-radius: 0px 0px 4px 4px;
    }
</style>
<div style="margin-top:-22px;">
    <div style="float:left; width:60%;">
        <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.EditAsset</div></div>
        <div class="bodyForm">
            <div class="inBodyForm">
                @using (Html.BeginForm("Edit", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", target = "upload_target" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>ASSET</legend>
                        @Html.HiddenFor(model => model.ID_ASSE)
                        @Html.HiddenFor(model => model.ID_TICK)
                        @Html.HiddenFor(model => model.ID_ACCO)
                        @Html.HiddenFor(model => model.CREATE_ASSE)
                        @Html.HiddenFor(model => model.UserId)

                        <div class="FondoBlanco">
                            <div class="Division1d3">
                                <div class="editor-label">
                                    Código de Activo
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.COD_ASSE)
                                    @Html.ValidationMessageFor(model => model.COD_ASSE)
                                </div>
                            </div>
                            <div class="Division2d3">
                                <div class="editor-label">
                                    Tipo de Activo
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_TYPE_ASSE)
                                    @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                                </div>
                            </div>
                            <div class="Division3d3">
                                <div class="editor-label">
                                    Marca
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_MANU)
                                    @Html.ValidationMessageFor(model => model.ID_MANU)
                                </div>
                            </div>
                        </div>
                        <div class="FondoGris">
                            <div class="Division1d3">
                                <div class="editor-label">
                                    Modelo Comercial
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_COMM_MODE)
                                    @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                                </div>
                            </div>
                            <div class="Division2d3">
                                <div class="editor-label">
                                    Modelo de Fábrica
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_MANU_MODE)
                                    @Html.ValidationMessageFor(model => model.ID_MANU_MODE)
                                </div>
                            </div>
                            <div class="Division3d3">
                                <div class="editor-label">
                                    Número de Serie
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.SER_NUMB)
                                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                                </div>
                            </div>
                        </div>
                        <div class="FondoBlanco">
                            <div class="Division1d3">
                                <div class="editor-label">
                                    Modo de Compra
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_BUY_MODE)
                                    @Html.ValidationMessageFor(model => model.ID_BUY_MODE)
                                </div>
                            </div>
                            <div class="Division2d3">
                                <div class="editor-label">
                                    Centro de Costo
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_COST_CENT)
                                    @Html.ValidationMessageFor(model => model.ID_COST_CENT)
                                </div>
                            </div>
                            <div class="Division2d3">
                                <div class="editor-label">
                                    Costo
                                </div>
                                <div style="margin-top:-3px;">
                                    @Html.EditorFor(model => model.COST)
                                    @Html.ValidationMessageFor(model => model.COST)
                                </div>
                            </div>
                        </div>
                        <div class="FondoGris">
                            <div class="Division1d3">
                                <div class="editor-label">
                                    Lote
                                </div>
                                <div style="margin-top:0px;">
                                    @Html.EditorFor(model => model.LOTE)
                                    @Html.ValidationMessageFor(model => model.LOTE)
                                </div>
                            </div>
                            <div class="Division2d3">
                                <div class="editor-label">
                                    Código Solped
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.SOLPED)
                                    @Html.ValidationMessageFor(model => model.SOLPED)
                                </div>
                            </div>
                            <div class="Division3d3">
                                <div class="editor-label">
                                    Nombre de Equipo
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.NAM_EQUI)
                                    @Html.ValidationMessageFor(model => model.NAM_EQUI)
                                </div>
                            </div>
                        </div>
                        @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4)
                    {
                        <div class="divFondoDos" id="divdetalleElectrodata2">
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    N° Factura
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.Contrato)
                                    @Html.ValidationMessageFor(model => model.Contrato)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Valor Activo (0-5)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ValorActivo)
                                    @Html.ValidationMessageFor(model => model.ValorActivo)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Riesgo Intrínseco (0-11)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.RiesgoIntrinseco)
                                    @Html.ValidationMessageFor(model => model.RiesgoIntrinseco)
                                </div>
                            </div>
                        </div>
                    }
                        }
                        <div class="FondoBlanco">
                            <div style="width: 95.5%; float:left; padding: 0px 0px 0 15px;">
                                <div class="editor-label">
                                    Comentario
                                </div>
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.SUM_ASSE)
                                    @Html.ValidationMessageFor(model => model.SUM_ASSE)
                                </div>
                            </div>
                        </div>
                        <div class="FondoBlanco">
                            <div id="divAdjuntos" style="width:70%;margin:10px 15px 15px 35px;">
                            </div>
                            <div style="width: 96%; float:left; padding: 0px 0px 0 15px; font-size:1.1em;">
                                <input name="files" id="files" type="file" />
                            </div>

                            <div style="display:inline-block; float:right; padding:10px 15px 15px 5px; font-size:1.1em;">
                                <div style=" float:left; padding:0px 15px 0px 0px; ">
                                    <button id="submit" class="k-button">Guardar</button>
                                </div>
                                <button id="reset" class="k-button" onclick="cancel(); return false;">Cancelar</button>
                                <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#ValorActivo").kendoNumericTextBox({
            min: 0,
            max: 5,
            decimals: 0
        });

        $("#RiesgoIntrinseco").kendoNumericTextBox({
            min: 0,
            max: 11,
            decimals: 0
        });

        $("#ID_TYPE_ASSE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/List?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

        $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        $("#ID_COMM_MODE").kendoComboBox({
            index: 0,
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/List?var=" + Math.random()
                }
            }
        });
        var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

        $("#ID_MANU_MODE").kendoComboBox({
            dataTextField: "NAM_MANU_MODE",
            dataValueField: "ID_MANU_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ManufacturerModel/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU_MODE = $("#ID_MANU_MODE").data("kendoComboBox");

        $("#ID_BUY_MODE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_BUY_MODE",
            dataValueField: "ID_BUY_MODE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/BuyMode/List?var=" + Math.random()
                }
            }
        });
        var ID_BUY_MODE = $("#ID_BUY_MODE").data("kendoComboBox");

        $("#ID_COST_CENT").kendoComboBox({
            //index: 0,
            dataTextField: "COD_COST_CENT",
            dataValueField: "ID_COST_CENT",
            filter: "contains",
            //autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CostCenter/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#COST").kendoNumericTextBox({
            min: 0
        });

        $("#LOTE").kendoNumericTextBox({
            min: 0
        });

        $("#SUM_ASSE").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        $("#divAdjuntos").append($('<div/>').html('@ViewBag.Adjuntos').text());

        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            }
        });

        $("#submit").click(function () {
            winPopUpModalLoad("Guardando los datos", "Espere por favor", 300, 130);
        });
    });
</script>

<script type="text/javascript">
    function cancel() {
        winPopUpModal("Operation Cancelled", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
       "<div style='padding:10px 0px 10px 0px;'>The operation to perform was cancelled</div>" +
       "<div style='float:right; padding:20px 0px 0px 0px; '>" +
       "<button id='continuer' class='k-button'>Continue</button></div></div>"
       , 350, 130);

        var undo = $("#continuer")
            .bind("click", function () {
                location.replace(location.href.replace("Edit", "Details"));
            });

        $("#closebtnmodal").click(function () {
            location.replace(location.href.replace("Edit", "Details"));
        });

        return false;
    }

    function uploadDone(msg, code) {
        if (msg == "OK") {
            closeWinModalPopUpLoad();
            winPopUpModal("Information Saved / Notification Send", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:10px 0px 10px 0px;'>Asset information was succesfully saved</div>"
           + "The notification was succesfully sent to: <br>End User, Staff, Service Desk and IT Coordinator.<br>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continue</button>" +
           "</div></div>"
             , 400, 220);

            var undo = $("#continues")
           .bind("click", function () {
               closeWinModalPopUp();
               location.replace(location.href.replace("Edit", "Details"))
           });

            $("#closebtnmodal").click(function () {
                location.reload(true);
                location.replace(location.href.replace("Edit", "Details"))
            });
        }
        else {
            closeWinModalPopUpLoad();
            winPopUpModal("Information Missing", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
               "<div style='padding:10px 0px 10px 0px;'>You should choose or complete the required information</div>" +
               "<div style='float:right; padding:30px 0px 0px 0px; '>" +
               "<button id='continuee' class='k-button'>Continue</button>" +
               "</div></div>"
               , 400, 140);

            var undo = $("#continuee")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }
</script>