@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Editar";
    Layout = null;
}

@using (Html.BeginForm("EditHudbay", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormAsset", target = "upload_target" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.ID_ASSE)
        @Html.HiddenFor(model => model.ID_TICK)
        @Html.HiddenFor(model => model.ID_ACCO)
        @Html.HiddenFor(model => model.CREATE_ASSE)
        @Html.HiddenFor(model => model.CREATE_DATE)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.IpLocal)
        @Html.HiddenFor(model => model.IpPublica)
        @Html.HiddenFor(model => model.IdContrato)
        @Html.HiddenFor(model => model.Contrato)
        @Html.HiddenFor(model => model.MacAddressBluetooth)
        @Html.HiddenFor(model => model.IdGrupo)

        <div class="form-row">
            <div class="col-md-4">
                <div class="editor-label">
                    Código de Activo <b style="color:red">(*)</b>
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.COD_ASSE)
                    @Html.ValidationMessageFor(model => model.COD_ASSE)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Tipo de Activo <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_TYPE_ASSE)
                    @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Marca <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_MANU)
                    @Html.ValidationMessageFor(model => model.ID_MANU)
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="editor-label">
                    Modelo Comercial
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_COMM_MODE)
                    @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Número de Serie <b style="color:red">(*)</b>
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.SER_NUMB)
                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Nombre de Equipo <b style="color:red">(*)</b>
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.NAM_EQUI)
                    @Html.ValidationMessageFor(model => model.NAM_EQUI)
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="editor-label">
                    Orden de compra
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.OrdenCompra)
                    @Html.ValidationMessageFor(model => model.OrdenCompra)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Fecha de adquisición
                </div>
                <div class="editor-field" style="width:100%">
                    @Html.EditorFor(model => model.ACQ_DATE)
                    @Html.ValidationMessageFor(model => model.ACQ_DATE)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Fecha de exp de garantía
                </div>
                <div class="editor-field" style="width:100%">
                    @Html.EditorFor(model => model.fechaFinGarantia)
                    @Html.ValidationMessageFor(model => model.fechaFinGarantia)
                </div>
            </div>
        </div>
        @{
            if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4)
            {
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="editor-label">
                            N° Factura
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.Contrato)
                            @Html.ValidationMessageFor(model => model.Contrato)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-label">
                            Valor Activo (0-5)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ValorActivo)
                            @Html.ValidationMessageFor(model => model.ValorActivo)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-label">
                            Riesgo Intrínseco (0-11)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.RiesgoIntrinseco)
                            @Html.ValidationMessageFor(model => model.RiesgoIntrinseco)
                        </div>
                    </div>
                </div>
            }
            <div class="form-row">
                <div class="col-md-4">
                    <div class="editor-label">
                        MAC Física
                    </div>
                    <div class="k-textbox" style="width:100%">
                        @Html.TextBoxFor(model => model.MAC_ADRR)
                        @Html.ValidationMessageFor(model => model.MAC_ADRR)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        MAC Inalámbrica
                    </div>
                    <div class="k-textbox" style="width:100%">
                        @Html.TextBoxFor(model => model.Mac_Address)
                        @Html.ValidationMessageFor(model => model.Mac_Address)
                    </div>
                </div>
            </div>
        }
        <div class="form-row">
            <div class="col-md-12">
                <div class="editor-label">
                    Comentario
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.SUM_ASSE, new { style = "height: 100px" })
                    @Html.ValidationMessageFor(model => model.SUM_ASSE)
                </div>
            </div>
        </div>
        <div id="divAdjuntos" style="width:70%;margin:23px 15px 10px 35px;"></div>
        <div class="form-group row">
            <div class="col-md-12">
                <input name="files" id="files" type="file" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <button id="reset" type="button" class="btn btn-light btn-block">Cancelar</button>
            </div>
            <div class="col-md-3">
                <button id="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </fieldset>
}

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ACQ_DATE").kendoDateTimePicker().data("kendoDateTimePicker");
        $("#fechaFinGarantia").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#ID_TYPE_ASSE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/List?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

        $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        $("#ID_COMM_MODE").kendoComboBox({
            index: 0,
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/List?var=" + Math.random()
                }
            }
        });
        var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

        $("#ID_MANU_MODE").kendoComboBox({
            dataTextField: "NAM_MANU_MODE",
            dataValueField: "ID_MANU_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ManufacturerModel/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU_MODE = $("#ID_MANU_MODE").data("kendoComboBox");

        $("#ID_BUY_MODE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_BUY_MODE",
            dataValueField: "ID_BUY_MODE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/BuyMode/List?var=" + Math.random()
                }
            }
        });
        var ID_BUY_MODE = $("#ID_BUY_MODE").data("kendoComboBox");

        $("#ID_COST_CENT").kendoComboBox({
            //index: 0,
            dataTextField: "COD_COST_CENT",
            dataValueField: "ID_COST_CENT",
            filter: "contains",
            //autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CostCenter/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#COST").kendoNumericTextBox({
            min: 0
        });

        $("#LOTE").kendoNumericTextBox({
            min: 0
        });

        $("#ValorActivo").kendoNumericTextBox({
            min: 0,
            max: 5,
            decimals: 0
        });

        $("#RiesgoIntrinseco").kendoNumericTextBox({
            min: 0,
            max: 11,
            decimals: 0
        });

        $("#SUM_ASSE").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        @*$("#divAdjuntos").append($('<div/>').html('@ViewBag.Adjuntos').text());*@

        var onSelectAttaCess = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();
                    toastr.error("Seleccione un archivo pdf.","Alerta");

                }
            });
        };
        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            select: onSelectAttaCess,
            multiple: false,
        });

        $("#submit").click(function () {
            toastr.info("Guardando...", "Espere por favor");
        });

        $("#reset").click(function (event) {
            $("[data-dismiss=modal]").trigger({ type: "click" });
        });
    });
</script>

<script type="text/javascript">

    function uploadDone(msg, code) {
        if (msg == "OK") {
            try {
                ObtenerDatosActivo();
            } catch (ex) {
                setTimeout(function () {
                    location.reload(true);
                }, 1000);
            }
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.success("Se actualizaron los datos.", "Información Guardada");
        }
        else if (msg == "INFO") {
            toastr.warning(code, "Mensaje");
        } else {
            toastr.warning("Por favor complete la información requerida.", "Mensaje");
        }
    }
</script>
