@model ERPElectrodata.Models.ASSET

@{
    ViewBag.IdAsse = Model.ID_ASSE;
    ViewBag.Title = "Editar";
    Layout = null;
}

@using (Html.BeginForm("Edit", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormAsset", target = "upload_target" }))
{
    @Html.ValidationSummary(true)
<fieldset>

    @Html.HiddenFor(model => model.ID_ASSE)
    @Html.HiddenFor(model => model.ID_TICK)
    @Html.HiddenFor(model => model.ID_ACCO)
    @Html.HiddenFor(model => model.CREATE_ASSE)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.ACQ_DATE)
    @Html.HiddenFor(model => model.IpLocal)
    @Html.HiddenFor(model => model.IpPublica)
    @*@Html.HiddenFor(model => model.IdContrato)*@
    @Html.HiddenFor(model => model.Contrato)
    @Html.HiddenFor(model => model.MacAddressBluetooth)

    <div class="form-row">

        @* Codigo de Activo *@

        <div class="col-md-4">
            <div class="editor-label">
                Código de Activo <b class="requerido" style="color:red">(*)</b>
            </div>
            <div class="k-textbox" style="width:100%">
                @Html.EditorFor(model => model.COD_ASSE)
                @Html.ValidationMessageFor(model => model.COD_ASSE)
            </div>
        </div>

        @* Tipo de Activo *@

        <div class="col-md-4">
            <div class="editor-label">
                Tipo de Activo <b class="requerido" style="color:red">(*)</b>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ID_TYPE_ASSE)
                @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
            </div>
        </div>


        @* Marca *@

        <div class="col-md-4">
            <div class="editor-label">
                Marca <b class="requerido" style="color:red">(*)</b>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ID_MANU)
                @Html.ValidationMessageFor(model => model.ID_MANU)
            </div>
        </div>


        @*  Sub Tipo de Activo *@

        @if (Convert.ToInt32(Session["ID_ACCO"]) == 56 || Convert.ToInt32(Session["ID_ACCO"]) == 57 || Convert.ToInt32(Session["ID_ACCO"]) == 58)
        {
            <div class="col-md-4" id="divSubTipo" hidden>
                <div class="editor-label">
                    Sub Tipo de Activo
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.IdSubTipoActivo)
                    @Html.ValidationMessageFor(model => model.IdSubTipoActivo)
                </div>
            </div>
        }


    </div>


    <div class="form-row">

        @*  Modelo Comercial *@
        <div class="col-md-4">
            <div class="editor-label">
                Modelo Comercial
            </div>
            <div class="editor-field" id="ModeloComercial">
                @Html.EditorFor(model => model.ID_COMM_MODE)
                @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
            </div>

            <div class="editor-field" id="ModeloComercialAct">
            </div>
        </div>


        @*  Modelo de Fábrica *@

        <div class="col-md-4">
            <div class="editor-label">
                Modelo de Fábrica
            </div>
            <div class="editor-field" id="ModeloFabrica">
                @Html.EditorFor(model => model.ID_MANU_MODE)
                @Html.ValidationMessageFor(model => model.ID_MANU_MODE)
            </div>
            <div class="editor-field" id="ModeloFabricaAct">
            </div>
        </div>

        @*  Número de Serie  *@

        <div class="col-md-4">
            <div class="editor-label">
                Número de Serie <b class="requerido" style="color:red">(*)</b>
            </div>
            <div class="k-textbox" style="width:100%">
                @Html.EditorFor(model => model.SER_NUMB)
                @Html.ValidationMessageFor(model => model.SER_NUMB)
            </div>
        </div>
    </div>


    <div class="form-row">

        @*  Modo de Compra  *@

        <div class="col-md-4">
            <div class="editor-label">
                Modo de Compra <b class="requerido" style="color:red">(*)</b>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ID_BUY_MODE)
                @Html.ValidationMessageFor(model => model.ID_BUY_MODE)
            </div>
        </div>

        @*  Centro de Costo  *@

        <div class="col-md-4">
            <div class="editor-label">
                Centro de Costo
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ID_COST_CENT)
                @Html.ValidationMessageFor(model => model.ID_COST_CENT)
            </div>
        </div>

        @*  Costo  *@

        <div class="col-md-4">
            <div class="editor-label">
                Costo
            </div>
            <div>
                @Html.EditorFor(model => model.COST)
                @Html.ValidationMessageFor(model => model.COST)
            </div>
        </div>
    </div>


    <div class="form-row">

        @*  Lote  *@

        <div class="col-md-4">
            <div class="editor-label">
                Lote
            </div>
            <div>
                @Html.EditorFor(model => model.LOTE)
                @Html.ValidationMessageFor(model => model.LOTE)
            </div>
        </div>

        @*  SOLPED  *@

        <div class="col-md-4">
            <div class="editor-label">
                Código Solped
            </div>
            <div class="k-textbox" style="width:100%">
                @Html.EditorFor(model => model.SOLPED)
                @Html.ValidationMessageFor(model => model.SOLPED)
            </div>
        </div>

        @*  Nombre de Equipo  *@

        <div class="col-md-4">
            <div class="editor-label" id="nombreEquipo">
                Nombre de Equipo
            </div>
            <div class="k-textbox" style="width:100%">
                @Html.EditorFor(model => model.NAM_EQUI)
                @Html.ValidationMessageFor(model => model.NAM_EQUI)
            </div>
        </div>
    </div>


    @{
        if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4)
        {
            <div class="form-row">
                <div class="col-md-4">
                    <div class="editor-label">
                        N° Factura
                    </div>
                    <div class="k-textbox" style="width:100%">
                        @Html.EditorFor(model => model.Contrato)
                        @Html.ValidationMessageFor(model => model.Contrato)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        Valor Activo (0-5)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ValorActivo)
                        @Html.ValidationMessageFor(model => model.ValorActivo)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        Riesgo Intrínseco (0-11)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RiesgoIntrinseco)
                        @Html.ValidationMessageFor(model => model.RiesgoIntrinseco)
                    </div>
                </div>
            </div>
        }


        <div class="form-row">

            @* MAC Física  *@
            <div class="col-md-4">
                <div class="editor-label">
                    MAC Física
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.TextBoxFor(model => model.MAC_ADRR)
                    @Html.ValidationMessageFor(model => model.MAC_ADRR)
                </div>
            </div>

            @*  MAC Inalámbrica *@

            <div class="col-md-4">
                <div class="editor-label">
                    MAC Inalámbrica
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.TextBoxFor(model => model.Mac_Address)
                    @Html.ValidationMessageFor(model => model.Mac_Address)
                </div>
            </div>
            @{
                if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 1 && ViewBag.Estado == 1)
                {
                    <div class="col-md-4">
                        <div class="editor-label">
                            Usado por Contratista
                        </div>
                        <input style="margin:5px" id="cbxContratista" type="checkbox" @(ViewBag.PorContratista ? "checked" : "") />
                    </div>
                }
            }

            @{
                if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 56 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 57 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 58)
                {

                    @*  Grupo *@

                    <div class="col-md-4">
                        <div class="editor-label">
                            Grupo
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.IdGrupo)
                            @Html.ValidationMessageFor(model => model.IdGrupo)
                        </div>
                    </div>
                }
            }
        </div>
        <div class="form-row mb-2" id="Contratista">
            <div class="col-md-4">
                <div class="editor-label">
                    Usuario Contratista
                </div>
                <div class="k-textbox" style="width: 100%">
                    <input type="text" id="UsuContratista" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Empresa Contratista
                </div>
                <div class="k-textbox" style="width: 100%">
                    <input type="text" id="EmpContratista" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Área Contratista
                </div>
                <div class="k-textbox" style="width: 100%">
                    <input type="text" id="AreaContratista" />
                </div>
            </div>
        </div>
        <div class="form-row mb-2" id="DatosHW">
            <div class="col-md-3" id="Procesador">
                <div class="editor-label">
                    Procesador
                </div>
                <div class="k-textbox" style="width: 100%">
                    @Html.TextBoxFor(model => model.ProcesadorRam1)
                    @Html.ValidationMessageFor(model => model.ProcesadorRam1)
                </div>
            </div>
            <div class="col-md-3" id="Ram">
                <div class="editor-label">
                    Capacidad RAM
                </div>
                <div>
                    @Html.EditorFor(model => model.CapacidadRam)
                    @Html.ValidationMessageFor(model => model.CapacidadRam)
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    Tipo de Disco
                </div>
                <div class="editor-field" style="width: 100%">
                    @Html.EditorFor(model => model.TipoDisco)
                    @Html.ValidationMessageFor(model => model.TipoDisco)
                </div>
            </div>
            <div class="col-md-3">
                <div class="editor-label">
                    Almacenamiento
                </div>
                <div class="editor-field" style="width: 100%">
                    @Html.EditorFor(model => model.CapacidadDisco)
                    @Html.ValidationMessageFor(model => model.CapacidadDisco)
                </div>
            </div>
        </div>
        <div class="form-row mb-2" id="DatoFinGarantia">
            <div class="col-md-3">
                <div class="editor-label">
                    Garantía
                </div>
                <div>
                    @Html.EditorFor(model => model.fechaFinGarantia)
                    @Html.ValidationMessageFor(model => model.fechaFinGarantia)
                </div>
            </div>
        </div>

        if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 56 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 57 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 58)
        {
            <div class="form-row">

                @*  Arrendador *@

                <div class="col-md-4">
                    <div class="editor-label">
                        Arrendador
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.IdArrendador)
                        @Html.ValidationMessageFor(model => model.IdArrendador)
                    </div>
                </div>

                @*  Fecha Fin Contrato *@

                <div class="col-md-4">
                    <div class="editor-label">
                        Fecha Fin Contrato
                    </div>
                    <input id="FechaFinContrato" name="FechaFinContrato" />
                </div>

                @*  Tipo usuario *@

                <div class="col-md-4">
                    <div class="editor-label">
                        Tipo usuario
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TipoUsuario)
                        @Html.ValidationMessageFor(model => model.TipoUsuario)
                    </div>
                </div>

                @*  Contrato *@
                <div class="col-md-4">
                    <div class="editor-label">
                        Contrato
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IdContrato)
                        @Html.ValidationMessageFor(model => model.IdContrato)
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="editor-label">
                        Fecha de Adquisicion
                    </div>
                    <input id="FechaAdquisicion" name="FechaAdquisicion" />
                </div>

            </div>
        }
    }


    <div class="form-row" id="AreaComentario">

        @*  Comentario *@

        <div class="col-md-12">
            <div class="editor-label">
                Comentario <b class="requerido" style="color:red">(*)</b>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.SUM_ASSE, new { style = "height: 100px" })
                @Html.ValidationMessageFor(model => model.SUM_ASSE)
            </div>
        </div>
    </div>


    <div id="divAdjuntos" style="width:70%;margin:23px 15px 10px 35px;"></div>
    <div class="form-group row" id="idAjuntarArchivo">
        <div class="col-md-12">
            <input name="files" id="files" type="file" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <button id="reset" type="button" class="btn btn-light btn-block">Cancelar</button>
        </div>
        <div class="col-md-3">
            <button id="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
</fieldset>
}

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {


        var idACC = parseInt(@Html.Raw(Json.Encode(Session["ID_ACCO"])));
        var idQueu = parseInt(@Html.Raw(Json.Encode(Session["ID_QUEU"])));
        var gestorActivos = parseInt(@Html.Raw(Json.Encode(Session["GESTOR_ACTIVOS_MINSUR_MARCOBRE_RAURA"])));


        if (idACC === 56 || idACC === 57 || idACC === 58) {

            if (parseInt(idQueu) === 80 || parseInt(gestorActivos) === 1) {

            }

            if (parseInt(idQueu) === 1) {

                //Adicionales
                var comentario = $("#AreaComentario");
                var archivoAdjunto = $("#idAjuntarArchivo");
                var comercial = $("#ModeloComercial");
                var fabrica = $("#ModeloFabrica");
                var requerido = $(".requerido");
                comentario.hide();
                archivoAdjunto.hide();
                comercial.hide();
                fabrica.hide();
                requerido.hide();

                //Comercial

                var ID_COME_MODE = $("#ID_COMM_MODE").val();
                var modeloComercialDiv = $("#ModeloComercialAct");


                modeloComercialDiv.kendoComboBox({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [],
                    value: ID_COME_MODE,
                    animation: false,
                    filter: "contains",
                    suggest: true,
                    placeholder: "Selecciona un valor",
                    enable: false
                });

                //Fabrica

                var ID_MANU_MODE = $("#ID_MANU_MODE").val();
                var modeloFabricaDiv = $("#ModeloFabricaAct");

                modeloFabricaDiv.kendoComboBox({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: [],
                    value: ID_MANU_MODE,
                    animation: false,
                    filter: "contains",
                    suggest: true,
                    placeholder: "",
                    enable: false
                });

                //solo lectura

                $("#ID_TYPE_ASSE, #ID_MANU, #COD_ASSE, #IdSubTipoActivo, #ID_MANU_MODE, #SER_NUMB, #ID_BUY_MODE, #ID_COST_CENT, #COST, #LOTE, #SOLPED, #MAC_ADRR, #Mac_Address, #IdGrupo, #IdArrendador, #FechaFinContrato, #FechaAdquisicion, #TipoUsuario, #IdContrato").attr("readonly", "readonly");

                //Texto Color
                $("#ID_TYPE_ASSE, #ID_MANU, #COD_ASSE, #IdSubTipoActivo, #ID_MANU_MODE, #SER_NUMB, #ID_BUY_MODE, #ID_COST_CENT, #COST, #LOTE, #SOLPED, #MAC_ADRR, #Mac_Address, #IdGrupo, #IdArrendador, #FechaFinContrato, #FechaAdquisicion, #TipoUsuario, #IdContrato").css("color", "#b7b5b5");

                //Elemento Requerido

                $("#nombreEquipo").append("<b style='color: red'>(*)</b>");


                //Elemento obligatorio

                $("#NAM_EQUI").prop("required", true);

            }

        }

        if ($("#divSubTipo").length && ($('#ID_TYPE_ASSE').val() == 3 || $('#ID_TYPE_ASSE').val() == 6 || $('#ID_TYPE_ASSE').val() == 63)) {
            $("#divSubTipo").removeAttr('hidden');
        } else {
            $("#divSubTipo").attr('hidden', true);
        }

        var TipoDisco = $("#TipoDisco").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [{
                text: "M.2",
                value: 1
            },
            {
                text: "HDD",
                value: 2
            },
            {
                text: "SSD",
                value: 3,
            }],
            filter: "contains",
        }).data("kendoComboBox");
        var CapacidadDisco = $("#CapacidadDisco").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "480 GB", value: 480 },
                { text: "500 GB", value: 500 },
                { text: "960 GB", value: 960 },
                { text: "1024 GB", value: 1024 },
                { text: "2048 GB", value: 2048 },
                { text: "4096 GB", value: 4096 }
            ],
            filter: "contains"
        }).data("kendoComboBox");

        var IdSubTipoActivo = $("#IdSubTipoActivo").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [{
                text: "ESTANDAR",
                value: "1"
            },
            {
                text: "WORKSTATION",
                value: "2"
            }],
            filter: "contains",
        }).data("kendoComboBox");

        $("#ID_TYPE_ASSE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/List?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");
        ID_TYPE_ASSE.bind("change", function (e) {
            if ($("#divSubTipo").length && ($('#ID_TYPE_ASSE').val() == 3 || $('#ID_TYPE_ASSE').val() == 6 || $('#ID_TYPE_ASSE').val() == 63)) {
                $("#divSubTipo").removeAttr('hidden');
            } else {
                $("#IdSubTipoActivo").val('');
                IdSubTipoActivo.value('');
                $("#divSubTipo").attr('hidden', true);
            }
        });

        $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        $("#ID_COMM_MODE").kendoComboBox({
            index: 0,
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/List?var=" + Math.random()
                }
            }
        });
        var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

        $("#ID_MANU_MODE").kendoComboBox({
            dataTextField: "NAM_MANU_MODE",
            dataValueField: "ID_MANU_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ManufacturerModel/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU_MODE = $("#ID_MANU_MODE").data("kendoComboBox");

        $("#ID_BUY_MODE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_BUY_MODE",
            dataValueField: "ID_BUY_MODE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/BuyMode/List?var=" + Math.random()
                }
            }
        });
        var ID_BUY_MODE = $("#ID_BUY_MODE").data("kendoComboBox");

        $("#ID_COST_CENT").kendoComboBox({
            //index: 0,
            dataTextField: "COD_COST_CENT",
            dataValueField: "ID_COST_CENT",
            filter: "contains",
            //autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CostCenter/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        if (@ViewBag.IdAcco == 56 || @ViewBag.IdAcco == 57 || @ViewBag.IdAcco == 58) {
            $("#FechaFinContrato").kendoDateTimePicker();

            var FechaFinContrato = $("#FechaFinContrato").data("kendoDateTimePicker");

            var f = new Date('@ViewBag.FechaFinContrato');
            FechaFinContrato.value(new Date(f.getFullYear(), f.getMonth(), f.getDate(), f.getHours(), f.getMinutes(), f.getSeconds(), f.getMilliseconds()));

            $("#FechaAdquisicion").kendoDateTimePicker();

            var FechaAdquisicion = $("#FechaAdquisicion").data("kendoDateTimePicker");

            var fa = new Date('@ViewBag.FechaAdquisicion');
            FechaAdquisicion.value(new Date(fa.getFullYear(), fa.getMonth(), fa.getDate(), fa.getHours(), fa.getMinutes(), fa.getSeconds(), fa.getMilliseconds()));

            $("#IdGrupo").kendoComboBox({
                dataTextField: "VAL_ACCO_PARA",
                dataValueField: "ID_ACCO_PARA",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Parameter/ListarxParametro?idparametro=1070"
                    }
                }
            });

            $("#IdArrendador").kendoComboBox({
                dataTextField: "VAL_ACCO_PARA",
                dataValueField: "ID_ACCO_PARA",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Parameter/ListarxParametro?idparametro=1071"
                    }
                }
            });

            $("#IdContrato").kendoComboBox({
                //index: 5,
                dataTextField: "Nombre",
                dataValueField: "IdContrato",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeAsset/ListContrato?var=" + Math.random()
                    }
                }
            });
            var IdContrato = $("#IdContrato").data("kendoComboBox");

            $("#TipoUsuario").kendoComboBox({
                dataTextField: "VAL_ACCO_PARA",
                dataValueField: "ID_ACCO_PARA",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Parameter/ListarxParametro?idparametro=1079"
                    }
                }
            });
        }

        $("#COST").kendoNumericTextBox({
            min: 0
        });

        $("#LOTE").kendoNumericTextBox({
            min: 0
        });

        $("#CapacidadRam").kendoNumericTextBox({
            min: 0,
            decimals: 0,
            format: "#"
        });

        $("#ValorActivo").kendoNumericTextBox({
            min: 0,
            max: 5,
            decimals: 0
        });

        $("#RiesgoIntrinseco").kendoNumericTextBox({
            min: 0,
            max: 11,
            decimals: 0
        });

        $("#SUM_ASSE").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        @*$("#divAdjuntos").append($('<div/>').html('@ViewBag.Adjuntos').text());*@

        var onSelectAttaCess = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();
                    toastr.error("Seleccione un archivo pdf.", "Alerta");

                }
            });
        };
        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            select: onSelectAttaCess,
            multiple: false,
        });

        $("#submit").click(function () {
            toastr.info("Guardando...", "Espere por favor");
        });

        $("#reset").click(function (event) {
            $("[data-dismiss=modal]").trigger({ type: "click" });
        });

        var PorContratistaB = @Html.Raw(Json.Encode(ViewBag.PorContratista));
        var DatosContratistaB = @Html.Raw(Json.Encode(ViewBag.DatosContratista));
        if (PorContratistaB) {
            $("#Contratista").show();
            var parts = DatosContratistaB.split(',');
            var UsucContratista = parts[0];
            var EmpcContratista = parts[1];
            var AreacContratista = parts[2];
            $('#UsuContratista').val(UsucContratista);
            $('#EmpContratista').val(EmpcContratista);
            $('#AreaContratista').val(AreacContratista);
        }
        else {
            $("#Contratista").hide();
        }

        var IdTipoActivo = @Model.ID_TYPE_ASSE;
        if ((IdTipoActivo == 6 || IdTipoActivo == 3 || IdTipoActivo == 41990
            || IdTipoActivo == 18 || IdTipoActivo == 1223 || IdTipoActivo == 16) && (@ViewBag.IdAcco == 1)) {
            $('#DatosHW').show();
            $('#DatoFinGarantia').hide();
            if ((IdTipoActivo == 6 || IdTipoActivo == 3 || IdTipoActivo == 1223) && (@ViewBag.IdAcco == 1)) {
                $('#DatoFinGarantia').show();
                var fechaFinGarantia = $("#fechaFinGarantia").kendoDateTimePicker().data("kendoDateTimePicker");
            }
        } else if ((IdTipoActivo == 163 || IdTipoActivo == 79)&& (@ViewBag.IdAcco == 1) ) {
            $('#DatosHW').show();
            $('#Procesador').hide();
            $('#Ram').hide();
            $('#DatoFinGarantia').hide();
        }
        else {
            $('#DatosHW').hide();
            $('#DatoFinGarantia').hide();
        }
    });
    $('#cbxContratista').change(function () {
        var PorContratistaB = $('#cbxContratista').is(':checked');
        if (PorContratistaB) {
            $("#Contratista").show();
        }
        else {
            $("#Contratista").hide();
        }
    });
    $("#ID_TYPE_ASSE").change(function() {
        var IdTipoActivo = $('#ID_TYPE_ASSE').val();
        if((IdTipoActivo == 6 || IdTipoActivo == 3 || IdTipoActivo == 41990
            || IdTipoActivo == 18 || IdTipoActivo == 1223) && (@ViewBag.IdAcco == 1)) {
            $('#DatosHW').show();
            $('#Procesador').show();
            $('#Ram').show();          
            if ((IdTipoActivo == 6 || IdTipoActivo == 3 || IdTipoActivo == 1223) && (@ViewBag.IdAcco == 1)) {
                $('#DatoFinGarantia').show();
                var fechaFinGarantia = $("#fechaFinGarantia").kendoDateTimePicker().data("kendoDateTimePicker");
            }
            else {
                $('#DatoFinGarantia').hide();
                $("#fechaFinGarantia").data("kendoDateTimePicker").value("");
            }
        } else if ((IdTipoActivo == 163 || IdTipoActivo == 79)&& (@ViewBag.IdAcco == 1)) {
            $('#DatosHW').show();
            $('#Procesador').hide();
            $('#Ram').hide();
            $('#CapacidadRam').val("");
            $('#ProcesadorRam1').val("");
            $("#CapacidadRam").data("kendoNumericTextBox").value("");
            $('#DatoFinGarantia').hide();
            $("#fechaFinGarantia").data("kendoDateTimePicker").value("");
        }
        else {
            $('#DatosHW').hide();
            $('#ProcesadorRam1').val("");
            $('#TipoDisco').val("");
            $('#CapacidadDisco').val("");
            $('#CapacidadRam').val("");
            $("#CapacidadRam").data("kendoNumericTextBox").value("");
            $("#TipoDisco").data("kendoComboBox").value("");
            $("#CapacidadDisco").data("kendoComboBox").value("");
            $('#DatoFinGarantia').hide();
            $("#fechaFinGarantia").data("kendoDateTimePicker").value("");
        }
    });
</script>

<script type="text/javascript">

    function uploadDone(msg, code) {
        var idACC = parseInt(@Html.Raw(Json.Encode(Session["ID_ACCO"])));
        if (msg == "OK") {
            try {
                ObtenerDatosActivo();
            } catch (ex) {
                setTimeout(function () {
                    location.reload(true);
                }, 1000);
            }
            if (idACC == 1) {
                EditarContratista();
            }
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.success("Se actualizaron los datos.", "Información Guardada");
        }
        else if (msg = "INFO") {
            toastr.warning(code, "Mensaje");
        }
        else {
            toastr.warning("Por favor complete la información requerida.", "Mensaje");
        }
    }
    function EditarContratista() {
        var PorContratistaB = $('#cbxContratista').is(':checked');
        var DatosContratista = $('#UsuContratista').val() + ',' + $('#EmpContratista').val() + ',' + $('#AreaContratista').val();
        $.ajax({
            url: "/Asset/EditContratista",
            type: "POST",
            data: {
                idAsset: @ViewBag.IdAsse,
                PorContratista: PorContratistaB,
                datosContratista: DatosContratista,
            },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
        });
    }
</script>
