@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Editar";
    Layout = null;
    var sinPermiso = (ViewBag.Grupo == "MICROINFORMATICO" && Convert.ToInt32(Session["SUPERVISOR_ACTIVOS_BNV_MICROINFORMATICO"]) == 0);
}

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<style>
    .select2-container--default .select2-selection--multiple {
        overflow-y: auto;
        white-space: normal;
    }
</style>

@using (Html.BeginForm("EditBNV", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormAsset", target = "upload_target" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.ID_ASSE)
        @Html.HiddenFor(model => model.ID_TICK)
        @Html.HiddenFor(model => model.ID_ACCO)
        @Html.HiddenFor(model => model.CREATE_ASSE)
        @Html.HiddenFor(model => model.CREATE_DATE)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.UMinera)
        @Html.HiddenFor(model => model.IdGrupo)

        <div class="form-row">
            <div class="col-md-4">
                <div class="editor-label">
                    Grupo <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    <input name="IdGrupoAct" id="IdGrupoAct" value="@Model.IdGrupo" disabled />
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Tipo de Activo <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ID_TYPE_ASSE, new { @class = sinPermiso ? "k-state-disabled" : "" })
                    @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Marca <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ID_MANU, new { @class = sinPermiso ? "k-state-disabled" : "" })
                    @Html.ValidationMessageFor(model => model.ID_MANU)
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="editor-label">
                    Modelo Comercial <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ID_COMM_MODE, new { @class = sinPermiso ? "k-state-disabled" : "" })
                    @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    Número de Serie <b style="color:red">(*)</b>
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.TextBoxFor(model => model.SER_NUMB, new { @class = sinPermiso ? "k-state-disabled" : "" })
                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    <span id="txtNombre"></span>
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.NAM_EQUI)
                    @Html.ValidationMessageFor(model => model.NAM_EQUI)
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 divMovil">
                <div class="editor-label">
                    Modalidad
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IdModalidad)
                </div>
            </div>
            <div class="col-md-4 divMovil">
                <div class="editor-label">
                    Operador
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IdOperador)
                </div>
            </div>
            <div class="col-md-4 divMovil">
                <div class="editor-label">
                    Plan
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IdPlan)
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 divMicro divMovil">
                <div class="editor-label">
                    <span id="txtTarifa"></span>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.COST, new { @class = sinPermiso ? "k-state-disabled" : "" })
                    @Html.ValidationMessageFor(model => model.COST)
                </div>
            </div>
            <div class="col-md-4 divMovil">
                <div class="editor-label">
                    Monto total Plan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MontoTotal)
                </div>
            </div>
            <div class="col-md-4 divInfra">
                <div class="editor-label">
                    Modo de Compra <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_BUY_MODE)
                    @Html.ValidationMessageFor(model => model.ID_BUY_MODE)
                </div>
            </div>
            <div class="col-md-4">
                <div class="editor-label">
                    <span id="txtContrato"></span> <b style="color:red">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.IdContrato, new { @class = sinPermiso ? "k-state-disabled" : "" })
                    @Html.ValidationMessageFor(model => model.IdContrato)
                </div>
            </div>
            <div class="col-md-4 divMicroDass" style="display:none;">
                <div class="editor-label">
                    Fecha de Inicio @ResourceLanguaje.Resource.DateFormat <b style="color:red" class="bFechasMovil">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ACQ_DATE, new { @class = sinPermiso ? "k-state-disabled" : "" })
                </div>
            </div>
            <div class="col-md-4 divMicroDass" style="display:none;">
                <div class="editor-label">
                    Fecha <span id="txtFFin"></span> @ResourceLanguaje.Resource.DateFormat <b id="bFechaFin" style="color:red" class="bFechasMovil">(*)</b>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.FechaFin, new { @class = sinPermiso ? "k-state-disabled" : "" })
                </div>
            </div>
            <div class="col-md-4 divInfra divMovil">
                <div class="editor-label">
                    <span id="txtIpLocal"></span>
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.IpLocal)
                    @Html.ValidationMessageFor(model => model.IpLocal)
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 divInfra">
                <div class="editor-label">
                    MAC Física
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.MAC_ADRR)
                    @Html.ValidationMessageFor(model => model.MAC_ADRR)
                </div>
            </div>
            <div class="col-md-4 divInfraSer" style="display:none;">
                <div class="editor-label">
                    Procesador 1 - RAM 1
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.ProcesadorRam1)
                </div>
            </div>
            <div class="col-md-4 divInfraSer" style="display:none;">
                <div class="editor-label">
                    Procesador 2 - RAM 2
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.ProcesadorRam2)
                </div>
            </div>
            <div class="col-md-4 divInfraSer" style="display:none;">
                <div class="editor-label">
                    Cantidad HD
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CantidadHD)
                </div>
            </div>
            <div class="col-md-4 divInfraSer" style="display:none;">
                <div class="editor-label">
                    Capacidad HD
                </div>
                <div class="k-textbox" style="width:100%">
                    @Html.EditorFor(model => model.CapacidadHD)
                </div>
            </div>
            <div class="col-md-4 divMovil">
                <div class="editor-label">
                    <span>Aplicaciones</span>
                </div>
                <div class="editor-field">
                    <select id="aplicacionesMovil" name="aplicacionesMovil" class="select2" multiple="multiple" style="width:100%"></select>
                </div>
            </div>
            <div class="col-md-4 divMovil">
                <div class="editor-label">
                    <span>Antivirus</span>
                </div>
                <div class="editor-field">
                    <input type="checkbox" id="Antivirus" name="AntivirusMovil" @(Model.Antivirus == true ? "checked" : "") />
                </div>
            </div>
        </div>
        <div class="form-row sinPermisoHide">
            <div class="col-md-12">
                <div class="editor-label">
                    <span id="txtComentario"></span>
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.SUM_ASSE, new { style = "height: 100px" })
                    @Html.ValidationMessageFor(model => model.SUM_ASSE)
                </div>
            </div>
        </div>
        <div id="divAdjuntos" style="width:70%;margin:23px 15px 10px 35px;"></div>
        <div class="form-group row sinPermisoHide">
            <div class="col-md-12">
                <input name="files" id="files" type="file" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <button id="reset" type="button" class="btn btn-light btn-block">Cancelar</button>
            </div>
            <div class="col-md-3">
                <button id="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </fieldset>
}

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {

        if ('@ViewBag.Grupo' == 'MICROINFORMATICO') {
            $(".divInfra").css("display", "none");
            $(".divMovil").css("display", "none");
            $(".divMicro").css("display", "block");
            $("#txtNombre").text("Nombre de Equipo");
            $("#txtContrato").text("Proyecto");
            $("#txtTarifa").text("Tarifa USD");
            $("#txtFFin").text("Fin");
            $("#txtComentario").text("Descripción del Equipo");

            if ('@ViewBag.Proyecto' == 'DaaS') {
                $(".divMicroDass").css("display", "block");
            } else if ('@ViewBag.Proyecto' == 'Alquiler') {
                $(".divMicroDass").css("display", "block");
                $("#bFechaFin").css("display", "none");
            }

            if (@Html.Raw(sinPermiso.ToString().ToLower())) {
                $(".sinPermisoHide").css("display", "none");
            }

        } else if ('@ViewBag.Grupo' == 'INFRAESTRUCTURA') {
            $(".divMicro").css("display", "none");
            $(".divMovil").css("display", "none");
            $(".divInfra").css("display", "block");
            $("#txtNombre").text("Nombre de Equipo");
            $("#txtIpLocal").text("Ip Local");
            $("#txtContrato").text("Contrato");
            $("#txtComentario").text("Comentario");

            if ('@ViewBag.TipoAct' == 'SERVIDOR') {
                $(".divInfraSer").css("display", "block");
            }
        } else if ('@ViewBag.Grupo' == 'MOVIL') {
            $(".divMicro").css("display", "none");
            $(".divInfra").css("display", "none");
            $(".divMovil").css("display", "block");
            $("#txtNombre").text("IMEI");
            $("#txtContrato").text("Contrato");
            $("#txtFFin").text("Renovación");
            $("#txtIpLocal").text("Anexo");
            $("#txtTarifa").text("Monto Mensual sin IGV");
            $("#txtComentario").text("Comentario");
            $(".divMicroDass").css("display", "block");
            $(".bFechasMovil").css("display", "none");
        }

        var IdGrupoAct = $("#IdGrupoAct").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarGruposBNV?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").kendoComboBox({
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            cascadeFrom: 'IdGrupoAct',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/ListarTipoActivoxGrupoBNV?var=" + Math.random()
                }
            },
            change: function (e) {
                if (IdGrupoAct.text() == 'INFRAESTRUCTURA' && ID_TYPE_ASSE.text() == 'SERVIDOR') {
                    $(".divInfraSer").css("display", "block");
                } else {
                    $("#CantidadHD").data("kendoNumericTextBox").value(null);
                    $("#ProcesadorRam1").val("");
                    $("#ProcesadorRam2").val("");
                    $("#CapacidadHD").val("");
                    $(".divInfraSer").css("display", "none");
                }
            }
        }).data("kendoComboBox");

        var ID_MANU = $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            cascadeFrom: 'IdGrupoAct',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/ListarMarcasBNV?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_COME_MODE = $("#ID_COMM_MODE").kendoComboBox({
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/ListarModelosBNV?idGrupo=" + IdGrupoAct.value() + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_BUY_MODE = $("#ID_BUY_MODE").kendoComboBox({
            dataTextField: "NAM_BUY_MODE",
            dataValueField: "ID_BUY_MODE",
            cascadeFrom: 'IdGrupoAct',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/BuyMode/ListarModosCompraBNV?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var IdContrato = $("#IdContrato").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            cascadeFrom: 'IdGrupoAct',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarProyectosBNV?var=" + Math.random()
                }
            },
            change: function (e) {
                if (IdGrupoAct.text() == 'MICROINFORMATICO' && IdContrato.text() == 'DaaS') {
                    $(".divMicroDass").css("display", "block");
                    $("#bFechaFin").css("display", "inline");
                } else if (IdGrupoAct.text() == 'MICROINFORMATICO' && IdContrato.text() == 'Alquiler') {
                    $(".divMicroDass").css("display", "block");
                    $("#bFechaFin").css("display", "none");
                } else if (IdGrupoAct.text() == 'MICROINFORMATICO') {
                    FEC_TICK.value(null);
                    FechaFin.value(null);
                    $(".divMicroDass").css("display", "none");
                }
            }
        }).data("kendoComboBox");

        var IdModalidad = $("#IdModalidad").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            cascadeFrom: 'IdGrupoAct',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarModalidadBNV?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var IdOperador = $("#IdOperador").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            cascadeFrom: 'IdGrupoAct',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarOperadorBNV?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var IdPlan = $("#IdPlan").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            cascadeFrom: 'IdOperador',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: {
                        url: "/Asset/ListarPlanBNV",
                        data: function () {
                            return {
                                idGrupo: IdGrupoAct.value(),
                                var: Math.random()
                            };
                        }
                    }
                }
            }
        }).data("kendoComboBox");

        if ('@ViewBag.Grupo' == 'MOVIL') {
            var aplicacionesInstaladas = @Html.Raw(Json.Encode(ViewBag.AplicacionesInstaladas));

            $("#aplicacionesMovil").select2({
                placeholder: 'Seleccione...',
                allowClear: true,
                ajax: {
                    url: "/Asset/ListarAplicacionesMovil",
                    dataType: 'json',
                    processResults: function (data) {
                        return { results: data };
                    },
                },
            });

            if (aplicacionesInstaladas.length > 0) {
                var aplicacionACargar = [];
                aplicacionesInstaladas.forEach(function (data) {
                    aplicacionACargar.push({
                        id: data.id,
                        text: data.text
                    });
                });

                var select2 = $('#aplicacionesMovil');
                aplicacionACargar.forEach(function (item) {
                    var option = new Option(item.text, item.id, true, true);
                    select2.append(option).trigger('change');
                });

                select2.trigger({
                    type: 'select2:select',
                    params: {
                        data: aplicacionACargar
                    }
                });
            }
        }

        var FEC_TICK = $("#ACQ_DATE").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaFin = $("#FechaFin").kendoDateTimePicker().data("kendoDateTimePicker");

        FEC_TICK.bind("change", function () {
            var fechaInicio = FEC_TICK.value();

            if (fechaInicio && IdContrato.text() == 'DaaS') {
                var fechaFin = new Date(fechaInicio);
                fechaFin.setFullYear(fechaFin.getFullYear() + 3);
                FechaFin.value(fechaFin);
            } else {
                FechaFin.value(null);
            }
        });

        $("#COST").kendoNumericTextBox({
            min: 0
        });

        $("#MontoTotal").kendoNumericTextBox({
            min: 0
        });

        $("#CantidadHD").kendoNumericTextBox({
            min: 0,
            decimals: 0
        });

        $("#SUM_ASSE").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        var onSelectAttaCess = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();
                    toastr.error("Seleccione un archivo pdf.","Alerta");

                }
            });
        };
        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            select: onSelectAttaCess,
            multiple: false,
        });

        $("#submit").click(function () {
            toastr.info("Guardando...", "Espere por favor");
        });

        $("#reset").click(function (event) {
            $("[data-dismiss=modal]").trigger({ type: "click" });
        });
    });
</script>

<script type="text/javascript">

    function uploadDone(msg, code) {
        if (msg == "OK") {
            try {
                ObtenerDatosActivo();
            } catch (ex) {
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.success("Se actualizaron los datos.", "Información Guardada");
        }
        else if (msg == "INFO") {
            toastr.warning(code, "Mensaje");
        } else {
            toastr.warning("Por favor complete la información requerida.", "Mensaje");
        }
    }
</script>