@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Edit";
}

<div class="divSpace2_a"></div>
<div style="float:left">
    <fieldset>
        <legend>ASSET</legend>
        <div class="divFondoUno">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Código de Activo
                </div>
                <div class="k-textbox">
                    @Html.EditorFor(model => model.COD_ASSE)
                    @Html.ValidationMessageFor(model => model.COD_ASSE)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Tipo de Activo
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_TYPE_ASSE)
                    @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Marca
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_MANU)
                    @Html.ValidationMessageFor(model => model.ID_MANU)
                </div>
            </div>
        </div>
        <div class="divFondoDos">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Modelo Comercial
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_COMM_MODE)
                    @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Modelo de Fábrica
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_MANU_MODE)
                    @Html.ValidationMessageFor(model => model.ID_MANU_MODE)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Número de Serie
                </div>
                <div class="k-textbox">
                    @Html.EditorFor(model => model.SER_NUMB)
                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                </div>
            </div>
        </div>
        <div class="divFondoUno">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Dirección MAC
                </div>
                <div class="k-textbox">
                    @Html.EditorFor(model => model.MAC_ADRR)
                    @Html.ValidationMessageFor(model => model.MAC_ADRR)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Sistema Operativo
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_SYST_OPER_TYPE_ASSE)
                    @Html.ValidationMessageFor(model => model.ID_SYST_OPER_TYPE_ASSE)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Modo de Compra
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_BUY_MODE)
                    @Html.ValidationMessageFor(model => model.ID_BUY_MODE)
                </div>
            </div>
        </div>
        <div class="divFondoDos">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Centro de Costo
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ID_COST_CENT)
                    @Html.ValidationMessageFor(model => model.ID_COST_CENT)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Costo
                </div>
                <div style="margin-top:-3px;">
                    @Html.EditorFor(model => model.COST)
                    @Html.ValidationMessageFor(model => model.COST)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Lote
                </div>
                <div style="margin-top:0px;">
                    @Html.EditorFor(model => model.LOTE)
                    @Html.ValidationMessageFor(model => model.LOTE)
                </div>
            </div>
        </div>
        <div class="divFondoUno">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Código Solped
                </div>
                <div class="k-textbox">
                    @Html.EditorFor(model => model.SOLPED)
                    @Html.ValidationMessageFor(model => model.SOLPED)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Nombre de Equipo
                </div>
                <div class="k-textbox">
                    @Html.EditorFor(model => model.NAM_EQUI)
                    @Html.ValidationMessageFor(model => model.NAM_EQUI)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Fecha de Adquisición @ResourceLanguaje.Resource.DateFormat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ACQ_DATE)
                </div>
            </div>
        </div>
        <div class="divFondoDos">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Locación
                </div>
                <div class="editor-field">
                    @Html.Editor("IdLocacion")
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    IP Local
                </div>
                <div class="k-textbox">
                    @Html.EditorFor(model => model.IpLocal)
                    @Html.ValidationMessageFor(model => model.IpLocal)
                </div>
            </div>
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    IP Pública
                </div>
                <div class="k-textbox">
                    @Html.EditorFor(model => model.IpPublica)
                    @Html.ValidationMessageFor(model => model.IpPublica)
                </div>
            </div>
        </div>
        @{
            if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4)
            {
                <div class="divFondoUno" id="divdetalleElectrodata1">
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Memoria RAM
                        </div>
                        <div style="margin-top:0px;">
                            @Html.TextBoxFor(model => model.ID_SUBTYPE1)
                            @Html.ValidationMessageFor(model => model.ID_SUBTYPE1)
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Procesador
                        </div>
                        <div style="margin-top:0px;">
                            @Html.TextBoxFor(model => model.ID_SUBTYPE2)
                            @Html.ValidationMessageFor(model => model.ID_SUBTYPE2)
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Disco Duro
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ID_SUBTYPE3)
                            @Html.ValidationMessageFor(model => model.ID_SUBTYPE3)
                        </div>
                    </div>
                </div>
                <div class="divFondoDos" id="divdetalleElectrodata2">
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Valor Activo (0-5)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ValorActivo)
                            @Html.ValidationMessageFor(model => model.ValorActivo)
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Riesgo Intrínseco (0-11)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.RiesgoIntrinseco)
                            @Html.ValidationMessageFor(model => model.RiesgoIntrinseco)
                        </div>
                    </div>
                </div>
            }
        }
        @{
            if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 19)
            {
                <div class="divFondoDos">
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Fecha Inicio de Préstamo
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DAT_STAR_LEAS)
                            @Html.ValidationMessageFor(model => model.DAT_STAR_LEAS)
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Fecha Fin de Préstamo
                        </div>
                        <div style="margin-top:0px;">
                            @Html.EditorFor(model => model.DAT_END_LEAS)
                            @Html.ValidationMessageFor(model => model.DAT_END_LEAS)
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Garantía
                        </div>
                        <div style="margin-top:0px;">
                            @Html.EditorFor(model => model.fechaFinGarantia)
                            @Html.ValidationMessageFor(model => model.fechaFinGarantia)
                        </div>
                    </div>
                </div>
            }
        }
        <div class="divFondoUno" id="divdetalleElectrodata2">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Contrato
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.IdContrato)
                    @Html.ValidationMessageFor(model => model.IdContrato)
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#ID_TYPE_ASSE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/List?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

        if (parseInt(@Session["ID_ACCO"]) == 4) {

            if ($("#ID_TYPE_ASSE").val() == 3 || $("#ID_TYPE_ASSE").val() == 6) { //laptop , desktop
                $("#divdetalleElectrodata1").css('display', 'block');
                //$("#divdetalleElectrodata2").css('display', 'none');
            } else {
                if ($("#ID_TYPE_ASSE").val() == 2) { //cell phone
                    $("#divdetalleElectrodata2").css('display', 'block');
                    //$("#divdetalleElectrodata1").css('display', 'none');
                } else {
                    $("#divdetalleElectrodata1").css('display', 'none');
                    //$("#divdetalleElectrodata2").css('display', 'none');
                }
            }

            $("#ID_SUBTYPE1").kendoComboBox({
                dataTextField: "NAM_SUBT_ASSE",
                dataValueField: "ID_SUBT_ASSE",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeAsset/ListSubType?typeasset=56"
                    }
                }
            });
            var ID_SUBTYPE1 = $("#ID_SUBTYPE1").data("kendoComboBox");

            $("#ID_SUBTYPE2").kendoComboBox({
                dataTextField: "NAM_SUBT_ASSE",
                dataValueField: "ID_SUBT_ASSE",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeAsset/ListSubType?typeasset=108"
                    }
                }
            });
            var ID_SUBTYPE2 = $("#ID_SUBTYPE2").data("kendoComboBox");

            $("#ID_SUBTYPE3").kendoComboBox({
                dataTextField: "NAM_SUBT_ASSE",
                dataValueField: "ID_SUBT_ASSE",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeAsset/ListSubType?typeasset=80"
                    }
                }
            });
            var ID_SUBTYPE3 = $("#ID_SUBTYPE3").data("kendoComboBox");

            //$("#idCompaniaTelefono").kendoComboBox({
            //    dataTextField: "VAL_ACCO_PARA",
            //    dataValueField: "ID_ACCO_PARA",
            //    filter: "contains",
            //    autoBind: true,
            //    delay: 500,
            //    minLength: 0,
            //    suggest: true,
            //    dataSource: {
            //        serverFiltering: false,
            //        schema: {
            //            data: "Data",
            //            total: "Count"
            //        },
            //        transport: {
            //            read: "/Parameter/ListarxParametro?idparametro=40"
            //        }
            //    }
            //});
            //var idCompaniaTelefono = $("#idCompaniaTelefono").data("kendoComboBox");

            $("#ID_TYPE_ASSE").bind("change", function (e) {

                if ($("#ID_TYPE_ASSE").val() == 3 || $("#ID_TYPE_ASSE").val() == 6) { //laptop , desktop
                    $("#divdetalleElectrodata1").css('display', 'block');
                    $("#divdetalleElectrodata2").css('display', 'none');
                } else {
                    if ($("#ID_TYPE_ASSE").val() == 2) { //cell phone
                        $("#divdetalleElectrodata2").css('display', 'block');
                        $("#divdetalleElectrodata1").css('display', 'none');
                    } else {
                        $("#divdetalleElectrodata1").css('display', 'none');
                        $("#divdetalleElectrodata2").css('display', 'none');
                    }
                }
            });

            $("#ValorActivo").kendoNumericTextBox({
                min: 0,
                max: 5,
                decimals: 0
            });

            $("#RiesgoIntrinseco").kendoNumericTextBox({
                min: 0,
                max: 11,
                decimals: 0
            });
        }

        if (parseInt(@Session["ID_ACCO"]) == 19) {
            var DAT_STAR_LEAS = $("#DAT_STAR_LEAS").kendoDateTimePicker().data("kendoDateTimePicker");
            var DAT_END_LEAS = $("#DAT_END_LEAS").kendoDateTimePicker().data("kendoDateTimePicker");
            var fechaFinGarantia = $("#fechaFinGarantia").kendoDateTimePicker().data("kendoDateTimePicker");
        }

        $("#IdLocacion").kendoComboBox({
            dataTextField: "NAM_LOCA",
            dataValueField: "ID_LOCA",
            template: '<div style="font-weight:bold;">${ data.NAM_SITE }</div>' +
                        '<div>${ data.NAM_LOCA }</div>',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Location/List?var=" + Math.random()
                }
            }
        });
        var IdLocacion = $("#IdLocacion").data("kendoComboBox");
        IdLocacion.value(@ViewBag.LOCACION);

        $("#IdContrato").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Contrato/Listar"
                }
            }
        });
        var IdContrato = $("#IdContrato").data("kendoComboBox");

        $("#ID_SYST_OPER_TYPE_ASSE").kendoComboBox({
            dataTextField: "NAM_SYST_OPER",
            dataValueField: "ID_SYST_OPER_TYPE_ASSE",
            cascadeFrom: 'ID_TYPE_ASSE',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SystemOperating/ListByTypeAsset?var=" + Math.random()
                }
            }
        });
        var ID_SYST_OPER_TYPE_ASSE = $("#ID_SYST_OPER_TYPE_ASSE").data("kendoComboBox");

        $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        $("#ID_COMM_MODE").kendoComboBox({
            index: 0,
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/List?var=" + Math.random()
                }
            }
        });
        var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

        $("#ID_MANU_MODE").kendoComboBox({
            dataTextField: "NAM_MANU_MODE",
            dataValueField: "ID_MANU_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ManufacturerModel/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU_MODE = $("#ID_MANU_MODE").data("kendoComboBox");

        $("#ID_BUY_MODE").kendoComboBox({
            //index: 5,
            dataTextField: "NAM_BUY_MODE",
            dataValueField: "ID_BUY_MODE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/BuyMode/List?var=" + Math.random()
                }
            }
        });
        var ID_BUY_MODE = $("#ID_BUY_MODE").data("kendoComboBox");

        $("#ID_COST_CENT").kendoComboBox({
            //index: 0,
            dataTextField: "COD_COST_CENT",
            dataValueField: "ID_COST_CENT",
            filter: "contains",
            //autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CostCenter/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#COST").kendoNumericTextBox({
            min: 0
        });

        $("#LOTE").kendoNumericTextBox({
            min: 0
        });

        var ACQ_DATE = $("#ACQ_DATE").kendoDateTimePicker().data("kendoDateTimePicker");
        ACQ_DATE.value("@ViewBag.ACQ_DATE");
    });
</script>