@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Find";
    //Layout = null;
}

<div class="mb-3 card">
    <div class="card-header-tab card-header">Búsqueda Avanzada</div>
    <div class="card-body">
        <div id="divFindAsset">
            @using (Html.BeginForm("ExportBNV", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAssetFind", name = "FrmAssetFind", target = "upload_target" }))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Grupo
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.IdGrupo)
                                @Html.ValidationMessageFor(model => model.IdGrupo)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Unidad Minera
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.UMinera)
                                @Html.ValidationMessageFor(model => model.UMinera)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Código de Activo
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.COD_ASSE)
                                @Html.ValidationMessageFor(model => model.COD_ASSE)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Número de Serie
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.SER_NUMB)
                                @Html.ValidationMessageFor(model => model.SER_NUMB)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Marca
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.ID_MANU)
                                @Html.ValidationMessageFor(model => model.ID_MANU)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Modelo Comercial
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.ID_COMM_MODE)
                                @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Usuario asignado
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_ENTI")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div>
                                <div id="NewUser"></div>
                                &nbsp;
                                @Html.Hidden("Usuarios")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Tipo de Activo
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.ID_TYPE_ASSE)
                                @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div style="width:220px">
                                <input type="hidden" id="valTypeAsset" value="" />
                                <div id="NewTypeAsset"></div>
                                &nbsp;
                                @Html.Hidden("ExpTypeAsset")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                <span id="txtContrato"></span>
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.IdContrato)
                                @Html.ValidationMessageFor(model => model.IdContrato)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div>
                                <div id="NewContrato"></div>
                                @Html.Hidden("Contratos")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Estado
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_STAT_ASSE")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div>
                                <div id="NewEstado"></div>
                                @Html.Hidden("Estados")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Condición
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_COND")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="editor-label">
                                Nombre de Equipo
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.NAM_EQUI)
                                @Html.ValidationMessageFor(model => model.SER_NUMB)
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-end">
                        <div id="divReporteCelular" class="col-lg-2" style="display: none;">
                            <button id="ReporteCelular" type="button" class="btn btn-info btn-block"><i class="fa fa-file-excel"></i> Reporte Celular</button>
                        </div>
                        <div id="divReporteGlobal" class="col-lg-2" style="display: none;">
                            <button id="ReporteGlobal" type="button" class="btn btn-warning btn-block"><i class="fa fa-file-excel"></i> Reporte Global</button>
                        </div>
                        <div class="col-lg-2">
                            <button id="submit" type="submit" class="btn btn-light btn-block"><i class="fa fa-file-excel"></i> Exportar</button>
                        </div>
                        <div class="col-lg-2">
                            <button id="Buscar" type="button" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                    <iframe id="upload_target" name="upload_target" src="" style="display:none;"></iframe>
                </fieldset>
            }
        </div>
    </div>
</div>

<div style="clear:both;"></div>
<div id="resultFind" class="contentView">
</div>
<div id="pagerFind" class="contentViewPager">
</div>

<script type="text/x-kendo-tmpl" id="template">
    <a href="\\Asset/Detalle/${IdActivo}" target='_BLANK' class="text-decoration-none" style="width:100%">
        <div class="card-body py-3 btn-shadow btn-outline-focus">
            <div class="row no-gutters align-items-center" style="font-weight:bold">
                <div class="col-md-6 col-lg-2">
                    ${Condicion}
                </div>
                <div class="col-md-6 col-lg-3">
                    <div title="User">
                        ${UsuarioAsignado}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div title="Record date">
                        Creado: ${FechaCreacion}
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div title="Modification date">
                        Modificado: ${FechaModificacion}
                    </div>
                </div>
                <div class="col-md-12 col-lg-2">
                    <div style="text-align:center;background-color:${COLOR};color:white;text-transform: capitalize;padding:3px 10px 3px 10px;">
                        ${TipoActivo}
                    </div>
                </div>
            </div>
            <div class="row no-gutters align-items-center">
                <div class="col-md-6 col-lg-4">
                        <div>Código de Activo :  ${CodigoActivo}</div>
                        <div>Marca : ${Marca}</div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <div>Número de Serie :  ${Serie}</div>
                        <div>Nombre de Equipo : ${NombreActivo}</div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <div>Unidad Minera :  ${UnidadMinera}</div>
                        <div>Proyecto :  ${Contrato}</div>
                </div>
            </div>
        </div>
    </a>
</script>

<script type="text/javascript">

    $(document).ready(function () {

        var grupo = "@ViewBag.Grupo";

        if (grupo == "MICROINFORMATICO") {
            $("#txtContrato").text("Proyecto");
            $("#divReporteCelular").show();
        } else if (grupo == "INFRAESTRUCTURA") {
            $("#txtContrato").text("Contrato");
        } else if (grupo == "MOVIL") {
            $("#txtContrato").text("Contrato");
        }

        if ("@ViewBag.Supervisor" == "1") {
            $("#divReporteGlobal").show();
        }

        var IdGrupo = $("#IdGrupo").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarGruposBNV?var=" + Math.random()
                }
            },
            change: function (e) {
                grupo = IdGrupo.text();

                if (IdGrupo.text() == "MICROINFORMATICO") {
                    $("#txtContrato").text("Proyecto");
                    $("#divReporteGlobal").hide();
                    $("#divReporteCelular").show();
                } else if (IdGrupo.text() == "INFRAESTRUCTURA") {
                    $("#txtContrato").text("Contrato");
                    $("#divReporteCelular").hide();
                } else if (IdGrupo.text() == "MOVIL") {
                    $("#txtContrato").text("Contrato");
                    $("#divReporteCelular").hide();
                }

                if ("@ViewBag.Supervisor" == "1") {
                    $("#divReporteGlobal").show();
                }

                CargarUMinera(grupo);
            }
        }).data("kendoComboBox");

        //var UMinera = $("#UMinera").kendoComboBox({
        //    dataTextField: "COM_NAME",
        //    dataValueField: "ID_ENTI",
        //    cascadeFrom: 'IdGrupo',
        //    filter: "contains",
        //    autoBind: false,
        //    delay: 500,
        //    minLength: 0,
        //    suggest: true,
        //    dataSource: {
        //        serverFiltering: true,
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/Asset/ListarUMineraBNV?var=" + Math.random()
        //        }
        //    },
        //    dataBound: function (e) {
        //        if (UMinera.dataSource.view().length == 1) {
        //            UMinera.select(0);
        //        }
        //    }
        //}).data("kendoComboBox");

        $("#ID_ENTI").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/CargarListaAfectadosBnv"
                }
            },
            change: function (e) {
                AddNewUser()
            }
        });
        var ID_ENTI = $("#ID_ENTI").data("kendoComboBox");

        function AddNewUser() {

            var Name = ID_ENTI.text();
            var valor = ID_ENTI.value();

            var valUser = $("#Usuarios").val();
            if (valUser == "")
                valUser = "0,";

            var valores = valUser.split(',');
            var flag = 0;

            for (i = 0; i < valores.length; i++) {
                if (valores[i] == valor) {
                    flag = 1;
                }
            }

            if (flag == 0) {

                $("#NewUser").append("<div id='diventi" + valor + "'>" + Name +
                        "<input type='hidden' name='IDENTI" + valor + "' id='IDENTI" + valor + "' value='" + valor + "'>" +
                        "<span>&nbsp;<a  onclick='BorrarUsuario(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                valUser = valUser + valor + ',';
                $("#Usuarios").val(valUser);
            }

        }

        $("#ID_TYPE_ASSE").kendoComboBox({
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            cascadeFrom: 'IdGrupo',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/ListarTipoActivoxGrupoBNV?var=" + Math.random()
                }
            },
            change: function (e) {
                AddNewTypeAsset()
            }
        });
        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

        function AddNewTypeAsset() {

            var Name = ID_TYPE_ASSE.text();
            var valor = ID_TYPE_ASSE.value();

            var valTypeAsset = $("#valTypeAsset").val();
            var valores = valTypeAsset.split(',');
            var flag = 0;

            for (i = 0; i < valores.length; i++) {
                if (valores[i] == valor) {
                    flag = 1;
                }
            }

            if (flag == 0) {

                $("#NewTypeAsset").append("<div id='divname" + valor + "'>" + Name +
                        "<input type='hidden' name='IDTYPEASSET" + valor + "' id='IDTYPEASSET" + valor + "' value='" + valor + "'>" +
                        "<span>&nbsp;<a  onclick='BorrarTipoActivo(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                valTypeAsset = valTypeAsset + valor + ',';
                $("#valTypeAsset").val(valTypeAsset);
                $("#ExpTypeAsset").val(valTypeAsset);
            }

        }

        $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            cascadeFrom: 'IdGrupo',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/ListarMarcasBNV?var=" + Math.random()
                }
            }
        });
        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        $("#ID_COMM_MODE").kendoComboBox({
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: {
                        url: "/CommercialModel/ListarModelosBNV",
                        data: function () {
                            return {
                                idGrupo: IdGrupo.value(),
                                var: Math.random()
                            };
                        }
                    }
                }
            }
        });
        var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

        $("#ID_STAT_ASSE").kendoComboBox({
            dataTextField: "NAM_STAT_ASSE",
            dataValueField: "ID_STAT_ASSE",
            cascadeFrom: 'IdGrupo',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/StatusAsset/ListarEstadosBNV?var=" + Math.random()
                }
            },
            change: function (e) {
                AddNewEstado()
            }
        });
        var ID_STAT_ASSE = $("#ID_STAT_ASSE").data("kendoComboBox");

        $("#ID_COND").kendoComboBox({
            dataTextField: "NAM_COND",
            dataValueField: "ID_COND",
            cascadeFrom: 'ID_STAT_ASSE',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: {
                        url: "/Condition/ListarCondicionesBNV",
                        data: function () {
                            return {
                                idGrupo: IdGrupo.value(),
                                var: Math.random()
                            };
                        }
                    }
                }
            }
        });
        var ID_COND = $("#ID_COND").data("kendoComboBox");

        $("#IdContrato").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            cascadeFrom: 'IdGrupo',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarProyectosBNV?var=" + Math.random()
                }
            },
            change: function (e) {
                AddNewContract()
            }
        });
        var IdContrato = $("#IdContrato").data("kendoComboBox");

        function AddNewContract() {

            var Name = IdContrato.text();
            var valor = IdContrato.value();

            var valContrato = $("#Contratos").val();
            if (valContrato == "")
                valContrato = "0,";

            var valores = valContrato.split(',');
            var flag = 0;

            for (i = 0; i < valores.length; i++) {
                if (valores[i] == valor) {
                    flag = 1;
                }
            }

            if (flag == 0) {

                $("#NewContrato").append("<div id='divcont" + valor + "'>" + Name +
                        "<input type='hidden' name='IDCONT" + valor + "' id='IDCONT" + valor + "' value='" + valor + "'>" +
                        "<span>&nbsp;<a  onclick='BorrarContrato(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                valContrato = valContrato + valor + ',';
                $("#Contratos").val(valContrato);
            }

        }

        function AddNewEstado() {

            var Name = ID_STAT_ASSE.text();
            var valor = ID_STAT_ASSE.value();

            var valEstado = $("#Estados").val();
            if (valEstado == "")
                valEstado = "0,";

            var valores = valEstado.split(',');
            var flag = 0;

            for (i = 0; i < valores.length; i++) {
                if (valores[i] == valor) {
                    flag = 1;
                }
            }

            if (flag == 0) {

                $("#NewEstado").append("<div id='divest" + valor + "'>" + Name +
                    "<input type='hidden' name='IDEST" + valor + "' id='IDEST" + valor + "' value='" + valor + "'>" +
                    "<span>&nbsp;<a  onclick='BorrarEstado(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                valEstado = valEstado + valor + ',';
                $("#Estados").val(valEstado);
            }

        }

        $("#export").click(function () {
            event.preventDefault();
            var codigoActivo = $("#COD_ASSE").val();
            var usuario = $("#Usuarios").val();
            var contrato = $("#Contratos").val();
            var tipoActivo = $("#ExpTypeAsset").val();
            var marca = $("#ID_MANU").val();
            var modeloComercial = $("#ID_COMM_MODE").val();
            var modeloFabrica = "";
            var lugar = "";
            var locacion = "";
            var estado = $("#ID_STAT_ASSE").val();
            var condicion = $("#ID_COND").val();
            var numeroSerie = $("#SER_NUMB").val();
            var direccionMAC = "";
            var nombreEquipo = $("#NAM_EQUI").val();
            var NumeroFactura = "";
            var GuiaRemision = "";
            var OrdenCompra = "";
            window.open('/Reporting/ReporteBuscarActivo.aspx?ca=' + codigoActivo + '&u=' + usuario + '&c=' + contrato + '&ta=' + tipoActivo + '&m=' +
                marca + '&mc=' + modeloComercial + '&mf=' + modeloFabrica + '&l=' + lugar + '&lo=' + locacion + '&e=' + estado + '&cn=' + condicion +
                '&s=' + numeroSerie + '&d=' + direccionMAC + '&n=' + nombreEquipo + '&nf=' + NumeroFactura + '&gr=' + GuiaRemision + '&oc=' + OrdenCompra + '&_blank');
        });

        $("#ReporterGlobal").click(function () {
            event.preventDefault();
            var codigoActivo = $("#COD_ASSE").val();
            var usuario = $("#Usuarios").val();
            var contrato = $("#Contratos").val();
            var tipoActivo = $("#ExpTypeAsset").val();
            var marca = $("#ID_MANU").val();
            var modeloComercial = $("#ID_COMM_MODE").val();
            var modeloFabrica = $("#ID_MANU_MODE").val();
            var lugar = $("#ID_SITE").val();
            var locacion = $("#ID_LOCA").val();
            var estado = $("#ID_STAT_ASSE").val();
            var condicion = $("#ID_COND").val();
            var numeroSerie = $("#SER_NUMB").val();
            var direccionMAC = $("#MAC_ADRR").val();
            var nombreEquipo = $("#NAM_EQUI").val();
            var NumeroFactura = $("#NumeroFactura").val();
            var GuiaRemision = $("#GuiaRemision").val();
            window.open('/Reporting/Activo/ReporteGlobal.aspx?ca=' + codigoActivo + '&u=' + usuario + '&c=' + contrato + '&ta=' + tipoActivo + '&m=' +
                marca + '&mc=' + modeloComercial + '&mf=' + modeloFabrica + '&l=' + lugar + '&lo=' + locacion + '&e=' + estado + '&cn=' + condicion +
                '&s=' + numeroSerie + '&d=' + direccionMAC + '&n=' + nombreEquipo + '&nf=' + NumeroFactura + '&gr=' + GuiaRemision, '_blank');
        });

        $("#Buscar").click(function () {

            if (IdGrupo.value() != 0 && IdGrupo.value() != "") {
                var dataSource = null;
                var pager = null;

                $("#pagerFind").empty();
                $("#resultFind").empty();

                if ($("#resultFind").data("kendoListView")) {
                    $("#pagerFind").data("kendoPager").destroy();
                    $("#resultFind").data("kendoListView").destroy();
                }

                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/Asset/FindResultBNV?var=" + Math.random() + "&" + $('#FrmAssetFind').serialize() + "&valTypeAsset=" + $('#valTypeAsset').val(),
                            type: "GET",
                            dataType: "json"
                        }
                    },
                    autoSync: true,
                    serverFiltering: true,
                    filter: { field: "Status", operator: "eq", value: 0 },
                    serverPaging: true,
                    pageSize: 15,
                    schema: {
                        data: "Data",
                        total: "Count"
                    }
                });

                var temp = getTemplate(grupo);

                $("#resultFind").kendoListView({
                    dataSource: dataSource,
                    template: kendo.template(temp)
                });

                pager = $("#pagerFind").kendoPager({
                    dataSource: dataSource,
                    pageSizes: [15, 30, 60],
                    refresh: true
                });
            }
            else {
                toastr.warning("Seleccione un grupo", "Mensaje");
            }

            return false;
        });

        $("#ReporteGlobal").click(function () {

            if (IdGrupo.value() != 0 && IdGrupo.value() != "") {
                $.ajax({
                    url: '/Asset/DescargarReporteGlobalBNV?IdGrupo=' + IdGrupo.value(),
                    type: 'GET',
                    success: function (data) {
                        var link = document.createElement('a');
                        link.href = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," + data;
                        link.download = 'ReporteGlobal' + new Date().toISOString().slice(0, 19).replace(/[-T:/]/g, '') + '.xlsx';

                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                });
            }
            else {
                toastr.warning("Seleccione un grupo", "Mensaje");
            }

            return false;
        });

        $("#ReporteCelular").click(function () {
            $.ajax({
                url: '/Asset/DescargarReporteCelularBNV',
                type: 'GET',
                success: function (data) {
                    var link = document.createElement('a');
                    link.href = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," + data;
                    link.download = 'ReporteMicroinformaticoCelular' + new Date().toISOString().slice(0, 19).replace(/[-T:/]/g, '') + '.xlsx';

                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            });

            return false;
        });

        CargarUMinera(grupo);

        $("#Buscar").click();

    });

    function CargarUMinera(g) {
        if (g == 'MICROINFORMATICO') {
            var UMinera = $("#UMinera").kendoComboBox({
                dataTextField: "COM_NAME",
                dataValueField: "ID_ENTI",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Asset/ListarAllUMineraBNV?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

        } else {
            var UMinera = $("#UMinera").kendoComboBox({
                dataTextField: "COM_NAME",
                dataValueField: "ID_ENTI",
                cascadeFrom: 'IdGrupo',
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Asset/ListarUMineraBNV?var=" + Math.random()
                    }
                },
                dataBound: function (e) {
                    if (UMinera.dataSource.view().length == 1) {
                        UMinera.select(0);
                    }
                }
            }).data("kendoComboBox");
        }
    }

    function BorrarTipoActivo(id) {
        $("#divname" + id + "").remove();
        var valores = $("#valTypeAsset").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#valTypeAsset").val(valores);
        $("#ExpTypeAsset").val(valores);
    }

    function BorrarUsuario(id) {
        $("#diventi" + id + "").remove();
        var valores = $("#Usuarios").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#Usuarios").val(valores);
    }

    function BorrarContrato(id) {
        $("#divcont" + id + "").remove();
        var valores = $("#Contratos").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#Contratos").val(valores);
    }

    function BorrarEstado(id) {
        $("#divest" + id + "").remove();
        var valores = $("#Estados").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#Estados").val(valores);
    }

    function getTemplate(grupo) {

        return `
            <div>
                <a href="/Asset/Detalle/\${IdActivo}" target="_blank" class="text-decoration-none" style="width:100%">
                    <div class="card-body py-3 btn-shadow btn-outline-focus">
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-6 col-lg-2">
                                \${Condicion}
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div title="User">
                                    \${UsuarioAsignado}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div title="Record date">
                                    Creado: \${FechaCreacion}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div title="Modification date">
                                    Modificado: \${FechaModificacion}
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-2" style="text-align:center;background-color:\${COLOR};color:white;padding:3px 0px 3px 0px;">
                                \${TipoActivo}
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-6 col-lg-4">
                                ${grupo == "MICROINFORMATICO" || grupo == "MOVIL" ? `
                                    <div class="titleSummary">Modelo : \${ModeloComercial}</div>
                                ` : `
                                    <div class="titleSummary">Modo de Compra : \${ModoCompra}</div>
                                `}
                                <div class="titleSummary">Marca : \${Marca}</div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="titleSummary">Número de Serie : \${Serie}</div>
                                <div class="titleSummary">Nombre de Equipo : \${NombreActivo}</div>
                            </div>
                            ${grupo == "MICROINFORMATICO" ? `
                                <div class="col-sm-6 col-lg-4">
                                    <div class="titleSummary">Unidad Minera : \${UnidadMinera}</div>
                                    <div class="titleSummary">Proyecto : \${Contrato}</div>
                                </div>` : `
                                <div class="col-sm-6 col-lg-4">
                                    <div class="titleSummary">Unidad Minera : \${UnidadMinera}</div>
                                    <div class="titleSummary">Contrato : \${Contrato}</div>
                                </div>
                            `}
                        </div>
                    </div>
                </a>
            </div>
        `;
    }

    function uploadDone() {
        toastr.warning("Seleccione un grupo", "Mensaje");
    }

</script>
