@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "Find";
    //Layout = null;
}
<!DOCTYPE html>

<div class="mb-3 card">
    <div class="card-header-tab card-header">Búsqueda Avanzada</div>
    <div class="card-body">
        <div id="divFindAsset">
            @using (Html.BeginForm("Export", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAssetFind", target = "upload_target" }))
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <input id="IdGrupoIT" name="IdGrupoIT" value="@ViewBag.IdGrupoIT" hidden />
                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Código de Activo
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.COD_ASSE)
                                @Html.ValidationMessageFor(model => model.COD_ASSE)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Número de Serie
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.SER_NUMB)
                                @Html.ValidationMessageFor(model => model.SER_NUMB)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Dirección MAC
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.MAC_ADRR)
                                @Html.ValidationMessageFor(model => model.MAC_ADRR)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Marca
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.ID_MANU)
                                @Html.ValidationMessageFor(model => model.ID_MANU)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Modelo Comercial
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.ID_COMM_MODE)
                                @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Modelo de Fábrica
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.ID_MANU_MODE)
                                @Html.ValidationMessageFor(model => model.ID_MANU_MODE)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Usuario asignado
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_ENTI")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div>
                                <div id="NewUser"></div>
                                &nbsp;
                                @Html.Hidden("Usuarios")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Tipo de Activo
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.ID_TYPE_ASSE)
                                @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                            </div>
                        </div>
                        @if (Convert.ToInt32(Session["ID_ACCO"]) == 56 || Convert.ToInt32(Session["ID_ACCO"]) == 57 || Convert.ToInt32(Session["ID_ACCO"]) == 58)
                        {
                            <div class="col-md-6 col-lg-2">
                                <div class="editor-label">
                                    Sub Tipo de Activo
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.IdSubTipoActivo)
                                    @Html.ValidationMessageFor(model => model.IdSubTipoActivo)
                                </div>
                            </div>
                        }
                        <div class="col-sm-6 col-lg-2">
                            <div style="width:220px">
                                <input type="hidden" id="valTypeAsset" value="" />
                                <div id="NewTypeAsset"></div>
                                &nbsp;
                                @Html.Hidden("ExpTypeAsset")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Contrato
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.IdContrato)
                                @Html.ValidationMessageFor(model => model.IdContrato)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div>
                                <div id="NewContrato"></div>
                                @Html.Hidden("Contratos")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Lugar
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_SITE")
                                @Html.ValidationMessageFor(model => model.SER_NUMB)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Locación
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_LOCA")
                                @Html.ValidationMessageFor(model => model.SER_NUMB)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Estado
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_STAT_ASSE")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Condición
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_COND")
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="editor-label">
                                Nombre de Equipo
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.NAM_EQUI)
                                @Html.ValidationMessageFor(model => model.SER_NUMB)
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Número de Factura
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.NumeroFactura)
                                @Html.ValidationMessageFor(model => model.NumeroFactura)
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <div class="editor-label">
                                Guía de Remisión
                            </div>
                            <div class="k-textbox" style="width:100%">
                                @Html.EditorFor(model => model.GuiaRemision)
                                @Html.ValidationMessageFor(model => model.GuiaRemision)
                            </div>
                        </div>
                        @{ if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 55)
                            {
                                <div class="col-sm-6 col-lg-2">
                                    <div class="editor-label">
                                        Orden de Compra
                                    </div>
                                    <div class="k-textbox" style="width:100%">
                                        @Html.EditorFor(model => model.OrdenCompra)
                                        @Html.ValidationMessageFor(model => model.OrdenCompra)
                                    </div>
                                </div>
                            }
                        }
                        @{
                            try
                            {
                                if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 56 ||
                                    Convert.ToInt32(Session["ID_ACCO"].ToString()) == 57 ||
                                    Convert.ToInt32(Session["ID_ACCO"].ToString()) == 58)
                                {
                                    <div class="col-sm-6 col-lg-2">
                                        <div class="editor-label">
                                            Usuario responsable
                                        </div>
                                        <div class="editor-field">
                                            @Html.Editor("IdUsuarioResponsable")
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-2">
                                        <div>
                                            <div id="divUsuariosRespo"></div>
                                            &nbsp;
                                            @Html.Hidden("UsuariosResp")
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-2">
                                        <div class="editor-label">
                                            Grupo
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.IdGrupo)
                                            @Html.ValidationMessageFor(model => model.IdGrupo)
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-2">
                                        <div style="width:220px">
                                            <input type="hidden" id="valGrupo" value="" />
                                            <div id="divGrupos"></div>
                                            &nbsp;
                                            @Html.Hidden("ExpGrupo")
                                        </div>
                                    </div>
                                }
                            }
                            catch { }
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <br />
                        </div>
                        <div class="col-lg-2">
                            @{
                                try
                                {
                                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 61 ||
                                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 62 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 63 ||
                                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 64 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 65 ||
                                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 66 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 67 ||
                                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 68 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 69 ||
                                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 70 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 71 ||
                                        Convert.ToInt32(Session["ID_ACCO"].ToString()) == 72
                                        )
                                    {
                                        <button id="ReporterGlobal" class="btn btn-secondary btn-block"><i class="fa fa-clipboard"></i> Reporte Global</button>
                                    }
                                }
                                catch { }
                            }

                        </div>
                        <div class="col-lg-2">
                            <button id="export" class="btn btn-light btn-block"><i class="fa fa-file-excel"></i> Exportar</button>
                        </div>
                        <div class="col-lg-2">
                            <button id="submit" class="btn btn-primary btn-block" onclick="findAsset(); return false;"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                    <iframe id="upload_target" name="upload_target" src="" style="display:none;"></iframe>
                </fieldset>
            }
        </div>
    </div>
</div>

<div style="clear:both;"></div>
<div id="resultFind" class="contentView">
</div>
<div id="pagerFind" class="contentViewPager">
</div>

<script type="text/x-kendo-tmpl" id="template">
    <a href="\\Asset/Detalle/${IdActivo}" target='_BLANK' class="text-decoration-none" style="width:100%">
        <div class="card-body py-3 btn-shadow btn-outline-focus">
            <div class="row no-gutters align-items-center" style="font-weight:bold">
                <div class="col-md-6 col-lg-2">
                    ${Condicion}
                </div>
                <div class="col-md-6 col-lg-3">
                    <div title="User">
                        ${UsuarioAsignado}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div title="Record date">
                        Creado: ${FechaCreacion}
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div title="Modification date">
                        Modificado: ${FechaModificacion}
                    </div>
                </div>
                <div class="col-md-12 col-lg-2">
                    <div style="text-align:center;background-color:${COLOR};color:white;text-transform: capitalize;padding:3px 10px 3px 10px;">
                        ${TipoActivo}
                    </div>
                </div>
            </div>
            <div class="row no-gutters align-items-center">
                <div class="col-md-6 col-lg-4">
                        <div>Código de Activo :  ${CodigoActivo}</div>
                        <div>Marca : ${Marca}</div>
                        <div>Modelo Comercial : ${ModeloComercial}</div>
                        <div>Modelo de Fábrica : ${ModeloFabrica}</div>
                </div>
                <div class="col-md-6 col-lg-4">
                        <div>Número de Serie :  ${Serie}</div>
                        <div>Nombre de Equipo : ${NombreActivo}</div>
                        <div>Área : ${Area}</div>
                        # if ((TipoActivo === "LAPTOP" || TipoActivo === "IPAD" || TipoActivo === "DESKTOP") && @ViewBag.IdAcco == 1) { #
                        <div>Garantía : ${fechaFinGarantia ? fechaFinGarantia : "-"}</div>
                    # } else { #
                        <div>Lote : ${Lote}</div>
                    # } #
                </div>
                <div class="col-md-6 col-lg-4">
                        <div>Modo de Compra : ${ModoCompra}</div>
                        <div>Locación : ${Locacion}</div>
                        # if (@ViewBag.IdAcco == 1) { #
                        <div>Empresa contratista : ${EmpresaContratista ? EmpresaContratista : "-"}</div>
                        <div>Usuario contratista : ${UsuarioContratista ? UsuarioContratista : "-"}</div>
                        #} else {#
                        <div>Centro de Costo : ${Ceco}</div>
                        <div>Costo : ${Costo}</div>
                        #} #
                </div>
            </div>
            <hr class="m-0" />
            <div class="row no-gutters align-items-center">
                <div class="col-md-12 col-lg-4">
                    ${TipoTicket} \\#
                    ${CodigoTicket}
                </div>
                <div class="col-md-12 col-lg-5">
                    ${Sitio} - ${Locacion}
                </div>
                <div class="col-md-12 col-lg-3">
                    Creado por: ${CreadoPor}
                </div>
            </div>
        </div>
    </a>
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#ID_ENTI").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
                }
            },
            change: function (e) {
                AddNewUser()
            }
        });
        var ID_ENTI = $("#ID_ENTI").data("kendoComboBox");

        function AddNewUser() {

            var Name = ID_ENTI.text();
            var valor = ID_ENTI.value();

            var valUser = $("#Usuarios").val();
            if (valUser == "")
                valUser = "0,";

            var valores = valUser.split(',');
            var flag = 0;

            for (i = 0; i < valores.length; i++) {
                if (valores[i] == valor) {
                    flag = 1;
                }
            }

            if (flag == 0) {

                $("#NewUser").append("<div id='diventi" + valor + "'>" + Name +
                        "<input type='hidden' name='IDENTI" + valor + "' id='IDENTI" + valor + "' value='" + valor + "'>" +
                        "<span>&nbsp;<a  onclick='BorrarUsuario(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                valUser = valUser + valor + ',';
                $("#Usuarios").val(valUser);
            }

        }

        var IdSubTipoActivo = $("#IdSubTipoActivo").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [{
                text: "ESTANDAR",
                value: "1"
            },
            {
                text: "WORKSTATION",
                value: "2"
            }],
            filter: "contains",
        }).data("kendoComboBox");

        $("#ID_TYPE_ASSE").kendoComboBox({
            index: 5,
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/List?var=" + Math.random()
                }
            },
            change: function (e) {
                AddNewTypeAsset()
            }
        });
        var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

        function AddNewTypeAsset() {

            var Name = ID_TYPE_ASSE.text();
            var valor = ID_TYPE_ASSE.value();

            var valTypeAsset = $("#valTypeAsset").val();
            var valores = valTypeAsset.split(',');
            var flag = 0;

            for (i = 0; i < valores.length; i++) {
                if (valores[i] == valor) {
                    flag = 1;
                }
            }

            if (flag == 0) {

                $("#NewTypeAsset").append("<div id='divname" + valor + "'>" + Name +
                        "<input type='hidden' name='IDTYPEASSET" + valor + "' id='IDTYPEASSET" + valor + "' value='" + valor + "'>" +
                        "<span>&nbsp;<a  onclick='BorrarTipoActivo(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                valTypeAsset = valTypeAsset + valor + ',';
                $("#valTypeAsset").val(valTypeAsset);
                $("#ExpTypeAsset").val(valTypeAsset);
            }

        }

        $("#ID_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var ID_MANU = $("#ID_MANU").data("kendoComboBox");

        $("#ID_COMM_MODE").kendoComboBox({
            dataTextField: "NAM_COMM_MODE",
            dataValueField: "ID_COMM_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CommercialModel/List?var=" + Math.random()
                }
            }
        });
        var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

        $("#ID_MANU_MODE").kendoComboBox({
            dataTextField: "NAM_MANU_MODE",
            dataValueField: "ID_MANU_MODE",
            cascadeFrom: 'ID_MANU',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ManufacturerModel/List?var=" + Math.random()
                }
            }
        });
        var ID_COME_MODE = $("#ID_COME_MODE").data("kendoComboBox");

        $("#ID_SITE").kendoComboBox({
            //index: 0,
            dataTextField: "NAM_SITE",
            dataValueField: "ID_SITE",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Site/List?var=" + Math.random()
                }
            }
        });
        var ID_SITE = $("#ID_SITE").data("kendoComboBox");

        $("#ID_LOCA").kendoComboBox({
            dataTextField: "NAM_LOCA",
            dataValueField: "ID_LOCA",
            cascadeFrom: 'ID_SITE',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Location/ListAsset?var=" + Math.random()
                }
            }
        });
        var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

        $("#ID_STAT_ASSE").kendoComboBox({
            dataTextField: "NAM_STAT_ASSE",
            dataValueField: "ID_STAT_ASSE",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/StatusAsset/List?var=" + Math.random()
                }
            }
        });
        var ID_STAT_ASSE = $("#ID_STAT_ASSE").data("kendoComboBox");

        $("#ID_COND").kendoComboBox({
            dataTextField: "NAM_COND",
            dataValueField: "ID_COND",
            cascadeFrom: 'ID_STAT_ASSE',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Condition/List?var=" + Math.random()
                }
            }
        });
        var ID_COND = $("#ID_COND").data("kendoComboBox");

        $("#IdContrato").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Contrato/Listar"
                }
            },
            change: function (e) {
                AddNewContract()
            }
        });
        var IdContrato = $("#IdContrato").data("kendoComboBox");

        function AddNewContract() {

            var Name = IdContrato.text();
            var valor = IdContrato.value();

            var valContrato = $("#Contratos").val();
            if (valContrato == "")
                valContrato = "0,";

            var valores = valContrato.split(',');
            var flag = 0;

            for (i = 0; i < valores.length; i++) {
                if (valores[i] == valor) {
                    flag = 1;
                }
            }

            if (flag == 0) {

                $("#NewContrato").append("<div id='divcont" + valor + "'>" + Name +
                        "<input type='hidden' name='IDCONT" + valor + "' id='IDCONT" + valor + "' value='" + valor + "'>" +
                        "<span>&nbsp;<a  onclick='BorrarContrato(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                valContrato = valContrato + valor + ',';
                $("#Contratos").val(valContrato);
            }

        }

        @*$("#printreportasset").click(function () {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GridExportToExcel", "Widget")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (returnValue) {
                    //window.location = '/Reports/Download?file=' + returnValue;
                    alert(1);
                }
            });
        });*@

        $("#printreportasset").click(function () {
            event.preventDefault();
            window.open('/Asset/ExportaPrograma/');
        });

        $("#export").click(function () {
            event.preventDefault();
            var codigoActivo = $("#COD_ASSE").val();
            var usuario = $("#Usuarios").val();
            var contrato = $("#Contratos").val();
            var tipoActivo = $("#ExpTypeAsset").val();
            var marca = $("#ID_MANU").val();
            var modeloComercial = $("#ID_COMM_MODE").val();
            var modeloFabrica = $("#ID_MANU_MODE").val();
            var lugar = $("#ID_SITE").val();
            var locacion = $("#ID_LOCA").val();
            var estado = $("#ID_STAT_ASSE").val();
            var condicion = $("#ID_COND").val();
            var numeroSerie = $("#SER_NUMB").val();
            var direccionMAC = $("#MAC_ADRR").val();
            var nombreEquipo = $("#NAM_EQUI").val();
            var NumeroFactura = $("#NumeroFactura").val();
            var GuiaRemision = $("#GuiaRemision").val();
            var OrdenCompra = "";
            if (@ViewBag.IdAcco == 55)
                OrdenCompra = $("#OrdenCompra").val();
            else
                OrdenCompra = "";
            window.open('/Reporting/ReporteBuscarActivo.aspx?ca=' + codigoActivo + '&u=' + usuario + '&c=' + contrato + '&ta=' + tipoActivo + '&m=' +
                marca + '&mc=' + modeloComercial + '&mf=' + modeloFabrica + '&l=' + lugar + '&lo=' + locacion + '&e=' + estado + '&cn=' + condicion +
                '&s=' + numeroSerie + '&d=' + direccionMAC + '&n=' + nombreEquipo + '&nf=' + NumeroFactura + '&gr=' + GuiaRemision + '&oc=' + OrdenCompra + '&_blank');
        });

        // Usuario responsable y Grupo - MINSUR/MARCOBRE/RAURA
        if (@ViewBag.IdAcco == 56 || @ViewBag.IdAcco == 57 || @ViewBag.IdAcco == 58) {
            $("#IdUsuarioResponsable").kendoComboBox({
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                filter: "contains",
                autoBind: false,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
                    }
                },
                change: function (e) {
                    AgregarUsuarioResp()
                }
            });

            var IdUsuarioResponsable = $("#IdUsuarioResponsable").data("kendoComboBox");
            function AgregarUsuarioResp() {
                var Name = IdUsuarioResponsable.text();
                var valor = IdUsuarioResponsable.value();

                var valUser = $("#UsuariosResp").val();
                if (valUser == "")
                    valUser = "0,";

                var valores = valUser.split(',');
                var flag = 0;

                for (i = 0; i < valores.length; i++) {
                    if (valores[i] == valor) {
                        flag = 1;
                    }
                }

                if (flag == 0) {

                    $("#divUsuariosRespo").append("<div id='divUsResp" + valor + "'>" + Name +
                        "<input type='hidden' name='IdUsuarioResponsable" + valor + "' id='IdUsuarioResponsable" + valor + "' value='" + valor + "'>" +
                        "<span>&nbsp;<a  onclick='BorrarUsuarioResp(" + valor + ")' class='fa fa-times' style='color:red' title='Remove' href='javascript:void(0)'></a></span></div>");

                    valUser = valUser + valor + ',';
                    $("#UsuariosResp").val(valUser);
                }
            }

            $("#IdGrupo").kendoComboBox({
                dataTextField: "VAL_ACCO_PARA",
                dataValueField: "ID_ACCO_PARA",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Parameter/ListarxParametro?idparametro=1070"
                    }
                }
            });
        }

        $("#ReporterGlobal").click(function () {
            event.preventDefault();
            var codigoActivo = $("#COD_ASSE").val();
            var usuario = $("#Usuarios").val();
            var contrato = $("#Contratos").val();
            var tipoActivo = $("#ExpTypeAsset").val();
            var marca = $("#ID_MANU").val();
            var modeloComercial = $("#ID_COMM_MODE").val();
            var modeloFabrica = $("#ID_MANU_MODE").val();
            var lugar = $("#ID_SITE").val();
            var locacion = $("#ID_LOCA").val();
            var estado = $("#ID_STAT_ASSE").val();
            var condicion = $("#ID_COND").val();
            var numeroSerie = $("#SER_NUMB").val();
            var direccionMAC = $("#MAC_ADRR").val();
            var nombreEquipo = $("#NAM_EQUI").val();
            var NumeroFactura = $("#NumeroFactura").val();
            var GuiaRemision = $("#GuiaRemision").val();
            window.open('/Reporting/Activo/ReporteGlobal.aspx?ca=' + codigoActivo + '&u=' + usuario + '&c=' + contrato + '&ta=' + tipoActivo + '&m=' +
                marca + '&mc=' + modeloComercial + '&mf=' + modeloFabrica + '&l=' + lugar + '&lo=' + locacion + '&e=' + estado + '&cn=' + condicion +
                '&s=' + numeroSerie + '&d=' + direccionMAC + '&n=' + nombreEquipo + '&nf=' + NumeroFactura + '&gr=' + GuiaRemision, '_blank');
        });

    });

    //var DivHeight = $("#divFindAsset").height();

    function BorrarTipoActivo(id) {
        $("#divname" + id + "").remove();
        var valores = $("#valTypeAsset").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#valTypeAsset").val(valores);
        $("#ExpTypeAsset").val(valores);
    }

    function BorrarUsuario(id) {
        $("#diventi" + id + "").remove();
        var valores = $("#Usuarios").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#Usuarios").val(valores);
    }

    function BorrarUsuarioResp(id) {
        $("#divUsResp" + id + "").remove();
        var valores = $("#UsuariosResp").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#UsuariosResp").val(valores);
    }

    function BorrarContrato(id) {
        $("#divcont" + id + "").remove();
        var valores = $("#Contratos").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#Contratos").val(valores);
    }

    function findAsset() {

        var dataSource = null;
        var pager = null;

        $("#pagerFind").empty();
        $("#resultFind").empty();

        if ($("#resultFind").data("kendoListView")) {
            $("#pagerFind").data("kendoPager").destroy();
            $("#resultFind").data("kendoListView").destroy();
        }

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Asset/FindResult?var=" + Math.random() + "&" + $('#FrmAssetFind').serialize() + "&valTypeAsset=" + $('#valTypeAsset').val(),
                    type: "GET",
                    dataType: "json"
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#resultFind").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });

        pager = $("#pagerFind").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 60],
            refresh: true
        });

        return false;
    }

    findAsset();
</script>

