@{
    ViewBag.Title = "Asset & Configuration";
    //Layout = null;
}

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<div id="divContent">
    <div class="app-page-title mb-2">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-archive icon-gradient bg-sunny-morning"> </i>
                </div>
                <div>
                    <b>ACTIVOS Y CONFIGURACIONES</b>
                    <div class="page-title-subheading">Lista de Activos por estados.</div>
                </div>
            </div>
            @if (Convert.ToInt32(Session["ID_ACCO"].ToString()) != 60)
            {
                <div class="page-title-actions">
                    <div class="d-inline-block">
                        <a href="/ActivoMantenimiento/Alertas" class="btn-shadow btn btn-danger">Mantenimientos Pendientes @*@ViewBag.CantidadLicencias*@</a>
                    </div>
                </div>
            }
        </div>
    </div>

    @if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60)
    {
        <div class="form-group row">
            <div class="col-md-2">
                Grupo
                <input id="IdGrupo" value="@ViewBag.IdGrupo" />
            </div>
            <div class="col-md-2">
                Unidad Minera
                <input id="UMinera" value="@ViewBag.UMinera" />
            </div>
        </div>
    }
    else if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 55)
    {
        <input id="IdGrupo" value="@ViewBag.IdGrupoIT" hidden />
    }
    <div class="form-group row">
        <div class="col-md-2">
            Tipo Activo
            <input id="ID_TYPE_ASSE" name="ID_COMP" />
        </div>
        <div class="col-md-2">
            Marca
            <input id="ID_MANU">
        </div>
        <div class="col-md-3">
            Usuario
            <input id="ID_ENTI">
        </div>
        <div class="col-md-3">
            Palabra Clave
            <input id="PalabraClave" class="k-textbox" style="width:100%" data-toggle="tooltip" data-placement="top" title="Código de Activo, Equipo, Serie, MAC">
        </div>
        <div class="col-md-2">
            <br />
            <button type="button" class="btn btn-hover-shine btn-block btn-primary" id="Buscar"><i class="fa fa-search"></i> Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div id="homInc3" class="card mb-3 widget-content btn btn-danger" onclick="Click(this)">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-white opacity-1"></div>
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div id="letrashomInc1" class="widget-content-left">
                        <div class="widget-heading"> &nbsp; Equipos</div>
                        <div class="widget-heading"> &nbsp; Asignados</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span id="boxActive">@ViewBag.Assigned</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div id="homInc4" class="card mb-3 widget-content btn btn-success" onclick="Click(this)">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-white opacity-1"></div>
                            <i class="fa fa-archive"></i>
                        </div>
                    </div>
                    <div id="letrashomInc1" class="widget-content-left">
                        <div class="widget-heading"> &nbsp; Equipos</div>
                        <div class="widget-heading"> &nbsp; No Asignados</div>
                        <span id="spanMicroNA" class="widget-heading"></span>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span id="boxSCHEDULED">@ViewBag.Unassigned</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div id="homInc2" class="card mb-3 widget-content btn btn-warning" onclick="Click(this)">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-white opacity-1"></div>
                            <i class="fa fa-cogs"></i>
                        </div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading"> &nbsp; Equipos</div>
                        <div class="widget-heading"> &nbsp; De Repuesto</div>
                        <span id="spanMicroRG" class="widget-heading"></span>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span id="boxRESOLVED">@ViewBag.Spare</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div id="homInc1" class="card mb-3 widget-content btn btn-info" onclick="Click(this)">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg bg-white opacity-1"></div>
                            <i class="fa fa-ban"></i>
                        </div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading"> &nbsp; Equipos</div>
                        <div class="widget-heading"> &nbsp; Inoperativos</div>
                        <span id="spanMicroB" class="widget-heading"></span>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span id="boxCLOSED">@ViewBag.Surplus</span></div>
                    </div>
                    @*<div id="boxCLOSED" class="boxQty">@ViewBag.Surplus</div>
                        <div id="letrashomInc4" class="letras">
                            <div>Equipos<br />Inoperativos</div>
                            <div style="clear:both;"></div>
                        </div>
                        <div id="StatusSelecthomInc1"></div>*@
                </div>
            </div>
        </div>

    </div>

    <div id="listView" class="contentView">
    </div>

    <div id="pager" class="contentViewPager">
    </div>
</div>
<script type="text/x-kendo-tmpl" id="template">
    <div>
        <a href="\\Asset/Detalle/${IdActivo}" target="_blank" class="text-decoration-none" style="width:100%">
            <div class="card-body py-3 btn-shadow btn-outline-focus">
                <div class="card-header-sm pr-0 pl-0" style="font-weight:bold">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-6 col-lg-2">
                            ${Condicion}
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div title="User">
                                ${UsuarioAsignado}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div title="Record date">
                                Creado: ${FechaCreacion}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div title="Modification date">
                                Modificado: ${FechaModificacion}
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2" style="text-align:center;background-color:${COLOR};color:white;padding:3px 0px 3px 0px;">
                            ${TipoActivo}
                        </div>
                    </div>
                </div>
                <div class="row no-gutters align-items-center">
                    @*<a href="\\#/Asset/Detalle/${IdActivo}" target="_blank" class="form-row">*@
                    <div class="col-sm-6 col-lg-4">
                        <div class="titleSummary">Código de Activo : ${CodigoActivo}</div>
                        <div class="titleSummary">Marca : ${Marca}</div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="titleSummary">Número de Serie : ${Serie}</div>
                        <div class="titleSummary">Nombre de Equipo : ${NombreActivo}</div>
                    </div>
                    # if (parseInt(@Session["ID_ACCO"]) == 60) { #
                        <div class="col-sm-6 col-lg-4">
                            <div class="titleSummary">Unidad Minera : ${UnidadMinera}</div>
                            <div class="titleSummary">Proyecto : ${Contrato}</div>
                        </div>
                    # } else { #
                        <div class="col-sm-6 col-lg-4">
                            <div class="titleSummary">Modo de Compra : ${ModoCompra}</div>
                            <div class="titleSummary">Locación : ${Locacion}</div>
                        </div>
                    # } #
                    @*</a>*@
                </div>
                # if (parseInt(@Session["ID_ACCO"]) != 60) { #
                    <hr class="m-0" />
                    <div class="form-row">
                        <div class="col-md-12">
                            ${TipoTicket} \\# ${CodigoTicket}
                        </div>
                    </div>
                # } #
            </div>
        </a>
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var url, urlC;
        var grupo = "";

        if (parseInt(@Session["ID_ACCO"]) == 60) {
            grupo = "@ViewBag.Grupo";
            url = "/Asset/ListByStatusBNV?var" + Math.random();
            urlC = "/Asset/ContarxEstadosBNV/?var" + Math.random();
            $("#PalabraClave").attr("title", "Número de Serie");

            if (grupo == "MICROINFORMATICO") {
                $("#spanMicroNA").text("(Stock)");
                $("#spanMicroRG").text("(Reparación o Garantía)");
                $("#spanMicroB").text("(Baja)");
            }

            var IdGrupo = $("#IdGrupo").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "Id",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Asset/ListarGruposBNV?var=" + Math.random()
                    }
                },
                change: function (e) {
                    grupo = IdGrupo.text();
                    ID_ENTI.value("");
                    ID_ENTI.dataSource.read();
                    $("#spanMicroNA").text("");
                    $("#spanMicroRG").text("");
                    $("#spanMicroB").text("");

                    if (IdGrupo.text() == 'MICROINFORMATICO') {
                        $("#spanMicroNA").text("(Stock)");
                        $("#spanMicroRG").text("(Reparación o Garantía)");
                        $("#spanMicroB").text("(Baja)");
                    }
                }
            }).data("kendoComboBox");

            var UMinera = $("#UMinera").kendoComboBox({
                dataTextField: "COM_NAME",
                dataValueField: "ID_ENTI",
                cascadeFrom: 'IdGrupo',
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Asset/ListarUMineraBNV?var=" + Math.random()
                    }
                },
                dataBound: function (e) {
                    if (UMinera.dataSource.view().length == 1) {
                        UMinera.select(0);
                    }
                },
                change: function (e) {
                    ID_ENTI.value("");
                    ID_ENTI.dataSource.read();
                }
            }).data("kendoComboBox");

            var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").kendoComboBox({
                dataTextField: "NAM_TYPE_ASSE",
                dataValueField: "ID_TYPE_ASSE",
                cascadeFrom: 'IdGrupo',
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeAsset/ListarTipoActivoxGrupoBNV?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            var ID_MANU = $("#ID_MANU").kendoComboBox({
                dataTextField: "NAM_MANU",
                dataValueField: "ID_MANU",
                cascadeFrom: 'IdGrupo',
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Manufacturer/ListarMarcasBNV?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            var ID_ENTI = $("#ID_ENTI").kendoComboBox({
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                //cascadeFrom: 'UMinera',
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: {
                            url: "/Asset/ListarAfectadosxGrupoBNV",
                            data: function () {
                                return {
                                    id: 2,
                                    idUMin: UMinera.value(),
                                    idGrupo: IdGrupo.value(),
                                    var: Math.random()
                                };
                            }
                        }
                    }
                }
            }).data("kendoComboBox");

        } else {

            if (parseInt(@Session["ID_ACCO"]) == 55) {
                url = "/Asset/ListaActivosPorGrupo?var" + Math.random();
                urlC = "/Asset/CantidadActivosPorGrupo?var" + Math.random();
            } else {
                url = "/Asset/ListByStatus/0?var" + Math.random();
                urlC = "/Asset/ContarxEstados/";
            }

            $("#ID_TYPE_ASSE").kendoComboBox({
                dataTextField: "NAM_TYPE_ASSE",
                dataValueField: "ID_TYPE_ASSE",
                filter: "contains",
                autoBind: false,
                suggest: true,
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeAsset/List?var=" + Math.random()
                    }
                }
            });
            var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

            $("#ID_MANU").kendoComboBox({
                dataTextField: "NAM_MANU",
                dataValueField: "ID_MANU",
                filter: "contains",
                autoBind: false,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Manufacturer/List?var=" + Math.random()
                    }
                }
            });
            var ID_MANU = $("#ID_MANU").data("kendoComboBox");

            $("#ID_ENTI").kendoComboBox({
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                filter: "contains",
                autoBind: false,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
                    }
                }
            });
            var ID_ENTI = $("#ID_ENTI").data("kendoComboBox");

        }

        $("#Buscar").click(function () {
            $("#pager").empty();
            $("#listView").empty();

            if ($("#listView").data("kendoListView")) {
                $("#pager").data("kendoPager").destroy();
                $("#listView").data("kendoListView").destroy();
            }

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: url,
                        //contentType: "application/json; charset=utf-8",
                        type: "GET",
                        dataType: "json",
                        data: {
                            q: "#kendoui",
                            ran: Math.random(),
                            IdGrupo: $("#IdGrupo").length ? ($("#IdGrupo").val() == '' ? 0 : $("#IdGrupo").val()) : 0,
                            IdTipoActivo: $("#ID_TYPE_ASSE").val() == '' ? 0 : $("#ID_TYPE_ASSE").val(),
                            IdMarca: $("#ID_MANU").val() == '' ? 0 : $("#ID_MANU").val(),
                            IdUsuario: $("#ID_ENTI").val() == '' ? 0 : $("#ID_ENTI").val(),
                            IdUMinera: $("#UMinera").length ? ($("#UMinera").val() == '' ? 0 : $("#UMinera").val()) : 0,
                            PalabraClave: $("#PalabraClave").val()
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                filter: { field: "Status", operator: "eq", value: 1 },
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Grid",
                    total: "Cantidad"
                }
            });

            $("#pager").kendoPager({
                dataSource: dataSource,
                pageSizes: [15, 30, 60],
                refresh: true
            });

            var temp = getTemplate(grupo);

            $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template(temp)
            });

            $.ajax({
                url: urlC,
                data: {
                    IdGrupo: $("#IdGrupo").length ? ($("#IdGrupo").val() == '' ? 0 : $("#IdGrupo").val()) : 0,
                    IdTipoActivo: $("#ID_TYPE_ASSE").val() == '' ? 0 : $("#ID_TYPE_ASSE").val(),
                    IdMarca: $("#ID_MANU").val() == '' ? 0 : $("#ID_MANU").val(),
                    IdUsuario: $("#ID_ENTI").val() == '' ? 0 : $("#ID_ENTI").val(),
                    IdUMinera: $("#UMinera").length ? ($("#UMinera").val() == '' ? 0 : $("#UMinera").val()) : 0,
                    PalabraClave: $("#PalabraClave").val()
                },
                cache: false,
                type: "GET",
                dataType: "json",
                success: function (source) {
                    data = source;
                    $("#boxActive").html(data['Asignado']);
                    $("#boxSCHEDULED").html(data['NoAsignado']);
                    $("#boxRESOLVED").html(data['Repuesto']);
                    $("#boxCLOSED").html(data['Inoperativo']);
                },
                error: function (source) {
                    //alert("Error Carga Json");
                }
            });
        });

        $("#Buscar").click();

    });

    function getTemplate(grupo) {
        var idAcco = parseInt(@Session["ID_ACCO"]);

        return `
            <div>
                <a href="/Asset/Detalle/\${IdActivo}" target="_blank" class="text-decoration-none" style="width:100%">
                    <div class="card-body py-3 btn-shadow btn-outline-focus">
                        <div class="card-header-sm pr-0 pl-0" style="font-weight:bold">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-6 col-lg-2">
                                    \${Condicion}
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div title="User">
                                        \${UsuarioAsignado}
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div title="Record date">
                                        Creado: \${FechaCreacion}
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div title="Modification date">
                                        Modificado: \${FechaModificacion}
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2" style="text-align:center;background-color:\${COLOR};color:white;padding:3px 0px 3px 0px;">
                                    \${TipoActivo}
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-6 col-lg-4">
                                ${idAcco != 60 ? `
                                    <div class="titleSummary">Código de Activo : \${CodigoActivo}</div>
                                ` : `
                                    ${grupo == "MICROINFORMATICO" || grupo == "MOVIL" ? `
                                        <div class="titleSummary">Modelo : \${ModeloComercial}</div>
                                    ` : `
                                        <div class="titleSummary">Modo de Compra : \${ModoCompra}</div>
                                    `}
                                `}
                                <div class="titleSummary">Marca : \${Marca}</div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="titleSummary">Número de Serie : \${Serie}</div>
                                <div class="titleSummary">Nombre de Equipo : \${NombreActivo}</div>
                            </div>
                            ${idAcco == 60 ? `
                                <div class="col-sm-6 col-lg-4">
                                    <div class="titleSummary">Unidad Minera : \${UnidadMinera}</div>
                                    ${grupo == "MICROINFORMATICO" ? `
                                        <div class="titleSummary">Proyecto : \${Contrato}</div>
                                    ` : `
                                        <div class="titleSummary">Contrato : \${Contrato}</div>
                                    `}
                                </div>` : `
                                <div class="col-sm-6 col-lg-4">
                                    <div class="titleSummary">Modo de Compra : \${ModoCompra}</div>
                                    <div class="titleSummary">Locación : \${Locacion}</div>
                                </div>
                            `}
                        </div>
                        ${idAcco != 60 ? `
                            <hr class="m-0" />
                            <div class="form-row">
                                <div class="col-md-12">
                                    \${TipoTicket} \\# \${CodigoTicket}
                                </div>
                            </div>` : `
                        `}
                    </div>
                </a>
            </div>
        `;
    }

    function Click(parm) {
        for (var i = 1; i < 5; i++) {
            $("#homInc" + i).removeClass("tab-active");
            $("#StatusSelecthomInc" + i).removeClass("tab-active-marks2");  //letrashom
            $("#letrashomInc" + i).removeClass("letrasActive");
        }
        $("#" + parm.id).addClass("tab-active");
        $("#StatusSelect" + parm.id).addClass("tab-active-marks2");
        $("#letras" + parm.id).addClass("letrasActive");

        var bandera = 2;
        if (parm.id == "homInc1") {
            bandera = 3;
        }
        else if (parm.id == "homInc3") {
            bandera = 1;
        }
        else if (parm.id == "homInc4") {
            bandera = 4;
        }
        var listView = $("#listView").data("kendoListView");
        listView.dataSource.filter({ field: "Status", operator: "eq", value: bandera });
    }

</script>
