@model ERPElectrodata.Models.Certificado
@{
    ViewBag.Title = "ProgramacionCertificado";
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<style>
    .k-maskedtextbox {
        width: 100%;
    }

    .btnDeshabilitado {
        pointer-events: none;
        opacity: 0.5; 
    }
</style>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Programación de certificados
                <div class="page-title-subheading">
                    Administración de certificados programados.
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("RegistrarProgramacion", "Certificado", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmRegistrarProgramacion", target = "upload_target" }))
{
    @Html.ValidationSummary(true)
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card element-block-example">
                    <div class="card-body">
                        <div class="card-title">REGISTRO DE PROGRAMACIÓN DE CERTIFICADOS</div>
                        <form class="">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbGerencia" for="cbGerencia" class="">Gerencia <span style="color:red">*</span></label>
                                        @Html.EditorFor(model => model.IdGerencia)
                                        @Html.ValidationMessageFor(model => model.IdGerencia)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbArea" for="cbArea" class="">Área <span style="color:red">*</span></label>
                                        @Html.EditorFor(model => model.IdArea)
                                        @Html.ValidationMessageFor(model => model.IdArea)

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbUsuario" for="cbUsuario" class="">Usuario <span style="color:red">*</span></label>
                                        @Html.EditorFor(model => model.IdPersEnti)
                                        @Html.ValidationMessageFor(model => model.IdPersEnti)

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbUsuario" for="cbUsuario" class="">Monto <span style="color:red">*</span></label>
                                        <input id="Monto" name="Monto" />
                                        @Html.ValidationMessageFor(model => model.Monto)
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbUsuario" for="cbUsuario" class="">Marca <span style="color:red">*</span></label>
                                        @Html.EditorFor(model => model.IdMarca)
                                        @Html.ValidationMessageFor(model => model.IdMarca)

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbUsuario" for="cbUsuario" class="">Nombre del Certificado <span style="color:red">*</span></label>
                                        @Html.EditorFor(model => model.Nombre)
                                        @Html.ValidationMessageFor(model => model.Nombre)

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbUsuario" for="cbUsuario" class="">Nombre del Examen <span style="color:red">*</span></label>
                                        @Html.EditorFor(model => model.NombreExamen)
                                        @Html.ValidationMessageFor(model => model.NombreExamen)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="cbMotivo" for="cbMotivo" class="">Motivo<span style="color:red">*</span></label>
                                        @Html.TextBoxFor(model => model.MotivoId)
                                        @Html.ValidationMessageFor(model => model.MotivoId)
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblFechaInicio" for="FechaInicioTrabajo" class="">Fecha Programada <span style="color:red">*</span></label>
                                        @Html.TextBox("FechaProgramada")
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <button id="Guardar" type="submit" class="mt-1 btn btn-primary btn-block block-element-btn-example-1" onclick="ListarSolicitudes()"><i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-title">Programación</div>

                        <form class="">

                            <div class="form-row">
                                <div class="col-md-6">
                                    &nbsp;
                                </div>
                                <div class="col-md-2">
                                    <button id="ReporteGlobalCertificado" class="mt-1 btn btn-secondary btn-block">
                                        <i class="fa fa-file-excel"></i> &nbsp; Reporte Global
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button id="btnExcel" type="button" class="mt-1 btn btn-success btn-block" onclick="CargarExcel();"><i class="fa fa-file-excel"></i> &nbsp;Importar Excel</button>
                                </div>
                                <div class="col-md-2">
                                    <button id="btnCalendario" type="button" class="mt-1 btn btn-primary btn-block" onclick="MostrarCalendario();"><i class="fa fa-calendar"></i>&nbsp;Calendario</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <br />
                            </div>
                            <div class="form-row">
                                <table style="width: 100%;" id="tbCertificado" name="tbCertificado" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Gerencia</th>
                                            <th>Área</th>
                                            <th>Persona</th>
                                            <th>Marca</th>
                                            <th>Certificado</th>
                                            <th>Examen</th>
                                            <th>Motivo</th>
                                            <th>Fecha Programada</th>
                                            <th>Monto</th>
                                            <th>Estado</th>
                                            <th style="text-align:center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Gerencia</th>
                                            <th>Área</th>
                                            <th>Persona</th>
                                            <th>Marca</th>
                                            <th>Certificado</th>
                                            <th>Examen</th>
                                            <th>Motivo</th>
                                            <th>Fecha Programada</th>
                                            <th>Monto</th>
                                            <th>Estado</th>
                                            <th style="text-align:center">Opciones</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<iframe id="upload_target" name="upload_target" src="" class="hidden" style="display:none"></iframe>
<iframe id="upload_targetExcel" name="upload_targetExcel" src="" class="hidden" style="display:none"></iframe>

<script type="text/javascript">

    $(document).ready(function () {
        $(".block-element-btn-example-1").click(function () {
            $(".element-block-example").block({
                message: t('<div class="loader mx-auto">\n<div class="ball-grid-pulse">\n<div class="bg-white"></div>\n<div class="bg-white"></div>\n<div class="bg-white"></div>\n                                <div class="bg-white"></div>\n<div class="bg-white"></div>\n<div class="bg-white"></div>\n<div class="bg-white"></div>\n                                <div class="bg-white"></div>\n                                <div class="bg-white"></div>\n</div>\n                        </div>')
            })
        });

        $("#Monto").kendoNumericTextBox({
            format: "#", 
            decimals: 0, 
            min: 0, 
            step: 1 
        });

        var IdGerencia = $("#IdGerencia").kendoComboBox({
            placeholder: "",
            dataTextField: "NAM_CHAR",
            dataValueField: "ID_CHAR",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Certificado/ObtenerListadoGerenciasCertificado?var=" + Math.random()
                }
            }
        });

        $("#IdArea").kendoComboBox({
            cascadeFrom: "IdGerencia",
            placeholder: "",
            dataTextField: "title",
            dataValueField: "ID_CHAR",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Certificado/ObtenerListadoAreasxGerenciaCertificado?var=" + Math.random()
                }
            }
        });

        $("#IdPersEnti").kendoComboBox({
            cascadeFrom: "IdArea",
            dataTextField: "Nombre",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: { url: "/Certificado/ObtenerListadoPersonalxAreaCertificado?var=" + Math.random() }
                }
            }
        });

        var IdMarca = $("#IdMarca").kendoComboBox({
            placeholder: "",
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/ListarMarcas?var=" + Math.random()
                }
            }
        });
        var MotivoId = $("#MotivoId").kendoComboBox({
            placeholder: "",
            dataTextField: "Nombre",
            dataValueField: "MotivoId",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Certificado/ListaMotivoCertificado?var=" + Math.random()
                }
            }
        });

        $("#Nombre").kendoMaskedTextBox({
            mask: ""
        });
        $("#NombreExamen").kendoMaskedTextBox({
            mask: ""
        });

        

        var FechaProgramada = $("#FechaProgramada").kendoDatePicker().data("kendoDateTimePicker");


        ListarCertificados();


    });


    function ListarCertificados() {

        $('#tbCertificado').dataTable().fnDestroy();

        var table = $('#tbCertificado').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            'order': [[0, 'asc']],
            //'select': 'multi',
            ajax: {
                "url": "/Certificado/ListarCertificados/0",
            },
            columns: [
                { data: "Orden" },
                { data: "Gerencia" },
                { data: "Area" },
                { data: "Persona" },
                { data: "Marca" },
                { data: "Certificado" },
                { data: "Examen" },
                { data: "MotivoCertificado" },
                { data: "FechaProgramada" },
                { data: "Monto" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<button type="button" class="btn btn-sm btn-block btn-' + data.Alerta + '">' + data.Estado + '</button>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        var contenido = "";
                        if (data.IdEstado == 1) {
                            contenido = '<div class="form-row">' +
                                '<div class="col-md-2" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer" id="btnReprogramar' + data.Id + '" title="Reprogramar" class="border-0 btn-transition btn btn-outline-secondary" onclick="Reprogramar(' + data.Id + ');"><i class="fa fa-calendar"></i></button></div>' +
                                '<div class="col-md-2" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer"id="btnEditar' + data.Id + '" title="Editar" class="border-0 btn-transition btn btn-outline-secondary" onclick="Editar(' + data.Id + ')" ><i class="fa fa-pencil-alt"></i></button></div>' +
                                '<div class="col-md-2" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer"id="btnEliminar' + data.Id + '" title="Eliminar" class="border-0 btn-transition btn btn-outline-secondary" onclick="Eliminar(' + data.Id + ')"><i class="fa fa-trash-alt"></i></button></div>' +
                                '<div class="col-md-2" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer"id="btnCargar' + data.Id + '" title="Rendir Examen" class="border-0 btn-transition btn btn-outline-secondary" onclick="RendirCertificado(' + data.Id + ')"><i class="fa fa-file"></i></button></div>' +
                                '<div class="col-md-2" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer" id="btnDetalle' + data.Id + '" title="Ver Detalle" class="border-0 btn-transition btn btn-outline-secondary" onclick="location.href=\'/Certificado/DetalleCertificado/' + data.Id + '\'"><i class="fa fa-eye"></i></button></div>' +
                                '</div>';

                        }
                          if (@*@ViewBag.RRHH == "1" &&*@ data.IdEstado == "2") {
                              contenido = contenido +
                                  '<div class="form-row">' +
                                  '<div class="col-md-2 chkCompletado" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer"id="btnCargar' + data.Id + '" title="Cargar certificado" class="border-0 btn-transition btn btn-outline-secondary" onclick="CargarCertificado(' + data.Id + ')"><i class="fa fa-check"></i></button></div>' +
                                  '<div class="col-md-2" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer" id="btnDetalle' + data.Id + '" title="Ver Detalle" class="border-0 btn-transition btn btn-outline-secondary" onclick="location.href=\'/Certificado/DetalleCertificado/' + data.Id + '\'"><i class="fa fa-eye"></i></button></div>';
                        }
                        if (data.IdEstado == "3" || data.IdEstado == "4" || data.IdEstado == "5") {
                            contenido = '<div class="form-row">' +
                                '<div class="col-md-3" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer" id="btnDetalle' + data.Id + '" title="Ver Detalle" class="border-0 btn-transition btn btn-outline-secondary" onclick="location.href=\'/Certificado/DetalleCertificado/' + data.Id + '\'"><i class="fa fa-eye"></i></button></div>' +
                                '</div>';
                        }
                        return contenido;
                    }
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
            ],
            buttons: [
                'csv', 'excel', 'pdf', 'print'
            ]
        });

        @*if(@ViewBag.OPERACIONES == "1"){
            $(".chkCompletado").attr("style","display:none");
        }*@

    }

    function CargarExcel() {

        $("#lblTitulo").text("Importar Excel");

        $("#btnExcel").attr("data-style", "expand-right");
        $("#btnExcel").attr("data-toggle", "modal");
        $("#btnExcel").attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Certificado/ImportarExcel/');
    }

    function MostrarCalendario() {

        $("#lblTitulo").text("Calendario Certificaciones");

        $("#btnCalendario").attr("data-style", "expand-right");
        $("#btnCalendario").attr("data-toggle", "modal");
        $("#btnCalendario").attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Certificado/CalendarioCertificaciones/');
    }


    function Reprogramar(id) {

        $("#lblTitulo").text("Reprogramación");

        $("#btnReprogramar" + id).attr("data-style", "expand-right");
        $("#btnReprogramar" + id).attr("data-toggle", "modal");
        $("#btnReprogramar" + id).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Certificado/Reprogramacion/'+ id);
    }


    function Editar(id) {

        $("#lblTitulo").text("Editar certificado");

        $("#btnEditar" + id).attr("data-style", "expand-right");
        $("#btnEditar" + id).attr("data-toggle", "modal");
        $("#btnEditar" + id).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $('#modal-content').empty();
        $('#modal-content').load('/Certificado/Editar/' + id);
    }

    function Eliminar(id) {

        $("#lblTitulo").text("Eliminar");

        $("#btnEliminar" + id).attr("data-style", "expand-right");
        $("#btnEliminar" + id).attr("data-toggle", "modal");
        $("#btnEliminar" + id).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-sm");

        $('#modal-content').empty();
        $('#modal-content').load('/Certificado/Eliminar/' + id);
    }

    function CargarCertificado(id) {
        $("#lblTitulo").text("Cargar certificado");

        $("#btnCargar" + id).attr("data-style", "expand-right");
        $("#btnCargar" + id).attr("data-toggle", "modal");
        $("#btnCargar" + id).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Certificado/CargarCertificado/'+ id);
    }


    function RendirCertificado(id) {
        $("#lblTitulo").text("Examen");

        $("#btnCargar" + id).attr("data-style", "expand-right");
        $("#btnCargar" + id).attr("data-toggle", "modal");
        $("#btnCargar" + id).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-sm");

        $('#modal-content').empty();
        $('#modal-content').load('/Certificado/RendirExamen/' + id);
    }

    function Limpiar() {
        $("#IdGerencia").data("kendoComboBox").value("");
        $("#IdArea").data("kendoComboBox").value("");
        $("#IdPersEnti").data("kendoComboBox").value("");
        $("#IdMarca").data("kendoComboBox").value("");
        $("#Nombre").val("");
        $("#NombreExamen").val("");
        $("#Monto").data("kendoNumericTextBox").value(0);
        $("#MotivoId").data("kendoComboBox").value("");
        $("#FechaProgramada").val("");
    }


    function MostrarMensaje(msg, descripcion) {
        if (msg == "OK") {
            toastr.success("La solicitud fue registrada correctamente.", "");
            var tabla = $('#tbCertificado').DataTable();
            tabla.ajax.reload();
            Limpiar();
        }
        else if (msg == "VACIO") {
            toastr.warning(descripcion, "Mensaje");
        }
        else {
            toastr.error("Contacte al administrador.", "Error");
        }
    }

    function MostrarMensajeExcel(msg) {
        if (msg == "OK") {
            toastr.success("El excel fue cargado correctamente.", "");
            var tabla = $('#tbCertificado').DataTable();
            tabla.ajax.reload();
            Limpiar();
        }
        else if (msg == "FORMATO") {
            toastr.success("Por favor, seleccione un archivo en formato excel.", "");
            var tabla = $('#tbCertificado').DataTable();
            tabla.ajax.reload();
            Limpiar();
        }
        else {
            toastr.error("Verifique las columnas del archivo Excel(Formato Fecha: MM/DD/YYYY)", "Error");
        }
    }

    /**reporte*/

    $(document).ready(function () {
        $("#ReporteGlobalCertificado").click(function (event) {
            event.preventDefault();
            window.location.href = '/Certificado/DescargarReporteGlobalCertificado';
        });
    });



    $(document).ready(function () {
        $("#FrmRegistrarProgramacion").submit(function (event) {
            $("#Guardar").addClass("btnDeshabilitado");

            setTimeout(function () {
                $("#Guardar").removeClass("btnDeshabilitado");
            }, 5000); 
        });
    });
</script>
