@model ERPElectrodata.Models.DocumentoVenta

@{
    ViewBag.Title = "Crear";
    //Layout = null;
}

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<div class="form-row">
    <div class="card mb-2">
        <div class="card-header-tab card-header">
            Nuevo Registro de Venta
        </div>
        <div class="card-body">
            <div class="text-right">
                <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="radioop" value="1" name="radion" checked>
                        <label class="form-check-label" for="radioop"><strong>OPERACIONES</strong></label>
                    </div>
                <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="radioout" value="2" name="radion">
                        <label class="form-check-label" for="radioout"><strong>MINERIA</strong></label>
                    </div>
                @*@if (Convert.ToInt32(Session["EJECUTIVOCOMERCIAL"]) == 1)
                {
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="radioop" value="1" name="radion" checked>
                        <label class="form-check-label" for="radioop"><strong>OPERACIONES</strong></label>
                    </div>
                }
                else if (Convert.ToInt32(Session["EJECUTIVOCOMERCIAL_OUTSOURCING"]) == 1)
                {
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="radioout" value="2" name="radion" checked>
                        <label class="form-check-label" for="radioout"><strong>OUTSOURCING</strong></label>
                    </div>
                }*@
                </div>
            <hr style="color: #0056b2;" />
            @using (Html.BeginForm("CrearRegistro", "DocumentoVenta", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDocumentoVenta", target = "upload_target" }))
            {
                <div class="form-row">
                    <div class="col-md-2">
                        <div class="editor-label">
                            Tipo OP <span style="color:red">(*)</span>
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.IdTipoOP)
                            @Html.ValidationMessageFor(model => model.IdTipoOP)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-label">
                            OP <span style="color:red">(*)</span>
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.IdOP)
                            @Html.ValidationMessageFor(model => model.IdOP)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-label">
                            Cliente <span style="color:red">(*)</span>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.IdCliente)
                            @Html.ValidationMessageFor(model => model.IdCliente)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-label">
                            Cliente Final <span style="color:red">(*)</span>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.IdClienteFinal)
                            @Html.ValidationMessageFor(model => model.IdClienteFinal)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="editor-label">
                            Objeto del Servicio
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.Servicio)
                            @Html.ValidationMessageFor(model => model.Servicio)
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-2">
                        <div class="editor-label">
                            Tipo de Cambio
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TipoCambio)
                            @Html.ValidationMessageFor(model => model.TipoCambio)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-label">
                            $ Monto Facturado
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.MontoDolares)
                            @Html.ValidationMessageFor(model => model.MontoDolares)
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="editor-label">
                            S/ Monto Facturado
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.MontoSoles)
                            @Html.ValidationMessageFor(model => model.MontoSoles)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label">
                            Fecha Inicio Contrato
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FechaInicioContrato)
                            @Html.ValidationMessageFor(model => model.FechaInicioContrato)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label">
                            Fecha Fin Contrato
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FechaFinContrato)
                            @Html.ValidationMessageFor(model => model.FechaFinContrato)
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="editor-label">
                            Fecha Inicio Soporte
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FechaInicioSoporte)
                            @Html.ValidationMessageFor(model => model.FechaInicioSoporte)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="editor-label">
                            Fecha Fin Soporte
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FechaFinSoporte)
                            @Html.ValidationMessageFor(model => model.FechaFinSoporte)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <button id="submit" class="btn btn-primary btn-block">Crear</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="editor-label">
                            Descripción de la Solución
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Descripcion)
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script id="tmp-CIA" type="text/x-kendo-template">
    <div style="width: 100%; font-size: 1em;">
        <span style="width:100%; font-size:1em;">#= COM_NAME #</span>
        <div style="width:100%; font-size:0.9em; margin-top:-5px;">RUC: #= NUM_TYPE_DI #</div>
    </div>
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#Descripcion").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        /*$('#radioop').kendoRadioButton({
            //label: "1.4 Petrol, 92kW",
            checked: true,

        });
        $('#radioout').kendoRadioButton({
            //label: "1.4 Petrol, 92kW",
            checked: false
        });*/

        $("#IdTipoOP").kendoComboBox({
            autoBind: false,
            dataTextField: "COD_TYPE_DOCU_SALE",
            dataValueField: "ID_TYPE_DOCU_SALE",
            filter: "contains",
            suggest: true,
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeDocumentSale/ListAll?var=" + Math.random()
                }
            }
        });
        var IdTipoOP = $("#IdTipoOP").data("kendoComboBox");

        $("#IdOP").kendoComboBox({
            autoBind: false,
            dataTextField: "NUM_DOCU_SALE",
            dataValueField: "ID_DOCU_SALE",
            cascadeFrom: 'IdTipoOP',
            filter: "contains",
            suggest: true,
            dataSource: {
                //type: "odata",
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count",
                    //type: "json"
                },
                transport: {
                    read: "/TypeDocumentSale/ListOPxTipo?var=" + Math.random(),
                    parameterMap: function (data,read) {
                        //return kendo.stringify(data);
                        return {
                            EstadoTipo: $("#radioop").prop('checked') == true ? '1' : $("#radioout").prop('checked') == true ? '2' : '0',
                            //EstadoTipo: !!document.getElementById("radioop") == true ? '1' : '2',
                            idTypeDocuSale: data.filter.filters[0].field,
                            IdTypeOp: data.filter.filters[0].value,
                            //texto: data.filter.filters[1].value
                        }
                    }
                }
            }
        });
        var IdOP = $("#IdOP").data("kendoComboBox");

        var IdCliente = $("#IdCliente").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            suggest: true,
            template: kendo.template($("#tmp-CIA").html()),
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        IdCliente.list.width(350);

        var IdClienteFinal = $("#IdClienteFinal").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            suggest: true,
            template: kendo.template($("#tmp-CIA").html()),
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        IdClienteFinal.list.width(350);

        var FechaInicioContrato = $("#FechaInicioContrato").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaFinContrato = $("#FechaFinContrato").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaInicioSoporte = $("#FechaInicioSoporte").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaFinSoporte = $("#FechaFinSoporte").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#TipoCambio").kendoNumericTextBox({
            format: '#.###',
            decimals: 3,
            min: 0
        });
        $("#MontoDolares").kendoNumericTextBox({
            format: '#.###',
            decimals: 3,
            min: 0
        });
        $("#MontoSoles").kendoNumericTextBox({
            format: '#.###',
            decimals: 3,
            min: 0
        });

    });
</script>

<script type="text/javascript">

    function uploadDone(msg, code) {
        if (msg == "OK") {

            toastr.success("", "Información actualizada");

            setTimeout(function () {
                location = "http://" + location.host + "/DocumentoVenta/Detalle/" + code;
            }, 1500);

        }
        else {

            var titulo = 'Advertencia';
            var mensaje = 'Contacte al Administrador.';

            if (code == 1) {
                mensaje = 'La OP ingresada no es válida, verifique por favor.';
            } else
                if (code == 2) {
                    mensaje = 'Por favor ingrese los datos obligatorios.';
                }

            toastr.error(mensaje, titulo);
        }
    }
    $(function () {
        $('input[name=radion]').change(function (e) {
            var cbtop = $("#IdTipoOP").data("kendoComboBox");
            cbtop.value("");
        });
    });

</script>
