@model ERPElectrodata.Models.SoporteFabricante

@{
    ViewBag.Title = "EditarSoporteFabricante";
    Layout = null;
}
<style>
    .k-content.k-iframe {
        box-sizing: border-box;
        border-width: 0.02px;
        border-style: solid;
        border-color: #bdbdbd !important;
        border-radius: 4px;
    }

    table.k-editor {
        height: 150px;
        border-color: white !important;
    }

    tr[role="presentation"] {
        display: none;
    }
</style>
@using (Html.BeginForm("EditarSoporteFabricante", "SoporteFabricante", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmRegistrar", name = "FrmRegistrar", target = "FrmRegistrar" }))
{

    <input type="hidden" id="IdDocuSale" name="IdDocuSale" value="@ViewBag.IdDocuSale" />
    <input type="hidden" id="IdSoporteFab" name="IdSoporteFab" value="@ViewBag.IdSoporteFab" />

    <div class="form-row">
        <div class="col-md-12">
            <div class="mb-3 card">
                <div class="card-header">Datos Generales</div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div>Fabricante <b>(*)</b></div> <!--IdAccoPara-->
                            <input id="cbFabricantes" name="cbFabricantes" class="dropdownKendo">
                            @*<select id="cbFabricantes" name="cbFabricantes" class="form-control select2" type="text" style="width:100%"></select>*@
                        </div>
                        <div class="col-md-6">
                            Fecha Inicio Soporte<b>(*)</b>
                            <input type="text" class="form-control pull-right" id="dtInicioSoporteFab" name="dtInicioSoporteFab" value="@ViewBag.FechaInicio" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            Fecha Fin Soporte<b>(*)</b>
                            <input type="text" class="form-control pull-right" id="dtFinSoporteFab" name="dtFinSoporteFab" value="@ViewBag.FechaFin" />
                        </div>
                        <div class="col-md-6">
                            RMA
                            <input id="txtRMAs" name="txtRMAs" value="@ViewBag.RMA" type="text" style="width: 100%; border-width: 0.02px; border-style: solid; border-color: #bdbdbd !important; border-radius: 2px;">
                            @*<select id="cbRMAs" name="cbRMAs" class="form-control select2" type="text" style="width:100%"></select>*@
                        </div>
                        @*<div class="col-md-6">
                                <div style="font-size:12px">Mant. Preventivos Totales <b>(*)</b></div>
                                <input id="txtMantPrevFab" name="txtMantPrevFab" class="form-control" type="number" style="width:100%;" min="0" value="@ViewBag.MantPrev" disabled />
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-4">
                <div class="main-card card">
                    <div class="card-header">Listado de Soportes</div>
                    <div class="card-body" style="overflow-y: scroll;max-height:157px">
                        <div id="divListadoSoporteFab">
                            En esta sección se mostrará el listado de soportes.
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="form-row">
        <div class="col-md-12">
            Productos
            @if (@ViewBag.Productos == "Nuevo")
            {
                <input id="cbProductosEditar" name="cbProductosEditar" type="text" style="width: 100%" data-text-field="text" data-value-field="value">
            }
            else
            {
                <textarea id="txtProductosFab" name="txtProductosFab" placeholder="Productos..." style="width: 100%; height: 150px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">@ViewBag.Productos</textarea>
            }

        </div>
        @*<div class="col-md-6">
                Observaciones
                <textarea id="txtObservacionesFab" name="txtObservacionesFab" placeholder="Observaciones..." style="width: 100%; height: 150px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">@ViewBag.Observaciones</textarea>
            </div>*@
    </div>
    <div class="form-row">
        <!--<div class="col-md-12">
            Productos
            <input id="cbProductosEditar" name="cbProductosEditar" type="text" style="width: 100%" data-text-field="text" data-value-field="value">-->
        @*<textarea id="txtProductosFab" name="txtProductosFab" placeholder="Productos..." style="width: 100%; height: 150px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">@ViewBag.Productos</textarea>*@
        <!--</div>-->
        <div class="col-md-12">
            Observaciones
            <textarea id="txtObservacionesFab" name="txtObservacionesFab" placeholder="Observaciones...">@ViewBag.Observaciones</textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-9">
            <br />
        </div>
        <div class="col-md-3">
            &nbsp;
            <input id="btnEditarSoporteFabricante" name="btnEditarSoporteFabricante" class="btn btn-block btn-primary btn-sm" type="submit" value="Guardar" />

            @*<input id="btnEditarSoporteFabricante" name="btnEditarSoporteFabricante" class="btn btn-block btn-primary btn-sm" type="button" value="Guardar" onclick="EditarSoporteFabricante();" />*@
        </div>
    </div>


}

<iframe id="FrmRegistrar" name="FrmRegistrar" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>


<script type="text/javascript">

    $(document).ready(function () {

        $('#dtInicioSoporteFab').kendoDatePicker();
        $('#dtFinSoporteFab').kendoDatePicker();

        $("#FrmRegistrar").submit(function (event) {
            var selectedItems = $("#cbProductosEditar").data("kendoMultiSelect").dataItems(); // Obtener los objetos completos de los elementos seleccionados
            var selectedValues = $.map(selectedItems, function (item) {
                return item.id;
            });
            var inputValues = $("<input>").attr("type", "hidden").attr("name", "SelectedProductos").val(selectedValues);
            $(this).append(inputValues);

            var selectedTexts = $.map(selectedItems, function (item) { // Obtener el texto de los elementos seleccionados
                return item.text;
            });
            var inputTexts = $("<input>").attr("type", "hidden").attr("name", "SelectedProductosText").val(selectedTexts.join('|')); // Unir los textos separados por coma
            $(this).append(inputTexts);
        });



        var cbFabricantes = $("#cbFabricantes").kendoDropDownList({
    dataTextField: "text",
    dataValueField: "id",
    filter: "contains",
    autoBind: true,
    suggest: true,
    value: "@ViewBag.IdFabricante",
    change: function (e) {
        var selectedFabricanteId = this.value();
        $("#cbProductosEditar").data("kendoMultiSelect").dataSource.transport.options.read.data = { ID_DOCU_SALE: @ViewBag.IdDocuSale, ID_MANU: selectedFabricanteId };
        $("#cbProductosEditar").data("kendoMultiSelect").dataSource.read();
    },
    dataSource: {
        transport: {
            read: {
                url: "/SoporteFabricante/ListarFabricanteOP",
                data: { NumDocuSale: @ViewBag.IdDocuSale },
                dataType: "json"
            }
        },
        schema: {
            data: function (response) {
                return response;
            }
        }
    },
    dataBound: function(e) {
        // Trigger the change event programmatically when the data is bound
        this.trigger("change");
    }
});

        $("#cbProductosEditar").kendoMultiSelect({
            dataTextField: "text",
            placeholder: "Seleccionar productos",
            dataValueField: "id",
            autoBind: true,
            suggest: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/SoporteFabricante/ListaProductosxFabricante",
                        data: { ID_DOCU_SALE: @ViewBag.IdDocuSale,ID_MANU: 0 },
                        dataType: "json"
                    }
                },
                schema: {
                    data: function (response) {
                        return response;
                    }
                }
            }
        });

        @*var cbRMAs = $("#cbRMAs").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "id",
            filter: "contains",
            autoBind: true,
            suggest: true,
            value: "@ViewBag.IdRMA",
            dataSource: {
                transport: {
                    read: {
                        url: "/SoporteFabricante/ListarRMA",
                        dataType: "json"
                    }
                },
                schema: {
                    data: function (response) {
                        return response;
                    }
                }
            }
        });*@

        //$("#cbFabricantes").select2({
        //    id: function (e) { return e.id; },
        //    placeholder: 'Seleccione...',
        //    minimumResultsForSearch: 1,
        //    minimumInputLength: 0,
        //    multiple: false,
        //    allowClear: true,
        //    ajax: {
        //        url: "/SoporteFabricante/ListarFabricante",
        //        dataType: 'json',
        //        //type: "POST",
        //        //params: {
        //        //    contentType: 'application/json; charset=utf-8'
        //        //},
        //        quietMillis: 100,
        //        data: function (params) {
        //            return {
        //                q: params.term,
        //                page: params.page
        //            };
        //        },
        //        processResults: function (data, page) {
        //            return { results: data };
        //        },
        //    }
        //});

        //Asignación inicial
        var $newOption = $("<option></option>").val("").text("@ViewBag.Fabricante");
        $("#cbFabricantes").append($newOption).trigger('change');


        $("#txtProductosFab").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
            ], encoded: false
        });

        $("#txtObservacionesFab").kendoEditor({
            tools: [], encoded: false
        });

        ObtenerSoporteFabDetalle();
        ObtenerProductosSoporteFabricante();
    });

    function ObtenerSoporteFabDetalle() {
        $.ajax({
            url: "/SoporteFabricante/ObtenerSoporteFabDetalle/" + $("#IdSoporteFab").val(),
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                var IdMant;
                var cont = 1;
                $("#divListadoSoporteFab").empty();
                $.each(source['data'], function (index, value) {
                    var ticket = "";
                    if ((source['data'][index]['Ticket']) == 1) {
                        ticket = " (Tiene ticket)";
                    }

                    IdMant = (source['data'][index]['IdMant']);
                    $("#divListadoSoporteFab").append(
                        '<div class="form-row">' +
                        'Soporte ' + cont + ticket +
                        '<input type="text" class="form-control pull-right" id="dtSoporte' + IdMant + '" name="dtSoporte' + IdMant + '" value="' + (source['data'][index]['FechaMantenimiento']) + '"/>' +
                        '</div>');

                    if ((source['data'][index]['Ticket']) == 1) {
                        $("#dtSoporte" + IdMant).prop("readonly", "readonly");
                    }
                    $("#dtSoporte" + IdMant).kendoDatePicker().data("kendoDateTimePicker");
                    cont = cont + 1;
                });
                if (cont == 1) {
                    $("#divListadoSoporteFab").append("No aplica mantenimientos. ");
                }
            },
        });
    }


   function ObtenerProductosSoporteFabricante() {
    var IdSoporteFab = @ViewBag.IdSoporteFab;
    var listaproductos = $("#cbProductosEditar").data("kendoMultiSelect");
    var lista = [];

    $.ajax({
        url: "/SoporteFabricante/ObtenerProductosPorSoporteFabricante?Id=" + IdSoporteFab,
        type: 'GET',
        success: function (data) {
            if (data.length > 0) {
                $.each(data, function (index, item) {
                    lista.push(item.Id);
                });
            }
            listaproductos.value(lista);
        }
    });
}

    function MensajeConfirmacion(resp) {
        if (resp == "OK") {
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.success("", "El registro ha sido guardado.");
            var tbProyectos = $('#tablaSoporteFabricante').DataTable();
            tbProyectos.ajax.reload();
        }
        else {
            if (resp == "1") {
                toastr.warning("Complete los campos necesarios.", "Mensaje");
            } else if (resp == "ERROR") {
                toastr.warning("Verifique los datos porfavor.", "Mensaje");
            }
        }
    }

</script>
