@model ERPElectrodata.Models.Categoria
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="main-card card">
            @using (Html.BeginForm("EditarCategoria", "ServiceNow", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEditarCategoria", target = "upload_target" }))
            {
                <input type="hidden" id="id_Categoria" name="id_Categoria" value="@Model.id_Categoria" />
                <input type="hidden" id="created_at" name="created_at" value="@Model.created_at" />
                <input type="hidden" id="id_TipoAtencion" name="id_TipoAtencion" value="@Model.id_TipoAtencion" />
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label id="" for="" class="">Categoria</label>
                                            <input class="form-control" type="text" id="Categoria1" name="Categoria1" value="@Model.Categoria1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="titulo"></label>
                                            <label class="font-weight-bold">Horas Estimadas</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8 form-row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="titulo">Supervisión</label>
                                                <input class="form-control" type="number" id="Supervision_estimado" name="Supervision_estimado" value="@Model.Supervision_estimado" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="titulo">Infraestructura</label>
                                                <input class="form-control" type="number" id="Infraestructura_estimado" name="Infraestructura_estimado" value="@Model.Infraestructura_estimado" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="titulo">HelpDesk</label>
                                                <input class="form-control" type="number" id="HelpDesk_estimado" name="HelpDesk_estimado" value="@Model.HelpDesk_estimado" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="titulo">Soporte Usuario</label>
                                                <input class="form-control" type="number" id="SoporteUser_estimado" name="SoporteUser_estimado" value="@Model.SoporteUser_estimado" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="titulo">Arquitectura</label>
                                                <input class="form-control" type="number" id="Arquitectura_estimado" name="Arquitectura_estimado" value="@Model.Arquitectura_estimado" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="titulo">Servicio DBA</label>
                                                <input class="form-control" type="number" id="ServicioDBA_estimado" name="ServicioDBA_estimado" value="@Model.ServicioDBA_estimado" step="any" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="titulo font-weight-bold">Total</label>
                                            <input class="form-control" type="number" id="TotalHoras_estimado" name="TotalHoras_estimado" value="@Model.TotalHoras_estimado" step="any" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <label class="font-weight-bold">Horas Reales</label>
                                    </div>
                                    <div class="col-md-8 form-row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input class="form-control" type="number" id="Supervision_real" name="Supervision_real" value="@Model.Supervision_real" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input class="form-control" type="number" id="Infraestructura_real" name="Infraestructura_real" value="@Model.Infraestructura_real" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input class="form-control" type="number" id="HelpDesk_real" name="HelpDesk_real" value="@Model.HelpDesk_real" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input class="form-control" type="number" id="SoporteUser_real" name="SoporteUser_real" value="@Model.SoporteUser_real" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input class="form-control" type="number" id="Arquitectura_real" name="Arquitectura_real" value="@Model.Arquitectura_real" step="any" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input class="form-control" type="number" id="ServicioDBA_real" name="ServicioDBA_real" value="@Model.ServicioDBA_real" step="any" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input class="form-control" type="number" id="TotalHoras_real" name="TotalHoras_real" value="@Model.TotalHoras_real" step="any" readonly />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Supervisión estimado</label>
                                        <input class="form-control" type="number" id="Supervision_estimado" name="Supervision_estimado" value="@Model.Supervision_estimado" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Supervisión real</label>
                                        <input class="form-control" type="number" id="Supervision_real" name="Supervision_real" value="@Model.Supervision_real" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Infraestructura estimado</label>
                                        <input class="form-control" type="number" id="Infraestructura_estimado" name="Infraestructura_estimado" value="@Model.Infraestructura_estimado" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Infraestructura real</label>
                                        <input class="form-control" type="number" id="Infraestructura_real" name="Infraestructura_real" value="@Model.Infraestructura_real" step="any" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="" for="" class="">HelpDesk estimado</label>
                                        <input class="form-control" type="number" id="HelpDesk_estimado" name="HelpDesk_estimado" value="@Model.HelpDesk_estimado" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">HelpDesk real</label>
                                        <input class="form-control" type="number" id="HelpDesk_real" name="HelpDesk_real" value="@Model.HelpDesk_real" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Soporte usuario estimado</label>
                                        <input class="form-control" type="number" id="SoporteUser_estimado" name="SoporteUser_estimado" value="@Model.SoporteUser_estimado" step="any" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Soporte usuario real</label>
                                        <input class="form-control" type="number" id="SoporteUser_real" name="SoporteUser_real" value="@Model.SoporteUser_real" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Arquitectura estimado</label>
                                        <input class="form-control" type="number" id="Arquitectura_estimado" name="Arquitectura_estimado" value="@Model.Arquitectura_estimado" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Arquitectura real</label>
                                        <input class="form-control" type="number" id="Arquitectura_real" name="Arquitectura_real" value="@Model.Arquitectura_real" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Servicio DBA estimado</label>
                                        <input class="form-control" type="number" id="ServicioDBA_estimado" name="ServicioDBA_estimado" value="@Model.ServicioDBA_estimado" step="any" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Servicio DBA real</label>
                                        <input class="form-control" type="number" id="ServicioDBA_real" name="ServicioDBA_real" value="@Model.ServicioDBA_real" step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Total de Horas estimado</label>
                                        <input class="form-control" type="number" id="TotalHoras_estimado" name="TotalHoras_estimado" value="@Model.TotalHoras_estimado"  step="any" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label id="" for="" class="">Total de Horas real</label>
                                        <input class="form-control" type="number" id="TotalHoras_real" name="TotalHoras_real" value="@Model.TotalHoras_real" step="any" />
                                    </div>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block text-right card-footer">
                    <button class="btn-shadow btn btn-primary" id="submit" type="submit">Guardar</button>
                </div>
            }

        </div>
    </div>
    <button id="closeModal" data-dismiss="modal" hidden></button>
</div>
<script>
    //Cambio total de Horas
    //Estimado
    $('#Supervision_estimado').on('change', function (e) {
        calcularTotalHorasEstimadas()
    })
    $('#Infraestructura_estimado').on('change', function (e) {
        calcularTotalHorasEstimadas()
    })
    $('#HelpDesk_estimado').on('change', function (e) {
        calcularTotalHorasEstimadas()
    })
    $('#SoporteUser_estimado').on('change', function (e) {
        calcularTotalHorasEstimadas()
    })
    $('#Arquitectura_estimado').on('change', function (e) {
        calcularTotalHorasEstimadas()
    })
    $('#ServicioDBA_estimado').on('change', function (e) {
        calcularTotalHorasEstimadas()
    })
    //Real
    $('#Supervision_real').on('change', function (e) {
        calcularTotalHorasReales()
    })
    $('#Infraestructura_real').on('change', function (e) {
        calcularTotalHorasReales()
    })
    $('#HelpDesk_real').on('change', function (e) {
        calcularTotalHorasReales()
    })
    $('#SoporteUser_real').on('change', function (e) {
        calcularTotalHorasReales()
    })
    $('#Arquitectura_real').on('change', function (e) {
        calcularTotalHorasReales()
    })
    $('#ServicioDBA_real').on('change', function (e) {
        calcularTotalHorasReales()
    })

    function calcularTotalHorasEstimadas() {
        const supervEst = parseFloat(document.getElementById('Supervision_estimado').value)
        const InfraEst = parseFloat(document.getElementById('Infraestructura_estimado').value)
        const helpDeskEst = parseFloat(document.getElementById('HelpDesk_estimado').value)
        const SoporteUserEst = parseFloat(document.getElementById('SoporteUser_estimado').value)
        const ArquiEst = parseFloat(document.getElementById('Arquitectura_estimado').value)
        const ServDBAEst = parseFloat(document.getElementById('ServicioDBA_estimado').value)
        const horasEstimada = supervEst + InfraEst + helpDeskEst + SoporteUserEst + ArquiEst + ServDBAEst
        document.getElementById('TotalHoras_estimado').value = horasEstimada.toFixed(2)
    }
    function calcularTotalHorasReales() {
        const supervReal = parseFloat(document.getElementById('Supervision_real').value)
        const InfraReal = parseFloat(document.getElementById('Infraestructura_real').value)
        const helpDeskReal = parseFloat(document.getElementById('HelpDesk_real').value)
        const SoporteUserReal = parseFloat(document.getElementById('SoporteUser_real').value)
        const ArquiReal = parseFloat(document.getElementById('Arquitectura_real').value)
        const ServDBAReal = parseFloat(document.getElementById('ServicioDBA_real').value)
        const horasReal = supervReal + InfraReal + helpDeskReal + SoporteUserReal + ArquiReal + ServDBAReal
        document.getElementById('TotalHoras_real').value = horasReal.toFixed(2)
    }
</script>