@model ERPElectrodata.Models.CHANGE_REQUEST
@{
    Layout = null;
}
<style>
    .fieldlist {
        margin: 0 0 -1em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }
</style>

<div style="width:58%;">

    <div class="titleForm" style="width:100%;">
        <div style="display:inline-block; width:100%; height:20px;">
            <div class="title" style="float:left;">
                <span style="text-transform: none">&nbsp; Solicitud de Cambio</span>
            </div>
        </div>
    </div>

    <div class="bodyForm" style="width:100%;">
        <div class="inBodyForm">
            <div style="clear:both"></div>

            @* -------------------------------------FORMULARIO--------------------------------- *@

            @using (Html.BeginForm("Create", "ChangeRequest", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmChangeRequest", target = "FrmChangeRequest" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    @*<legend>DOCUMENT</legend>*@

                    <div class="divFondoUno">
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Clasificación de Cambio(*)
                            </div>
                            <div class="editor-field">
                                <input type="text" id="ID_CHANGE_TYPE" name="ID_CHANGE_TYPE" />
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                        <div class="divCont3 changeType">
                            <div class="editor-label">
                                Tipo de Cambio(*)
                            </div>
                            <div class="editor-field">
                                <input type="text" id="ID_CHANGE_TYPE_DET" name="ID_CHANGE_TYPE_DET" />
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                        </div>
                    </div>
                    <div class="divFondoDos">
                        <div class="divSpace3"></div>
                        <div class="divCont3 otherChange divHide" style="width: 95.5%;">
                            <div class=" editor-label">
                                Descripción
                            </div>
                            <div class="k-textbox" style="max-width:98%;">
                                @Html.EditorFor(model => model.otherChange)
                            </div>
                        </div>
                        <div class="divCont3 urgentDetail divHide" style="width: 95.5%; ">
                            <div class=" editor-label">
                                Descripción
                            </div>
                            <div class="k-textbox" style="max-width:98%;">
                                @Html.EditorFor(model => model.urgentDetail)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                    </div>
                    <h3>IMPACTO</h3>
                    <p>Aspectos sobre el análisis del Impacto</p>
                    <div class="divFondoUno">
                        <div class="divSpace3"></div>
                        <div class="divCont3" style="width: 95.5%;">
                            <div class="editor-label">
                                <h3>Caracteristicas del Impacto</h3>
                            </div>
                            <div class="editor-field" style="max-width:98%;">

                                <ul class="fieldlist">
                                    <li>
                                        <input type="checkbox" id="1" name="chk01" class="k-checkbox" onclick='allCheck(this);'>
                                        <label class="k-checkbox-label" for="1">Impacto en el Servicio (> 2hr)</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="2" name="chk01" class=" k-checkbox" onclick='allCheck(this);'>
                                        <label class="k-checkbox-label" for="2">Impacto sobre varios usuarios</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="3" name="chk01" class="k-checkbox" onclick='allCheck(this);'>
                                        <label class="k-checkbox-label" for="3">Impacto sobre un usuario</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="4" name="chk01" class="k-checkbox" onclick='allCheck(this);'>
                                        <label class="k-checkbox-label" for="4">Impacto sobre activos de la empresa que requieren inversión no prevista.</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="5" name="chk01" class="k-checkbox" onclick='otherCheck(this);'>
                                        <label class="k-checkbox-label" for="5">Otro</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                    </div>
                    <div class="divFondoUno otherImpact divHide">
                        <div class="divSpace3"></div>
                        <div class="divCont3" style="width: 95.5%;">
                            <div class="editor-label">
                                Descripcion
                            </div>
                            <div class="k-textbox" style="max-width:98%;">
                                @Html.EditorFor(model => model.otherImpact)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                    </div>
                    <h3>PRIORIDAD DEL CAMBIO</h3>
                    <p>La prioridad del cambio será determinada en función del impacto y urgencia del mismo sobre la Organización y la infraestructura del servicio</p>
                    <div class="divFondoDos">
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Prioridad
                            </div>
                            <div class="editor-field">
                                <input type="text" id="ID_PRIORITY" name="ID_PRIORITY" />
                            </div>
                        </div>

                        <div class="divSpace3"></div>
                    </div>
                    <h3>DESARROLLO DEL CAMBIO</h3>
                    <div class="divFondoUno">
                        <div class="divSpace3"></div>
                        <div class="divCont3" style="width: 95.5%;">
                            <div class="editor-label">
                                ¿Porque requiere realizar el cambio?
                            </div>
                            <div class="k-textbox" style="max-width:98%;">
                                @Html.EditorFor(model => model.question1)
                            </div>
                        </div>
                        <div class="divSpace3"></div>

                    </div>
                    <div class="divFondoDos">
                        <div class="divSpace3"></div>
                        <div class="divCont3" style="width: 95.5%;">
                            <div class="editor-label">
                                Describir el cambio *
                            </div>
                            <div class="k-textbox" style="max-width:98%;">
                                @Html.EditorFor(model => model.question2)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                    </div>
                    <div class="divFondoUno">
                        <div class="divSpace3"></div>
                        <div class="divCont3" style="width: 95.5%;">
                            <div class="editor-label">
                                ¿Cual son los beneficios del cambio?
                            </div>
                            <div class="k-textbox" style="max-width:98%;">
                                @Html.EditorFor(model => model.question3)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                    </div>
                    <div style="width:97.7%;">
                        <button style="float:right;" id="reset" class="k-button">Cancel</button>
                        <div style="float:right;padding:0px 10px 0px 10px; ">
                            <button id="submit" class="k-button">Create</button>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="height:15px;"></div>

                </fieldset>
            }
        </div>
    </div>
</div>
<iframe id="FrmChangeRequest" name="FrmChangeRequest" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        $('#wizard').smartWizard();
        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
        $(".otherChange").addClass("divHide");
        $(".urgentDetail").addClass("divHide");
        $(".otherImpact").addClass("divHide");
        $(".buttonFinish").submit();
        var ID_CHANGE_TYPE = $("#ID_CHANGE_TYPE").kendoComboBox({
            dataTextField: "details",
            dataValueField: "id",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data"
                },
                transport: {
                    read: "/ChangeRequest/ListChangeType?var=" + Math.random()
                }
            },
            change: function (e) {
                if (ID_CHANGE_TYPE.dataItem().id == 3) {
                    debugger;
                    $(".urgentDetail").removeClass("divHide");
                    $(".otherChange").addClass("divHide");
                    $(".changeType").addClass("divHide");
                }
                else {
                    $(".otherChange").addClass("divHide");
                    $(".urgentDetail").addClass("divHide");
                    $(".changeType").removeClass("divHide");
                }
            }
        }).data("kendoComboBox");

        var ID_CHANGE_TYPE_DET = $("#ID_CHANGE_TYPE_DET").kendoComboBox({
            dataTextField: "detail",
            dataValueField: "id",
            cascadeFrom: 'ID_CHANGE_TYPE',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data"
                },
                transport: {
                    read: "/ChangeRequest/ListChangeDetails?var=" + Math.random()
                }
            },
            change: function (e) {
                if (ID_CHANGE_TYPE_DET.dataItem().detail == "Otro") {
                    $(".otherChange").removeClass("divHide");
                    $(".urgentDetail").addClass("divHide");
                }
                else {
                    $(".otherChange").addClass("divHide");
                    $(".urgentDetail").addClass("divHide");
                }
            }
        }).data("kendoComboBox");
        var ID_PRIORITY = $("#ID_PRIORITY").kendoComboBox({
            dataTextField: "detail",
            dataValueField: "id",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            autoWidth: true,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data"
                },
                transport: {
                    read: "/ChangeRequest/ListPriority?var=" + Math.random()
                }
            },
        }).data("kendoComboBox");
        //ID_PRIORITY.list.width(500);

    });
    function otherCheck(cb) {
        if (cb.checked)
            $(".otherImpact").removeClass("divHide");
        else
            $(".otherImpact").addClass("divHide");
    }
    function allCheck(cb) {
        //alert(2);
        //if (cb.checked) {
        //    debugger;
        //    if ($('#eq5')[0].checked) {
        //        $('#eq5')[0].checked = false;
        //        $(".otherImpact").addClass("divHide");
        //    }
        //}
    }

</script>
