@{
    ViewBag.Title = "RegistrarGestionCambio";
    Layout = null;
}

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link rel="stylesheet" href="~/Content/themes/plugin/iCheck/all.css">
<script src="~/Content/themes/plugin/iCheck/icheck.min.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<style>
    r {
        color: #F83C50;
        font-weight: bold;
    }
</style>

@using (Html.BeginForm("GuardarGestionCambio", "ChangeRequest", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmRegistrarCambio", name = "FrmRegistrarCambio", target = "FrmRegistrarCambio" }))
{
    <div id="mensajeGestionCambio"></div>
    <input type="hidden" id="Contador" name="Contador" value="0" />
    <input type="hidden" id="Flag" name="Flag" value="0" />
    <input type="hidden" id="IdTicket" name="IdTicket" value="@ViewBag.IdTicket" />
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Clasificación del Cambio
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                Clasificación del Cambio <r>(*)</r>
                                <select id="cbClasificacionCambio" name="cbClasificacionCambio" class="form-control input-sm select2" type="text" style="width:100%" ></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" id="divTipoDescripcion">
                        <div class="col-md-12">
                            <div class="form-group">
                                Descripción <r>(*)</r>
                                <input id="txtTipoDescripcion" name="txtTipoDescripcion" class="form-control" type="text" style="width:100%" />
                            </div>
                        </div>

                    </div>
                    <div class="form-row" id="divTipoCambio">
                        <div class="col-md-12">
                            <div class="form-group">
                                Tipo del Cambio <r>(*)</r>
                                <select id="cbTipoCambio" name="cbTipoCambio" class="form-control input-sm select2" type="text" style="width:100%" ></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                Prioridad del Cambio <r>(*)</r>
                                <select id="cbPrioridad" name="cbPrioridad" class="form-control input-sm select2" type="text" style="width:100%" ></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Características del Impacto
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="divImpacto"></div>
                            </div>
                        </div>
                        <div class="form-row" id="divImpactoDescripcion">
                            <div class="col-md-12">
                                <div class="form-group">
                                    Descripción
                                    <input id="txtImpactoDescripcion" name="txtImpactoDescripcion" class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Desarrollo del Cambio
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                ¿Por qué requiere realizar el cambio? <r>(*)</r>
                                <input id="txtPregunta1" name="txtPregunta1" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Describir el cambio<r> (*)</r>
                                <input id="txtPregunta2" name="txtPregunta2" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                ¿Cual son los beneficios del cambio? <r>(*)</r>
                                <input id="txtPregunta3" name="txtPregunta3" class="form-control " type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                ¿Cual es el riesgo relacionado al cambio? <r>(*)</r>
                                <input id="txtPregunta4" name="txtPregunta4" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Detalle del Cambio
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block" id="add_row">
                                    <i class="fa fa-plus"></i> Agregar
                                </button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table id="tablaDetalleCambio" class="table table-bordered table-striped table-responsive" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Actividad</th>
                                            <th>Responsable</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th>Descripción</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select id='cbActividad0' name='cbActividad0' class='form-control input-sm select2' type='text' style="width:100%" ></select>

                                            </td>
                                            <td>
                                                <select id='cbResponsable0' name='cbResponsable0' class='form-control input-sm select2' type='text' style="width:100%" ></select>

                                            </td>
                                            <td>
                                                <div class='input-group'>
                                                    <div class="input-group-prepend datepicker-trigger">
                                                        <div class="input-group-text">
                                                            <i class="fa fa-calendar-alt"></i>
                                                        </div>
                                                    </div>
                                                    <input type='text' class='form-control pull-right' id='dtFechaInicio0' name='dtFechaInicio0' />

                                                </div>
                                            </td>
                                            <td>
                                                <div class='input-group'>
                                                    <div class="input-group-prepend datepicker-trigger">
                                                        <div class="input-group-text">
                                                            <i class="fa fa-calendar-alt"></i>
                                                        </div>
                                                    </div>
                                                    <input type='text' class='form-control pull-right' id='dtFechaFin0' name='dtFechaFin0' />

                                                </div>
                                            </td>

                                            <td><input id='Descripcion0' name='Descripcion0' type='text' placeholder='Descripción' class='form-control input-md'></td>

                                            <td style='text-align:center'><button id='EliminarFila' type='button' class='btn btn-danger btn-sm'><strong>X</strong></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-8">
                            <div class="form-group">
                                &nbsp;
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button id="submit" class="btn btn-block btn-primary" onclick="MensajeCargando();">GUARDAR</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
<iframe id="FrmRegistrarCambio" name="FrmRegistrarCambio" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>


<script>
    $(document).ready(function () {

        $("#divTipoDescripcion").hide();
        $("#divImpactoDescripcion").hide();
        if(@ViewBag.IdTipoCambioCategoria=="0"){
            ListarCambioImpacto();
        }
        ObtenerDatosDetalleCambio(0);

        $('body').css('padding-right','0');

        var i=1;
        $("#add_row").click(function(){
            var newRow = $("<tr>");
            var cols =
                "<td>"+
                "<select id='cbActividad" + i + "' name='cbActividad" + i +"' class='form-control input-sm select2' type='text' style='width:100%' ></select>"+
                "</td>"+
                "<td>"+
                "<select id='cbResponsable" + i + "' name='cbResponsable" + i +"' class='form-control input-sm select2' type='text' style='width:100%' ></select>"+
                "</td>"+
                "<td>"+
                    "<div class='input-group'>"+
                        "<div class='input-group-prepend datepicker-trigger'>"+
                            "<div class='input-group-text'>"+
                                "<i class='fa fa-calendar'></i>" +
                            "</div>" +
                        "</div>"+
                        "<input type='text' class='form-control pull-right' id='dtFechaInicio"+i+"' name='dtFechaInicio"+i+"' />"+
                    "</div>"+
                "</td>"+
                "<td>"+
                    "<div class='input-group'>"+
                        "<div class='input-group-prepend datepicker-trigger'>"+
                            "<div class='input-group-text'>"+
                                "<i class='fa fa-calendar'></i>" +
                            "</div>" +
                        "</div>"+
                        "<input type='text' class='form-control pull-right' id='dtFechaFin"+i+"' name='dtFechaFin"+i+"'  />"+
                    "</div>"+
                "</td>"+
                "<td><input  id='Descripcion"+i+"' name='Descripcion"+i+"' type='text' placeholder='Descripción'  class='form-control input-md'></td>"+
                "<td style='text-align:center'><button id='EliminarFila' type='button' class='btn btn-danger btn-sm' ><strong>X</strong></button></td>";

            newRow.append(cols);
            $("#tablaDetalleCambio").append(newRow);

            ObtenerDatosDetalleCambio(i);
            $("#Contador").val(i);

            i++;
        });

        $("#tablaDetalleCambio").on("click", "#EliminarFila", function (event) {
            $(this).closest("tr").remove();
            //i--;
        });

        $("#cbClasificacionCambio").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Administrator/ListarPrioridadCambio/"+@ViewBag.IdCuenta,
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#cbClasificacionCambio").on('change', function (e) {

            $("#cbTipoCambio").empty();
            $("#cbPrioridad").empty();
            var cbClasificacionCambio = $("#cbClasificacionCambio").find(':selected').val();
            //Impacto
            $("#divImpacto").empty();
            ListarCambioImpacto();

            //$('input[type=checkbox]').prop("checked",false);
            setTimeout(function () {
                //Obteniendo el impacto por Clasificación del Cambio
                ObtenerImpacto(cbClasificacionCambio);
            },800);

            $("#cbTipoCambio").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    url: "/ChangeRequest/ListarCambioClasificacionTipo/" + cbClasificacionCambio,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });

            $("#cbPrioridad").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    url: "/ChangeRequest/ListarCambioPrioridad/" +cbClasificacionCambio+"/"+@ViewBag.IdCuenta,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });

            //Tipo Descripción
            $.ajax({
                url: "/ChangeRequest/ObtenerTipoDescripcion/"+cbClasificacionCambio,
                type: "GET",
                cache: false,
                dataType: "text",
                success: function (data) {
                    if(data=="true"){
                        $("#divTipoDescripcion").show();
                        $("#divTipoCambio").hide();
                        $("#txtTipoDescripcion").val('');
                    }else{
                        $("#divTipoDescripcion").hide();
                        $("#divTipoCambio").show();
                        $("#txtTipoDescripcion").val('');
                    }


                },
                error: function (source) {

                }
            });


        });


        if(@ViewBag.IdTipoCambioCategoria!="0"){
            var $newOption = $("<option></option>").val("@ViewBag.IdTipoCambioCategoria").text("@ViewBag.TipoCambioCategoria");
            $("#cbClasificacionCambio").append($newOption).trigger('change');
            //setTimeout(function(){ObtenerImpacto(@ViewBag.IdTipoCambioCategoria);},1500);
        }

    });

    function ListarCambioImpacto() {

        $.ajax({
            url: "/ChangeRequest/ListImpact/",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data = source;
                $.each(source['Data'], function (index, value) {
                    $("#divImpacto").append(
                            '<div class="custom-checkbox custom-control">'+
                            '<input type="checkbox"  id="' + data['Data'][index]['idImpact'] + '" name="' + data['Data'][index]['detail'] + '"  value="' + data['Data'][index]['ischecked'] + '" onclick="impactoDescripcion(this,'+(data['Data'][index]['ischecked'])+')"> '+
                            '<label clas="custom-control-label" for="'+data['Data'][index]['idImpact'] +'"> '+
                            data['Data'][index]['detail']+
                            '</label></div>'

                    );
                });

            },
            error: function (source) {

            }
        });
    }

    function ObtenerImpacto(id){

        $.ajax({
            url: "/ChangeRequest/ObtenerImpactoCambio/"+id+"/"+@ViewBag.IdCuenta,
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data = source;
                $.each(source['data'], function (index, value) {
                    $("#"+data['data'][index]['id']).attr('checked', true);
                });

            },
            error: function (source) {

            }
        });
    }

    function impactoDescripcion(cb,checked) {

        var indice = 0;
        $('input[type=checkbox]:checked').each(function() {
            if(($(this).attr("value"))=="false"){
                indice=indice+1;
            }
        });
        if(checked==false){
            if (cb.checked && indice==1){
                $("#divImpactoDescripcion").show();
                $("#txtImpactoDescripcion").val('');

            }
            else if (cb.checked && indice!="0"){ }
            else if(indice!="0"){ }
            else{
                $("#divImpactoDescripcion").hide();
                $("#txtImpactoDescripcion").val('');
            }
        }

    }

    function ObtenerDatosDetalleCambio(i){


        $("#cbActividad"+i).select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/ChangeRequest/ListarCambioTareas/" + @ViewBag.IdCuenta,
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#cbResponsable"+i).select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/ChangeRequest/ListarCambioResponsable/" + @ViewBag.IdCuenta,
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $('#dtFechaInicio'+i).datepicker({ autoclose: true });
        $('#dtFechaFin'+i).datepicker({ autoclose: true });

    }

    function MensajeCargando(){

        swal({
            title: 'Sistema Integrado de Gestión',
            text: "Espere un momento por favor.",
            showCancelButton: false,//There won't be any cancle button
            showConfirmButton: false, //There won't be any confirm button
            imageUrl: "/images/spinner.gif"
        });       

    }
    function MensajeConfirmacion(msj, flag) {

        if (flag == 1) {
            swal({
                title: 'Sistema Integrado de Gestión',
                type: 'success',
                text: msj,
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            }, function () {
                location.reload();
            })

        } else if (flag == 2) {

            swal({
                title: '¡Alerta!',
                type: 'info',
                text: msj,
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
            //$('#mensajeGestionCambio').empty();
            //$('#mensajeGestionCambio').show("show");
            //$("#mensajeGestionCambio").append("<div class='alert alert-danger'><strong>¡Alerta!</strong> " + msj + " </div>");
            //setTimeout(function () {
            //    $("#mensajeGestionCambio").fadeOut(5500);
            //}, 1000);

        }

    }


</script>