@{
    Layout = null;
}

<!DOCTYPE html>

    <div style="width:400px">
        <div style="float:left;"><b>@ViewBag.NAM_ACCO</b></div>
        <div style="float:right;">@ResourceLanguaje.Resource.PercentageTime <b>@ViewBag.Porcentaje %</b></div>
    </div>
    <div style="clear:both"></div>
    <div style="padding:5px 0px 5px 0px;text-align:justify;width:400px; font-size:.8em;">
        @ViewBag.DES_ACCO
    </div>
    <div style="height:50px; display:inline-block; width:100%; ">
        <div style="float:left; width:40%; border-right:1px dotted;font-size:.85em;"><b>@ResourceLanguaje.Resource.WithIGV</b><br />
            @ResourceLanguaje.Resource.Revenues: @ViewBag.SIM_ACCO @ViewBag.RevenuesCon<br />
            @ResourceLanguaje.Resource.Expenses: @ViewBag.SIM_ACCO @ViewBag.ExpensesCon
        </div>
        <div style="float:left; width:40%;border-right: 1px dotted;margin-left:5px;font-size:.85em;"><b>@ResourceLanguaje.Resource.WithoutIGV</b><br />
            @ResourceLanguaje.Resource.Revenues: @ViewBag.SIM_ACCO @ViewBag.RevenuesSin<br />
            @ResourceLanguaje.Resource.Expenses: @ViewBag.SIM_ACCO @ViewBag.ExpensesSin       
        </div>
    </div>
    <div style="width:400px">
        <div style="float:left;width:180px;">
            <div id="pieProfit" style="height:80px;width:250px;border:solid; background-color:#F5F5F5;
                border:1px solid #D5D5D5;" >
                
            </div>
        </div>
        <div style="float:right; width:140px; background-color:#F5F5F5;border:1px solid #D5D5D5;">
            <div style="height:40px;">
                <div style="font-size:.8em">@ResourceLanguaje.Resource.Users
                </div>
                <div style="text-align:center;font-weight:bold; font-size:1.3em">@ViewBag.Users
                </div>
            </div>
            <div style="border-top:1px solid #D5D5D5;"></div>
            <div style="height:40px;">
                <div style="font-size:.8em" >@ResourceLanguaje.Resource.Equipments
                </div>
                <div style="text-align:center;font-weight:bold; font-size:1.3em">@ViewBag.Equipment
                </div>
            </div>
        </div>
    </div>
