@model ERPElectrodata.Models.DOCUMENT_CONTROL

@{
    Layout = null;
}

<div style="width:58%;">

    <div class="titleForm" style="width:100%;">
        <div style="display:inline-block; width:100%; height:20px;">
            <div class="title" style="float:left;">
                <div style="float:left;" onclick="ListDocument()">
                    <img style="margin-top:-1px;" src="/Content/Images/arrow_return.png">
                </div>
                <span style="text-transform: none">&nbsp; New Document Reception</span>
            </div>
        </div>
    </div>

    <div class="bodyForm" style="width:100%;">
        <div class="inBodyForm">
            <div style="clear:both"></div>

            @* -------------------------------------FORMULARIO--------------------------------- *@

            @using (Html.BeginForm("CreateReception", "DocumentControl", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDocumentControl", target = "FrmDocumentControl" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>DOCUMENT</legend>
                    
                    <div class="divFondoUno">
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                <a onclick="addSupplier()" href="">Company</a>
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_CIA)
                                @Html.ValidationMessageFor(model => model.ID_CIA)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Carrier
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_DOCU_CONT_CARR)
                                @Html.ValidationMessageFor(model => model.ID_DOCU_CONT_CARR)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Description
                            </div>
                            <div class="editor-field">
                                <input type="text" id="SUB_DOCU" name="SUB_DOCU" class="k-textbox" />

                                @* @Html.EditorFor(model => model.SUB_DOCU)*@
                                @Html.ValidationMessageFor(model => model.SUB_DOCU)
                            </div>
                        </div>

                    </div>

                    <div class="divFondoDos">
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Type
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_DOCU_CONT_TYPE)
                                @Html.ValidationMessageFor(model => model.ID_DOCU_CONT_TYPE)
                            </div>
                        </div>

                        <div id="divSpaceSidige" class="divSpace3 hidden"></div>
                        <div id="divSidige" class="divCont3 hidden">
                            <div class="editor-label">
                                File
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.DOC_SIDIGE)
                            </div>
                        </div>

                        <div id="divSpaceSubType" class="divSpace3 hidden" ></div>
                        <div id="divSubType" class="divCont3 hidden">
                            <div class="editor-label">
                                Sub Type
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_DOCU_CONT_SUB_TYPE)
                            </div>
                        </div>

                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Document Number
                            </div>
                            <div class="editor-field">
                                <input type="text" id="NUM_DOCU" name="NUM_DOCU" class="k-textbox" />

                            </div>
                        </div>

                    </div>

                    <div class="divFondoUno">

                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Acces Grant
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_DOCU_CONT_ROL)
                            </div>
                        </div>

                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                @*<a title="Add New Receiver" onclick="AddNewReceiver(this)" style="cursor:pointer;">Receiver</a>*@
                                Receiver
                            </div>
                            <div class="editor-field">
                                <input type="text" id="ID_ENTI_RECE" name="ID_ENTI_RECE" />
                                
                            </div>
                        </div>

                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <input type="hidden" name="Cont" id="idcontreciever" value="0" />
                            <div id="NewReceiver"></div>
                        </div>
                    </div>

                    <div class="divFondoDos">
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                Date Reception
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.DATE_RECE)
                            </div>
                        </div>
                    </div>

                    <div class="divFondoUno">
                        <div class="divSpace3"></div>
                        <div style="float:left;width:95.4%;">
                            <input name="files" id="files" type="file" />
                        </div>
                    </div>


                    <div style="width:97.7%;">
                         

                        <button style="float:right;" id="reset" class="k-button">Cancel</button>
                        <div style="float:right;padding:0px 10px 0px 10px; ">
                            <button id="submit" onclick="SubmitFormDocumentControl(this)" class="k-button">Create</button>
                        </div>
                        
                    </div>

                    <div style="clear:both;"></div>
                    <div style="height:15px;"></div>

                </fieldset>

            }
        </div>
    </div>
</div>

<iframe id="FrmDocumentControl" name="FrmDocumentControl" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function addSupplier(){
        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">' +
                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                          '<h2 class="modal-title">Add Supplier</h2>' +
                      '</div>');
        $("#ModalContentAll").append("<div id='divFormNewRequest'></div>");
        $("#divFormNewRequest").load("/ClassEntity/CreateSupply?_=" + Math.random());
    }
    function createSubType(obj){
        $("#ID_DOCU_CONT_SUB_TYPE").kendoComboBox({
            autoBind: true,
            index:0,
            dataTextField: "NAM_DOCU_CONT_SUB_TYPE",
            dataValueField: "ID_DOCU_CONT_SUB_TYPE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentControl/ListSubType/"+obj.ID_DOCU_CONT_TYPE+"?_"+Math.random()
                }
            }
        }).data("kendoComboBox");
    }

    $(document).ready(function () {

        $("#DATE_RECE").kendoDatePicker({
            value:new Date(@DateTime.Now.Year,@DateTime.Now.Month-1,@DateTime.Now.Day,0,0,0,0)
        });

        $("#ID_DOCU_CONT_ROL").kendoComboBox({
            autoBind: true,
            index:0,
            dataTextField: "NAM_DOCU_CONT_ROL",
            dataValueField: "NAM_DOCU_CONT_ROL",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentControl/Rol"
                }
            }
        }).data("kendoComboBox");

        var ID_DOCU_CONT_TYPE = $("#ID_DOCU_CONT_TYPE").kendoComboBox({
            autoBind: true,
            index:0,
            dataTextField: "NAM_DOCU_CONT_TYPE",
            dataValueField: "ID_DOCU_CONT_TYPE",
            dataBound: function(e) {
                // handle the event
                var dataItem = ID_DOCU_CONT_TYPE.dataItem();
                //console.log(dataItem.HAVE_SUB_TYPE == true);
                if(dataItem.HAVE_SUB_TYPE == true){
                    $("#divSubType").removeClass("hidden");
                    $("#divSpaceSubType").removeClass("hidden");
                    //console.log(dataItem.HAVE_SUB_TYPE);
                    createSubType(dataItem);
                }
            },
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentControl/ListType/1?_"+Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_DOCU_CONT_TYPE.bind("change", function (e) {
            if(ID_DOCU_CONT_TYPE.dataItem().HAVE_SIDIGE==true){
                $("#divSidige").removeClass("hidden");
                $("#divSpaceSidige").removeClass("hidden");

                if ($("#DOC_SIDIGE").data("kendoComboBox")) {
                    $("#DOC_SIDIGE").data("kendoComboBox").value("");
                    $("#DOC_SIDIGE").data("kendoComboBox").destroy();
                }

                $("#DOC_SIDIGE").kendoComboBox({
                    autoBind: false,
                    filter: "contains",
                    index:0,
                    dataTextField: "NUMDOC",
                    dataValueField: "NUMDOC",
                    minLength: 4,
                    dataSource: {
                        serverFiltering: true,
                        serverPaging:true,
                        pageSize: 15,
                        schema: {
                            data: "Data",
                            total: "Count"
                        },
                        transport: {
                            read: "/DocumentControlType/Fil"+"?_"+Math.random()
                        }
                    }
                }).data("kendoComboBox");

            }
            else{
                $("#divSidige").addClass("hidden");
                $("#divSpaceSidige").addClass("hidden");

                if ($("#DOC_SIDIGE").data("kendoComboBox")) {
                    $("#DOC_SIDIGE").data("kendoComboBox").value("");
                    $("#DOC_SIDIGE").data("kendoComboBox").destroy();
                }
                
            }
            //
            //console.log(ID_DOCU_CONT_TYPE.dataItem().HAVE_SUB_TYPE)
            if(ID_DOCU_CONT_TYPE.dataItem().HAVE_SUB_TYPE==true){
                $("#divSubType").removeClass("hidden");
                $("#divSpaceSubType").removeClass("hidden");

                if ($("#ID_DOCU_CONT_SUB_TYPE").data("kendoComboBox")) {
                    $("#ID_DOCU_CONT_SUB_TYPE").data("kendoComboBox").value("");
                    $("#ID_DOCU_CONT_SUB_TYPE").data("kendoComboBox").destroy();
                }

                createSubType(ID_DOCU_CONT_TYPE.dataItem());
            }
            else{
                $("#divSubType").addClass("hidden");
                $("#divSpaceSubType").addClass("hidden");

                if ($("#ID_DOCU_CONT_SUB_TYPE").data("kendoComboBox")) {
                    //$("#pagerTickets").data("kendoPager").destroy();
                    $("#ID_DOCU_CONT_SUB_TYPE").data("kendoComboBox").value("");
                    $("#ID_DOCU_CONT_SUB_TYPE").data("kendoComboBox").destroy();
                }
            }
            //Store para vista Detail User
            @*detailUser(ID_PERS_ENTI.dataItem().ID_PERS_ENTI);
            AssetByUser(ID_PERS_ENTI.dataItem().ID_PERS_ENTI);
            if (ID_PERS_ENTI.dataItem() === undefined) {
                $("#divEditCombo").css("display", "none");
            }
            else {
                if ('@ViewBag.ACCESO_NEWREQ' == '1') {
                    $("#divEditCombo").css("display", "block");
                }
            }*@
        });

        $("#ID_DOCU_CONT_CARR").kendoComboBox({
            autoBind: true,
            index:0,
            dataTextField: "NAM_DOCU_CONT_CARR",
            dataValueField: "ID_DOCU_CONT_CARR",
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentControl/ListCarrier"
                }
            }
        }).data("kendoComboBox");


        var ID_CIA = $("#ID_CIA").kendoComboBox({
            autoBind: false,
            filter: "contains",
            suggest: true,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentControl/ListCIA"
                }
            }
        }).data("kendoComboBox");
        //ID_CIA.search();
        ID_CIA.suggest();


        //$.get("/DocumentControl/Reciever", function (json) {

            var ID_ENTI_RECE = $("#ID_ENTI_RECE").kendoComboBox({
                index: 1,
                dataTextField: "FIR_NAME",
                dataValueField: "ID_PERS_ENTI",
                template: '<div style="clear:both;"><div style="float:left"><img height="40" width="40" src=\"/Content/Fotos/${data.ID_FOTO}.jpg\" alt=\"#:data.ID_ENTI#\" /></div>' +
                                  '<div style="" ><div style="height:40px ">&nbsp;${data.FIR_NAME}<br /></div></div></div>',
               filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                //dataSource: json['Data'],
                dataSource: {
                    //type: "odata",
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/DocumentControl/Reciever"
                    }
                },
                change: function (e) {
                    AddNewReceiver()
                },

            }).data("kendoComboBox");



        //});

        $("#files").kendoUpload({
            localization: {
                select: "@ResourceLanguaje.Resource.Attach"
            }
        });
    });

    function SubmitFormDocumentControl() {
        $("#FrmDocumentControl").submit();

        //$("#FrmDocumentControl")[0].reset();
    }

    function AddNewReceiver()
    {
        var ID_DOCU_CONT_ROL = $("#ID_DOCU_CONT_ROL").data("kendoComboBox");
        var datarol = ID_DOCU_CONT_ROL.dataItem();
        console.log(datarol);

        if (typeof datarol != 'undefined') {
            var cont = $("#idcontreciever").val();
            cont = parseInt(cont) + 1;

            var ID_ENTI_RECE = $("#ID_ENTI_RECE").data("kendoComboBox");

            var Name = ID_ENTI_RECE.text();
            var valor = ID_ENTI_RECE.value();

            $("#NewReceiver").append("<div id='divname" + cont + "'><div style='float:left;color:white;font-weight:bold;width:20px;margin-right:5px;background-color:" + datarol.COL_DOC_CONT_ROL + "'>" + datarol.ACR_DOC_CONT_ROL + "</div>" + Name +
                "<input type='hidden' name='RECEIVER" + cont + "' id='RECEIVER" + cont + "' value='" + valor + "'>" +
                "<input type='hidden' name='ROL" + cont + "' id='ROL" + cont + "' value='" + datarol.ID_DOCU_CONT_ROL + "'>" + "<span>&nbsp;<a  onclick='DeleteReceiver(" + cont + ")' class='delete-link' title='Remove' href='javascript:void(0)'></a></span></div>");

            var v = parseInt(cont);

            $("#idcontreciever").val(v);
            ID_ENTI_RECE.value("");
        }
        else {
            alert("Select a Rol ");
        }

    }

    function DeleteReceiver(id)
    {
        $("#divname" + id + "").remove();

    }

    $("#submit").click(function () {
        winPopUpModalLoad('@ResourceLanguaje.Resource.SavingYourTicket', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
    });

    $("#reset").click(function (event) {
        event.preventDefault();

        var title = '@ResourceLanguaje.Resource.OperationCancelled';
        var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
        "<div style='padding:10px 0px 10px 0px;'>The operation to perform was cancelled</div>" +
        "<div style='float:right; padding:20px 6px 0px 6px; font-size:0.9em;'>" +
        "<button id='btnContinuer' class='k-button'>Continue</button>" +
        "</div></div>";

        winPopUpModal(title, body, 400, 150);

        $("#btnContinuer").click(function () {
            $("#dlg").hide('200', "swing", function () {
                $("#bkg").fadeOut("300");
            });

            //ListDocument()
            location = "http://" + location.host + "/DocumentControl";
        });

        $("#closebtnmodal").click(function () {
            //location.reload(true);
            //ListDocument()
            location = "http://" + location.host + "/DocumentControl";
        });

    });


    function uploadDone(conf, msg) {
        closeWinModalPopUpLoad();

        if (conf == 'OK') {
            var title = '@ResourceLanguaje.Resource.InformationSaved ';
            var body = "<div style='padding:0px 0px 20px 0px;'>" +
                            "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
                            "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
                            "<button id='btnContinues' class='k-button'>Continue</button>" +
                            "</div></div>";

            winPopUpModal(title, body, 300, 130);

            $("#closebtnmodal").click(function () {
                //location.reload(true);
                
                //ListDocument()
                location = "http://" + location.host + "/DocumentControl";
            });

            $("#btnContinues").click(function () {
                //location.reload(true);
                //ListDocument()
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });

                location = "http://" + location.host + "/DocumentControl";
            });
        }
        else {

                var title = '@ResourceLanguaje.Resource.InformationMissing';
                var body = "<div style='padding:0px 0px 20px 0px;'>" +
                              "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
                              "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
                              "<button id='btnContinuee' class='k-button'>Continue</button>" +
                              "</div></div>";

                winPopUpModal(title, body, 300, 130);

                $("#btnContinuee").click(function () {
                    $("#dlg").hide('200', "swing", function () {
                        $("#bkg").fadeOut("300");
                    });
                });
            }
    }

</script>
