@{
    Layout = null;
}

<style>
    .divFind{
        width:100%;
        display:inline-block;
        border:1px #eee solid;
    }
    .divHead{
        padding: 5px 10px 5px 10px;
    }
    .row {
        float: left;
    }
</style>

<div class="divFind">
    <div class="divHead">
        @using (Html.BeginForm("xx", "Assistance", FormMethod.Post, new { id="FrmAttendanceByQueue"}))
        {
            <div class="divFondoUno">
                <div class="row">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.From
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("SIN_DATE")
                    </div>
                </div>

                <div class="row" style="margin-left:10px;">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.To
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("TO_DATE")
                    </div>
                </div>
                @*<div class="row" style="margin-left:10px;">
                    <div class="editor-label">
                        &nbsp;
                    </div>
                    <div >
                        <button id="submit" class="k-button">Generate</button>
                    </div>
                </div>*@
            </div>
        }
    </div>
</div>

<iframe class="afterMain divFind" id="MSRSAttendance" style="height:550px;"></iframe>

    <script type="text/javascript">
        function GenerateAttendance() {
            window.frames["MSRSAttendance"].src = "/Reporting/Attendance/ByQueue.aspx?var=" + Math.random() + "&" + $("#FrmAttendanceByQueue").serialize();
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#SIN_DATE").kendoDatePicker({
                value: new Date('@DateTime.Now.Year', @DateTime.Now.Month-1, 1),
                change: function () {
                    GenerateAttendance();
                }
            });
            $("#TO_DATE").kendoDatePicker({
                value: new Date('@DateTime.Now.Year', @DateTime.Now.Month-1, '@DateTime.Now.Day'),
                change: function () {
                    GenerateAttendance();
                }
            });
            GenerateAttendance();
        });
    </script>

