@{
    Layout = null;
}

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="col-sm-12 col-lg-12" style="width:100%;" id="allPerformance">
            <form id="ParamReportHoursWorked">
                <div class="row">
                    <div class="col-sm-12 col-xl-3">
                        Start Date :<br />
                        <input type="text" id="STAR_DATE" name="STAR_DATE" style="width:100%;"/>
                    </div>
                    <div class="col-sm-12 col-xl-3">
                        Since Day :<br />
                        <input type="text" id="END_DATE" name="END_DATE" style="width:100%;"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <iframe id="MSRSAtteHoursWorked" style="height:400px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerateReportHoursWorked() {
        window.frames["MSRSAtteHoursWorked"].src = "/Reporting/Attendance/ByHoursWorked.aspx?var=" + Math.random() + "&" + $("#ParamReportHoursWorked").serialize();
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#STAR_DATE").kendoDatePicker({
            value: new Date('@DateTime.Now.Year', @DateTime.Now.Month-1, 1),
            change: function () {
                GenerateReportHoursWorked();
            }
        });
        $("#END_DATE").kendoDatePicker({
            value: new Date('@DateTime.Now.Year', @DateTime.Now.Month-1, '@DateTime.Now.Day'),
            change: function () {
                GenerateReportHoursWorked();
            }
        });


        GenerateReportHoursWorked()
    })
</script>