@model ERPElectrodata.Models.CATEGORY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CATEGORY</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAM_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAM_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACR_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACR_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DES_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DES_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIG_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIG_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEF_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEF_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_CATE_PARE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_CATE_PARE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NIV_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NIV_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ABR_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ABR_CATE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
