@model ERPElectrodata.Models.BENEFICIARY

@{
    Layout = null;
}


@using (Html.BeginForm("EditBeneficiary", "Beneficiary", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormEditBeneficiary", name = "FormEditBeneficiary", target = "upload_targetBeneEdit" }))
{
    <input type="hidden" name="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />

    @*<input type="hidden" name="KEY_ATTA" value="@ViewBag.UploadFile" />*@

    <input type="hidden" value="@ViewBag.UploadFile" name="KEY_ATTA" id="KEY_ATTA" readonly="readonly" />

    <input type="hidden" id="ID_BENI_EDIT" name="ID_BENI_EDIT" value="0" />

    <div class="divFondoUno" style="margin:10px 0px 10px 0px;">
        <div class="divSpace2"></div>
        <div class="divCont2">
            <div class="editor-label">
                @ResourceLanguaje.Resource.Kindred
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ID_KINDRED)
                @Html.ValidationMessageFor(model => model.ID_KINDRED)
            </div>
        </div>
    </div>

    <div class="divFondoDos">
        <div class="divSpace2"></div>

        <div class="divCont2">
            <div class="editor-label">
                @ResourceLanguaje.Resource.FirstName
            </div>
            <div class="k-textbox">
                <input type="text" name="New_FIR_NAME" id="New_FIR_NAME" />
            </div>
        </div>

        <div class="divSpace2"></div>

        <div class="divCont2">
            <div class="editor-label">
                Second Name
            </div>
            <div class="k-textbox">
                <input type="text" name="New_SEC_NAME" id="New_SEC_NAME" value="" />
            </div>
        </div>

    </div>
    <div class="divFondoUno" style="padding:10px 0px 15px 0px;">
        <div class="divSpace2"></div>

        <div class="divCont2">
            <div class="editor-label">
                @ResourceLanguaje.Resource.LastName
            </div>
            <div class="k-textbox">
                <input type="text" name="New_LAS_NAME" id="New_LAS_NAME" value="" />
            </div>
        </div>

        <div class="divSpace2"></div>

        <div class="divCont2">
            <div class="editor-label">
                Mother Name
            </div>
            <div class="k-textbox">
                <input type="text" name="New_MOT_NAME" id="New_MOT_NAME" />
            </div>
        </div>
    </div>

    <div class="divFondoDos" style="margin:10px 0px 10px 0px;">
        <div class="divSpace2"></div>
        <div class="divCont2">
            <div class="editor-label">
                @ResourceLanguaje.Resource.DateBirth
            </div>
            <div class="editor-field">
                <input type="text" name="New_DATE_BIRTH" id="New_DATE_BIRTH" />
            </div>
        </div>
        <div class="divSpace2"></div>
        <div class="divCont2">
            <div class="editor-label">
                DNI
            </div>
            <div class="k-textbox">
                <input type="text" name="New_NUMB_DNI" id="New_NUMB_DNI" />
            </div>
        </div>
    </div>

    <div class="divFondoUno" style="padding:10px 0px 10px 0px;">
        <div style="width:100%">
            <div style="width: 97%; margin:0 auto;" id="divAttackBene">
                <button type="button" data-toggle="modal" data-target="#miModal" onclick="AdjuntarDocumentBeneficiary();" id="Adjuntar" class="mb-2 mr-2 btn-pill btn btn-success btn-block"><span>Attach</span></button>
                @*<div class="k-button" style="margin-left:10px;" data-toggle="modal" data-target="#myModal">
                    Attach
                </div>*@
                @*<input name="filesDNI" id="filesDNI" type="file" />*@
            </div>
        </div>
    </div>

    @*<div class="divFondoUno">
            <div style="width:100%">
                <div style="width: 97%; margin:0 auto;" id="divAttaCE">
                    <input name="fileCE" id="fileCE" type="file" style="width:200px;" />
                </div>
            </div>
        </div>*@

    <div class="divFondoUno" style="margin:10px 0px 5px 0px; width:99%">
        <div class="divSpace3"></div>
        <div style="display:inline-block; float:right; padding:5px 12px 0 5px;">



            <div style="float: left;">
                <button id="EditReset" class="k-button" onclick="cancel(); return false;" style=" margin: 0px 15px 0px 0px;">Cancel</button>
            </div>

            <div style=" float:right; ">
                <button id="submitInvoice" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
            </div>


            <div style="clear:both;"></div>
        </div>
    </div>
}



<iframe id="upload_targetBeneEdit" name="upload_targetBeneEdit" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>


@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Attach Files</h4>
            </div>
            <div class="modal-body">
                <div class="editor-label">
                    Type Document
                </div>
                <div class="editor-field" style="font-size:0.9em">
                    @Html.TextBox("ArrayFile")<span style="font-style: oblique;"> *Only Extension .pdf</span>
                </div>
                <br />

                <input name="files" id="files" type="file" />

            </div>
            <div class="modal-footer">
                <button type="button" class="k-button" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>*@


<script type="text/javascript">

    var key_atta = $("#KEY_ATTA").val()

    function AdjuntarDocumentBeneficiary() {
        $("#lblTitulo").text("Attach Files");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/Beneficiary/AdjuntarDocumenteBeneficiary/?fileUpload=' + key_atta);
    }

    function cancel() {
        $("#ID_BENI_EDIT").val(0);
        $("#divTitleBene").html('@ResourceLanguaje.Resource.New @ResourceLanguaje.Resource.Beneficiary');
        $("#ID_KINDRED").data("kendoComboBox").value('');
        $("#FIR_NAME").val('');
        $("#LAS_NAME").val('');
        $("#NUMB_DNI").val('');
        $("#DATE_BIRTH").val('');
        $("#SEC_NAME").val('');
        $("#MOT_NAME").val('');
    }

    var New_DATE_BIRTH = $("#New_DATE_BIRTH").kendoDatePicker().data("kendoDatePicker");
    New_DATE_BIRTH.max("@ViewBag.TODAY");

    $("#ID_KINDRED").kendoComboBox({
        dataTextField: "NAM_KIND",
        dataValueField: "ID_KINDRED",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "data",
                total: "Count"
            },
            transport: {
                read: "/Kindred/List?var=" + Math.random()
            }
        }
    });


    @*$("#files").kendoUpload({
        localization: {
            select: "@ResourceLanguaje.Resource.Attach"
        },
        upload: function (e) {

            var ID_BEN = $("#ID_BENI_EDIT").val();

            e.data = {
                ID_TYPE_ATTA_BENE: ArrayFile.dataItem().ID_TYPE_ATTA_BENE,
                KEY_ATTA_BENE: '@ViewBag.UploadFile',
                EDI: 'E',
                ID_BENE: ID_BEN,

            };
        },
        remove: function (e) {
            e.data = {
                ID_TYPE_ATTA_BENE: ArrayFile.dataItem().ID_TYPE_ATTA_BENE,
                KEY_ATTA_BENE: '@ViewBag.UploadFile',
            };
        },

        async: {
            saveUrl: "/AttachBeneficiary/SaveAttachBeneficiary/?ID_PERS_ENTI=" + @ViewBag.ID_PERS_ENTI +"",
            removeUrl: "/AttachBeneficiary/RemoveAttachBeneficiary/?ID_PERS_ENTI=" + @ViewBag.ID_PERS_ENTI +"",
        },
        autoUpload: false
    });*@


    //var ArrayFile = $("#ArrayFile").kendoComboBox({
    //    dataTextField: "NAM_ATTA_BENE",
    //    dataValueField: "ID_TYPE_ATTA_BENE",
    //    filter: "contains",
    //    index: 1,
    //    autoBind: true,
    //    delay: 500,
    //    minLength: 0,
    //    suggest: true,
    //    dataSource: {
    //        schema: {
    //            data: "Data",
    //            total: "Total"
    //        },
    //        transport: {
    //            read: "/Beneficiary/ListTypeAttaBene/?var=" + Math.random()
    //        }
    //    }
    //}).data("kendoComboBox");

    function uploadDone(conf, msg) {
        //closeWinModalPopUpLoad();

        if (conf == 'OK') {
            var title = '@ResourceLanguaje.Resource.InformationSaved ';
            //var body = "<div style='padding:0px 0px 20px 0px;'>" +
            //                "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
            //                "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
            //                "<button id='btnContinues' class='k-button'>Continue</button>" +
            //    "</div></div>";

            //swal({
            //    title: title,
            //    text: msg,
            //    type: "success"
            //},
            //    function () {
            //        location.reload(true);
            //    }
            //);

            swal({
                title: title,
                text: msg,
                type: "success",
            }).then(function () {
                location.reload();
            });

            //winPopUpModal(title, body, 300, 130);

            //$("#closebtnmodal").click(function () {
            //    location.reload(true);

            //});

            @*$("#btnContinues").click(function () {

                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });

               $("#divBeneficiaries").empty();
               $("#divBeneficiaries").load("/Talent/ListBeneficiaries?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());

                $("#diveditbene").css("display", "none");
                $("#diveditAtta").css("display", "none");


            });*@
        }
        else {

            var title = '@ResourceLanguaje.Resource.InformationMissing';
            //var body = "<div style='padding:0px 0px 20px 0px;'>" +
            //              "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
            //              "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
            //              "<button id='btnContinuee' class='k-button'>Continue</button>" +
            //    "</div></div>";

            swal({
                title: title,
                type: "warning",
                text: msg,
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                closeOnConfirm: false
            })

            //winPopUpModal(title, body, 300, 130);

            //$("#btnContinuee").click(function () {
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });
            //});
        }
    }


</script>
