@model ERPElectrodata.Models.QUESTION

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm("DeleteQuestion", "Question", FormMethod.Post, new { id = "idFormQuestdel", target = "upload_target" }))
{

<fieldset>
    <legend>QUESTION</legend>
    @Html.HiddenFor(model => model.ID_QUES)
    <div class="display-label">
       @Html.Label("ID")       
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_QUES)
    </div>

    <div class="display-label">
        @Html.Label("QUESTION NAME")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAM_QUES)
    </div>

    <div class="display-label">
        @Html.Label("DESCRIPTION QUESTION")
        
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DES_QUES)
    </div>

    <div class="display-label">
        @Html.Label("SATATE QUESTION")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STA_QUES)
    </div>
</fieldset>

    <p>
        <input type="submit" value="Delete" /> |
        
    </p>
}
@Html.ActionLink("Back to List", "Index")
@*@using (Html.BeginForm("DeleteQuestion", "Question", FormMethod.Post, new { id = "idFormQuestdel", target = "upload_target" }))
{*@