@model ERPElectrodata.Models.QUESTION

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("SaveEdit", "Question", FormMethod.Post, new { id = "idFormedit", target = "upload_target" }))
{
    <fieldset>
        <legend>QUESTION</legend>

        
        <div class="editor-field">
            @Html.HiddenFor(model => model.ID_QUES)
          
        </div>

        <div class="editor-label">
            @Html.Label("QUESTION NAME")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAM_QUES)
            @Html.ValidationMessageFor(model => model.NAM_QUES)
        </div>

        <div class="editor-label">
            @Html.Label("DESCRIPTION QUESTION")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DES_QUES)
            @Html.ValidationMessageFor(model => model.DES_QUES)
        </div>

        <div class="editor-label">
            @Html.Label("SATATE QUESTION")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STA_QUES)
            @Html.ValidationMessageFor(model => model.STA_QUES)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
