@model IEnumerable<ERPElectrodata.Models.QUESTION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LIST OF QUESTIONS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
           ID
        </th>
        <th>
           QUESTION NAME
        </th>
        <th>
           QUESTION DESCRIPTION
        </th>
        <th>
            STATUS QUESTION
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_QUES)   
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAM_QUES)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DES_QUES)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STA_QUES)  
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ID_QUES }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_QUES  })
        </td>
    </tr>
}

</table>

