@{
    ViewBag.Title = "CrearObjetivos";
    Layout = null;
}

<!--Declaración de Formulario-->
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
@using (Html.BeginForm("EditarObjetivo", "EvaluacionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormEditarObjetivo", target = "upload_target" }))
{
    <input type="hidden" name="IdObjetivo" id="IdObjetivo" value="@ViewBag.IdObjetivo" />
    @*<div class="alert alert-danger alert-dismissable" role="alert" id="alertaError" style="font-size:14px">
            <strong>¡Alerta!</strong> Completar la información solicitada
        </div>*@
    <div class="box">
        <form>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="FormPeriodoAct">Periodo</label>
                            <input type="text" class="form-control" id="FormPeriodoAct" name="FormPeriodoAct" value="@ViewBag.Periodo" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="FormCargo">Cargo</label><br />
                            <input type="text" class="form-control" id="FormCargo" name="FormCargo" value="@ViewBag.Cargo" disabled />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="FormNombreEvaluacion">Nombre Evaluacion</label><br />
                            <input type="text" class="form-control" id="FormNombreEvaluacion" name="FormNombreEvaluacion" value="@ViewBag.NombreEvaluacion" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="FormNombreObj">Objetivo</label><br />
                            <textarea class="form-control" id="FormNombreObj" name="FormNombreObj" rows="2" style="width:100%">@ViewBag.Objetivo</textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="FormIndicadorObj">Indicador</label>
                            <input type="text" class="form-control" id="FormIndicadorObj" name="FormIndicadorObj" value="@ViewBag.Indicador">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="FormDescripcionObj">Descripcion</label><br />
                            <textarea class="form-control" id="FormDescripcionObj" name="FormDescripcionObj" rows="2" style="width:100%">@ViewBag.Descripcion</textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="FormPesoObj">Peso</label>
                            <input type="text" class="form-control" id="FormPesoObj" name="FormPesoObj" value="@ViewBag.Peso" min="1" max="100" step="1" maxlength="6" onkeypress="validacion(event);">
                        </div>
                    </div>
                </div>
                <div style="display:inline-block; float:right; padding:15px 15px 15px 5px;">
                    <button id="submit" class="btn btn-primary">Guardar</button>
                    <button id="reset" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                </div>
            </div>

        </form>

    </div>
}


<script type="text/javascript">

    function MensajeObjetivo(msg, msnErr) {

        if (msg == 'OK') {
            toastr.success('Información Actualizada.');
            MostrarObjetivos();
            $("#reset").click();
            //$('#reset').click();
            //$('#SmallModalContent').modal('show');
            //$("#SmallModalTitle").empty();
            //$("#SmallModalTitle").text("Sistema de Gestión de Desempeño")
            //$("#SmallModalBody").empty();
            //$("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>Información Actualizada</div>");
            //$("#SmallModalFooter").empty();
            //$("#SmallModalFooter").append("<div style='float:right;'><button id='continues' class='k-button'>Continuar</button></div>");

            //$("#continues").focus();

            //var undo = $("#continues")
            //.bind("click", function () {
            //    $('#SmallModalContent').modal('hide');
            //    $('#ModalContent').modal('hide');
            //    MostrarObjetivos();
            //});

            //$("#closebtnmodal").click(function () {
            //    $('#SmallModalContent').modal('hide');
            //    MostrarObjetivos();
            //});
        }
        else if (msg == 'Mensaje') {
            toastr.warning('Completar la información solicitada', '¡Alerta!');
            //$("#alertaError").fadeIn()
            //setTimeout(function () {
            //    $("#alertaError").fadeOut();
            //}, 2000);
        }

        else {
            toastr.error('No se Actualizaron los Datos.\n\n Contacte al Administrador.', 'Error al Guardar');
            //$('#reset').click();
            //$('#SmallModalContent').modal('show');
            //$("#SmallModalTitle").empty();
            //$("#SmallModalTitle").text("Error al Guardar");
            //$("#SmallModalBody").empty();
            //$("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + "No se Actualizaron los Datos.\n\n Contacte al Administrador." + "</div>");
            //$("#SmallModalFooter").empty();
            //$("#SmallModalFooter").append("<div style='float:right;'>" +
            //                                  "<button id='continuee' class='k-button'>Continuar</button>" +
            //                           "</div>");
            //var undo = $("#continuee")
            //.bind("click", function () {
            //    $('#SmallModalContent').modal('hide');
            //});
        }
    }
</script>