@model ERPElectrodata.Models.EvaPlanMejora
@{
    Layout = null;
}

<div class="titleForm">
    <div class="title" id="divTitle">
        Plan de Mejora
    </div>
</div>
<div class="bodyForm">
    <div class="inBodyForm">
        <div>
            <h3 style="text-align:center; text-decoration:underline; font-weight:bold">PLAN DE MEJORA <img id="imgEvaluadoPlan" style="width: 75px; border-radius: 50%" src="/Content/Fotos/0.jpg" /></h3><br />
            <h4 style="text-align:center; font-weight:bold ">ÁREAS DE MEJORA (DEBILIDADES):</h4>
            <div>
                <div style="text-decoration:underline; font-weight:bold">•	Indicaciones:</div>
                Coloca 2 o 3 áreas de mejora que creas conveniente para  optimizar tu desempeño laboral.<br /><br />
                EJEMPLO
            </div>
            <div style="float:left; width:50%;">
                <p>
                    <div style="text-decoration:underline; font-weight:bold">ÁREAS DE MEJORA:</div>
                    *Pueden ser frases largas:<br />
                    - El ser tan desordenado hace que mis entregables no sean 100% satisfactorios.<br />
                    - Me frustro rápido con los problemas del día a día y esto me impide buscar soluciones rápidas.<br />
                    - Mi  poca destreza en el inglés me genera problemas al momento de hablar con los proveedores.<br /><br />
                    *Pueden ser frases cortas:<br />
                    - Mejorar mi orden<br />
                    - Manejo de estrés<br />
                    -Inglés muy básico<br />
                </p>
            </div>
            <div style="float:left; width:50%;"></div>
            <p>
                <div style="text-decoration:underline; font-weight:bold">ACCIONES A TOMAR:</div>
                No te olvides de colocar las pequeñas tareas y/o acciones a realizar para mejorar los puntos mencionados anteriormente:<br /><br />
                Ejemplo:<br />
                •	Hacer un calendario mensual con mis tareas y actividades a realizar para no olvidarme de ellas.<br />
                •	Guardar mis documentos en files ordenados por nombres.<br />
                •	Descargarme aplicaciones prácticas para practicar mi inglés.<br />
                •	Coordinar con algún compañero para que me ayude a mejorar mi conversación en inglés
            </p>
        </div>
        <div class="divFondoDos">
            <div class="divFondoDos" style="width:49%; float:left">
                <div class="divSpace2"></div>
                <div>
                    <div class="editor-label">
                        <h4>Área de Mejora del Evaluado</h4>
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.AreaMejora)
                        @*<textarea id="txtAreaMejora" name="txtAreaMejora" rows="8" style="width:100%">@ViewBag.AreaMejora</textarea>*@
                    </div>
                </div>
            </div>
            <div class="divFondoDos" style="width:2%; float:left">
            </div>
            <div class="divFondoDos" style="width:49%; float:left">
                <div class="divSpace2"></div>
                <div>
                    <div class="editor-label">
                        <h4>Comentarios del Evaluador</h4>
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Comentario)
                        @*<textarea id="txtComentario" name="txtComentario" rows="8" style="width:100%">@ViewBag.Comentario</textarea>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="upload_target2" name="upload_target2" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

<script type="text/javascript">

    $(document).ready(function () {

        $("#AreaMejora").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        $("#Comentario").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });



        $('#imgEvaluadoPlan').attr("src", "/Content/Fotos/" + @ViewBag.IdPersEntiPlanMejora + ".jpg");

        $($('#AreaMejora').data().kendoEditor.body).attr('contenteditable', false);
        $($('#Comentario').data().kendoEditor.body).attr('contenteditable', false);

        if (@ViewBag.IdPersEntiPlanMejora == parseInt(@Session["ID_PERS_ENTI"]) && @ViewBag.IdEstado==1) {
            $($('#AreaMejora').data().kendoEditor.body).attr('contenteditable', true);
        }
        if (@ViewBag.IdPersEntiPlanJefe == parseInt(@Session["ID_PERS_ENTI"]) && @ViewBag.IdEstado==2) {
            $($('#Comentario').data().kendoEditor.body).attr('contenteditable', true);
        }

    });

</script>