@{
    ViewBag.Title = "RegistroObjetivos";
    Layout = null;
}

@*<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />*@

<div class="box">
    <form>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="FormPeriodoAct">Periodo</label>
                        <input type="text" class="form-control" id="FormPeriodoAct" name="FormPeriodoAct" value="@ViewBag.Periodo" disabled>
                    </div>
                </div>
                <div class="col-sm-4" >
                    <div class="form-group">
                        <label for="cbCargo">Cargo</label><br />
                                                          <select id="cbCargo" class="form-control select2" style="width:80%"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cbNombreEvaluacion" data-toggle="modal" data-target="#ModalEvaluacion" style="cursor:pointer;  text-decoration:underline;">Nombre Evaluacion</label><br />
                        <select id="cbNombreEvaluacion" class="form-control select2" style="width:80%" ></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="FormNombreObj">Objetivo <span style="color:red">(*)</span></label><br />
                        <textarea class="form-control" id="FormNombreObj" name="FormNombreObj" rows="1" style="width:100%"></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="FormIndicadorObj">Indicador</label>
                        <input type="text" class="form-control" id="FormIndicadorObj" name="FormIndicadorObj">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="FormDescripcionObj">Descripcion <span style="color:red">(*)</span></label><br />
                        <textarea class="form-control" id="FormDescripcionObj" name="FormDescripcionObj" rows="1" style="width:100%"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FormPesoObj">Peso <span style="color:red">(*)</span></label>
                        <input type="number" class="form-control" id="FormPesoObj" name="FormPesoObj" min="1" max="100" step="1" maxlength="3" onkeypress="validacion(event);">
                    </div>
                </div>
            </div>
        </div>

        <div id="btnAgregarObjetivo">
            <div style=" float: right; padding-bottom:1%;padding-right:1%">
                <button type="button" class="btn btn-warning" onclick="CrearObjetivo()">Agregar</button>
            </div>
        </div>
    </form>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaObjetivos" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Cargo</th>
                                <th>Nombre Evaluacion</th>
                                <th>Objetivo</th>
                                <th>Descripcion</th>
                                <th>Indicador</th>
                                <th>Peso</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Cargo</th>
                                <th>Nombre Evaluacion</th>
                                <th>Objetivo</th>
                                <th>Descripcion</th>
                                <th>Indicador</th>
                                <th>Peso</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <form>
        <div class="box-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="FormNombreComp">Competencia <span style="color:red">(*)</span></label><br />
                        <textarea class="form-control" id="FormNombreComp" name="FormNombreComp" rows="1" style="width:100%"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FormIndicadorComp">Indicador</label>
                        <input type="text" class="form-control" id="FormIndicadorComp" name="FormIndicadorComp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="FormDescripcionComp">Descripcion <span style="color:red">(*)</span></label><br />
                        <textarea class="form-control" id="FormDescripcionComp" name="FormDescripcionComp" rows="1" style="width:100%"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FormPesoComp">Peso <span style="color:red">(*)</span></label>
                        <input type="number" class="form-control" id="FormPesoComp" name="FormPesoComp" min="1" max="100" step="1" maxlength="3" onkeypress="validacion(event);">
                    </div>
                </div>
            </div>
        </div>

        <div id="btnAgregarCompetencia">
            <div style=" float: right; padding-bottom: 1%; padding-right: 1%">
                <button type="button" class="btn btn-warning" onclick="CrearCompetencia()">Agregar</button>
            </div>
        </div>
    </form>

    <div class="tab-content">
        <div class="tab-pane active" id="tab_2">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCompetencias" class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Cargo</th>
                                <th>Nombre Evaluacion</th>
                                <th>Competencia</th>
                                <th>Descripcion</th>
                                <th>Indicador</th>
                                <th>Peso</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Cargo</th>
                                <th>Nombre Evaluacion</th>
                                <th>Competencia</th>
                                <th>Descripcion</th>
                                <th>Indicador</th>
                                <th>Peso</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalEvaluacion" tabindex="-1" role="dialog" aria-labelledby="ModalEvaluacionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title col-md-10" id="ModalEvaluacionLabel" >Crear Evaluación</h3>
                <button type="button" class="close col-md-2" data-dismiss="modal" aria-label="Close" style="width:10%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger alert-dismissable" role="alert" id="alerta" style="font-size:14px">
                 <strong>¡Alerta!</strong> Escriba el Nombre de la Evaluación
                </div>
                <form>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="FormNombreEva">Nombre de Evaluacion</label><br />
                                    <input type="text" class="form-control" id="FormNombreEva" name="FormNombreEva">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CrearNombreEvaluacion()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Objetivo-->
<div class="modal fade" id="ModalObjetivo" tabindex="-1" role="dialog" aria-labelledby="ModalObjetivoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title col-md-10" id="ModalObjetivoLabel">Editar Objetivo</h3>
                <button type="button" class="close col-md-2" data-dismiss="modal" aria-label="Close" style="width:10%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divEditarObjetivo" style="width:100%;">
                    <div id="divEditarObjetivo"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Editar Competencia-->
<div class="modal fade" id="ModalCompetencia" tabindex="-1" role="dialog" aria-labelledby="ModalCompetenciaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title col-md-10" id="ModalCompetenciaLabel">Editar Competencia</h3>
                <button type="button" class="close col-md-2" data-dismiss="modal" aria-label="Close" style="width:10%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divEditarCompetencia" style="width:100%;">
                    <div id="divEditarCompetencia"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        if(@ViewBag.estadoPeriodo == 2){
            $("#btnAgregarObjetivo").hide();
            $("#btnAgregarCompetencia").hide();
        }

        $(".alert").hide()
        $("#cbCargo").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/EvaluacionPersonal/ListarPeriodoCargo",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    //alert(data.id);
                    return { results: data };

                },
            },
        }).on('change', function (e) {
            MostrarObjetivos();
            MostrarCompetencias();
        });


        $("#cbNombreEvaluacion").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/EvaluacionPersonal/ListarNombreEvaluacion",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
                change: function (data) {
                }
            },
        });

        //Asignación inicial
        var $newOption = $("<option></option>").val("@ViewBag.IdNombreEvaluacion").text("@ViewBag.NombreEvaluacion");
        $("#cbNombreEvaluacion").append($newOption).trigger('change');

    }); //end document

    function MostrarObjetivos() {
        $('#tablaObjetivos').dataTable().fnDestroy();

        $('#tablaObjetivos').DataTable({
            //"order": [[4, "asc"]],
            //dom: 'Bfrtip',
            ajax: "/EvaluacionPersonal/ListarCargoObjetivos/"+$("#cbCargo").val(),
            columns: [
                { data: "Cargo" },
                { data: "NombreEvaluacion" },
                { data: "Objetivo" },
                { data: "Descripcion" },
                { data: "Indicador" },
                { data: "Peso" },
                {
                    data: null,
                    render: function (data, type, row) {
                        if(@ViewBag.estadoPeriodo == 2){
                            $('#OcultarObjetivo'+data.IdObjetivo).hide();
                        }

                        return '<div class="col-md-1"></div>' +
                        '<div style=" text-align: center;" class="col-md-3"><span id="EditarObjetivo" title="Editar" class="glyphicon glyphicon-pencil" aria-hidden="true" style="color: #2D5C88; cursor: pointer; font-size: 13px;" data-toggle="modal" data-target="#ModalObjetivo" onclick="EditarObjetivo(' + data.IdObjetivo + ')" ></span></div>' +
                        '<div id="OcultarObjetivo'+data.IdObjetivo+'" style=" text-align: center;" class="col-md-3">'+
                        '<span id="EliminarObjetivo" title="Eliminar" class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #BA141A; cursor: pointer; font-size: 13px;" onclick="EliminarObjetivo(' + data.IdObjetivo + ')"></span>'+
                        '</div>' ;
                    }
                },
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]

        });

    }

    function MostrarCompetencias() {
        $('#tablaCompetencias').dataTable().fnDestroy();

        $('#tablaCompetencias').DataTable({
            //"order": [[4, "asc"]],
            //dom: 'Bfrtip',
            ajax: "/EvaluacionPersonal/ListarCargoCompetencias/"+$("#cbCargo").val(),
            columns: [
                { data: "Cargo" },
                { data: "NombreEvaluacion" },
                { data: "Competencia" },
                { data: "Descripcion" },
                { data: "Indicador" },
                { data: "Peso" },
                {
                    data: null,
                    render: function (data, type, row) {
                        if(@ViewBag.estadoPeriodo == 2){
                            $('#OcultarCompetencia'+data.IdCompetencia).hide();
                        }
                        return  '<div class="col-md-1"></div>' +
                                '<div style=" text-align: center;" class="col-md-3"><span id="EditarCompetencia" title="Editar" class="glyphicon glyphicon-pencil" aria-hidden="true" style="color: #2D5C88; cursor: pointer; font-size: 13px;" data-toggle="modal" data-target="#ModalCompetencia" onclick="EditarCompetencia(' + data.IdCompetencia + ')"></span></div>' +
                                '<div id="OcultarCompetencia'+data.IdCompetencia+'" style=" text-align: center;" class="col-md-3">'+
                                '<span id="EliminarCompetencia" title="Eliminar" class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #BA141A; cursor: pointer; font-size: 13px;" onclick="EliminarCompetencia(' + data.IdCompetencia + ')"></span>' +
                                '</div>';
                    }

                },
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]
        });
    }

    function CrearNombreEvaluacion() {
        $.ajax({
            url:    "/EvaluacionPersonal/GrabarNombreEvaluacion/",
            data: {
                FormNombreEva : $("#FormNombreEva").val() ,
            },
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {
                if(data=="OK"){
                    $("#FormNombreEva").val('')
                    $('#ModalEvaluacion').modal('hide')
                    Mensaje("OK","")
                }else{
                    $(".alert").fadeIn()
                    setTimeout(function(){
                        $(".alert").fadeOut();
                    },1700);
                }

            },
            error: function (source) {
                Mensaje("ERROR", 0)
            }
        });
    }


    function CrearObjetivo() {
        $.ajax({
            url:    "/EvaluacionPersonal/GrabarObjetivo/",
            data: { IdPeriodo: @ViewBag.IdPeriodo,
                IdCargo: $("#cbCargo").val(),
                IdNombreEvaluacion: $("#cbNombreEvaluacion").val(),
                FormNombreObj       : $("#FormNombreObj").val() ,
                FormDescripcionObj  : $("#FormDescripcionObj").val() ,
                FormIndicadorObj    : $("#FormIndicadorObj").val() ,
                FormPesoObj         : $("#FormPesoObj").val(),
            },
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {
                if(data=="OK"){
                    Mensaje("OK", "")
                    $("#FormNombreObj").val('')
                    $("#FormDescripcionObj").val('')
                    $("#FormIndicadorObj").val('')
                    $("#FormPesoObj").val('')
                    MostrarObjetivos();
                }else if(data=="MensajeNombreEvaluacion"){
                    Mensaje("Mensaje", "Seleccione el Nombre de la Evaluación")
                }else if(data=="MensajeCargo"){
                    Mensaje("Mensaje", "Seleccione el Cargo")
                }else{
                    Mensaje("Mensaje", "Debe Completar todos los campos")
                }

            },
            error: function (source) {
                Mensaje("ERROR", 0)
            }
        });
    }

    function CrearCompetencia() {
        $.ajax({
            url:    "/EvaluacionPersonal/GrabarCompetencia/",
            data: { IdPeriodo: @ViewBag.IdPeriodo,
                IdCargo: $("#cbCargo").val(),
                IdNombreEvaluacion: $("#cbNombreEvaluacion").val(),
                FormNombreComp       : $("#FormNombreComp").val() ,
                FormDescripcionComp  : $("#FormDescripcionComp").val() ,
                FormIndicadorComp    : $("#FormIndicadorComp").val() ,
                FormPesoComp         : $("#FormPesoComp").val(),
            },
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {
                if(data=="OK"){
                    Mensaje("OK", "")

                    $("#FormNombreComp").val('')
                    $("#FormDescripcionComp").val('')
                    $("#FormIndicadorComp").val('')
                    $("#FormPesoComp").val('')
                    MostrarCompetencias();
                }else if(data=="MensajeNombreEvaluacion"){
                    Mensaje("Mensaje", "Seleccione el Nombre de la Evaluación")
                }else if(data=="MensajeCargo"){
                    Mensaje("Mensaje", "Seleccione el Cargo")
                }else{
                    Mensaje("Mensaje", "Debe completar todos los campos")
                }

            },
            error: function (source) {
                Mensaje(data, 0)
            }
        });
    }

    function EliminarObjetivo(IdObjetivo) {
        $('#SmallModalContent').modal('show');
        $("#SmallModalTitle").empty();
        $("#SmallModalTitle").text("Mensaje");
        $("#SmallModalBody").empty();
        $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>¿Desea eliminar el Objetivo?</div>");
        $("#SmallModalFooter").empty();
        $("#SmallModalFooter").append("<div style='float:right;'>" +
                                          "<button id='continues' class='k-button'>Si</button>" +
                                          "<span>&nbsp;&nbsp;</span>" +
                                          "<button id='cancel' class='k-button'>No</button>" +
                                   "</div>");
        var undo = $("#continues")
        .bind("click", function () {
            $('#SmallModalContent').modal('hide');

            $.ajax({
                url: "/EvaluacionPersonal/EliminarObjetivo/",
                data: "Id=" + IdObjetivo + "&var=" + Math.random(),
                type: "POST",
                cache: false,
                dataType: "text",
                success: function (resp) {
                    if (resp == "OK") {
                        MostrarObjetivos();
                    }
                }
            });
        });

        var cancel = $("#cancel")
      .bind("click", function () {
          $('#SmallModalContent').modal('hide');
      });
    }

    function EliminarCompetencia(IdCompetencia) {
        $('#SmallModalContent').modal('show');
        $("#SmallModalTitle").empty();
        $("#SmallModalTitle").text("Mensaje");
        $("#SmallModalBody").empty();
        $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>¿Desea eliminar la Competencia?</div>");
        $("#SmallModalFooter").empty();
        $("#SmallModalFooter").append("<div style='float:right;'>" +
                                          "<button id='continues' class='k-button'>Si</button>" +
                                          "<span>&nbsp;&nbsp;</span>" +
                                          "<button id='cancel' class='k-button'>No</button>" +
                                   "</div>");
        var undo = $("#continues")
        .bind("click", function () {
            $('#SmallModalContent').modal('hide');

            $.ajax({
                url: "/EvaluacionPersonal/EliminarCompetencia/",
                data: "Id=" + IdCompetencia + "&var=" + Math.random(),
                type: "POST",
                cache: false,
                dataType: "text",
                success: function (resp) {
                    if (resp == "OK") {
                        MostrarCompetencias();
                    }
                }
            });
        });

        var cancel = $("#cancel")
      .bind("click", function () {
          $('#SmallModalContent').modal('hide');
      });

    }


    function EditarObjetivo(id) {
        $("#divEditarObjetivo").empty();
        $("#divEditarObjetivo").load("/EvaluacionPersonal/EditarObjetivos/" + id);
    }

    function EditarCompetencia(id) {
        $("#divEditarCompetencia").empty();
        $("#divEditarCompetencia").load("/EvaluacionPersonal/EditarCompetencias/" + id);
    }

    function validacion(event){
        var key = event.which || event.keyCode,
         value = event.target.value,
         n = value+String.fromCharCode(key);
        if ( isNaN(n) || n<1 || n>100)
            event.preventDefault();
    }

    function Mensaje(msg, msnErr) {
        $('#myModalLoading').modal('hide');
        if (msg == 'OK') {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Sistema de Gestión de Desempeño")
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>Información Actualizada</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'><button id='continues' class='k-button'>Continuar</button></div>");
            var undo = $("#continues")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                $('#ModalContent').modal('hide');
            });

            $("#closebtnmodal").click(function () {
                $('#SmallModalContent').modal('hide');
            });
        }
        else if (msg == 'Mensaje') {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Mensaje");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continuar' class='k-button'>Continuar</button>" +
                                       "</div>");
            var undo = $("#continuar")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                //$("#btnAutoEvaluacion").click();
            });
        }

        else {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Error al Guardar");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + "No se Actualizaron los Datos.\n\n Contacte al Administrador." + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continuee' class='k-button'>Continuar</button>" +
                                       "</div>");
            var undo = $("#continuee")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
            });
        }
    }
</script>

