@{
    Layout = null;
}

<link href="~/Content/custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.smartWizard.js"></script>

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

<link href="~/Content/themes/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/themes/ionicons/css/ionicons.css" rel="stylesheet" />

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<link rel="stylesheet" href="~/Content/themes/plugin/iCheck/all.css">
<script src="~/Content/themes/plugin/iCheck/icheck.min.js"></script>

<style>
    #SmallModalTitle {
        font-size: 18px;
    }
</style>
<div class="container-fluid">
    @using (Html.BeginForm("GrabarPeriodoEvaluados", "EvaluacionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEvaluacion", name = "FrmEvaluacion", target = "FrmEvaluacionDesempeno" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="FormEstadoPeriodo" id="FormEstadoPeriodo" value="@ViewBag.estadoPeriodo" />
        <div class="x_panel">
            <div class="x_title">
                <div style="width:85%;padding-left:10%">
                    <center><h2>Registro de Evaluación </h2></center>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="x_content">
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1" id="step1">
                                <span class="step_no"><i class="glyphicon glyphicon-calendar"></i></span>
                                <span class="step_descr" title="SGD - Periodo">
                                    1.Periodo
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2" id="step2">
                                <span class="step_no"><i class="glyphicon glyphicon-user"></i></span>
                                <span class="step_descr" title="SGD - Evaluados">
                                    2.Evaluados
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3" id="step3">
                                <span class="step_no"><i class="glyphicon glyphicon-list"></i></span>
                                <span class="step_descr" title="SGD - Cargo">
                                    3. Cargo<br />
                                    <small> </small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4" id="step4">
                                <span class="step_no"><i class="glyphicon glyphicon-check"></i></span>
                                <span class="step_descr" title="SGD - Competencias">
                                    4.Iniciar<br /> Evaluacion
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="step-1" class="form-horizontal">
                        <div class="form-horizontal form-label-left">
                            <div id="divRegistroObjetivos">

                                <div style="padding-left: 30%; ">
                                    <form>
                                        <br /><br />
                                        <div class="form-group">
                                            <label for="FormPeriodo">Periodo</label>
                                            <input type="text" class="form-control" id="FormPeriodo" name="FormPeriodo" style="width:50%">
                                        </div>
                                        <div class="form-group">
                                            <label for="FormDescripcion">Descripcion</label>
                                            <textarea class="form-control" id="FormDescripcion" name="FormDescripcion" rows="3" style="width:50%"></textarea>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="step-2" class="">
                        <div class="form-horizontal form-label-left" >
                            <div id="btnGuardarPeriodo">
                                <div style=" float: right; padding: 0px 15px 0px 0px;">
                                    <button id="submit" class="btn btn-warning" onclick="limpiar();"><i class="glyphicon glyphicon-floppy-saved"></i>  Guardar</button>
                                    @*<button type="button" class="btn btn-warning" onclick="lim();">PRUEBA</button>*@
                                </div>
                                <br /><br /><br />
                            </div>
                            <div id="btnEditarPeriodo">
                                <div style=" float: right; padding: 0px 15px 0px 0px;">
                                    <button id="submit" class="btn btn-warning" onclick="limpiar();"><i class="glyphicon glyphicon-pencil"></i>  Editar</button>
                                    @*<button type="button" class="btn btn-warning" onclick="lim();">PRUEBA</button>*@
                                </div>
                                <br /><br /><br />
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="box">
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <table id="tablaEvaluados" class="table table-bordered table-striped" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Evaluado</th>
                                                        <th>Jefe Directo</th>
                                                        <th>Cargo</th>
                                                        <th>Evaluar</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Evaluado</th>
                                                        <th>Jefe Directo</th>
                                                        <th>Cargo</th>
                                                        <th>Evaluar</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>

                            <div id="btnGuardarPeriodoA" style="display:inline-block; float:right; ">
                                <div style=" float:right; padding:0px 15px 0px 0px; ">
                                    <button id="submit" class="btn btn-warning" onclick="limpiar();"><i class="glyphicon glyphicon-floppy-saved"></i>  Guardar</button>
                                </div>
                            </div>
                            <div id="btnEditarPeriodoA" style="display:inline-block; float:right; ">
                                <div style=" float:right; padding:0px 15px 0px 0px; ">
                                    <button id="submit" class="btn btn-warning" onclick="limpiar();"><i class="glyphicon glyphicon-pencil"></i>  Editar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="step-3" class="">
                        <div id="divEvaCargo" style="width:100%;">
                            <div id="divCargo"></div>
                        </div>
                    </div>
                    <div id="step-4">
                        <div class="form-horizontal form-label-left">
                            <div id="btnIniciarEvaluacion">
                                <div style=" padding: 0px 0px 7px 0px; text-align: center;">
                                    <button type="button" class="btn btn-primary" onclick="IniciarEvaluacion()">Iniciar Evaluación</button>
                                </div>
                            </div>
                            <form id="Parametro">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="box">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="tablaPeriodoEvaluados" class="table table-bordered table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Evaluado</th>
                                                            <th>Jefe Directo</th>
                                                            <th>Cargo</th>
                                                            <th>Evaluación</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Evaluado</th>
                                                            <th>Jefe Directo</th>
                                                            <th>Cargo</th>
                                                            <th>Evaluación</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="btnIniciarEvaluacionA">
                                <div style=" padding: 0px 8px 0px 0px; text-align: center;">
                                    <button type="button" class="btn btn-primary" onclick="IniciarEvaluacion()">Iniciar Evaluación</button>
                                </div>
                                <br /><br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
<iframe id="FrmEvaluacionDesempeno" name="FrmEvaluacionDesempeno" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#divCargo").empty();
        $("#divCargo").load("/EvaluacionPersonal/RegistroCargo/?var=" + Math.random());
        ListarEvaluadosTodos();
        $("#btnEditarPeriodo").hide();
        $("#btnEditarPeriodoA").hide();


        if(@ViewBag.estadoPeriodo == 0 || @ViewBag.estadoPeriodo == 3){
            setTimeout(function(){$('input[type=checkbox]').attr("checked",true)},3000);
        }
        else if(@ViewBag.estadoPeriodo == 1){ // Periodo Creado

            //Mostrado datos - Paso 1
            $("#FormPeriodo").val("@ViewBag.Periodo");
            $("#FormDescripcion").val("@ViewBag.Descripcion");
            $("#FormPeriodo").attr('disabled', true);
            $("#FormDescripcion").attr('disabled', true);

            //Ocultando botones - Paso 2
            $("#btnGuardarPeriodo").css("display", "none");
            $("#btnGuardarPeriodoA").css("display", "none");
            setTimeout(function(){ObtenerEvaluadosPeriodo()},2500);
            $("#btnEditarPeriodo").show();
            $("#btnEditarPeriodoA").show();
            //Mostrando los Evaluados - Paso 4
            ListarPeriodoEvaluados();
        }
        else if(@ViewBag.estadoPeriodo == 2){ //Evaluacion Iniciada

            //Mostrado datos del Paso 1
            $("#FormPeriodo").val("@ViewBag.Periodo");
            $("#FormDescripcion").val("@ViewBag.Descripcion");
            $("#FormPeriodo").attr('disabled', true);
            $("#FormDescripcion").attr('disabled', true);

            //Ocultando botones del Paso 2
            $("#btnGuardarPeriodo").css("display", "none");
            $("#btnGuardarPeriodoA").css("display", "none");
            setTimeout(function(){ObtenerEvaluadosPeriodo()},2500);

            //Ocultando los botones Eliminar - Paso 3
            $("#OcultarObjetivo").hide();
            $("#OcultarCompetencia").hide();

            //Mostrando los Evaluados - Paso 4
            $("#btnIniciarEvaluacion").hide();
            $("#btnIniciarEvaluacionA").hide();
            ListarPeriodoEvaluados();
        }

        $('#wizard').smartWizard();
        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-success');
        $('.buttonFinish').addClass('btn btn-default');
        $('.buttonFinish').hide();


        $(".buttonNext").click(function(){
            if(@ViewBag.estadoPeriodo == 0 || @ViewBag.estadoPeriodo == 3){
                if($("#step1").hasClass("selected")){
                    $('#SmallModalContent').modal('show');
                    $("#SmallModalTitle").empty();
                    $("#SmallModalTitle").text("Mensaje");
                    $("#SmallModalBody").empty();
                    $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + "Debe guardar la información antes de continuar." + "</div>");
                    $("#SmallModalFooter").empty();
                    $("#SmallModalFooter").append("<div style='float:right;'>" +
                                                      "<button id='continuee' class='k-button'>Continuar</button>" +
                                                    "</div>");
                    var undo = $("#continuee")
                    .bind("click", function () {
                        $('#SmallModalContent').modal('hide');

                    });
                }
                
                    setTimeout(function(){
                        $('.buttonNext').addClass('btn btn-success buttonDisabled');
                    },220);
            }
        });
    });

    function ListarEvaluadosTodos(){

        $('#tablaEvaluados').dataTable().fnDestroy();
        $('#tablaEvaluados').DataTable({
            //"order": [[4, "asc"]],
            //dom: 'Bfrtip',
            ajax: "/EvaluacionPersonal/ListarTodosEvaluados",
            columns: [
			    { data:"Evaluado"},
			    { data: "Jefe" },
                { data: "Cargo" },
                { data: null,
                    render: function (data, type, row) {

                        return '<div><input type="checkbox"  id="Evaluado'+data.IdPersEntiEvaluado+'" name="'+data.Evaluado+'" style="width:80%" class="flat-red"></div>';
                    }
                },
            ],
            "bPaginate": false,
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]
        });

    }

    function ObtenerEvaluadosPeriodo(){

        $.ajax({
            url: "/EvaluacionPersonal/ListarEvaluadosPeriodo/",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data = source;
                $.each(source['data'], function (index, value) {
                    $("#Evaluado"+data['data'][index]['IdPersEnti']).attr('checked', true);
                });

            },
            error: function (source) {
                alert("Error Carga Json");
            }
        });
    }

    function ListarPeriodoEvaluados(){
        $('#tablaPeriodoEvaluados').dataTable().fnDestroy();
        $('#tablaPeriodoEvaluados').DataTable({
            ajax: "/EvaluacionPersonal/ListarEvaluadosPeriodo/",
            columns: [
			    { data: null,
			        render: function (data, type, row) {
			            return '<div style="width:100%">'+
                               '<label id="evaluado'+data.IdPersEnti +'" name="evaluado'+data.IdPersEnti+'" />'+data.Evaluado+'</label></div>';
			        }
			    },
			    { data: "Jefe" },
                { data: null,
                    render: function (data, type, row) {
                        return '<div style="width:100%">'+
                               '<label id="cargo'+data.IdCargo +'" name="cargo'+data.IdCargo+'" />'+data.Cargo+'</label></div>';
                        ;
                    }
                },
                { data: null,
                    render: function (data, type, row) {
                        ObtenerEvaluacion(data.IdPersEnti,data.IdCargo);

                        return '<div style="width:100%">'+
                            '<select id="cbEvaluaciones' + data.IdPersEnti + '" name="' + data.IdPersEnti + '/' + data.IdCargo +'" class="form-control select2" style="width:100%" ></select></div>';
                    }
                },
            ],
            "bPaginate": false,
            "searching": false,
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]
        });
    }

    function ObtenerEvaluacion(idPersEnti,idCargo){

        $("#cbEvaluaciones"+idPersEnti).select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/EvaluacionPersonal/ObtenerNombreEvaluaciones/"+idCargo,
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };

                },
            },
        });


        @*if(@ViewBag.estadoPeriodo == 1){
            //$("#cbEvaluaciones"+idPersEnti).append("<option value='1'>"+"@ViewBag.NombreEvaluacion"+"</option>");
        }else*@
        if(@ViewBag.estadoPeriodo == 2){
            $.ajax({
                url: "/EvaluacionPersonal/EvaObtenerEvaluacion/"+idPersEnti,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (source) {
                    data = source;
                    var $newOption = $("<option></option>").val(data['data'][index]['IdNombreEvaluacion']).text(data['data'][index]['NombreEvaluacion']);
                    $("#cbEvaluaciones"+idPersEnti).append($newOption).trigger('change');
                },
                error: function (source) {
                    alert("Error Carga Json");
                }
            });
        }
    }

    function limpiar(){

        $('input[type=search]').val('')
        $('input[type=search]').trigger({type: 'keyup', which: 13, keyCode: 13});
    }

    function limpiarPrueba(){
        $('input[type=checkbox]').attr("checked",false)
    }

    function IniciarEvaluacion(){
        //alert(JSON.stringify($('#Parametro').serializeArray()))

        $.ajax({
            url:    "/EvaluacionPersonal/ValidarEvaluacion/",
            data: { IdPeriodo: @ViewBag.IdPeriodo,
                DataTable  :JSON.stringify($('#Parametro').serializeArray()),
            },
            cache: false,
            type: "POST",
            dataType: "json",
            success: function (data) {
                if(data=="OK"){
                    $('#SmallModalContent').modal('show');
                    $("#SmallModalTitle").empty();
                    $("#SmallModalTitle").text("Mensaje");
                    $("#SmallModalBody").empty();
                    $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>¿Desea Iniciar la Evaluacion?</div>");
                    $("#SmallModalFooter").empty();
                    $("#SmallModalFooter").append("<div style='float:right;'>" +
                                                      "<button id='continues' class='k-button'>Si</button>" +
                                                      "<span>&nbsp;&nbsp;</span>" +
                                                      "<button id='cancel' class='k-button'>No</button>" +
                                               "</div>");
                    var undo = $("#continues")
                    .bind("click", function () {
                        $('#SmallModalContent').modal('hide');

                        CrearEvaluaciones();
                    });

                    var cancel = $("#cancel")
                  .bind("click", function () {
                      $('#SmallModalContent').modal('hide');
                  });

                }else{
                    uploadDoneEva("Mensaje", data)
                }

            },
            error: function (source) {
                Mensaje("ERROR", 0)
            }
        });
    }

    function CrearEvaluaciones() {
        $.ajax({
            url:    "/EvaluacionPersonal/IniciarEvaluacion/",
            data: { IdPeriodo: @ViewBag.IdPeriodo,
                DataTable  :JSON.stringify($('#Parametro').serializeArray()),
            },
            cache: false,
            type: "POST",
            dataType: "json",
            beforeSend: function () {
                swal({ title: "", text: "Espere un momento", showConfirmButton: false, imageUrl: "../../Images/spinner.gif" })
            },
            success: function (data) {
                if(data=="OK"){
                    uploadDoneEva("INICIAR", "")
                    swal.close();

                }else{
                    uploadDoneEva("Mensaje", data)
                }
            },
            error: function (source) {
                Mensaje("ERROR", 0)
            }
        });
    }


</script>


<script type="text/javascript">
    $("#submit").click(function () {
        $('#myModalLoading').modal('show');
    });

    function uploadDoneEva(msg, msnErr) {

        $('#myModalLoading').modal('hide');
            if (msg == 'INICIAR') {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Sistema de Gestión de Desempeño")
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>La Evaluación ha iniciado.</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                                      "<button id='continuar' class='k-button'>Continuar</button>" +
                                               "</div>");
            var undo = $("#continuar")
                .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                $("#btnMantEvaluacion").click();
                });
            }

            else if (msg == 'OK') {
                $("#btnMantEvaluacion").click();
                $(".buttonNext").click();
        }
        else if (msg == 'Mensaje') {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Mensaje");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continuar' class='k-button'>Continuar</button>" +
                                       "</div>");
            var undo = $("#continuar")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                //$("#btnAutoEvaluacion").click();
            });
        }

        else {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Error al Guardar");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + "No se Actualizaron los Datos.\n\n Contacte al Administrador." + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continuee' class='k-button'>Continuar</button>" +
                                       "</div>");
            var undo = $("#continuee")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
            });
        }
    }
</script>