@{
    ViewBag.Title = "ReporteHistorico";
    Layout = null;
}
@*<link href="~/Content/custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.smartWizard.js"></script>*@
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

<link href="~/Content/themes/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/themes/ionicons/css/ionicons.css" rel="stylesheet" />

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<style>
    .fieldlist {
        margin: 0 0 -1em 60px;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 1em;
        }


    #SmallModalTitle {
        font-size: 18px;
    }
</style>
<div class="container-fluid">
    <div class="x_panel">
        <div class="x_title">
            <form>

                <div class="col-sm-8">
                    <h2 style="padding-left:62%">Evaluaciones </h2>
                    <br />
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <br /><label for="cbPeriodo">Periodo</label>
                    </div>
                    <div class="col-sm-3">
                        <input id="cbPeriodo" name="cbPeriodo" style="font-size:12px;"  class="dropdownKendo" />
                    </div>
                    <div class="col-sm-1">
                        <br />  <label for="IdEvaluado">Evaluado</label><br />
                    </div>
                    <div class="col-sm-3">
                        <input id="IdEvaluado" name="IdEvaluado" style="font-size:12px;" class="dropdownKendo"  />
                        @*<select id="IdDesempenoE" name="IdDesempenoE" class="form-control select2" style="width:80%"></select>*@
                    </div>
                    <br />
                </div>
                <!--<div class="col-sm-2">
    <input id="cbPeriodo" name="cbPeriodo" style="font-size:12px;" />-->
                @*<br /><select id="cbPeriodo" name="cbPeriodo" class="form-control select2" ></select>*@
                <!--</div>
    <div class="col-sm-2">
        <input id="IdEvaluado" name="IdEvaluado" style="font-size:12px;" />-->
                @*<br /><select id="IdEvaluado" name="IdEvaluado" class="form-control select2"></select>*@
                <!--</div>-->


            </form>
            <br />
        </div>

        <div class="x_content" id="ReporteAntiguo" hidden>
            <!-- Smart Wizard -->
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no"><i class="glyphicon glyphicon-user"></i></span>
                            <span class="step_descr" title="SGD - Objetivos">
                                1. Objetivos<br />
                                <small> </small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no"><i class="glyphicon glyphicon-list"></i></span>
                            <span class="step_descr" title="SGD - Competencias">
                                2. Competencias<br />
                                <small> </small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="step_no"><i class="glyphicon glyphicon-file"></i></span>
                            <span class="step_descr" title="SGD - Plan de Mejora">
                                3. Plan de Mejora<br />
                                <small> </small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-4">
                            <span class="step_no"><i class="glyphicon glyphicon-folder-open"></i></span>
                            <span class="step_descr" title="SGD - Archivos">
                                4. Archivos<br />
                                <small> </small>
                            </span>
                        </a>
                    </li>
                </ul>

                <div id="step-1">
                    <div class="form-horizontal form-label-left">
                        <div class="divSpace2"></div>
                        <div id="divEvObjetivos" style="width:100%;">
                            <div style="width:100%;">
                                <div class="divSpace2"></div>
                                <div id="divEvaluacion" style="width:100%;">

                                    @Html.Hidden("IdEvaluacion")
                                    <div class="titleForm">
                                        <div class="title" id="divTitle">
                                            Objetivos
                                        </div>
                                    </div>
                                    <div style="overflow-y:auto; height:100%;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <br /><br /><br />
                                                        Objetivo
                                                    </th>
                                                    <th>Descripción</th>
                                                    <th>Peso</th>
                                                    <th style="border-left: 1px solid #e2e2e2; text-align:center">
                                                        <img id="imgEvaluado" style="width: 75px; height: 75px; border-radius: 50%" src="/Content/Fotos/0.jpg" /><br />
                                                        Autoevaluación
                                                    </th>
                                                    <th style="border-left: 1px solid #e2e2e2; text-align:center">
                                                        <img id="imgEvaluador" style="width: 75px; height: 75px; border-radius: 50%" src="/Content/Fotos/0.jpg" /><br />
                                                        Evaluador
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="TablaCalificaciones"></tbody>
                                        </table>
                                    </div>
                                    <div id="divEvaFinal" class="divFondoDos" style="text-align:center"><h3>CALIFICACIÓN FINAL : <span id="spanNota"></span></h3></div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-2">
                    <div class="form-horizontal form-label-left">
                        <div class="divSpace2"></div>
                        <div id="divEvaCompetencias" style="width:100%;">
                            <div style="width:100%;">
                                <div class="divSpace2"></div>
                                <div id="divEvaluacion" style="width:100%;">

                                    @Html.Hidden("IdEvaluacionCompetencia")
                                    <div class="titleForm">
                                        <div class="title" id="divTitle">
                                            Competencias
                                        </div>
                                    </div>
                                    <div style="overflow-y:auto; height:100%;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <br /><br /><br />
                                                        Competencia
                                                    </th>
                                                    <th>Descripción</th>
                                                    <th>Peso</th>
                                                    <th style="border-left: 1px solid #e2e2e2; text-align:center">
                                                        <img id="imgEvaluadoComp" style="width: 75px; height: 75px; border-radius: 50%" src="/Content/Fotos/0.jpg" /><br />
                                                        Autoevaluación
                                                    </th>
                                                    <th style="border-left: 1px solid #e2e2e2; text-align:center">
                                                        <img id="imgEvaluadorComp" style="width: 75px; height: 75px; border-radius: 50%" src="/Content/Fotos/0.jpg" /><br />
                                                        Evaluador
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="TablaCalificacionesCompetencias"></tbody>
                                        </table>
                                    </div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-3">
                    <div class="form-horizontal form-label-left">
                        <div class="divSpace2"></div>
                        <div id="divEvaPlanMejora" style="width:100%;">
                            <div id="divPlanMejora"></div>
                        </div>
                    </div>
                </div>
                <div id="step-4">
                    <div class="form-horizontal form-label-left">
                        <div class="divSpace2"></div>
                        <div id="divEvaArchivos" style="width:100%;">
                            <div class="titleForm">
                                <div class="title" id="divTitle">
                                    Archivos
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont2">
                                <h5>Archivos Adjuntados:</h5>
                            </div>
                            <div class="bodyForm">
                                <div class="inBodyForm">
                                    <div id="ListaArchivosEvaluado">
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="x_content" id="ReporteNuevo" hidden>
            <!-- Smart Wizard -->
            <div id="wizard2" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no"><i class="glyphicon glyphicon-user"></i></span>
                            <span class="step_descr" title="SGD - Objetivos">
                                1. Objetivos<br />
                                <small> </small>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no"><i class="glyphicon glyphicon-file"></i></span>
                            <span class="step_descr" title="SGD - Plan de Mejora">
                                2. Feedback<br />
                                <small> </small>
                            </span>
                        </a>
                    </li>
                </ul>
                <div id="step-1">
                    <div class="form-horizontal form-label-left">
                        <div class="divSpace2"></div>
                        <div id="divEvColabObjetivos" style="width:100%;">
                            <div id="divColabObjetivos"></div>
                        </div>
                    </div>
                </div>
                <div id="step-2">
                    <div class="form-horizontal form-label-left">
                        <div class="divSpace2"></div>
                        <div id="divEvaFeedBack" style="width:100%;">
                            <div id="divFeedBack"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<iframe id="FrmEvaluacionDesempeno1" name="FrmEvaluacionDesempeno1" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


<script type="text/javascript">
    $(document).ready(function () {
        //$("#divEvaFinal").hide();
        //$("#divEvaAdjuntar").css("display", "none");

        $("#cbPeriodo").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/EvaluacionPersonal/EvaListadoDesempeñoPeriodo?var=" + Math.random()
                }
            },
            dataBound: function (e) {
                var comboBox = $("#cbPeriodo").data("kendoDropDownList");
                comboBox.select(0);
                comboBox.trigger("change");
            },
            change: function (e) {
                var evaluadoCombo = $("#IdEvaluado").data("kendoDropDownList");
                evaluadoCombo.enable(true);
                evaluadoCombo.dataSource.read();
                evaluadoCombo.value("");
            }
        });

        $("#IdEvaluado").kendoDropDownList({
            autoBind: false,
           /* cascadeFrom: "cbPeriodo",*/
            dataTextField: "text",
            dataValueField: "id",
            optionLabel: {
                text: "Seleccionar",
                id: null
            },
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,

            dataSource: {

                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                //transport: {
                //    read: "/EvaluacionPersonal/ListarDesempeno?var=" + Math.random()
                //}
                transport: {
                    read: {
                        url: function () {
                            var periodoId = $("#cbPeriodo").val();
                            return "/EvaluacionPersonal/EvaListarHistoricoEvaluado?periodoId=" + periodoId + "&var=" + Math.random();
                        },
                        dataType: "json"
                    }
                }
            }, change: function (e) {

                if ($("#cbPeriodo").val() < 8) {

                    $('#wizard').smartWizard();
                    $('.buttonNext').addClass('btn btn-success');
                    $('.buttonPrevious').addClass('btn btn-success');
                    $('.buttonFinish').addClass('btn btn-default');
                    $('.buttonFinish').hide();

                    document.getElementById('ReporteNuevo').setAttribute('hidden', 'hidden');
                    document.getElementById('ReporteAntiguo').removeAttribute('hidden');
                    CargarTablaEvaluaciones($("#cbPeriodo").val(), $("#IdEvaluado").val())
                    CargarTablaEvaluacionesCompetencias($("#cbPeriodo").val(), $("#IdEvaluado").val())

                    $("#divPlanMejora").empty();
                    $("#divPlanMejora").load("/EvaluacionPersonal/EvaluacionPlanMejora/" + $("#cbPeriodo").val() + '/' + $("#IdEvaluado").val() + "?var=" + Math.random());

                    setTimeout(function () {
                        $($('#AreaMejora').data().kendoEditor.body).attr('contenteditable', false);
                        $($('#Comentario').data().kendoEditor.body).attr('contenteditable', false);
                    }, 1500);

                    CargarArchivosEvaluado($("#cbPeriodo").val(), $("#IdEvaluado").val());
                }
                else {

                    document.getElementById('ReporteAntiguo').setAttribute('hidden', 'hidden');
                    document.getElementById('ReporteNuevo').removeAttribute('hidden');

                    $('.buttonFinish').hide();

                    $("#divColabObjetivos").empty();
                    $("#divColabObjetivos").load("/EvaluacionPersonal/MisColaboradoresObjetivos/" + $("#IdEvaluado").val() + "?IdPeriodo=" + $("#cbPeriodo").val() + "&var=" + Math.random());

                    $("#divFeedBack").empty();
                    $("#divFeedBack").load("/EvaluacionPersonal/MisColaboradoresFeedBack/" + $("#IdEvaluado").val() + "?IdPeriodo=" + $("#cbPeriodo").val() + "&var=" + Math.random());

                    $('#wizard2').smartWizard();
                    $('.buttonNext').addClass('btn btn-success');
                    $('.buttonPrevious').addClass('btn btn-success');

                }
               

            }
        });


    });

    //Archivos
    function CargarArchivosEvaluado(IdPeriodo,IdEvaluado) {

        $.ajax({
            url: "/EvaluacionPersonal/ObtenerArchivosEvaluado/"+IdPeriodo+'/' + IdEvaluado,
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data = source;
                $("#ListaArchivosEvaluado").empty();
                $.each(data['Data'], function (index, value) {
                    $("#ListaArchivosEvaluado").append(
                        '<div class="divFondoUno" style="padding: 5px 15px 5px 15px;">' +
                            '<div class="smallField" style="width:100%; float:left;padding-left:2%">- <a href="/Adjuntos/Talent/EvaluacionPersonal/' + (data['Data'][index]['LINK']) + '" target="_BLANK">' + (data['Data'][index]['ARCHIVO']) + ' <img src="/Content/Images/pdf.png" style="width:14px; height:14px; border:none;"></a></div>' +
                        '</div>'
                    );
                });
            },
            error: function (source) {
                alert("Error Carga Json ArchivosFD");
            }
        });
    }

    //Objetivos
    function CargarTablaEvaluaciones(IdPeriodo,idUsuario) {
        $("#TablaCalificaciones").empty();
        $("#divEvaFinal").hide();
        $.ajax({
            url: "/EvaluacionPersonal/ListarHistoricoCalificacionObjetivos/"+IdPeriodo+'/' + idUsuario,
            //data: parametros,
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {

                $("#IdEvaluacion").val("");

                $.each(data['Data'], function (index, value) {
                    $("#TablaCalificaciones").append(
                                                    '<tr id="IdEvaluacion' + (data['Data'][index]['Id']) + '">' +
                                                        '<td style="width:20%">' + (data['Data'][index]['Nombre']) + '</td>' +
                                                        '<td style="width:17%">' + (data['Data'][index]['Descripcion']) + '</td>' +
                                                        '<td style="width:3%">' + (data['Data'][index]['Peso']) + '</td>' +
                                                        '<td style="text-align: center; border-left: 1px solid #e2e2e2; width:30%">' +
                                                            '<div class="input-group">'+
                                                            '<span class="input-group-addon">Calificación</span>'+
                                                            '<input id="IdAutoEva' + (data['Data'][index]['Id']) + '" name="IdAutoEva' + (data['Data'][index]['Id'])+'" type="number" class="form-control" min="1" max="5" step="1" style="width:100%;" maxlength="1"  onKeyPress="validacion(event);" required="required" value="' + (data['Data'][index]['IdResultadoEvaluado']) + '" disabled' + ' >' +
                                                            '</div>'+
                                                            '<textarea id="txtAutoEva' + (data['Data'][index]['Id']) + '" name="txtAutoEva' + (data['Data'][index]['Id']) + '" class="form-control" rows="3" cols="1000" disabled >' + (data['Data'][index]['ObsResultadoEvaluado']) + '</textarea>' +
                                                        '</td>' +
                                                        '<td style="text-align: center; border-left: 1px solid #e2e2e2; width:30%">' +
                                                            '<div class="input-group">'+
                                                            '<span class="input-group-addon">Calificación</span>'+
                                                            '<input id="IdJefeEva' + (data['Data'][index]['Id']) + '" name="IdJefeEva' + (data['Data'][index]['Id'])+'" type="number" class="form-control" min="1" max="5" step="1" style="width:100%;" maxlength="1" onKeyPress="validacion(event);" required="required" value="' + (data['Data'][index]['IdResultadoJefe']) + '" disabled >' +
                                                            '</div>'+
                                                            '<textarea id="txtJefeEva' + (data['Data'][index]['Id']) + '" name="txtJefeEva' + (data['Data'][index]['Id']) + '" class="form-control" rows="3" cols="30" disabled >' + (data['Data'][index]['ObsResultadoJefe']) + '</textarea>' +
                                                        '</td>' +
                                                    '</tr>'
                        );
                    $("#IdEvaluacion").val($("#IdEvaluacion").val() + ',' + data['Data'][index]['Id']);

                    $('#imgEvaluado').attr("src", "/Content/Fotos/" + (data['Data'][index]['IdPersEnti']) + ".jpg");
                    $('#imgEvaluador').attr("src", "/Content/Fotos/" + (data['Data'][index]['IdPersEntiPadre']) + ".jpg");


                    if ((data['Data'][index]['IdEstado'] == 1 && data['Data'][index]['IdPersEnti'] == @ViewBag.IdPersEnti) || (data['Data'][index]['IdEstado'] == 2 && data['Data'][index]['IdPersEntiPadre'] == @ViewBag.IdPersEnti))
                    {
                        $('.buttonFinish').show();
                    }else{
                        $('.buttonFinish').hide();
                    }

                });

                EvaluacionFinal(IdPeriodo,idUsuario);


            },
            error: function (source) {
            }
        });
    }

    function CargarTablaEvaluacionesCompetencias(IdPeriodo,idUsuario) {
        $("#TablaCalificacionesCompetencias").empty();
        $.ajax({
            url: "/EvaluacionPersonal/ListarHistoricoCalificacionCompetencias/"+IdPeriodo +'/' + idUsuario,
            //data: parametros,
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {

                $("#TablaCalificacionesCompetencias").empty();
                $("#IdEvaluacionCompetencia").val("");

                $.each(data['Data'], function (index, value) {

                    $("#TablaCalificacionesCompetencias").append(
                                                    '<tr id="IdEvaluacionCompetencia' + (data['Data'][index]['Id']) + '">' +
                                                        '<td style="width:20%" id="txtNombreCompetencia' + (data['Data'][index]['Id']) + '" name="txtNombreCompetencia' + (data['Data'][index]['Nombre']) + '">' + (data['Data'][index]['Nombre']) + '</td>' +
                                                        '<td style="width:17%">' + (data['Data'][index]['Descripcion']) + '</td>' +
                                                        '<td  width:3%>' + (data['Data'][index]['Peso']) + '</td>' +
                                                        '<td style="text-align: center; border-left: 1px solid #e2e2e2;  width:30%">' +
                                                            ((data['Data'][index]['IdCompetencia']) == 0 ?
                                                             '<textarea id="txtAutoCompetencia' + (data['Data'][index]['Id']) +'" required name="txtAutoCompetencia' + (data['Data'][index]['Id']) + '" class="form-control" rows="3" cols="1000" ' + (data['Data'][index]['IdEstado'] == 1 && data['Data'][index]['IdPersEnti'] == @ViewBag.IdPersEnti && @ViewBag.estadoPeriodo!=3 ? '' : 'disabled') + '>' + (data['Data'][index]['ObsResultadoEvaluado']) + '</textarea>' :
                                                                '<div class="input-group">'+
                                                            '<span class="input-group-addon">Calificación</span>'+
                                                            '<input id="IdAutoCompetencia' + (data['Data'][index]['Id']) + '" name="IdAutoCompetencia' + (data['Data'][index]['Id'])+'" type="number" class="form-control" min="1" max="5" step="1" style="width:100%;" maxlength="1" onKeyPress="validacion(event);" required="required" value="' + (data['Data'][index]['IdResultadoEvaluado']) + '" ' + (data['Data'][index]['IdEstado'] == 1 && data['Data'][index]['IdPersEnti'] == @ViewBag.IdPersEnti && @ViewBag.estadoPeriodo!=3 ? '' : 'disabled') + ' >' +
                                                            @*'<textarea id="txtAutoCompetencia' + (data['Data'][index]['Id']) + '" style="display:none;" name="txtAutoCompetencia' + (data['Data'][index]['Id']) + (data['Data'][index]['Nombre']) + '" class="form-control" rows="3" cols="1000" ' + (data['Data'][index]['IdEstado'] == 1 && data['Data'][index]['IdPersEnti'] == @ViewBag.IdPersEnti && @ViewBag.estadoPeriodo!=3 ? '' : 'disabled') + '>' + (data['Data'][index]['ObsResultadoEvaluado']) + '</textarea>' +*@
                                                            '</div>'+
                                                            '<div>') +
                                                                '</div>'+
                                                        '</td>' +
                                                        '<td style="text-align: center; border-left: 1px solid #e2e2e2; width:30%">' +
                                                        ((data['Data'][index]['IdCompetencia']) == 0 ?
                                                        '<textarea id="txtJefeCompetencia' + (data['Data'][index]['Id']) +  '" name="txtJefeCompetencia' + (data['Data'][index]['Id']) + '" class="form-control" rows="3" cols="30" ' + (data['Data'][index]['IdEstado'] == 2 && data['Data'][index]['IdPersEntiPadre'] == @ViewBag.IdPersEnti && @ViewBag.estadoPeriodo!=3 ? '' : 'disabled') + '>' + (data['Data'][index]['ObsResultadoJefe']) + '</textarea>' :
                                                        '<div class="input-group">'+
                                                            '<span class="input-group-addon">Calificación</span>'+
                                                            '<input id="IdJefeCompetencia' + (data['Data'][index]['Id']) + '" name="IdJefeCompetencia' + (data['Data'][index]['Id'])+'" type="number" class="form-control" min="1" max="5" step="1" style="width:100%;" maxlength="1" onKeyPress="validacion(event);" required="required" value="' + (data['Data'][index]['IdResultadoJefe']) + '" ' + (data['Data'][index]['IdEstado'] == 2 && data['Data'][index]['IdPersEntiPadre'] == @ViewBag.IdPersEnti && @ViewBag.estadoPeriodo!=3 ? '' : 'disabled') + ' >' +
                                                            @*'<textarea id="txtJefeCompetencia' + (data['Data'][index]['Id']) + (data['Data'][index]['Nombre']) + '" style="display:none;" name="txtJefeCompetencia' + (data['Data'][index]['Id'])  + (data['Data'][index]['Nombre']) + '" class="form-control" rows="3" cols="30" ' + (data['Data'][index]['IdEstado'] == 2 && data['Data'][index]['IdPersEntiPadre'] == @ViewBag.IdPersEnti && @ViewBag.estadoPeriodo!=3 ? '' : 'disabled') + '>' + (data['Data'][index]['ObsResultadoJefe']) + '</textarea>' +*@
                                                            '</div>')+
                                                        '</td>' +
                                                    '</tr>'

                        );
                    $("#IdEvaluacionCompetencia").val($("#IdEvaluacionCompetencia").val() + ',' + data['Data'][index]['Id']);
                    //$("IdCalificacionCompetencia").val($("#IdCalificacionCompetencia").val() + ',' + data['Data'][index]['Id']);

                    $('#imgEvaluadoComp').attr("src", "/Content/Fotos/" + (data['Data'][index]['IdPersEnti']) + ".jpg");
                    $('#imgEvaluadorComp').attr("src", "/Content/Fotos/" + (data['Data'][index]['IdPersEntiPadre']) + ".jpg");



                });


            },
            error: function (source) {

            }
        });
    }


    function EvaluacionFinal(IdPeriodo,idUsuario){
        $.ajax({
            url: "/EvaluacionPersonal/ObtenerPromedioCalificacion/" +IdPeriodo+'/'+ idUsuario,
            cache: false,
            type: "GET",
            dataType: "text",
            success: function (data) {
                if(data!="0"){
                    $('#divEvaFinal').show();
                    $("#spanNota").text(data);
                }else{
                    $("#spanNota").text("");
                    $('#divEvaFinal').hide();
                }
            },
            error: function (source) {
            }
        });
    } 
</script>


<script type="text/javascript">

    $(".buttonFinish").click(function () {
        $('#myModalLoading').modal('show');
    });
    function MensajeEvaluacion(msg, msnErr) {
        $('#myModalLoading').modal('hide');
        if (msg == 'OK') {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Sistema de Gestión de Desempeño")
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>Información Actualizada</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'><button id='continues' class='k-button'>Continuar</button></div>");
            var undo = $("#continues")
                .bind("click", function () {
                    $('#SmallModalContent').modal('hide');
                    $('#ModalContent').modal('hide');
                    $("#btnAutoEvaluacion").click();
                });

            $("#closebtnmodal").click(function () {
                $('#SmallModalContent').modal('hide');
                $("#btnAutoEvaluacion").click();
            });
        }
        else if (msg == 'Mensaje') {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Mensaje");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                "<button id='continuar' class='k-button'>Continuar</button>" +
                "</div>");
            var undo = $("#continuar")
                .bind("click", function () {
                    $('#SmallModalContent').modal('hide');
                    //$("#btnAutoEvaluacion").click();
                });
        }

        else {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Error al Guardar");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + "No se Actualizaron los Datos.\n\n Contacte al Administrador." + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                "<button id='continuee' class='k-button'>Continuar</button>" +
                "</div>");
            var undo = $("#continuee")
                .bind("click", function () {
                    $('#SmallModalContent').modal('hide');
                    $("#btnAutoEvaluacion").click();
                });
        }
    }
</script>