@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div style="float:left; width:100%;">
    <div class="titleForm">
        <div style="display:inline-block; width:100%; height:20px;">
            <div class="title" style="float:left; width:30%;">
            <div style="float:left;" onclick="ReturnEvaluation(this)">
                <img style="margin-top:-1px;" src="~/Content/Images/arrow_return.png" />
               </div>&nbsp;Coments</div>
               <div style="padding-top:3px; padding-right:1%; float:right; width:64%; text-transform:capitalize; text-align:right;" id="Staff_eval"></div>
        </div>
    </div>
    <div class="bodyForm">
        <div class="inBodyForm">
            
            <!-- Formulario-->
                <div style="width:100%;">
                    @using (Html.BeginForm("SaveCommentEvaluation", "DetailEvaluationStaff", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDetailEvaluation", target = "upload_target" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="modal-body">
                            <div class="divFondoUno">
                                <div style="width:100%;float:left">
                                    <div class="editor-label">
                                        Comment @ViewBag.idevalstaf
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextArea("COM_DETA_EVAL_STAF", new { rows = "5" })
                                        <input type="hidden" value=@ViewBag.idevalstaff name="ID_EVAL_STAF" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            @*<button type="button" class="k-button" data-dismiss="modal">Close</button>*@
                            <button id="submit" class="k-button">Create</button>
                        </div>

                        <iframe id="upload_target" name="upload_target" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>
                        <div style="clear:both; padding-top:10px;"></div>
                    }
                </div>
            <div style="clear:both"></div>
            <div id="divActivities"></div>

        </div>
    </div>
</div>


<div class="modal fade" id="modNewComm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Comment</h4>
            </div>
            <div id="PUComment"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    

    function uploadDone(conf, msg) {

        //closeWinModalPopUpLoad();

        if (conf == 'OK') {

            //closeWinModalPopUp();
            
            //

            //$('#myModalLoading').on('hidden.bs.modal', function (e) {
                $("#pnlEvaluationWork").empty();
                $("#pnlEvaluationWork").load("/DetailEvaluationStaff/Index/" + "@ViewBag.idevalstaff" + "?_" + Math.random(), function () {
                    $('#myModalLoading').modal('hide');
                });
            //});

        }
        else {
            $('#myModalLoading').modal('hide');
            alert("Error en su solicitud");
        }
    }

    $(document).ready(function () {

        $("#submit").click(function () {
            @*winPopUpModalLoad('@ResourceLanguaje.Resource.SavingYourTicket', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);*@
            $('#myModalLoading').modal('show');
        });

        $("#COM_DETA_EVAL_STAF").kendoEditor({
            encoded: false
        });

        //-----------------OBTIENES DATOS Y LLENA LOS COMENTARIOS----------------------------
        $.ajax({
            url: "/DetailEvaluationStaff/CommentByStaff/" + @ViewBag.idevalstaff + "/?var" + Math.random(),
            dataType: 'json',
            cache: false,
            async: true,
            success: function (jsonx) {

                //  $("#divnewcomment").append('<a onclick="LoadNewComment(this)" href="#">New Comment</a>');

                $.each(jsonx['Data'], function (index, value) {

                    $("#divActivities").append('<div class="detailsSummary">' +
                         '<div id="detSummary">' +
                             '<div class="containerdt">' +
                                 '<div class="userData">' +
                                     '<div class="asignedImage"><a href="#"><img src="/Content/Fotos/' + value['PHOTO'] + '.jpg"/></a></div>' +
                                 '</div>' +
                                 '<div class="messageData">' +
                                     '<div class="messageArrow"></div>' +
                                         '<div class ="messageBoxDet">' +
                                             '<div class ="msgBoxDetUser">' +
                                                 value['NAM_STAFF'] +
                                             '</div>' +
                                             '<div class ="msgBoxDetCreate">' +
                                                 value['CREATED_DETA'] +
                                             '</div>' +
                                         '</div>' +

                                     '<div class="msgBoxBody">' +
                                          value['COMMENT'] +
                                     '</div>' +
                                    '</div>' +//message Data
                             '</div>' +
                         '</div>' +
                     '</div>');

                    $("#Staff_eval").html(value['NAM_STAFF_EVAL']);
                    x = value['ID_EVAL_STAF'];
                });
            }

        });

    });
    //---------------CARGA POPUP NEW COMMENTS-------------

 </script>
