@model ERPElectrodata.Models.DETAIL_EVALUATION_STAFF

@{
     Layout = null;
}



@*<h2>New Comment</h2>*@

<div style="width:100%;">
    @using (Html.BeginForm("SaveCommentEvaluation", "DetailEvaluationStaff", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDetailEvaluation", target = "upload_target" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal-body">
            <div class="divFondoUno">
                <div style="width:100%;float:left">
                    <div class="editor-label">
                        Comments
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.COM_DETA_EVAL_STAF, new { rows = "20" })
                        @Html.ValidationMessageFor(model => model.COM_DETA_EVAL_STAF)
                        <input type="hidden" value="@ViewBag.idevalstaf" name="ID_EVAL_STAF" />
                    </div>
                </div>
            </div>
         </div>
        
        <div class="modal-footer">
            <button type="button" class="k-button" data-dismiss="modal">Close</button>
            <button id="submit" class="k-button">Create</button>
        </div>
        @*<div style="margin:0px 15px 0px 0px; height:25px; border:0px solid black;">
            <div style="float:right;padding:10px 0px 0px 0px; ">
                <button id="submit" class="k-button">Create</button>
            </div>
        </div>*@
        
        <iframe id="upload_target" name="upload_target" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>
        <div style="clear:both; padding-top:10px;"></div>
    }
</div>



<script type="text/javascript">

    $(document).ready(function () {

        //$("#submit").click(function () {
        //    winPopUpModalLoad('Saving information', 'Please wait saving information', 300, 130);
        //});

        $("#COM_DETA_EVAL_STAF").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });
    })

    function uploadDone(conf, msg) {

        //closeWinModalPopUpLoad();

        if (conf == 'OK') {

            //closeWinModalPopUp();
            $('#modNewComm').modal('hide');
            //
            $('#modNewComm').on('hidden.bs.modal', function (e) {
                $("#pnlEvaluationWork").empty();
                $("#pnlEvaluationWork").load("/DetailEvaluationStaff/Index/" + "@ViewBag.idevalstaf" + "?_" + Math.random());
            })
            @*setTimeout(function () {

                var title = '@ResourceLanguaje.Resource.InformationSaved ';
                var body = "<div style='padding:0px 0px 20px 0px;'>" +
                            "<div style='padding:10px 0px 10px 0px;'>Your comment has been successfully saved</div>" +
                            "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
                            "<button id='btnContinues' class='k-button'>Continue</button>" +
                            "</div></div>";

                winPopUpModal(title, body, 300, 130);

                $("#btnContinues").click(function () {
                    location.reload(true);
                });

            }, 1000);*@

            // closeWinModalPopUpLoad();
        }
        else {
            $('#modNewComm').modal('hide');
            @*closeWinModalPopUp();
            setTimeout(function () {
                var title = '@ResourceLanguaje.Resource.InformationMissing';
                var body = "<div style='padding:0px 0px 20px 0px;'>" +
                            "<div style='padding:10px 0px 10px 0px;'>You have not made ​​any comment</div>" +
                            "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
                            "<button id='btnContinues' class='k-button'>Continue</button>" +
                            "</div></div>";

                winPopUpModal(title, body, 300, 130);

                $("#btnContinues").click(function () {
                    //location.reload(true);
                    closeWinModalPopUp();
                });


            }, 1000);

            closeWinModalPopUpLoad();*@
        }
    }
</script>