@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}

    <div id="FormCrear">
        <div class="form-row" id="divContainerNewTicket">
            <div class="col-md-12">
                <div id="divNuevaLicencia">
                    <!--Declaración de Formulario-->
                    @using (Html.BeginForm("CreaCompania", "Companias", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormCrear", target = "upload_target" }))
                    {
                        @*@Html.HiddenFor(model => model.Id)*@

                        <fieldset>
                            @*<legend>Crear Solucion TI</legend>*@

                            <div class="form-group">
                                
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="editor-label">
                                            Compañia <b>*</b>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(model => model.COM_NAME, new { @class="form-control"})
                                            @Html.ValidationMessageFor(model => model.COM_NAME)
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="editor-label">
                                            Ruc <b>*</b>
                                        </div>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.NUM_TYPE_DI, new { @class="form-control"})
                                            @Html.ValidationMessageFor(model => model.NUM_TYPE_DI)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="editor-label">
                                            Telefono <b>*</b>
                                        </div>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.TEL_ENTI, new { @class="form-control"})
                                            @Html.ValidationMessageFor(model => model.TEL_ENTI)
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="editor-label">
                                            Direccion <b>*</b>
                                        </div>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ADDRESS, new { @class="form-control"})
                                            @Html.ValidationMessageFor(model => model.ADDRESS)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="editor-label">
                                            Id Sidige <b>*</b>
                                        </div>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ID_SIDIGE, new { @class="form-control"})
                                            @Html.ValidationMessageFor(model => model.ID_SIDIGE)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-row">
                                
                                <div style="display:inline-block; float:right; padding:0px 15px 15px 5px;">
                                    <div style=" float:right; padding:0px 15px 0px 0px; ">
                                        <button id="reset" class="k-button" onclick="cancel(); return false;">Cancelar</button>
                                    </div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                                    <div style=" float:right; padding:0px 15px 0px 0px; ">
                                        <button id="submit" class="k-button">Crear</button>
                                    </div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                                </div>
                            </div>*@

                            <div class="card-footer">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 ml-auto">
                                            <button id="submit" class="btn btn-primary btn-block">Crear</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button id="btnCancelar" class="ladda-button mb-2 btn btn-gradient-light btn-block widthMax" data-style="expand-right" data-dismiss="modal">
                                                <span class="ladda-label">Cancelar</span><span class="ladda-spinner"></span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>

<script type="text/javascript">

    //function cancel() {
    //    closeWinModalPopUpLoad();

    //    winPopUpModal("Operación Cancelada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
    //   "<div style='padding:10px 0px 10px 0px;'>La operacion fue cancelada</div>" +
    //   "<div style='float:right; padding:20px 0px 0px 0px; '>" +
    //   "<button id='continuar' class='k-button' >Continuar</button></div></div>"
    //   , 350, 130);
    //    $("#continuar").focus();
    //    $("#continuar").click(function () {

    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("CrearCuentaTA"));
    //    });


    //    $("#closebtnmodal").click(function () {
    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("Edit", "Details"));
    //    });

    //    return false;
    //}

    //function uploadDone(msg, code) {
    //    if (msg == "OK") {
    //        winPopUpModal("Información Guardada / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
    //       + "<div style='padding:10px 0px 10px 0px;'>La información ha sido actualizada.</div>"
    //       + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //       "<button id='continues' class='k-button'>Continuar</button>" +
    //       "</div></div>", 400, 160);
    //        $("#continues").focus();
    //        $("#continues").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            //location.reload(true);
    //            $("#COM_NOM").val('');
    //            $("#NUM_TYPE_DI").val('');
    //            $("#TEL_ENTI").val('');
    //            $("#ADDRESS").val('');
    //            $("#ID_SIDIGE").val('');
    //            $("#Buscar").click();
    //        });

    //        $("#closebtnmodal").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            //location.reload(true);
    //            $("#COM_NOM").val('');
    //            $("#NUM_TYPE_DI").val('');
    //            $("#TEL_ENTI").val('');
    //            $("#ADDRESS").val('');
    //            $("#ID_SIDIGE").val('');
    //            $("#Buscar").click();
    //        });
    //    }

    //    else if (msg == "EXISTE1") {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>El Ruc ha sido registrado anteriormente</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }

    //    else if (msg == "EXISTE2") {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>El Id Sidige ha sido registrado anteriormente</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }


    //    else {
    //        winPopUpModal("Error al registrar", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //           "<div style='padding:10px 0px 10px 0px;'>Completar la información solicitada</div>" +
    //           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //           "<button id='continuee' class='k-button'>Continuar</button>" +
    //           "</div></div>"
    //           , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //        .bind("click", function () {
    //            closeWinModalPopUp();
    //        });
    //    }

    //}

    function uploadDone(msg, code) {
        if (msg == "OK") {
            toastr.success("La información ha sido actualizada", "Información Guardada / Notificación Enviada");
            $("#btnCancelar").trigger({ type: "click" });
            $("#Buscar").trigger({ type: "click" });
        }
        else if (msg == "EXISTE1") {
            toastr.warning("El Ruc ha sido registrado anteriormente", "Alerta");
            $("#Buscar").trigger({ type: "click" });
        }
        else if (msg == "EXISTE2") {
            toastr.warning("El Id Sidige ha sido registrado anteriormente", "Alerta");
            $("#Buscar").trigger({ type: "click" });
        }
        else {
            toastr.warning("Completar la información solicitada", "Alerta");
        }
    }
</script>