@model ERPElectrodata.Models.ACTIVITY_LOG
@{
    Layout = null;
}
<style>
    #NAME_CONTACTO {
        width: 187px;
        height: 26px;
    }

    #COMENTARIO_EDIT {
        width: 460px !important;
        height: 150px !important;
    }
</style>
<div class="afterMain2">
    <div style="float:left; width:100%;">
        <div class="bodyForm">
            <div id="divNewCategory" class="inBodyForm">
                @using (Html.BeginForm("EditActivity", "Activity", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormActivity", target = "upload_target" }))
                {
                    <input type="hidden" name="ID_ENTI_ACT_EDIT" id="ID_ENTI_ACT_EDIT" value="@ViewBag.ID_CLIE_EDIT" />
                    <input type="hidden" name="ID_USR_ACT_EDIT" id="ID_USR_ACT_EDIT" value="@ViewBag.ID_USR_ACT_EDIT" />
                    <input type="hidden" name="ID_ACTI_LOG_EDIT" id="ID_ACTI_LOG_EDIT" value="@ViewBag.ID_ACTI_LOG_EDIT" />
                    <input type="hidden" name="hdnTieneDetalleEdita" id="hdnTieneDetalleEdita" value="@ViewBag.TieneDetalleEdita" />
                    <input type="hidden" name="TIEMPO_ACT_EDIT" id="TIEMPO_ACT_EDIT" value="0" />

                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Actividad</legend>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div id="divClient" class="editor-label">
                                    Cliente
                                </div>
                                <div id="divNewClient" class="editor-label" onclick="NewClient()" style="cursor: pointer; display: none; text-decoration: underline; color: red; " title="Registrar Nuevo Cliente">
                                    <b>Cliente</b>
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="ID_CLIE_EDIT" name="ID_CLIE_EDIT" value="@ViewBag.ID_CLIE_EDIT" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Contacto
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="NAME_CONTACTO" name="NAME_CONTACTO" value="@ViewBag.NAME_CONTACTO" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Fecha Inicio
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="DATE_INIC_EDIT" name="DATE_INIC_EDIT" value="@ViewBag.DATE_INIC_EDIT" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Fecha Final
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="DATE_END_EDIT" name="DATE_END_EDIT" value="@ViewBag.DATE_END_EDIT" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Tipo Actividad
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="ID_TYPE_ACT_EDIT" name="ID_TYPE_ACT_EDIT" value="@ViewBag.ID_TYPE_ACT_EDIT" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3" id="SubTipo_EDIT">
                                <div id="divMarca" class="editor-label">
                                    <label id="NamSubTipo"></label>
                                </div>
                                <div id="divNewMarca" class="editor-label" onclick="NewMarca()" style="cursor: pointer; display: none; text-decoration: underline; color: red; " title="Registrar Nueva Marca">
                                    <b>Marca</b>
                                </div>
                                <div class="editor-field">
                                    <input type="hidden" id="ID_SUBTYPE_ACT_EDIT" name="ID_SUBTYPE_ACT_EDIT" value="@ViewBag.ID_SUBTYPE_ACT_EDIT" />
                                    <input type='hidden' name="NAM_SUBTYPE_ACT_EDIT" id="NAM_SUBTYPE_ACT_EDIT" value="@ViewBag.NAM_SUBTYPE_ACT" />
                                    <input type='text' name="COD_SUBTYPE_ACT_EDIT" id="COD_SUBTYPE_ACT_EDIT" value="@ViewBag.COD_SUBTYPE_ACT_EDIT" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Comentario
                                </div>
                                <div class="editor-field">
                                    <div id="divComentActiv"><textarea id="COMENTARIO_EDIT" name="COMENTARIO_EDIT" cols="40" rows="5">@ViewBag.COMENTARIO_EDIT</textarea></div>
                                    <div id="divComentTicket" style="width:100%">@Html.TextAreaFor(model => model.COMENTARIO)</div>
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Motivo
                                </div>
                                <div class="editor-field">
                                    <textarea id="MOTIVO_EDIT" name="MOTIVO_EDIT" cols="40" rows="3" style="width: 700px;">@ViewBag.MOTIVO</textarea>
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                        </div>
                        <div class="divFondoUno" style="margin-bottom:5px;">
                            <div class="divSpace2"></div>
                            <div style="display:inline-block; float:right; padding:5px 28px 0px 5px;">
                                <div style=" float:left; padding:0px 10px 0px 0px; ">
                                    <button id="btnActualizar" class="k-button" onclick="UpdateActivity(this); return false;">Actualizar</button>
                                </div>
                                <button id="btnCancelar" class="k-button">Cancelar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
        <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#COMENTARIO").kendoEditor({
            tools: [
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull"
            ], encoded: false
        });

        if (@ViewBag.TieneDetalleEdita == 1){
            $("#divComentActiv").addClass("divHide");
        }else{

            $("#divComentTicket").addClass("divHide");
        }

        var DATE_INIC_EDIT = $("#DATE_INIC_EDIT").kendoDateTimePicker().data("kendoDateTimePicker");
        var DATE_END_EDIT = $("#DATE_END_EDIT").kendoDateTimePicker().data("kendoDateTimePicker");
        DATE_INIC_EDIT.value("@ViewBag.DATE_INIC_EDIT");
        DATE_END_EDIT.value("@ViewBag.DATE_END_EDIT");

        var id_subtype_text = $('#ID_SUBTYPE_ACT_EDIT').val();

        fnListarSubtype(id_subtype_text);

        var ID_CLIE_EDIT = $("#ID_CLIE_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            },
            change: function (e) {
                if (ID_CLIE_EDIT.dataItem()) {

                    $('#ID_ENTI_ACT_EDIT').attr('value', ID_CLIE_EDIT.dataItem().ID_ENTI);
                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                    if ($('#ID_TYPE_ACT_EDIT').val() != "") {
                        switch ($('#ID_TYPE_ACT_EDIT').val()) {
                            case "1":
                                $('#NamSubTipo').text('OP');
                                fnMostrarOP_EDIT(ID_CLIE_EDIT.dataItem().ID_ENTI);
                                break;
                            case "2":
                                $('#NamSubTipo').text('Ticket');
                                fnMostrarTICKET_EDIT(ID_CLIE_EDIT.dataItem().ID_ENTI);
                                break;
                            case "4":
                                $('#NamSubTipo').text('Vendedor');
                                fnMostrarVENDEDOR_EDIT();
                                break;
                            default:
                                break;
                        }
                    }
                }
                else {

                    $('#ID_ENTI_ACT_EDIT').attr('value', 0);
                }

            }
        }).data("kendoComboBox");

        var ID_TYPE_ACT_EDIT = $("#ID_TYPE_ACT_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "DES_ACT",
            dataValueField: "ID_TYPE_ACT",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Activity/ListTypeActivity?var=" + Math.random()
                }
            },
            change: function (e) {
                $('#COD_SUBTYPE_ACT_EDIT').val('');
                if (ID_TYPE_ACT_EDIT.dataItem()) {

                    var id_subtype = ID_TYPE_ACT_EDIT.dataItem().ID_SUBTYPE_ACT;
                    $('#COD_SUBTYPE_ACT_EDIT').val(ID_TYPE_ACT_EDIT.dataItem().ID_SUBTYPE_ACT);
                    switch (id_subtype) {
                        case 1:
                            var id = $('#ID_ENTI_ACT_EDIT').val();
                            if (id != "0") {
                                if (id == "9") {
                                    $("#ID_CLIE_EDIT").data("kendoComboBox").value("");
                                    $("#ID_TYPE_ACT_EDIT").data("kendoComboBox").value("");
                                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                                    $("#SubTipo_EDIT").addClass("divHide");
                                    validar2('El Cliente Electrodata no puede ser Implementación.');
                                }
                                else if (ID_CLIE_EDIT.value() == "9") {
                                    $("#ID_CLIE_EDIT").data("kendoComboBox").value("");
                                    $("#ID_TYPE_ACT_EDIT").data("kendoComboBox").value("");
                                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                                    $("#SubTipo_EDIT").addClass("divHide");
                                    validar2('El Cliente Electrodata no puede ser Implementación.');
                                }
                                else {
                                    if (ID_CLIE_EDIT.value() != "") {
                                        $("#SubTipo_EDIT").removeClass("divHide");
                                        $('#COD_SUBTYPE_ACT_EDIT').val('');
                                        $("#divClient").css("display", "inline-block");
                                        $("#divNewClient").css("display", "none");
                                        $("#divMarca").css("display", "inline-block");
                                        $("#divNewMarca").css("display", "none");
                                        $('#NamSubTipo').text('OP');
                                        fnMostrarOP_EDIT(id);
                                    }
                                }
                            }
                            else {
                                if (ID_CLIE_EDIT.value() == "9") {
                                    $("#ID_CLIE_EDIT").data("kendoComboBox").value("");
                                    $("#ID_TYPE_ACT").data("kendoComboBox").value("");
                                    $("#SubTipo_EDIT").addClass("divHide");
                                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                                    validar2('El Cliente Electrodata no puede ser Implementación.');
                                }
                                else {
                                    validar2('Debe seleccionar el Cliente.');
                                }
                                $("#ID_TYPE_ACT_EDIT").data("kendoComboBox").value("");
                                $("#SubTipo_EDIT").addClass("divHide");
                            }
                            break;
                        case 2:
                            var id = $('#ID_ENTI_ACT_EDIT').val();
                            $('#COD_SUBTYPE_ACT_EDIT').val('');
                            if (id != "0") {
                                if (ID_CLIE_EDIT.value() == "9") {
                                    $("#ID_CLIE_EDIT").data("kendoComboBox").value("");
                                    $("#ID_TYPE_ACT_EDIT").data("kendoComboBox").value("");
                                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                                    $("#SubTipo_EDIT").addClass("divHide");
                                    validar2('El Cliente Electrodata no puede ser Soporte Externo.');
                                }
                                else if (id == "9") {
                                    $("#ID_CLIE_EDIT").data("kendoComboBox").value("");
                                    $("#ID_TYPE_ACT_EDIT").data("kendoComboBox").value("");
                                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                                    $("#SubTipo_EDIT").addClass("divHide");
                                    validar2('El Cliente Electrodata no puede ser Soporte Externo.');
                                }
                                else {
                                    if (ID_CLIE_EDIT.value() != "") {
                                        $('#COD_SUBTYPE_ACT_EDIT').val('');
                                        $("#SubTipo_EDIT").removeClass("divHide");
                                        $("#divClient").css("display", "inline-block");
                                        $("#divNewClient").css("display", "none");
                                        $("#divMarca").css("display", "inline-block");
                                        $("#divNewMarca").css("display", "none");
                                        $('#NamSubTipo').text('Ticket');
                                        fnMostrarTICKET_EDIT(id);
                                    }
                                }
                            }
                            else {
                                if (ID_CLIE_EDIT.value() == "9") {
                                    $("#ID_CLIE_EDIT").data("kendoComboBox").value("");
                                    $("#ID_TYPE_ACT_EDIT").data("kendoComboBox").value("");
                                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                                    $("#SubTipo_EDIT").addClass("divHide");
                                    validar2('El Cliente Electrodata no puede ser Soporte Externo.');
                                }
                                else {
                                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                                    $("#ID_TYPE_ACT").data("kendoComboBox").value("");
                                    $("#SubTipo_EDIT").addClass("divHide");
                                    validar2('Debe seleccionar el Cliente.');
                                }
                            }
                            break;
                        case 3:
                            $("#SubTipo_EDIT").removeClass("divHide");
                            $("#divClient").css("display", "inline-block");
                            $("#divNewClient").css("display", "none");
                            $("#divMarca").css("display", "inline-block");
                            $("#divNewMarca").css("display", "none");
                            $('#NamSubTipo').text('Area');
                            ID_CLIE_EDIT.value(9);
                            fnMostrarAREA_EDIT();
                            break;
                        case 4:

                            var id = $('#ID_ENTI_ACT_EDIT').val();
                            if (ID_CLIE_EDIT.value() == "9" || id == "9") {
                                $("#ID_CLIE_EDIT").data("kendoComboBox").value("");
                                $("#ID_TYPE_ACT_EDIT").data("kendoComboBox").value("");
                                $("#SubTipo_EDIT").addClass("divHide");
                                $('#COD_SUBTYPE_ACT_EDIT').val('');
                                validar2('El Cliente Electrodata no puede tener Apoyo Comercial.');
                            }
                            else {
                                $("#SubTipo_EDIT").removeClass("divHide");
                                $("#divClient").css("display", "none");
                                $("#divNewClient").css("display", "inline-block");
                                $("#divMarca").css("display", "inline-block");
                                $("#divNewMarca").css("display", "none");
                                $('#NamSubTipo').text('Vendedor');
                                $('#COD_SUBTYPE_ACT_EDIT').val('');
                                fnMostrarVENDEDOR_EDIT();
                            }
                            break;
                        case 6:
                            $("#SubTipo_EDIT").removeClass("divHide");
                            $("#divClient").css("display", "inline-block");
                            $("#divNewClient").css("display", "none");
                            $("#divMarca").css("display", "none");
                            $("#divNewMarca").css("display", "inline-block");
                            $('#NamSubTipo').text('Marca');
                            ID_CLIE_EDIT.value(9);
                            fnMostrarMARCA_EDIT();
                            break;
                        default:
                            $("#SubTipo_EDIT").addClass("divHide");
                            ID_CLIE_EDIT.value(9);
                            break;
                    }
                }
                else {
                    $('#COD_SUBTYPE_ACT_EDIT').val('');
                    $('#COD_SUBTYPE_ACT_EDIT').attr('value', 0);
                }
            }
        }).data("kendoComboBox");

        var ID_ENTI_EDIT = $("#ID_ENTI_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "FIR_NAME",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Assistance/Equipo?var=" + Math.random()
                }
            },
            change: function (e) {
                AddNewReceiver()
            },
        }).data("kendoComboBox");


    });
    $("#btnCancelar").click(function (event) {
        event.preventDefault();
        closeWinFormModalPopUp();
    });
    function fnListarSubtype(id_subtype_text) {

        switch (id_subtype_text) {
            case "1":
                var id = parseInt($('#ID_ENTI_ACT_EDIT').val());
                fnMostrarOP_EDIT(id);
                $("#SubTipo_EDIT").removeClass("divHide");
                break;
            case "2":
                var id = $('#ID_ENTI_ACT_EDIT').val();
                fnMostrarTICKET_EDIT(id);
                $("#SubTipo_EDIT").removeClass("divHide");
                break;
            case "3":
                fnMostrarAREA_EDIT();
                $("#SubTipo_EDIT").removeClass("divHide");
                break;
            case "4":
                fnMostrarVENDEDOR_EDIT();
                $("#SubTipo_EDIT").removeClass("divHide");
                break;
            case "6":
                fnMostrarMARCA_EDIT();
                $("#SubTipo_EDIT").removeClass("divHide");
                break;
            case "8":
                $("#SubTipo_EDIT").addClass("divHide");
                break;
            default:
                break;
        }
    }
    function fnMostrarOP_EDIT(id) {
        var OP_EDIT = $("#COD_SUBTYPE_ACT_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_TYPE_OPDOC_SALE",
            dataValueField: "ID_DOCU_SALE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Activity/ListOPActivityClient?id=" + id + "&var=" + Math.random()
                }
            },
            change: function (e) {
                $('#NAM_SUBTYPE_ACT_EDIT').val(OP_EDIT.dataItem().NAM_TYPE_OPDOC_SALE);
            }
        }).data("kendoComboBox");
    }
    function fnMostrarTICKET_EDIT(id) {
        var TICKET_EDIT = $("#COD_SUBTYPE_ACT_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "COD_TICK",
            dataValueField: "ID_TICK",
            filter: "contains",
            autoBind: true,
            delay: 500,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Activity/ListTicketsNotClosed?id=" + id + "&var=" + Math.random()
                }
            },
            change: function (e) {
                $('#NAM_SUBTYPE_ACT_EDIT').val(TICKET_EDIT.dataItem().COD_TICK);
            }
        }).data("kendoComboBox");
    }
    function fnMostrarAREA_EDIT() {
        var AREA_EDIT = $("#COD_SUBTYPE_ACT_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "ID_DETALLE",
            dataValueField: "ID_AREA_ACT",
            filter: "contains",
            autoBind: true,
            delay: 500,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Activity/ListArea?var=" + Math.random()
                }
            },
            change: function (e) {
                var AREA_ACT = AREA_EDIT.dataItem().ID_DETALLE;
                $('#NAM_SUBTYPE_ACT_EDIT').val(AREA_ACT);
            }
        }).data("kendoComboBox");
    }
    function fnMostrarMARCA_EDIT() {
        var MARCA_EDIT = $("#COD_SUBTYPE_ACT_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            index: 0,
            suggest: true,
            minLength: 3,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            },
            change: function (e) {
                $('#NAM_SUBTYPE_ACT_EDIT').val(MARCA_EDIT.dataItem().NAM_MANU);
            }
        }).data("kendoComboBox");
    }
    function fnMostrarVENDEDOR_EDIT() {
        var VENDEDOR_EDIT = $("#COD_SUBTYPE_ACT_EDIT").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_VENDOR",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Activity/ListVendorAll?var=" + Math.random()
                }
            },
            change: function (e) {
                $('#NAM_SUBTYPE_ACT_EDIT').val(VENDEDOR_EDIT.dataItem().NAM_VENDOR);
            }
        }).data("kendoComboBox");
    }
    function UpdateActivity() {

        var date1 = $('#DATE_INIC_EDIT').val();
        var date2 = $('#DATE_END_EDIT').val();
        var DateInicial = new Date(Date.parse(date1));
        var DateFinal = new Date(Date.parse(date2));
        var DifDate = (DateFinal - DateInicial) / 60000;

        $('#TIEMPO_ACT_EDIT').attr('value', DifDate * 60);

        if (ID_CLIE_EDIT.value == "") {
            validar('Debe seleccionar el Cliente.');
        }
        else if (DATE_INIC_EDIT[1].value == "" || DATE_END_EDIT[1].value == "") {
            validar('Debe Ingresar las fechas');
        }
        else if (Date.parse(date1) > Date.parse(date2) || Date.parse(date1) == Date.parse(date2)) {
            validar('La fecha de Inicio no puede ser <br/>mayor o igual a la fecha de Fin.');
        }
        else if (ID_TYPE_ACT_EDIT.value == "") {
            validar('Debe Ingresar el tipo de Actividad.');
        }
        else if (ID_CLIE_EDIT.value != "9" && ID_TYPE_ACT_EDIT.value == "8") {
            validar('Solo "GRUPO ELECTRODATA SAC" <br/> puede elegir "REUNION AREA/PERMISOS"')
        }
        else if (ID_CLIE_EDIT.value != "9" && ID_TYPE_ACT_EDIT.value == "3") {
            validar('Solo el Cliente "GRUPO ELECTRODATA SAC" <br/> puede elegir "Soporte Interno".');
        }
        else if (ID_CLIE_EDIT.value == "9" && ID_TYPE_ACT_EDIT.value == "1") {
            validar('El Cliente "GRUPO ELECTRODATA SAC" <br/> no puede ser Implementacion.');
        }
        else if (ID_CLIE_EDIT.value == "9" && ID_TYPE_ACT_EDIT.value == "2") {
            validar('El Cliente "GRUPO ELECTRODATA SAC" <br/> no puede ser Soporte Externo.');
        }
        else if (ID_CLIE_EDIT.value == "9" && ID_TYPE_ACT_EDIT.value == "4") {
            validar('El Cliente "GRUPO ELECTRODATA SAC" <br/> no puede ser del tipo Apoyo Comercial.');
        }
        else if (ID_SUBTYPE_ACT_EDIT.value == "" && ID_TYPE_ACT_EDIT.value != "8") {
            validar('Debe Ingresar la Actividad Relacionada');
        }
        else if (COMENTARIO_EDIT.value == "" && $("#COMENTARIO").val() == "") {
            validar('Debe Ingresar un Comentario de la Actividad.');
        }
        else if (MOTIVO_EDIT.value == "") {
            validar('Debe Ingresar un Motivo para editar la Actividad.');
        }
        else {

            winPopUpModal("Actualizar", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
              "<div style='padding:10px 0px 10px 0px;' style='font-size:.9em;'>Desea Actualizar la Actividad.</div>" +
              "<div style='float:right; padding:20px 0px 0px 0px; '>" +
              "<button id='btnYes' class='k-button' style='font-size:.9em;'>Si</button>&nbsp;&nbsp;<button id='btnNO' class='k-button' style='font-size:.9em;'>No</button></div></div>"
              , 350, 130);
            var undo = $("#btnYes")
                .bind("click", function () {

                    closeWinModalPopUp();
                    $("#FormActivity").submit();
                    @*winPopUpModalLoad('Actualizar Actividad', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);*@
                    $("#bkg").fadeOut("300");
                });
            var undo = $("#btnNO")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }

    function uploadDoneEditActivity(conf, msg) {
        if (conf == 'OK') {
            var title = 'Actualizar Actividad';
            var body = "<div style='padding:0px 0px 20px 0px;'>" +
                           "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
                           "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
                           "<button id='btnContinues' class='k-button'>Continue</button>" +
                           "</div></div>";

            winPopUpModal(title, body, 300, 130);

            $("#closebtnmodal").click(function () {
                location = "http://" + location.host + "/Atencion/Index";
            });

            $("#btnContinues").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });
                location = "http://" + location.host + "/DetailsActivity";
            });
            closeWinFormModalPopUp();

            var idUser = $('#ID_USR_ACT_EDIT').val();
            LoadActivityByPerson(idUser);
        }
        else {
            var title = 'Error al Guardar';
            var body = "<div style='padding:0px 0px 20px 0px;'>" +
                              "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
                              "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
                              "<button id='btnContinuee' class='k-button'>Continue</button>" +
                              "</div></div>";

            winPopUpModal(title, body, 300, 130);

            $("#btnContinuee").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });
            });
        }
    }

    function validar2(msg) {
        var title = 'Error';
        var body = "<div style='padding:0px 0px 20px 0px;'>" +
                          "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
                          "<div style='float:right; padding:15px 10px 0px 6px; font-size:0.9em;'>" +
                          "<button id='btnContinuee' class='k-button'>Continue</button>" +
                          "</div></div>";

        winPopUpModal(title, body, 300, 130);

        $("#btnContinuee").click(function () {
            $("#dlg").hide('200', "swing", function () {
                $("#bkg").fadeOut("300");
            });
        });
    }

    function NewClient() {
        var htmlForm = '<div id="FormNewClient"></div>';
        winFormPopUpModal("Crear Nuevo Cliente", htmlForm, 650, 180);
        $("#FormNewClient").load("/Activity/ViewNewClient?var=" + Math.random());
    }

    function NewMarca() {
        var htmlForm = '<div id="FormNewMarca"></div>';
        winFormPopUpModal("Crear Nueva Marca", htmlForm, 650, 350);
        $("#FormNewMarca").load("/Activity/viewNewMarca?var=" + Math.random());
    }

</script>