@model ERPElectrodata.Models.SALES_OPPORTUNITY

@{
    Layout = null;
}

<div id="divContent1">
    <div style="float:left;width:60%">
        <div class="titleForm"><div class="title">New Sales Opportunity</div></div>
        <div class="bodyForm" id="divNewTicket">
            <div class="inBodyForm">
                @using (Html.BeginForm("Create", "SalesOpportunities", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSalesOpportunities", target = "upload_target" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>SALES_OPPORTUNITY</legend>

                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Title Opportunity
                                </div>
                                <div>
                                    @Html.TextBoxFor(model => model.TIT_SALE_OPPO, new { @class = "k-textbox" })
                                    @Html.ValidationMessageFor(model => model.TIT_SALE_OPPO)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Account Name
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_COMP)
                                    @Html.ValidationMessageFor(model => model.ID_COMP)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Contact Name
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PERS_ENTI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                </div>
                            </div>

                        </div>
                        
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Selling Price
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.AMO_SALE_OPPO)
                                    @Html.ValidationMessageFor(model => model.AMO_SALE_OPPO)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Profit Margin (%)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.MAR_SALE_OPPO)
                                    @Html.ValidationMessageFor(model => model.MAR_SALE_OPPO)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Closing Date
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.CLO_DATE)
                                    @Html.ValidationMessageFor(model => model.CLO_DATE)
                                </div>
                            </div>

                        </div>

                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Status
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_STAT_SALE_OPPO)
                                    @Html.ValidationMessageFor(model => model.ID_STAT_SALE_OPPO)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Manufacturer
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_MANU)
                                    @Html.ValidationMessageFor(model => model.ID_MANU)
                                </div>
                            </div>

                        </div>

                        <div class="divFondoUno">
                            <div class="divSpace3">&nbsp;</div>
                            <div style="float:left;width:94%;">
                                <div class="editor-label">
                                    Summary
                                </div>
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.SUM_SALE_OPPO)
                                    @Html.ValidationMessageFor(model => model.SUM_SALE_OPPO)
                                </div>
                            </div>
                                
                            
                        </div>                        

                        <div style="display:inline-block; float:right; padding:5px 25px 15px 5px;">
                            <div style=" float:left; padding:0px 15px 0px 0px; ">
                                <button id="submit" class="k-button">Create</button>
                            </div>
                            <button id="reset" class="k-button">Cancel</button>
                        </div>

                    </fieldset>
                }
            </div>
            <iframe id="upload_target" name="upload_target" src="" class="frameHidden"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    function uploadSalesOp(msg, code) {

        closeWinModalPopUpLoad();

        if (msg == "OK") {
            var title = '@ResourceLanguaje.Resource.InformationSaved / @ResourceLanguaje.Resource.NotificationSend';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                   + "<div style='padding:10px 0px 10px 0px;'>Sale Opportunity was succesfully saved</div>"
                   + "<div style='padding:10px 0px 10px 0px;'>Code: " + code + "</div>"
                   + "The notification was succesfully sent to: <br>Sales Manager<br>" +
                   "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                   "<button id='btnContinues' class='k-button'>Continue</button>" +
                   "</div></div>";

            winPopUpModal(title, body, 400, 230);

            $("#closebtnmodal").click(function () {
                $("#divContent").empty();
                $("#divContent").load("/SalesOpportunities/Index?var=" + Math.random());
                closeWinModalPopUp();
            });

            $("#btnContinues").click(function () {
                $("#divContent").empty();
                $("#divContent").load("/SalesOpportunities/Index?var=" + Math.random());
                closeWinModalPopUp();
            });

        }
        else {
            var title = '@ResourceLanguaje.Resource.InformationMissing';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>"+code+"</div>" +
                "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                "<button id='btnContinuee' class='k-button'>Continue</button>" +
                        "</div></div>";

            winPopUpModal(title, body, 400, 150);

            $("#btnContinuee").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });
            });
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#submit").click(function () {
            winPopUpModalLoad('@ResourceLanguaje.Resource.SavingYourTicket', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
        });

        $("#reset").click(function (event) {
            event.preventDefault();
            $("#divContent").empty();
            $("#divContent").load("/SalesOpportunities/Index?var=" + Math.random());
        });

        var ID_COMP = $("#ID_COMP").kendoComboBox({
            autoBind: false,
            filter: "contains",
            suggest: true,
            minLength: 3,
            dataTextField: "COM_NAME",
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
                                      '<div>${data.COM_NAME}</div>' +
                                      '<div>${data.NAM_TYPE_DI} : ${data.NUM_TYPE_DI}</div>' +
                                  '</div>',
            dataValueField: "ID_ENTI",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ClassEntity/ListAllCompany?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
            cascadeFrom: "ID_COMP",
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/RequesterByCIA?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#AMO_SALE_OPPO").kendoNumericTextBox({
            //culture: "de-DE"
            min:0
        });

        $("#MAR_SALE_OPPO").kendoNumericTextBox({
            //culture: "de-DE"
            min: 0,
            value: 40,
            //format: "p0"
        });
        
        $("#CLO_DATE").kendoDatePicker({
            
        });

        $("#ID_STAT_SALE_OPPO").kendoComboBox({
            //placeholder: "Select product",
            dataTextField: "NAM_STAT_SALE_OPPO",
            dataValueField: "ID_STAT_SALE_OPPO",
            filter: "contains",
            autoBind: true,
            index: 0,
            suggest: true,
            minLength: 3,
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/StatusSalesOpportunities/ListAllCreate?var=" + Math.random()
                }
            }
        });

        $("#ID_MANU").kendoComboBox({
            //placeholder: "Select product",
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: false,
            index: 0,
            suggest: true,
            minLength: 3,
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });

        $("#SUM_SALE_OPPO").kendoEditor();
    });
</script>