@{
    Layout = null;
}

<style type="text/css">
    .casillaSales{
        border-right:1px #808080 dashed;
        padding-right:10px;
        float:left;
    }
        .casillaSales2{
        border-right:1px #808080 dashed;
        padding-right:10px;
        padding-left:10px;
        float:left;
    }
        .subtitle{
            color:#808080;
        }
                .subtitleX{
            font-weight:bolder;
        }
</style>

<div style="width:100%;border:1px solid #2D5C88;background-color:#2D5C88;">
    
    <div style="display:inline-block;width:100%;">
        <div style="padding:5px 5px 0px 5px; color:white;">
            <div style="width:100%;display:inline-block;border:0px solid red;">
            <a style="float:left;" onclick="backSalesOppo();">
                <img src="~/Content/Images/menu/back.png" />
            </a>
            <div style="float:left;padding-left:10px;font-size:17px;">
                @ViewBag.COD_SALE_OPPO
            </div>

            <a style="float:right;" onclick="backSalesOppo();">
                <img src="~/Content/Images/menu/Check.png" />
            </a>

            <a style="float:right;padding:0px 10px;" onclick="DocumentsStatus();">
                <img src="~/Content/Images/menu/Documents.png" />
            </a>
            </div>
        </div>
        
    </div>

</div>
<div id="workStatusSO" style="width:100%;border:1px solid #eaeaea;"></div>

<div style="width:100%; border:1px solid #eaeaea;">
    <div style="padding:10px;">
        <div style="padding-bottom:10px;">@ViewBag.TIT_SALE_OPPO</div>
        <div style="display:inline-block;padding-bottom:10px;">
            <div class="casillaSales">
                <div class="subtitle">Status</div>
                <div class="subtitleX">@ViewBag.NAM_STAT_SALE_OPPO</div>
            </div>
            <div class="casillaSales2">
                <div class="subtitle">Company</div>
                <div class="subtitleX">@ViewBag.CIA</div>
            </div>
            <div class="casillaSales2">
                <div class="subtitle">Contact</div>
                <div class="subtitleX">@ViewBag.CONTACT</div>
            </div>
            <div class="casillaSales2">
                <div class="subtitle">Amount</div>
                <div class="subtitleX">$ @ViewBag.AMO_SALE_OPPO</div>
            </div>
            <div class="casillaSales2">
                <div class="subtitle">Margin</div>
                <div class="subtitleX">@ViewBag.MAR_SALE_OPPO %</div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div style="display:inline-block;width:100%;">
            <img style="float:left;" width="64px" src="~/Content/Fotos/@ViewBag.ID_FOTO" />
            <div style="float:right; width:90%;border:1px solid #eaeaea;border-radius:0px;">
                <div style="padding:10px;">
                    <div style ="width:100%; display:inline-block; background-color:#eaeaea;color:#2D5C88;">
                        <div style="float:left;padding:5px 10px;">@ViewBag.OWNER</div>
                        <div style="float:right;padding:5px 10px;">@ViewBag.CREATE_DATE</div>
                    </div>
                <div  style="width:100%;">
                    <div id="divSum" style="padding:10px"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div style="width:100%;border:1px solid #eaeaea;background-color:#eaeaea;margin-top:10px;">

    <div style="padding:5px;">
        <div style="display:inline-block; color:black; width:100%;">
            <div style="float:left;padding-left:10px;font-size:13px;">
                Fiorella Peralta
            </div>

            <div style="float:left;padding-left:10px;font-size:13px;">
                Upload Letter Presentation
            </div>

            <div style="float:right;padding-left:10px;font-size:13px;">
                Created Date: 8/14/2014 11:00
            </div>
        </div>

    </div>

</div>

<div style="width:100%;border:1px solid #eaeaea;background-color:#eaeaea;margin-top:10px;">

    <div style="padding:5px;">
        <div style="display:inline-block; color:black; width:100%;">
            <div style="float:left;padding-left:10px;font-size:13px;">
                Fiorella Peralta
            </div>

            <div style="float:left;padding-left:10px;font-size:13px;">
                Upload Presentation
            </div>

            <div style="float:right;padding-left:10px;font-size:13px;">
                Created Date: 8/13/2014 09:00
            </div>
        </div>

    </div>

</div>
   
<div></div>

<script type="text/javascript">
    var bufX1 = 1;
    function backSalesOppo() {
        $("#divPanleSalesOpp").removeClass("elementHide");
        $("#detailSalesOp").empty();
        $("#detailSalesOp").addClass("elementHide");
    }
    function DocumentsStatus() {
        //$("#workStatusSO").removeClass("elementHide");
        if (bufX1 == 1) {
            bufX1 = 0;
            $("#workStatusSO").empty();
            $("#workStatusSO").load("/DocumentsSalesOpp/DocumentByStatus");
        }
        else {
            bufX1 = 1;
            $("#workStatusSO").empty();
        }
        
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var decoded = $('<div/>').html("@ViewBag.SUM_SALE_OPPO").text();

        console.log(decoded);
        $("#divSum").html(decoded)
    });
</script>
