@model ERPElectrodata.Models.OBJETIVE

@{
    ViewBag.Title = "Details";
}

<div style="float:left; width:60%;">
    <div class="titleForm">
        <div class="title">@ResourceLanguaje.Resource.Code @ViewBag.COD_EVAL</div>
    </div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divDetailsEval">
            </div>
            <div class="divFondoUno" id="divListObjective">
                <div style="margin:0 auto; width:96%;">
                    <div class="ObjectiveContent">
                        <div id="divObje1" class="ObjectiveText" title="Evaluacion de la atención de la mesa de ayuda para electrodata como para nuestros clientes en el año 2014">Evaluacion de la atención de la mesa de ayuda para electrodata como para nuestros clientes en el año 2014</div>
                        <div id="divNumb1" class="ObjectContentNumber">
                            <div class="ObjectNumber">1</div>
                        </div>
                    </div>
                    <div style="margin-top:-4px; width: 100%; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; margin-bottom: 5px; ">
                        <div class="divFondoUno">
                            <div class="casilla">
                                <div class="smallTitle">Type</div>
                                <div class="smallField">Individula</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">Mesuared</div>
                                <div class="smallField">% de Tickets Atendidos</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">When</div>
                                <div class="smallField">1/1/2014</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">Status</div>
                                <div class="smallField">In Execute</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">Monitoring</div>
                                <div class="smallField">Monthly</div>
                            </div>
                        </div>
                    </div>

                    <div class="ObjectiveContent">
                        <div id="divObje2" class="ObjectiveText" title="Evaluacion de la atención de la mesa de ayuda para electrodata como para nuestros clientes en el año 2014">Evaluacion de la atención de la mesa de ayuda para electrodata como para nuestros clientes en el año 2014 Evaluacion de la atención de la mesa de ayuda para electrodata como para nuestros clientes en el año 2014</div>
                        <div id="divNumb2" class="ObjectContentNumber">
                            <div class="ObjectNumber">2</div>
                        </div>
                    </div>
                    <div style="margin-top:-4px; width: 100%; border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; margin-bottom: 5px; ">
                        <div class="divFondoUno">
                            <div class="casilla">
                                <div class="smallTitle">Type</div>
                                <div class="smallField">Individula</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">Mesuared</div>
                                <div class="smallField">% de Tickets Atendidos</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">When</div>
                                <div class="smallField">1/1/2014</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">Status</div>
                                <div class="smallField">In Execute</div>
                            </div>
                            <div class="casilla">
                                <div class="smallTitle">Monitoring</div>
                                <div class="smallField">Monthly</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;">
                @using (Html.BeginForm("CreateDetails", "Evaluation", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDetailsEval", name = "FrmDetailsEval", target = "ut_DetEVAL" }))
                {
                    @Html.ValidationSummary(true)
                    <input type="hidden" name="ID_EVAL" id="ID_EVAL" value="@ViewBag.ID_EVAL" />

                    <div class="divFondoDos">
                        <div class="divSpace2_a"></div>
                        <div class="divCont2">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.Action
                            </div>
                            <div class="editor-field">
                                <input type="text" name="ID_TYPE" id="ID_TYPE" />
                            </div>
                        </div>
                    </div>
                    <div class="divFondoUno">
                        <div class="divSpace2_a"></div>
                        <div class="divCont2" style="width: 96%;">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.Objective
                            </div>
                            <div class="k-textbox k-textboxExpand">
                                @Html.EditorFor(model => model.NAM_OBJE)
                                @Html.ValidationMessageFor(model => model.NAM_OBJE)
                            </div>
                        </div>
                    </div>
                    <div class="divFondoDos">
                        <div class="divSpace2_a"></div>
                        <div style="width:96%;float:left">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.Description
                            </div>
                            <div class="editor-field">
                                @Html.TextAreaFor(model => model.DES_OBJE, new { rows = "20" })
                                @Html.ValidationMessageFor(model => model.DES_OBJE)
                            </div>
                        </div>
                    </div>
                    <div class="divFondoUno">
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.TypeObjective
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_TYPE_OBJE)
                                @Html.ValidationMessageFor(model => model.ID_TYPE_OBJE)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.Measured
                            </div>
                            <div class="k-textbox">
                                @Html.EditorFor(model => model.MEASURED)
                                @Html.ValidationMessageFor(model => model.MEASURED)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.When
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.APP_WHEN)
                                @Html.ValidationMessageFor(model => model.APP_WHEN)
                            </div>
                        </div>
                    </div>
                    <div class="divFondoDos">
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.Status
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_STAT_OBJE)
                                @Html.ValidationMessageFor(model => model.ID_STAT_OBJE)
                            </div>
                        </div>
                        <div class="divSpace3"></div>
                        <div class="divCont3">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.FrequencyMonitoring
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ID_FREQ_MONI)
                                @Html.ValidationMessageFor(model => model.ID_FREQ_MONI)
                            </div>
                        </div>
                    </div>

                    <div style="margin:0px 15px 0px 0px; height:25px; border:0px solid black;">
                        <div style="float:right;padding:10px 0px 0px 0px; ">
                            <button id="submit" class="k-button">Create</button>
                        </div>
                    </div>
                    <iframe id="ut_DetEVAL" name="ut_DetEVAL" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>
                    <div style="clear:both; padding-top:10px;"></div>
                }
            </div>
            <div style="clear:both; padding-bottom:5px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#submit").click(function () {
            winPopUpModalLoad('@ResourceLanguaje.Resource.SavingDetailTicket', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
        });

        $.ajax({
            url: "/Evaluation/ListDetailsEvaluation/@ViewBag.ID_EVAL",
            data: "var=" + Math.random(),
            type: "GET",
            dataType: "json",
            success: function (source) {
                data1 = source;
                showDetailsEval();
            },
            error: function (source) {
                alert("Error");
            }
        });

        var type = [{ text: "@ResourceLanguaje.Resource.NewObjective", value: "1" }, { text: "@ResourceLanguaje.Resource.AssignObjetive", value: "2" }];
        var ID_TYPE = $("#ID_TYPE").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,
            dataSource: type,
            index: 0
        }).data("kendoComboBox");
        var ID_TYPE = $("#ID_TYPE").data("kendoComboBox");

        $("#DES_OBJE").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        var ID_TYPE_OBJE = $("#ID_TYPE_OBJE").kendoComboBox({
            autoBind: true,
            index: 0,
            dataTextField: "NAM_TYPE_OBJE",
            dataValueField: "ID_TYPE_OBJE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Evaluation/ListTypeObjective"
                }
            }
        }).data("kendoComboBox");

        var APP_WHEN = $("#APP_WHEN").kendoDateTimePicker().data("kendoDateTimePicker");

        var ID_STAT_OBJE = $("#ID_STAT_OBJE").kendoComboBox({
            autoBind: true,
            index: 0,
            dataTextField: "NAM_STAT_OBJE",
            dataValueField: "ID_STAT_OBJE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Evaluation/ListStatusObjective"
                }
            }
        }).data("kendoComboBox");

        var ID_FREQ_MONI = $("#ID_FREQ_MONI").kendoComboBox({
            autoBind: true,
            index: 0,
            dataTextField: "NAM_FREQ_MONI",
            dataValueField: "ID_FREQ_MONI",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Evaluation/ListFreqMonitoring"
                }
            }
        }).data("kendoComboBox");

        function showDetailsEval() {
            $.each(data1['Data'], function (index, value) {
                $("#divDetailsEval").append(
                '<div class="divFondoUno">' +
                    '<div class="casilla">' +
                        '<div class="smallTitle">@ResourceLanguaje.Resource.Status</div>' +
                        '<div class="smallField">' + (data1['Data'][index]['NAM_STAT_EVAL']) + '</div>' +
                    '</div>' +
                    '<div class="casilla">' +
                        '<div class="smallTitle">@ResourceLanguaje.Resource.Evaluation</div>' +
                        '<div class="smallField">' + (data1['Data'][index]['NAM_EVAL']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class="divFondoDos">' +
                    '<div class="casilla">' +
                        '<div class="smallTitle">@ResourceLanguaje.Resource.Period</div>' +
                        '<div class="smallField">@ResourceLanguaje.Resource.From ' + (data1['Data'][index]['DAT_START']) + ' @ResourceLanguaje.Resource.To ' + (data1['Data'][index]['DAT_END']) + '</div>' +
                    '</div>' +
                    '<div class="casilla">' +
                        '<div class="smallTitle">@ResourceLanguaje.Resource.Created</div>' +
                        '<div class="smallField">' + (data1['Data'][index]['CREATED']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class="divFondoUno">' +
                    '<div class="detailsSummary">' +
                        '<div id="detSummary">' +
                            '<div class="container">' +
                                '<div class ="userData">' +
                                    '<div class="asignedImage"><a><img src="/Content/Fotos/' + (data1['Data'][index]['ID_FOTO']) + '.jpg"/></a></div>' +
                                '</div>' +
                                '<div class="messageData">' +
                                    '<div class="messageArrow"></div>' +
                                    '<div class="messageBoxDet">' +
                                        '<div class="msgBoxDetUser">' + '@ResourceLanguaje.Resource.CreatedBy ' + (data1['Data'][index]['USER']) +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="msgBoxBody">' + (data1['Data'][index]['DES_EVAL']) +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>');
            });

            $.each(data1['Data1'], function (index, value) {
                //divListObjective
            });

            centrarNumber(2);
        }

    });

    function centrarNumber(count) {
        for (i = 1; i <= count; i++) {
            var alt = $("#divObje" + i).height();
            $("#divNumb" + i).height(alt);
        }
    }
</script>
