@model ERPElectrodata.Models.SITE_ENTITY

@{
    Layout = null;
}

@* NUEVO SITE_ENTITY *@

@using (Html.BeginForm("Create", "Site_Entity", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSite_Entity", target = "upload_targetSite" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SITE</legend>
            <div class="divFondoUno">
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.Site
                    </div>
                    <div class="k-textbox">
                        @Html.TextBoxFor(model=>model.NAM_SITE)
                        @Html.ValidationMessageFor(model => model.NAM_SITE)
                    </div>
                </div>
            </div>
            <div style="display:inline-block; float:right; padding: 7px 12px 15px 5px;">
                <div style=" float:left; padding:0px 10px 0px 0px; ">
                    <button id="submit" class="k-button">@ResourceLanguaje.Resource.BtnCreate</button>
                </div>
                <button id="cancel" class="k-button">@ResourceLanguaje.Resource.BtnCancel</button>
            </div>
    </fieldset>
}
<iframe id="upload_targetSite" name="upload_targetSite" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>

<script type="text/javascript">

    $("#submit").click(function () {
        winPopUpModalLoad("Saving Your Site", "@ResourceLanguaje.Resource.PleaseWait", 300, 150);
    });

    $("#cancel").click(function (event) {
        event.preventDefault();
        closeWinFormModalPopUp();

        setTimeout("NewLocation(0)", 400);
    });

</script>