@model ERPElectrodata.Models.SolicitudPersonal
@{
    ViewBag.Title = "ListarSolicitudPersonal";
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

@*<link href="~/Content/fonts/font-awesome.css" rel="stylesheet" />
<link href="~/Content/themes/ionicons/css/ionicons.css" rel="stylesheet" />*@

<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.min.js"></script>

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Lista de Solicitudes Históricas
                <div class="page-title-subheading">
                    Visualización de todas las solicitudes completadas.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="card-title">Filtrar</div>
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label id="cbGerencia" for="cbGerencia" class="">Gerencia</label>
                                    <input id="IdGerencia">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label id="cbArea" for="cbArea" class="">Área</label>
                                    @Html.TextBoxFor(model => model.IdArea)
                                    @Html.ValidationMessageFor(model => model.IdArea)

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label id="cbSolicitante" for="cbSolicitante" class="">Solicitante</label>
                                    @Html.TextBoxFor(model => model.UsuarioCrea)
                                    @Html.ValidationMessageFor(model => model.UsuarioCrea)

                                </div>
                            </div>
                            <div class="col-md-1">
                                <br />                                
                                <button id="Buscar" type="button" class="mt-1 btn btn-primary btn-block" onclick="ListarSolicitudes()">Buscar</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label id="lblFechaInicio" for="FechaInicioTrabajo" class="">Fecha Ingreso Inicio</label>
                                    @Html.TextBox("FechaIngresoInicio")

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label id="lblFechaInicio" for="FechaInicioTrabajo" class="">Fecha Ingreso Fin</label>
                                    @Html.TextBox("FechaIngresoFin")
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="card-title">Solicitudes</div>
                    <form class="">

                        <table style="width: 100%;" id="tbListadoSolicitudes" name="tbListadoSolicitudes" class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Solicitante</th>
                                    <th>Cantidad</th>
                                    <th>Creación</th>
                                    <th>Motivo</th>
                                    <th>OP</th>
                                    <th>Cargo</th>
                                    <th>Área</th>
                                    <th>Candidatos</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Referencia</th>
                                    <th>Entrevista GTH</th>
                                    <th>Contratación</th>
                                    <!--  <th>Recursos Tec.</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Solicitante</th>
                                    <th>Cantidad</th>
                                    <th>Creación</th>
                                    <th>Motivo</th>
                                    <th>OP</th>
                                    <th>Cargo</th>
                                    <th>Área</th>
                                    <th>Candidatos</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Referencia</th>
                                    <th>Entrevista GTH</th>
                                    <th>Contratación</th>
                                    <!--  <th>Recursos Tec.</th> -->
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var FechaIngresoInicio = $("#FechaIngresoInicio").kendoDatePicker().data("kendoDateTimePicker");
        var FechaIngresoFin = $("#FechaIngresoFin").kendoDatePicker().data("kendoDateTimePicker");

        var IdGerencia = $("#IdGerencia").kendoComboBox({
            placeholder: "",
            dataTextField: "NAM_CHAR",
            dataValueField: "ID_CHAR",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SeleccionSolicitudPersonal/ObtenerListadoGerencias?var=" + Math.random()
                }
            }
        });

        $("#IdArea").kendoComboBox({
            cascadeFrom: "IdGerencia",
            placeholder: "",
            dataTextField: "title",
            dataValueField: "ID_CHAR",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SeleccionSolicitudPersonal/ObtenerListadoAreasxGerencia?var=" + Math.random()
                }
            }
        });

        $("#UsuarioCrea").kendoComboBox({
            placeholder: "",
            dataTextField: "SOLICITANTE",
            dataValueField: "UsuarioCrea",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SeleccionSolicitudPersonal/ListarSolicitantePersonal?var=" + Math.random()
                }
            }
        });


        $("#IdEstadoSolicitud").kendoComboBox({
            placeholder: "",
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SeleccionSolicitudPersonal/ListarEstados?var=" + Math.random()
                }
            }
        });

        ListarSolicitudes();

        //FROM_DATE.bind("change", function (e) {
        //    document.getElementById('linkTicketReport').href = "/Reporting/Talent/ReportReferencia.aspx?" + $("#FormTicketReport").serialize();
        //});
    });


    function ListarSolicitudes() {

        $('#tbListadoSolicitudes').dataTable().fnDestroy();

        var table = $('#tbListadoSolicitudes').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            'order': [[1, 'desc']],
            //'select': 'multi',
            ajax: {
                "url": "/SeleccionSolicitudPersonal/ListadoSolicitudHistorica",
                "data": function (d) {
                    d.IdGerencia = $("#IdGerencia").val() == '' ? 0 : $("#IdGerencia").val(),
                        d.IdArea = $("#IdArea").val() == '' ? 0 : $("#IdArea").val(),
                        d.IdEstado = 5,
                        d.IdSolicitante = $("#UsuarioCrea").val() == '' ? 0 : $("#UsuarioCrea").val(),
                        d.FechaIngresoInicio = $("#FechaIngresoInicio").val() == '' ? '' : $("#FechaIngresoInicio").val(),
                        d.FechaIngresoFin = $("#FechaIngresoFin").val() == '' ? '' : $("#FechaIngresoFin").val()
                }
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.SOLICITANTE + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.CANTIDAD + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.CREACION + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.MOTIVOVACANTE + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.OP + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black" >' + data.CARGO + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.AREA + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.CANDIDATOS + '</a>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href=\"\\SeleccionSolicitudPersonal/DetalleSolicitudPersonal/' + data.Id + '\" target="_blank" style="color:black">' + data.INGRESO + '</a>';
                    }
                },{
                    data: null,
                    render: function (data, type, row) {
                        return '<div style="text-align:center"><a id="linkTicketReport" class="k-button" href="/Reporting/Talent/ReportReferencia.aspx?IdSolicitud=' + data.Id + '" target="_blank"><i class="fa fa-file-pdf" aria-hidden="true" style="font-size:25px;cursor:pointer" title="Referencias"></i></a></div>';
                    }
                }, {
                    data: null,
                    render: function (data, type, row) {
                        return '<div style="text-align:center"><a id="linkTicketReport" class="k-button" href="/Reporting/Talent/ReporteEntrevista.aspx?IdSolicitud=' + data.Id + '" target="_blank"><i class="fa fa-file-pdf" aria-hidden="true" style="font-size:25px;cursor:pointer" title="Entrevista"></i></a></div>';
                    }
                }, {
                    data: null,
                    render: function (data, type, row) {
                        return '<div style="text-align:center"><a id="linkTicketReport" class="k-button" href="/Reporting/Talent/ReporteContratacion.aspx?IdSolicitud=' + data.Id + '" target="_blank"><i class="fa fa-file-pdf" aria-hidden="true" style="font-size:25px;cursor:pointer" title="Contratación"></i></a></div>';
                    }
                }, /*{
                    data: null,
                    render: function (data, type, row) {
                        return '<div style="text-align:center"><a id="linkTicketReport" class="k-button" href="/Reporting/Talent/ReporteRecursosTec.aspx?IdSolicitud=' + data.Id + '" target="_blank"><i class="fa fa-file-pdf" aria-hidden="true" style="font-size:25px;cursor:pointer" title="Recursos"></i></a></div>';
                    }
                },*/
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href="/SeleccionSolicitudPersonal/RenovarSolicitud/' + data.Id + '" class="btn btn-primary">Renovar</a>';
                    }
                },
            ],
            buttons: [
                'csv', 'excel', 'pdf', 'print'
            ]
        });

    }


</script>
