@{
    ViewBag.Title = "";
    Layout = null;
}

<style>
    .k-button.k-upload-selected {
        display: none !important
    }

    .k-button.k-clear-selected {
        display: none !important
    }
</style>
<input type="hidden" name="IdDocumentoContratoPoliza" id="IdDocumentoContratoPoliza" value="@ViewBag.IdDocumentoContratoPoliza" />
<input type="hidden" name="IdDocumentoContrato" id="IdDocumentoContrato" value="@ViewBag.IdDocumentoContrato" />
<fieldset>
    <div class="form-row">
        <div class="col-md-6">
            <div class="editor-label">
                Tipo de Poliza <span style="color:red">(*)</span>
            </div>
            <div class="editor-field">
                <input id="EditIdTipo" type="text" name="EditIdTipo">
            </div>
        </div>
        <div class="col-md-6">
            <div class="editor-label">
                Importe Asegurado <span style="color:red">(*)</span>
            </div>
            <div class="editor-field">
                <input id="EditImporte" type="text" name="EditImporte" value="@ViewBag.Importe">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <div class="editor-label">
                Fecha Inicio <span style="color:red">(*)</span>
            </div>
            <div class="editor-field">
                <input id="EditFechaInicio" type="text" name="EditFechaInicio" value="@ViewBag.FechaInicio">
            </div>
        </div>
        <div class="col-md-6">
            <div class="editor-label">
                Fecha Fin <span style="color:red">(*)</span>
            </div>
            <div class="editor-field">
                <input id="EditFechaFin" type="text" name="EditFechaFin" value="@ViewBag.FechaFin">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="editor-label">
                Descripción
            </div>
            <div>
                <textarea id="EditDescripcion" name="EditDescripcion" class="form-control">@ViewBag.Descripcion</textarea>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <input name="files" id="files" type="file" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <button id="cancelPoliza" class="btn btn-light btn-block">Cancelar</button>
        </div>
        <div class="col-md-3">
            <button id="EditarPoliza" class="btn btn-primary btn-block">Crear</button>
        </div>
    </div>
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {

        $("#EditIdTipo").kendoComboBox({
            autoBind: false,
            dataTextField: "VAL_ACCO_PARA",
            dataValueField: "ID_ACCO_PARA",
            filter: "contains",
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentoContrato/ListaTipoPoliza?var=" + Math.random()
                }
            }
        });
        var TipoPolizaContrato = $("#EditIdTipo").data("kendoComboBox");
        TipoPolizaContrato.value(@ViewBag.TipoPolizaContrato);

        $("#EditImporte").kendoNumericTextBox({
            min: 0
        });

        $("#EditFechaInicio").kendoDateTimePicker({

        });

        $("#EditFechaFin").kendoDateTimePicker({

        });

        var idPoliza = 0;

        $("#EditarPoliza").click(function () {

            var params = {
                IdDocContratoPoliza: $("#IdDocumentoContratoPoliza").val(),
                IdDocContrato: $("#IdDocumentoContrato").val(),
                TipoPolizaContrato: $("#EditIdTipo").val(),
                Importe: $("#EditImporte").val(),
                FechaInicio: $("#EditFechaInicio").val(),
                FechaFin: $("#EditFechaFin").val(),
                Descripcion: $("#EditDescripcion").val()
            };

            $.ajax({
                url: "/DocumentoContrato/GuardarPoliza",
                data: params,
                type: "POST",
                cache: false,
                dataType: "JSON",
                success: function (resp) {
                    if (resp.Respuesta == 'OK') {
                        idPoliza = resp.IdPoliza;
                        uploadGeneral.options.async.saveUrl = `/DocumentoContrato/AdjuntarArchivoPoliza/?idPoliza=${idPoliza}`;

                        uploadGeneral.upload();
                        uploadDone(resp.Respuesta,1);
                    }
                    else
                    {
                        uploadDone(resp.Respuesta, 2);
                    }
                }
            });
        });

        $("#cancelPoliza").click(function (event) {
            $("[data-dismiss=modal]").trigger({ type: "click" });
        });

        let uploadGeneral = $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            async: {
                saveUrl: `/DocumentoContrato/AdjuntarArchivoPoliza/?idPoliza=${idPoliza}`,
                removeUrl: "",
                withCredentials: false,
                autoUpload: false
            },
        }).data("kendoUpload");

    });

</script>