@model ERPElectrodata.Models.MANUFACTURER

@{
    Layout = null;
}

@*<script>
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>*@


<div id="FormEditarCompania">
    <div class="form-row" id="divContainerNewTicket">
        <div class="col-md-12">
            <div id="divNuevaLicencia">
                <!--Declaración de Formulario-->
                @using (Html.BeginForm("EditaMarca", "Manufacturer", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormCrear", target = "upload_target" }))
                {
                    @Html.HiddenFor(model => model.ID_MANU)
                    @Html.HiddenFor(model => model.UserIdCreacion)
                    @Html.HiddenFor(model => model.FechaCreacion)


                    <fieldset>
                        @*<legend>Editar Marca</legend>*@

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="editor-label">
                                        Marca <b>*</b>
                                    </div>
                                    <div class="k-textbox">
                                        <input id="NAM_MANU" type="text" name="NAM_MANU" value="@ViewBag.Marca">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="editor-label">
                                        Descripción<b>*</b>
                                    </div>
                                    <div>
                                        @Html.TextAreaFor(model => model.DESC_MANU, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DESC_MANU)
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div style="display:inline-block; float:right; padding: 20px 20px 15px 5px;">
                            <div style=" float: left; padding: 0 15px 0 0;">
                                <button id="submit" class="k-button">Editar</button>
                            </div>
                            <button id="reset" class="k-button" onclick="cancel(); return false;">Cancelar</button>
                            <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                        </div>*@

                        <div class="card-footer">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 ml-auto">
                                        <button id="submit" class="btn btn-primary btn-block">Guardar</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button id="btnCancelar" class="ladda-button mb-2 btn btn-gradient-light btn-block widthMax" data-style="expand-right" data-dismiss="modal">
                                            <span class="ladda-label">Cancelar</span><span class="ladda-spinner"></span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>

<script type="text/javascript">

    $(document).ready(function () {

        //$("#DESC_MANU").kendoEditor({
        //    tools: [
        //        "bold",
        //        "italic",
        //        "underline",
        //        "strikethrough",
        //        "foreColor",
        //        "backColor",
        //        "justifyLeft",
        //        "justifyCenter",
        //        "justifyRight",
        //        "justifyFull",
        //        "insertUnorderedList",
        //        "insertOrderedList",
        //        "indent",
        //        "outdent",
        //        "createLink",
        //        "unlink",
        //        "subscript",
        //        "superscript"
        //    ], encoded: false
        //});


        //$("#reset").click(function (event) {
        //    event.preventDefault();
        //    closeWinFormModalPopUp();
        //    //location.reload(true);
        //});
    });

</script>

<script type="text/javascript">

    //function cancel() {
    //    closeWinModalPopUpLoad();

    //    winPopUpModal("Operación Cancelada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
    //        "<div style='padding:10px 0px 10px 0px;'>La operacion fue cancelada</div>" +
    //        "<div style='float:right; padding:20px 0px 0px 0px; '>" +
    //        "<button id='continuar' class='k-button' >Continuar</button></div></div>"
    //        , 350, 130);
    //    $("#continuar").focus();
    //    $("#continuar").click(function () {

    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("CrearCuentaTA"));
    //    });


    //    $("#closebtnmodal").click(function () {
    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("Edit", "Details"));
    //    });

    //    return false;
    //}

    //function uploadDone(msg, code) {
    //    if (msg == "OK") {
    //        winPopUpModal("Información Guardada / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
    //            + "<div style='padding:10px 0px 10px 0px;'>La información ha sido actualizada.</div>"
    //            + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continues' class='k-button'>Continuar</button>" +
    //            "</div></div>", 400, 160);
    //        $("#continues").focus();
    //        $("#continues").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            //location.reload(true);
    //            $("#NAM_MANU").val('');
    //            $("#DESC_MANU").val('');
    //            $("#Buscar").click();
    //        });

    //        $("#closebtnmodal").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            //location.reload(true);
    //            $("#NAM_MANU").val('');
    //            $("#DESC_MANU").val('');
    //            $("#Buscar").click();
    //        });
    //    }

    //    else if (msg == "EXISTE") {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>La marca ha sido registrada anteriormente</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }

    //    else {
    //        winPopUpModal("Error al registrar", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>Completar la información solicitada</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }

    //}

    function uploadDone(msg, code) {
        if (msg == "OK") {
            toastr.success("La información ha sido actualizada", "Información Guardada / Notificación Enviada");
            $("#btnCancelar").trigger({ type: "click" });
            $("#Buscar").trigger({ type: "click" });
        }
        else if (msg == "EXISTE") {
            toastr.warning("La marca ha sido registrada anteriormente", "Alerta");
            $("#btnCancelar").trigger({ type: "click" });
        }
        else {
            toastr.warning("Completar la información solicitada", "Alerta");
        }
    }
</script>