@{
    Layout = null;
}

<div id="w1_k" class="menuVertical second w1">
    
    <a onclick="OcultarKnowledge()" style="text-decoration:none;color:white;" href="#/Knowledge"><h1>Knowledge</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li onclick="OcultarKnowledge()" id="liOUTs" ><a href="#/Knowledge/97" @*onclick="LoadKnowledge(97)"*@ id="aOUTs"><div class="inLink">Outsourcing</div></a></li>
            <li onclick="LoadKnowledge(63)" id="liOper"><a href="#/Knowledge/63" id="aOper"><div class="inLink">Operaciones</div></a></li>
            <li onclick="LoadKnowledge(112)" id="liSale"><a href="#/Knowledge/112" id="aSale"><div class="inLink">Ventas</div></a></li>
            <li onclick="LoadKnowledge(118)" id="liSale"><a href="#/Knowledge/118" id="aSale"><div class="inLink">Finanzas</div></a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">

    function OcultarKnowledge() {
        $("#w1_k").removeClass("w1AnimOne");
    }

    function SelectMenu(id, liant) {
        //$("#a" + id).css("color", "Black");
        //$("#a" + id).css("font-weight", "bold");
        //$("#li" + id).css("background-color", "#eaeaea");
        //$("#li" + liant).css("margin-right", "-4px");
    }

    function UnselectMenu() {

        //$("#aOUTs").css("color", "White");
        //$("#aOUTs").css("font-weight", "initial");
        //$("#liOUTs").css("background-color", "#333333");
        //$("#liOUTs").css("margin-right", "-2px");
        //$("#aOper").css("color", "White");
        //$("#aOper").css("font-weight", "initial");
        //$("#liOper").css("background-color", "#333333");
        //$("#liOUTs").css("margin-right", "-2px");
        //$("#aSale").css("color", "White");
        //$("#aSale").css("font-weight", "initial");
        //$("#liSale").css("background-color", "#333333");
        //$("#liOper").css("margin-right", "-2px");
    }

    function LoadKnowledge(ID_AREA) {

        $("#w1_k").removeClass("w1AnimOne");

        $("#divContent").empty();
        $("#divContent").load("/Knowledge/Index?var=" + Math.random(), function () {

            $("#ID_AREA").val(ID_AREA);
            var title = '';
            //UnselectMenu();
            if (ID_AREA == 97) {
                title = '@ResourceLanguaje.Resource.ITOutsourcing';
                //SelectMenu('OUTs', '');
            }
            if (ID_AREA == 63) {
                title = '@ResourceLanguaje.Resource.Operations';
                //SelectMenu('Oper', 'OUTs');
            }
            if (ID_AREA == 112) {
                title = '@ResourceLanguaje.Resource.Sales';
                //SelectMenu('Sale', 'Oper');
            }
            if (ID_AREA == 118) {
                title = '@ResourceLanguaje.Resource.Financial';
                //SelectMenu('Sale', 'Oper');
            }
            $("#divTitle").html('@ResourceLanguaje.Resource.FileServer - ' + title);

            $("#divViewCategorias").empty();
            $("#divViewCategorias").load("/Knowledge/ViewTreeKnowledge?id=" + ID_AREA + "&var=" + Math.random());

        });



    }

</script>