@{
    Layout = null;
}

<div id="w1_t" class="menuVertical second w1">

    <a onclick="OcultarTalent()" style="text-decoration:none;color:white;" href="#/Talent"><h1>Talento</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li onclick="OcultarTalent()"><a href="/Talent/Profile/@Session["ID_PERS_ENTI"]"><div class="inLink">@ResourceLanguaje.Resource.MyProfileTalent</div></a></li>
            @if (Session["RRHH"] != null && Convert.ToInt32(Session["RRHH"].ToString()) == 1)
            {
                <li onclick="OcultarTalent()"><a href="Talent/Create"><div class="inLink">@ResourceLanguaje.Resource.NewProfileTalent</div></a></li>
                <li onclick="OcultarTalent()" id="liFind"><a href="Talent/Find" id="aFind"><div class="inLink">@ResourceLanguaje.Resource.FindProfileTalent</div></a></li>
            }
            <li onclick="OcultarTalent()" id="liAchie"><a href="Talent/ViewFindAchievements" id="aAchie"><div class="inLink">@ResourceLanguaje.Resource.AchievementsTalent</div></a></li>
            @if ((Session["RRHH"] != null && Convert.ToInt32(Session["RRHH"].ToString()) == 1) || (Session["DESCARGAR_LOGROS"] != null && Convert.ToInt32(Session["DESCARGAR_LOGROS"].ToString()) == 1))
            {
                <li onclick="OcultarTalent()" id="liAssistance"><a href="Talent/ReporteGradoInstruccion" id="rptNivel"><div class="inLink">Nivel Colaborador</div></a></li>
            }
            <li onclick="OcultarTalent()" id="liSche"><a href="#/Scheduler" id="aSche"><div class="inLink">@ResourceLanguaje.Resource.CalendarTalent</div></a></li>
            @*Retirar Evaluacion de Desempeño por Restructuración.*@
            <li onclick="OcultarTalent()" style="display:none"><a href="#/EvaluationStaff" id="aEvalStaff"><div class="inLink">@ResourceLanguaje.Resource.EvaluationStaffTalent</div></a></li>
            @if ((Session["SUPERVISOR_SERVICEDESK"] != null && Convert.ToInt32(Session["SUPERVISOR_SERVICEDESK"].ToString()) == 1) || (Session["RRHH"] != null && Convert.ToInt32(Session["RRHH"].ToString()) == 1))
            {
                <li onclick="OcultarTalent()" id="liAssistance"><a href="#/Attendance" id="aAssistance"><div class="inLink">@ResourceLanguaje.Resource.AttendanceTalent</div></a></li>
            }
            @if (Session["RRHH"] != null && Convert.ToInt32(Session["RRHH"].ToString()) == 1)
            {

                <li onclick="OcultarTalent()" id="liChart"><a href="Talent/ViewChart"><div class="inLink">@ResourceLanguaje.Resource.OrganizationTalent</div></a></li>
                <li onclick="OcultarTalent()" id="liReport"><a href="Talent/Reports" id="aReport"><div class="inLink">@ResourceLanguaje.Resource.ReportTalent</div></a></li>
            }

            @if (Session["SUPERVISOR_RRHH"] != null && Convert.ToInt32(Session["SUPERVISOR_RRHH"].ToString()) == 1)
            {
                <li onclick="OcultarTalent()" id="liPayment"><a href="Talent/LoadPaymentBallots" id="aPayment"><div class="inLink">@ResourceLanguaje.Resource.PaymentBallotsTalent</div></a></li>
            }
            <li onclick="OcultarTalent()" id="liPayment"><a href="/Organigrama/Inicio" id="aOrg" target="_blank"><div class="inLink">Empresa</div></a></li>
            <li onclick="OcultarTalent()" id="liPayment"><a href="/Inventario/Buscar" id="aOrg" target="_blank"><div class="inLink">Postulaciones</div></a></li>
            @*@if (Session["SUPERVISOR_RRHH"] != null && Convert.ToInt32(Session["SUPERVISOR_RRHH"].ToString()) == 1)
                {
                    <li onclick="OcultarTalent()" id="liVacation"><a href="#/Vacation" id="aVacation"><div class="inLink">@ResourceLanguaje.Resource.VacationTalent</div></a></li>
                }
                <li style="display:none;" onclick="OcultarTalent()" id="liReport"><a href="#/Events" id="aReport"><div class="inLink">@ResourceLanguaje.Resource.EventTalent</div></a></li>
                <li><a onclick="NewRequestVacation(this)" href="#/RequestVacation"><div class="inLink">@ResourceLanguaje.Resource.RequestVacationTalent</div></a></li>*@

            @*<li onclick="SurveyEPS()" id="liAchie"><a href="#" id="aAchie"><div class="inLink">Encuesta EPS</div></a></li>
                <li onclick="TalentSurvey(this)" id="liReport"><a href="#" id="aReport"><div class="inLink">Survey</div></a></li>*@
        </ul>
    </nav>

    <h1>Evaluación Personal</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a onclick="OcultarTalent()" href="EvaluacionPersonal/Index"><div class="inLink">Evaluación</div></a></li>
        </ul>
    </nav>
    <h1>Selección de Personal</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a onclick="OcultarTalent()" href="/SeleccionSolicitudPersonal/CrearSolicitud"><div class="inLink">Nueva Solicitud</div></a></li>
            <li><a onclick="OcultarTalent()" href="/SeleccionSolicitudPersonal/ListarSolicitudPersonal"><div class="inLink">Mis Solicitudes</div></a></li>
            <li><a onclick="OcultarTalent()" href="/SeleccionSolicitudPersonal/ListarSolicitudesHistoricas"><div class="inLink">Solicitudes Históricas</div></a></li>
        </ul>
    </nav>
    <h1>Certificados</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a onclick="OcultarTalent()" href="/Certificado/ProgramacionCertificado"><div class="inLink">Programación Certificado</div></a></li>
            <li><a onclick="OcultarTalent()" href="/Certificado/MisProgramaciones"><div class="inLink">Mis Programaciones</div></a></li>
            <li><a onclick="OcultarTalent()" href="/Certificado/MisCertificaciones"><div class="inLink">Mis Certificados</div></a></li>
        </ul>
    </nav>

    <h1>Gestión de Personas</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a onclick="OcultarTalent()" href="Persona/Index"><div class="inLink">Lista de Personas</div></a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">

    function OcultarTalent() {
        $("#w1_t").removeClass("w1AnimOne");
    }

    function NewRequestVacation() {
        $("#w1_t").removeClass("w1AnimOne");

        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">' +
            '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
            '<h2 class="modal-title">New Request Vacation</h2>' +
            '</div>');
        $("#ModalContentAll").append("<div id='divFormNewRequest'></div>");
        $("#divFormNewRequest").load("/Vacation/RequestVacation?_=" + Math.random());
    }

</script>

@*<script type="text/javascript">
        var fl1 = 0;
        var fl2 = 0;
        var fl3 = 0;

        function SurveyEPS() {
            $("#divContent").empty();
            $("#divContent").load("/SurveyEPS/Edit?var=" + Math.random());
        }

        function MyProfile(parm) {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Talent/MyProfile?var=" + Math.random());
        }

        function NewProfile(parm) {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Talent/Create?var=" + Math.random());
        }

        function FindProfile(parm) {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Talent/Find?id=@ViewBag.Supervisor&var=" + Math.random());
        }

        function FindAchievements() {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Talent/ViewFindAchievements?var=" + Math.random());
        }

        function Training() {
            UnselectMenu();
            SelectMenu('Training','Achie');

            $("#divContent").empty();
            $("#divContent").load("/Training/Index?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());
        }

        function Chart() {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Talent/ViewChart?var=" + Math.random());
        }

        function Assistance(e) {
            //UnselectMenu();
            //SelectMenu('Assistance', 'Achie');
            //document.getElementById("divContent").innerHTML = "";
            //$("#divContent").load("/Assistance/Index");
            $("#divContent").empty();
            $("#divContent").load("/Assistance/Report_Attendance?var=" + Math.random());
        }

        function ReportTalent(parm) {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Talent/Reports?var=" + Math.random());
        }

        function Scheduler(parm) {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Room/Index?var=" + Math.random());
        }

        function Evaluation(parm) {
            //UnselectMenu();
            //SelectMenu('Evaluation', 'Sche');
            $("#divContent").empty();
            $("#divContent").load("/Evaluation/Index?var=" + Math.random());
        }

        function Vacation(parm) {
            //UnselectMenu();
            //SelectMenu('Vacation', 'Report');
            $("#divContent").empty();
            $("#divContent").load("/Vacation/Index?var=" + Math.random());
        }

        function PaymentBallots() {
            //UnselectMenu();
            $("#divContent").empty();
            $("#divContent").load("/Talent/LoadPaymentBallots?var=" + Math.random());
        }

        function EvaluationStaff() {
            //UnselectMenu();
            $('#myModalLoading').modal('show');
            $("#divContent").empty();
            $("#divContent").load("/EvaluationStaff/Index?var=" + Math.random());
        }

        function SelectMenu(id, liant) {
            $("#a" + id).css("color", "Black");
            $("#a" + id).css("font-weight", "bold");
            $("#li" + id).css("background-color", "#eaeaea");
            $("#li" + liant).css("margin-right", "-4px");
            fl3 = 1;
        }

        function UnselectMenu() {

            $("#aEvaluation").css("color", "White");
            $("#aEvaluation").css("font-weight", "initial");
            $("#liEvaluation").css("background-color", "#333333");
            $("#liSche").css("margin-right", "-2px");
            $("#aAssistance").css("color", "White");
            $("#aAssistance").css("font-weight", "initial");
            $("#liAssistance").css("background-color", "#333333");
            $("#liAchie").css("margin-right", "-2px");
            if ('@ViewBag.AccessVacation' == '1') {
                $("#aVacation").css("color", "White");
                $("#aVacation").css("font-weight", "initial");
                $("#liVacation").css("background-color", "#333333");
                $("#liReport").css("margin-right", "-2px");
            }
        }

        function TalentEvents() {
            $("#divContent").empty();
            $("#divContent").load("/Event/Index?var=" + Math.random());
        }

        function TalentSurvey() {
            $("#divContent").empty();
            $("#divContent").load("/QuestionPersonEntity/Index/0?var=" + Math.random());
        }

    </script>*@