@{
    Layout = null;
}

<div id="w1" class="menuVertical second">
    <h1>Asset &amp; Configuration</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a href="#" onclick="ClickNew(this)"><div class="inLink">@ResourceLanguaje.Resource.NewAsset</div></a></li>
            <li onclick="FindAsset(this)"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.FindAsset</div></a></li>
            <li onclick="Delivery(this)"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.NewDelivery</div></a></li>
            <li onclick="Reception(this)"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.NewReception</div></a></li>
            <li onclick="FindFormat(this)"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.FindFormat</div></a></li>
            <li onclick="ReportAsset(this)"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.AssetReport</div></a></li>
            <li><a href="/Reporting/SoftwareReport.aspx" target="_blank"><div class="inLink">@ResourceLanguaje.Resource.SoftwareReport</div></a></li>
        </ul>
    </nav>
</div>