@{
    Layout = null;
}

@*<div id="w1" class="menuVertical second">
        <h1>Incident &amp; Request</h1>
        <hr />
        <nav id="w2">
            <ul id="w3">
                <li><a href="#" onclick="NewTicket(this)"><div class="inLink">@ResourceLanguaje.Resource.NewTicket</div></a></li>
                <li onclick="FindTicket(this)"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.FindTicket</div></a></li>
                <li onclick="TicketReport(this)" id="liReport"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.TicketReport</div></a></li>
                @if (Convert.ToInt32(Session["ID_ACCO"]) == 4)
                {
                    <li onclick="Sales(this)" id="liSale"><a id="aSale" href="#"><div class="inLink">Order Form</div></a></li>
                }
                <li onclick="Work(this)"><a href="#"><div class="inLink">Daily Report</div></a></li>
                <li onclick="WorkLoad(this)"><a href="#"><div class="inLink">Work Load</div></a></li>
            </ul>
        </nav>
    </div>*@
<div id="ms_mp0">@Html.Partial("_Supervision")</div>
<div id="ms_mp1">@Html.Partial("_IncidentRequest")</div>
<div id="ms_mp2">@Html.Partial("_AssetConfiguration")</div>
<div id="ms_mp3">@Html.Partial("_Change")</div>
<div id="ms_mp4">@Html.Partial("_Knowledge")</div>
<div id="ms_mp5">@Html.Partial("_Talent")</div>
<div id="ms_mp6">@Html.Partial("_Financial")</div>

@if (Convert.ToInt32(Session["VENTAS"]) == 1)
{
    <div id="ms_mp7">
        @Html.Partial("_Sales")
    </div>
}
<div id="ms_mp8">@Html.Partial("_Inform")</div>
<div id="ms_mp9">@Html.Partial("_DocumentControl")</div>

@if (Convert.ToInt32(Session["ADMINISTRADOR"]) == 1 || Convert.ToInt32(Session["OPERACIONES"]) == 1 || Convert.ToInt32(Session["SUPERVISOR_SERVICEDESK"]) == 1)
{
    <div id="ms_mp10">
        @Html.Partial("_Administration")
    </div>
}
<div id="ms_mp11">
    @Html.Partial("_Activity")
</div>

@if (Session["ID_ACCO"] != null && Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4)
{
    <div id="ms_mp12">
        @Html.Partial("_Pmo")
    </div>
    <div id="ms_mp13">
        @Html.Partial("_Inventario")
    </div>

}

<div id="ms_mp14">
    @Html.Partial("_KnowledgeManagement")
</div>

<div id="ms_mp15">
    @Html.Partial("_ChangeManagent")
</div>

<div id="ms_mp16">
    @Html.Partial("_Cmdb")
</div>

<script type="text/javascript">
    $("#mp1").click(function () {
        if ($("#w1").hasClass("w1AnimOne")) {
            $("#w1").removeClass("w1AnimOne");
        } else {
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1").addClass("w1AnimOne");
        }
    });

    $("#mp2").click(function () {
        if ($("#w1_a").hasClass("w1AnimOne")) {
            $("#w1_a").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_a").addClass("w1AnimOne");
        }
    });

    $("#mp3").click(function () {
        if ($("#w1_c").hasClass("w1AnimOne")) {
            $("#w1_c").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_c").addClass("w1AnimOne");
        }
    });

    $("#mp4").click(function () {
        if ($("#w1_k").hasClass("w1AnimOne")) {
            $("#w1_k").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_k").addClass("w1AnimOne");
        }
    });

    $("#mp5").click(function () {
        if ($("#w1_t").hasClass("w1AnimOne")) {
            $("#w1_t").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_t").addClass("w1AnimOne");
        }
    });

    $("#mp6").click(function () {
        if ($("#w1_f").hasClass("w1AnimOne")) {
            $("#w1_f").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_f").addClass("w1AnimOne");
        }
    });

    $("#mp7").click(function () {
        if ($("#w1_s").hasClass("w1AnimOne")) {
            $("#w1_s").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_s").addClass("w1AnimOne");
        }
    });

    $("#mp8").click(function () {
        if ($("#w1_i").hasClass("w1AnimOne")) {
            $("#w1_i").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_i").addClass("w1AnimOne");
        }
    });

    $("#mp9").click(function () {
        if ($("#w1_dc").hasClass("w1AnimOne")) {
            $("#w1_dc").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_dc").addClass("w1AnimOne");
        }
    });

    $("#mp10").click(function () {
        if ($("#w1_adm").hasClass("w1AnimOne")) {
            $("#w1_adm").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_adm").addClass("w1AnimOne");
        }
    });

    $("#mp11").click(function () {
        if ($("#w1_act").hasClass("w1AnimOne")) {
            $("#w1_act").removeClass("w1AnimOne");
        } else {
            $("#w1").removeClass("w1AnimOne");
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_act").addClass("w1AnimOne");
        }
    });

    $("#mp12").click(function () {
        if ($("#w1_pmo").hasClass("w1AnimOne")) {
            $("#w1_pmo").removeClass("w1AnimOne");
        } else {
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_pmo").addClass("w1AnimOne");
        }
    });

    $("#mp13").click(function () {
        if ($("#w1_inv").hasClass("w1AnimOne")) {
            $("#w1_inv").removeClass("w1AnimOne");
        } else {
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_inv").addClass("w1AnimOne");
        }
    });

    $("#mp14").click(function () {
        if ($("#w1_kmc").hasClass("w1AnimOne")) {
            $("#w1_kmc").removeClass("w1AnimOne");
        } else {
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_kmc").addClass("w1AnimOne");
        }
    });

    $("#mp15").click(function () {
        if ($("#w1_chmgt").hasClass("w1AnimOne")) {
            $("#w1_chmgt").removeClass("w1AnimOne");
        } else {
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_chmgt").addClass("w1AnimOne");
        }
    });

    $("#mp16").click(function () {
        if ($("#w1_cmdb").hasClass("w1AnimOne")) {
            $("#w1_cmdb").removeClass("w1AnimOne");
        } else {
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_spr").removeClass("w1AnimOne");
            $("#w1_cmdb").addClass("w1AnimOne");
        }
    });

    $("#mp0").click(function () {
        if ($("#w1_spr").hasClass("w1AnimOne")) {
            $("#w1_spr").removeClass("w1AnimOne");
        } else {
            $("#w1_a").removeClass("w1AnimOne");
            $("#w1_c").removeClass("w1AnimOne");
            $("#w1_k").removeClass("w1AnimOne");
            $("#w1_t").removeClass("w1AnimOne");
            $("#w1_f").removeClass("w1AnimOne");
            $("#w1_s").removeClass("w1AnimOne");
            $("#w1_i").removeClass("w1AnimOne");
            $("#w1_dc").removeClass("w1AnimOne");
            $("#w1_adm").removeClass("w1AnimOne");
            $("#w1_act").removeClass("w1AnimOne");
            $("#w1").removeClass("w1AnimOne");
            $("#w1_pmo").removeClass("w1AnimOne");
            $("#w1_inv").removeClass("w1AnimOne");
            $("#w1_kmc").removeClass("w1AnimOne");
            $("#w1_chmgt").removeClass("w1AnimOne");
            $("#w1_cmdb").removeClass("w1AnimOne");
            $("#w1_spr").addClass("w1AnimOne");
        }
    });

    /*
    $("#w1").mouseleave(function () { $("#w1").removeClass("w1AnimOne"); });
    $("#w1_a").mouseleave(function () { $("#w1_a").removeClass("w1AnimOne"); });
    $("#w1_c").mouseleave(function () { $("#w1_c").removeClass("w1AnimOne"); });
    $("#w1_k").mouseleave(function () { $("#w1_k").removeClass("w1AnimOne"); });
    $("#w1_t").mouseleave(function () { $("#w1_t").removeClass("w1AnimOne"); });
    $("#w1_f").mouseleave(function () { $("#w1_f").removeClass("w1AnimOne"); });
    $("#w1_s").mouseleave(function () { $("#w1_s").removeClass("w1AnimOne"); });
    $("#w1_i").mouseleave(function () { $("#w1_i").removeClass("w1AnimOne"); });
    $("#w1_dc").mouseleave(function () { $("#w1_dc").removeClass("w1AnimOne"); });
    $("#w1_adm").mouseleave(function () { $("#w1_adm").removeClass("w1AnimOne"); });
    $("#w1_act").mouseleave(function () { $("#w1_act").removeClass("w1AnimOne"); });

    $("#mp1").mouseenter(function () {
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1").addClass("w1AnimOne");

    });
    $("#mp2").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_a").addClass("w1AnimOne");
    });

    $("#mp3").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_c").addClass("w1AnimOne");
    });

    $("#mp4").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_k").addClass("w1AnimOne");
    });

    $("#mp5").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_t").addClass("w1AnimOne");
    });

    $("#mp6").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_f").addClass("w1AnimOne");
    });

    $("#mp7").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_s").addClass("w1AnimOne");
    });

    $("#mp8").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_i").addClass("w1AnimOne");
    });

    $("#mp9").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_dc").addClass("w1AnimOne");
    });

    $("#mp10").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_act").removeClass("w1AnimOne");
        $("#w1_adm").addClass("w1AnimOne");

    });
    $("#mp11").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_a").removeClass("w1AnimOne");
        $("#w1_c").removeClass("w1AnimOne");
        $("#w1_k").removeClass("w1AnimOne");
        $("#w1_t").removeClass("w1AnimOne");
        $("#w1_f").removeClass("w1AnimOne");
        $("#w1_s").removeClass("w1AnimOne");
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1_dc").removeClass("w1AnimOne");
        $("#w1_adm").removeClass("w1AnimOne");
        $("#w1_act").addClass("w1AnimOne");
    });
    */

</script>