@{
    Layout = null;
}

@*<div id="w1" class="menuVertical second">
    <h1>Incident &amp; Request</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a href="#" onclick="NewTicket(this)"><div class="inLink">@ResourceLanguaje.Resource.NewTicket</div></a></li>
            <li onclick="FindTicket(this)"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.FindTicket</div></a></li>
            <li onclick="TicketReport(this)" id="liReport"><a href="#"><div class="inLink">@ResourceLanguaje.Resource.TicketReport</div></a></li>
            @if (Convert.ToInt32(Session["ID_ACCO"]) == 4)
            {
                <li onclick="Sales(this)" id="liSale"><a id="aSale" href="#"><div class="inLink">Order Form</div></a></li>
            }
            <li onclick="Work(this)"><a href="#"><div class="inLink">Daily Report</div></a></li>
            <li onclick="WorkLoad(this)"><a href="#"><div class="inLink">Work Load</div></a></li>
        </ul>
    </nav>
</div>*@

<div id="ms_mp1">@Html.Partial("_IncidentRequestITO")</div>
<div id="ms_mp8">@Html.Partial("_Inform")</div>

<script type="text/javascript">
    $("#w1").mouseleave(function () { $("#w1").removeClass("w1AnimOne"); });
    $("#w1_i").mouseleave(function () { $("#w1_i").removeClass("w1AnimOne"); });

    $("#mp1").mouseenter(function () {
        $("#w1_i").removeClass("w1AnimOne");
        $("#w1").addClass("w1AnimOne");
    });

    $("#mp8").mouseenter(function () {
        $("#w1").removeClass("w1AnimOne");
        $("#w1_i").addClass("w1AnimOne");
    });
    
</script>