@model ERPElectrodata.Models.DETAIL_SURVEY_EPS

@{
    Layout = null;
}

<div class="afterMain" id="divContainerNewTicket">
    <div style="float:left;width:30%">
        <div class="titleForm"><div class="title">Elección EPS 2015</div></div>

        <div class="bodyForm">
            <div class="inBodyForm" style="padding:5px;">
                @using (Html.BeginForm("Edit", "SurveyEPS",FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicket", target = "upload_target" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.ID_DETA_SURV_EPS)
                    @Html.HiddenFor(model => model.ID_SURV_EPS)
                    @Html.HiddenFor(model => model.ID_PERS_ENTI)

                    <fieldset>
                        <legend>DETAIL_SURVEY_EPS</legend>

                        <div class="editor-label">
                            Marque la EPS de su selección:
                        </div>
                        <div class="editor-field">
                            <input type="radio" name="ID_CIA_EPS" value="1" style="width:50px;"> Pacífico S.A. E.P.S<br>
                            <input type="radio" name="ID_CIA_EPS" value="2" style="width:50px;"> La Positiva Sanitas S.A. EPS<br>
                            <input type="radio" name="ID_CIA_EPS" value="3" style="width:50px;"> Rímac S.A. EPS
                        </div>

                        <div style="clear:both"></div>

                        <div style="float:right;">
                            <button id="submit" class="k-button">Guardar</button>
                        </div>
                    </fieldset>

                    <iframe id="upload_target" name="upload_target" src="" class="frameHidden"></iframe>
                }
            </div>
        </div>

    </div>
</div>

 

<script type="text/javascript">

    function uploadDone(msg, code) {
        if (msg == "OK") {
            SurveyEPS();
        }
        else {
            SurveyEPS();
        }
    }

</script>

