@model ERPElectrodata.Models.DOCUMENT_SALE

@{
    Layout = null;
}

<div class="afterMain">
    <div style="float:left; width:40%;">
        <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.FindOP</div></div>
        <div class="bodyForm">
            <div class="inBodyForm">
            @using (Html.BeginForm("FindSale", "Sales", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSaleFind", name = "FrmSaleFind", target = "upload_target" }))
                {
                    <fieldset>
                        <legend>@ResourceLanguaje.Resource.BtnFind OP</legend>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Type OP
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_TYPE_DOCU_SALE)
                                    @Html.ValidationMessageFor(model => model.ID_TYPE_DOCU_SALE)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Code
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.NUM_DOCU_SALE)
                                    @Html.ValidationMessageFor(model => model.NUM_DOCU_SALE)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    OS
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.OS)
                                    @Html.ValidationMessageFor(model => model.OS)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Status
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_STAT_DOCU_SALE)
                                    @Html.ValidationMessageFor(model => model.ID_STAT_DOCU_SALE)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Client
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ID_ENTI" id="ID_ENTI" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Contact
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ID_PERS_ENTI" id="ID_PERS_ENTI" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Vendor
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PERS_ENTI_VEND)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_VEND)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.KeyWord
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="KEYWORD" id="KEYWORD" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Queue
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ID_QUEU_FIND" id="ID_QUEU_FIND" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.AssignedTo
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ID_PERS_ENTI_ASSI_FIND" id="ID_PERS_ENTI_ASSI_FIND" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Category
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ID_CATE_FIND" id="ID_CATE_FIND" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" style="margin-bottom:5px;">
                            <div class="divSpace3"></div>
                            <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                                <div style=" float:left; padding:0px 15px 0px 0px; ">
                                    <button id="btnFindSale" class="k-button" onclick="FindSales(); return false;">@ResourceLanguaje.Resource.BtnFind</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div style="width:1%;min-width:5px;height:1px;float:left;"></div>

    <div style="float:left; width:29%;">
        <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.GraphByIntervalDate</div></div>
        <div class="bodyForm">
            <div class="inBodyForm" id="divIntervalDate">
                <div style="width: 100%; height: 385px; "><div id="pie" style=" width: 98%; height: 325px;"></div></div>
            </div>
        </div>
    </div>
</div>

<div style="clear:both;"></div>
<div id="resultFindSale" class="contentView">
</div>
<div id="pagerFindSale" style="margin:10px 0 0 0">
</div>

<script type="text/x-kendo-tmpl" id="Details-tpt">
    <div style="border:1px solid \\#c6c6c6; margin-bottom:10px;">
        <div style="display: inline-block; width:100%;">
            <div class="incidentHomeListBlock1 hasLayout" style="width: 75.5%; float: left; ">
                <div class="incidentHomeListHeader" style="width:100%;">
                    <div class="TitleOP" style="width:100%;">
                        <div class="TitleOPText" style="width:11%;">
                            <b>${COD_TYPE_DOCU_SALE} ${NUM_DOCU_SALE}</b>
                        </div>
                        <div class="TitleOPText2" style="width:15%;">
                            <b>${COM_NAME}</b>
                        </div>
                        <div class="TitleOPText" style="width:10%;">
                            <b>OS: </b> ${OS}
                        </div>
                        <div class="TitleOPText" style="width:11%;">
                            <b>@ResourceLanguaje.Resource.Date:</b> ${DAT_DOCU_SALE}
                        </div>
                        <div class="TitleOPText" style="width:17%;">
                            <b>@ResourceLanguaje.Resource.DateExpiration: </b> ${EXP_DATE}
                        </div>
                        <div class="TitleOPText2">
                            <b>@ResourceLanguaje.Resource.Vendor:</b> ${VENDOR}
                        </div>
                        # if (ID_STAT_DOCU_SALE != 1) { #
                        <div id="btnExpandTicketFind${ID_DOCU_SALE}" class="btnExpandTicket" onclick="ExecuteEffectTicketFind(${ID_DOCU_SALE})" title="View Tickets"></div>
                        # } #
                        <div id="btnExpandirFind${ID_DOCU_SALE}" class="btnExpand" onclick="ExecuteEffectFind(${ID_DOCU_SALE})" title="View Details OP"></div>
                        <div class="divAjax-Loading" style="display:none;" id="divLoadingFind${ID_DOCU_SALE}"></div>
                    </div>
                </div>
                <div class="OPDetails">
                    <a href="\\OrderForm/Details/${ID_DOCU_SALE}" target="_blank" style="cursor:pointer;" title="View Detail OP">
                        <div style="float: left; width: 47%; padding: 0 0.5% 2px 1%;">
                            <div style="float: left; width: 15%; text-align: center;"><b>@ResourceLanguaje.Resource.Client:</b></div>
                            <div style="float:left; width:84%; padding-left:1%;">
                                <div style="float: left; width: 100%; text-transform: capitalize;">${CIA}</div>
                                <div style="float:left; width:100%; color:\\#808080; text-transform:capitalize; font-size:12px;">${CIA_ADDR}</div>

                            </div>
                        </div>
                        <div style="float: left; width: 33%; padding: 0 0.5% 2px 1%; text-transform:capitalize;">
                            <b>@ResourceLanguaje.Resource.Contact:</b> ${NAM_CLIE_CONT}
                            <div style="float: left; width: 100%; color: \\#808080; text-transform: capitalize; font-size: 12px; ">${CLI_JOB_TITL}</div>
                        </div>
                    </a>
                    # if (ID_STAT_DOCU_SALE == 4 && NAM_FILE != '') { #
                    <div style="float: right; width: 15.5%; padding: 0 0.5% 0 0; text-transform:capitalize;">
                        <a href="/Adjuntos/Knowledge/${NAM_ATTA}" target="_blank" style="text-decoration:none;" title="@ResourceLanguaje.Resource.Download @ResourceLanguaje.Resource.ActConformity">
                            <b>@ResourceLanguaje.Resource.ActConformity &\\#8659;</b>
                            <div style="float: left; width: 91%; padding-left:3px; color: \\#808080;">${NAM_FILE}</div>
                            <div style="float: left; width: 91%; padding-left:3px; color: \\#808080;">@ResourceLanguaje.Resource.Date: ${DATE_ATTA}</div>
                        </a>
                    </div>
                    # } #
                </div>
                <div style="width: 91%; margin:0 0 10px 8%; height: 65px; overflow: auto; border:1px solid \\#eaeaea;">
                    #= SUM_DOCU_SALE #
                </div>
                <div class="OPContentDetails" id="effectFind${ID_DOCU_SALE}">

                </div>
                <div class="OPContentDetails" id="effectTicketFind${ID_DOCU_SALE}">

                </div>
            </div>
            <div style="width: 20%; float: right; text-align: right; ">
                <div style="margin: 5px 5px 5px 0; width: 150px; height: 22px;
                float: right; text-align:center; text-transform:capitalize; padding-top:3px; color:white; background-color:${COLOR};">
                    ${NAM_STAT_DOCU_SALE}
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var ID_STAT_DOCU_SALE = $("#ID_STAT_DOCU_SALE").kendoComboBox({
            dataTextField: "NAM_STAT_DOCU_SALE",
            dataValueField: "ID_STAT_DOCU_SALE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListStatusDocuSale?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        
        var ID_TYPE_DOCU_SALE = $("#ID_TYPE_DOCU_SALE").kendoComboBox({
            dataTextField: "COD_TYPE_DOCU_SALE",
            dataValueField: "ID_TYPE_DOCU_SALE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeDocumentSale/ListAll?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");


        var ID_ENTI = $("#ID_ENTI").kendoComboBox({
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListClients?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        ID_ENTI.list.width(300);

        var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
            autoBind: false,
            cascadeFrom: "ID_ENTI",
            dataTextField: "NAM_CONTACT",
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListContactByID_ENTI1?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_VEND = $("#ID_PERS_ENTI_VEND").kendoComboBox({
            dataTextField: "NAM_VENDOR",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListVendorAll?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_QUEU_FIND = $("#ID_QUEU_FIND").kendoComboBox({
            dataTextField: "QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%; height:35px; position:relative; ">' +
                        '<span><strong>${data.QUEU}</strong></span><br />' +
                        '<span style="font-size:.9em; position:absolute; top:15px;">${data.DES_QUEU}</span></div>',
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_ASSI_FIND = $("#ID_PERS_ENTI_ASSI_FIND").kendoComboBox({
            autoBind: false,
            index: 1,
            cascadeFrom: "ID_QUEU_FIND",
            dataTextField: "ASSI",
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
                                      '<div style="float:left;">${data.ASSI}</div>' +
                                      '<div style="float:right; ">(WL ${data.WorkLoad})</div>' +
                                  '</div>',
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                //type: "odata",
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AssigneByQueue?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#ID_CATE_FIND").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "NAM_CATE",
            dataValueField: "ID_CATE",
            template: '<div style="font-weight:bold;">${data.NAM_CATE_1}</div>' +
                        '<div style="margin-left:5px;" >  ${data.NAM_CATE_2} </div>' +
                        '<div style="margin-left:10px;">${data.NAM_CATE_3}</div>' +
                        '<div style="margin-left:15px;">${data.NAM_CATE_4}</div>',
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/List"
                }
            }
        }).data("kendoComboBox");
        var ID_CATE_FIND = $("#ID_CATE_FIND").data("kendoComboBox");
        ID_CATE_FIND.list.width(300);

        FindSales();
    });

    function FindSales() {
        var dataSource = null;
        var pager = null;

        $("#pagerFindSale").empty();
        $("#resultFindSale").empty();

        if ($("#resultFindSale").data("kendoListView")) {
            $("#pagerFindSale").data("kendoPager").destroy();
            $("#resultFindSale").data("kendoListView").destroy();
        }

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {                    
                    type: "GET",
                    dataType: "json",
                    url: "/Sales/FindSaleResult?var=" + Math.random() + "&" + $('#FrmSaleFind').serialize(),
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#resultFindSale").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#Details-tpt").html())
        });

        pager = $("#pagerFindSale").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 60],
            refresh: true
        });

        //AJAX PARA GRÁFICAS
        $.ajax({
            url: "/Sales/FindSaleResult?var=" + Math.random() + "&" + $('#FrmSaleFind').serialize() + "&skip=0&take=0",
            dataType: 'json',
            cache: false,
            async: true,
            success: function (json) {
                $('#pie').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: '@ResourceLanguaje.Resource.From '
                            + json['From'] + ' @ResourceLanguaje.Resource.To '
                            + json['To'] + '<br>@ResourceLanguaje.Resource.TotalClosed: ' + json['TTClosed']
                        },
                    credits: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: 'Percentage: <b>{point.percentage:.2f}%</b><br>Quantity: <b>{point.y}</b>',
                        percentageDecimals: 2
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            size: '55%',
                            showInLegend: true,
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                                distance: -10
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: json['Pie']
                    }]
                });           
            }        
        });

        return false;
    }

    var indFind = 0;
    function EffectExpandirTicketFind(id) {
        $("#effectTicketFind" + id).show('blind', function(){
            var txt = $("#effectTicketFind" + id).html();
            if(txt.length == 18 || txt.length == 0 && indFind == 1){ 
                $("#effectTicketFind" + id).empty();
                $("#effectTicketFind" + id).load("/Sales/ViewListTicket?id=" + id +"&var=" + Math.random(),function(){
                    $("#divLoadingFind"+ id).css("display","none");
                });
            }
            else{ $("#divLoadingFind"+ id).css("display","none"); }
        });
    }

    function EffectExpandirFind(id) {
        $("#effectFind" + id).show('blind', function(){
            var txt = $("#effectFind" + id).html();
            if(txt.length == 18 || txt.length == 0 && indFind == 0){ 
                $("#effectFind" + id).empty();
                $("#effectFind" + id).load("/Sales/ViewDetailArticleService?id=" + id +"&var=" + Math.random(),function(){
                    $("#divLoadingFind"+ id).css("display","none");
                });
            }
            else{ $("#divLoadingFind"+ id).css("display","none"); }
        });
    }

    function EffectContraerTicketFind(id, sw) {
        $("#effectTicketFind" + id).hide('blind', function(){
            //expandiendo los ticket despues de cerrar el detalle de la OP
            if(sw == 1){
                $("#effectFind" + id).empty();
                EffectExpandirFind(id);
            }
            else{ $("#divLoadingFind"+ id).css("display","none"); }
        });
    }

    function EffectContraerFind(id, sw) {
        $("#effectFind" + id).hide('blind', function(){
            //expandiendo los ticket despues de cerrar el detalle de la OP
            if(sw == 1){
                $("#effectFind" + id).empty();
                EffectExpandirTicketFind(id);
            }
            else{ $("#divLoadingFind"+ id).css("display","none"); }
        });
    }

    function ExecuteEffectFind(id) {
        
        if(indFind != 0){ $("#effectTicketFind" + id).empty(); }
        indFind = 0;
        $("#divLoadingFind"+ id).css("display","block");

        var className = $('#btnExpandirFind' + id).attr('class');         
        if(className=='btnExpand'){ //Solicita Expandir Detalle de OP
            var classNameT = $('#btnExpandTicketFind' + id).attr('class');
            if(classNameT == 'btnContractTicket'){ //Tickets expandidos
                EffectContraerTicketFind(id,1);
                $("#btnExpandTicketFind" + id).removeClass("btnContractTicket").addClass("btnExpandTicket");
            }
            else{
                EffectExpandirFind(id);
            }
            $("#btnExpandirFind" + id).removeClass("btnExpand").addClass("btnContract");       
        }
        else{ //Solicita Contraer Detalle de OP
            EffectContraerFind(id, 0);
            $("#btnExpandirFind" + id).removeClass("btnContract").addClass("btnExpand");                
        }
        return false;
    }

    function ExecuteEffectTicketFind(id){
        if(indFind != 1){ $("#effectTicketFind" + id).empty(); }
        indFind = 1;
        $("#divLoadingFind"+ id).css("display","block");

        var classNameT = $('#btnExpandTicketFind' + id).attr('class');
        if(classNameT == 'btnExpandTicket'){ //Solicita expandir los tickets
            var className = $('#btnExpandirFind' + id).attr('class');
            if(className!='btnExpand'){ //Detalle de OP expandido
                EffectContraerFind(id, 1);
                $("#btnExpandirFind" + id).removeClass("btnContract").addClass("btnExpand");
            }
            else{
                EffectExpandirTicketFind(id);
            }
            $("#btnExpandTicketFind" + id).removeClass("btnExpandTicket").addClass("btnContractTicket");
        }
        else{//Solicita contraer los tickets
            EffectContraerTicketFind(id,0);
            $("#btnExpandTicketFind" + id).removeClass("btnContractTicket").addClass("btnExpandTicket");
        }
    }
</script>
