@{
    Layout = null;
}

<div id="divContent">
    <h1>Order Form</h1>
    <div id="ticketsByStatus">

        <div class="ticketByStatusP4_1">
            <div id="Stat1" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus1">
                    <div id="boxOPEN" class="boxQty">@ViewBag.POpen</div>
                    <div id="letrasStat1" class="letras letrasActive">
                        <div>@ResourceLanguaje.Resource.Open<br /><div id="boxTOPEN">@ResourceLanguaje.Resource.TotalAccount: @ViewBag.TTOpen</div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat1" class="tab-active-marks2"></div>
                </div>
            </div>
        </div>

        <div class="ticketByStatusP4_1">
            <div id="Stat2" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus2">
                    <div id="boxASSIGNED" class="boxQty">@ViewBag.PAssigned</div>
                    <div id="letrasStat2" class="letras">
                        <div>@ResourceLanguaje.Resource.Assigned<br /><div id="boxTASSIGNED">@ResourceLanguaje.Resource.TotalAccount: @ViewBag.TTAssigned</div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat2"></div>
                </div>
            </div>
        </div>

        <div class="ticketByStatusP4_1">
            <div id="Stat3" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus3">
                    <div id="boxRESOLVED" class="boxQty">@ViewBag.PResolved</div>
                    <div id="letrasStat3" class="letras">
                        <div>@ResourceLanguaje.Resource.Resolved<br /><div id="boxTRESOLVED">@ResourceLanguaje.Resource.TotalAccount: @ViewBag.TTResolved</div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat3"></div>
                </div>
            </div>
        </div>

        <div class="ticketByStatusP4_1">
            <div id="Stat4" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus4">
                    <div id="boxCLOSED" class="boxQty">@ViewBag.PClosed</div>
                    <div id="letrasStat4" class="letras">
                        <div>@ResourceLanguaje.Resource.Closed<br /><div id="boxTCLOSED">@ResourceLanguaje.Resource.TotalAccount: @ViewBag.TTClosed</div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat4"></div>
                </div>
            </div>
        </div>

        </div>

    <div id="gridOPs" class="contentView">
    </div>

    <div id="pagerOPs" class="contentViewPager">
    </div>
</div>

<script type="text/x-kendo-tmpl" id="template">
    <div style="border:1px solid \\#c6c6c6; margin-bottom:10px;">
        <div style="display: inline-block; width:100%;">
            <div class="incidentHomeListBlock1 hasLayout" style="width: 75.5%; float: left; ">
                <div class="incidentHomeListHeader" style="width:100%;">
                    <div class="TitleOP" style="width:100%;">
                        <div class="TitleOPText" style="width:11%;">
                            <b>${COD_TYPE_DOCU_SALE} ${NUM_DOCU_SALE}</b>
                        </div>
                        <div class="TitleOPText2" style="width:15%;">
                            <b>${COM_NAME}</b>
                        </div>
                        <div class="TitleOPText" style="width:10%;">
                            <b>OS: </b> ${OS}
                        </div>
                        <div class="TitleOPText" style="width:11%;">
                            <b>@ResourceLanguaje.Resource.Date:</b> ${DAT_DOCU_SALE}
                        </div>
                        <div class="TitleOPText" style="width:17%;">
                            <b>@ResourceLanguaje.Resource.DateExpiration: </b> ${EXP_DATE}
                        </div>
                        <div class="TitleOPText2">
                            <b>@ResourceLanguaje.Resource.Vendor:</b> ${VENDOR}
                        </div>
                        # if (ID_STAT_DOCU_SALE != 1) { #
                        <div id="btnExpandTicket${ID_DOCU_SALE}" class="btnExpandTicket" onclick="ExecuteEffectTicket(${ID_DOCU_SALE})" title="View Tickets"></div>
                        # } #
                        <div id="btnExpandir${ID_DOCU_SALE}" class="btnExpand" onclick="ExecuteEffect(${ID_DOCU_SALE})" title="View Details OP"></div>
                        <div class="divAjax-Loading" style="display:none;" id="divLoading${ID_DOCU_SALE}"></div>
                    </div>
                </div>
                <div class="OPDetails">
                    <a href="\\DocumentSaleActivity/Index/${ID_DOCU_SALE}" target="_blank" style="cursor:pointer;" title="View Detail OP">
                        <div style="float: left; width: 47%; padding: 0 0.5% 2px 1%; ">
                            <div style="float: left; width: 15%; text-align: center;"><b>@ResourceLanguaje.Resource.Client:</b></div>
                            <div style="float:left; width:84%; padding-left:1%;">
                                <div style="float: left; width: 100%; text-transform: capitalize;">${CIA}</div>
                                <div style="float:left; width:100%; color:\\#808080; text-transform:capitalize; font-size:12px;">${CIA_ADDR}</div>

                            </div>
                        </div>
                        <div style="float: left; width: 33%; padding: 0 0.5% 2px 1%; text-transform: capitalize; ">
                            <b>@ResourceLanguaje.Resource.Contact:</b> ${NAM_CLIE_CONT}
                            <div style="float: left; width: 100%; color: \\#808080; text-transform: capitalize; font-size: 12px; ">${CLI_JOB_TITL}</div>

                        </div>
                    </a>
                    # if (ID_STAT_DOCU_SALE == 4 && NAM_FILE != '') { #
                    <div style="float: right; width: 15.5%; padding: 0 0.5% 0 0; text-transform:capitalize;">
                        <a href="/Adjuntos/Knowledge/${NAM_ATTA}" target="_blank" style="text-decoration:none;" title="@ResourceLanguaje.Resource.Download @ResourceLanguaje.Resource.ActConformity">
                            <b>@ResourceLanguaje.Resource.ActConformity &\\#8659;</b>
                            <div style="float: left; width: 91%; padding-left:3px; color: \\#808080;">${NAM_FILE}</div>
                            <div style="float: left; width: 91%; padding-left:3px; color: \\#808080;">@ResourceLanguaje.Resource.Date: ${DATE_ATTA}</div>
                        </a>
                    </div>
                    # } #

                </div>
                <div style="width: 91%; margin:0 0 10px 8%; height: 65px; overflow: auto; border:1px solid \\#eaeaea;">
                    #= SUM_DOCU_SALE #
                </div>
                <div class="OPContentDetails" id="effect${ID_DOCU_SALE}">

                </div>
                <div class="OPContentDetails" id="effectTicket${ID_DOCU_SALE}">

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var ind = 0;
    var idTck = 0;
    $(document).ready(function () {

        $("#effect").hide();

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Sales/List?var=" + Math.random(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        q: "#kendoui",
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerOPs").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 65],
            refresh: true
        });

        $("#gridOPs").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });

        //setTimeout("UpdateBarStatusOP();", 240000);
    });

    function ViewDetailOP(){
        alert('ok');
    }

    function ReloadDetailsOPFind(id) {
        $("#divLoadingFind"+ id).css("display","block");
        $("#effectFind" + id).hide('blind', function(){
            $("#effectFind" + id).empty();
            //expandiendo nuevamente el detalle de la OP
            $("#effectFind" + id).show('blind', function(){                
                $("#effectFind" + id).load("/Sales/ViewDetailArticleService?id=" + id +"&var=" + Math.random(),function(){
                    $("#divLoadingFind"+ id).css("display","none");
                });
            });
        });
    }

    function ReloadDetailsOP(id) {
        $("#divLoading"+ id).css("display","block");
        $("#effect" + id).hide('blind', function(){
            $("#effect" + id).empty();
            //expandiendo nuevamente el detalle de la OP
            $("#effect" + id).show('blind', function(){                
                $("#effect" + id).load("/Sales/ViewDetailArticleService?id=" + id +"&var=" + Math.random(),function(){
                    $("#divLoading"+ id).css("display","none");
                });
            });
        });
    }

    function EffectExpandirTicket(id) {
        $("#effectTicket" + id).show('blind', function(){
            var txt = $("#effectTicket" + id).html();
            if(txt.length == 14 || txt.length == 18 || txt.length == 0 && ind == 1){ 
                $("#effectTicket" + id).empty();
                $("#effectTicket" + id).load("/Sales/ViewListTicket?id=" + id +"&var=" + Math.random(),function(){
                    $("#divLoading"+ id).css("display","none");
                });
            }
            else{ $("#divLoading"+ id).css("display","none"); }
        });
    }

    function EffectExpandir(id) {
        $("#effect" + id).show('blind', function(){
            var txt = $("#effect" + id).html();
            if(txt.length == 14 || txt.length == 18 || txt.length == 0 && ind == 0){ 
                $("#effect" + id).empty();
                $("#effect" + id).load("/Sales/ViewDetailArticleService?id=" + id +"&var=" + Math.random(),function(){
                    $("#divLoading"+ id).css("display","none");
                });
            }
            else{ $("#divLoading"+ id).css("display","none"); }
        });
    }

    function EffectContraerTicket(id, sw) {
        $("#effectTicket" + id).hide('blind', function(){
            //expandiendo los ticket despues de cerrar el detalle de la OP
            if(sw == 1){
                $("#effect" + id).empty();
                EffectExpandir(id);
            }
            else{ $("#divLoading"+ id).css("display","none"); }
        });
    }

    function EffectContraer(id, sw) {
        $("#effect" + id).hide('blind', function(){
            //expandiendo los ticket despues de cerrar el detalle de la OP
            if(sw == 1){
                $("#effect" + id).empty();
                EffectExpandirTicket(id);
            }
            else{ $("#divLoading"+ id).css("display","none"); }
        });
    }

    function ExecuteEffect(id) {
        if(ind != 0){ $("#effectTicket" + id).empty(); }
        ind = 0;
        $("#divLoading"+ id).css("display","block");

        var className = $('#btnExpandir' + id).attr('class');        
        if(className=='btnExpand'){ //Solicita Expandir Detalle de OP
            var classNameT = $('#btnExpandTicket' + id).attr('class');
            if(classNameT == 'btnContractTicket'){ //Tickets expandidos
                EffectContraerTicket(id,1);
                $("#btnExpandTicket" + id).removeClass("btnContractTicket").addClass("btnExpandTicket");
            }
            else{
                EffectExpandir(id);
            }
            $("#btnExpandir" + id).removeClass("btnExpand").addClass("btnContract");       
        }
        else{ //Solicita Contraer Detalle de OP
            EffectContraer(id, 0);
            $("#btnExpandir" + id).removeClass("btnContract").addClass("btnExpand");                
        }
        return false;
    }

    function ExecuteEffectTicket(id){
        if(ind != 1){ $("#effectTicket" + id).empty(); }
        ind = 1;
        $("#divLoading"+ id).css("display","block");

        var classNameT = $('#btnExpandTicket' + id).attr('class');
        if(classNameT == 'btnExpandTicket'){ //Solicita expandir los tickets
            var className = $('#btnExpandir' + id).attr('class');
            if(className!='btnExpand'){ //Detalle de OP expandido
                EffectContraer(id, 1);
                $("#btnExpandir" + id).removeClass("btnContract").addClass("btnExpand");
            }
            else{
                EffectExpandirTicket(id);
            }
            $("#btnExpandTicket" + id).removeClass("btnExpandTicket").addClass("btnContractTicket");
        }
        else{//Solicita contraer los tickets
            EffectContraerTicket(id,0);
            $("#btnExpandTicket" + id).removeClass("btnContractTicket").addClass("btnExpandTicket");
        }
    }

    var bandera = 0;
    function Click(parm) {

        for (var i = 1; i < 5; i++) {
            $("#Stat" + i).removeClass("tab-active");
            $("#StatusSelectStat" + i).removeClass("tab-active-marks2");  //letrashom
            $("#letrasStat" + i).removeClass("letrasActive");
        }
        $("#" + parm.id).addClass("tab-active");
        $("#StatusSelect" + parm.id).addClass("tab-active-marks2");
        $("#letras" + parm.id).addClass("letrasActive");

        if (parm.id == "Stat1") {
            bandera = 1;
        }
        else if (parm.id == "Stat2") {
            bandera = 2;
        }
        else if (parm.id == "Stat3") {
            bandera = 3;
        }
        else if (parm.id == "Stat4") {
            bandera = 4;
        }

        var listView = $("#gridOPs").data("kendoListView");
        listView.dataSource.filter({ field: "Status", operator: "eq", value: bandera });
    }

    function NewSale() {
        $("#divContent").empty();
        $("#divContent").load("/Sales/NewSale?var=" + Math.random());
    }

    
    function Assign(id,proc) {
        var htmlForm = '<div id="FormAssigned"></div>';
        winFormPopUpModal2("@ResourceLanguaje.Resource.Assignee", htmlForm, 730, 430);
        $("#FormAssigned").load("/Sales/ViewAssignee?var=" + Math.random() + "&id=" + id + "&id1=" + proc);

    }
    function ActConformity(id,proc){
        var htmlForm = '<div id="FormActConf"></div>';
        winFormPopUpModal2("@ResourceLanguaje.Resource.ActConformity", htmlForm, 400, 200);
        $("#FormActConf").load("/Sales/ViewActConformity?var=" + Math.random() + "&id=" + id + "&id1=" + proc);  
    }

    function UpdateBarStatusOP() {
        //if(bandera ==0 || bandera == 1)
        //{
        $.ajax({
            url: '/Sales/UpdateBarStatusOP?var=' + Math.random(),
            dataType: 'json',
            cache: false,
            async: true,
            success: function (jsonx) {

                var active = 0, activeT = 0;
                $.each(jsonx['Data'], function (index, value) {
                    $("#box" + value['NAM_STAT_DOCU_SALE']).html(value['OPs']);
                    $("#boxT" + value['NAM_STAT_DOCU_SALE']).html("@ResourceLanguaje.Resource.TotalAccount: " + value['Total']);
                });

                var listViewd = $("#gridOPs").data("kendoListView");
                listViewd.dataSource.page(listViewd.dataSource.page());
            }
        });        
        //}

        myVarOP = setTimeout("UpdateBarStatusOP();", 240000);
        ind = 0;
    }
</script>

<script type="text/javascript">
    function uploadDone(msg, title, msn) {
        if(msg == 'OK_ASSI'){
            closeWinModalPopUpLoad();

            winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.SaleMsn01</div>"
           + "<div>Ticket Code: " + msn + "</div>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
           "</div></div>"
             , 400, 160);

            var undo = $("#continues")
            .bind("click", function () {
                closeWinModalPopUp();
                closeWinFormModalPopUp2();
            });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
                closeWinFormModalPopUp2();
            });

            if(title == 'Find'){
                FindSales();
            }
            else{
                clearTimeout(myVarOP);
                UpdateBarStatusOP();
            }
        }
        else if(msg == 'OK_WARR'){
            closeWinModalPopUpLoad();

            winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.SaleMsn02</div>" +
            "<div></div>" +
            "<div style='float:right; padding:30px 0px 0px 0px;'>" +
            "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
            "</div></div>", 400, 140);

            var undo = $("#continues")
            .bind("click", function () {
                closeWinModalPopUp();
                closeWinFormModalPopUp2();
            });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
                closeWinFormModalPopUp2();
            });

            if(msn == 'Find'){
                ReloadDetailsOPFind(title);
            }
            else{
                ReloadDetailsOP(title);
            }
        }
        else if(msg == 'OK_ACTCONF'){
            closeWinModalPopUpLoad();

            winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.SaleMsn05</div>" +
            "<div></div>" +
            "<div style='float:right; padding:30px 0px 0px 0px;'>" +
            "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
            "</div></div>", 400, 140);

            var undo = $("#continues")
            .bind("click", function () {
                closeWinModalPopUp();
                closeWinFormModalPopUp2();
            });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
                closeWinFormModalPopUp2();
            });

            if(cdg == 'Find'){
                FindSales();
            }
            else{
                clearTimeout(myVarOP);
                UpdateBarStatusOP();
            }
        }
        else {
            closeWinModalPopUpLoad();

            @*var title = '';
            var message = cdg;
            if (code == '0') { //Falta Información
                title = '@ResourceLanguaje.Resource.InformationMissing';
                message = '@ResourceLanguaje.Resource.InformationMissingMsn';
            }
            else if (code == '1') {//Problemas en la BD
                title = '@ResourceLanguaje.Resource.BasedDrawback';
                message = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }
            else if (code == '2') { //Fechas Incorrectas
                title = '@ResourceLanguaje.Resource.WrongDates';
                message = '@ResourceLanguaje.Resource.WrongDatesMsn';
            }
            else if (code == '3') { //Falta adjuntar el archivo
                title = '@ResourceLanguaje.Resource.InformationMissing';
                message = '@ResourceLanguaje.Resource.AttachMsn';
            }
            else if (code == '4') { //NO existe registro del mes y año seleccionado (Table: ACCOUNTING_MONTH)
                title = '@ResourceLanguaje.Resource.InformationMissing';
                message = '@ResourceLanguaje.Resource.SalesMsn04';
            }
            else if (code == '5') { //Mensaje enviado desde el controlador
                title = '@ResourceLanguaje.Resource.InformationMissing';
                message = cdg;
            }*@

            winPopUpModal(title, "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
               "<div style='padding:10px 0px 10px 0px;'>" + msn + "</div>" +
                   "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                   "<button id='continuee' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                   "</div></div>"
                   , 400, 140);

            var undo = $("#continuee")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }
</script>