@model ERPElectrodata.Models.DOCUMENT_SALE

@{
    Layout = null;
}
<style type="text/css">
    .HeaderDetailOP {
        /*-moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;*/
        width: 99.8%;
        height: 20px;
        background-color: #f2f2f2;
        border: 1px solid #b0b0b0;
        /*margin-top: 7px;*/
    }
    .RowHeaderDetailOP {
        float: left;
        height: 100%;
        text-align: center;
        border-right: 1px solid #b0b0b0;
    }

    .RowEndHeaderDetailOP {
        float: left;
        height: 100%;
        text-align: center;
    }
    .btnAddDetail {
        display: block;
        float: right;
        background-image: url('../Content/Images/addOutHand.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        cursor: pointer;
        margin: 3px 5px 0 0;
    }

    div.btnAddDetail:hover {
        background-image: url('../Content/Images/addInHand.png');
        background-repeat: no-repeat;
    }

    .ContentDetailOP {
        display: inline-block;
        width: 99.8%;
        height: 100%;
        /*background-color: white;*/
        border-left: 1px solid #b0b0b0;
        border-right: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
        /*-moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;*/
    }
    .RowContentDetailOP {
        float: left;
        padding-bottom: 5px;
        text-align: center;
        border-right: 1px solid #b0b0b0;
        display: inline-block;
        height: 100%;
        font-size: .95em;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    }

    .RowEndContentDetailOP {
        float: left;
        padding-bottom: 5px;
        padding-left: 1%;
        text-align: justify;
        height: 100%;
        font-size: .95em;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    }
    .FooterOP {
        width: 99.8%;
        height: 20px;
        background-color: #f2f2f2;
        border: 1px solid #b0b0b0;
    }
    .FooterDetailOP {
        width: 99.8%;
        height: 20px;
        background-color: #f2f2f2;
        border-left: 1px solid #b0b0b0;
        border-right: 1px solid #b0b0b0;
        border-bottom: 1px solid #b0b0b0;
    }
    .RowFooterDetailOP {
        float: right;
        height: 100%;
        text-align: right;
        border-right: 1px solid #b0b0b0;
        padding-right: 1%;
        width: 20%;
    }
    .RowEndFooterDetailOP {
        float: right;
        height: 100%;
        text-align: right;
        background-color: #ffffff;
        padding-right: 1%;
        width: 11.3%;
    }
</style>
<div class="afterMain">
@using (Html.BeginForm("Create", "Sales", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSales", name = "FrmSales", target = "ut_sales" }))
{
    <div style="float:left;width:60%">
        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.NewSale</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm">
                    <fieldset>
                        <legend>SALES</legend>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Code
                                </div>
                                <div class="k-textbox">
                                    @Html.TextBoxFor(model => model.NUM_DOCU_SALE)
                                    @Html.ValidationMessageFor(model => model.NUM_DOCU_SALE)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Date
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.DAT_DOCU_SALE)
                                    @Html.ValidationMessageFor(model => model.DAT_DOCU_SALE)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Status
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_STAT_DOCU_SALE)
                                    @Html.ValidationMessageFor(model => model.ID_STAT_DOCU_SALE)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Client
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ID_ENTI" id="ID_ENTI" value=" " />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Attention
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_PERS_ENTI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Vendor
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_PERS_ENTI_VEND)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_VEND)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Money
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.MONEY)
                                    @Html.ValidationMessageFor(model => model.MONEY)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Queue
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_QUEU)
                                    @Html.ValidationMessageFor(model => model.ID_QUEU)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.AssignedTo
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_PERS_ENTI_ASSI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_ASSI)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Category
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ID_CATE" id="ID_CATE" />
                                </div>
                            </div>
                        </div>
                    </fieldset>                
            </div>
        </div>
    </div>
    <div style="height: 15px; min-height: 15px; width: 100%; float: left;"></div>
    <div style="float:left;width:60%">
        <div class="titleForm">
            <div class="title">
                @ResourceLanguaje.Resource.DetailSale
                <div id="btnAddDetail" class="btnAddDetail" title="@ResourceLanguaje.Resource.Add"></div>
            </div>
        </div>
        <div class="bodyForm">
            <div>
                <div class="HeaderDetailOP">
                    <div class="RowHeaderDetailOP" style="width: 5%;">Item</div>
                    <div class="RowHeaderDetailOP" style="width: 16%;">@ResourceLanguaje.Resource.Code</div>
                    <div class="RowHeaderDetailOP" style="width: 45%;">@ResourceLanguaje.Resource.ProductService</div>
                    <div class="RowHeaderDetailOP" style="width: 9%;">@ResourceLanguaje.Resource.QuantityCut</div>
                    <div class="RowHeaderDetailOP" style="width: 12%;">@ResourceLanguaje.Resource.UnitPrice</div>
                    <div class="RowEndHeaderDetailOP" style="width: 12%;">Total</div>
                </div>
                <div class="ContentDetailOP" id="divContentDetailOP">
                    <input type="hidden" name="ctdHD" id="ctdHD" value="0" />
                    <input type="hidden" name="idsHD" id="idsHD" value="0" />
                    <input type="hidden" name="ListIdsHD" id="ListIdsHD" value="" />
                </div>
                <div class="FooterOP">
                    <div class="RowEndFooterDetailOP" id="divValVVta">0.00</div>
                    <div class="RowFooterDetailOP" id="divVVta"></div>
                </div>
                <div class="FooterDetailOP">
                    <div class="RowEndFooterDetailOP" id="divValIGV">0.00</div>
                    <div class="RowFooterDetailOP" id="divIGV"></div>
                </div>
                <div class="FooterDetailOP">
                    <div class="RowEndFooterDetailOP" id="divValTotal">0.00</div>
                    <div class="RowFooterDetailOP" id="divTotal"></div>
                </div>
                <div class="divFondoUno">
                    <div style="display:inline-block; float:right; padding:7px 10px 5px 0px;">
                        <div style=" float:left; padding:0px 12px 0px 0px; ">
                            <button id="btnSaveOP" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
                        </div>
                        <button id="resetOP" class="k-button" onclick="cancelOP(); return false;">@ResourceLanguaje.Resource.BtnCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}    
<iframe id="ut_sales" name="ut_sales" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>
</div>

<script type="text/javascript">
    var DAT_DOCU_SALE = $("#DAT_DOCU_SALE").kendoDateTimePicker().data("kendoDateTimePicker");

    function cancelOP() {
        location.reload(true);
        return false;
    }

    $(document).ready(function () {

        $("#btnSaveOP").click(function () {
            winPopUpModalLoad('@ResourceLanguaje.Resource.Saving @ResourceLanguaje.Resource.Profile', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
        });

        var ID_STAT_DOCU_SALE = $("#ID_STAT_DOCU_SALE").kendoComboBox({
            index: 1,
            dataTextField: "NAM_STAT_DOCU_SALE",
            dataValueField: "ID_STAT_DOCU_SALE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListStatusDocuSale?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_ENTI = $("#ID_ENTI").kendoComboBox({
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListClients?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        ID_ENTI.list.width(300);

        var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
            autoBind: false,
            cascadeFrom: "ID_ENTI",
            dataTextField: "NAM_CONTACT",
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListContactByID_ENTI1?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_PERS_ENTI.bind("dataBound", function (e) {
            $("#divJobTitle").html('-');
        });

        ID_PERS_ENTI.bind("change", function (e) {
            $("#divJobTitle").html(ID_PERS_ENTI.dataItem().NAM_CARG);
        });

        var ID_PERS_ENTI_VEND = $("#ID_PERS_ENTI_VEND").kendoComboBox({
            dataTextField: "NAM_VENDOR",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListVendor?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_QUEU = $("#ID_QUEU").kendoComboBox({
            dataTextField: "QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_ASSI = $("#ID_PERS_ENTI_ASSI").kendoComboBox({
            autoBind: false,
            index: 1,
            cascadeFrom: "ID_QUEU",
            dataTextField: "ASSI",
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
                                      '<div style="float:left;">${data.ASSI}</div>' +
                                      '<div style="float:right; ">(WL ${data.WorkLoad})</div>' +
                                  '</div>',
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                //type: "odata",
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AssigneByQueue?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var currency = [{ text: "S/.", value: "S/." }, { text: "US$", value: "US$" }];
        var MONEY = $("#MONEY").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,
            dataSource: currency,
            index: 0
        }).data("kendoComboBox");

        $("#ID_CATE").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "NAM_CATE",
            dataValueField: "ID_CATE",
            template: '<div style="font-weight:bold;">${data.NAM_CATE_1}</div>' +
                        '<div style="margin-left:5px;" >  ${data.NAM_CATE_2} </div>' +
                        '<div style="margin-left:10px;">${data.NAM_CATE_3}</div>' +
                        '<div style="margin-left:15px;">${data.NAM_CATE_4}</div>',
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/List"
                }
            }
        }).data("kendoComboBox");
        var ID_CATE = $("#ID_CATE").data("kendoComboBox");
        ID_CATE.list.width(300);

        MONEY.bind("change", function (e) {
            mon = $("#MONEY").val();
            $("#divVVta").html("@ResourceLanguaje.Resource.SaleValue  " + mon);
            $("#divIGV").html("IGV ( 18 % )  " + mon);
            $("#divTotal").html("Total  " + mon);
        });

        mon = $("#MONEY").val();
        $("#divVVta").html("@ResourceLanguaje.Resource.SaleValue  " + mon);
        $("#divIGV").html("IGV ( 18 % )  " + mon);
        $("#divTotal").html("Total  " + mon);
    });

    $("#btnAddDetail").click(function (event) {
        event.preventDefault();

        var htmlForm = '<div id="FormAddDetail"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.AddProductService", htmlForm, 725, 550);
        $("#FormAddDetail").load("/Sales/ViewAddDetail?var=" + Math.random());
    });

    function uploadDone(msg, code) {
        closeWinModalPopUpLoad();

        if (msg == "OK") {            
            winPopUpModal("Information Saved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.OPMsn</div>"
           + "<div></div>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continue</button>" +
           "</div></div>"
             , 400, 140);

            var undo = $("#continues")
            .bind("click", function () {
                closeWinModalPopUp();
                location.reload(true);
            });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
                location.reload(true);
            });
        }
        else if (msg == "ERROR") {

            var titulo = '';
            var mensaje = '';
            if (code == '0') {
                titulo = '@ResourceLanguaje.Resource.InformationMissing';
                mensaje = '@ResourceLanguaje.Resource.InformationMissingMsn';
            }
            else if (code == '1') {
                titulo = '@ResourceLanguaje.Resource.BasedDrawback';
                mensaje = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }
            else if (code == '2') {
                titulo = '@ResourceLanguaje.Resource.OPError1Title';
                mensaje = '@ResourceLanguaje.Resource.OPError1Msn';
            }

            winPopUpModal(titulo, "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
               "<div style='padding:10px 0px 10px 0px;'>" + mensaje + "</div>" +
                   "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                   "<button id='continuee' class='k-button'>Continue</button>" +
                   "</div></div>", 400, 140);

            var undo = $("#continuee")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }

</script>
