@{
    Layout = null;
}

@using (Html.BeginForm("SaveSerie", "Sales", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSerie", name = "FrmSerie", target = "ut_Serie" }))
{
    <input type="hidden" name="ID_DETA_DOCU_SALE" id="ID_DETA_DOCU_SALE" value="@ViewBag.ID_DETA_DOCU_SALE" />
    <input type="hidden" name="ID_DOCU_SALE" id="ID_DOCU_SALE" value="@ViewBag.ID_DOCU_SALE" />
    <div class="divFondoUno">
        <div class="divSpace2"></div>
        <div class="divCont2">
            <div class="editor-label">

            </div>
            <div class="editor-field">
                <input type="checkbox" id="OPT4" name="OPT4" style="cursor:pointer;" />&nbsp;@ResourceLanguaje.Resource.Delete Serie
            </div>
        </div>
    </div>
    <div class="divFondoDos" id="divSerie">
        <div class="divSpace2"></div>
        <div class="divCont2">
            <div class="editor-label">
                Serie
            </div>
            <div class="k-textbox">
                <input type="text" id="Serie" name="Serie" />
            </div>
        </div>
    </div>
    <div style="display:inline-block; float:right; padding:15px 15px 15px 5px;">
        <div style=" float:left; padding:0px 15px 0px 0px; ">
            <button id="submit" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
        </div>
        <button id="reset" class="k-button">@ResourceLanguaje.Resource.BtnCancel</button>
    </div>
}
<iframe id="ut_Serie" name="ut_Serie" src="" class="frameHidden"></iframe>

<script type="text/javascript">

    $("#submit").click(function () {
        winPopUpModalLoad("@ResourceLanguaje.Resource.SaleMsn04", "@ResourceLanguaje.Resource.PleaseWait", 300, 130);
    });

    $("#reset").click(function (event) {
        event.preventDefault();
        closeWinFormModalPopUp2();
    });

    $(document).ready(function () {
        $('#OPT4').click(function () {
            if ($("#OPT4").is(':checked')) {
                $('#divSerie').css("display", "none");
            } else {
                $('#divSerie').css("display", "inline-block");
            }
        });

    });
</script>