@{
    Layout = null;
}
<style type="text/css">
    .MarcoContent2 {
        width: 90.7%;
        height: 100%;
        float: left;
    }
    .ContentClick2 {
        width: 100%;
        height: 100%;
        float: left;
        font-size: .95em;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .HeaderDetailOP2 {
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: 20px;
        background-color: black;
        border: 1px solid black;
        color: white;
        text-transform: capitalize;
    }
    .ContentDetailOP2 {
        width: 100%;
        height: 80px;
        color: black;
        border-bottom: 1px dotted black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        padding: 5px 0 2px 0;
        text-transform: capitalize;        
    }
    .FooterDetailOP2 {
        width: 100%;
        height: 20px;
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 1px solid black;        
        text-transform: capitalize;                      
    }
</style>

<div style="width:99%; display:inline-block;">
    <div style="width:8.8%;height:100%;float:left;">&nbsp;</div>
    <div class="MarcoContent2" id="divTicket_@ViewBag.ID_DOCU_SALE">
    </div>
</div>

<script type="text/javascript">
    var data;
    $(document).ready(function () {
        $.ajax({
            url: "/Sales/ListTicketsByOP/@ViewBag.ID_DOCU_SALE",
            data: "var=" + Math.random(),
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                showContentTickets();
            },
            error: function (source) {
                alert("ERROR");
            }
        });
    });

    function showContentTickets() {
        $.each(data['Data'], function (index, value) {
            $("#divTicket_@ViewBag.ID_DOCU_SALE").append(
                    '<a href="DetailsTicket/Index/' + (data['Data'][index]['ID_TICK']) + '" TARGET=\'_BLANK\' onmouseover="onMouseOverTickets(' + (data['Data'][index]['ID_TICK']) + ')" onmouseout="onMouseOutTickets(' + (data['Data'][index]['ID_TICK']) + ')">' +
                    '<div id="ContentClick_' + (data['Data'][index]['ID_TICK']) + '" class="ContentClick2">' +
                        '<div class="HeaderDetailOP2">' +
                            '<div style="float:left; width:24%; padding-left:1%; text-transform: capitalize;">@ResourceLanguaje.Resource.Status: ' + (data['Data'][index]['NAM_STAT']) + '</div>' +
                            '<div style="float:left; width:25%;">@ResourceLanguaje.Resource.Created: ' + (data['Data'][index]['CREATE_TICK']) + '</div>' +
                            '<div style="float:left; width:25%;">@ResourceLanguaje.Resource.ModifiedDate: ' + (data['Data'][index]['MODIFIED_TICK']) + '</div>' +
                            '<div style="float:left; width:25%;">' + (data['Data'][index]['NAM_CATE']) + '</div>' +
                        '</div>' +
                        '<div class="ContentDetailOP2">' +
                            '<div style="float: left; width: 100%; padding-left: 1%; height:55px; margin-bottom:5px; position:relative;"><b>@ResourceLanguaje.Resource.Summary</b>' +
                                '<div style="position: absolute; right:20px; top:0px; text-transform: capitalize;">' + (data['Data'][index]['NAM_SUBCATE']) + ' - ' + (data['Data'][index]['NAM_CLASS']) + ' - ' + (data['Data'][index]['NAM_SUBCLASS']) + '</div>' +
                                '<div style="width: 98%; height:100%; overflow: auto; border: 1px solid #ddd;">' + (data['Data'][index]['SUM_TICK']) + '</div>' +
                            '</div>' +
                        '</div>' +
                        '<div class="FooterDetailOP2">' +
                            '<div style="float:left; width:24%; padding-left:1%; text-transform: capitalize;">' + (data['Data'][index]['NAM_TYPE_TICK']) + ' # ' + (data['Data'][index]['COD_TICK']) + '</div>' +
                            '<div style="float:left; width:25%; text-transform: capitalize;">@ResourceLanguaje.Resource.CreatedBy: ' + (data['Data'][index]['NAM_REQU']) + '</div>' +
                            '<div style="float:left; width:50%; text-transform: capitalize;">@ResourceLanguaje.Resource.AssignedTo: ' + (data['Data'][index]['NAM_ASSI']) + '</div>' +
                        '</div>' +
                    '</div></a>'
                );
        });
    }

    function onMouseOverTickets(ide) {
        //$("#ContentClick_" + ide).css("background-color", "#fcfeff");
        $("#ContentClick_" + ide).css("background", "-moz-linear-gradient(top, #ffffff 90%, #77bbff 100%)");
        $("#ContentClick_" + ide).css("background-image", "-ms-linear-gradient(top, #ffffff 90%, #77bbff 100%)");
        $("#ContentClick_" + ide).css("background-image", "-webkit-gradient(linear, left top, left bottom, color-stop(90%, #ffffff), color-stop(100%, #77bbff))");
        $("#ContentClick_" + ide).css("background-image", "-o-linear-gradient(top, #ffffff, #77bbff)");
    }

    function onMouseOutTickets(ide) {
        //$("#ContentClick_" + ide).css("background-color", "#ffffff");        
        $("#ContentClick_" + ide).css("background-image", "-moz-linear-gradient(top, #ffffff, #ffffff)");
        $("#ContentClick_" + ide).css("background-image", "-ms-linear-gradient(top, #ffffff, #ffffff)");
        $("#ContentClick_" + ide).css("background-image", "-webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ffffff))");
        $("#ContentClick_" + ide).css("background-image", "-o-linear-gradient(top, #ffffff, #ffffff)");
    }
</script>