@model ERPElectrodata.Models.KNOWLEDGE

@{
    //Layout = null;
    ViewBag.Title = @ResourceLanguaje.Resource.Knowledge;
    Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
}
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<style>
    .k-icon{
        padding:18px
    }
</style>
@*<nav id="navMenu">
        <ul>
            <li id="liOUTs"><a href="#" onclick="LoadKnowledge(97)" id="aOUTs">@ResourceLanguaje.Resource.ITOutsourcing</a></li>
            <li onclick="LoadKnowledge(63)" id="liOper"><a href="#" id="aOper">@ResourceLanguaje.Resource.Operations</a></li>
            <li onclick="LoadKnowledge(112)" id="liSale"><a href="#" id="aSale">@ResourceLanguaje.Resource.Sales</a></li>
        </ul>
    </nav>*@

<div id="divContent">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="font-icon-wrapper font-icon-lg">
                    <i class="fa fa-database icon-gradient bg-sunny-morning"> </i>
                </div>
                <div>
                    <div class="titleModule"><b>@ResourceLanguaje.Resource.Knowledge</b></div>
                    <div class="page-title-subheading" id="divTitle">
                        Perfil del colaborador
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="card-title">Categorias</div>
                    <hr />
                    <div id="divViewCategorias">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="card-title">Plantillas</div>
                            <hr />
                            <div class="inBodyForm" style="overflow-y: auto; height:50%;" id="divDocs">
                                <div id="treeviewDocs" style="padding: 3px 0 0 7px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="card-title" id="divTitleAttach">Adjuntos</div>
                            <hr />
                            <div class="mx-auto" style="height:50%;" id="divAttach">
                                @using (Html.BeginForm("Create", "Knowledge", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmKnowledge", name = "FrmKnowledge", target = "upload_target" }))
                                {
                                    @Html.HiddenFor(Model => Model.ID_AREA)
                                    <div class="form-row" id="divCategory">
                                        <div class="col-md-12">
                                            <div class="editor-label">
                                                Categoría
                                            </div>
                                            <div class="editor-field">
                                                <input id="ID_KNOW_CATE" type="text" name="ID_KNOW_CATE">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-md-12">
                                            <div class="editor-label">
                                                Compañía
                                            </div>
                                            <div @*class="k-textbox k-textboxSummary"*@>
                                                @Html.EditorFor(model => model.DESC_KNOW)
                                                @Html.ValidationMessageFor(model => model.DESC_KNOW)
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-row" id="divAnio">
                                        <div class="col-md-5">
                                            <div class="editor-label">
                                                Año
                                            </div>
                                            <div class="editor-field">
                                                <input type="text" name="ID_ACCO_YEAR" id="ID_ACCO_YEAR" />
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="editor-label">
                                                Mes
                                            </div>
                                            <div class="editor-field">
                                                @Html.EditorFor(model => model.ID_ACCO_MONT)
                                                @Html.ValidationMessageFor(model => model.ID_ACCO_MONT)
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-row" id="divFecha" style="display:none;">
                                        <div class="col-md-12">
                                            <div class="editor-label">
                                                Fecha
                                            </div>
                                            <div class="editor-field">
                                                @Html.EditorFor(model => model.DATE_ATTA)
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="SW_DATE" name="SW_DATE" value="0" />
                                    <input type="hidden" id="ID_KNOW_CATE_ATTA" name="ID_KNOW_CATE_ATTA" value="0" />
                                    <div class="form-row">
                                        <div id="Divbottom" class="col-md-12">
                                            <input name="files" id="files" type="file" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-row">
                                        <div id="divGuardar" class="col-md-4 ml-auto">
                                            <button id="submitInvoice" class="btn btn-primary btn-block">Guardar</button>
                                        </div>
                                    </div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    @*if (@Session["ID_ACCO"]==4) {
        window.open("https://sites.google.com/electrodata.com.pe/knowledge","_self");
    }*@

    $(document).ready(function () {
        debugger
        $("#DESC_KNOW").removeClass();
        $("#DESC_KNOW").attr('class', "form-control");
        $("#Divbottom").hide();
        $("#divGuardar").hide();
        if(@ViewBag.AdjuntarArchivos == 1){
            $("#Divbottom").show();
            $("#divGuardar").show();
        }

        ID_AREA = '@ViewBag.id';
        var title = '';
        //UnselectMenu();
        if (ID_AREA == 97) {
            title = '@ResourceLanguaje.Resource.ITOutsourcing';
            //SelectMenu('OUTs', '');
        }
        if (ID_AREA == 63) {
            title = '@ResourceLanguaje.Resource.Operations';
            //SelectMenu('Oper', 'OUTs');
        }
        if (ID_AREA == 112) {
            title = '@ResourceLanguaje.Resource.Sales';
            //SelectMenu('Sale', 'Oper');
        }
        if (ID_AREA == 118) {
            title = '@ResourceLanguaje.Resource.Financial';
            //SelectMenu('Sale', 'Oper');
        }
        $("#divTitle").html('@ResourceLanguaje.Resource.FileServer - ' + title);

        //SelectMenu('OUTs', 'OUTs');

        var onSelect = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf"
                    && value.extension.toLowerCase() != ".xls"
                    && value.extension.toLowerCase() != ".xlsx"
                    && value.extension.toLowerCase() != ".doc"
                    && value.extension.toLowerCase() != ".docx") {
                    e.preventDefault();

                    toastr.warning("@ResourceLanguaje.Resource.AssetMessage8", "@ResourceLanguaje.Resource.WrongFileExtension");
                }
                else {
                    $("#Divbottom").css("width", "95.5%");
                }
            });
        };

        function onRemove(e) {
            $("#Divbottom").css("width", "100%");
        }

        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            select: onSelect,
            multiple: false,
            remove: onRemove,
        });

        //Combos
        $("#ID_ACCO_YEAR").kendoComboBox({
            dataTextField: "ID_ACCO_YEAR",
            dataValueField: "ID_ACCO_YEAR",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountingYear/List?var=" + Math.random()
                }
            }
        });
        var ID_ACCO_YEAR = $("#ID_ACCO_YEAR").data("kendoComboBox");

        $("#ID_ACCO_MONT").kendoComboBox({

            dataTextField: "NAM_ACCO_MONT",
            dataValueField: "ID_ACCO_MONTH",
            cascadeFrom: 'ID_ACCO_YEAR',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountingMonth/List?var=" + Math.random()
                }
            }
        });
        var ID_ACCO_MONT = $("#ID_ACCO_MONT").data("kendoComboBox");
        ID_ACCO_MONT.bind("dataBound", function (e) {
            ID_ACCO_MONT.value(ID_ACCO_YEAR.dataItem().DEFAULT);
        });

        var ID_KNOW_CATE = $("#ID_KNOW_CATE").kendoComboBox({
            dataTextField: "NAM_CATE",
            dataValueField: "ID_KNOW_CATE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Knowledge/ListCategory?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var DATE_ATTA = $("#DATE_ATTA").kendoDatePicker().data("kendoDatePicker");

        ID_KNOW_CATE.bind("change", function (e) {
            if (ID_KNOW_CATE.dataItem().REG_DATE_ATTA) {
                $("#divFecha").css("display", "inline-block");
                $("#divAnio").css("display", "none");
                $("#SW_DATE").val(1);
            }
            else {
                $("#divFecha").css("display", "none");
                $("#divAnio").css("display", "inline-block");
                $("#SW_DATE").val(0);
            }
        });

        //List Templates
        $.ajax({
            url: "/Knowledge/ListKnowledgeTemplate",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                showInfo();
            },
            error: function (source) {
                //alert("Error Carga Json");
            }
        });
        $("#ID_AREA").val('@ViewBag.id');

        $("#divViewCategorias").empty();
        $("#divViewCategorias").load("/Knowledge/ViewTreeKnowledge?id=@ViewBag.id&var=" + Math.random());
    });

    function showInfo() {
        var strHtml1 = '';
        $.each(data['Data'], function (index, value) {
            strHtml1 = strHtml1 +
                '<div class ="divFondoUno" style="width:99%;"><div style="float:left; width:90%; padding: 0 0 0 10px;">' +
                '<img src="/Content/Images/' + (data['Data'][index]['ICONO']) + '" style="width:14px; height:14px;" />' +
                '<a style="margin-left:5px;" href="' + (data['Data'][index]['NAM_FILE']) + '" target="_blank" title="@ResourceLanguaje.Resource.Download ' + (data['Data'][index]['NAM_TEMP']) + '" style="cursor:pointer;color:#444444;font-size: .9em;text-transform: none;text-decoration:none;">' + (data['Data'][index]['NAM_TEMP']) + '</a></div>' +
                    '</div></div><br />';
        });
        $("#treeviewDocs").append(strHtml1);
    }



    function SelectMenu(id, liant) {
        //$("#a" + id).css("color", "Black");
        //$("#a" + id).css("font-weight", "bold");
        //$("#li" + id).css("background-color", "#eaeaea");
        //$("#li" + liant).css("margin-right", "-4px");
    }

    function UnselectMenu() {

        //$("#aOUTs").css("color", "White");
        //$("#aOUTs").css("font-weight", "initial");
        //$("#liOUTs").css("background-color", "#333333");
        //$("#liOUTs").css("margin-right", "-2px");

        //$("#aOper").css("color", "White");
        //$("#aOper").css("font-weight", "initial");
        //$("#liOper").css("background-color", "#333333");
        //$("#liOUTs").css("margin-right", "-2px");

        //$("#aSale").css("color", "White");
        //$("#aSale").css("font-weight", "initial");
        //$("#liSale").css("background-color", "#333333");
        //$("#liOper").css("margin-right", "-2px");
    }

    $(document).on("click", ".fa-window-close", function (e) {
        e.preventDefault();
        var ctrl = $(this);
        var id = $(this).attr("id");
        var elem = id.split('|');

        swal({
            title: "¿Estás seguro de eliminar el archivo?",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "No",
            confirmButtonText: "Sí",
            closeOnConfirm: false
        }, function (dismiss) {
            if (dismiss) {
                cl = elem[1];
                if (elem[1].length > 3) {
                    if (elem[1].substring(0, 3) == 'ISO') {
                        var resp = elem[1].split('*');
                        cl = resp[1];
                    }
                }
                $.ajax({
                    url: "/Knowledge/Delete/" + cl,
                    data: "var=" + Math.random(),
                    type: "GET",
                    dataType: "text",
                    success: function (dato) {
                        if (dato == 'OK') {
                            var treeview = $("#treeviewProcedure").data("kendoTreeView");
                            treeview.remove(ctrl.closest(".k-item"));
                            //closeWinModalPopUp();
                        }
                        else { toastr.error("Ha ocurrido un error, contacte al administrador"); }
                    },
                    error: function (dato) {
                        toastr.error("Ha ocurrido un error, contacte al administrador");
                    }
                });
                swal.close();
            } else {
                swal.close();
            }
        })

    });
</script>

<script type="text/javascript">

    function UpdateTreeView(code) {
        var treeView = $("#treeviewProcedure").data("kendoTreeView");
        var barDataItem = treeView.dataSource.get(code);
        var nodo = treeView.findByUid(barDataItem.uid);

        var selectedDataItem = treeView.dataItem(nodo);
        selectedDataItem.hasChildren = true;
        treeView.collapse(nodo);
        selectedDataItem.loaded(false);
        selectedDataItem.load();
        treeView.expand(nodo);

        $(".k-upload-files").remove();
        document.FrmKnowledge.reset();
    }

    function uploadDone(msg, code) {
        if (msg == "OK") {
            toastr.success("Knowledge information was succesfully saved","Information Saved");
               UpdateTreeView(code);
        }
        else {

            var titleAsset = '';
            var messageAsset = '';
            if (code == '0') {
                titleAsset = '@ResourceLanguaje.Resource.InformationMissing';
                messageAsset = '@ResourceLanguaje.Resource.InformationMissingMsn';
            }
            else if (code == '1') {
                titleAsset = '@ResourceLanguaje.Resource.BasedDrawback';
                messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }
            else if (code == '2') {
                titleAsset = '@ResourceLanguaje.Resource.Attach';
                messageAsset = '@ResourceLanguaje.Resource.AttachMsn';
            }
            else if (code == '3') {
                titleAsset = '@ResourceLanguaje.Resource.SessionExpired';
                messageAsset = '@ResourceLanguaje.Resource.SessionExpiredMsn';
            }

            toastr.warning(messageAsset, titleAsset);
        }
    }
</script>
