@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Portal Usuario</title>

    @Scripts.Render("~/bundles/jquery")

    <link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/ArchitectureUI/main.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/ArchitectureUI/assets/scripts/main.js"></script>
    <script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
    <link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">

            <div class="h-100 bg-midnight-bloom bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">

                        @using (Html.BeginForm("RegistrarEncuesta", "Encuesta", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAsignarPM", target = "upload_target" }))
                        {
                            <input type="hidden" id="IdDetalleTicket" name="IdDetalleTicket" value="@ViewBag.IdDetalleTicket" />

                            <div class="text-center text-white opacity-8 mt-3">
                                <img src="http://itms.electrodata.com.pe/images/logoED.png" width="250" />
                            </div>
                            <div class="modal-dialog w-100 mx-auto">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="h5 modal-title text-center">
                                            <h4 class="mt-2">
                                                <div>Encuesta de Satisfacción</div>
                                                @*<span>Nuestro principal objetivo es brindarle un mejor servicio, por favor responda la siguiente pregunta.</span>*@
                                            </h4>
                                        </div>
                                        <div id="divEncuesta">
                                            <div class="form-row">
                                                <br />
                                            </div>
                                            <div class="form-row">
                                                <span class="text-center" style="font-size:18px">@ViewBag.UsuarioAfectado, ¿Está conforme con la atención recibida con respecto al ticket @ViewBag.CodigoTicket?</span>
                                            </div>
                                            <div class="form-row">
                                                <br />
                                            </div>
                                            <div class="form-row" style="text-align:center">
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="fa fa-smile-o" style="font-size:50px;color:#60A445;cursor:pointer" for="chkSI" title="SI estoy conforme"></label>
                                                    <div>
                                                        <input name="chkOpcion" id="chkSI" type="radio" class="form-radio-input" value="SI">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="fa fa-frown-o" style="font-size:50px;color:#c0392b;cursor:pointer" for="chkNO" title="NO estoy conforme"></label>
                                                    <div>
                                                        <input name="chkOpcion" id="chkNO" type="radio" class="form-radio-input" value="NO">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label></label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <br />
                                                <br />
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="position-relative form-group">
                                                        <textarea name="txtComentario" id="txtComentario" placeholder="Comentario de la atención (Opcional)..." rows="3" type="text" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer clearfix" id="divEnviar">
                                        <div class="float-right">
                                            <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-save"></i> Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center text-white opacity-8 mt-3">
                                <div>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Av. Guardia Civil 1292, San Isidro, Lima - Perú
                                </div>
                                <div>
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <a href="https://www.electrodata.com.pe/" style="text-decoration:none;color:white">https://www.electrodata.com.pe/</a>
                                </div>
                            </div>
                            <div class="text-center text-white opacity-8 mt-3">
                                Copyright © Electrodata
                                <script>document.write(new Date().getFullYear())</script>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>
<script type="text/javascript">

    $(document).ready(function () {
        if (@ViewBag.Flag== "0") {
            $("#divEncuesta").html("<div style='text-align:center'>" + "@ViewBag.Mensaje" + "</div>");
            $("#divEnviar").attr("style", "display:none");
        }
    });

    function Mensaje(mensaje) {
        if (mensaje == "OK") {
            toastr.success("Muchas gracias por contribuir al Sistema de Gestión de Tecnologías de la Información (ITMS).", "");
            location.reload();
        } else if (mensaje == "VACIO") {
            toastr.warning("Seleccione una opción.", "");
        } else{
            toastr.error("Contacte al administrador", "");
        }
    }
</script>