@model ERPElectrodata.Models.CLIENT_ASSET

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CLIENT_ASSET</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_CLIE_ASSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_CLIE_ASSE)
            @Html.ValidationMessageFor(model => model.ID_CLIE_ASSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_AREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_AREA)
            @Html.ValidationMessageFor(model => model.ID_AREA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_CLIE, "CLIENT")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_CLIE", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_CLIE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_ASSE, "ASSET")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_ASSE", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_ASSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_COND, "CONDITION")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_COND", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_COND)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_LOCA, "LOCATION")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_LOCA", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_LOCA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_PERS_ENTI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_PERS_ENTI)
            @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DAT_STAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DAT_STAR)
            @Html.ValidationMessageFor(model => model.DAT_STAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DAT_END)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DAT_END)
            @Html.ValidationMessageFor(model => model.DAT_END)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CREATE_DATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CREATE_DATE)
            @Html.ValidationMessageFor(model => model.CREATE_DATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUM_CLIE_ASSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUM_CLIE_ASSE)
            @Html.ValidationMessageFor(model => model.SUM_CLIE_ASSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TYPE_CLIE_ASSE, "TYPE_CLIENT_ASSET")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_TYPE_CLIE_ASSE", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_TYPE_CLIE_ASSE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_PART_TYPE_ASSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_PART_TYPE_ASSE)
            @Html.ValidationMessageFor(model => model.ID_PART_TYPE_ASSE)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
