@model IEnumerable<ERPElectrodata.Models.CLIENT_ASSET>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_CLIE_ASSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_AREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT.SEX_CLIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASSET.COD_ASSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONDITION.NAM_COND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCATION.NAM_LOCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PERS_ENTI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAT_STAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAT_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUM_CLIE_ASSE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE_CLIENT_ASSET.NAM_TYPE_ASSE_CLIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PART_TYPE_ASSE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CLIE_ASSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_AREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT.SEX_CLIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASSET.COD_ASSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONDITION.NAM_COND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCATION.NAM_LOCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PERS_ENTI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAT_STAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAT_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUM_CLIE_ASSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_CLIENT_ASSET.NAM_TYPE_ASSE_CLIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PART_TYPE_ASSE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
