@{
    ViewBag.Title = "EditarInforme";
    Layout = null;
}


@using (Html.BeginForm("GuardarFormatoInforme", "InformeED", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSinPlantillaInforme", name = "FrmSinPlantillaInforme", target = "upload_target" }))
{

    <input id="IdInformeEIModal" name="IdInforme" value="@ViewBag.IdDetaInforme" type="hidden" />
    <input id="IdEstadoEIModal" name="IdEstado" value="@ViewBag.IdEstado" type="hidden" />
    <input id="NumDocuSaleEIModal" name="NumDocuSale" value="@ViewBag.NumDocuSale" type="hidden" />
    <input id="IdPlantillaEIModal" name="IdPlantilla" type="hidden" />

    <div class="container row">

        <div class="col-md-3" style="border-right: solid; border-right-width: 0.5px; border-right-color: #A2A2A2;">
            <p>Línea de Tiempo de Estado</p>
            <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
                        <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-danger"> </i>
                        </span>
                        <div class="vertical-timeline-element-content bounce-in">
                            <p>Sin Plantilla</p>
                            <span class="vertical-timeline-element-date"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Estado</label>
                    <input id="txtEstadoInformeEIModal" name="txtEstadoInformeEIModal" class="form-control" type="text" style="width:100%" value="Pendiente de Elaboración" disabled>
                </div>
                <div class="col-md-4">
                    <label class="label">Responsable</label>
                    <input id="txtResponsableEIModal" name="txtResponsableEIModal" class="form-control" type="text" style="width:100%" disabled />

                </div>
                <div class="col-md-4">
                    <label class="label">Tipo Informe</label>
                    <input id="txtTipoInformeEIModal" name="txtTipoInformeEIModal" class="form-control" type="text" style="width:100%" disabled />

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Marca</label>
                    <input id="txtMarcaEIModal" name="txtMarca" class="form-control" type="text" style="width:100%" disabled />
                </div>
                <div class="col-md-4">
                    <label class="label"><b>Ticket</b></label>
                    <div>
                        <span id="lblCodigoTicketEIModal"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label">VER LOGO</label>
                    <a id="btnMaquinaEstadosEIModal" class="btn btn-light btn-hover-shine" data-toggle="modal" data-target="#modalLogo" onclick="CargarVerLogoEIModal();"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Elaborado Por</label>
                    <input id="cboElaboradoPorEI" name="cboElaboradoPor" />
                </div>
                <div class="col-md-4">
                    <label class="label">Revisado Por</label>
                    <input id="cboRevisadoPorEI" name="cboRevisadoPor" />
                </div>
                <div class="col-md-4">
                    <label class="label">Aprobado Por</label>
                    <input id="cboAprobadoPorEI" name="cboAprobadoPor" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Periodo Desde</label>
                    <input id="dtPeriodoDesdeEIModal" name="dtPeriodoDesde" class="form-control" type="text" style="width:100%">
                </div>
                <div class="col-md-4">
                    <label class="label">Periodo Hasta</label>
                    <input id="dtPeriodoHastaEIModal" name="dtPeriodoHasta" type="text" class="form-control" style="width:100%">
                </div>
                <div class="col-md-4">
                    <label class="label">Fecha de Elaboración</label>
                    <input id="dtFechaPlanificadaEnvioEIModal" name="dtFechaPlanificadaEnvio" type="text" class="form-control" style="width:100%">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Fecha Máxima de Envío</label>
                    <input id="dtFechaMaximaEnvioEIModal" name="dtFechaMaximaEnvio" type="text" class="form-control" style="width:100%">
                </div>

                <div class="col-md-4" style="padding-top:8px">
                    <label id="TituloP" class="label" @ViewBag.OcultarEditarPlantilla>@ViewBag.TituloPlantilla</label>
                    <a id="PlantillaEIModal" data-toggle="modal" data-target="#modalPlantilla" href="~/InformeED/Index" onclick="CargarPlantillaEIModal();" @ViewBag.CrearPlantilla>
                        CREAR PLANTILLA (+)
                    </a>
                    <div class="form-group row">
                        <div class="col-md-9">
                            <input id="PlantillaOPEIModal" name="PlantillaOP" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-3">
                            <a id="btnEditarPlantilla" class="btn btn-light btn-hover-shine" data-toggle="modal" data-target="#modalPlantilla" onclick="EditarPlantillaEIModal();" @ViewBag.OcultarEditarPlantilla><i class="fa fa-pen"></i></a>

                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <label class="label">Adicionales del informe</label>
                    <input id="IdAdicionalesEIModal" name="IdAdicionales" type="text" style="width: 100%" data-text-field="text" data-value-field="value">
                </div>

            </div>

            <div class="form-group row">

                <div class="col-md-12">
                    <button type="submit" class="btn btn-hover-shine btn-primary" style="float: right; ">Guardar Plantilla</button>
                </div>
            </div>





        </div>
        <button data-dismiss="modal" id="btnCerrarModalEIModal" hidden>Cerrar</button>
    </div>
    <iframe id="upload_target" name="upload_target" src="" class="d-none"></iframe>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/InformeED/ObtenerDatosInforme/" + @ViewBag.IdDetaInforme,
        type: "GET",
            dataType: "json",
                success: function (source) {
                    $.each(source['Data'], function (index, value) {

                        $("#txtEstadoInformeEIModal").val(source['Data'][index]['EstadoInforme']);
                        $("#txtResponsableEIModal").val(source['Data'][index]['ResponsableInforme']);
                        $("#txtTipoInformeEIModal").val(source['Data'][index]['TipoInforme']);
                        $("#dtPeriodoDesdeEIModal").val(kendo.toString(new Date(source['Data'][index]['PeriodoDesde']), "dd/MM/yyyy"));
                        $("#dtPeriodoHastaEIModal").val(kendo.toString(new Date(source['Data'][index]['PeriodoHasta']), "dd/MM/yyyy"));
                        $("#dtFechaPlanificadaEnvioEIModal").val(kendo.toString(new Date(source['Data'][index]['FechaPlanificada']), "dd/MM/yyyy"));
                        $("#dtFechaMaximaEnvioEIModal").val(kendo.toString(new Date(source['Data'][index]['FechaMaximaEnvio']), "dd/MM/yyyy"));
                        $("#txtMarcaEIModal").val(source['Data'][index]['Marca']);
                        $("#IdTicketEIModal").val(source['Data'][index]['IdTicket']);
                        $("#dtPeriodoDesdeEIModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        $("#dtPeriodoHastaEIModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        $("#dtFechaPlanificadaEnvioEIModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        $("#dtFechaMaximaEnvioEIModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        if ((source['Data'][index]['IdTicket']) != 0) {
                            $("#lblCodigoTicketEIModal").append('<a href=\"/DetailsTicket/Index/' + source['Data'][index]['IdTicket'] + '" target="_blank">' + source['Data'][index]['CodigoTicket'] + '</a>');
                        } else {
                            $("#lblCodigoTicketEIModal").append("-");
                        }
                        $("#cboRevisadoPorEI").data("kendoComboBox").value(source['Data'][index]['RevisadoPor']);
                        $("#cboAprobadoPorEI").data("kendoComboBox").value(source['Data'][index]['AprobadoPor']);
                        $("#cboElaboradoPorEI").data("kendoComboBox").value(source['Data'][index]['ElaboradoPor']);
                    });

                }
        });

        $('#modalMaquinaEstados button[data-dismiss="modal"]').click(function () {
            $('#modalMaquinaEstados').modal('hide');
        });

        var DocuSale = $("#NumDocuSaleEIModal").val();

        var PlantillaOP = $("#PlantillaOPEIModal").kendoComboBox({
            autoBind: true,
            dataTextField: "CodigoPlantilla",
            dataValueField: "Id",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,

            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ComboPlantilla?DocuSale=" + DocuSale
                }
            }

        }).data("kendoComboBox");

        $("#IdAdicionalesEIModal").kendoMultiSelect({
            dataTextField: "NombreFormato",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            suggest: true,
            dataSource: {
                transport: {
                    read: {
                        url: "/InformeED/ComboFormatoAdicional",
                        data: { NumDocuSale: 0 },
                        dataType: "json"
                    }
                },
                schema: {
                    data: function (response) {
                        return response; // Ajusta esto según la estructura de tus datos
                    }
                }
            }
        });

        var cboElaboradoPorEI = $("#cboElaboradoPorEI").kendoComboBox({
            autoBind: true,
            dataTextField: "Nombre",
            dataValueField: "IdPers",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarEncargadosInforme/1"
                }
            }
        }).data("kendoComboBox");

        var cboRevisadoPorEI = $("#cboRevisadoPorEI").kendoComboBox({
            autoBind: true,
            dataTextField: "Nombre",
            dataValueField: "IdPers",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarEncargadosInforme/2"
                }
            }
        }).data("kendoComboBox");


        var cboAprobadoPorEI = $("#cboAprobadoPorEI").kendoComboBox({
            autoBind: true,
            dataTextField: "Nombre",
            dataValueField: "IdPers",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarEncargadosInforme/3"
                }
            }
        }).data("kendoComboBox");


        $("#FrmSinPlantillaInforme").submit(function (event) {
            var selectedItems = $("#IdAdicionalesEIModal").data("kendoMultiSelect").value();
            var input = $("<input>").attr("type", "hidden").attr("name", "SelectedAdicionales").val(selectedItems);
            $(this).append(input);
        });

        var listaPlantillas = $("#PlantillaOPEIModal").data("kendoComboBox");
        listaPlantillas.dataSource.data([]);
        listaPlantillas.value("");

        $.ajax({
            url: "/InformeED/ComboPlantilla?DocuSale=" + DocuSale,
            type: 'GET',
            success: function (data) {
                listaPlantillas.setDataSource(new kendo.data.DataSource({
                    data: data.Data
                }));

                if (data.Data.length > 0) {
                    listaPlantillas.select(0);
                }
            }
        });

    });

    function actualizarListaPlantillas() {
        
        var DocuSale = $("#NumDocuSaleEIModal").val();
        var listaPlantillas = $("#PlantillaOPEIModal").data("kendoComboBox");
        listaPlantillas.dataSource.data([]);
        listaPlantillas.value("");
        $.ajax({
            url: "/InformeED/ComboPlantilla?DocuSale="+DocuSale,
            type: 'GET',
            success: function (data) {
                listaPlantillas.setDataSource(new kendo.data.DataSource({
                    data: data.Data
                }));
                // Seleccionar el primer elemento del combo box
                if (data.Data.length > 0) {
                    listaPlantillas.select(0);
                }
                document.getElementById("PlantillaEIModal").style.display = "none";
                var labeltit = document.getElementById("TituloP");
                labeltit.hidden = false;
                labeltit.textContent = "Plantilla";
                var enlace = document.getElementById("btnEditarPlantilla");
                enlace.removeAttribute("hidden");
            }
        });
    }

    function CargarPlantillaEIModal() {

        $("#lblTituloPlantilla").text("Módulo de Plantilla");
        $('#modal-contentPlantilla').empty();
        $('#modal-contentPlantilla').load('/InformeED/Plantilla?IDI=' + $("#IdInformeEIModal").val() + '&OP=' + $("#NumDocuSaleEIModal").val());

    }

    function EditarPlantillaEIModal() {
        
        $("#lblTituloPlantilla").text("Módulo de Plantilla");

        var selectedIdPlantilla = $("#PlantillaOPEIModal").data("kendoComboBox").value(); // Obtener el valor seleccionado

        $('#modal-contentPlantilla').empty();
        $('#modal-contentPlantilla').load('/InformeED/PlantillaEditar?IDI=' + $("#IdInformeEIModal").val() + '&OP=' + $("#NumDocuSaleEIModal").val() + '&IDP=' + selectedIdPlantilla);
    }

    function CargarVerLogoEIModal() {

        $("#lblTituloLogo").text("Visualización de logo");
        $('#modal-contentLogo').empty();
        $('#modal-contentLogo').load('/InformeED/Logo/?OP=' + $("#NumDocuSaleEIModal").val());
    }

    function MensajeConfirmacionSPM(resp, descripcion) {
        if (resp == "OK") {
            toastr.success("", "El registro ha sido guardado.");
            const boton = document.getElementById('btnCerrarModalEIModal');
            boton.click();
            ListadoInformes(1)
            ObtenerInformesxEstado()
        }
        else if (resp == "ERROR") {
            toastr.error("", "Debe completar todos los datos antes de guardar.");
        } else {
            toastr.error("Por favor contacte al administrador.", "Mensaje");
        }
    }

</script>
