@{
    ViewBag.Title = "PendienteElaboracionModal";
    Layout = null;
}


@using (Html.BeginForm("GuardarFormatoInforme", "InformeED", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmPEModal", name = "FrmPEModal", target = "upload_targetPEM" }))
{

    <input id="IdInformePEModal" name="IdInforme" value="@ViewBag.IdDetaInforme" type="hidden" />
        <input id="IdEstadoPEModal" name="IdEstado" value="@ViewBag.IdEstado" type="hidden" />
        <input id="NumDocuSalePEModal" name="NumDocuSale" value="@ViewBag.NumDocuSale" type="hidden" />

    <div class="container row">
        <div class="col-md-3" style="border-right: solid; border-right-width: 0.5px; border-right-color: #A2A2A2;">
            <p>Línea de Tiempo de Estado</p>

            <div class="x_content estadosPEM" id="estadosPEM">
                <ul class="todo-list-wrapper list-group list-group-flush" style="list-style: none;"></ul>

            </div>
        </div>

        <div class="col-md-9">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Estado</label>
                    <input id="txtEstadoInformePEModal" name="txtEstadoInforme" class="form-control" type="text" style="width:100%" value="Pendiente de Elaboración" disabled>
                </div>
                <div class="col-md-4">
                    <label class="label">Responsable</label>
                    <input id="txtResponsablePEModal" name="txtResponsable" class="form-control" type="text" style="width:100%" disabled />

                </div>
                <div class="col-md-4">
                    <label class="label">Tipo Informe</label>
                    <input id="txtTipoInformePEModal" name="txtTipoInforme" class="form-control" type="text" style="width:100%" disabled />

                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Marca</label>
                    <input id="txtMarcaPEModal" name="txtMarca" class="form-control" type="text" style="width:100%" disabled />
                </div>
                <div class="col-md-4">
                    <label class="label"><b>Ticket</b></label>
                    <div>
                        <span id="lblCodigoTicketPEModal"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="label">VER LOGO</label>
                    <a id="btnMaquinaEstadosPEModal" class="btn btn-light btn-hover-shine" data-toggle="modal" data-target="#modalLogo" onclick="verLogoPEModal();"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Elaborado Por</label>
                    <input id="cboElaboradoPor" name="cboElaboradoPor" />
                </div>
                <div class="col-md-4">
                    <label class="label">Revisado Por</label>
                    <input id="cboRevisadoPor" name="cboRevisadoPor" />
                </div>
                <div class="col-md-4">
                    <label class="label">Aprobado Por</label>
                    <input id="cboAprobadoPor" name="cboAprobadoPor" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Periodo Desde</label>
                    <input id="dtPeriodoDesdePEModal" name="dtPeriodoDesde" type="text" style="width:100%" >
                </div>
                <div class="col-md-4">
                    <label class="label">Periodo Hasta</label>
                    <input id="dtPeriodoHastaPEModal" name="dtPeriodoHasta" type="text" style="width:100%" >    
                </div>
                <div class="col-md-4">
                    <label class="label">Fecha de Elaboración</label>
                    <input id="dtFechaPlanificadaEnvioPEModal" name="dtFechaPlanificadaEnvio" type="text" style="width:100%" >
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="label">Fecha Máxima de Envío</label>
                    <input id="dtFechaMaximaEnvioPEModal" name="dtFechaMaximaEnvio" type="text" style="width:100%" >
                </div>

                <div class="col-md-4" style="padding-top:8px">
                    @*<a id="PlantillaPEModal" data-toggle="modal" data-target="#modalPlantilla" href="~/InformeED/Index" onclick="CargarPlantillaPEModal();">
                            CREAR PLANTILLA (+)
                    </a>*@
                    <label id="TituloP" class="label">Plantilla</label>
                    <div class="form-group row">
                        <div class="col-md-9">
                            <input id="PlantillaOPPEModal" name="PlantillaOP" type="text" style="width:100%">
                        </div>
                        <div class="col-md-3">
                            <a id="btnMaquinaEstadosPEModal" class="btn btn-light btn-hover-shine" data-toggle="modal" data-target="#modalPlantilla" onclick="EditarPlantillaPEModal();"><i class="fa fa-pen"></i></a>

                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <label class="label">Adicionales del informe</label>
                    <input id="IdAdicionalesPEModal" name="IdAdicionales" type="text" style="width:100%">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <a  id="btnVistaPreviaPEModal" class="btn  btn-hover-shine btn-danger" onclick="EnviarAprobar()" style="color:#fff">Enviar Aprobar</a>
                    <button type="submit" class="btn btn-hover-shine btn-primary" style="float: right; "> Actualizar Datos Informe</button>
                </div>
            </div>
        </div>
        <button data-dismiss="modal" id="btnCerrarModalPEM" hidden>Cerrar</button>
    </div>
    <iframe id="upload_targetPEM" name="upload_targetPEM" src="" class="d-none"></iframe>
}
<script>
    $(document).ready(function () {

        var IDINPEM = @ViewBag.IdDetaInforme;

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            url: "MaquinaEstados",
            type: "Get",
            data: { IDI: IDINPEM },
            datatype: "json",
            cache: false,

            success: function (data) {
                if (data) {
                    tejerMaquinaEstadoPEM(data["Maquina"]);
                }
            },
            error: function () {
            }
        });

        $.ajax({
            url: "/InformeED/ObtenerDatosInforme/" + @ViewBag.IdDetaInforme,
        type: "GET",
            dataType: "json",
                success: function (source) {
                    $.each(source['Data'], function (index, value) {

                        $("#txtEstadoInformePEModal").val(source['Data'][index]['EstadoInforme']);
                        $("#txtResponsablePEModal").val(source['Data'][index]['ResponsableInforme']);
                        $("#txtTipoInformePEModal").val(source['Data'][index]['TipoInforme']);
                        $("#dtPeriodoDesdePEModal").val(kendo.toString(new Date(source['Data'][index]['PeriodoDesde']), "dd/MM/yyyy"));
                        $("#dtPeriodoHastaPEModal").val(kendo.toString(new Date(source['Data'][index]['PeriodoHasta']), "dd/MM/yyyy"));
                        $("#dtFechaPlanificadaEnvioPEModal").val(kendo.toString(new Date(source['Data'][index]['FechaPlanificada']), "dd/MM/yyyy"));
                        $("#dtFechaMaximaEnvioPEModal").val(kendo.toString(new Date(source['Data'][index]['FechaMaximaEnvio']), "dd/MM/yyyy"));
                        $("#txtMarcaPEModal").val(source['Data'][index]['Marca']);
                        $("#IdTicketPEModal").val(source['Data'][index]['IdTicket']);
                        $("#dtPeriodoDesdePEModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        $("#dtPeriodoHastaPEModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        $("#dtFechaPlanificadaEnvioPEModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        $("#dtFechaMaximaEnvioPEModal").kendoDatePicker({ format: "dd/MM/yyyy" }).data("kendoDatePicker");
                        $("#EstadoPEModal").text(source['Data'][index]['EstadoInforme']);
                        if ((source['Data'][index]['IdTicket']) != 0) {
                            $("#lblCodigoTicketPEModal").append('<a href=\"/DetailsTicket/Index/' + source['Data'][index]['IdTicket'] + '" target="_blank">' + source['Data'][index]['CodigoTicket'] + '</a>');
                        } else {
                            $("#lblCodigoTicketPEModal").append("-");
                        }
                        $("#cboRevisadoPor").data("kendoComboBox").value(source['Data'][index]['RevisadoPor']);
                        $("#cboAprobadoPor").data("kendoComboBox").value(source['Data'][index]['AprobadoPor']);
                        $("#cboElaboradoPor").data("kendoComboBox").value(source['Data'][index]['ElaboradoPor']);

                    });

                }
        });

        $('#modalMaquinaEstados button[data-dismiss="modal"]').click(function () {
            $('#modalMaquinaEstados').modal('hide');
        });

        var DocuSale = $("#NumDocuSalePEModal").val();


         var PlantillaOP = $("#PlantillaOPPEModal").kendoComboBox({
             autoBind: true,
             dataTextField: "CodigoPlantilla",
             dataValueField: "Id",
             filter: "contains",
             delay: 500,
             minLength: 0,
             suggest: true,

             dataSource: {
                 schema: {
                     data: "Data",
                     total: "Count"
                 },
                 transport: {
                     read: "/InformeED/ComboPlantilla?DocuSale=" + DocuSale
                 }
             }
        }).data("kendoComboBox");

        var cboElaboradoPor = $("#cboElaboradoPor").kendoComboBox({
            autoBind: true,
            dataTextField: "Nombre",
            dataValueField: "IdPers",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarEncargadosInforme/1"
                }
            }
        }).data("kendoComboBox");

        var cboRevisadoPor = $("#cboRevisadoPor").kendoComboBox({
            autoBind: true,
            dataTextField: "Nombre",
            dataValueField: "IdPers",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarEncargadosInforme/2"
                }
            }
        }).data("kendoComboBox");


        var cboAprobadoPor = $("#cboAprobadoPor").kendoComboBox({
            autoBind: true,
            dataTextField: "Nombre",
            dataValueField: "IdPers",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarEncargadosInforme/3"
                }
            }
        }).data("kendoComboBox");


         $("#IdAdicionalesPEModal").kendoMultiSelect({
             dataTextField: "NombreFormato",
             dataValueField: "Id",
             filter: "contains",
             autoBind: true,
             suggest: true,
             dataSource: {
                 transport: {
                     read: {
                         url: "/InformeED/ComboFormatoAdicional",
                         data: { NumDocuSale: 0 },
                         dataType: "json"
                     }
                 },
                 schema: {
                     data: function (response) {
                         return response; 
                     }
                 }
             }
        });

         $("#FrmPEModal").submit(function (event) {
            var selectedItems = $("#IdAdicionalesPEModal").data("kendoMultiSelect").value();
            var input = $("<input>").attr("type", "hidden").attr("name", "SelectedAdicionales").val(selectedItems);
            $(this).append(input);
        });

        actualizarListaPlantillasPE();
        actualizarAdicionalesPEModal();
    });

    function actualizarListaPlantillasPE() {
        var DocuSale = $("#NumDocuSalePEModal").val();
        var listaPlantillasPE = $("#PlantillaOPPEModal").data("kendoComboBox")
        listaPlantillasPE.dataSource.data([]);
        listaPlantillasPE.value("");
        $.ajax({
            url: "/InformeED/ComboPlantilla?DocuSale=" + DocuSale,
            type: 'GET',
            success: function (data) {
                console.log(data)
                listaPlantillasPE.setDataSource(new kendo.data.DataSource({
                    data: data.Data
                }));
                if (data.Data.length > 0) {
                    listaPlantillasPE.select(0);
                }
            }
        });
    }
    function actualizarAdicionalesPEModal() {

        var DocuSalePEModal = $("#NumDocuSalePEModal").val();
        var listaAdicionalesPEModal = $("#IdAdicionalesPEModal").data("kendoMultiSelect");
        var listaPEModal = [];

        $.ajax({
            url: "/InformeED/ObtenerAdicionales?DocuSale=" + DocuSalePEModal,
            type: 'GET',
            success: function (data) {

                if (data.length > 0) {

                    $.each(data, function (index, item) {
                        console.log(item.Id)
                        listaPEModal.push(item.Id);
                    });

                }
                listaAdicionalesPEModal.value(listaPEModal);
            }
        });
    }


    function verLogoPEModal() {
        $("#lblTituloLogo").text("Visualización de logo");
        $('#modal-contentLogo').empty();
        $('#modal-contentLogo').load('/InformeED/Logo/?OP=' + $("#NumDocuSalePEModal").val());
    }
    function MensajeConfirmacionPEM(resp, descripcion) {
        if (resp == "OK") {
            toastr.success("", "El registro ha sido guardado.");
            const boton = document.getElementById('btnCerrarModalPEM');
            boton.click();
            ListadoInformes(2)
            ObtenerInformesxEstado()
        }
        else if (resp == "ACTUALIZAR") {
            toastr.success("", "El informe fue actualizado.");
        }
        else if (resp == "ERROR") {
            toastr.error("", "Debe completar todos los datos antes de guardar.");
        } else {
            toastr.error("Por favor contacte al administrador.", "Mensaje");
        }
    }

    function CargarPlantillaPEModal() {

        $("#lblTituloPlantilla").text("Módulo de Plantilla");
        $('#modal-contentPlantilla').empty();
        $('#modal-contentPlantilla').load('/InformeED/Plantilla?IDI=' + $("#IdInformePEModal").val() + '&OP=' + $("#NumDocuSalePEModal").val());

    }

    function EditarPlantillaPEModal() {
        $("#lblTituloPlantilla").text("Módulo de Plantilla");

        var selectedIdPlantilla = $("#PlantillaOPPEModal").data("kendoComboBox").value(); // Obtener el valor seleccionado

        $('#modal-contentPlantilla').empty();
        $('#modal-contentPlantilla').load('/InformeED/PlantillaEditar?IDI=' + $("#IdInformePEModal").val() + '&OP=' + $("#NumDocuSalePEModal").val() + '&IDP=' + selectedIdPlantilla);
    }


    function tejerMaquinaEstadoPEM(Maquina) {


        if (parseInt(Maquina.length) > 0) {

            $.each(Maquina, function (index, value) {


                if (Maquina[index].Hora == "" || Maquina[index].Hora == null || Maquina[index].Hora == undefined) {

                    $(".estadosPEM ul").append('<li><div class= "vertical-timeline vertical-timeline--animate vertical-timeline--one-column" >'
                        + '<div class="vertical-timeline-item vertical-timeline-element">'
                        + '<div>'
                        + '      <span class="vertical-timeline-element-icon bounce-in">'
                        + '          <i class="badge badge-dot badge-dot-xl badge-danger"> </i>'
                        + '      </span>'
                        + '      <div class="vertical-timeline-element-content bounce-in">'
                        /*+ '          <h4 class="timeline-title">Con Plantilla</h4>'*/
                        + '<p style="font-size:10px;">' + Maquina[index].NombreEstado + '</p>'
                        + '          <span class="vertical-timeline-element-date" style="font-size:10px;"></span>'
                        + '      </div>'
                        + '  </div>'
                        + ' </div>'
                        + '</div >'
                        + '</li >'
                    );

                }
                else {
                    $(".estadosPEM ul").append('<li><div class= "vertical-timeline vertical-timeline--animate vertical-timeline--one-column" >'
                        + '<div class= "vertical-timeline-item vertical-timeline-element" > '
                        + '<div>'
                        + '      <span class="vertical-timeline-element-icon bounce-in">'
                        + '          <i class="badge badge-dot badge-dot-xl badge-success"> </i>'
                        + '      </span>'
                        + '      <div class="vertical-timeline-element-content bounce-in">'
                        + '          <h4 class="timeline-title" style="font-size:12px;">' + Maquina[index].NombreEstado + '</h4>'
                        + '          <p style="font-size:10px;">Hecho por: ' + Maquina[index].HechoPor + '</p>'
                        + '          <span class="vertical-timeline-element-date" style="font-size:10px;">' + Maquina[index].Fecha + '<br />' + Maquina[index].Hora
                        + '</span>'
                        + '      </div>'
                        + '  </div>'
                        + '</div>'
                        + '</div >'
                        + '</li >'
                    );

                }

            });

        } else {
            $(".estadosPEM ul").append('<div class="smallField"> No se encontraron registros');
        }


    }
   function EnviarAprobar() {
       var selectedValues = $("#IdAdicionalesPEModal").data("kendoMultiSelect").value();
       // Verifica si selectedValues contiene los valores esperados
       console.log(selectedValues);
    $.ajax({
        url: "/InformeED/EnviarAprobar?IdInforme=" + @ViewBag.IdDetaInforme,
        type: 'POST',
        data: JSON.stringify({ SelectedAdicionales: selectedValues }), // Enviar como JSON string
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            toastr.success("", "Informe enviado aprobar.");
            const boton = document.getElementById('btnCerrarModalPEM');
            boton.click();
            ListadoInformes(2);
            ObtenerInformesxEstado();
        }
    });
    }



</script>