@{
    ViewBag.Title = "VistaPrevia";
    Layout = null;
}
<script src="~/Scripts19/kendo/2019.3.1023/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

      var fechaInicioString = "@ViewBag.FechaInicio";
      var fechaFinString = "@ViewBag.FechaFin";

        window.frames["RSInforme"].src = "/Reporting/Inform/InformeAutomatico.aspx?FechaInicio=" + fechaInicioString +
            "&FechaFin=" + fechaFinString +
                "&Cliente=" + @ViewBag.Cliente + "&ClienteFinal=" + @ViewBag.ClienteFinal +
                "&IdDocuSale=" + @ViewBag.IdDocuSale +
                "&Id=" + @ViewBag.ID +"";

    });

</script>

<div class="bodyForm">
    <div class="inBodyForm">
        <iframe id="RSInforme" style="height:573px; width:100%; border: 0px #eee solid;"></iframe>
    </div>
</div>