@{
    ViewBag.Title = "DetallePersonas";
    Layout = null;
}

<style>
    .ClassFoto {
        width: 110px;
        height: 110px;
        //border-radius: 50%;
    }

    .MarcoFotoProfile {
        left: 70%;
        top: 50%;
        margin-left: -60px;
        margin-top: -75px;
    }
</style>

<div class="card-header card-header-tab-animation">
    <ul class="nav nav-justified">
        <li class="nav-item"><a data-toggle="tab" id="tabPersona" class="active nav-link" onclick="DetallePersona()">Datos Personales</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabTicket" class="nav-link" onclick="DetalleTicket()">Ticket</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabOp" class="nav-link" onclick="DetalleOp()">OP</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabActivo" class="nav-link" onclick="DetalleActivo()">Activos</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabViaticos" class="nav-link" onclick="DetalleViaticos()">Viáticos</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabCambios" class="nav-link" onclick="DetalleCambios()">Gestión de Cambios</a></li>
    </ul>
</div>
@*<ul class="nav nav-tabs">
    <li role="presentation" class="active col-md-2" id="lPersona"><a onclick="DetallePersona()">Datos Personales</a></li>
    <li role="presentation" class="col-md-2" id="lTicket"><a onclick="DetalleTicket()">Ticket</a></li>
    <li role="presentation" class="col-md-2" id="lOp"><a onclick="DetalleOp()">OP</a></li>
    <li role="presentation" class="col-md-2" id="lActivo"><a onclick="DetalleActivo()">Activos</a></li>
    <li role="presentation" class="col-md-2" id="lViaticos"><a onclick="DetalleViaticos()">Viáticos</a></li>
    <li role="presentation" class="col-md-2" id="lCambios"><a onclick="DetalleCambios()">Gestión de Cambios</a></li>
</ul>*@
<div id="divDetallePersona">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Datos Personales
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-row" style="background-color:#fcfcfc" id="divCard">
                        <div class="col-md-4"><img src="/Content/Fotos/@ViewBag.FOTO" class="rounded-circle" width="90"/></div>
                        <div class="col-md-8" id="divDataUser"></div>
                    </div>
                    <div id="divDataUser2"></div>
                </div>
                <div class="col-md-6">
                    <div id="divDataContract"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divDetalleTicket">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Detalle del Ticket
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetallePersonaTicket" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Ticket</th>
                                <th>Tipo de Ticket</th>
                                <th>Prioridad</th>
                                <th>Estado</th>
                                <th>Compañía</th>
                                <th>Unidad de Negocio</th>
                                <th>Macroservicio</th>
                                <th>Servicio</th>
                                <th>Incidente/Requerimiento</th>
                                <th>Creado Por</th>
                                <th>Usuario Solicitante</th>
                                <th>Usuario Afectado</th>
                                <th>Usuario Asignado</th>
                                <th>Fecha Creación</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divDetalleOp">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Detalle de Op
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetallePersonaOp" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Op</th>
                                <th>Titulo</th>
                                <th>Cliente</th>
                                <th>Cliente Final</th>
                                <th>Project Manager</th>
                                <th>Especialista</th>
                                <th>Fecha de Compromiso</th>
                                <th>Fecha Límite</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divDetalleActivo">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Detalle de Activos
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetallePersonaActivos" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Serie</th>
                                <th>Nombre activo</th>
                                <th>Tipo activo</th>
                                <th>Marca</th>
                                <th>Modelo Comercial</th>
                                <th>Modelo Fábrica</th>
                                <th>Lote</th>
                                <th>Condición</th>
                                <th>Estado</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Usuario asignado</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divViaticos">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Viáticos
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetallePersonaViaticos" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Solicitante</th>
                                <th>Aprobador</th>
                                <th>Justificación</th>
                                <th>Monto</th>
                                <th>Moneda</th>
                                <th>Destino</th>
                                <th>Nro de días</th>
                                <th>Fecha de Partida</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divCambios">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Gestión de cambios
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetallePersonaCambios" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Solicitante</th>
                                <th>Aprobador</th>
                                <th>Tipo de aprobación</th>
                                <th>Tipo de cambio</th>
                                <th>Prioridad</th>
                                <th>Detalle Prioridad</th>
                                <th>Detalle del cambio</th>
                                <th>Fecha creación</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    DetallePersona();
    PersonaDetalleTicket(@ViewBag.IdPersona);
    PersonaDetalleOp(@ViewBag.IdPersona);
    PersonaDetalleActivos(@ViewBag.IdPersona, @ViewBag.IdCuenta);
    PersonaDetalleViaticos(@ViewBag.IdPersona);
    PersonaDetalleCambios(@ViewBag.IdPersona);

    function DetallePersona() {
        $("#divDetallePersona").show()
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").hide()
        $("#divDetalleActivo").hide()
        $("#divViaticos").hide()
        $("#divCambios").hide()

        $("#lPersona").removeClass("active");
        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lActivo").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lPersona").addClass("active");
        ObtenerDetallePersona();
    }
    function DetalleTicket() {
        $("#divDetallePersona").hide()
        $("#divDetalleTicket").show()
        $("#divDetalleOp").hide()
        $("#divDetalleActivo").hide()
        $("#divViaticos").hide()
        $("#divCambios").hide()

        $("#lPersona").removeClass("active");
        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lActivo").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lTicket").addClass("active");

    }
    function DetalleOp() {
        $("#divDetallePersona").hide()
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").show()
        $("#divDetalleActivo").hide()
        $("#divViaticos").hide()
        $("#divCambios").hide()

        $("#lPersona").removeClass("active");
        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lActivo").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lOp").addClass("active");
    }
    function DetalleActivo() {
        $("#divDetallePersona").hide()
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").hide()
        $("#divDetalleActivo").show()
        $("#divViaticos").hide()
        $("#divCambios").hide()

        $("#lPersona").removeClass("active");
        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lActivo").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lActivo").addClass("active");
    }
    function DetalleViaticos() {
        $("#divDetallePersona").hide()
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").hide()
        $("#divDetalleActivo").hide()
        $("#divViaticos").show()
        $("#divCambios").hide()

        $("#lPersona").removeClass("active");
        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lActivo").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lViaticos").addClass("active");

    }
    function DetalleCambios() {
        $("#divDetallePersona").hide()
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").hide()
        $("#divDetalleActivo").hide()
        $("#divViaticos").hide()
        $("#divCambios").show()

        $("#lPersona").removeClass("active");
        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lActivo").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lCambios").addClass("active");

    }

    function ObtenerDetallePersona() {
        $.ajax({
            url: "/Talent/DataUserEdit/@ViewBag.IdPersona",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                loadData();
            },
            error: function (source) {
            }
        });
    }

    function loadData() {
        $("#divDataUser").empty();
        $("#divDataUser2").empty();
        $("#divDataContract").empty();

        $.each(data['data'], function (index, value) {
            $("#divDataUser").append(
                '<div style="font-size:.9em; text-transform:capitalize;"><div style="font-size:1em; color:#444444;"><b>' + (data['data'][index]['User']).toLowerCase() + '</b></div>' +
                '<div class = "smallTitle" style="margin-bottom:15px;">' + (data['data'][index]['CAR_PERS']).toLowerCase() + '</div>' +
                '<div class = "smallField"><b>Celular:</b> <span class="smallTitle">' + (data['data'][index]['CEL_PERS']).toLowerCase() + '</span></div>' +
                '<div class = "smallField"><b>Anexo:</b> <span class="smallTitle">' + (data['data'][index]['EXT_PERS']).toLowerCase() + '</span></div>' +
                '<div class = "smallField"><span class="smallTitle" style="text-transform:none;">' + (data['data'][index]['EMA_ELEC']).toLowerCase() + '</span></div></div>');

            $("#divDataUser2").append(
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.NationalityTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NATI']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>' + (data['data'][index]['TYPE_DI']) + '</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NUM_TYPE_DI']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.EmissionDateDni</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EMISSION_DATE_DNI']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.ExpireDateDni</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EXPIRE_DATE_DNI']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.DateBirthTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['BIRTHDAY']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.GenereTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Sex']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-12">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.HomeAddressTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['ADDRESS']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.DegreeInstructionTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['DEGR_INST']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CivilStatusTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CIVI_STAT']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.PhoneNumberHouseTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['TEL_ENTI']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CellPhoneTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CEL_ENTI']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.PersonalEmailTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EMA_ENTI']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>Carrera Profesional</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Profesion']) + '</div>' +
                    '</div>' +

                '</div>');

            $("#divDataContract").append(
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CompanyTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['COM_NAME']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StatusTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NAM_STAT']) + '</div>' +
                    '</div>' +

                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.ConditionContractTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CONDITION']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDateTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['STAR_PERI']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.EndDateTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CESS_PER']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.TimeCompanyTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Tiempo']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.Usb</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['USB']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>Area</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NOM_AREA']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                       '<div class = "smallField"><b>@ResourceLanguaje.Resource.JobTitleTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CAR_PERS']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.SiteTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Site']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="form-row">' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.LocationTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Location']) + '</div>' +
                    '</div>' +
                    '<div class = "col-md-6">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.ClientEmailTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EMA_PERS']) + '</div>' +
                    '</div>' +
                '</div>');

        });
    }

    function PersonaDetalleTicket(id) {
        $('#tbDetallePersonaTicket').dataTable().fnDestroy();

        $('#tbDetallePersonaTicket').DataTable({
            responsive: true,
            "order": [[13, "desc"]],
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/PersonaDetalleTicket/" + id
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href="/DetailsTicket/Index/' + data.IdTicket + '\" target="_blank">' + data.CodigoTicket + '</a></center>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<p>' + data.Prioridad + ' (' + data.HoraPrioridad + ') </p>';
                    }
                },
                { data: "Estado" },
                { data: "TipoTicket" },
                { data: "Compania" },
                { data: "Categoria1" },
                { data: "Categoria2" },
                { data: "Categoria3" },
                { data: "Categoria4" },
                { data: "UsuarioCreación" },
                { data: "UsuarioSolicitante" },
                { data: "UsuarioAfectado" },
                { data: "UsuarioAsignado" },
                { data: "FechaCreacion" },
            ]
        });
    }

    function PersonaDetalleOp(id) {
        $('#tbDetallePersonaOp').dataTable().fnDestroy();

        $('#tbDetallePersonaOp').DataTable({
            responsive: true,
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/PersonaDetalleOp/" + id
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href="/OrderForm/Details/' + data.IdProyecto + '\" target="_blank">' + data.TipoOp + ' ' + data.Op + '</a></center>';
                    }
                },
                { data: "Titulo" },
                { data: "Compania" },
                { data: "CompaniaFinal" },
                { data: "Project" },
                { data: "Especialista" },
                { data: "FechaCompromiso" },
                { data: "FechaLimite" },
            ]
        });
    }

    function PersonaDetalleActivos(id, id1) {
        $('#tbDetallePersonaActivos').dataTable().fnDestroy();

        $('#tbDetallePersonaActivos').DataTable({
            responsive: true,
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/PersonaDetalleActivos/" + id+ "/"+ id1
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href="/Asset/Detalle/' + data.IdActivo + '\" target="_blank">' + data.CodigoActivo + '</a></center>';
                    }
                },
                { data: "Serie" },
                { data: "NombreActivo" },
                { data: "TipoActivo" },
                { data: "Marca" },
                { data: "ModeloComercial" },
                { data: "ModeloFabrica" },
                { data: "Lote" },
                { data: "Condicion" },
                { data: "Estado" },
                { data: "FechaInicio" },
                { data: "FechaFin" },
                { data: "UsuarioAsignado" },
            ]
        });
    }

    function PersonaDetalleViaticos(id) {
        $('#tbDetallePersonaViaticos').dataTable().fnDestroy();

        $('#tbDetallePersonaViaticos').DataTable({
            responsive: true,
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/PersonaDetalleViaticos/" + id
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href="/DeliverySustain/\" target="_blank">' + data.CodigoViatico + '</a></center>';
                    }
                },
                { data: "Solicitante" },
                { data: "Aprobador" },
                { data: "Justificacion" },
                { data: "Monto" },
                { data: "Moneda" },
                { data: "Destino" },
                { data: "NumeroDias" },
                { data: "FechaPartida" },
            ]
        });
    }

    function PersonaDetalleCambios(id) {
        $('#tbDetallePersonaCambios').dataTable().fnDestroy();

        $('#tbDetallePersonaCambios').DataTable({
            responsive: true,
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/PersonaDetalleCambios/" + id
            },
            columns: [
                { data: "Usuario" },
                { data: "Jefe" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href=/ChangeRequest/ResumenGestionCambio/' + data.IdChangeRequest + '\" target="_blank">' + data.TipoAprobacion+ '</a></center>';
                    }
                },
                { data: "ChangeType" },
                { data: "prioridad" },
                { data: "detallePrioridad" },
                { data: "DetalleCambio" },
                { data: "FechaCreacion" },
            ]
        });
    }


</script>