@{
    ViewBag.Title = "DetalleTicket";
    Layout = null;
}

<div class="card-header card-header-tab-animation">
    <ul class="nav nav-justified">
        <li class="nav-item"><a data-toggle="tab" id="tabTicket" class="active nav-link" onclick="DetalleTicket(this)"><i class="fa fa-tasks"></i> Ticket</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabOp" class="nav-link" onclick="DetalleOp(this)"><i class="fa fa-file"></i> OP</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabViaticos" class="nav-link" onclick="DetalleViaticos(this)"><i class="fa fa-calendar"></i> Viáticos</a></li>
        <li class="nav-item"><a data-toggle="tab" id="tabCambios" class="nav-link" onclick="DetalleCambios(this)"><i class="fa fa-cogs"></i> Gestión de Cambios</a></li>
    </ul>
</div>
@*<ul class="nav nav-tabs">
    <li role="presentation" class="active col-md-3" id="lTicket"><a onclick="DetalleTicket()">Ticket</a></li>
    <li role="presentation" class="col-md-3" id="lOp"><a onclick="DetalleOp()">OP</a></li>
    <li role="presentation" class="col-md-3" id="lViaticos"><a onclick="DetalleViaticos()">Viáticos</a></li>
    <li role="presentation" class="col-md-3" id="lCambios"><a onclick="DetalleCambios()">Gestión de Cambios</a></li>
</ul>*@
<div id="divDetalleTicket">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Detalle del Ticket
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetalleTicket" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Ticket</th>
                                <th>Tipo de Ticket</th>
                                <th>Prioridad</th>
                                <th>Estado</th>
                                <th>Compañía</th>
                                <th>Unidad de Negocio</th>
                                <th>Macroservicio</th>
                                <th>Servicio</th>
                                <th>Incidente/Requerimiento</th>
                                <th>Creado Por</th>
                                <th>Usuario Solicitante</th>
                                <th>Usuario Afectado</th>
                                <th>Usuario Asignado</th>
                                <th>Fecha Creación</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="divDetalleOp">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Detalle de Op
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetalleTicketOp" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Op</th>
                                <th>Titulo</th>
                                <th>Cliente</th>
                                <th>Cliente Final</th>
                                <th>Project Manager</th>
                                <th>Especialista</th>
                                <th>Fecha de Compromiso</th>
                                <th>Fecha Límite</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divViaticos">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header" style="height:47px">
            Viáticos
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetalleTicketViaticos" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Solicitante</th>
                                <th>Aprobador</th>
                                <th>Justificación</th>
                                <th>Monto</th>
                                <th>Moneda</th>
                                <th>Destino</th>
                                <th>Nro de días</th>
                                <th>Fecha de Partida</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divCambios">
    <br />
    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Gestión de cambios
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="tbDetalleTicketCambios" class="table table-bordered table-striped table-responsive" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Solicitante</th>
                                <th>Aprobador</th>
                                <th>Tipo de aprobación</th>
                                <th>Letra</th>
                                <th>Tipo de cambio</th>
                                <th>Prioridad</th>
                                <th>Detalle Prioridad</th>
                                <th>Detalle del cambio</th>
                                <th>Fecha creación</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    DetalleTicket(@ViewBag.IdTicket);
    TicketDetalleOp(@ViewBag.IdTicket);
    TicketDetalleViaticos(@ViewBag.IdTicket);
    TicketDetalleCambios(@ViewBag.IdTicket);

    function DetalleTicket() {
        $("#divDetalleTicket").show()
        $("#divDetalleOp").hide()
        $("#divViaticos").hide()
        $("#divCambios").hide()

        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lTicket").addClass("active");

        TicketDetalle(@ViewBag.IdTicket);
    }

    function DetalleOp() {
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").show()
        $("#divViaticos").hide()
        $("#divCambios").hide()

        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lOp").addClass("active");
    }
    function DetalleViaticos() {
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").hide()
        $("#divViaticos").show()
        $("#divCambios").hide()

        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lViaticos").addClass("active");

    }
    function DetalleCambios() {
        $("#divDetalleTicket").hide()
        $("#divDetalleOp").hide()
        $("#divViaticos").hide()
        $("#divCambios").show()

        $("#lTicket").removeClass("active");
        $("#lOp").removeClass("active");
        $("#lViaticos").removeClass("active");
        $("#lCambios").removeClass("active");
        $("#lCambios").addClass("active");

    }

    function TicketDetalle(id) {
        $('#tbDetalleTicket').dataTable().fnDestroy();

        $('#tbDetalleTicket').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/TicketDetalle/" + id
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href=\"/DetailsTicket/Index/' + data.IdTicket + '\" target="_blank">' + data.CodigoTicket + '</a></center>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<p>' + data.Prioridad + ' (' + data.HoraPrioridad + ') </p>';
                    }
                },
                { data: "Estado" },
                { data: "TipoTicket" },
                { data: "Compania" },
                { data: "Categoria1" },
                { data: "Categoria2" },
                { data: "Categoria3" },
                { data: "Categoria4" },
                { data: "UsuarioCreación" },
                { data: "UsuarioSolicitante" },
                { data: "UsuarioAfectado" },
                { data: "UsuarioAsignado" },
                { data: "FechaCreacion" },
            ],
            //"bPaginate": false,
            //"searching": false,
            //"info": false,
        });
    }

    function TicketDetalleOp(id) {
        $('#tbDetalleTicketOp').dataTable().fnDestroy();

        $('#tbDetalleTicketOp').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/TicketDetalleOp/" + id
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href=\"/OrderForm/Details/' + data.IdProyecto + '\" target="_blank">' + data.TipoOp + ' ' + data.Op + '</a></center>';
                    }
                },
                { data: "Titulo" },
                { data: "Compania" },
                { data: "CompaniaFinal" },
                { data: "Project" },
                { data: "Especialista" },
                { data: "FechaCompromiso" },
                { data: "FechaLimite" },
            ],
            //"bPaginate": false,
            //"searching": false,
            //"info": false,
        });
    }

    function TicketDetalleViaticos(id) {
        $('#tbDetalleTicketViaticos').dataTable().fnDestroy();

        $('#tbDetalleTicketViaticos').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/TicketDetalleViaticos/" + id
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href="/DeliverySustain/\" target="_blank">' + data.CodigoViatico + '</a></center>';
                    }
                },
                { data: "Solicitante" },
                { data: "Aprobador" },
                { data: "Justificacion" },
                { data: "Monto" },
                { data: "Moneda" },
                { data: "Destino" },
                { data: "NumeroDias" },
                { data: "FechaPartida" },
            ],
            //"bPaginate": false,
            //"searching": false,
            //"info": false,
        });
    }

    function TicketDetalleCambios(id) {
        $('#tbDetalleTicketCambios').dataTable().fnDestroy();

        $('#tbDetalleTicketCambios').DataTable({
            responsive: true,
            //"order": [[0, "asc"]],
            dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/TicketDetalleCambios/" + id
            },
            columns: [
                { data: "Usuario" },
                { data: "Jefe" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a href=\ChangeRequest/ResumenGestionCambio/' + data.IdChangeRequest + '\" target="_blank">' + data.TipoAprobacion + '</a></center>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><label style="background-color:' + data.Color + '" class="label">' + data.Letra + '</label></center>';
                    }
                },
                { data: "ChangeType" },
                { data: "prioridad" },
                { data: "detallePrioridad" },
                { data: "DetalleCambio" },
                { data: "FechaCreacion" },
            ],
            //"bPaginate": false,
            //"searching": false,
            //"info": false
        });
    }


</script>
