@model ERPElectrodata.Models.ASSET

@{
    ViewBag.Title = "";
    Layout = null;
}

<div class="afterMain">
    <div style="float:left; width:100%;">
        <div class="titleForm"><div class="title">CMDB Activos</div></div>
        <div class="bodyForm">
            <div id="divFindAsset" class="inBodyForm">
                <form id="ParametroActivo">
                    <fieldset>
                        <legend>Activos</legend>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Código de Activo
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.COD_ASSE)
                                    @Html.ValidationMessageFor(model => model.COD_ASSE)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Usuario
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_ENTI")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div style="width:220px">
                                    <div id="NewUser"></div>
                                    &nbsp;
                                    @Html.Hidden("Usuarios")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Contrato
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.IdContrato)
                                    @Html.ValidationMessageFor(model => model.IdContrato)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div style="width:220px">
                                    <div id="NewContrato"></div>
                                    @Html.Hidden("Contratos")
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Tipo de Activo
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_TYPE_ASSE)
                                    @Html.ValidationMessageFor(model => model.ID_TYPE_ASSE)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div style="width:220px">
                                    <input type="hidden" id="valTypeAsset" value="" />
                                    <div id="NewTypeAsset"></div>
                                    &nbsp;
                                    @Html.Hidden("ExpTypeAsset")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Marca
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_MANU)
                                    @Html.ValidationMessageFor(model => model.ID_MANU)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Modelo Comercial
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_COMM_MODE)
                                    @Html.ValidationMessageFor(model => model.ID_COMM_MODE)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Modelo de Fábrica
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_MANU_MODE)
                                    @Html.ValidationMessageFor(model => model.ID_MANU_MODE)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Lugar
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_SITE")
                                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Locación
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_LOCA")
                                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Estado
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_STAT_ASSE")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Condición
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_COND")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Catágogo de Servicios
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="IdCatalogo" name="IdCatalogo" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Número de Serie
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.SER_NUMB)
                                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Dirección MAC
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.MAC_ADRR)
                                    @Html.ValidationMessageFor(model => model.MAC_ADRR)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div style="float:left;">
                                <div class="editor-label">
                                    Nombre de Equipo
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.NAM_EQUI)
                                    @Html.ValidationMessageFor(model => model.SER_NUMB)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos" style="margin-bottom:5px;">
                            <div class="divSpace3"></div>
                            <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                                <div style=" float:left; padding:0px 15px 0px 0px; ">
                                    <button id="btnBuscar" class="k-button">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="bodyForm" style="margin-top:10px;">
    <div class="inBodyForm">
        <iframe id="RSActivo" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">


    $("#ID_ENTI").kendoComboBox({
        dataTextField: "CLIE",
        dataValueField: "ID_PERS_ENTI",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
            }
        },
        change: function (e) {
            AddNewUser()
        }
    });
    var ID_ENTI = $("#ID_ENTI").data("kendoComboBox");

    function AddNewUser() {

        var Name = ID_ENTI.text();
        var valor = ID_ENTI.value();

        var valUser = $("#Usuarios").val();
        if (valUser == "")
            valUser = "0,";

        var valores = valUser.split(',');
        var flag = 0;

        for (i = 0; i < valores.length; i++) {
            if (valores[i] == valor) {
                flag = 1;
            }
        }

        if (flag == 0) {

            $("#NewUser").append("<div id='diventi" + valor + "'>" + Name +
                    "<input type='hidden' name='IDENTI" + valor + "' id='IDENTI" + valor + "' value='" + valor + "'>" +
                    "<span>&nbsp;<a  onclick='BorrarUsuario(" + valor + ")' class='delete-link' title='Remove' href='javascript:void(0)'></a></span></div>");

            valUser = valUser + valor + ',';
            $("#Usuarios").val(valUser);
        }

    }

    $("#ID_TYPE_ASSE").kendoComboBox({
        index: 5,
        dataTextField: "NAM_TYPE_ASSE",
        dataValueField: "ID_TYPE_ASSE",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/TypeAsset/List?var=" + Math.random()
            }
        },
        change: function (e) {
            AddNewTypeAsset()
        }
    });
    var ID_TYPE_ASSE = $("#ID_TYPE_ASSE").data("kendoComboBox");

    function AddNewTypeAsset() {

        var Name = ID_TYPE_ASSE.text();
        var valor = ID_TYPE_ASSE.value();

        var valTypeAsset = $("#valTypeAsset").val();
        var valores = valTypeAsset.split(',');
        var flag = 0;

        for (i = 0; i < valores.length; i++) {
            if (valores[i] == valor) {
                flag = 1;
            }
        }

        if (flag == 0) {

            $("#NewTypeAsset").append("<div id='divname" + valor + "'>" + Name +
                    "<input type='hidden' name='IDTYPEASSET" + valor + "' id='IDTYPEASSET" + valor + "' value='" + valor + "'>" +
                    "<span>&nbsp;<a  onclick='BorrarTipoActivo(" + valor + ")' class='delete-link' title='Remove' href='javascript:void(0)'></a></span></div>");

            valTypeAsset = valTypeAsset + valor + ',';
            $("#valTypeAsset").val(valTypeAsset);
            $("#ExpTypeAsset").val(valTypeAsset);
        }

    }

    $("#ID_MANU").kendoComboBox({
        dataTextField: "NAM_MANU",
        dataValueField: "ID_MANU",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Manufacturer/List?var=" + Math.random()
            }
        }
    });
    var ID_MANU = $("#ID_MANU").data("kendoComboBox");

    $("#ID_COMM_MODE").kendoComboBox({
        dataTextField: "NAM_COMM_MODE",
        dataValueField: "ID_COMM_MODE",
        cascadeFrom: 'ID_MANU',
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/CommercialModel/List?var=" + Math.random()
            }
        }
    });
    var ID_COME_MODE = $("#ID_COMM_MODE").data("kendoComboBox");

    $("#ID_MANU_MODE").kendoComboBox({
        dataTextField: "NAM_MANU_MODE",
        dataValueField: "ID_MANU_MODE",
        cascadeFrom: 'ID_MANU',
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/ManufacturerModel/List?var=" + Math.random()
            }
        }
    });
    var ID_COME_MODE = $("#ID_COME_MODE").data("kendoComboBox");

    $("#ID_SITE").kendoComboBox({
        //index: 0,
        dataTextField: "NAM_SITE",
        dataValueField: "ID_SITE",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Site/List?var=" + Math.random()
            }
        }
    });
    var ID_SITE = $("#ID_SITE").data("kendoComboBox");

    $("#ID_LOCA").kendoComboBox({
        dataTextField: "NAM_LOCA",
        dataValueField: "ID_LOCA",
        cascadeFrom: 'ID_SITE',
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Location/ListAsset?var=" + Math.random()
            }
        }
    });
    var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

    $("#ID_STAT_ASSE").kendoComboBox({
        dataTextField: "NAM_STAT_ASSE",
        dataValueField: "ID_STAT_ASSE",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/StatusAsset/List?var=" + Math.random()
            }
        }
    });
    var ID_STAT_ASSE = $("#ID_STAT_ASSE").data("kendoComboBox");

    $("#ID_COND").kendoComboBox({
        dataTextField: "NAM_COND",
        dataValueField: "ID_COND",
        cascadeFrom: 'ID_STAT_ASSE',
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Condition/List?var=" + Math.random()
            }
        }
    });
    var ID_COND = $("#ID_COND").data("kendoComboBox");

    $("#IdContrato").kendoComboBox({
        dataTextField: "Nombre",
        dataValueField: "Id",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Contrato/Listar"
            }
        },
        change: function (e) {
            AddNewContract()
        }
    });
    var IdContrato = $("#IdContrato").data("kendoComboBox");

    var IdCatalogo = $("#IdCatalogo").kendoComboBox({
        autoBind: false,
        filter: "contains",
        dataTextField: "NombreServicio",
        dataValueField: "Id",
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data"
            },
            transport: {
                read: "/CatalogoServicio/Listar?var=" + Math.random()
            }
        }
    }).data("kendoComboBox");

    function AddNewContract() {

        var Name = IdContrato.text();
        var valor = IdContrato.value();

        var valContrato = $("#Contratos").val();
        if (valContrato == "")
            valContrato = "0,";

        var valores = valContrato.split(',');
        var flag = 0;

        for (i = 0; i < valores.length; i++) {
            if (valores[i] == valor) {
                flag = 1;
            }
        }

        if (flag == 0) {

            $("#NewContrato").append("<div id='divcont" + valor + "'>" + Name +
                    "<input type='hidden' name='IDCONT" + valor + "' id='IDCONT" + valor + "' value='" + valor + "'>" +
                    "<span>&nbsp;<a  onclick='BorrarContrato(" + valor + ")' class='delete-link' title='Remove' href='javascript:void(0)'></a></span></div>");

            valContrato = valContrato + valor + ',';
            $("#Contratos").val(valContrato);
        }

    }

    $("#btnBuscar").click(function () {
        event.preventDefault();
        var codigoActivo = $("#COD_ASSE").val();
        var usuario = $("#Usuarios").val();
        var contrato = $("#Contratos").val();
        var tipoActivo = $("#ExpTypeAsset").val();
        var marca = $("#ID_MANU").val();
        var modeloComercial = $("#ID_COMM_MODE").val();
        var modeloFabrica = $("#ID_MANU_MODE").val();
        var lugar = $("#ID_SITE").val();
        var locacion = $("#ID_LOCA").val();
        var estado = $("#ID_STAT_ASSE").val();
        var condicion = $("#ID_COND").val();
        var numeroSerie = $("#SER_NUMB").val();
        var direccionMAC = $("#MAC_ADRR").val();
        var nombreEquipo = $("#NAM_EQUI").val();
        var catalogoServicio = $("#IdCatalogo").val();

        window.frames["RSActivo"].src = '/Reporting/Cmdb/ReporteActivo.aspx?ca=' + codigoActivo + '&u=' + usuario + '&c=' + contrato + '&ta=' + tipoActivo + '&m='
            + marca + '&mc=' + modeloComercial + '&mf=' + modeloFabrica + '&l=' + lugar + '&lo=' + locacion + '&e=' + estado + '&cn=' + condicion + '&s=' + numeroSerie
            + '&d=' + direccionMAC + '&n=' + nombreEquipo + '&cs=' + catalogoServicio;
    });

    function BorrarTipoActivo(id) {
        $("#divname" + id + "").remove();
        var valores = $("#valTypeAsset").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#valTypeAsset").val(valores);
        $("#ExpTypeAsset").val(valores);
    }

    function BorrarUsuario(id) {
        $("#diventi" + id + "").remove();
        var valores = $("#Usuarios").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#Usuarios").val(valores);
    }

    function BorrarContrato(id) {
        $("#divcont" + id + "").remove();
        var valores = $("#Contratos").val();
        valores = valores.replace(',' + id + ',', ',');
        $("#Contratos").val(valores);
    }
</script>

