@{
    ViewBag.Title = "Reporte";
    //Layout = null;
}

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<div class="form-row">
    <div class="col-lg-5" style="width:100%">
        <div class="mb-2 card">
            <div class="card-header-tab card-header">
                FILTROS
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-5">
                        Fecha Inicio
                        <input type="text" class="form-control" id="dtFechaInicio" name="dtFechaInicio" value="@ViewBag.FechaInicio" />
                    </div>
                    <div class="col-md-5">
                        Fecha Fin
                        <input type="text" class="form-control" id="dtFechaFin" name="dtFechaFin" value="@ViewBag.FechaActual" />
                    </div>
                    <div class="col-md-2">
                        <br /> <button type="button" class="btn btn-primary btn-block" id="btnBuscarPM" onclick="Buscar();">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                CMDB
            </div>
            <div class="card-body" style="overflow-y: scroll; height: 650px;">
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="mb-3 card">
                            <div id="headingOne" class="card-header-tab card-header bg-primary" style="height:47px">
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                    1. Implementación
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapse1" aria-labelledby="headingOne" class="collapse">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="accordionI">
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseI1">
                                                        Op - Ticket OP (Últimos 100 registros)
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionI" id="collapseI1" class="collapse">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketI" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseI2">
                                                        Activos
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionI" id="collapseI2" class="collapse">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbActivosI" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseI3">
                                                        Personas
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionI" id="collapseI3" class="collapse">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbPersonaI" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header bg-success text-white" style="height:47px">
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse2">
                                    2. Outsourcing
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapse2" class="collapse">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="accordionO">
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGF">
                                                        GoldFields
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseGF" class="collapse">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketGF" class="table table-bordered table-striped" style="width: 100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody style="overflow-y: scroll; height: 150px;"></tbody>
                                                            </table>
                                                            <table id="tbActivosGF" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaGF" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseHB">
                                                        Hudbay
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseHB" class="collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketHB" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosHB" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaHB" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBN">
                                                        Buenaventura
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseBN" class="panel-collapse collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketBV" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaBV" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosBV" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="mb-3 card">
            <div class="card-header-tab card-header" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLU">
                    Lumina
                </button>
            </div>
            <div data-parent="#accordionO" id="collapseLU" class="collapse">
                <div class="card-body" style="overflow-y: scroll; height: 200px;">
                    <div class="col-md-12">
                        <table id="tbTicketLU" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Tickets</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table id="tbPersonaLU" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Personas</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
                                            @*<div class="mb-3 card">
            <div class="card-header-tab card-header" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseET">
                    El Toro
                </button>
            </div>
            <div data-parent="#accordionO" id="collapseET" class="collapse">
                <div class="card-body" style="overflow-y: scroll; height: 200px;">
                    <div class="col-md-12">
                        <table id="tbTicketET" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Tickets</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table id="tbPersonaET" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Personas</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCN">
                                                        Chinalco
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseCN" class="collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketCN" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosCN" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaCN" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMS">
                                                        Minsur
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseMS" class="collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketMS" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosMS" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaMS" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCV">
                                                        Cerro Verde
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseCV" class="collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketCV" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosCV" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaCV" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAM">
                                                        Antamina
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseAM" class="collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketAM" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosAM" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaAM" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLA">
                                                        Minera Los Andes
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseLA" class="collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketLA" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosLA" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaLA" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePA">
                                                        Pan American
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapsePA" class="collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketPA" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbActivosPA" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                            <table id="tbPersonaPA" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 card ">
                            <div class="card-header-tab card-header bg-warning text-white" style="height:47px">
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse3">
                                    3. Servicedesk
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapse3" class="collapse ">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="accordionS">
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseS1">
                                                        Op - Ticket OP (Últimos 100 registros)
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionS" id="collapseS1" class="collapse">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketS" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseS2">
                                                        Activos
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionS" id="collapseS2" class="panel-collapse collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbActivosS" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseS3">
                                                        Personas
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionS" id="collapseS3" class="panel-collapse collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbPersonaS" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header bg-danger text-white" style="height:47px">
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse4">
                                    4. NOC
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapse4" class="collapse">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="accordionN">
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseN1">
                                                        Op - Ticket OP (Últimos 100 registros)
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionN" id="collapseN1" class="collapse">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbTicketN" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tickets</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseN2">
                                                        Activos
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionN" id="collapseN2" class="panel-collapse collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbActivosN" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseN3">
                                                        Personas
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionN" id="collapseN3" class="panel-collapse collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbPersonaN" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Personas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header bg-alternate text-white" style="height:47px">
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse5">
                                    5. Infraestructura de TI
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapse5" class="collapse">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="accordionI">
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseINF2">
                                                        Activos
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionI" id="collapseINF2" class="panel-collapse collapse ">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbActivosINF" class="table table-bordered table-striped" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">Tipo activo</th>
                                                                        <th style="text-align:center">Activos</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7" style="width:100%">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                INFORMACIÓN DETALLADA
            </div>
            <div class="card-body">
                    <div id="divDetalle" style="width:100%"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#dtFechaInicio").kendoDatePicker().data("kendoDateTimePicker");
    $("#dtFechaFin").kendoDatePicker().data("kendoDateTimePicker");

    Buscar();
    //CargarAreas('divGoldFields', 'GOLD FIELDS', 4, 5, 0, 0);
    if(@ViewBag.Id == 2){
        $("#collapse1").addClass("show")
    }else if(@ViewBag.Id == 3){
        $("#collapse2").addClass("show")
    }else if(@ViewBag.Id == 4){
        $("#collapse3").addClass("show")
    }else if(@ViewBag.Id == 5){
        $("#collapse4").addClass("show")
    }else if(@ViewBag.Id == 6){
        $("#collapse4").addClass("show")
    }
        //Implementación
    else if(@ViewBag.Id == 7){
        $("#collapse1").addClass("show")
        $("#collapseI1").addClass("show")
    }else if(@ViewBag.Id == 8){
        $("#collapse1").addClass("show")
        $("#collapseI2").addClass("show")
    }else if(@ViewBag.Id == 9){
        $("#collapse1").addClass("show")
        $("#collapseI3").addClass("show")
    }
        //Outsourcing
    else if(@ViewBag.Id >= 10 && @ViewBag.Id <= 13){ //GOLDFIELD
        $("#collapse2").addClass("show")
        $("#collapseGF").addClass("show")
    }else if(@ViewBag.Id >= 14 && @ViewBag.Id <= 17){ //HUDBAY
        $("#collapse2").addClass("show")
        $("#collapseHB").addClass("show")

        //LUMINA Y EL TORO:
    @*}else if(@ViewBag.Id >= 17 && @ViewBag.Id <= 19){
        $("#collapse2").addClass("show")
        $("#collapseLU").addClass("show")*@
    @*}else if(@ViewBag.Id >= 20 && @ViewBag.Id <= 22){
        $("#collapse2").addClass("show")
        $("#collapseET").addClass("show")*@
    } else if(@ViewBag.Id >= 18 && @ViewBag.Id <= 21){ //BNV
        $("#collapse2").addClass("show")
        $("#collapseBN").addClass("show")
    }else if(@ViewBag.Id >= 30 && @ViewBag.Id <= 33){//CHINALCO
        $("#collapse2").addClass("show")
        $("#collapseCN").addClass("show")
    }else if(@ViewBag.Id >= 34 && @ViewBag.Id <= 37){//MINSUR
        $("#collapse2").addClass("show")
        $("#collapseMS").addClass("show")
    }else if(@ViewBag.Id >= 38 && @ViewBag.Id <= 41){//CERRO VERDE
        $("#collapse2").addClass("show")
        $("#collapseCV").addClass("show")
    }else if(@ViewBag.Id >= 43 && @ViewBag.Id <= 46){//ANTAMINA
        $("#collapse2").addClass("show")
        $("#collapseAM").addClass("show")
    }else if(@ViewBag.Id >= 47 && @ViewBag.Id <= 50){//LOS ANDES
        $("#collapse2").addClass("show")
        $("#collapseLA").addClass("show")
    }else if(@ViewBag.Id >= 51 && @ViewBag.Id <= 54){//PAN AMERICAN
        $("#collapse2").addClass("show")
        $("#collapsePA").addClass("show")
    }
    //Servicedesk
    else if(@ViewBag.Id == 22){
        $("#collapse3").addClass("show")
        $("#collapseS1").addClass("show")
    }else if(@ViewBag.Id == 23){
        $("#collapse3").addClass("show")
        $("#collapseS2").addClass("show")
    }else if(@ViewBag.Id == 24){
        $("#collapse3").addClass("show")
        $("#collapseS3").addClass("show")
    }
        //NOC
    else if(@ViewBag.Id == 25){
        $("#collapse4").addClass("show")
        $("#collapseN1").addClass("show")
    }else if(@ViewBag.Id == 26){
        $("#collapse4").addClass("show")
        $("#collapseN2").addClass("show")
    }else if(@ViewBag.Id == 27){
        $("#collapse4").addClass("show")
        $("#collapseN3").addClass("show")
    }
    //INFRAESTRUCTURA TI
    else if(@ViewBag.Id == 28){
        $("#collapse5").addClass("show")
    } else if(@ViewBag.Id == 29){
        $("#collapse5").addClass("show")
        $("#collapseINF2").addClass("show")
    }

    function MostrarTickets(id) {
        $('#divDetalle').empty();
        $('#divDetalle').load('/Cmdb/DetalleTicket/'+ id);
    }

    function MostrarActivos(id, id1) {
        $('#divDetalle').empty();
        $('#divDetalle').load('/Cmdb/DetalleActivos/' + id +'/'+ id1);
    }

    function MostrarPersonas(id, id1) {
        $('#divDetalle').empty();
        $('#divDetalle').load('/Cmdb/DetallePersonas/' + id + '/' + id1);
    }

    function Buscar() {
        //Implementación
        ListarTickets("tbTicketI", 4, 3, 4, 14);
        ListarPersonas("tbPersonaI", 4, 3, 4, 14);
        ListarActivos("tbActivosI", 4, 3, 4, 14);
        //Outsourcing
            //GoldFields
            ListarTickets("tbTicketGF", 1, 0, 0, 0);
            ListarPersonas("tbPersonaGF", 1, 1, 0, 0);
            ListarActivos("tbActivosGF", 1, 1, 0, 0);
            //ListarActivos("tbActivosGF", 1, 9, 22, 0);

            //Hudbay
            ListarTickets("tbTicketHB", 55, 0, 0, 0);
            ListarPersonas("tbPersonaHB", 55, 1, 0, 0);
            ListarActivos("tbActivosHB", 55, 1, 0, 0);
            //ListarActivos("tbActivosHB", 4, 1, 9, 0);
            
            //Buenaventura
            ListarTickets("tbTicketBV", 60, 0, 0, 0);
            ListarPersonas("tbPersonaBV", 60, 1, 0, 0);
            ListarActivos("tbActivosBV",60, 1, 0, 0);
            //ListarActivos("tbActivosBV", 4, 94, 83, 0);

            //Chinalco
            ListarTickets("tbTicketCN", 29, 0, 0, 0);
            ListarPersonas("tbPersonaCN", 29, 1, 0, 0);            
            ListarActivos("tbActivosCN", 29, 1, 0, 0);
            //ListarActivos("tbActivosCN", 4, 25, 38, 0);

            //Minsur
            ListarTickets("tbTicketMS", 56, 0, 0, 0);
            ListarPersonas("tbPersonaMS", 56, 1, 0, 0);
            ListarActivos("tbActivosMS", 56, 1, 0, 0);
            //ListarActivos("tbActivosMS",4, 1, 0, 0);

            //BuenaVentura
            //ListarTickets("tbTicketBV", 60, 0, 0, 0);
            //ListarPersonas("tbPersonaBV", 60, 1, 0, 0);
            //ListarActivos("tbActivosBV", 3, 0, 0, 0);
            //CerroVerde
            ListarTickets("tbTicketCV", 54, 0, 0, 0);
            ListarPersonas("tbPersonaCV", 54, 1, 0, 0);
            ListarActivos("tbActivosCV", 54, 25, 22, 0); //
            //ListarActivos("tbActivosCV", 4, 25, 22, 0); //

            //Antamina
            ListarTickets("tbTicketAM", 50, 0, 0, 0);
            ListarPersonas("tbPersonaAM", 50, 1, 0, 0);
            ListarActivos("tbActivosAM", 50, 1, 0, 0);
            //ListarActivos("tbActivosAM", 4, 1,9, 0);

            //MInera los Andes
            ListarTickets("tbTicketLA", 31, 0, 0, 0);
            ListarPersonas("tbPersonaLA", 31, 1, 0, 0);
            ListarActivos("tbActivosLA", 31, 1, 0, 0);
            //ListarActivos("tbActivosLA", 3, 0, 0, 0);

            //Pan American
            ListarTickets("tbTicketPA", 2, 0, 0, 0);
            ListarPersonas("tbPersonaPA", 2, 1, 0, 0);
            ListarActivos("tbActivosPA", 2, 1, 0, 0);
            //ListarActivos("tbActivosPA", 3, 0, 0, 0);

        //Servicedesk
        ListarTickets("tbTicketS", 4, 5, 0, 0);
        ListarPersonas("tbPersonaS", 4, 5, 0, 0);
        ListarActivos("tbActivosS", 4, 5, 0, 0);
        //Noc
        ListarTickets("tbTicketN", 4, 15, 0, 0);
        ListarPersonas("tbPersonaN", 4, 15, 0, 0);
        ListarActivos("tbActivosN", 4, 15, 0, 0);
        //INFRAESTRUCTURA TI
        ListarActivos("tbActivosINF", 4, 25, 0, 0);
    }

    function ListarTickets(div, IdCuenta, id, id1, id2) {

        $('#' + div).dataTable().fnDestroy();

        $('#' + div).DataTable({
            "order": [[0, "asc"]],
            //dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/ListarTickets/" + id + '/' + id1 + '/' + id2,
                "data": function (d) {
                    d.IdCuenta = IdCuenta,
                    d.FechaInicio = $("#dtFechaInicio").val() == '' ? 0 : $("#dtFechaInicio").val(),
                    d.FechaFin = $("#dtFechaFin").val() == '' ? 0 : $("#dtFechaFin").val()
                }
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a style="cursor:pointer" onclick="MostrarTickets(' + data.IdTicket + ')">' + data.DescripcionOp + ' <i class="fa fa-arrow-circle-right"></i></a> </center>';
                    }
                },
                //{ data: "CodigoTicket" },
            ],
            "bPaginate": false,
            //"searching": false,
            "info": false,
            //"columnDefs": [
            //{
            //    "targets": [0],
            //    "visible": false,
            //    "searchable": false
            //}
            //],
        });

    }

    function ListarPersonas(div, IdCuenta, id, id1, id2) {

        $('#' + div).dataTable().fnDestroy();

        $('#' + div).DataTable({
            "order": [[0, "asc"]],
            //dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/ListarPersonas/" + id + '/' + id1 + '/' + id2,
                "data": function (d) {
                    d.IdCuenta = IdCuenta
                }
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<center><a style="cursor:pointer" onclick="MostrarPersonas(' + data.IdPersEnti + ', ' + IdCuenta + ')">' + data.Persona + ' <i class="fa fa-arrow-circle-right"></i></a> </center>';
                    }
                },
                //{ data: "Persona" },
            ],
            "bPaginate": false,
            //"searching": false,
            "info": false,
            //"columnDefs": [
            //{
            //    "targets": [0],
            //    "visible": false,
            //    "searchable": false
            //}
            //],
        });

    }

    function ListarActivos(div, IdCuenta, id, id1, id2) {

        $('#' + div).dataTable().fnDestroy();

        $('#' + div).DataTable({
            "order": [[0, "asc"]],
            //dom: 'Bfrtip',
            ajax: {
                "url": "/Cmdb/ListarActivos/" + id + '/' + id1 + '/' + id2,
                "data": function (d) {
                    d.IdCuenta = IdCuenta,
                    d.FechaInicio = $("#dtFechaInicio").val() == '' ? 0 : $("#dtFechaInicio").val(),
                    d.FechaFin = $("#dtFechaFin").val() == '' ? 0 : $("#dtFechaFin").val()
                }
            },
            columns: [
                {data: "TipoActivo"},
               {
                   data: null,
                   render: function (data, type, row) {
                       return '<center><a style="cursor:pointer" onclick="MostrarActivos(' + data.IdActivo + ', ' + IdCuenta + ')">' + data.CodigoActivo + ' <i class="fa fa-arrow-circle-right"></i></a> </center>';
                   }
               },
            ],
            "bPaginate": false,
            //"searching": false,
            "info": false,
            //"columnDefs": [
            //{
            //    "targets": [0],
            //    "visible": false,
            //    "searchable": false
            //}
            //],
        });

    }

    function CargarAreas(div, NombreCuenta, IdCuenta, id, id1, id2) {
        $.ajax({
            url: "/Cmdb/ListarPersonas/" + id + '/' + id1 + '/' + id2,
            type: "GET",
            cache: false,
            dataType: "json",
            data: {
                IdCuenta: IdCuenta
            },
            success: function (source) {
                $("#" + div).empty();
                $("#" + div).append('<div class="inner">' +
                                                '<h2>' + NombreCuenta + '</h2>' +
                                            '</div>' +
                                            '<div class="icon">' +
                                                '<i class="ion ion-android-globe"></i>' +
                                            '</div>');
                $.each(source['data'], function (index, value) {
                    $("#" + div).append('<p>' + (source['data'][index]['Persona']) + ' <i class="fa fa-arrow-circle-right"></i></p>');
                });
            },
            error: function (source) {
                alert("Error Carga Areas");
            }
        });
    }

</script>
