@{
    Layout = null;
}

<div class="afterMain">
    <div style="float:left; width:100%; ">
        <div class="titleForm"><div class="title">CMDB Tickets</div></div>
        <div class="bodyForm">
            <div class="inBodyForm" id="divFindTicket">
                    <fieldset>
                        <legend>TICKET</legend>
                        <div style="float:left;">
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Código Ticket
                                </div>
                                <div class="k-textbox">
                                    @Html.Editor("CodigoTicket")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Estado
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("Estado")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Compañía Solicitante
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCompania")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Compañía Final
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCompaniaFinal")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Solicitante
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdPersona")
                                </div>
                            </div>
                        </div>
                        <div style="float:left;">
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Usuario Final
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdPersonaFinal")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Área Responsable
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCola")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Asignado a
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdPersonaAsignada")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Tipo Ticket
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdTipoTicket")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Prioridad
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdPrioridad")
                                </div>
                            </div>
                        </div>
                        <div style="float:left;">
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Unidad de Negocio
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCate1")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Macroservicio
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCate2")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Servicio
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCate3")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Incidente/Requerimiento
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCate4")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Catálogo de Servicios
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("IdCatalogo")
                                </div>
                            </div>
                        </div>
                        <div style="float:left;">
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Comentario
                                </div>
                                <div class="k-textbox">
                                    @Html.Editor("Comentario")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Fecha Inicio
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("FechaInicio")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Fecha Fin
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("FechaFin")
                                </div>
                            </div>
                            <div style="float:left; padding: 5px;">
                                <div class="editor-label">
                                    Creado por
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("UserId")
                                </div>
                            </div>
                        </div>
                        <div style="display:inline-block; float:right; padding:10px 10px 10px 5px;">
                            <button id="btnBuscar" class="k-button">Buscar</button>
                        </div>
                    </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="bodyForm" style="margin-top:10px;">
    <div class="inBodyForm">
        <iframe id="RSTicket" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var ID_STAT_END = $("#Estado").kendoComboBox({
            autoBind: true,
            index: -1,
            dataTextField: "NAM_STAT",
            filter: "contains",
            dataValueField: "ID_STAT",
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/StatusTicket/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_COMP = $("#IdCompania").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_COMP_END = $("#IdCompaniaFinal").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_CATE = $("#IdCate1").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategory?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_SUB_CATE = $("#IdCate2").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "IdCate1",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategory?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_CLAS = $("#IdCate3").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "IdCate2",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategory?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_SUB_CLAS = $("#IdCate4").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "IdCate3",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategory?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var UserId = $("#UserId").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "USUARIO",
            filter: "contains",
            dataValueField: "UserId",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Ticket/PersonCreateTicket?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI = $("#IdPersona").kendoComboBox({
            autoBind: false,
            cascadeFrom: "IdCompania",
            filter: "contains",
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/RequesterByCIA?_=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_END = $("#IdPersonaFinal").kendoComboBox({
            autoBind: false,
            cascadeFrom: "IdPersona",
            filter: "contains",
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AEUByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_TYPE_TICK = $("#IdTipoTicket").kendoComboBox({
            autoBind: false,
            index: 0,
            dataTextField: "NAM_TYPE_TICK",
            dataValueField: "ID_TYPE_TICK",
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeTicket/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PRIO = $("#IdPrioridad").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_PRIO",
            dataValueField: "ID_PRIO",
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Priority/List"
                }
            }
        }).data("kendoComboBox");

        var ID_QUEU = $("#IdCola").kendoComboBox({
            dataTextField: "QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%; height:35px; position:relative; ">' +
                        '<span><strong>${data.QUEU}</strong></span><br />' +
                        '<span style="font-size:.9em; position:absolute; top:15px;">${data.DES_QUEU}</span></div>',
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_ASSI = $("#IdPersonaAsignada").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "ASSI",
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
                                      '<div style="float:left;">${data.ASSI}</div>' +
                                      '<div style="float:right; ">(WL ${data.WorkLoad})</div>' +
                                  '</div>',
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AssigneForFind?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var IdCatalogo = $("#IdCatalogo").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "NombreServicio",
            dataValueField: "Id",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data"
                },
                transport: {
                    read: "/CatalogoServicio/Listar?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var START_DATE = $("#FechaInicio").kendoDateTimePicker().data("kendoDateTimePicker");
        var END_DATE = $("#FechaFin").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#btnBuscar").click(function () {
            event.preventDefault();
            var ct = $("#CodigoTicket").val();
            var e = $("#Estado").val();
            var c = $("#IdCompania").val();
            var cf = $("#IdCompaniaFinal").val();
            var p = $("#IdPersona").val();
            var pf = $("#IdPersonaFinal").val();
            var cl = $("#IdCola").val();
            var pa = $("#IdPersonaAsignada").val();
            var tt = $("#IdTipoTicket").val();
            var pr = $("#IdPrioridad").val();
            var c1 = $("#IdCate1").val();
            var c2 = $("#IdCate2").val();
            var c3 = $("#IdCate3").val();
            var c4 = $("#IdCate4").val();
            var cs = $("#IdCatalogo").val();
            var cm = $("#Comentario").val();
            var fi = $("#FechaInicio").val();
            var ff = $("#FechaFin").val();
            var u = $("#UserId").val();
            if ($("#FechaInicio").val() == "") {
                uploadDone("INICIO");
            } else if ($("#FechaFin").val() == "") {
                uploadDone("FIN");
            } else {
                window.frames["RSTicket"].src = '/Reporting/Cmdb/ReporteTicket.aspx?ct=' + ct + '&e=' + e + '&c=' + c + '&cf=' + cf + '&p=' + p +
                '&pf=' + pf + '&cl=' + cl + '&pa=' + pa + '&tt=' + tt + '&pr=' + pr + '&c1=' + c1 + '&c2=' + c2 + '&c3=' + c3 +
                '&c4=' + c4 + '&cs=' + cs + '&cm=' + cm + '&fi=' + fi + '&ff=' + ff + '&u=' + u;
            }
        });

    });


</script>


<script type="text/javascript">

    function uploadDone(msg) {
        if (msg == "INICIO") {
            winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>Seleccione la Fecha de Inicio</div>" +
                "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                "<button id='continuee' class='k-button'>Continuar</button>" +
                "</div></div>"
                , 400, 140);
            $("#continuee").focus();
            var undo = $("#continuee")
                .bind("click", function () {
                    closeWinModalPopUp();
                });
        }
        else {
            winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>Seleccione la Fecha Fin</div>" +
                "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                "<button id='continuee' class='k-button'>Continuar</button>" +
                "</div></div>"
                , 400, 140);
            $("#continuee").focus();
            var undo = $("#continuee")
                .bind("click", function () {
                    closeWinModalPopUp();
                });
        }
    }
</script>