@model ERPElectrodata.Models.DETAILS_TICKET

@{
    ViewBag.Title = "Create";
}

<h2>Create </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>DETAILS_TICKET</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_DETA_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_DETA_TICK)
            @Html.ValidationMessageFor(model => model.ID_DETA_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TICK, "TICKET")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_TICK", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_STAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_STAT)
            @Html.ValidationMessageFor(model => model.ID_STAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_CLIE, "CLIENT")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_CLIE", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_CLIE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_QUEU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_QUEU)
            @Html.ValidationMessageFor(model => model.ID_QUEU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TICK_PARENT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_TICK_PARENT)
            @Html.ValidationMessageFor(model => model.ID_TICK_PARENT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TYPE_DETA_TICK, "TYPE_DETAILS_TICKET")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_TYPE_DETA_TICK", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_TYPE_DETA_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COM_DETA_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COM_DETA_TICK)
            @Html.ValidationMessageFor(model => model.COM_DETA_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FEC_SCHE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FEC_SCHE)
            @Html.ValidationMessageFor(model => model.FEC_SCHE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CREATE_DETA_INCI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CREATE_DETA_INCI)
            @Html.ValidationMessageFor(model => model.CREATE_DETA_INCI)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
