@model ERPElectrodata.Models.DETAILS_TICKET

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DETAILS_TICKET</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_DETA_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_DETA_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TICKET.COD_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TICKET.COD_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_STAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_STAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT.SEX_CLIE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT.SEX_CLIE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_QUEU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_QUEU)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_TICK_PARENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_TICK_PARENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPE_DETAILS_TICKET.NAM_TYPE_DETA_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPE_DETAILS_TICKET.NAM_TYPE_DETA_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COM_DETA_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COM_DETA_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FEC_SCHE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FEC_SCHE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CREATE_DETA_INCI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CREATE_DETA_INCI)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
