@model ERPElectrodata.Models.TRANSACTION

<style type="text/css">
    .FondoGris01
    {
        background-color: #F7F7F7;
        display:inline-block;
        text-align:center;
        vertical-align:middle;
        padding: 2px 0 0 0;
        width:98%;
    }
</style>

@{
    ViewBag.Title = "Details";
}

@* CREATE ASSET *@
<div>
    <div style="float:left;width:60%">
        <div class="titleForm">
            <div class="title">Details Transaction</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm">
                @using (Html.BeginForm("Edit", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEditTransaction", target = "upload_target"  }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>TRANSACTION</legend>
                        @Html.HiddenFor(model=>model.ID_TRAN)
                        @Html.HiddenFor(model=>model.TYP_CHAN)
                        <div class="divFondoUno">            
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Type
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("ID_TYPE_TRAN")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Category
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model=>model.ID_CATE_TRAN)
                                    @Html.ValidationMessageFor(model => model.ID_CATE_TRAN)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                     @ResourceLanguaje.Resource.Currency
                                </div>
                                <div class="k-textbox">
                                    <input readonly="readonly" type="text" value="@ViewData["MONEY"]" id="Currency" name="Currency"/>
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">            
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Year
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("YEA_TRAN")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Month
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model=>model.ID_ACCO_MONT)
                                    @Html.ValidationMessageFor(model => model.ID_ACCO_MONT)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                     @ResourceLanguaje.Resource.Date @ResourceLanguaje.Resource.DateFormat
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DAT_TRAN)
                                    @Html.ValidationMessageFor(model => model.DAT_TRAN)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">            
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Amount
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.AMO_TRANS)
                                    @Html.ValidationMessageFor(model => model.AMO_TRANS)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3"> 
                                <div class="editor-label">
                                    IGV
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.IGV_TRAN)
                                    @Html.ValidationMessageFor(model => model.IGV_TRAN)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3"> 
                                <div class="editor-label">
                                    Total
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("TOT_TRAN")
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">            
                            <div class="divSpace3"></div>
                            <div style="width:95.5%;float:left;">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Summary
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DES_TRANS)
                                    @Html.ValidationMessageFor(model => model.DES_TRANS)
                                </div>
                            </div>

                        </div>
                        <div class="divFondoUno">
                            <div style="width: 96%; float:left; padding: 0px 0px 0 15px;" id="listattach">                                
                                <input name="files" id="files" type="file" />
                            </div>
                        </div>
                        <div style="display:inline-block; float:right; padding:0px 15px 15px 5px;">
                            <div style=" float:left; padding:0px 15px 0px 0px; ">
                                <button id="submit" class="k-button" >@ResourceLanguaje.Resource.BtnSave</button>
                            </div>
                            <button id="reset" class="k-button">Cancel</button>
                        </div>        
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div style="float:right;width:39%;">
        <div class="titleForm">
            <div class="title">Attach</div>            
        </div>
        <div class="bodyForm">
            <div class="inBodyForm">
                <div id="divAssetsAdd" style="text-align:center"></div>
            </div>
        </div>        
    </div>
</div>
<iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>

<script type="text/javascript">

    $("#reset").click(function (event) {
        event.preventDefault();

        var title = '@ResourceLanguaje.Resource.OperationCancelled';
        var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
        "<div style='padding:10px 0px 10px 0px;'>The operation to perform was cancelled</div>" +
        "<div style='float:right; padding:20px 6px 0px 6px; font-size:0.9em;'>" +
        "<button id='btnContinuer' class='k-button'>Continue</button>" +
        "</div></div>";

        winPopUpModal(title, body, 400, 128);

        $("#btnContinuer").bind("click", function () {
            closeWinModalPopUp();
            var newurl = location.href.replace("Transaction/Details/" + "@ViewBag.ID_TRAN", "Financial/Index");
                location.replace(newurl);
            });

            $("#closebtnmodal").click(function () {
                var newurl = location.href.replace("Transaction/Details/" + "@ViewBag.ID_TRAN", "Financial/Index");
                location.replace(newurl);
            });

        });

    function uploadDone(msg, code) {

        if (msg == "OK") {
            closeWinModalPopUpLoad();
            winPopUpModal("Information Saved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:10px 0px 10px 0px;'>Transaccion information was succesfully saved</div>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continue</button>" +
           "</div></div>"
             , 400, 140);

            var undo = $("#continues")
           .bind("click", function () {
               closeWinModalPopUp();
               location.reload(true);
           });

            $("#closebtnmodal").click(function () {
                location.reload(true);
            });
        }
        else {
            closeWinModalPopUpLoad();

            var titleAsset = '';
            var messageAsset = '';
            if (code == '0') {
                titleAsset = '@ResourceLanguaje.Resource.InformationMissing';
                messageAsset = '@ResourceLanguaje.Resource.InformationMissingMsn';
            }
            else if (code == '1') {
                titleAsset = '@ResourceLanguaje.Resource.BasedDrawback';
                messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }

        winPopUpModal(titleAsset, "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
           "<div style='padding:10px 0px 10px 0px;'>" + messageAsset + "</div>" +
               "<div style='float:right; padding:30px 0px 0px 0px; '>" +
               "<button id='continuee' class='k-button'>Continue</button>" +
               "</div></div>"
               , 400, 140);

        var undo = $("#continuee")
        .bind("click", function () {
            closeWinModalPopUp();
        });
    }
}
</script>

<script type="text/javascript">

    $("#ID_TYPE_TRAN").kendoComboBox({
        dataTextField: "NAM_TYPE_TRAN",
        dataValueField: "ID_TYPE_TRAN",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/TypeTransaction/List?var=" + Math.random()
            }
        }
    });
    var ID_TYPE_TRAN = $("#ID_TYPE_TRAN").data("kendoComboBox");

    ID_TYPE_TRAN.bind("change", function (e) {
        if (ID_TYPE_TRAN.dataItem().ID_TYPE_TRAN == 2) {
            IGV_TRAN.value(0);
        }
    });

    $("#ID_CATE_TRAN").kendoComboBox({
        cascadeFrom: "ID_TYPE_TRAN",
        dataTextField: "NAM_CATE_TRAN",
        dataValueField: "ID_CATE_TRAN",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/CategoryTransaction/List?var=" + Math.random()
            }
        }
    });

    var ID_CATE_TRAN = $("#ID_CATE_TRAN").data("kendoComboBox");

    ID_TYPE_TRAN.bind("dataBound", function (e) {
        ID_TYPE_TRAN.value(@ViewBag.ID_TYPE_TRAN);
    });

    $("#YEA_TRAN").kendoComboBox({
        dataTextField: "ID_ACCO_YEAR",
        dataValueField: "ID_ACCO_YEAR",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountingYear/List?var=" + Math.random()
            }
        }
    });
    var YEA_TRAN = $("#YEA_TRAN").data("kendoComboBox");
    YEA_TRAN.bind("dataBound", function (e) {
        YEA_TRAN.value(@ViewBag.Anio);
    });

    $("#ID_ACCO_MONT").kendoComboBox({
        cascadeFrom: "YEA_TRAN",
        dataTextField: "NAM_ACCO_MONT",
        dataValueField: "ID_ACCO_MONTH",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountingMonth/List?var=" + Math.random()
            }
        }
    });
    var ID_ACCO_MONT = $("#ID_ACCO_MONT").data("kendoComboBox");

    var DAT_TRAN = $("#DAT_TRAN").kendoDateTimePicker().data("kendoDateTimePicker");
    DAT_TRAN.value("@ViewBag.DAT_TRAN");

    $("#IGV_TRAN").kendoNumericTextBox();
    $("#AMO_TRANS").kendoNumericTextBox();
    $("#TOT_TRAN").kendoNumericTextBox();

    var AMO_TRANS = $("#AMO_TRANS").data("kendoNumericTextBox");
    var IGV_TRAN = $("#IGV_TRAN").data("kendoNumericTextBox");
    var TOT_TRAN = $("#TOT_TRAN").data("kendoNumericTextBox");

    TOT_TRAN.value(@ViewBag.TTTransac);

    AMO_TRANS.bind("change", function (e) {
        if (ID_TYPE_TRAN.value() == 1) {
            IGV_TRAN.value(AMO_TRANS.value() * 0.18);
            TOT_TRAN.value(AMO_TRANS.value() * 1.18);
        }
        else if (ID_TYPE_TRAN.value() == 2) {
            TOT_TRAN.value(AMO_TRANS.value());
            IGV_TRAN.value(0);
        }
    });

    TOT_TRAN.bind("change", function (e) {
        if (ID_TYPE_TRAN.value() == 1) {
            IGV_TRAN.value((TOT_TRAN.value() / 1.18) * 0.18);
            AMO_TRANS.value(TOT_TRAN.value() / 1.18);
        }
        else if (ID_TYPE_TRAN.value() == 2) {
            AMO_TRANS.value(TOT_TRAN.value());
            IGV_TRAN.value(0);
        }
    });

    $("#files").kendoUpload({
        localization: {
            select: "Attach"
        }
    });

    $("#DAT_TRAN").kendoDateTimePicker();
    $("#DES_TRANS").kendoEditor({
        tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",       
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
        ], encoded: false
    });

    CargarAdjuntos(@ViewBag.ID_TRAN);

    function CargarAdjuntos(id) {
        $.ajax({
            url: "/Transaction/ListAdjuntos/" + id,
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                showListaAsset();
            },
            error: function (source) {
                data = source;
                showListaAsset();
            }
        });
    }

    function showListaAsset() {
        $("#divAssetsAdd").append('<div style="height: 5px; background-color:white;">');
        $.each(data['data'], function (index, value) {
            var strHtml =
                '<div id="divDetailFile_' + (data['data'][index]['ID_ATTA']) + '" class ="FondoGris01" onmouseover=\'this.style.background="#F3F3F3"\' onmouseout=\'this.style.background="#F7F7F7"\'>' +
                        '<div class = "casilla2">' +
                            '<div class = "divFile">' + (data['data'][index]['fileName']) + '</div>' +
                        '</div>' +
                        '<div onclick="removeAsset(this);" id="removeAsset_' + (data['data'][index]['ID_ATTA']) + '" style="font-weight: bold; float:right; top:-1px; right:1px; text-align: center; position: relative; height: 30px; width: 40px; background-color: #FFFFFF; cursor: pointer; padding-top: 10px;" title="@ResourceLanguaje.Resource.Delete" onmouseover=\'this.style.background="#B21E1E"; this.style.color="#FFFFFF";\' onmouseout=\'this.style.background="#FFFFFF"; this.style.color="#000000";\'>X</div>' +
                    '</div>' +
                    '</div><div id="divSpaceFile_' + (data['data'][index]['ID_ATTA']) + '" style="height: 5px">';

            $("#divAssetsAdd").append(strHtml);
        });
    }

    function removeAsset(c) {
        var elem = c.id.split('_');
        winPopUpModal("@ResourceLanguaje.Resource.Delete", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
       "<div style='padding:10px 0px 10px 0px;' style='font-size:.9em;'>Are you sure to delete the attachment?</div>" +
       "<div style='float:right; padding:20px 0px 0px 0px; '>" +
       "<button id='btnYes' class='k-button' style='font-size:.9em;'>@ResourceLanguaje.Resource.Yes</button>&nbsp;&nbsp;<button id='btnNO' class='k-button' style='font-size:.9em;'>No</button></div></div>"
       , 350, 130);

        var undo = $("#btnYes")
            .bind("click", function () {
                $.ajax({
                    url: "/Transaction/DeleteAttach/" + elem[1],
                    data: "var=" + Math.random(),
                    type: "GET",
                    dataType: "text",
                    success: function (dato) {
                        if (dato == 'OK') {
                            $('#divDetailFile_' + String(elem[1])).remove();
                            $('#divSpaceFile_' + String(elem[1])).remove();
                            closeWinModalPopUp();
                        }
                        else { closeWinModalPopUp(); alert('ERROR'); }
                    },
                    error: function (dato) {
                        alert('ERROR');
                    }
                });
            });

        var undo = $("#btnNO")
            .bind("click", function () {
                closeWinModalPopUp();
            });

        $("#closebtnmodal").click(function () {
            closeWinModalPopUp();
        });

    }
</script>