@model ERPElectrodata.Models.TRANSACTION

@{
    ViewBag.Title = "Find";
    Layout = null;
}


<div class="afterMain">
    <div style="float:left; width:40%;">
        <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.FindTransaction</div></div>
        <div class="bodyForm">
            <div id="divFindAsset" class="inBodyForm">
                @using (Html.BeginForm("Find", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTransactionFind", target = "upload_target" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>TRANSACTION</legend>        
                            <div class="divFondoUno">
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.Type
                                    </div>
                                    <div class="editor-field">
                                        @Html.Editor("ID_TYPE_TRAN")
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.Category
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.ID_CATE_TRAN)
                                        @Html.ValidationMessageFor(model => model.ID_CATE_TRAN)
                                    </div>
                                </div>
                            </div>
                            <div class="divFondoDos">
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.Year
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBox("YEA_TRAN")
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.Month
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.ID_ACCO_MONT)
                                        @Html.ValidationMessageFor(model => model.ID_ACCO_MONT)
                                    </div>
                                </div>  
                            </div>
                            <div class="divFondoUno">   
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.UserName
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.UserId )
                                        @Html.ValidationMessageFor(model => model.UserId)
                                    </div>
                                </div>                                                          
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.KeyWord
                                    </div>
                                    <div class="k-textbox">
                                        @Html.TextBoxFor(model => model.DES_TRANS )
                                        @Html.ValidationMessageFor(model => model.DES_TRANS)
                                    </div>
                                </div>                                
                            </div>
                            <div class="divFondoDos">            
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.Amount
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.AMO_TRANS)
                                        @Html.ValidationMessageFor(model => model.AMO_TRANS)
                                    </div>
                                </div>                                
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        Total
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBox("TOT_TRAN")
                                    </div>
                                </div>
                            </div>
                            <div class="divFondoUno">
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.StartDate
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBox("START_DATE")
                                    </div>
                                </div>    
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.EndDate
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBox("END_DATE")
                                    </div>
                                </div>
                            </div>
                            <div class="divFondoUno" style="margin-bottom:5px;">
                                <div class="divSpace3"></div>
                                <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                                    <div style=" float:left; padding:0px 15px 0px 0px; ">
                                        <button id="submit" class="k-button" onclick="findTransaccion(); return false;">@ResourceLanguaje.Resource.BtnFind</button>
                                    </div>
                                </div>
                            </div>
                            <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px; display:none;"></iframe>
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div style="width:1%;min-width:5px;height:1px;float:left;"></div>
    <div style="float:right;width:59%;">
        <div style="float:left; width:99.4%;">
            <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.Type</div></div>
            <div class="bodyForm"><div id="divAssetByType" class="inBodyForm">
                <div>
                    <div id="EqbyType" ></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<div id="gridTransaction" class="contentView">    
</div>
<div style="clear:both;"></div>
<div id="pagerTransaction" class="contentViewPager">
</div>

<script type="text/javascript">

    $("#AMO_TRANS").kendoNumericTextBox();
    $("#TOT_TRAN").kendoNumericTextBox();    
    var START_DATE = $("#START_DATE").kendoDateTimePicker().data("kendoDateTimePicker");
    var END_DATE = $("#END_DATE").kendoDateTimePicker().data("kendoDateTimePicker");

    $("#YEA_TRAN").kendoComboBox({
        dataTextField: "ID_ACCO_YEAR",
        dataValueField: "ID_ACCO_YEAR",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountingYear/List?var=" + Math.random()
            }
        }
    });
    var YEA_TRAN = $("#YEA_TRAN").data("kendoComboBox");

    $("#ID_ACCO_MONT").kendoComboBox({
        cascadeFrom: "YEA_TRAN",
        dataTextField: "NAM_ACCO_MONT",
        dataValueField: "ID_ACCO_MONTH",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountingMonth/List?var=" + Math.random()
            }
        }
    });

    var ID_ACCO_MONT = $("#ID_ACCO_MONT").data("kendoComboBox");

    ID_ACCO_MONT.bind('dataBound', function (e) {
        ID_ACCO_MONT.value(YEA_TRAN.dataItem().DEFAULT);
    });

    $("#ID_TYPE_TRAN").kendoComboBox({
        dataTextField: "NAM_TYPE_TRAN",
        dataValueField: "ID_TYPE_TRAN",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/TypeTransaction/List?var=" + Math.random()
            }
        }
    });
    var ID_TYPE_TRAN = $("#ID_TYPE_TRAN").data("kendoComboBox");

    $("#ID_CATE_TRAN").kendoComboBox({
        cascadeFrom: "ID_TYPE_TRAN",
        dataTextField: "NAM_CATE_TRAN",
        dataValueField: "ID_CATE_TRAN",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/CategoryTransaction/List?var=" + Math.random()
            }
        }
    });
    var ID_CATE_TRAN = $("#ID_CATE_TRAN").data("kendoComboBox");

    $("#UserId").kendoComboBox({
        dataTextField: "User",
        dataValueField: "UserId",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/ListUser?var=" + Math.random()
            }
        }
    });
    var UserId = $("#UserId").data("kendoComboBox");

    ID_CATE_TRAN.bind('dataBound', function (e) {
        ID_CATE_TRAN.value(ID_TYPE_TRAN.dataItem().DEFAULT);
    });

    $("#DAT_TRAN").kendoDateTimePicker();

</script>

<script type="text/javascript">    

    function findTransaccion() {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Transaction/FindResult/0?" + $('#FrmTransactionFind').serialize(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerTransaction").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 65],
            refresh: true
        });

        $("#gridTransaction").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });

        return false;
    }

    findTransaccion();
</script>

<script type="text/x-kendo-tmpl" id="template">
    <div class="incidentHomeList">
        <div class = "incidentHomeListBlock1 hasLayout">
            <div class = "incidentHomeListHeader">  
                <div class="FondoNegro">
                    <div id="${ID_TRAN}" onclick="child(this)">
                    </div>
                    <div class="status">
                        ${NAM_CATE_TRAN}
                    </div>
                    <div class="incidentHomeRequesterIcon" title="Created by">
                        ${usuario}
                    </div>
                    <div class="incidentHomeExpTime" title="Date Transaction">
                        Date: ${DAT_TRAN}
                    </div>
                    <div class="incidentHomeCreate" title="Creation date @ResourceLanguaje.Resource.DateFormat">
                        Create: ${CREATE_TRAN}
                    </div>
                    <div class="incidentHomeModified" title="Modification date @ResourceLanguaje.Resource.DateFormat">
                        Modified: ${MODIFIED_TRAN}
                    </div>
                </div>
                <div class="${CSS_TYPE_TRAN}">
                    ${NAM_TYPE_TRAN}
                </div>
            </div>
        </div>
        <div class = "incidentHomeSumary" >
            <a href="/Transaction/Details/${ID_TRAN}" TARGET='_BLANK' style="height:100%">#= DES_TRANS #</a>
        </div>
        <div class="contraya">
            <div class="raya"></div>
        </div>
        <div class="incidentHomeRes">
            <div class="ticket">${Mes} - ${Anio}</div>
            <div class="cateTicket" >@ResourceLanguaje.Resource.Amount: ${SIM_MONE_ACCO} ${AMO_TRANS}</div> 
            <div class="viaTicket">IGV: ${SIM_MONE_ACCO} ${IGV_TRAN}</div>
            <div class="createBy">Total: ${SIM_MONE_ACCO} ${TOT_TRAN}</div>
            <div class="assignedTo">@ResourceLanguaje.Resource.TypeChange: ${TYP_CHAN}</div>
        </div>
    </div>

    <div  id="btn${ID_TRAN}">
    </div>

    <div style="clear:both">
    </div>
</script>