@{
//Layout = null;
}
@*<script src="~/Scripts/highcharts/highcharts.js"></script>
<script src="~/Scripts/highcharts/highcharts-more.js"></script>
<script src="~/Scripts/highcharts/modules/solid-gauge.src.js"></script>
<script src="~/Scripts/highcharts/modules/exporting.js"></script>*@

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Indicadores
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label id="" for="" class="">Clientes </label>
                            <input type="text" id="ID_CLIE_REP" name="ID_CLIE_REP" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label id="" for="" class="">Desde </label>
                            <input type="text" id="SIN_DATE" name="SIN_DATE" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label id="" for="" class="">Hasta </label>
                            <input type="text" id="TO_DATE" name="TO_DATE" />
                        </div>
                    </div>
                    <div class="col-md-3" id="divSubCuenta">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Sub Cuenta</label>
                                <div class="position-relative form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rbTodos" name="rbSubCuenta" class="form-check-input" value="0" checked> TODOS
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><br /></label>
                                <div class="position-relative form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rbInterno" name="rbSubCuenta" class="form-check-input" value="1"> INTERNO
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><br /></label>
                                <div class="position-relative form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rbExterno" name="rbSubCuenta" class="form-check-input" value="2"> EXTERNO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label id="" for="" class="">&nbsp; </label>
                            <button id="btnBuscar" onclick="fnBuscar(); return false;" class="mb-2 mr-2 btn-pill btn btn-primary btn-block"><span>Buscar</span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Estado Del Ticket
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div id="STATUS_TICKET_PIE"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div id="STATUS_CATE_BAR"></div>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-10">
                        &nbsp;  &nbsp;  &nbsp;
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="mb-2 mr-2 btn-pill btn btn-info btn-block" id="btnReportByStatus"><span class="Reporte"></span></button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12" id="rs-tickets-wrapper" style="display:none;">
                        <iframe id="RSStatus" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Prioridad Del Ticket
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div id="PRIO_TICKET_PIE"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div id="PRIO_CATE_BAR"></div>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-10">
                        &nbsp;  &nbsp;  &nbsp;
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="mb-2 mr-2 btn-pill btn btn-info btn-block" id="btnReportByPriority"><span class="Reporte"></span></button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12" id="rs-priority-wrapper" style="display:none;">
                        <iframe id="RSPriority" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Grado De Respuestas
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div id="GRADE_RESPONSE_SURVEY"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-header">
                Cantidad De Respuestas
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div id="REPLY_SURVEY"></div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="IdIdioma" name="IdIdioma" value="@Session["IdIdioma"]" />


<script type="text/javascript">
    $(document).ready(function () {

        cambioIdiomaTexto();

        function addDays(theDate, days) {
            return new Date(theDate.getTime() + days * 24 * 60 * 60 * 1000);
        }
        var yesterday = addDays(new Date(), -1);
        $("#TO_DATE").kendoDatePicker({ value: new Date() }).data("kendoDatePicker");
        $("#SIN_DATE").kendoDatePicker({ value: yesterday }).data("kendoDatePicker");
        
        if (@Session["ID_ACCO"] != 4) {
            $("#divSubCuenta").css("display", "none");
        }

        //Lista de Clientes
        var ID_CLIE_REP = $("#ID_CLIE_REP").kendoComboBox({
            autoBind: true,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            },
            change: function (e) {
                if (ID_CLIE_REP.dataItem()) {
                    var idclient = ID_CLIE_REP.dataItem().ID_ENTI;
                    IND_STATUS_TICK(idclient);
                    IND_PRIO_TICK(idclient);
                    FN_GRADE_RESPONSE_SURVEY(idclient);
                    fn_RESPONSE(idclient);
                }
                else {
                    $('#ID_CLIE_REP').attr('value', 0);
                }
            },
            databound: function (e) {
                if (ID_CLIE_REP.dataItem()) {
                    var idclient = ID_CLIE_REP.dataItem().ID_ENTI;
                    IND_STATUS_TICK(idclient);
                    IND_PRIO_TICK(idclient);
                    FN_GRADE_RESPONSE_SURVEY(idclient);
                    fn_RESPONSE(idclient);
                }
            }
        }).data("kendoComboBox");
        var cb_CLIENT = $("#ID_CLIE_REP").data("kendoComboBox");
        var id_CLIENT = cb_CLIENT.value();
        if (!id_CLIENT) { id_CLIENT = 0; }
        //IND_STATUS_TICK(id_CLIENT);
        //IND_PRIO_TICK(id_CLIENT);
        //FN_GRADE_RESPONSE_SURVEY(id_CLIENT);
        //fn_RESPONSE(id_CLIENT);
    });

    function cambioIdiomaTexto() {
        idIdioma = $("#IdIdioma").val();
        if (idIdioma != 0) {
            $.ajax({
                url: "/Account/cambioIdiomaTexto?IdIdioma=" + idIdioma,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (source) {
                    data = source;
                    var valTextos = new Array()
                    $.each(data['Data'], function (index) {
                        valTextos.push((data['Data'][index]));
                    });
                    for (var i = 0; i < valTextos.length; i++) {
                        var valores = valTextos[i].split("|");
                        var valorLlave = valores[1];
                        var valorTexto = valores[0];
                        var clases = document.getElementsByClassName(valorLlave);
                        for (var j = 0; j < clases.length; j++) {
                            clases[j].innerText = valorTexto;
                        }
                    }
                },
                error: function (source) {
                }
            });
        }
    }

</script>
<script>
    var char;
    function fnBuscar() {
        var cb_CLIENT = $("#ID_CLIE_REP").data("kendoComboBox");
        var id_CLIENT = cb_CLIENT.value();
        if (!id_CLIENT) { id_CLIENT = 0; }
        IND_STATUS_TICK(id_CLIENT);
        IND_PRIO_TICK(id_CLIENT);
        FN_GRADE_RESPONSE_SURVEY(id_CLIENT);
        fn_RESPONSE(id_CLIENT);
    }

    $("#btnReportByStatus").click(function () {
        var serie = $('#STATUS_TICKET_PIE').highcharts().series[0];
        var filters = serie.data.filter(function (x) { return x.visible; }).map(function (s) {
            var urlParts = s.url.split("/");
            var id = +urlParts[urlParts.length - 2];
            return {
                name: s.name,
                id: id
            };
        });
        $("#rs-tickets-wrapper").show();
        window.frames["RSStatus"].src = "/Reporting/TicketByStatus.aspx?var=" + Math.random()
            + "&FROM_DATE=" + $("#SIN_DATE").val()
            + "&TO_DATE=" + $("#TO_DATE").val()
            + "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val()
            + "&STATUS=" + filters.map(function (x) { return x.name.toUpperCase(); }).join(",");
        //console.log(filters);
    });

    $("#btnReportByPriority").click(function () {
        var serie = $("#PRIO_TICKET_PIE").highcharts().series[0];
        var filters = serie.data.filter(function (x) { return x.visible; }).map(function (s) {
            var urlParts = s.url.split("/");
            var id = +urlParts[urlParts.length - 2];
            return {
                name: s.name,
                id: id
            };
        });
        console.log(filters);
        $("#rs-priority-wrapper").show();
        window.frames["RSPriority"].src = "/Reporting/TicketByPriority.aspx?var=" + Math.random()
            + "&FROM_DATE=" + $("#SIN_DATE").val() +
            "&TO_DATE=" + $("#TO_DATE").val() +
            "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val() +
            "&PRIORITIES=" + filters.map(function (x) { return x.id; }).join(",");
    });

    function IND_STATUS_TICK(id) {
        $.get("/Inform/statusTicketIndicator?Inic=" + $("#SIN_DATE").val() + "&Fin=" + $("#TO_DATE").val() + "&ID_CLIE_REP=" + id + "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(), function (json) {
            //inicio pie
            chart = $('#STATUS_TICKET_PIE').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Percentage: <b>{point.percentage:.2f}%</b><br>Quantity: <b>{point.y}</b>',
                    percentageDecimals: 2
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var idclient = $("#ID_CLIE_REP").val();
                                    IND_BY_STATUS_TICK(this.options.url, idclient);
                                }
                            }
                        }
                    },
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        size: '55%',
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: json['Data'],
                    dataLabels: {
                        formatter: function () {
                            return (this.y != null ? ('<b>' + this.point.name + '</b>' + (this.percentage < 100 ? (': ' + Highcharts.numberFormat(this.percentage, 2) + ' %') : '')) : null) + '<br><b>Qty</b>: ' + this.y;
                        }
                    }
                }]
            });
            var cb_CLIENT = $("#ID_CLIE_REP").data("kendoComboBox");
            var id_CLIENT = cb_CLIENT.value();
            if (!id_CLIENT) { id_CLIENT = 0; }
            IND_BY_STATUS_TICK("/Inform/IND_BY_STATUS_TICK/0/1/1/", id_CLIENT);
            //fin pie
        });
    }
    @*function IND_BY_STATUS_TICK(url, idclient) {
        $.get(url + "?Inic=" + $("#SIN_DATE").val() + "&Fin=" + $("#TO_DATE").val() + "&ID_CLIE_REP=" + idclient, function (json) {
            var Cat = new Array();
            var Serie = new Array();
            var subtitle = null, color = null;
            $.each(json['Data'], function (index, value) {
                subtitle = value['title'];
                color = value['color'];
                Cat[index] = value['name'].substring(0, 1).toUpperCase() + value['name'].substring(1, value['name'].length);
                Serie[index] = value['y'];
            });

            $('#STATUS_CATE_BAR').highcharts({
                chart: {
                    zoomType: 'xy',
                    type: 'column'
                },

                xAxis: {
                    categories: Cat,
                    lineWidth: 1,
                    gridLineWidth: 1,
                    title: {
                        text: subtitle,
                        align: 'high',
                        style: {
                            color: '#666',
                            fontWeight: 'bold'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '@ResourceLanguaje.Resource.Tickets',
                        align: 'high',
                        style: {
                            color: '#666',
                            fontWeight: 'bold'
                        }
                    }
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var idclient = $("#ID_CLIE_REP").val();
                                    IND_STATUS_TICK(this.options.url, idclient);
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '@ResourceLanguaje.Resource.Tickets',
                    color: color,
                    data: json['Data']
                }]
            });
        });
    }*@
    function IND_BY_STATUS_TICK(url, idclient) {
        $.get(url + "?Inic=" + $("#SIN_DATE").val() + "&Fin=" + $("#TO_DATE").val() + "&ID_CLIE_REP=" + idclient + "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(), function (json) {
            var Cat = new Array();
            var Serie = new Array();
            var subtitle = null, color = null;
            $.each(json['Data'], function (index, value) {
                subtitle = value['title'];
                color = value['color'];
                Cat[index] = value['name'].substring(0, 1).toUpperCase() + value['name'].substring(1, value['name'].length);
                Serie[index] = value['y'];
            });
            

            $('#STATUS_CATE_BAR').highcharts({
                chart: {
                    zoomType: 'xy',
                    type: 'column'
                },

                xAxis: {
                    categories: Cat,
                    lineWidth: 1,
                    gridLineWidth: 1,
                    title: {
                        text: subtitle,
                        align: 'high',
                        style: {
                            color: '#666',
                            fontWeight: 'bold'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '@ResourceLanguaje.Resource.Tickets',
                        align: 'high',
                        style: {
                            color: '#666',
                            fontWeight: 'bold'
                        }
                    }
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var idclient = $("#ID_CLIE_REP").val();
                                    IND_BY_STATUS_TICK(this.options.url, idclient);
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '@ResourceLanguaje.Resource.Tickets',
                    color: color,
                    data: json['Data']
                }]
            });
        });
    }

    function IND_PRIO_TICK(id) {
        $.get("/Inform/priorityTicketIndicator?Inic=" + $("#SIN_DATE").val() +
            "&Fin=" + $("#TO_DATE").val() +
            "&ID_CLIE_REP=" + id +
            "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(), function (json) {
            //inicio pie
            $('#PRIO_TICKET_PIE').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Percentage: <b>{point.percentage:.2f}%</b><br>Quantity: <b>{point.y}</b>',
                    percentageDecimals: 2
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var idclient = $("#ID_CLIE_REP").val();
                                    IND_BY_PRIO_TICK(this.options.url, idclient);
                                }
                            }
                        }
                    },
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        size: '55%',
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: json['Data'],
                    dataLabels: {
                        formatter: function () {
                            return (this.y != null ? ('<b>' + this.point.name + '</b>' + (this.percentage < 100 ? (': ' + Highcharts.numberFormat(this.percentage, 2) + ' %') : '')) : null) + '<br><b>Qty</b>: ' + this.y;
                        }
                    }
                }]
            });
            var cb_CLIENT = $("#ID_CLIE_REP").data("kendoComboBox");
            var id_CLIENT = cb_CLIENT.value();
            if (!id_CLIENT) { id_CLIENT = 0; }
            IND_BY_PRIO_TICK("/Inform/IND_BY_PRIORITY_TICK/0/4/1/", id_CLIENT);
            //fin pie
        });
        //myINF_CATE = setTimeout("INF_CATE(idclient);", 300000);
    }
    function IND_BY_PRIO_TICK(url, idclient) {
        $.get(url + "?Inic=" + $("#SIN_DATE").val() +
            "&Fin=" + $("#TO_DATE").val() +
            "&ID_CLIE_REP=" + idclient +
            "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(), function (json) {
            var Cat = new Array();
            var Serie = new Array();
            var subtitle = null, color = null;
            $.each(json['Data'], function (index, value) {
                subtitle = value['title'];
                color = value['color'];
                Cat[index] = value['name'].substring(0, 1).toUpperCase() + value['name'].substring(1, value['name'].length);
                Serie[index] = value['y'];
            });

            $('#PRIO_CATE_BAR').highcharts({
                chart: {
                    zoomType: 'xy',
                    type: 'column'
                },

                xAxis: {
                    categories: Cat,
                    lineWidth: 1,
                    gridLineWidth: 1,
                    title: {
                        text: subtitle,
                        align: 'high',
                        style: {
                            color: '#666',
                            fontWeight: 'bold'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '@ResourceLanguaje.Resource.Tickets',
                        align: 'high',
                        style: {
                            color: '#666',
                            fontWeight: 'bold'
                        }
                    }
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    var idclient = $("#ID_CLIE_REP").val();
                                    IND_BY_PRIO_TICK(this.options.url, idclient);
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '@ResourceLanguaje.Resource.Tickets',
                    color: color,
                    data: json['Data']
                }]
            });
        });
    }
    function FN_GRADE_RESPONSE_SURVEY(id) {
        $.get("/Inform/gradeResponseSurvey?Inic=" + $("#SIN_DATE").val() +
            "&Fin=" + $("#TO_DATE").val() +
            "&ID_CLIE_REP=" + id +
            "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(), function (json) {
            //inicio pie
            $('#GRADE_RESPONSE_SURVEY').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Percentage: <b>{point.percentage:.2f}%</b><br>Quantity: <b>{point.y}</b>',
                    percentageDecimals: 2
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            //events: {
                            //    click: function () {
                            //        var idclient = $("#ID_CLIE_REP").val();
                            //        IND_BY_PRIO_TICK(this.options.url, idclient);
                            //    }
                            //}
                        }
                    },
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        size: '55%',
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: json['Data'],
                    dataLabels: {
                        formatter: function () {
                            return (this.y != null ? ('<b>' + this.point.name + '</b>' + (this.percentage < 100 ? (': ' + Highcharts.numberFormat(this.percentage, 2) + ' %') : '')) : null) + '<br><b>Qty</b>: ' + this.y;
                        }
                    }
                }]
            });
        });

    }
    function fn_RESPONSE(id) {
        $.get("/Inform/ResponseSurvey?Inic=" + $("#SIN_DATE").val() +
            "&Fin=" + $("#TO_DATE").val() +
            "&ID_CLIE_REP=" + id +
            "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(), function (json) {

            //inicio pie
            $('#REPLY_SURVEY').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Percentage: <b>{point.percentage:.2f}%</b><br>Quantity: <b>{point.y}</b>',
                    percentageDecimals: 2
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {

                        }
                    },
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        size: '55%',
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    colorByPoint: true,
                    data: [{
                        name: 'Respondido',
                        y: json['reply']
                    }, {
                        name: 'No Respondido',
                        y: json['noreply'],
                        sliced: true,
                        selected: true
                    }]
                }]
            });

        });
    }
</script>