@model ERPElectrodata.Models.PERSON_DOCUMENTS

@{
    Layout = null;
}

<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>
<script>
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
<style>
    .divHide {
        display: none;
    }
</style>

<div class="bodyMarcoForm">
    @using (Html.BeginForm("AttachDocs", "Talent", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormAttachDocs", name = "FormAttachDocs", target = "upload_targetDocs" }))
    {
        <input type="hidden" id="ID_PERS_ENTI" name="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />
        <div class="col-sm-10 col-lg-10">
            <div class="editor-label">
                Tipo Documento
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ID_TYPE_DOCU)
                @Html.ValidationMessageFor(model => model.ID_TYPE_DOCU)
            </div>
        </div>

        <div class="col-sm-10 col-lg-10 divHide" id="divInstitucion">
            <div class="editor-label">
                Institución
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IdInstitucion)
                @Html.ValidationMessageFor(model => model.IdInstitucion)
            </div>
        </div>

        <div class="col-sm-10 col-lg-10 divHide" id="divMarca">
            <div class="editor-label">
                Marca
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IdMarca)
                @Html.ValidationMessageFor(model => model.IdMarca)
            </div>
        </div>

        <div class="col-sm-10 col-lg-10 divHide" id="divDescripcion">
            <div class="editor-label">
                Descripción
            </div>
            <div class="k-textbox" style="width:100%;">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="col-sm-10 col-lg-10" id="divCertificado" style="display:none;">
            <div class="editor-label">
                Certificado Programado
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IdCertificacion)
                @Html.ValidationMessageFor(model => model.IdCertificacion)
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="editor-label">
                Tiempo de Vigencia
            </div>
            <div class="editor-field">
                @Html.CheckBox("chkVigencia", false)
            </div>
        </div>

        <div class="col-sm-12 col-lg-10" id="divFechaInicio">
            <div class="editor-label">
                Fecha Inicio Vigencia
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FechaInicioVigencia)
                @Html.ValidationMessageFor(model => model.FechaInicioVigencia)
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divFechaFin">
            <div class="editor-label">
                Fecha Fin Vigencia
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FechaFinVigencia)
                @Html.ValidationMessageFor(model => model.FechaFinVigencia)
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divStarDate" style="display:none;">
            <div class="editor-label">
                @ResourceLanguaje.Resource.StartDateContractTalent
            </div>
            <div class="editor-field">
                <input id="STAR_DATE" type="text" name="STAR_DATE">
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divEndDate" style="display:none;">
            <div class="editor-label">
                @ResourceLanguaje.Resource.EndDateContractTalent
            </div>
            <div class="editor-field">
                <input id="END_DATE" type="text" name="END_DATE">
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divCondition" style="display:none;">
            <div class="editor-label">
                @ResourceLanguaje.Resource.ConditionContractTalent
            </div>
            <div class="editor-field">
                <input id="ID_COND_CONT" type="text" name="ID_COND_CONT">
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divID_USB" style="display:none;">
            <div class="editor-label">
                @ResourceLanguaje.Resource.Usb
            </div>
            <div class="editor-field">
                <input id="ID_USB" type="text" name="ID_USB">
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divID_AREA" style="display:none;">
            <div class="editor-label">
                Area
            </div>
            <div class="editor-field">
                <input id="ID_AREA" type="text" name="ID_AREA">
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divID_CARG_AREA" style="display:none;">
            <div class="editor-label">
                Cargo
            </div>
            <div class="editor-field">
                <input id="ID_CARG_AREA" type="text" name="ID_CARG_AREA">
            </div>
        </div>
        <div class="col-sm-12 col-lg-10" id="divID_PERS_STAT" style="display:none;">
            <div class="editor-label">
                Estado Personal
            </div>
            <div class="editor-field">
                <input id="ID_PERS_STAT" type="text" name="ID_PERS_STAT">
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="editor-label">
                &nbsp;
            </div>
            <div class="editor-field">
                <input name="filesDocs" id="filesDocs" type="file" />
            </div>
        </div>
        <div class="col-sm-12 col-lg-10">
            <div class="editor-label">
                &nbsp;
            </div>
            <div class="editor-field">
                <button id="submitDocs" class="btn btn-primary">@ResourceLanguaje.Resource.BtnSaveTalent</button>
            </div>
        </div>
        <input type="hidden" name="hdnVigencia" id="hdnVigencia" value="0" />
    }
</div>
<iframe id="upload_targetDocs" name="upload_targetDocs" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>

<script type="text/javascript">
    $(document).ready(function () {
        $("#IdMarca").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var IdMarca = $("#IdMarca").data("kendoComboBox");

        $("#IdInstitucion").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "IdInstitucion",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: false,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Institucion/List?var=" + Math.random()
                    }
                }
            });
        var IdInstitucion = $("#IdInstitucion").data("kendoComboBox");

        $("#ID_TYPE_DOCU").kendoComboBox({
            dataTextField: "NAM_DOCU",
            dataValueField: "ID_TYPE_DOCU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Talent/ListTypeDocument?id=@ViewBag.ID_PERS_STAT"
                }
            }
        });
        var ID_TYPE_DOCU = $("#ID_TYPE_DOCU").data("kendoComboBox");

        //$("#Descripcion").dataTextField({
        //    dataValueField: "Descripcion",
        //    autoBind: true,
        //    delay: 500,
        //    minLength: 0,
        //    suggest: false,
        //    dataSource: {
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/Institucion/List?var=" + Math.random()
        //        }
        //    }
        //});
        //var IdInstituto = $("#IdInstituto").data("kendoComboBox");

        ID_TYPE_DOCU.bind("change", function (e) {
            if (ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 2) {
                $("#divStarDate").css("display", "inline-block");
                $("#divEndDate").css("display", "inline-block");
                $("#divCondition").css("display", "inline-block");
                $("#divID_USB").css("display", "inline-block");
                $("#divID_AREA").css("display", "inline-block");
                $("#divID_PERS_STAT").css("display", "inline-block");
                $("#divID_CARG_AREA").css("display", "inline-block");

                $("#divCertificado").addClass("display", "none");
                $("#IdCertificacion").data("kendoComboBox").value("");

                $("#divMarca").removeClass("divHide");
                $("#divInstitucion").addClass("divHide");
                $("#divDescripcion").addClass("divHide");
                $("#IdInstitucion").data("kendoComboBox").value("");
                
            }else
            if (ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 5 || ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 14
                || ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 15 || ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 16 || ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 18) {
                
                $("#divMarca").addClass("divHide");
                $("#divDescripcion").addClass("divHide");
                $("#divInstitucion").removeClass("divHide");
                $("#IdMarca").data("kendoComboBox").value("");
            } else
                if ( ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 24) {

                    $("#divMarca").addClass("divHide");
                    $("#divInstitucion").addClass("divHide");
                    $("#divDescripcion").removeClass("divHide");
                    $("#IdMarca").data("kendoComboBox").value("");
                }
            else {
                $("#divStarDate").css("display", "none");
                $("#divEndDate").css("display", "none");
                $("#divCondition").css("display", "none");
                $("#divID_USB").css("display", "none");
                $("#divID_PERS_STAT").css("display", "none");
                $("#divID_CARG_AREA").css("display", "none");
                $("#divCertificado").css("display", "none");

                $("#divMarca").removeClass("divHide");
                $("#divInstitucion").addClass("divHide");
                $("#divDescripcion").addClass("divHide");
                $("#IdInstitucion").data("kendoComboBox").value("");

                if (ID_TYPE_DOCU.dataItem().ID_TYPE_DOCU == 6) {
                    $("#divCertificado").css("display", "block");
                } else {
                    $("#IdCertificacion").data("kendoComboBox").value("");
                }

            }


        });

        //Certificados programados
        $("#IdCertificacion").kendoComboBox({
            cascadeFrom: "IdMarca",
            placeholder: "",
            dataTextField: "Certificado",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Certificado/ListarCertificadosPendientes?var=" + Math.random()
                }
            }
        });


        $("#ID_COND_CONT").kendoComboBox({
            dataTextField: "NAM_COND",
            dataValueField: "ID_COND_CONT",
            filter: "contains",
            autoBind: true,
            index: 1,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Contract_Condition/List?var=" + Math.random()
                }
            }
        });

        var ID_USB = $("#ID_USB").kendoComboBox({
            dataTextField: "NAM_AREA",
            dataValueField: "ID_AREA",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Area/USB?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_AREA = $("#ID_AREA").kendoComboBox({
            autoBind: false,
            index: 1,
            cascadeFrom: "ID_USB",
            dataTextField: "NAM_AREA",
            dataValueField: "ID_AREA",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Area/AreaByUSB?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_CARG_AREA = $("#ID_CARG_AREA").kendoComboBox({
            autoBind: false,
            index: 1,
            cascadeFrom: "ID_AREA",
            dataTextField: "NAM_CARG",
            dataValueField: "ID_CARG_AREA",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Cargo/ListCargosByID_AREA?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_STAT = $("#ID_PERS_STAT").kendoComboBox({
            dataTextField: "NAM_STAT",
            dataValueField: "ID_PERS_STAT",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Person_Status/ListForContract?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var onSelectDocs = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();

                    winPopUpModal("@ResourceLanguaje.Resource.WrongFileExtension", "<div style='border-bottom:1px dotted #dadada;padding:0 3px 20px 3px;'>" +
                    "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.AssetMessage8</div>" +
                    "<div style='float:right; padding:30px 0 0 0; '>" +
                    "<button id='continuee' class='k-button'>Continue</button>" +
                    "</div></div>", 400, 140);

                    var undo = $("#continuee")
                    .bind("click", function () {
                        closeWinModalPopUp();
                    });

                }
            });
        };

        $("#filesDocs").kendoUpload({
            localization: {
                select: "@ResourceLanguaje.Resource.AttachTalent"
            },
            select: onSelectDocs,
        });

        $("#submitDocs").click(function () {
            toastr.info("Saving Your Document", "Please Wait");
            //winPopUpModalLoad("Saving Your Document", "Please Wait", 300, 130);
        });

        var STAR_DATE = $("#STAR_DATE").kendoDateTimePicker().data("kendoDateTimePicker");
        var END_DATE = $("#END_DATE").kendoDateTimePicker().data("kendoDateTimePicker");

        var FechaInicioVigencia = $("#FechaInicioVigencia").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaFinVigencia = $("#FechaFinVigencia").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#divFechaInicio").addClass("divHide");
        $("#divFechaFin").addClass("divHide");

        $('#chkVigencia').on('ifToggled', function (event) {
            if ($(this).is(':checked')) {
                $("#hdnVigencia").val("1");
                $("#divFechaInicio").removeClass("divHide");
                $("#divFechaFin").removeClass("divHide");
            } else {
                $("#hdnVigencia").val("0");
                $("#divFechaInicio").addClass("divHide");
                $("#divFechaFin").addClass("divHide");
            }
        });
    });

    function mensaje(msg, error) {
        if (msg == 'ERROR') {
            var mensajeError = "";
            if (error == 0)
                mensajeError = "Complete los datos por favor.";
            else if (error == 4 || error == 3)
                mensajeError = "Adjunte un documento.";
            else if (error == 2)
                mensajeError = "Valide las fechas.";
            else if (error == 5)
                mensajeError = "Ingrese el cargo.";
            else if (error == 6)
                mensajeError = "Ha ocurrido un error, contacte al administrador.";
            toastr.error(mensajeError, msg);
        } else if (msg == 'OK') {
            toastr.success(error, "");
            setTimeout(function () { location.reload(); }, 1200);
        }
    }
</script>
