@model ERPElectrodata.Models.CLASS_ENTITY

@{
    ViewBag.Title = "Find";
    Layout = null;
}
<style>
    .ClassFoto {
        width: 110px;
        height: 110px;
    }
    .BordeInternoFoto {
        width: 110px;
        height: 110px;
        border: 1px solid #ddd;
        margin: 0 auto;
        text-align: center;
    }
</style>
<div class="afterMain">
    <div style="float:left; width:40%;">
        <div class="titleForm"><div class="title">Buscar perfil</div></div>
        <div class="bodyForm">
            <div id="divFindTalent" class="inBodyForm">
                @using (Html.BeginForm("Find", "Talent", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTalentFind", target = "upload_target" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>ASSET</legend>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.FirstNameTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.FIR_NAME)
                                    @Html.ValidationMessageFor(model => model.FIR_NAME)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.LastNameTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.LAS_NAME)
                                    @Html.ValidationMessageFor(model => model.LAS_NAME)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Teléfono móvil
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.CEL_ENTI)
                                    @Html.ValidationMessageFor(model => model.CEL_ENTI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.PhoneExtensionTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.EXT_ENTI)
                                    @Html.ValidationMessageFor(model => model.EXT_ENTI)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.PersonalEmailTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.EMA_ENTI)
                                    @Html.ValidationMessageFor(model => model.EMA_ENTI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.ElectrodataEmailTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.TextBox("EMA_ELEC")
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.ClientEmailTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.TextBox("EMA_PERS")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.SiteTalent - @ResourceLanguaje.Resource.LocationTalent
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_LOCA")
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.TypeTalent Area
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="ID_TYPE_CHAR" name="ID_TYPE_CHAR" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3" id="divOrganization">
                                <div class="editor-label" id="divOrgaTitle">
                                    -
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="ID_NAM_CHAR" name="ID_NAM_CHAR" />
                                </div>
                            </div>
                            <div class="divCont3" id="divChart" style="display:none;">
                                <div class="editor-label">
                                    <a onclick="JobTitle()" title="@ResourceLanguaje.Resource.SelectJobTitle">@ResourceLanguaje.Resource.JobTitle</a>
                                </div>
                                <input type="hidden" name="ID_CHART" value="0" id="ID_CHART" />
                                <div class="k-textbox">
                                    <input type="text" id="NAM_CHART" name="NAM_CHART" readonly="readonly" style="text-transform:capitalize;" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Estado
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_PERS_STAT1")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                   Condición
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_COND_CONT1")
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Fecha inicio (Fin de contrato)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("START_DATE1")
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Fecha Fin(Fin de contrato)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("END_DATE1")
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" style="margin-bottom:5px;">
                            <div class="divSpace3"></div>
                            <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                                <div style=" float:left; padding:0px 15px 0px 0px; ">
                                    <button id="submitFind" class="k-button" onclick="FindProfiles(); return false;">Buscar</button>
                                </div>
                            </div>
                        </div>
                        @*<iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px; display:none;"></iframe>*@
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <div style="float:right;width:59%;">
        <div style="float:left; width:49.2%;">
            <div class="titleForm"><div class="title">Estado</div></div>
            <div class="bodyForm">
                <div id="divStaffbyStatus" class="inBodyForm">
                    <div id="divStaffbyStatus1"></div>
                </div>
            </div>
        </div>
        <div style="float:right; width:49.2%;">
            <div class="titleForm"><div class="title">Condición de contrato</div></div>
            <div class="bodyForm">
                <div id="divStaffbyCondition" class="inBodyForm">
                    <div id="divStaffbyCondition1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="clear:both;"></div>
<div id="resultFind" style="margin:10px 0 0 0; padding-bottom:1%;">
</div>
<div id="pagerFind" style="margin:10px 0 0 0">
</div>

<script id="treeview-template" type="text/kendo-ui-template">
    # if (data.NIV_AREA == 2) { #
    # if (data.SwImagen != 0) { #
    <img src="/Content/Images/ping.png" /> &nbsp#: data.NOM_AREA #
    # } else { #
    #: data.NOM_AREA #
    # } #
    # } else if (data.NIV_AREA == 3) { #
    # if (data.SwImagen != 0) { #
    <img style="margin-left:20px;" src="/Content/Images/ping.png" /> &nbsp#: data.NOM_AREA #
    # } else { #
    <span style="margin-left:20px;"> #: data.NOM_AREA #</span>
    # } #x
    # } else if (data.NIV_AREA == 4) { #
    <span style="margin-left:40px;"> #: data.NOM_AREA #</span>
    # } #
</script>

<script type="text/x-kendo-tmpl" id="Template-Details">
    <div style="margin-top: 1%;"></div>
    <div class="incidentHomeList" style="width:98%; margin:0 auto;" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
        <div class="incidentHomeListHeader" style="padding-bottom: 1px; height: 130px;">
            <a href="\\#/Talent/Profile/${ID_PERS_ENTI}" target='_blank' style="width:100%; height:100%; font-weight: 400;">
                <div class="BordeInternoFoto" style="float:left; margin: 3px 0 0 4px;">
                    <img src="/Content/Fotos/${FOTO}.jpg" class="ClassFoto" />
                </div>
                <div class="BordeInternoFotoList">
                    <div class="smallField"><b>${usuario}</b></div>
                    <div class="smallTitle" style="text-transform:capitalize;">${CAR_PERS}</div>
                    <div class="smallField"><b>@ResourceLanguaje.Resource.Email:</b></div>
                    <div class="smallTitle" style="text-transform:none;">${EMA_ELEC}</div>
                    <div class="smallField"><b>Teléfono móvil: </b> ${CEL_PERS}</div>
                </div>
                <div class="BordeInternoFotoList">
                    <div class="smallField"><b>${USB}</b></div>
                    <div class="smallTitle" style="text-transform:capitalize;">${NOM_AREA}</div>
                    <div class="smallField"><b>Ubicación: </b></div>
                    <div class="smallTitle" style="text-transform:capitalize;">${SITIO}</div>
                    <div class="smallField"><b>Anexo:</b> ${EXT_PERS}</div>
                </div>
                <div class="BordeInternoFotoList" style="border-right:none;">
                    <div class="smallField"><b>Estado:</b> <span class="smallTitle">${NAM_STAT}</span></div>
                    <div class="smallField"><b>Condición de contrato:</b> <span class="smallTitle">${CONDITION}</span></div>
                    <div class="smallField"><b>Fecha inicio de contrato:</b> <span class="smallTitle">${STAR_CONT}</span></div>
                    <div class="smallField"><b>Fecha fin de contrato:</b> <span class="smallTitle">${END_CONT}</span></div>
                    <div class="smallField"><b>Fecha de término:</b> <span class="smallTitle">${CESS_DATE}</span></div>
                </div>
                <div style="float:right;margin:5px 5px 0 0;">
                    # if (@ViewBag.Supervisor == 1) { #
                    <div style="margin:0 0 5px 0;" onclick="Edit(${ID_PERS_ENTI}); return false;"><button id="BtnEdit" class="k-button">Editar</button></div>
                    <div style="margin:0 0 5px 0;" onclick="ChangeStatus(${ID_PERS_ENTI},${ID_PERS_STAT},${ID_CIA}); return false;"><button id="BtnChange" class="k-button">Cambiar estado</button></div>
                    # if(ID_PERS_STAT == 1 || ID_PERS_STAT == 2) { #
                    <div style="margin:0 0 5px 0;" onclick="Contract(${ID_PERS_ENTI}); return false;"><button id="BtnContract" class="k-button">Contrato</button></div>
                    # } #
                    # } #
                </div>
            </a>
        </div>
    </div>
</script>
<!-- MODAL ESTADO -->
<div class="modal fade" id="modalEstado" role="dialog" aria-labelledby="modalEstadoLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamEstado">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Estado</h4>
            </div>
            <div class="modal-body">
                <div id="divEstado"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>
<!-- MODAL CARGO -->
<div class="modal fade" id="modalCargo" role="dialog" aria-labelledby="modalCargoLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamCargo">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Cargo</h4>
            </div>
            <div class="modal-body">
                <div id="divCargo"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $.get("/TalentChart/ListType_Chart",function(json){
        json["Data"].push({NAM_TYPE: "Job Title by Organization Chart", ID_TYPE_CHAR: 0});

        var ID_TYPE_CHAR = $("#ID_TYPE_CHAR").kendoComboBox({
            dataTextField: "NAM_TYPE",
            dataValueField: "ID_TYPE_CHAR",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: json["Data"]
        }).data("kendoComboBox");

        var ID_NAM_CHAR = $("#ID_NAM_CHAR").kendoComboBox({
            cascadeFrom: "ID_TYPE_CHAR",
            dataTextField: "NAM_CHAR",
            dataValueField: "ID_NAM_CHAR",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TalentChart/ListNamCharByTypeChart?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_TYPE_CHAR.bind("change", function(e) {
            if (ID_TYPE_CHAR.dataItem().ID_TYPE_CHAR == 0) {
                $("#divOrganization").css("display","none");
                $("#divChart").css("display","block");
            }
            else{
                $("#divOrganization").css("display","block");
                $("#divOrgaTitle").html(ID_TYPE_CHAR.dataItem().NAM_TYPE);

                $("#divChart").css("display","none");
            }
        });

    });

    $("#ID_LOCA").kendoComboBox({
        dataTextField: "NAME",
        dataValueField: "ID_LOCA",
        template: '<div style="font-weight:bold;">${ data.NAM_SITE }</div>' +
                    '<div>${ data.NAM_LOCA }</div>',
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Location_Entity/List?var=" + Math.random()
            }
        }
    });
    var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");
    ID_LOCA.list.width(300);

    $("#ID_PERS_STAT1").kendoComboBox({
        dataTextField: "NAM_STAT",
        dataValueField: "ID_PERS_STAT",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Person_Status/ListAll?var=" + Math.random()
            }
        }
    });

    $("#ID_COND_CONT1").kendoComboBox({
        dataTextField: "NAM_COND",
        dataValueField: "ID_COND_CONT",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Contract_Condition/List?var=" + Math.random()
            }
        }
    });

    var START_DATE1 = $("#START_DATE1").kendoDateTimePicker({
        format: "d/M/yyyy hh:mm tt",
    }).data("kendoDateTimePicker");
    var END_DATE1 = $("#END_DATE1").kendoDateTimePicker({
        format: "d/M/yyyy hh:mm tt",
    }).data("kendoDateTimePicker");

    function Edit(id) {
        window.open("/#/Talent/Edit/" + id + "/@ViewBag.Supervisor");
        return false;
    }

    function JobTitle() {
        var htmlForm = '<div id="FormJobTitle"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.ChartPopupTitle", htmlForm, 400, 400);
        $("#FormJobTitle").load("/TalentChart/ViewChartWithoutStaff?id=@ViewBag.ID_CIA&proc=find&var=" + Math.random());
        return false;
    }

    function ChangeStatus(idpers, idstat, identi) {
        //var alt = 0;
        //if (idstat == 1 || idstat == 2) { alt = 190; }//Estado Actual: EMPLOYEES or TEMPORAL STAFF
        //if (idstat == 3) { alt = 138; }//Estado Actual: CEASED STAFF
        //if (idstat == 4) { alt = 355; }//Estado Actual: AVAILABLE STAFF

        @*var htmlForm = '<div id="FormChangeStatus"></div>';
        winFormPopUpModal2("@ResourceLanguaje.Resource.Change @ResourceLanguaje.Resource.Status", htmlForm, 473, alt);*@
        $("#modalEstado").modal("show");
        $("#divEstado").load("/Talent/ChangeStatus?id=" + idpers + "&id1=" + idstat + "&id2=" + identi);
        //return false;
    }

    function Contract(id) {
        window.open("#/Talent/Contract/" + id);
        return false;
    }

    function FindProfiles() {
        var dataSource = null;
        var pager = null;

        $("#pagerFind").empty();
        $("#resultFind").empty();

        if ($("#resultFind").data("kendoListView")) {
            $("#pagerFind").data("kendoPager").destroy();
            $("#resultFind").data("kendoListView").destroy();
        }

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Talent/FindResult?var=" + Math.random() + "&" + $('#FrmTalentFind').serialize(),
                    type: "GET",
                    dataType: "json"
                }

            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#resultFind").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#Template-Details").html())
        });

        pager = $("#pagerFind").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 60],
            refresh: true
        });


        ////INICIO DE LOS GRÁFICOS
        $.ajax({
            url: '/Talent/FindResultGraph?var=' + Math.random() + "&" + $('#FrmTalentFind').serialize(),
            dataType: 'json',
            cache: false,
            async: true,
            success: function (json) {
                var headerFormat = '<span style="font-size: 12px;font-weight:bold;">{point.key}</span><br/>';
                var pointFormat = '<span style="color:{series.color}">{series.name}</span>: {point.y}<br/>';

                var Cat = new Array();
                var vType = new Array();
                var Agree = new Array();
                var IndAgree = new Array();

                $.each(json['Data'], function (index, value) {
                    Cat[index] = value['name'].substring(0, 1).toUpperCase() + value['name'].substring(1, value['name'].length);;
                    vType[index] = value['cantidad'];
                });

                //Primer Gráfico
                chart = new Highcharts.Chart({
                    chart: {
                        type: 'bar',
                        renderTo: 'divStaffbyStatus1',
                        marginTop: 20//[20, 0, 80, 0]
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: Cat,
                        title: {
                            text: null
                        },
                        gridLineWidth: 1,
                        lineWidth: 1,
                        labels: {
                            overflow: 'justify',
                            style: {
                                textTransform: 'capitalize'
                            }
                        }

                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: null
                        },
                        labels: {
                            overflow: 'justify',
                            style: {
                                textTransform: 'capitalize'
                            }
                        },
                        lineWidth: 1,
                        gridLineWidth: 1
                    },
                    tooltip: {
                        valueSuffix: ' Profile',
                        headerFormat: headerFormat,
                        pointFormat: pointFormat
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            },
                            shadow: false
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Total',
                        data: [{
                            y: vType[0],
                            color: '#516882',
                        }, {
                            y: vType[1],
                            color: '#FFBB00',
                        }, {
                            y: vType[2],
                            color: '#B21E1E',
                        }, {
                            y: vType[3],
                            color: '#7CBB00',
                        }]
                    }]
                });

                //GRAFICA PIE
                chart1 = new Highcharts.Chart({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        renderTo: 'divStaffbyCondition1'
                    },
                    colors: ["#7CBB00", "#FFBB00"],
                    title: {
                        text: null
                    },
                    credits: {
                        enabled: false
                    },
                    tooltip: {
                        headerFormat: headerFormat,
                        pointFormat: 'Percentage: {point.percentage:.2f}%<br>Quantity: {point.y}'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            size: '30%',
                            shadow: false,
                            dataLabels: {
                                formatter: function () {
                                    return (this.y != null ? ('<b>' + this.point.name + '</b>' + (this.percentage < 100 ? (': ' + Highcharts.numberFormat(this.percentage, 2) + ' %') : '')) : null) + '<br><b>Qty</b>: ' + this.y;
                                },
                                distance: 10
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Total',
                        data: json['Data1']
                    }]
                });
            }
        });

        return false;
    }

    FindProfiles();

</script>

<script type="text/javascript">

    var DivHeight = $("#divFindTalent").height();
    $("#divStaffbyStatus").height(DivHeight);
    $("#divStaffbyCondition").height(DivHeight);
    $("#divStaffbyStatus1").height(DivHeight - 2);
    $("#divStaffbyCondition1").height(DivHeight - 2);

    function cancel() {
        closeWinFormModalPopUp();
        return false;
    }

    function uploadDone(msg, code) {
        $("#modalEstado").modal("toggle");
        if (msg == "OK") {
            closeWinModalPopUpLoad();
            winPopUpModal("Information Saved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                + "<div style='padding:10px 0px 10px 0px;'>La información de estado se guardó correctamente.</div>"
           + "<div style='padding:10px 0px 10px 0px;'></div>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continue</button>" +
           "</div></div>"
             , 400, 160);

            var undo = $("#continues")
           .bind("click", function () {
               closeWinModalPopUp();
               location.reload(true);
           });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
                location.reload(true);
            });
        }
        else {
            closeWinModalPopUpLoad();

            var titleAsset = '';
            var messageAsset = '';
            if (code == '0') {
                titleAsset = '@ResourceLanguaje.Resource.InformationMissing';
                 messageAsset = '@ResourceLanguaje.Resource.InformationMissingMsn';
             }
             else if (code == '1') {
                 titleAsset = '@ResourceLanguaje.Resource.BasedDrawback';
                 messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
             }
             else if (code == '2') {
                 titleAsset = '@ResourceLanguaje.Resource.WrongDates';
                 messageAsset = '@ResourceLanguaje.Resource.WrongDatesMsn';
             }
             else if (code == '4') {
                 titleAsset = '@ResourceLanguaje.Resource.TituloActivosAsignados';
                 messageAsset = '@ResourceLanguaje.Resource.MsjActivosAsignados';
             }

     winPopUpModal(titleAsset, "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
        "<div style='padding:10px 0px 10px 0px;'>" + messageAsset + "</div>" +
            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
            "<button id='continuee' class='k-button'>Continue</button>" +
            "</div></div>"
            , 400, 140);

     var undo = $("#continuee")
     .bind("click", function () {
         closeWinModalPopUp();
     });
 }
}
</script>   