@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}
<style>
    #FormTalentProfile b {
        color: red;
    }
</style>

@using (Html.BeginForm("NewProfile", "Talent", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormTalentProfile", target = "upload_targetProfile" }))
{
    <input type="hidden" id="EPS_HF" name="EPS_HF" value="0" />
    <div style="float:left; width:39%;">
        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.ProfileTalent</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" style="display:inline-block;" id="divBodyFormIzq">
                <div style="width:100%">
                    <div style="float:left; width:49%; padding: 15px 0 0 0;">
                        <div class="MarcoFoto">
                            <div class="BordeInternoFoto">
                                <div class="divOculto" id="divUpdatePhoto"></div>
                                <img src="/Content/Fotos/0.jpg" class="ClassFoto" />
                            </div>
                        </div>
                        <div class="BtnChange">
                            <input name="filesPhoto" id="filesPhoto" type="file" />
                        </div>
                    </div>
                    <div style="float:right; width:51%;" id="DataUser">
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.FirstNameTalent <b>*</b>
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.FIR_NAME)
                                    @Html.ValidationMessageFor(model => model.FIR_NAME)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.SecondNameTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.SEC_NAME)
                                    @Html.ValidationMessageFor(model => model.SEC_NAME)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" id="divGenero">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Tercer Nombre
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.THI_NAME)
                                    @Html.ValidationMessageFor(model => model.THI_NAME)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float:left; width:100%;" id="DetailsProfile">
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.LastNameTalent <b>*</b>
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.LAS_NAME)
                                    @Html.ValidationMessageFor(model => model.LAS_NAME)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.MotherNameTalent <b>*</b>
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.MOT_NAME)
                                    @Html.ValidationMessageFor(model => model.MOT_NAME)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.GenereTalent
                                </div>
                                <div class="editor-field">
                                    <input id="SEX_ENTI" type="text" name="SEX_ENTI">
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.CivilStatusTalent
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_CIVI_STAT)
                                    @Html.ValidationMessageFor(model => model.ID_CIVI_STAT)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.DateBirthTalent <b>*</b>
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.BIRTHDAY)
                                    @Html.ValidationMessageFor(model => model.BIRTHDAY)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.AddressTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.ADDRESS)
                                    @Html.ValidationMessageFor(model => model.ADDRESS)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.PhoneNumberHouseTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.TEL_ENTI)
                                    @Html.ValidationMessageFor(model => model.TEL_ENTI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.CellPhoneTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.CEL_ENTI)
                                    @Html.ValidationMessageFor(model => model.CEL_ENTI)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos" id="divEmails">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.PersonalEmailTalent <b>*</b>
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.EMA_ENTI)
                                    @Html.ValidationMessageFor(model => model.EMA_ENTI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.ClientEmailTalent
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="EMA_PERS" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.NationalityTalent
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_NATI)
                                    @Html.ValidationMessageFor(model => model.ID_NATI)
                                </div>
                            </div>
                            @*<div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.ClientEmail
                                    </div>
                                    <div class="k-textbox">
                                        <input type="text" name="EMA_PERS" />
                                    </div>
                                </div>*@
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.DegreeInstructionTalent
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_DEGR_INST)
                                    @Html.ValidationMessageFor(model => model.ID_DEGR_INST)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.TypeTalent @ResourceLanguaje.Resource.DocumentIdentityTalent
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_TYPE_DI)
                                    @Html.ValidationMessageFor(model => model.ID_TYPE_DI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.NumberTalent @ResourceLanguaje.Resource.DocumentIdentityTalent
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.NUM_TYPE_DI)
                                    @Html.ValidationMessageFor(model => model.NUM_TYPE_DI)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" id="divDNI" style="display:none;">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.ExpireDateDniTalent
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.EXPIRE_DATE_DNI)
                                    @Html.ValidationMessageFor(model => model.EXPIRE_DATE_DNI)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.EmissionDateDniTalent
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.EMISSION_DATE_DNI)
                                    @Html.ValidationMessageFor(model => model.EMISSION_DATE_DNI)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos" id="divContact">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Nombre de Contacto
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.CONTACT_NAME)
                                    @Html.ValidationMessageFor(model => model.CONTACT_NAME)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Numero de Contacto
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.CONTACT_PHONE)
                                    @Html.ValidationMessageFor(model => model.CONTACT_PHONE)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            @*<div class="divSpace3"></div>*@
                            @*<div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.Nationality
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.ID_NATI)
                                        @Html.ValidationMessageFor(model => model.ID_NATI)
                                    </div>
                                </div>*@
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.BloodGroupTalent
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_BLOO_GROU)
                                    @Html.ValidationMessageFor(model => model.ID_BLOO_GROU)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3" style="position:relative;">
                                <div class="editor-label" onclick="NuevaCarrera()" style="cursor:pointer;" title="Registrar nueva carrera profesional">
                                    Carrera Profesional <b>*</b>
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.IdProfesion)
                                    @Html.ValidationMessageFor(model => model.IdProfesion)
                                </div>
                                <div id="divEditarCombo" style="display:none;" class="editCombo" onclick="EditarCarrera()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="float:right; width:60%;">

        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.ConditionContractTalent</div>
        </div>

        <div class="bodyForm">
            <div class="inBodyForm" style="display:inline-block; width:99.8%;" id="divBodyFormDer">
                <div style="width:100%;">
                    <div style="float:left; width:100%;">
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.StatusTalent <b>*</b>
                                </div>
                                <div class="editor-field">
                                    <input id="ID_PERS_STAT" type="text" name="ID_PERS_STAT">
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.CompanyTalent <b>*</b>
                                </div>
                                <div class="editor-field">
                                    <input id="ID_ENTI1" type="text" name="ID_ENTI1">
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3" id="divCondContract">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.ConditionContractTalent <b>*</b>
                                </div>
                                <div class="editor-field">
                                    <input id="ID_COND_CONT" type="text" name="ID_COND_CONT">
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos" id="divContract">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.StartDateContractTalent <b>*</b>
                                </div>
                                <div class="editor-field">
                                    <input id="STAR_DATE" type="text" name="STAR_DATE">
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.EndDateContractTalent <b>*</b>
                                </div>
                                <div class="editor-field">
                                    <input id="END_DATE" type="text" name="END_DATE">
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.GrossSalaryTalent
                                </div>
                                <div style="margin-top:0px;">
                                    <input type="text" name="GROSS_SALARY" id="GROSS_SALARY" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" id="divArea">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    <a href="javascript:void(0)" onclick="JobTitle()" title="@ResourceLanguaje.Resource.SelectJobTitleTalent">@ResourceLanguaje.Resource.JobTitleTalent</a> <b>*</b>
                                </div>
                                <input type="hidden" name="ID_CHAR_PARE" value="0" id="ID_CHAR_PARE" />
                                <input type="hidden" name="ID_CHAR" value="0" id="ID_CHAR" />
                                <div class="k-textbox">
                                    <input type="text" id="NAM_CHAR" name="NAM_CHAR" readonly="readonly" style="text-transform:capitalize;" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.SiteTalent - @ResourceLanguaje.Resource.LocationTalent <b>*</b>
                                    @*<a href="#" onclick="NewLocation(0)" title="Click here to register a new Location" >@ResourceLanguaje.Resource.Site - @ResourceLanguaje.Resource.Location</a>*@
                                </div>
                                <div class="editor-field">
                                    <input id="ID_LOCA" type="text" name="ID_LOCA">
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    CIA <b>*</b>
                                </div>
                                <div class="editor-field">
                                    <input id="ID_PLANILLA" type="text" name="PLANILLA" />
                                </div>
                            </div>


                        </div>

                        <div class="divFondoDos" id="divPhone">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Teléfono
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="TEL_PERS" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Celular
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="CEL_PERS" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Anexo
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="EXT_PERS" />
                                </div>
                            </div>
                        </div>


                        <div class="divFondoUno" id="iddivRPMTELMAIELE">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Número RPM
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="TEL_RPM" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Otro Celular
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="CEL_OTHER" />
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Correo Electrodata
                                </div>
                                <div class="k-textbox">
                                    <input type="text" name="EMA_ELEC" />
                                </div>
                            </div>

                        </div>



                        @*<div class="divFondoDos" id="divSalary">
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.SalaryBank
                                    </div>
                                    <div class="editor-field">
                                        <input id="ID_BANK_SALA" type="text" name="ID_BANK_SALA" >
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.NumberAccountSalary
                                    </div>
                                    <div class="k-textbox">
                                        <input id="NUM_ACCO_SALA" type="text" name="NUM_ACCO_SALA" >
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.AccountOpeningDate
                                    </div>
                                    <div class="editor-field">
                                        <input id="STAR_DATE_SALA" type="text" name="STAR_DATE_SALA" >
                                    </div>
                                </div>
                            </div>
                            <div class="divFondoUno" id="divCTS">
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.CTSBank
                                    </div>
                                    <div class="editor-field">
                                        <input id="ID_BANK_CTS" type="text" name="ID_BANK_CTS" >
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.NumberAccountCTS
                                    </div>
                                    <div class="k-textbox">
                                        <input id="NUM_ACCO_CTS" type="text" name="NUM_ACCO_CTS" >
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.AccountOpeningDate
                                    </div>
                                    <div class="editor-field">
                                        <input id="STAR_DATE_CTS" type="text" name="STAR_DATE_CTS" >
                                    </div>
                                </div>
                            </div>*@
                        <div class="divFondoDos" id="divPension" style="display:none;">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Pension
                                </div>
                                <div class="editor-field">
                                    <input id="ID_TYPE_PENS" type="text" name="ID_TYPE_PENS">
                                </div>
                            </div>
                            <div class="divSpace3" id="divEspCUSPP"></div>
                            <div class="divCont3" id="divCUSPP">
                                <div class="editor-label">
                                    CUSPP
                                </div>
                                <div class="k-textbox">
                                    <input id="CUSPP" type="text" name="CUSPP">
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.StartDatePension
                                </div>
                                <div class="editor-field">
                                    <input id="STAR_DATE_PENS" type="text" name="STAR_DATE_PENS">
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" id="divEPS">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    EPS
                                </div>
                                <div class="editor-field">
                                    @Html.CheckBox("EPS", false)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3" id="divPlanEPS">
                                <div class="editor-label">
                                    Area
                                </div>
                                <div class="editor-field">
                                    <input id="ID_AREA" type="text" name="ID_AREA">
                                </div>
                            </div>
                            <div class="divCont3" id="divPlanEPS" style="display:none;">
                                <div class="editor-label">
                                    Plan
                                </div>
                                <div class="editor-field">
                                    <input id="ID_PLAN_EPS" type="text" name="ID_PLAN_EPS">
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3" id="divNumFam" style="display:none;">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.FamilyBeneficiaries
                                </div>
                                <div style="margin-top:0px;">
                                    <input id="NUM_FAMI" type="text" name="NUM_FAMI">
                                </div>
                            </div>
                        </div>


                        <div class="divFondoDos" id="iddivEPSBASKET">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    EPS <span><a onclick="AddEPS(1)" style="font-size:15px; cursor:pointer;">+</a></span><span> </span><span><a onclick="AddEPS(0)" style="font-size:15px; cursor:pointer;">-</a></span>
                                </div>
                                <div class="k-textbox">
                                    <input type="text" id="EPS_YEAR" name="EPS_YEAR" value="@ViewBag.anio" />
                                    <input type="hidden" id="IdEPS" name="EPSANUAL" value="0" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Canasta Navideña  <span><a onclick="AddBasket(1)" style="font-size:15px; cursor:pointer;">+</a></span><span> </span><span><a onclick="AddBasket(0)" style="font-size:15px; cursor:pointer;">-</a></span>
                                </div>
                                <div class="k-textbox">
                                    <input type="text" id="CHR_BASK" name="CHR_BASK" value="@ViewBag.anio" />
                                    <input type="hidden" id="IdCanNav" name="CanNav" value="0" />
                                </div>
                            </div>
                        </div>


                        <div class="divFondoUno" id="divAttach">
                            <div style="width: 96%; float:left; padding: 0 10px 0 7px;">
                                <input name="filesDocs" id="filesDocs" type="file" />
                            </div>
                        </div>
                        <div class="divFondoUno" style="margin-bottom:5px;">
                            <div class="divSpace3"></div>
                            <div style="display:inline-block; float:right; padding:5px 15px 0px 5px;">
                                <div style=" float:left; padding:0px 15px 0px 0px; ">
                                    <button id="submit" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
                                </div>
                                <button id="reset" class="k-button" onclick="cancel(); return false;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<iframe id="upload_targetProfile" name="upload_targetProfile" src="" class="frameHidden"></iframe>

<script id="treeview-AREA" type="text/kendo-ui-template">
    # if (data.NIV_AREA == 2) { #
    # if (data.SwImagen != 0) { #
    <img src="/Content/Images/ping.png" /> &nbsp#: data.NOM_AREA #
    # } else { #
    #: data.NOM_AREA #
    # } #
    # } else if (data.NIV_AREA == 3) { #
    # if (data.SwImagen != 0) { #
    <img style="margin-left:20px;" src="/Content/Images/ping.png" /> &nbsp#: data.NOM_AREA #
    # } else { #
    <span style="margin-left:20px;"> #: data.NOM_AREA #</span>
    # } #
    # } else if (data.NIV_AREA == 4) { #
    <span style="margin-left:40px;"> #: data.NOM_AREA #</span>
    # } #
</script>

<script type="text/javascript">

    function AddEPS(id) {
        if (id == 1) {
            $("#EPS_YEAR").val("2015 EPS Added");
            $("#IdEPS").val("1");
        }
        if (id == 0) {
            $("#EPS_YEAR").val("2015 EPS Removed");
            $("#IdEPS").val("0");
        }

    }

    function AddBasket(id) {
        if (id == 1) {
            $("#CHR_BASK").val("2015 Christmas Basket Added");
            $("#IdCanNav").val("1");
        }
        if (id == 0) {
            $("#CHR_BASK").val("2015 Christmas Basket Removed");
            $("#IdCanNav").val("0");
        }
    }

    var ID_SUB_CIA = $("#ID_PLANILLA").kendoComboBox({
        dataTextField: "CIA",
        dataValueField: "ID_CIA",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/ListSubCiaByAcco?var=" + Math.random()
            },
        }
    }).data("kendoComboBox");



    $("#submit").click(function () {
        winPopUpModalLoad('@ResourceLanguaje.Resource.Saving @ResourceLanguaje.Resource.Profile', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
    });

    var onSelect = function (e) {
        $.each(e.files, function (index, value) {
            if (value.extension.toLowerCase() != ".jpg") {
                e.preventDefault();

                winPopUpModal("@ResourceLanguaje.Resource.WrongFileExtension", "<div style='border-bottom:1px dotted #dadada;padding:0 3px 20px 3px;'>" +
                    "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.WrongFileExtMsn</div>" +
                    "<div style='float:right; padding:30px 0 0 0; '>" +
                    "<button id='continuee' class='k-button'>Continue</button>" +
                    "</div></div>", 400, 140);

                var undo = $("#continuee")
                .bind("click", function () {
                    closeWinModalPopUp();
                });

            }
            else {
                $("#divUpdatePhoto").css("display", "block");
            }
        });
    };

    $('#EPS').click(function () {
        var $this = $(this);
        // $this will contain a reference to the checkbox
        if ($this.is(':checked')) {
            $("#divPlanEPS").css("display", "inline-block");
            $("#divNumFam").css("display", "inline-block");
            $("#EPS_HF").val(1);
        } else {
            $("#divPlanEPS").css("display", "none");
            $("#divNumFam").css("display", "none");
            $("#EPS_HF").val(0);
        }
    });

    $("#filesPhoto").kendoUpload({
        localization: {
            select: "Cambiar Foto"
        },
        showFileList: false,
        select: onSelect,
        multiple: false,
    });

    var STAR_DATE = $("#STAR_DATE").kendoDateTimePicker({
        format: "d/M/yyyy hh:mm tt",
    }).data("kendoDateTimePicker");
    var END_DATE = $("#END_DATE").kendoDateTimePicker({
        format: "d/M/yyyy hh:mm tt",
    }).data("kendoDateTimePicker");
    var BIRTHDAY = $("#BIRTHDAY").kendoDatePicker({
        format: "d/M/yyyy",
    }).data("kendoDatePicker");
    BIRTHDAY.max("@ViewBag.TODAY");

    var EMISSION_DATE_DNI = $("#EMISSION_DATE_DNI").kendoDateTimePicker().data("kendoDateTimePicker");
    var EXPIRE_DATE_DNI = $("#EXPIRE_DATE_DNI").kendoDateTimePicker().data("kendoDateTimePicker");
    var STAR_DATE_PENS = $("#STAR_DATE_PENS").kendoDateTimePicker().data("kendoDateTimePicker");
    var STAR_DATE_SALA = $("#STAR_DATE_SALA").kendoDateTimePicker().data("kendoDateTimePicker");
    var STAR_DATE_CTS = $("#STAR_DATE_CTS").kendoDateTimePicker().data("kendoDateTimePicker");

    var sexo = [{ text: "@ResourceLanguaje.Resource.Male", value: "M" }, { text: "@ResourceLanguaje.Resource.Female", value: "F" }];
    var SEX_ENTI = $("#SEX_ENTI").kendoComboBox({
        autoBind: true,
        dataTextField: "text",
        dataValueField: "value",
        suggest: true,
        dataSource: sexo,
        index: 0
    }).data("kendoComboBox");

    $("#ID_TYPE_DI").kendoComboBox({
        dataTextField: "NAM_TYPE_DI",
        dataValueField: "ID_TYPE_DI",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        index: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Type_DocumentIdentity/List?var=" + Math.random()
            }
        }
    });
    var ID_TYPE_DI = $("#ID_TYPE_DI").data("kendoComboBox");
    ID_TYPE_DI.bind("change", function (e) {
        if (ID_TYPE_DI.dataItem().ID_TYPE_DI == 1) {
            $("#divDNI").css("display", "inline-block");
            $('#divContact').removeClass('divFondoUno');
            $('#divContact').addClass('divFondoDos');
        }
        else {
            $("#divDNI").css("display", "none");
            $('#divContact').removeClass('divFondoDos');
            $('#divContact').addClass('divFondoUno');
        }
        var alt = $("#divBodyFormIzq").height();
        $("#divBodyFormDer").height(alt);
    });

    $("#ID_CIVI_STAT").kendoComboBox({
        dataTextField: "NAM_CIVI_STAT",
        dataValueField: "ID_CIVI_STAT",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/CivilStatus/ListCivilStatus?var=" + Math.random()
            }
        }
    });
    var ID_CIVI_STAT = $("#ID_CIVI_STAT").data("kendoComboBox");

    $("#ID_PLAN_EPS").kendoComboBox({
        dataTextField: "NAM_PLAN",
        dataValueField: "ID_PLAN_EPS",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/PlanEPS/List?var=" + Math.random()
            }
        }
    });
    var ID_PLAN_EPS = $("#ID_PLAN_EPS").data("kendoComboBox");

    $("#ID_BLOO_GROU").kendoComboBox({
        dataTextField: "NAM_BLOO_GROU",
        dataValueField: "ID_BLOO_GROU",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/BloodGroup/ListBloodGroup?var=" + Math.random()
            }
        }
    });
    var ID_BLOO_GROU = $("#ID_BLOO_GROU").data("kendoComboBox");

    $("#ID_DEGR_INST").kendoComboBox({
        dataTextField: "NAM_DEGR_INST",
        dataValueField: "ID_DEGR_INST",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/DegreeInstruction/ListDegreeInstruction?var=" + Math.random()
            }
        }
    });
    var ID_DEGR_INST = $("#ID_DEGR_INST").data("kendoComboBox");
    ID_DEGR_INST.list.width(300);

    $("#ID_NATI").kendoComboBox({
        dataTextField: "NAM_NATI",
        dataValueField: "ID_NATI",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Nationality/ListNationality?var=" + Math.random()
            }
        }
    });
    var ID_NATI = $("#ID_NATI").data("kendoComboBox");
    ID_NATI.list.width(300);

    $("#ID_BANK_SALA").kendoComboBox({
        dataTextField: "NAM_BANK",
        dataValueField: "ID_BANK",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Bank/List?var=" + Math.random()
            }
        }
    });
    var ID_BANK_SALA = $("#ID_BANK_SALA").data("kendoComboBox");

    $("#ID_BANK_CTS").kendoComboBox({
        dataTextField: "NAM_BANK",
        dataValueField: "ID_BANK",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Bank/List?var=" + Math.random()
            }
        }
    });
    var ID_BANK_CTS = $("#ID_BANK_CTS").data("kendoComboBox");

    $("#ID_LOCA").kendoComboBox({
        dataTextField: "NAME",
        dataValueField: "ID_LOCA",
        template: '<div style="font-weight:bold;">${ data.NAM_SITE }</div>' +
                    '<div>${ data.NAM_LOCA }</div>',
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Location/ListTalent?var=" + Math.random()
            }
        }
    });
    var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

    $("#ID_PERS_STAT").kendoComboBox({
        dataTextField: "NAM_STAT",
        dataValueField: "ID_PERS_STAT",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        index: 1,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Person_Status/ListByVisible?var=" + Math.random()
            }
        }
    });
    var ID_PERS_STAT = $("#ID_PERS_STAT").data("kendoComboBox");
    ID_PERS_STAT.bind("change", function (e) {
        if (ID_PERS_STAT.dataItem().ID_PERS_STAT == 1 || ID_PERS_STAT.dataItem().ID_PERS_STAT == 2) {
            $("#divContract").css("display", "inline-block");
            $("#divAttach").css("display", "inline-block");
            $("#divArea").css("display", "inline-block");
            $("#divPhone").css("display", "inline-block");
            $("#divPension").css("display", "inline-block");
            $("#divSalary").css("display", "inline-block");
            $("#divCTS").css("display", "inline-block");
            $("#divEPS").css("display", "inline-block");
            $("#divCondContract").css("display", "inline-block");

            $("#iddivRPMTELMAIELE").css("display", "inline-block");
            $("#iddivEPSBASKET").css("display", "inline-block");



        }
        else {
            $("#divContract").css("display", "none");
            $("#divAttach").css("display", "none");
            $("#divArea").css("display", "none");
            $("#divPhone").css("display", "none");
            $("#divPension").css("display", "none");
            $("#divSalary").css("display", "none");
            $("#divCTS").css("display", "none");
            $("#divEPS").css("display", "none");
            $("#divCondContract").css("display", "none");

            $("#iddivRPMTELMAIELE").css("display", "none");
            $("#iddivEPSBASKET").css("display", "none");

        }
    });

    $("#ID_ENTI1").kendoComboBox({
        dataTextField: "COM_NAME",
        dataValueField: "ID_ENTI1",
        filter: "contains",
        autoBind: true,
        index: 0,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Talent/ListCIA?var=" + Math.random()
            }
        }
    });
    var ID_ENTI1 = $("#ID_ENTI1").data("kendoComboBox");

    $("#ID_COND_CONT").kendoComboBox({
        dataTextField: "NAM_COND",
        dataValueField: "ID_COND_CONT",
        filter: "contains",
        autoBind: true,
        index: 1,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Contract_Condition/List?var=" + Math.random()
            }
        }
    });

    $("#ID_TYPE_PENS").kendoComboBox({
        dataTextField: "NAM_PENS",
        dataValueField: "ID_TYPE_PENS",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Pension/ListTypePension?var=" + Math.random()
            }
        }
    });
    var ID_TYPE_PENS = $("#ID_TYPE_PENS").data("kendoComboBox");
    ID_TYPE_PENS.bind("change", function (e) {
        if (ID_TYPE_PENS.dataItem().ID_TYPE_PENS == 5) {
            $("#divEspCUSPP").css("display", "none");
            $("#divCUSPP").css("display", "none");
        }
        else {
            $("#divEspCUSPP").css("display", "inline-block");
            $("#divCUSPP").css("display", "inline-block");
        }
    });


    $("#GROSS_SALARY").kendoNumericTextBox({
        min: 0
    });

    $("#NUM_FAMI").kendoNumericTextBox({
        min: 0
    });

    var onSelectDocs = function (e) {
        $.each(e.files, function (index, value) {
            if (value.extension.toLowerCase() != ".pdf") {
                e.preventDefault();

                winPopUpModal("@ResourceLanguaje.Resource.WrongFileExtension", "<div style='border-bottom:1px dotted #dadada;padding:0 3px 20px 3px;'>" +
                    "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.AssetMessage8</div>" +
                    "<div style='float:right; padding:30px 0 0 0; '>" +
                    "<button id='continuee' class='k-button'>Continue</button>" +
                    "</div></div>", 400, 140);

                var undo = $("#continuee")
                .bind("click", function () {
                    closeWinModalPopUp();
                });

            }
        });
    };

    $("#filesDocs").kendoUpload({
        localization: {
            select: "@ResourceLanguaje.Resource.AttachTalent @ResourceLanguaje.Resource.ContractTalent"
        },
        select: onSelectDocs,
        multiple: false,
    });

    function JobTitle() {
        var ID_ENTI1 = $("#ID_ENTI1").data("kendoComboBox");
        var htmlForm = '<div id="FormJobTitle"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.ChartPopupTitleTalent", htmlForm, 400, 400);
        $("#FormJobTitle").load("/TalentChart/ViewChartWithoutStaff?id=" + ID_ENTI1.value() + "&var=" + Math.random());
        return false;
    }

    function NewLocation(id) {
        var htmlForm = '<div id="FormNewSiteLocation"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.NewLocation", htmlForm, 300, 200);
        $("#FormNewSiteLocation").load("/Location_Entity/Index?var=" + Math.random() + "&id=" + id);
        return false;
    }

    function NewSite() {
        closeWinFormModalPopUp();
        setTimeout("OpenWinNewSite()", 500);
    }

    function OpenWinNewSite() {
        var htmlForm = '<div id="FormNewSite"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.NewSite", htmlForm, 300, 135);
        $("#FormNewSite").load("/Site_Entity/Index?var=" + Math.random());

        $("#closebtnmodalF").click(function () {
            setTimeout("NewLocation(0)", 500);
        });
    }

    var alt = $("#divBodyFormIzq").height();
    $("#divBodyFormDer").height(alt);

    $("#ID_AREA").kendoComboBox({
        dataTextField: "NAM_AREA",
        dataValueField: "ID_AREA",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Area/ListByClient?var=" + Math.random()
            }
        }
    });
    var ID_AREA = $("#ID_AREA").data("kendoComboBox");

    var IdProfesion = $("#IdProfesion").kendoComboBox({
        dataTextField: "Nombre",
        dataValueField: "Id",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: false,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Profesion/Listar?var=" + Math.random()
            }
        }
    }).data("kendoComboBox");

    IdProfesion.bind("change", function (e) {
        if (IdProfesion.dataItem() === undefined) {
            $("#divEditarCombo").css("display", "none");
        }
        else {
            var combobox = $("#IdProfesion").data("kendoComboBox");
            combobox.value(IdProfesion.dataItem().Id);
            $("#divEditarCombo").css("display", "block");
        }
    });

    function NuevaCarrera() {
        var htmlForm = '<div id="FormNuevaCarrera"></div>';
        winFormPopUpModal("Nueva Carrera", htmlForm, 250, 150);
        $("#FormNuevaCarrera").load("/Profesion/Crear?var=" + Math.random());
    }

    function EditarCarrera() {
        var combobox = $("#IdProfesion").data("kendoComboBox");
        if (a_entero(combobox.value()) > 0) {
            var htmlForm = '<div id="FormEditarCarrera"></div>';
            winFormPopUpModal("Editar Carrera", htmlForm, 250, 150);
            $("#FormEditarCarrera").load("/Profesion/Editar?id=" + combobox.value() + "&var=" + Math.random());
        }
        else { $("#divEditarCombo").css("display", "none"); }
    }

</script>
