@model ERPElectrodata.Models.PERSON_PAYMENT

@{
    Layout = null;
}

<div style="width:100%; height:542px; display:inline-block; margin-top:10px;">
    <div style="float:left; width:21%;">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title">@ResourceLanguaje.Resource.ValidBankAccountTalent</div>
            </div>
            <div class="inBodyForm" style="height:180px;" id="divAccountValid">
                
            </div>
        </div>
    </div>
    <div style="width:1%;min-width:5px;height:1px;float:left;"></div>
    <div style="width:42%; float:left;">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title">@ResourceLanguaje.Resource.NewBankAccountTalent</div>
            </div>
            <div class="inBodyForm" style="height:180px;" id="divContNewAccount">
            @using (Html.BeginForm("NewPersonAccount", "Person_Payment", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormPersonAccount", name = "FormPersonAccount", target = "upload_targetPersonAccount" }))
            {                
                <input type="hidden" name="ID_PERS_ENTI" id="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />                
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.TypeAccountTalent
                        </div>
                        <div class="editor-field">
                            <input type="text" name="ID_TYPE_PAYM_NEW" id="ID_TYPE_PAYM_NEW" />
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2" style="margin-left:-2px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.BankTalent
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_BANK)
                            @Html.ValidationMessageFor(model => model.ID_BANK)
                        </div>
                    </div>
                </div>
                <div class="divFondoDos">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.NumberAccountTalent
                        </div>
                        <div class="k-textbox">
                            @Html.EditorFor(model => model.NUM_ACCO)
                            @Html.ValidationMessageFor(model => model.NUM_ACCO)
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2" style="margin-left:-2px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.AccountOpeningDateTalent
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DAT_STAR)
                            @Html.ValidationMessageFor(model => model.DAT_STAR)
                        </div>
                    </div>
                </div>
                <div class="divFondoUno" style="margin-bottom:5px;">
                    <div class="divSpace2" style="float:right;"></div>
                    <div style="display:inline-block; float:right; margin-top:15px;">
                        <button id="submit" class="k-button">@ResourceLanguaje.Resource.BtnSaveTalent</button>
                    </div>
                </div>      
            }
                <iframe id="upload_targetPersonAccount" name="upload_targetPersonAccount" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
            </div>
        </div>
    </div>
    <div style="width:30%;min-width:5px;height:1px;float:left;"></div>
    <div style="float:left; height:12px; width:100%;"></div>
    <div style="float:left; width:64%;">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title" id="titleOldBankAccounts">@ResourceLanguaje.Resource.OldBankAccountsTalent</div>
            </div>
            <div class="inBodyForm" style="height:282px; padding-top:10px;" id="divAccountOld">
                @*<div style="width:100%; margin:0 auto;">aca</div>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"> 
    $(document).ready(function () {

        $("#submit").click(function () {
            winPopUpModalLoad('@ResourceLanguaje.Resource.SavingTalent @ResourceLanguaje.Resource.NewBankAccountTalent', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
        });

        $("#ID_TYPE_PAYM_NEW").kendoComboBox({
            dataTextField: "NAM_TYPE_PAYM",
            dataValueField: "ID_TYPE_PAYM",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "data",
                    total: "Count"
                },
                transport: {
                    read: "/Person_Payment/ListTypePayment?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_PAYM_NEW = $("#ID_TYPE_PAYM_NEW").data("kendoComboBox");

        $("#ID_BANK").kendoComboBox({
            dataTextField: "NAM_BANK",
            dataValueField: "ID_BANK",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Bank/List?var=" + Math.random()
                }
            }
        });
        var ID_BANK = $("#ID_BANK").data("kendoComboBox");
        var DAT_STAR = $("#DAT_STAR").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#divAccountValid").empty();
        $("#divAccountValid").load("/PERSON_PAYMENT/PanelAccountValid?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());

        $("#divAccountOld").empty();
        $("#divAccountOld").load("/PERSON_PAYMENT/PanelAccountsOld?id=@ViewBag.ID_PERS_ENTI&id1=1&var=" + Math.random());

        $("#titleOldBankAccounts").html('@ResourceLanguaje.Resource.OldBankAccountsTalent - Salario');
    });
</script>
