@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<style>
    .ClassFoto {
        width: 135px;
        height: 135px;
        margin-top: 1%;
    }
</style>
<div id="divContent">
    <div class="row">
        <div class="col-sm-12 col-lg-7 mr-2 pr-2">
            <div class="inBodyForm" style="display:inline-block;">
                @using (Html.BeginForm("Edit", "Talent", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormTalent", target = "upload_target" }))
                {
                    @Html.HiddenFor(model => model.ID_ENTI)
                    <input type="hidden" id="ID_PERS_ENTI" name="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />
                    <div class="row">
                        <div class="col-md-2 ml-2">
                            <div class="MarcoFoto">
                                <div class="BordeInternoFoto" style="margin:0 auto;">
                                    <div class="divOculto" id="divUpdatePhoto"></div>
                                    <img src="/Content/Fotos/@ViewBag.FOTO" class="ClassFoto">
                                </div>
                            </div>
                            <div class="BtnChange">
                                <input name="filesPhoto" id="filesPhoto" type="file" />
                            </div>
                        </div>
                        <!----------------------LADO DERECHO DE LA FOTO------------------------>
                        <div class="col-md-8" id="DataUser">
                            <div class="row">
                                <div class="col-sm-12 col-lg-5">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.FirstNameTalent
                                    </div>
                                    <div class="k-textbox" style="width:100%;">
                                        @Html.EditorFor(model => model.FIR_NAME)
                                        @Html.ValidationMessageFor(model => model.FIR_NAME)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-5">
                                    <div class="editor-label">
                                        Segundo nombre
                                    </div>
                                    <div class="k-textbox" style="width:100%;">
                                        @Html.EditorFor(model => model.SEC_NAME)
                                        @Html.ValidationMessageFor(model => model.SEC_NAME)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-5">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.LastNameTalent

                                    </div>
                                    <div class="k-textbox" style="width:100%;">
                                        @Html.EditorFor(model => model.LAS_NAME)
                                        @Html.ValidationMessageFor(model => model.LAS_NAME)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-5">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.MotherNameTalent
                                    </div>
                                    <div class="k-textbox" style="width:100%;">
                                        @Html.EditorFor(model => model.MOT_NAME)
                                        @Html.ValidationMessageFor(model => model.MOT_NAME)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-5">
                                    <div class="editor-label">
                                        Tercer Nombre
                                    </div>
                                    <div class="k-textbox" style="width:100%;">
                                        @Html.EditorFor(model => model.THI_NAME)
                                        @Html.ValidationMessageFor(model => model.THI_NAME)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-5">
                                    <div class="editor-label">
                                        @ResourceLanguaje.Resource.GenereTalent
                                    </div>
                                    <div class="editor-field" style="width:100%;">
                                        <input id="SEX_ENTI" type="text" name="SEX_ENTI" style="width:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    //-------------------------PIE DE LA FOTO -----------------------------
                    <div class="col-lg-12" id="DetailsProfile">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.CivilStatusTalent
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.ID_CIVI_STAT)
                                    @Html.ValidationMessageFor(model => model.ID_CIVI_STAT)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.DateBirthTalent
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.BIRTHDAY)
                                    @Html.ValidationMessageFor(model => model.BIRTHDAY)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label" style="cursor:pointer;" title="Registrar nueva carrera profesional">
                                    <a data-toggle="modal" data-target="#miModal" onclick="NuevaCarrera()">Carrera Profesional</a>
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.IdProfesion)
                                    @Html.ValidationMessageFor(model => model.IdProfesion)
                                </div>
                                <div id="divEditarCombo" style="display:none;" class="editCombo" onclick="EditarCarrera()">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.DegreeInstructionTalent
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.ID_DEGR_INST)
                                    @Html.ValidationMessageFor(model => model.ID_DEGR_INST)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.PhoneNumberHouseTalent
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    @Html.EditorFor(model => model.TEL_ENTI)
                                    @Html.ValidationMessageFor(model => model.TEL_ENTI)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.CellPhoneTalent Personal
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    @Html.EditorFor(model => model.CEL_ENTI)
                                    @Html.ValidationMessageFor(model => model.CEL_ENTI)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.ClientEmailTalent
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    <input type="text" name="EMA_PERS" value="@ViewBag.EMA_PERS" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.PersonalEmailTalent
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    @Html.EditorFor(model => model.EMA_ENTI)
                                    @Html.ValidationMessageFor(model => model.EMA_ENTI)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.AddressTalent
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    @Html.EditorFor(model => model.ADDRESS)
                                    @Html.ValidationMessageFor(model => model.ADDRESS)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.NationalityTalent
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.ID_NATI)
                                    @Html.ValidationMessageFor(model => model.ID_NATI)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Number @ResourceLanguaje.Resource.DocumentIdentityTalent
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    @Html.EditorFor(model => model.NUM_TYPE_DI)
                                    @Html.ValidationMessageFor(model => model.NUM_TYPE_DI)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Type @ResourceLanguaje.Resource.DocumentIdentityTalent
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.ID_TYPE_DI)
                                    @Html.ValidationMessageFor(model => model.ID_TYPE_DI)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.BloodGroupTalent
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.ID_BLOO_GROU)
                                    @Html.ValidationMessageFor(model => model.ID_BLOO_GROU)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    Nombre de @ResourceLanguaje.Resource.ContactTalent
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    @Html.EditorFor(model => model.CONTACT_NAME)
                                    @Html.ValidationMessageFor(model => model.CONTACT_NAME)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    Telefono de @ResourceLanguaje.Resource.ContactTalent
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    @Html.EditorFor(model => model.CONTACT_PHONE)
                                    @Html.ValidationMessageFor(model => model.CONTACT_PHONE)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="editor-label" style="cursor:pointer;" title="Registrar nueva universidad">
                                    <a data-toggle="modal" data-target="#miModal" onclick="NuevaUniversidad()">Universidad</a>
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    @Html.EditorFor(model => model.IdUniversidad)
                                    @Html.ValidationMessageFor(model => model.IdUniversidad)
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.EmissionDateDni
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.EMISSION_DATE_DNI)
                                    @Html.ValidationMessageFor(model => model.EMISSION_DATE_DNI)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.ExpireDateDni
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.EXPIRE_DATE_DNI)
                                    @Html.ValidationMessageFor(model => model.EXPIRE_DATE_DNI)
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h6 class="">Información de Compañía</h6>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-label">
                                Compañia
                            </div>
                            <div class="editor-field">
                                <input type="text" id="ID_CIA" name="NAM_CIA" value="@ViewBag.ID_SUB_CIA" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label">
                                Número de Telefono
                            </div>
                            <div class="k-textbox">
                                <input type="text" name="TEL_PERS" value="@ViewBag.TEL_PERS" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.PhoneExtensionTalent
                            </div>
                            <div class="k-textbox">
                                <input type="text" name="EXT_PERS" value="@ViewBag.EXT_PERS" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="editor-label">
                                Correo Electrodata
                            </div>
                            <div class="k-textbox">
                                <input type="text" name="EMA_ELEC" value="@ViewBag.EMA_ELEC" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label">
                                RPM
                            </div>
                            <div class="k-textbox">
                                <input type="text" name="RPM_PERS_ENTI" value="@ViewBag.RPM_PERS_ENTI" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-label">
                                @ResourceLanguaje.Resource.CellPhoneTalent
                            </div>
                            <div class="k-textbox">
                                <input type="text" name="CEL_PERS" value="@ViewBag.CEL_PERS" />
                            </div>
                        </div>
                    </div>
                    <div style="float:left; width:80%;">
                        <div class="divFondoUno" style="margin-bottom:5px;">
                            <div class="divSpace3"></div>
                            <div style="display:inline-block; float:right; padding:5px 12px 0px 5px;">
                                <div style=" float:left; padding:0px 15px 0px 0px; ">
                                    <button id="submit" class="btn btn-primary">@ResourceLanguaje.Resource.BtnSaveTalent</button>
                                </div>
                                @*<button id="reset" class="btn btn-link" onclick="cancel(); return false;">Cancelar</button>*@
                            </div>
                        </div>
                    </div>
                }

                <div style="float:left;">
                    <div class="divFondoUno" style="margin-bottom:5px;">
                        <div class="divSpace3"></div>
                        <div style="display:inline-block; float:right; padding:5px 12px 0px 5px;">
                            <button id="btnCancelar" class="btn btn-link" onclick="cancel()">Cancelar</button>
                        </div>
                    </div>
                </div>
                <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>
            </div>
            </div>
        <div class="col-sm-12 col-lg-4">
            <div class="mb-0 card ml-0">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        Lista de actividades
                    </div>
                </div>
                <div class="p-0 card-body">
                    <div class="p-1 slick-slider-sm">
                        <div id="divDataContract" style="border:0px solid red;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/Talent/DataUserEdit/@ViewBag.ID_PERS_ENTI",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                showInfoContract();
            },
            error: function (source) {
                //alert("Error Carga Json");
            }
        });

        var sexo = [{ text: "@ResourceLanguaje.Resource.MaleTalent", value: "M" }, { text: "@ResourceLanguaje.Resource.FemaleTalent", value: "F" }];
        var SEX_ENTI = $("#SEX_ENTI").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,
            dataSource: sexo,
            index: 0
        }).data("kendoComboBox");
        var SEX_ENTI = $("#SEX_ENTI").data("kendoComboBox");
        SEX_ENTI.value('@ViewBag.SEX_ENTI');

        $("#ID_CIVI_STAT").kendoComboBox({
            dataTextField: "NAM_CIVI_STAT",
            dataValueField: "ID_CIVI_STAT",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CivilStatus/ListCivilStatus?var=" + Math.random()
                }
            }
        });
        var ID_CIVI_STAT = $("#ID_CIVI_STAT").data("kendoComboBox");


        var BIRTHDAY = $("#BIRTHDAY").kendoDateTimePicker({
            format: "d/M/yyyy hh:mm tt",
        }).data("kendoDateTimePicker");
        var EMISSION_DATE_DNI = $("#EMISSION_DATE_DNI").kendoDateTimePicker().data("kendoDateTimePicker");
        var EXPIRE_DATE_DNI = $("#EXPIRE_DATE_DNI").kendoDateTimePicker().data("kendoDateTimePicker");
        BIRTHDAY.max("@ViewBag.TODAY");
        BIRTHDAY.value("@ViewBag.BIRTHDAY");
        EMISSION_DATE_DNI.max("@ViewBag.TODAY");
        EMISSION_DATE_DNI.value("@ViewBag.EMISSION_DATE_DNI");
        EXPIRE_DATE_DNI.value("@ViewBag.EXPIRE_DATE_DNI");

        $("#ID_NATI").kendoComboBox({
            dataTextField: "NAM_NATI",
            dataValueField: "ID_NATI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Nationality/ListNationality?var=" + Math.random()
                }
            }
        });
        var ID_NATI = $("#ID_NATI").data("kendoComboBox");
        ID_NATI.list.width(300);

        $("#ID_TYPE_DI").kendoComboBox({
            dataTextField: "NAM_TYPE_DI",
            dataValueField: "ID_TYPE_DI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            index: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Type_DocumentIdentity/List?var=" + Math.random()
                }
            }
        });

        $("#ID_DEGR_INST").kendoComboBox({
            dataTextField: "NAM_DEGR_INST",
            dataValueField: "ID_DEGR_INST",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DegreeInstruction/ListDegreeInstruction?var=" + Math.random()
                }
            }
        });
        var ID_DEGR_INST = $("#ID_DEGR_INST").data("kendoComboBox");
        ID_DEGR_INST.list.width(300);

        $("#ID_BLOO_GROU").kendoComboBox({
            dataTextField: "NAM_BLOO_GROU",
            dataValueField: "ID_BLOO_GROU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/BloodGroup/ListBloodGroup?var=" + Math.random()
                }
            }
        });
        var ID_BLOO_GROU = $("#ID_BLOO_GROU").data("kendoComboBox");

        var onSelect = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".jpg") {
                    e.preventDefault();
                    toastr.warning('@ResourceLanguaje.Resource.WrongFileExtMsn','@ResourceLanguaje.Resource.WrongFileExtension');
                    @*winPopUpModal("@ResourceLanguaje.Resource.WrongFileExtension", "<div style='border-bottom:1px dotted #dadada;padding:0 3px 20px 3px;'>" +
                    "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.WrongFileExtMsn</div>" +
                    "<div style='float:right; padding:30px 0 0 0; '>" +
                    "<button id='continuee' class='k-button'>Continue</button>" +
                    "</div></div>", 400, 140);

                    var undo = $("#continuee")
                        .bind("click", function () {
                            closeWinModalPopUp();
                        });*@
                }
                else {
                    $("#divUpdatePhoto").css("display", "block");
                }
            });
        };

        $("#filesPhoto").kendoUpload({
            localization: {
                select: "Cambiar"
            },
            //showFileList: false,
            select: onSelect,
            multiple: false,
        });

        var IdProfesion = $("#IdProfesion").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Profesion/Listar?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        IdProfesion.bind("change", function (e) {
            if (IdProfesion.dataItem() === undefined) {
                $("#divEditarCombo").css("display", "none");
            }
            else {
                var combobox = $("#IdProfesion").data("kendoComboBox");
                combobox.value(IdProfesion.dataItem().Id);
                $("#divEditarCombo").css("display", "block");
            }
        });

        var IdUniversidad = $("#IdUniversidad").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Talent/ListarUniversidades?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#submit").click(function () {
            winPopUpModalLoad("Saving Your Profile", "Please Wait", 300, 130);
        });
    });

    function NuevaCarrera() {
        //var htmlForm = '<div id="FormNuevaCarrera"></div>';
        //winFormPopUpModal("Nueva Carrera", htmlForm, 250, 150);
        //$("#FormNuevaCarrera").load("/Profesion/Crear?var=" + Math.random());
        $("#lblTitulo").text("Nueva Carrera");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").addClass("modal-sm");

        $('#modal-content').empty();
        $('#modal-content').load('/Profesion/Crear/');
    }

    function NuevaUniversidad() {
        $("#lblTitulo").text("Nueva Universidad");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-sm");

        $('#modal-content').empty();
        $('#modal-content').load('/Talent/CrearUniversidad/');
    }

    function EditarCarrera() {
        var combobox = $("#IdProfesion").data("kendoComboBox");
        if (a_entero(combobox.value()) > 0) {
            var htmlForm = '<div id="FormEditarCarrera"></div>';
            winFormPopUpModal("Editar Carrera", htmlForm, 250, 150);
            $("#FormEditarCarrera").load("/Profesion/Editar?id=" + combobox.value() + "&var=" + Math.random());
        }
        else { $("#divEditarCombo").css("display", "none"); }
    }

    var ID_SUB_CIA = $("#ID_CIA").kendoComboBox({
        dataTextField: "CIA",
        dataValueField: "ID_CIA",
        filter: "contains",
        autoBind: false,
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/ListSubCiaByAcco?var=" + Math.random()
            },
        }
    }).data("kendoComboBox");


    function showInfoContract() {

        $.each(data['data'], function (index, value) {
            $("#divDataContract").append(
                '<div class="col-lg-12">' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.StatusTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['NAM_STAT']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.ConditionContractTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['CONDITION']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.Usb</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['USB']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>Area</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['NOM_AREA']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.JobTitleTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['CAR_PERS']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.LocationTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['Ubicacion']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.PensionTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['AFP_ONP']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>CUSPP</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['CUSPP']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDatePension</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['PENDateStar']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.SalaryBankTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['SalaryBank']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.NumberAccountSalaryTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['SalaryNumAcco']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.AccountOpeningDateTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['SalaryAOD']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.CTSBankTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['CTSBank']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.AccountOpeningDateTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['CTSAOD']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>Plan EPS</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['EPSPlan']) + '</div>' +
                        '</div> ' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.FamilyBeneficiariesTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['NUM_FAMI']) + '</div>' +
                        '</div> '+
                    '</div>' +
                    '<div class= "row">' +
                        '<div class="col-lg-5">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDateEPSTalent</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['EPSDateStar']) + '</div>' +
                        '</div> ' +
                    '</div>' +
                '</div>' +



                '<div class ="divListWhite" style="height:108px;">' +
                    '<div class = "casilla4">' +
                        '<div class = "smallField"><b></b></div>' +
                        '<div class = "smallTitle"></div>' +
                    '</div>' +
                '</div>');
        });

        @*        $("#divBeneficiaries").empty();
        $("#divBeneficiaries").load("/Talent/ListBeneficiaries?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());

        $("#divNewBene").empty();
        $("#divNewBene").load("/Talent/NewBeneficiary?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());*@
    }

    function mensaje(tipo, msg) {
        if (tipo == 'ERROR') {
            toastr.error(msg, "");
        } else {
            toastr.success(msg, "");
            
            setTimeout(function () { location.reload(); }, 1500);
        }
    }

    function cancel() {

        toastr.warning("Cancelando...");
        location.reload(true);
    }

</script>
