@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}

<div style="width:100%; height:542px; display:inline-block; margin-top:10px;">
    <div style="width:50%; float:left;">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title">@ResourceLanguaje.Resource.PaymentBallotsTalent</div>
            </div>
            <div class="inBodyForm" style="overflow-y: auto; height:511px;" id="divContInvoice">
                
            </div>
        </div>
    </div>
    @*<div style="width:1%;min-width:5px;height:1px;float:left;"></div>
    <div style="width:32.66%; float:left;">                
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title">@ResourceLanguaje.Resource.Attach @ResourceLanguaje.Resource.PaymentBallots</div>
            </div>
            <div class="inBodyForm" style="overflow-y: auto;">
                <div id="cargarInvoice"></div>
            </div>
        </div>
    </div>*@
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#divContInvoice").empty();
        $("#divContInvoice").load("/Talent/ListInvoice?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());

        //$("#cargarInvoice").empty();
        //$("#cargarInvoice").load("/Talent/AttachInvoice?id=@ViewBag.ID_PERS_ENTI&id1=0" + "&var=" + Math.random());
    });

    function Authorization(arc, iddocu) {
        alert(1);
        @*$(".btnAbrirModal").attr("data-style", "expand-right");
        $(".btnAbrirModal").attr("data-toggle", "modal");
        $(".btnAbrirModal").attr("data-target", "#miModal");
        $("#lblTitulo").text("@ResourceLanguaje.Resource.ValidationsOfCredentials");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").addClass("modal-sm");

        $('#modal-content').empty();
        $('#modal-content').load("/Account/ViewAuthorization?id=" + @ViewBag.ID_PERS_ENTI + "&id1=" + iddocu + "&fd=Invoice&var=" + Math.random());*@
        @*var htmlForm = '<div id="FormAuthorization"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.ValidationsOfCredentials", htmlForm, 260, 205);
        $("#FormAuthorization").load("/Account/ViewAuthorization?id=@ViewBag.ID_PERS_ENTI&id1=" + iddocu + "&fd=Invoice&var=" + Math.random());
        return false;*@
    }

    function mensaje(msg, code, cdg) {
        if (msg == "OK") {
            if (code == "Training") {
                toastr.success("@ResourceLanguaje.Resource.TrainingMsn04","Information Saved");
            }
            else if (code == "OpenPDF") {
                $("[data-dismiss=modal]").trigger({ type: "click" });
                window.open("/Talent/ViewDownload/" + cdg, "_blank");
            }
            else {
                toastr.success("La información se ha guardado correctamente", "Information Saved");
                setTimeout(function () { location.reload(true); }, 1500);
            }
        }
        else {

            var titleAsset = '';
            var messageAsset = '';
            if (code == '0') {
                titleAsset = '@ResourceLanguaje.Resource.InformationMissing';
                messageAsset = '@ResourceLanguaje.Resource.InformationMissingMsn';
            }
            else if (code == '1') {
                titleAsset = '@ResourceLanguaje.Resource.BasedDrawback';
                messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }
            else if (code == '2') {
                titleAsset = '@ResourceLanguaje.Resource.WrongDates';
                messageAsset = '@ResourceLanguaje.Resource.WrongDatesMsn';
            }
            else if (code == '3') {
                titleAsset = '@ResourceLanguaje.Resource.Attach';
                messageAsset = '@ResourceLanguaje.Resource.AttachMsn';
            }
            else if (code == '5') {
                titleAsset = '@ResourceLanguaje.Resource.WrongCredentials';
                messageAsset = '@ResourceLanguaje.Resource.WrongCredentialsMsn1';
            }
            else if (code == '6') {
                titleAsset = '@ResourceLanguaje.Resource.WrongCredentials';
                messageAsset = '@ResourceLanguaje.Resource.WrongCredentialsMsn2';
            }
            toastr.warning(messageAsset,titleAsset)
            
        }
    }
</script>