@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}

<style>
    .ClassFoto {
        width: 155px;
        height: 155px;
        margin-top: 1%;
    }

    .MarcoFotoProfile {
        left: 50%;
        top: 50%;
        margin-left: -60px;
        margin-top: -75px;
    }
    .Mayuscula {
        float: left;
        text-transform: capitalize;
    }
</style>
<div class="row" style="width:100%;">
    <div class="col-lg-4 col-xl-3" style="background:rgba(238,230,254,0.3);">
        <!--divide bloque en 2-->
        <div class="col-lg-12">
            <!--foto y pequeña descripción-->
            <div class="BordeInternoFotoProfile"><img src="/Content/Fotos/@ViewBag.FOTO" class="ClassFoto" /></div>
        </div>
        <div class="col-lg-12" id="divDataUser">
        </div>
    </div>
    <div class="col-lg-8 col-xl-8">
        <div style="width:100%;border-bottom:2px solid rgba(238,230,254,0.6);padding-bottom:0.5%" id="divDataUser2">
        </div>
        <div style="width:100%; margin-top:0.5%;" id="divDataContract"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/Talent/DataUserEdit/@ViewBag.ID_PERS_ENTI",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                loadData();
            },
            error: function (source) {
                //alert("Error Carga Json");
            }
        });
    });

    function loadData() {
        $.each(data['data'], function (index, value) {
            $("#divDataUser").append(
                '<div style="font-size:.9em; text-transform:capitalize; margin-top:18px;margin-right:-15px"><div style="font-size:1em; color:#444444;"><b>' + (data['data'][index]['User']).toLowerCase() + '</b></div>' +
                '<div class = "smallTitle" style="margin-bottom:15px;">' + (data['data'][index]['CAR_PERS']).toLowerCase() + '</div>' +
                '<div class = "smallField"><b>@ResourceLanguaje.Resource.CellPhoneTalent:</b> <span class="smallTitle">' + (data['data'][index]['CEL_PERS']).toLowerCase() + '</span></div>' +
                '<div class = "smallField"><b>@ResourceLanguaje.Resource.PhoneExtensionTalent:</b> <span class="smallTitle">' + (data['data'][index]['EXT_PERS']).toLowerCase() + '</span></div>' +
                '<div class = "smallField"><span class="smallTitle" style="text-transform:none;">' + (data['data'][index]['EMA_ELEC']).toLowerCase() + '</span></div></div>');

            $("#divDataUser2").append(
                '<div class ="divListWhite">' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.NationalityTalent:</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['NATI']) + '</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>' + (data['data'][index]['TYPE_DI']) + '</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['NUM_TYPE_DI'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.DateBirthTalent:</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['BIRTHDAY']) + '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.GenereTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['Sex'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.HomeAddressTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['ADDRESS'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.DegreeInstructionTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['DEGR_INST'])+'</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.CivilStatusTalent:</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['CIVI_STAT']) + '</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.PhoneNumberHouseTalent</b></div>' +
                             '<div class="small Mayuscula">' + (data['data'][index]['TEL_ENTI'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.CellPhoneTalent</b></div>' +
                             '<div class="small Mayuscula">' + (data['data'][index]['CEL_ENTI'])+'</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.PersonalEmailTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['EMA_ENTI'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>Carrera Profesional</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['Profesion']) + '</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>Universidad</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['Universidad']) + '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>');

            $("#divDataContract").append(
                '<div class ="divListWhite">' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.CompanyTalent:</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['COM_NAME']) + '</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.StatusTalent</b></div>' +
                            '<div class="small Mayuscula">'+(data['data'][index]['NAM_STAT'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.ConditionContractTalent</b></div>' +
                            '<div class="small Mayuscula">'+(data['data'][index]['CONDITION'])+'</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.StartDateTalent:</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['STAR_PERI']) + '</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.EndDateTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['CESS_PER'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.TimeCompanyTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['Tiempo'])+'</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.Usb:</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['USB']) + '</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>Área</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['NOM_AREA'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.JobTitleTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['CAR_PERS'])+'</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class="row">' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.SiteTalent:</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['Site']) + '</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.LocationTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['Location'])+'</div>' +
                        '</div>' +
                        '<div class="col-lg-6 col-xl-3">' +
                            '<div class="small"><b>@ResourceLanguaje.Resource.ClientEmailTalent</b></div>' +
                            '<div class="small Mayuscula">' + (data['data'][index]['EMA_PERS'])+'</div>' +
                        '</div>' +
                    '</div>' +
                '</div>');
        });
    }
</script>




