






@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}

<style>
    .ClassFoto {
        width: 155px;
        height: 155px;
        //border-radius: 50%;
    }

    .MarcoFotoProfile {
        left: 50%;
        top: 50%;
        margin-left: -60px;
        margin-top: -75px;
    }
</style>
<div style="width:100%; height:456px; display:inline-block;">
    <div style="width:30%; float:left; margin: 10px 0 10px 0;">
        <div style="width:95.5%; height:200px; border:1px solid #efefef; background-color:#fcfcfc" id="divCard">
            <div style="width:40%; height:100%; float:left; position:relative;">
                <div class="MarcoFotoProfile">
                    <div class="BordeInternoFotoProfile"><img src="/Content/Fotos/@ViewBag.FOTO" class="ClassFoto" /></div>
                </div>
            </div>
            <div style="width:54%; height:100%; float:left; text-align:right;" id="divDataUser"></div>
        </div>
        <div style="width:100%; height:100%;" id="divDataUser2">
        </div>
    </div>
    <div style="width:69.7%; float:left; border:1px solid #efefef; margin: 10px 0 10px 0;">
        <div style="width:100%; height:425px; margin-top:15px;" id="divDataContract"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/Talent/DataUserEdit/@ViewBag.ID_PERS_ENTI",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                loadData();
            },
            error: function (source) {
                //alert("Error Carga Json");
            }
        });
    });

    function loadData() {
        $.each(data['data'], function (index, value) {
            $("#divDataUser").append(
                '<div style="float:right; font-size:.9em; text-transform:capitalize; margin-top:26px;margin-right:-15px"><div style="font-size:1em; color:#444444;"><b>' + (data['data'][index]['User']).toLowerCase() + '</b></div>' +
                '<div class = "smallTitle" style="margin-bottom:15px;">' + (data['data'][index]['CAR_PERS']).toLowerCase() + '</div>' +
                '<div class = "smallField"><b>@ResourceLanguaje.Resource.CellPhoneTalent:</b> <span class="smallTitle">' + (data['data'][index]['CEL_PERS']).toLowerCase() + '</span></div>' +
                '<div class = "smallField"><b>@ResourceLanguaje.Resource.PhoneExtensionTalent:</b> <span class="smallTitle">' + (data['data'][index]['EXT_PERS']).toLowerCase() + '</span></div>' +
                '<div class = "smallField"><span class="smallTitle" style="text-transform:none;">' + (data['data'][index]['EMA_ELEC']).toLowerCase() + '</span></div></div>');

            $("#divDataUser2").append(
                '<div style="padding-bottom:7px;"></div>' +
                '<div class ="divListWhite">' +
                    '<div class = "casilla5" style="width:55%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.NationalityTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NATI']) + '</div>' +
                    '</div>' +
                    '<div class = "casilla5">' +
                        '<div class = "smallField"><b>' + (data['data'][index]['TYPE_DI']) + '</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NUM_TYPE_DI']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite" style="display:none;">' +
                    '<div class = "casilla5" style="width:55%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.EmissionDateDni</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EMISSION_DATE_DNI']) + '</div>' +
                    '</div>' +
                    '<div class = "casilla5">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.ExpireDateDni</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EXPIRE_DATE_DNI']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "casilla5" style="width:55%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.DateBirthTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['BIRTHDAY']) + '</div>' +
                    '</div>' +
                    '<div class = "casilla5">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.GenereTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Sex']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "casilla5" style="width:100%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.HomeAddressTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['ADDRESS']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "casilla5" style="width:55%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.DegreeInstructionTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['DEGR_INST']) + '</div>' +
                    '</div>' +
                    '<div class = "casilla5">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CivilStatusTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CIVI_STAT']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "casilla5" style="width:55%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.PhoneNumberHouseTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['TEL_ENTI']) + '</div>' +
                    '</div>' +
                    '<div class = "casilla5">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CellPhoneTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CEL_ENTI']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "casilla5" style="width:55%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.PersonalEmailTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EMA_ENTI']) + '</div>' +
                    '</div>' +
                    '<div class = "casilla5">' +
                        '<div class = "smallField"><b>Carrera Profesional</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Profesion']) + '</div>' +
                    '</div>' +
                 @*   '<div class = "casilla4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.BloodGroupTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['BLOO_GROU']) + '</div>' +
                    '</div>' +
                '</div>' +
                 '<div class ="divListWhite">' +
                    '<div class = "casilla5" style="width:55%;">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.PersonContactTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CONTACT_NAME']) + '</div>' +
                    '</div>' +
                    '<div class = "casilla4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CellPhone @ResourceLanguaje.Resource.Contact</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CONTACT_PHONE']) + '</div>' +
                    '</div>' + *@
                '</div>');

            $("#divDataContract").append(
                '<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CompanyTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['COM_NAME']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StatusTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NAM_STAT']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.ConditionContractTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CONDITION']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDateTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['STAR_PERI']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.EndDateTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CESS_PER']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.TimeCompanyTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Tiempo']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.Usb</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['USB']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>Area</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NOM_AREA']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.JobTitleTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CAR_PERS']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.SiteTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Site']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.LocationTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['Location']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.ClientEmailTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EMA_PERS']) + '</div>' +
                    '</div>' +
                '</div>');
            @*'<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.PensionTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['AFP_ONP']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>CUSPP</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CUSPP']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDatePensionTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['PENDateStar']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.SalaryBankTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['SalaryBank']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.NumberAccountSalaryTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['SalaryNumAcco']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.AccountOpeningDateTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['SalaryAOD']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.CTSBankTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CTSBank']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.NumberAccountCTSTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CTSNumAcco']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.AccountOpeningDateTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CTSAOD']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class ="divListWhite">' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>Plan EPS</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EPSPlan']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.FamilyBeneficiariesTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NUM_FAMI']) + '</div>' +
                    '</div>' +
                    '<div class = "divLectSpacio3"></div>' +
                    '<div class = "divLectCont3">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDateEPSTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['EPSDateStar']) + '</div>' +
                    '</div>' +
                '</div>');*@
        });
    }
</script>