@model ERPElectrodata.Models.CARGO_AREA

@{
    //Layout = null;
    Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
}

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<style>
    .k-icon{
        padding:18px
    }
</style>
<div id="divContent">
    <div class="row">
        <div id="divChart" style="width:97%;margin:0 auto;">
            <div class="mb-3 card" id="" style="width:100%;">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        Buscar archivos
                    </div>
                    <div class="btn-actions-pane-right text-capitalize">
                        <label style="cursor:pointer;">
                            <input id="personCB" name="personCB" type="checkbox" checked="checked" />
                            @ResourceLanguaje.Resource.IncludeStaffTalent

                        </label>
                    </div>
                </div>
                <div class="p-0 card-body">
                    <div class="p-1 slick-slider-sm">
                        <div class="">
                            <div style="width:100%;">
                                <div class="titleForm">
                                    <div class="title" id="divTitle" style="display:inline-block; width:100%; padding-top:5px;">
                                        @ResourceLanguaje.Resource.OrganizationChartTalent

                                    </div>
                                </div>
                                <div class="inBodyForm" style="overflow-y: auto; height:358px;" id="divViewChart">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-5" style="display:none;" id="divMantto">
            <div class="col-sm-12 col-lg-12">
                <div class="mb-3 card" style="width:100%;">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            Editar
                        </div>
                    </div>
                    <div class="p-0 card-body">
                        <div class="p-1 slick-slider-sm">
                            <div class="">
                                <div style="width:100%;">
                                    @using (Html.BeginForm("EditNameChart", "TalentChart", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormEditNamChart", name = "FormEditNamChart", target = "upload_EditNamChart" }))
                                    {
                                        <input type="hidden" name="ED_ID_CHAR" id="ED_ID_CHAR" value="0" />
                                        <div class="row col-sm-12 col-lg-12">
                                            <div class="col-sm-12 col-lg-6">
                                                <div class="editor-label">
                                                    @ResourceLanguaje.Resource.TypeTalent
                                                </div>
                                                <div class="editor-field" style="width:100%;">
                                                    <input type="hidden" name="EDIT_ID_NAM_CHAR" id="EDIT_ID_NAM_CHAR" value="0" />
                                                    <input type="hidden" name="EDIT_ID_CHAR_PARE" id="EDIT_ID_CHAR_PARE" value="0" />
                                                    <div class="k-textbox" style="width:100%;">
                                                        <input id="EDIT_TYPE_CHAR" type="text" name="EDIT_TYPE_CHAR" style="text-transform:capitalize;" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-lg-6">
                                                <div class="editor-label">
                                                    @ResourceLanguaje.Resource.NameTalent
                                                </div>
                                                <div class="k-textbox" style="width:100%;">
                                                    <input id="EDIT_NAM_CHAR" type="text" name="EDIT_NAM_CHAR" style="text-transform:capitalize;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-12" id="divManagement" style="display:none;">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-6">
                                                    <div class="editor-label">
                                                        @ResourceLanguaje.Resource.ManagementTalent
                                                    </div>
                                                    <div class="editor-label" style="width:100%;">
                                                        <input type="checkbox" checked="checked" style="cursor:pointer;" id="manaCB" name="manaCB" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-lg-6">
                                                    <div class="editor-label">
                                                        @ResourceLanguaje.Resource.ActiveTalent
                                                    </div>
                                                    <div class="editor-label" style="width:100%;">
                                                        <input type="checkbox" checked="checked" style="cursor:pointer;" id="activeCB" name="activeCB" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-9" style="width:100%;">
                                                    <div class="editor-label">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-lg-3" style="width:100%;">
                                                    <div class="editor-label">
                                                        &nbsp;
                                                    </div>
                                                    <button id="submitEdit" class="btn btn-primary" style="width:100%;">@ResourceLanguaje.Resource.BtnSaveTalent</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <iframe id="upload_EditNamChart" name="upload_EditNamChart" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-12">
                <div class="mb-3 card" style="width:100%;">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            Agregar SubNodo
                        </div>
                    </div>
                    <div class="p-0 card-body">
                        <div class="p-1 slick-slider-sm">
                            <div class="">
                                <div style="width:100%;">
                                    @using (Html.BeginForm("NewSubNodeChart", "TalentChart", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormSubNodeChart", name = "FormSubNodeChart", target = "upload_SubNodeChart" }))
                                    {
                                        <div class="col-sm-12 col-lg-12">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-6">
                                                    <div class="editor-label">
                                                        @ResourceLanguaje.Resource.Type
                                                    </div>
                                                    <div class="editor-field" style="width:100%;">
                                                        <input id="ID_TYPE_CHAR" type="text" name="ID_TYPE_CHAR">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-lg-6">
                                                    <div class="editor-label">
                                                        <a href="#" onclick="NewNameChart()" title="@ResourceLanguaje.Resource.SubNodePopupTitle">@ResourceLanguaje.Resource.NameTalent</a>
                                                    </div>
                                                    <div class="editor-field" id="divCB_ID_NAM_CHAR" style="width:100%;">
                                                        <input id="ID_NAM_CHAR" type="text" name="ID_NAM_CHAR">
                                                    </div>
                                                    <div class="k-textbox" id="divTB_NAM_CHAR" style="display:none;">
                                                        <input id="NAM_CHAR" type="text" name="NAM_CHAR">
                                                    </div>
                                                    <input type="hidden" id="swNewOrSelect" name="swNewOrSelect" value="0" />
                                                    <input type="hidden" name="SN_ID_CHAR" id="SN_ID_CHAR" value="0" />
                                                    <input type="hidden" name="SN_ID_CHAR_PARE" id="SN_ID_CHAR_PARE" value="0" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-12" id="divManageSN" style="display:none;">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-6">
                                                    <div class="editor-label">
                                                        @ResourceLanguaje.Resource.ManagementTalent
                                                    </div>
                                                    <div class="editor-label" style="width:100%;">
                                                        <input type="checkbox" style="cursor:pointer;" id="SNmanaCB" name="SNmanaCB" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-lg-6" id="divICON" style="display:none;">
                                                    <div class="editor-label">
                                                        @ResourceLanguaje.Resource.IconTalent
                                                    </div>
                                                    <div class="editor-field" style="width:100%;">
                                                        <input id="ICON" type="text" name="ICON">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-12" style="display:none;" id="divButtom">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-9" style="width:100%;">
                                                    <div class="editor-label">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-lg-3" style="width:100%;">
                                                    <div class="editor-label">
                                                        &nbsp;
                                                    </div>
                                                    <button id="submitNode" class="btn btn-primary" style="width:100%;">@ResourceLanguaje.Resource.BtnSaveTalent</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <iframe id="upload_SubNodeChart" name="upload_SubNodeChart" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var sw = 1;

    $("#submitEdit").click(function () {
        winPopUpModalLoad('@ResourceLanguaje.Resource.Saving @ResourceLanguaje.Resource.OrganizationChartTalent', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
    });

    $(document).ready(function () {
        $("#divViewChart").empty();
        $("#divViewChart").load("/TalentChart/ViewTreeChart?var=" + Math.random());

        $("#personCB").click(function () {
            document.FormEditNamChart.reset();
            document.FormSubNodeChart.reset();
            $("#divManagement").css("display", "none");
            $("#divManageSN").css("display", "none");
            $("#divICON").css("display", "none");

            if ($("#personCB").is(':checked')) {
                $("#divChart").removeClass("col-sm-12 col-lg-7");
                $("#divChart").addClass("col-sm-12 col-lg-12");
                $("#divMantto").css("display", "none");
                $("#divSearch").css("display", "block");
                cargarTreeView(1);
            } else {
                $("#divChart").removeClass("col-sm-12 col-lg-12");
                $("#divChart").addClass("col-sm-12 col-lg-7");
                $("#divMantto").css("display", "block");
                $("#divSearch").css("display", "none");
                cargarTreeView(0);
            }
        });

        $("#ID_TYPE_CHAR").kendoComboBox({
            dataTextField: "NAM_TYPE",
            dataValueField: "ID_TYPE_CHAR",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeChart/List?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_CHAR = $("#ID_TYPE_CHAR").data("kendoComboBox");

        $("#ID_NAM_CHAR").kendoComboBox({
            dataTextField: "NAM_CHAR",
            dataValueField: "ID_NAM_CHAR",
            cascadeFrom: "ID_TYPE_CHAR",
            template: '<div style="clear:both;"><img style="margin-top:2.5px;" height="16" src=\"/Content/Images/${data.ICON}\" />' +
                      '&nbsp;<span>${data.NAM_CHAR}</span></div>',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TalentChart/ListNamChartByIdTypeChar?var=" + Math.random()
                }
            }
        });
        var ID_NAM_CHAR = $("#ID_NAM_CHAR").data("kendoComboBox");
        ID_NAM_CHAR.list.width(270);

        var ListIcon = [{ text: "@ResourceLanguaje.Resource.JobTitleTalent 1", value: "Personal.jpeg" },
                        { text: "@ResourceLanguaje.Resource.JobTitleTalent 2", value: "Personal02.jpeg" },
                        { text: "@ResourceLanguaje.Resource.JobTitleTalent 3", value: "Personal03.jpeg" },
                        { text: "@ResourceLanguaje.Resource.JobTitleTalent 4", value: "Personal04.jpeg" }];

        var ICON = $("#ICON").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            template: '<div style="clear:both;"><div style="float:left;"><img style="margin-top:2.5px;" height="16" src=\"/Content/Images/${data.value}\" /></div>' +
                              '<div style="" ><div style="height:16px ">&nbsp;${data.text}<br /></div></div></div>',
            suggest: true,
            dataSource: ListIcon,
            index: 0
        }).data("kendoComboBox");

        ID_TYPE_CHAR.bind("change", function (e) {
            if (ID_TYPE_CHAR.dataItem().ID_TYPE_CHAR == 3) {
                $("#divManageSN").css("display", "inline-block");
            }
            else { $("#divManageSN").css("display", "none"); }
        });

    });

    function cargarTreeView(sw) {
        $("#divViewChart").empty();

        $("#divViewChart").load(sw == 1 ? "/TalentChart/ViewTreeChart?" : "/TalentChart/ViewChartWithoutStaff?id=@ViewBag.ID_CIA&proc=mantto&" + "var=" + Math.random());
    }

    function NewNameChart() {
        if ($("#divCB_ID_NAM_CHAR").css("display") == 'block') {
            $("#divCB_ID_NAM_CHAR").css("display", "none");
            $("#divTB_NAM_CHAR").css("display", "block");
            $("#divICON").css("display", "block");
            $("#swNewOrSelect").val(1);
        }
        else {
            $("#divCB_ID_NAM_CHAR").css("display", "block");
            $("#divTB_NAM_CHAR").css("display", "none");
            $("#divICON").css("display", "none");
            $("#swNewOrSelect").val(0);
        }
        //divCB_ID_NAM_CHAR
        //divTB_NAM_CHAR
    }

    function mensaje(tipo, mensaje) {
        if (tipo == 'ERROR') {
            toastr.warning(mensaje, "");
        } else if (tipo == 'OK') {
            toastr.success(mensaje, "");
            cargarTreeView(1);
        }
    }
</script>
