@model ERPElectrodata.Models.CARGO_AREA

@{
    Layout = null;
}

<div class="afterMain">
    <div style="float:left; width:100%; display:inline-block;" id="divChart">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title" id="divTitle" style="display:inline-block; width:100%; padding-top:5px;">
                        @ResourceLanguaje.Resource.OrganizationChartTalent
                        <div style="float: right; width: 30%; text-align:right; padding-right:20px;">                            
                            <input id="personCB" name="personCB" type="checkbox" checked="checked" style="cursor:pointer;" /> 
                            <a href="#" onclick="selectCB();" style="text-decoration:none; cursor:pointer; color:white;">
                            @ResourceLanguaje.Resource.IncludeStaffTalent</a>
                        </div>
                </div>
            </div>
            <div class="inBodyForm" style="overflow-y: auto; height:358px;" id="divViewChart">

            </div>
        </div>
    </div>
    <div style="width:1%;min-width:5px;height:1px;float:left;"></div>
    <div style="float:left; width:39%; display:none;" id="divMantto">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title" style="padding-top:5px;">Editar</div>
            </div>
            <div class="inBodyForm" style="overflow-y: auto; height:155px;" >
            @using (Html.BeginForm("EditNameChart", "TalentChart", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormEditNamChart", name = "FormEditNamChart", target = "upload_EditNamChart" }))
            {
                <input type="hidden" name="ED_ID_CHAR" id="ED_ID_CHAR" value="0" />
                <div class="divFondoUno">
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.TypeTalent
                        </div>
                        <input type="hidden" name="EDIT_ID_NAM_CHAR" id="EDIT_ID_NAM_CHAR" value="0" />                        
                        <input type="hidden" name="EDIT_ID_CHAR_PARE" id="EDIT_ID_CHAR_PARE" value="0" />
                        <div class="k-textbox">
                            <input id="EDIT_TYPE_CHAR" type="text" name="EDIT_TYPE_CHAR" style="text-transform:capitalize;" readonly="readonly">
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.NameTalent
                        </div>
                        <div class="k-textbox">
                            <input id="EDIT_NAM_CHAR" type="text" name="EDIT_NAM_CHAR" style="text-transform:capitalize;">
                        </div>
                    </div>
                </div>
                <div class="divFondoDos" id="divManagement" style="display:none;">
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.ManagementTalent
                        </div>
                        <div class="editor-label">
                            <input type="checkbox" checked="checked" style="cursor:pointer;" id="manaCB" name="manaCB" />
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.ActiveTalent
                        </div>
                        <div class="editor-label">
                            <input type="checkbox" checked="checked" style="cursor:pointer;" id="activeCB" name="activeCB" />
                        </div>
                    </div>
                </div>
                <div class="divFondoUno" style="margin-bottom:5px;">
                    <div class="divSpace3"></div>
                    <div style="display:inline-block; float:right; padding:5px 15px 0px 5px;">
                        <div style=" float:left;">
                            <button id="submitEdit" class="k-button">@ResourceLanguaje.Resource.BtnSaveTalent</button>
                        </div>
                    </div>
                </div>
            }
            <iframe id="upload_EditNamChart" name="upload_EditNamChart" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>
            </div>
        </div>
        <div style="width:100%; height:13px;"></div>
        <div class="titleForm">
            <div class="title" style="padding-top:5px;">@ResourceLanguaje.Resource.AddSubNodeTalent</div>
        </div>
        <div class="inBodyForm" style="overflow-y: auto; height:160px;">
            @using (Html.BeginForm("NewSubNodeChart", "TalentChart", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormSubNodeChart", name = "FormSubNodeChart", target = "upload_SubNodeChart" }))
            {
            <div class="divFondoUno">
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.Type
                    </div>
                    <div class="editor-field">
                        <input id="ID_TYPE_CHAR" type="text" name="ID_TYPE_CHAR">
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">                        
                        <a href="#" onclick="NewNameChart()" title="@ResourceLanguaje.Resource.SubNodePopupTitle">@ResourceLanguaje.Resource.NameTalent</a>
                    </div>
                    <div class="editor-field" id="divCB_ID_NAM_CHAR">
                        <input id="ID_NAM_CHAR" type="text" name="ID_NAM_CHAR">
                    </div>
                    <div class="k-textbox" id="divTB_NAM_CHAR" style="display:none;">
                        <input id="NAM_CHAR" type="text" name="NAM_CHAR">
                    </div>
                    <input type="hidden" id="swNewOrSelect" name="swNewOrSelect" value="0" />
                    <input type="hidden" name="SN_ID_CHAR" id="SN_ID_CHAR" value="0" />
                    <input type="hidden" name="SN_ID_CHAR_PARE" id="SN_ID_CHAR_PARE" value="0" />
                </div>
            </div>
            <div class="divFondoDos" id="divManageSN" style="display:none;">
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.ManagementTalent
                    </div>
                    <div class="editor-label">
                        <input type="checkbox" style="cursor:pointer;" id="SNmanaCB" name="SNmanaCB" />
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3" id="divICON" style="display:none;">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.IconTalent
                    </div>
                    <div class="editor-field">
                        <input id="ICON" type="text" name="ICON">
                    </div>
                </div>
            </div>
            <div class="divFondoUno" style="margin-bottom:5px; display:none;" id="divButtom">
                <div class="divSpace3"></div>
                <div style="display:inline-block; float:right; padding:5px 15px 0px 5px;">
                    <div style=" float:left;">
                        <button id="submitNode" class="k-button">@ResourceLanguaje.Resource.BtnSaveTalent</button>
                    </div>
                </div>
            </div>
            }
            <iframe id="upload_SubNodeChart" name="upload_SubNodeChart" src="" style="width:0px;height:0px;border-width:0px;display:none; visibility:hidden;"></iframe>
        </div>
    </div>
</div>
<div style="height:12px;width:100%; float:left;">&nbsp;</div>
<script type="text/javascript">
    var sw = 1;

    $("#submitEdit").click(function () {
        winPopUpModalLoad('@ResourceLanguaje.Resource.Saving @ResourceLanguaje.Resource.OrganizationChartTalent', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
    });

    $(document).ready(function () {
        $("#divViewChart").empty();
        $("#divViewChart").load("/TalentChart/ViewTreeChart?var=" + Math.random());

        $("#personCB").click(function () {
            document.FormEditNamChart.reset();
            document.FormSubNodeChart.reset();
            $("#divManagement").css("display", "none");
            $("#divManageSN").css("display", "none");
            $("#divICON").css("display", "none");

            if ($("#personCB").is(':checked')) {
                $("#divChart").css("width", "100%");
                $("#divMantto").css("display", "none");
                cargarTreeView(1);
            } else {
                
                $("#divChart").css("width", "60%");
                $("#divMantto").css("display", "inline-block");                
                cargarTreeView(0);
            }
        });

        $("#ID_TYPE_CHAR").kendoComboBox({
            dataTextField: "NAM_TYPE",
            dataValueField: "ID_TYPE_CHAR",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeChart/List?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_CHAR = $("#ID_TYPE_CHAR").data("kendoComboBox");

        $("#ID_NAM_CHAR").kendoComboBox({
            dataTextField: "NAM_CHAR",
            dataValueField: "ID_NAM_CHAR",
            cascadeFrom: "ID_TYPE_CHAR",
            template: '<div style="clear:both;"><img style="margin-top:2.5px;" height="16" src=\"/Content/Images/${data.ICON}\" />' +
                      '&nbsp;<span>${data.NAM_CHAR}</span></div>',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TalentChart/ListNamChartByIdTypeChar?var=" + Math.random()
                }
            }
        });
        var ID_NAM_CHAR = $("#ID_NAM_CHAR").data("kendoComboBox");
        ID_NAM_CHAR.list.width(270);

        var ListIcon = [{ text: "@ResourceLanguaje.Resource.JobTitleTalent 1", value: "Personal.jpeg" },
                        { text: "@ResourceLanguaje.Resource.JobTitleTalent 2", value: "Personal02.jpeg" },
                        { text: "@ResourceLanguaje.Resource.JobTitleTalent 3", value: "Personal03.jpeg" },
                        { text: "@ResourceLanguaje.Resource.JobTitleTalent 4", value: "Personal04.jpeg" }];

        var ICON = $("#ICON").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            template: '<div style="clear:both;"><div style="float:left;"><img style="margin-top:2.5px;" height="16" src=\"/Content/Images/${data.value}\" /></div>' +
                              '<div style="" ><div style="height:16px ">&nbsp;${data.text}<br /></div></div></div>',
            suggest: true,
            dataSource: ListIcon,
            index: 0
        }).data("kendoComboBox");

        ID_TYPE_CHAR.bind("change", function (e) {
            if (ID_TYPE_CHAR.dataItem().ID_TYPE_CHAR == 3) {
                $("#divManageSN").css("display", "inline-block");
            }
            else { $("#divManageSN").css("display", "none"); }
        });

    });

    function selectCB() {

        document.FormEditNamChart.reset();
        document.FormSubNodeChart.reset();
        $("#divManagement").css("display", "none");
        $("#divManageSN").css("display", "none");
        $("#divICON").css("display", "none");

        if ($("#personCB").is(':checked')) {
            $("#personCB").attr('checked', false);
            $("#divChart").css("width", "60%");
            $("#divMantto").css("display", "inline-block");
            cargarTreeView(0);
        } else {
            $("#personCB").prop("checked", true);
            $("#divChart").css("width", "100%");
            $("#divMantto").css("display", "none");
            cargarTreeView(1);
        }
    }

    function cargarTreeView(sw) {
        $("#divViewChart").empty();

        $("#divViewChart").load(sw == 1 ? "/TalentChart/ViewTreeChart?" : "/TalentChart/ViewChartWithoutStaff?id=@ViewBag.ID_CIA&proc=mantto&" + "var=" + Math.random());
    }

    function NewNameChart() {
        if ($("#divCB_ID_NAM_CHAR").css("display") == 'block') {
            $("#divCB_ID_NAM_CHAR").css("display", "none");
            $("#divTB_NAM_CHAR").css("display", "block");
            $("#divICON").css("display", "block");            
            $("#swNewOrSelect").val(1);           
        }
        else {
            $("#divCB_ID_NAM_CHAR").css("display", "block");
            $("#divTB_NAM_CHAR").css("display", "none");
            $("#divICON").css("display", "none");
            $("#swNewOrSelect").val(0);
        }
        //divCB_ID_NAM_CHAR
        //divTB_NAM_CHAR
    }
</script>