@model ERPElectrodata.Models.LocalPasswordModel

<div class="afterMain" id="divContainerNewTicket">
    <div style="float:left;width:60%">
        <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.NewTicket</div></div>

        <div class="bodyForm" id="divNewTicket">
            <div class="inBodyForm">

                @using (Html.BeginForm("Create", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicket", target = "upload_target" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Formulario de cambio de contraseña</legend>
                        <ol>
                            <li>
                                @Html.LabelFor(m => m.OldPassword)
                                @Html.PasswordFor(m => m.OldPassword)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.NewPassword)
                                @Html.PasswordFor(m => m.NewPassword)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword)
                            </li>
                        </ol>
                        <input type="submit" value="Cambiar contraseña" />
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>
