@model ERPElectrodata.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ResourceLanguaje.Resource.Login - @ResourceLanguaje.Resource.LoginTitle</title>
    <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1119/kendo.electrodata.min.css" rel="stylesheet" />
    <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <style>
        body {
            background-color: #fff; /*#fff;*/
            /*border-top: solid 100px #000;*/
            color: #333;
            font-size: .8em;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            margin: 0;
            padding: 0;
        }
        .k-textboxWidth {
            min-width: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div style="width:100%; height:25px;">
        <div style="margin:0 auto; width:50%; text-align:center;">
            <div style="margin-top:5px;">
                <a href="https://www.zoho.com/mail/login.html" target="_blank" style="text-decoration:none;" title="Email"><img src="~/Content/Images/social/social-email.png" width="20" height="20" style="border: 0 none;" /> </a>
                <a href="https://www.facebook.com/ELECTRODATA.LIMA?fref=ts" target="_blank" style="text-decoration:none;" title="Facebook"><img src="~/Content/Images/social/social-facebook.png" width="20" height="20" style="border: 0 none;" /> </a>
                <a href="http://www.linkedin.com/company/electrodata-s.a.c" target="_blank" style="text-decoration:none;" title="LinkedIn"><img src="~/Content/Images/social/social-linkedin.png" width="20" height="20" style="border: 0 none;" /> </a>
                <a href="#" target="_blank" style="text-decoration:none;" title="Twitter"><img src="~/Content/Images/social/social-twitter.png" width="20" height="20" style="border: 0 none;" /> </a>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 100px; border-bottom: 1px solid #ccc;">
        <div style="color: #808080; width: 85%; margin: 0 auto; display: block; min-width: 900px;"> 
            <div style="width:50%; float:left; margin-top:15px;">
                <img src="/Content/Images/LogoED.png" class="LoginLogo" />
            </div>
            <div style="width: 50%; float: left; text-align: justify; ">
                <div style="width:100%; text-align:right;">
                    @ResourceLanguaje.Resource.Location: Av. Principal # 456, Surquillo - Lima<br />
                    @ResourceLanguaje.Resource.PhoneNumber: +51 1 4480727<br />
                    @ResourceLanguaje.Resource.DirectPhone: 0800 15163<br />
                    @ResourceLanguaje.Resource.CellPhone: 959482718
                    @ResourceLanguaje.Resource.Email: servicedesk@electrodata.com.pe
                </div>
            </div>            
        </div>
    </div>
    <div style="width:100%; height:300px; border-bottom:1px solid #ccc;">
        <div style="width: 85%; margin: 0 auto; min-width: 900px;">
            <div style="min-width: 300px; width: 35%; float: left; text-align: right; margin: 39px 0 39px 0; padding-right: 5%; border-right: 1px solid #ccc;">
                <img src="/Content/Images/ITMS.png" class="LoginITMS" />
            </div>
            <div style="width: 28%; float: left; margin: 75px 0 0 3%; min-width: 300px;">
                <div style="float:left; width:100%; text-align:left;">
                    <div style="width:100%; height:140px; display:inline-block;">
                        <div style="width:70%; height:100%; float:left; display:inline-block;">
                            <div style="width:85%; margin:0 auto; background-color:white;">
                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div style="padding:15px 0 5px 0">
                                        <div class="k-textbox k-textboxWidth">
                                            @Html.TextBoxFor(m => m.UserName)
                                        </div>
                                    </div>
                                    <div style="padding:10px 0 5px 0">
                                        <div class="k-textbox k-textboxWidth">
                                            @Html.PasswordFor(m => m.Password)
                                        </div>
                                    </div>
                                    <div style="padding-top: 15px;">
                                        <button class="k-button">@ResourceLanguaje.Resource.BtnSignIn</button>
                                    </div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
                                }
                            </div>
                        </div>
                        <div style="width: 30%; height: 88.5%; float: left; background-color: #516882; display: inline-block; padding-top: 5.5%; font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif; ">
                            <div style="width: 85%; margin: 0 auto; color: white; text-align: center; font-size: 4em; margin-top: -20px;" id="divDia"></div>
                            <div style="width: 85%; margin: 0 auto; color: white; text-align: center; font-size: 1.1em; margin-top: -6px; text-transform: capitalize;" id="divMonth"></div>
                            <div style="width: 85%; margin: 0 auto; color: white; text-align: center; font-size: 1em; margin-top: 2px; text-transform: capitalize;" id="divNameDia"></div>
                            <div style="width: 85%; margin: 0 auto; color: white; text-align: center; font-size: 1em; margin-top: 3px;" id="divHora"></div>
                        </div>
                    </div>
                </div>
                <div style="font-size:.8em; color:#B21E1E;">
                    <div>@Html.ValidationMessageFor(m => m.UserName)</div>
                    <div>@Html.ValidationMessageFor(m => m.Password)</div>
                    <div>@ViewBag.Error</div>
                </div>
            </div>
            <div style="width: 12%; height: 270px; float: left; position: relative; min-width: 80px;">
                <div style="width:100%; position:absolute; bottom:0px;">
                    <div style="width:90%; margin:0 auto; font-weight:bold; font-size:1.1em; text-align:center;">
                        <span style="color: #002942;">Electro</span><span style="color:red;">data</span>
                    </div>
                </div>
            </div>
            <div style="width: 8%; height: 250px; float: left; position: relative; min-width: 40px;">
                <div style="width:100%; min-width:100px;">
                    <div style="width:90%; margin:0 auto; margin-top:40px;">
                        <div style="width: 25px; height: 25px; border: 1px solid #ccc; margin-bottom: 10px;"></div>
                        <div style="width: 25px; height: 25px; border: 1px solid #ccc; margin-bottom: 10px;"></div>
                        <div style="width: 25px; height: 25px; border: 1px solid #ccc; margin-bottom: 10px;"></div>
                        <div style="width: 25px; height: 25px; border: 1px solid #ccc; margin-bottom: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%;">
        <div style="width:85%; margin:0 auto; display:block;">
            <div style="width:100%; float:left;">
                <div style="width:60%; float:left; margin-top:20px;">
                    <div style="color: #000000; font-size:1.1em; font-weight:bold;">@ResourceLanguaje.Resource.ITMS</div>
                    <div style="color:#808080; text-align:justify;">@ResourceLanguaje.Resource.LoginDescription01</div>
                    <div style="padding-top:10px; width:100%;">
                        <div style="color: #000000; font-size: 1.1em; font-weight: bold;">@ResourceLanguaje.Resource.Scope</div>
                        <div style="color:#808080; width:100%; text-align:justify;">
                            @ResourceLanguaje.Resource.LoginDescription02
                        </div>
                    </div>
                </div>
                <div style="width:30%; float:right; height:150px; position:relative;">
                    <div style="position:absolute; bottom:0px; width: 100%; height:40%; display: block; min-width: 250px; border-bottom: 1px solid #ccc;">
                        <img src="/Content/Images/SGS.png" class="LoginCerti1" />
                        <img src="/Content/Images/ITIL.png" class="LoginCerti2" />
                    </div>
                </div>
            </div>         
            <div style="width:100%; height:60px; float:left">&nbsp;</div>
        </div>
    </div>
    @*<div style="height: 70px; width: 24%; right: 7.5%; top: 80%; margin-top:-10px; position: fixed; z-index: 999; border-bottom: 1px solid #ccc;">
        <div style="width:100%; display:block; min-width:250px;">
            <img src="/Content/Images/SGS.png" class="LoginCerti1" />
            <img src="/Content/Images/ITIL.png" class="LoginCerti2" />
        </div>
    </div>*@
    <div class="LoginFoo">
        <div style="width:85%; margin:0 auto;">
            <div style="float:right; margin-top:0.75%;">&copy; @DateTime.Now.Year Electrodata. @ResourceLanguaje.Resource.AllRightReserved</div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/Account/DateTimeServer",
            data: "var=" + Math.random(),
            type: "GET",
            dataType: "text",
            success: function (source) {
                data = source;
                var elem = source.split('|');
                $("#divDia").html(elem[0]);
                $("#divMonth").html(elem[4]);
                $("#divNameDia").html(elem[5]);
                reloj(parseInt(elem[1]), parseInt(elem[2]), parseInt(elem[3]));
            },
            error: function (dato) {
                alert("ERROR");
            }
        });
    });

    function reloj(hh, min, seg) {
        seg = seg + 1;
        if (seg == 60) {
            min = min + 1;
            seg = 0;
            if (min == 60) {
                hh = hh + 1;
                min = 0;
                if (hh == 24) { hh = 0; }
            }
        }
        st = (hh < 10 ? "0" + hh : hh) + ":" + (min < 10 ? "0" + min : min);
        $("#divHora").html(st);
        setTimeout("reloj(" + hh + "," + min + "," + seg + ");", 1000);
    }
</script>