@model ERPElectrodata.Models.ACCOUNT

@{
    Layout = null;
}

    <div id="FormCrea">
        <div class="form-row" id="divContainerNewTicket">
            <div class="col-md-12">
                <div id="divNuevaLicencia">
                    <!--Declaración de Formulario-->
                    @using (Html.BeginForm("CreaCuenta", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormCrear", target = "upload_target" }))
                    {
                        @*@Html.HiddenFor(model => model.Id)*@

                        <fieldset>
                            @*<legend>Crear Cuenta</legend>*@

                            <div class="form-group">
                                <div class="form-row">

                                    <div class="col-md-4">
                                        <div class="editor-label">
                                            Nombre <b>*</b>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(model => model.NAM_ACCO, new { @class="form-control"})
                                            @Html.ValidationMessageFor(model => model.NAM_ACCO)
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="editor-label">
                                            Acrónimo <b>*</b>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(model => model.ACR_ACCO, new { @class="form-control"})
                                            @Html.ValidationMessageFor(model => model.ACR_ACCO)
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div id="divRequest" class="editor-label">
                                            Tipo <b>*</b>
                                        </div>
                                        <div class="editor-field">
                                            @Html.Editor("ID_ACCOUNT_TYPE")
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-md-12">
                                    <div class="editor-label">
                                        Descripción<b>*</b>
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(model => model.DES_ACCO, new { @class="form-control"})
                                        @Html.ValidationMessageFor(model => model.DES_ACCO)
                                    </div>
                                </div>

                                
                                <div class="col-md-12">
                                    <div class="editor-label">
                                        Ubicacion <b>*</b>
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(model => model.SIT_ACCO, new { @class="form-control"})
                                        @Html.ValidationMessageFor(model => model.SIT_ACCO)
                                    </div>
                                </div>

                            </div>

                            @*<div class="divFondoUno">
                                
                                <div style="display:inline-block; float:right; padding:0px 15px 15px 5px;">
                                    <div style=" float:right; padding:0px 15px 0px 0px; ">
                                        <button id="reset" class="k-button" onclick="cancel(); return false;">Cancelar</button>
                                    </div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                                    <div style=" float:right; padding:0px 15px 0px 0px; ">
                                        <button id="submit" class="k-button">Crear</button>
                                    </div>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                                </div>
                            </div>*@

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-3 ml-auto">
                                        <button id="submit" class="btn btn-primary btn-block">Crear</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button id="btnCancelar" class="ladda-button mb-2 btn btn-gradient-light btn-block widthMax" data-style="expand-right" data-dismiss="modal">
                                            <span class="ladda-label">Cancelar</span><span class="ladda-spinner"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<!--Cuadro necesario para enviar archivos Adjuntos sin realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>

<script type="text/javascript">

    $(document).ready(function () {

        var ID_ACCO_TYPE = $("#ID_ACCOUNT_TYPE").kendoComboBox({
            autoBind: true,
            dataTextField: "NAM_ACCO_TYPE",
            dataValueField: "ID_ACCO_TYPE",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data1: { ID_ACCO_TYPE: $("#ID_ACCOUNT_TYPE").val() == 0 ? '' : $("#ID_ACCOUNT_TYPE").val() },
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Account/ListaTipoCuentaCombo?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

    });

</script>

<script type="text/javascript">
    //function cancel() {
    //    closeWinModalPopUpLoad();

    //    winPopUpModal("Operación Cancelada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
    //   "<div style='padding:10px 0px 10px 0px;'>La operacion fue cancelada</div>" +
    //   "<div style='float:right; padding:20px 0px 0px 0px; '>" +
    //   "<button id='continuar' class='k-button' >Continuar</button></div></div>"
    //   , 350, 130);
    //    $("#continuar").focus();
    //    $("#continuar").click(function () {

    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("CrearCuentaTA"));
    //    });


    //    $("#closebtnmodal").click(function () {
    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("Edit", "Details"));
    //    });

    //    return false;
    //}


    //function uploadDone(msg, code) {
    //    if (msg == "OK") {
    //        winPopUpModal("Información Guardada / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
    //       + "<div style='padding:10px 0px 10px 0px;'>La información ha sido registrada.</div>"
    //       + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //       "<button id='continues' class='k-button'>Continuar</button>" +
    //       "</div></div>", 400, 160);
    //        $("#continues").focus();
    //        $("#continues").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            //location.reload(true);
    //            $("#NAM_ACCO").val('');
    //            $("#ACR_ACCO").val('');
    //            $("#DES_ACCO").val('');
    //            $("#SIT_ACCO").val('');
    //            $("#Buscar").click();
    //        });

    //        $("#closebtnmodal").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            //location.reload(true);
    //            $("#Buscar").click();
    //        });
    //    }


    //    else if (msg == "EXISTE") {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>La cuenta ha sido registrada anteriormente</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }

    //    else {
    //        winPopUpModal("Error al registrar", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //           "<div style='padding:10px 0px 10px 0px;'>Completar la información solicitada</div>" +
    //           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //           "<button id='continuee' class='k-button'>Continuar</button>" +
    //           "</div></div>"
    //           , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //        .bind("click", function () {
    //            closeWinModalPopUp();
    //        });
    //    }

    //}

    function uploadDone(msg, code) {
        if (msg == "OK") {
            toastr.success("La información ha sido actualizada", "Información Guardada / Notificación Enviada");
            $("#btnCancelar").trigger({ type: "click" });
            $("#Buscar").trigger({ type: "click" });
        }
        else if (msg == "EXISTE") {
            toastr.warning("La cuenta ha sido registrada anteriormente", "Alerta");
            $("#btnCancelar").trigger({ type: "click" });
        }
        else {
            toastr.warning("Completar la información solicitada", "Alerta");
        }
    }
</script>