@model ERPElectrodata.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Your Account";
    Layout = Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div id="divContent">
    @if (ViewBag.HasLocalPassword)
    {
        <div class="afterMain" id="divContainerNewTicket">
            <div style="float:left;width:30%">
                <div class="titleForm"><div class="title">Change Password</div></div>

                <div class="bodyForm" id="divNewTicket">
                    <div class="inBodyForm">

                        @using (Html.BeginForm("ManageClient", "Account"))
                        {
                            @Html.AntiForgeryToken()

                            <fieldset>
                                <legend>Formulario de cambio de contraseña</legend>
                                <strong>@ViewBag.StatusMessage</strong>
                                <strong>@Html.ValidationSummary()</strong>
                                
                                <div class="divFondoUno">
                                    <div style="padding:0px 0px 0px 15px">
                                        <div class="divSpace3_"></div>
                                        <div class="divCont3_">
                                            <div class="editor-label">
                                                Current Password
                                            </div>
                                            <div class="editor-label">
                                                @Html.PasswordFor(model => model.OldPassword, new { @class = "k-textbox" })
                                            </div>
                                        </div>

                                        <div class="divSpace3_"></div>
                                        <div class="divCont3_">
                                            <div class="editor-label">
                                                New Password
                                            </div>
                                            <div class="editor-field">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox" })
                                            </div>
                                        </div>

                                        <div class="divSpace3_"></div>
                                        <div class="divCont3_">
                                            <div class="editor-label">
                                                Confirm Password
                                            </div>
                                            <div class="editor-field">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox" })
                                            </div>
                                        </div>
                                        <div style="display:inline-block; float:right; padding:10px 15px 5px 5px;">
                                            <button id="reset" type="reset" class="k-button">Cancel</button>
                                            <button type="submit" class="k-button">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }
</div>
<script type="text/javascript">
    $("#reset").click(function (event) {
        event.preventDefault();

        var title = '@ResourceLanguaje.Resource.OperationCancelled';
        var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
        "<div style='padding:10px 0px 10px 0px;'>The operation to perform was cancelled</div>" +
        "<div style='float:right; padding:20px 6px 0px 6px; font-size:0.9em;'>" +
        "<button id='btnContinuer' class='k-button'>Continue</button>" +
        "</div></div>";

        winPopUpModal(title, body, 400, 150);

        $("#btnContinuer").bind("click", function () {
            //location.reload(true);
            location = "http://" + location.host + "/ClientITO/Index";
        });

        $("#closebtnmodal").click(function () {
            //location.reload(true);
            location = "http://" + location.host + "/ClientITO/Index";
        });

    });
</script>