@model ERPElectrodata.Models.DOCUMENT_EXPENSE

@{
    Layout = null;

}
<style>
    .divHide {
        display: none;
    }
</style>

@using (Html.BeginForm("EditarDocument", "DocumentExpense", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewDocument", name = "FormNewDocument", target = "ut_NewDocument" }))
{
    <div class="modal-body" id="ModalContentBody">
        <input type="hidden" name="TXT_ID_DOCUMENT" id="TXT_ID_DOCUMENT" value="@ViewBag.ID_REQU_EXPE_2" />
        <input type="hidden" name="NEW_COIN" id="NEW_COIN" value="@ViewBag.Currency_2" />

        <div>
            <div class="row">
                <div class="col-sm-3 reformax">
                    <div class="editor-label">
                        Tipo de Documento
                    </div>
                    <div class="editor-field">
                        <input type="text" name="ID_TYPE_DOCU_EXPE" id="ID_TYPE_DOCU_EXPE" class="dropdownKendo" value="@ViewBag.ID_TIPO_DOCUMENTO" style="width:100%;" />
                    </div>
                </div>
                <div class="col-sm-3 reformax">
                    <div class="editor-label">
                        Fecha
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DOC_DATE)
                        @Html.ValidationMessageFor(model => model.DOC_DATE)
                        @*<input type="text" name="txtFecha" id="ID_TYPE_DOCU_EXPE" class="dropdownKendo" value="@ViewBag.ID_TIPO_DOCUMENTO" style="width:100%;" />*@
                    </div>
                </div>
                <div class="col-sm-6" id="divS">
                    <div class="editor-label">
                        Cod.Articulo / Cuenta Contable
                    </div>
                    <div class="editor-field">
                        <input type="text" name="CodigoArticulo" id="CodigoArticulo" class="dropdownKendo" style="width:100%;"
                               value="@ViewBag.ID_CODIGO_ARTICULO" />
                    </div>
                </div>
            </div>

            <div class="row" id="divDocument">
                <div class="col-sm-4">
                    <div class="editor-label">
                        Serie
                    </div>
                    <div class="editor-field">
                        <input id="txtSerie" name="txtSerie" style="width:100%" />
                    </div>
                </div>
                <div class="col-sm-8" id="divToChange">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.Number
                    </div>
                    <div class="editor-field">
                        <input id="txtNumero" name="txtNumero" style="width:100%" />
                    </div>
                </div>
                <div class="col-sm-4 divHide" id="divPlacaVehiculo">
                    <div class="editor-label">
                        Placa de Vehículo
                    </div>
                    <div class="k-textbox" style="width:100%;">
                        @Html.EditorFor(model => model.PlacaVehiculo)
                        @Html.ValidationMessageFor(model => model.PlacaVehiculo)
                    </div>
                </div>
            </div>
            <div class="row" id="divSupplier">
                <div class="col-sm-6">
                    <div class="editor-label">
                        RUC Proveedor
                    </div>
                    <div class="editor-field" style="width:100%">
                        <input id="txtProveedorRuc" name="txtProveedorRuc" style="width:100%" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="editor-label">
                        Nombre del @ResourceLanguaje.Resource.Supplier
                    </div>
                    <div class="editor-field" style="width:100%">
                        <input id="txtProveedorNom" name="txtProveedorNom" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="row divHide" id="divReintegro">
                <div class="col-sm-6">
                    <div class="editor-label">
                        Banco
                    </div>
                    <div class="k-textbox" style="width:100%;">
                        @Html.EditorFor(model => model.Banco)
                        @Html.ValidationMessageFor(model => model.Banco)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="editor-label">
                        Código de Operación
                    </div>
                    <div class="k-textbox" style="width:100%;">
                        @Html.EditorFor(model => model.CodigoOperacion)
                        @Html.ValidationMessageFor(model => model.CodigoOperacion)
                    </div>
                </div>
            </div>

            <div class="row divHide" id="divMotivo">
                <div class="col-sm-6">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.Reason
                    </div>
                    <div class="editor-field" style="width:100%">
                        <input id="txtRazon" name="txtRazon" style="width:100%" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="editor-label">
                        Planilla de Movilidad
                    </div>
                    <div class="k-textbox" style="width:100%;">
                        @Html.EditorFor(model => model.PlanillaMovilidad)
                        @Html.ValidationMessageFor(model => model.PlanillaMovilidad)
                    </div>
                </div>
            </div>

            <div class="row divHide" id="divDestino">
                <div class="col-sm-12">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.Destination
                    </div>
                    <div class="editor-field" style="width:100%">
                        <input id="txtDestino" name="txtDestino" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 reformax">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.Currency
                    </div>
                    <div class="editor-field">
                        <input type="text" name="COIN" id="COIN" class="dropdownKendo" style="width:100%;" />
                    </div>
                </div>
                <div class="col-sm-3 reformax">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.Amount sin I.G.V
                    </div>
                    <div class="editor-field">
                        <input id="txtMonto" name="txtMonto" class="numericKendo" value="@ViewBag.MONTO" />
                    </div>
                </div>
                <div class="col-sm-3" id="divS1">
                    @*<div class="editor-label">
                        I.G.V
                    </div>
                    <div class="editor-field">
                        <input type="text" name="IGV" id="IGV" class="dropdownKendo" style="width:100%;" value="@ViewBag.IGV" />
                    </div>*@
                    <div class="editor-label">
                        <input type="hidden" id="TIPO_IMPUESTO" name="TIPO_IMPUESTO" value="4" />
                        I.G.V  - <span id="TipodeImpuesto" style="background-color: #f4ff00;"><b> @(ViewBag.ID_TIPO_IMPUESTO == 1 ? "GRAVADO" : "INEFACTO") </b></span>
                    </div>
                    <div class="editor-field">
                        <input type="text" name="IGV" id="IGV" class="dropdownKendo" style="width:100%;" value="@ViewBag.IGV"/>
                    </div>
                    Total I.G.V. = <span id="TotalIGV" name="TotalIGV">@ViewBag.TotalIGV</span>
                </div>
                <div class="col-sm-3" id="divS2">
                    @*<div class="editor-label">
                        Tipo de Impuesto
                    </div>
                    <div class="editor-field">
                        <input type="text" name="TIPO_IMPUESTO" id="TipoImpuesto" value="@ViewBag.ID_TIPO_IMPUESTO" class="dropdownKendo" style="width:100%;" />
                    </div>*@
                    <div class="editor-label">
                        Monto Total con I.G.V.
                    </div>
                    <div style="margin-top:0px;">
                        <input type="text" name="MontoTotal" id="MontoTotal" class="dropdownKendo" style="width:100%;" disabled value="@ViewBag.MontoTotal"/>
                    </div>
                </div>
            </div>
            <div class="row" id="divDescrip">
                <div class="col-sm-12">
                    <div class="editor-label">
                        Comentario / Glosa
                    </div>
                    <div class="editor-field">
                        <input class="text-box single-line" id="txtComentario" name="txtComentario" type="text" style="width:100%;">
                        <span class="field-validation-valid" data-valmsg-for="GLOSA" data-valmsg-replace="true"></span>

                    </div>

                </div>

            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <input name="files" id="files" type="file" />
                </div>
            </div>

            <div id="mensajeAlerta"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="submitDocument" class="k-button">Guardar</button>
    </div>
}
<iframe id="ut_NewDocument" name="ut_NewDocument" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>



<script type="text/javascript">
    var c = 0;

    $(document).ready(function () {

        $("#txtSerie").kendoMaskedTextBox({
            mask: ""
        });
        $("#txtProveedorRuc").kendoMaskedTextBox({
            mask: ""
        });
        $("#txtProveedorNom").kendoMaskedTextBox({
            mask: ""
        });
        $("#txtNumero").kendoMaskedTextBox({
            mask: ""
        });
        $("#txtComentario").kendoMaskedTextBox({
            mask: ""
        });
        $("#txtMonto").kendoNumericTextBox({
            //min: 0,
            //format: "0.0000",
            //decimals: 4,
            //spinners: false,
            //parseFormats: ["0.0000"],
            //format: "#.0000"
            min: 0,
            format: "0.0000",
            decimals: 4,
            spinners: false,
            parseFormats: ["0.0000"],
            format: "#.0000",
            change: function (e) {
                var value = this.value();

                var igvValue = $("#IGV").data("kendoDropDownList").value();


                if (igvValue === '' || igvValue === 'No aplica' || igvValue === "Seleccionar" || igvValue === "Exonerado") {
                    $("#MontoTotal").data("kendoNumericTextBox").value(value);

                    totalIGV.innerHTML = parseFloat("0").toFixed(2);

                } else if (igvValue === '10%') {

                    var MontoTot = value + (value * 10) / 100
                    if (value != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    var IGV = (value * 10) / 100
                    totalIGV.innerHTML = parseFloat(IGV).toFixed(2);

                } else {
                    var MontoTot = value + (value * 18) / 100

                    if (value != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    var IGV = (value * 18) / 100
                    totalIGV.innerHTML = parseFloat(IGV).toFixed(2);
                }


            }
           
        });
        $("#txtRazon").kendoMaskedTextBox({
            mask: ""
        });
        $("#txtDestino").kendoMaskedTextBox({
            mask: ""
        });
        //$("#TXT_ID_DOCUMENT").kendoNumericTextBox({
        //    mask: ""
        //});

        

        ObtenerDatos(@ViewBag.ID_REQU_EXPE_2);

        var DOC_DATE = $("#DOC_DATE").kendoDatePicker().data("kendoDatePicker");
        DOC_DATE.value("@ViewBag.FECHA");
        DOC_DATE.max("@ViewBag.DOC_DATE_MAX_EDIT");

        function ObtenerDatos(id) {
            $.ajax({
                url: "/DocumentExpense/ObtenerDatosDocument/" + id,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (data) {
                    $.each(data['data'], function (index, value) {
                        $("#txtSerie").val((data['data'][index]['serie']));
                        $("#txtProveedorRuc").val((data['data'][index]['ruc']));
                        $("#txtProveedorNom").val((data['data'][index]['proveedor']));
                        //$("#txtProveedorNom").val((data['data'][index]['proveedor'])).css('display', 'none');
                        $("#txtNumero").val((data['data'][index]['numero']));
                        $("#txtComentario").val(data['data'][index]['comentario']);
                        $("#txtMonto").val((data['data'][index]['monto']));
                        $("#txtRazon").val((data['data'][index]['razon']));
                        $("#txtDestino").val((data['data'][index]['destino']));
                        $("#PlanillaMovilidad").val((data['data'][index]['planillamovilidad']));
                        $("#Banco").val((data['data'][index]['banco']));
                        $("#CodigoOperacion").val((data['data'][index]['codigooperacion']));
                        $("#PlacaVehiculo").val((data['data'][index]['placavehiculo']));
                        

                    });
                },
                error: function (source) {
                }
            });
        }

        var ID_TYPE_DOCU_EXPE = $("#ID_TYPE_DOCU_EXPE").kendoDropDownList({
            dataTextField: "NAM_DOCU",
            dataValueField: "ID_TYPE_DOCU_EXPE",
            filter: "contains",
            autoBind: true,
            value: "@ViewBag.ID_TIPO_DOCUMENTO",//////
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListTypeDocumentExpense?var=" + Math.random()
                }
            }
        });
        //Evento Load
        var ID_TYPE_DOCU_EXPE = $("#ID_TYPE_DOCU_EXPE").data("kendoDropDownList");
        ID_TYPE_DOCU_EXPE.bind("dataBound", function (e) {
            if (ID_TYPE_DOCU_EXPE.dataItem().ID_TYPE_DOCU_EXPE == 4) {
                $("#divDocument").addClass("divHide");
                $("#divSupplier").addClass("divHide");
                $("#divS").addClass("divHide");
                $("#divS1").addClass("divHide");
                $("#divS2").addClass("divHide");
                $("#divMotivo").removeClass("divHide");
                $("#divDestino").removeClass("divHide");
                $("#divReintegro").addClass("divHide");
                $(".reformax").removeClass("col-sm-3");
                $(".reformax").addClass("col-sm-6");

            } else if (ID_TYPE_DOCU_EXPE.dataItem().ID_TYPE_DOCU_EXPE == 8) {
                $("#divDocument").addClass("divHide");
                $("#divSupplier").addClass("divHide");
                $("#divS").addClass("divHide");
                $("#divS1").addClass("divHide");
                $("#divS2").addClass("divHide");
                $("#divS3").addClass("divHide");
                $("#divReintegro").removeClass("divHide");
                $(".reformax").removeClass("col-sm-3");
                $(".reformax").addClass("col-sm-6");
                $("#divMotivo").addClass("divHide");
                $("#divDestino").addClass("divHide");
                $("#divcentimos").addClass("divHide");
                $('#GLOSA').val('');
            }
            else {
                $("#divDocument").removeClass("divHide");
                $("#divSupplier").removeClass("divHide");
                $("#divDescrip").removeClass("divHide");
                $("#divS").removeClass("divHide");
                $("#divS1").removeClass("divHide");
                $("#divS2").removeClass("divHide");
                $("#divMotivo").addClass("divHide");
                $("#divDestino").addClass("divHide");

                $(".reformax").removeClass("col-sm-6")
                $(".reformax").addClass("col-sm-3")
            }

        });

        //Evento change
        var ID_TYPE_DOCU_EXPE_Change = $("#ID_TYPE_DOCU_EXPE").data("kendoDropDownList");

        ID_TYPE_DOCU_EXPE_Change.bind("change", function (e) {
            if (ID_TYPE_DOCU_EXPE.dataItem().ID_TYPE_DOCU_EXPE == 4) {
                $("#divDocument").addClass("divHide");
                $("#divSupplier").addClass("divHide");
                $("#divDescrip").addClass("divHide");
                $("#divS").addClass("divHide");
                $("#divS1").addClass("divHide");
                $("#divS2").addClass("divHide");
                $("#divMotivo").removeClass("divHide");
                $("#divDestino").removeClass("divHide");

                $(".reformax").removeClass("col-sm-3")
                $(".reformax").addClass("col-sm-6")
            }
            else {
                $("#divDocument").removeClass("divHide");
                $("#divSupplier").removeClass("divHide");
                $("#divDescrip").removeClass("divHide");
                $("#divS").removeClass("divHide");
                $("#divS1").removeClass("divHide");
                $("#divS2").removeClass("divHide");
                $("#divMotivo").addClass("divHide");
                $("#divDestino").addClass("divHide");

                $(".reformax").removeClass("col-sm-6")
                $(".reformax").addClass("col-sm-3")
            }

        });

        var DOC_DATE = $("#DOC_DATE").kendoDatePicker().data("kendoDatePicker");
        DOC_DATE.max("@ViewBag.DOC_DATE_MAX_EDIT");

        //here add

        var COD_ART = $("#CodigoArticulo").kendoDropDownList({
            dataTextField: "DESCRIPCION",
            dataValueField: "COD_S",
            value: "@ViewBag.ID_CODIGO_ARTICULO",
            optionLabel: {
                DESCRIPCION: "Seleccionar",
                COD_S: null
            },
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;font-size: 13px;">' +
                '<div style="float:left; width: 25%;">${data.COD_S}</div>' +
                '<div style="float:right; width: 75%;">${data.DESCRIPCION}</div>' +
                '</div>',
            filter: "contains",
            //autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListCuentaCDocumentExpense?var=" + Math.random()
                }
            },
            dataBound: function () {
                console.log("dataBound function executed");
                var selectedValue = this.value();
                var allowedValues = ["65930021", "65930002", "63430016"];
                var divPlacaVehiculo = $("#divPlacaVehiculo");
                var divToChange = $("#divToChange");

                console.log(selectedValue);
                if (allowedValues.includes(selectedValue)) {
                    divToChange.removeClass("col-sm-8");
                    divToChange.addClass("col-sm-4");
                    divPlacaVehiculo.removeClass("divHide");
                } else {
                    divPlacaVehiculo.addClass("divHide");
                    divToChange.removeClass("col-sm-4");
                    divToChange.addClass("col-sm-8");
                }
            },
            change: function (e) {
                var selectedValue = this.value();
                var allowedValues = ["65930021", "65930002", "63430016"];
                var divPlacaVehiculo = $("#divPlacaVehiculo");
                var divToChange = $("#divToChange");

                if (allowedValues.includes(selectedValue)) {
                    divToChange.removeClass("col-sm-8");
                    divToChange.addClass("col-sm-4");
                    divPlacaVehiculo.removeClass("divHide");
                } else {
                    divPlacaVehiculo.addClass("divHide");
                    divToChange.removeClass("col-sm-4");
                    divToChange.addClass("col-sm-8");
                }
            }
        });

       

        var TipoImpuesto = $("#TipoImpuesto").kendoDropDownList({
            dataTextField: "DESCRIPCION",
            dataValueField: "ID",
            value: "@ViewBag.ID_TIPO_IMPUESTO",
            optionLabel: {
                DESCRIPCION: "Seleccionar",
                ID: 0
            },
            //filter: "contains",
            //autoBind: true,
            delay: 500,
            minLength: 0,
            //suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListTipoImpuestoDocumentExpense?var=" + Math.random()
                }
            }
        });
         @*var solicitante=@ViewBag.SolicitanteDocExpense;*@
        var IGV = $("#IGV").kendoDropDownList({
            //cascadeFrom: "TipoImpuesto",
            dataTextField: "VAL_ACCO_PARA",//"#if (VAL_ACCO_PARA != 0){VAL_ACCO_PARA} else {'No Aplica'}#",
            dataValueField: "VAL_ACCO_PARA",
            value: "@ViewBag.IGV",
            optionLabel: {
                VAL_ACCO_PARA: "Seleccionar"
            },
            //filter: "contains",
            //autoBind: true,
            delay: 500,
            minLength: 0,
            //suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListIGVDocumentExpense?var=" + Math.random()
                }
            },
            change: function (e) {
                var selectedValue = this.value();

                var TipoImpuesto = $("#TipodeImpuesto");

                var newAmountValue = $("#txtMonto").data("kendoNumericTextBox").value();


                if (selectedValue === undefined || selectedValue === "No aplica" || selectedValue === "" || selectedValue === "Seleccionar" || selectedValue === "Exonerado") {
                    if (newAmountValue != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(newAmountValue);
                    }
                    TipoImpuesto.html("<b> INAFECTO </b>");

                    totalIGV = Math.floor(0 * 100) / 100;
                    $("#TotalIGV").text(totalIGV.toFixed(2));
                    $("#TIPO_IMPUESTO").val("4");

                } else if (selectedValue === "10%") {
                    var MontoTot = newAmountValue + (newAmountValue * 10) / 100
                    if (newAmountValue != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    TipoImpuesto.html("<b> GRAVADO </b>");

                    var IGV = (newAmountValue * 10) / 100
                    $("#TotalIGV").text(IGV.toFixed(2));
                    $("#TIPO_IMPUESTO").val("1");
                } else {
                    var MontoTot = newAmountValue + (newAmountValue * 18) / 100
                    if (newAmountValue != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    TipoImpuesto.html("<b> GRAVADO </b>");
                    var IGV = (newAmountValue * 18) / 100
                    $("#TotalIGV").text(IGV.toFixed(2));
                    $("#TIPO_IMPUESTO").val("1");
                }

            }


        });

        //
        $("#MontoTotal").kendoNumericTextBox({
            min: 0,
            format: "0.00", // Formato para 4 decimales
            decimals: 2,
            spinners: false, // Deshabilitar los botones de aumento/disminución
            parseFormats: ["0.00"],
            format: "#.00", // Formato personalizado
            change: function (e) {
                var value = this.value();
                if (value != null) {
                    this.value(value.toFixed(4)); // Establecer el valor con 4 decimales
                }
            }
        });

        var moneda = [{ text: "@ResourceLanguaje.Resource.PeruvianNuevoSol", value: "MN" }, { text: "@ResourceLanguaje.Resource.DollarAmerican", value: "ME" }];
        var COIN = $("#COIN").kendoDropDownList({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,
            dataSource: moneda,
            value: "@ViewBag.Currency_2",
            enable: false
        }).data("kendoComboBox");

        $("#NEW_AMOUNT").kendoNumericTextBox({
            min: 0
        });
    });

    //$("#submitDocument").click(function () {
    //    $('#myModalLoading').modal('show');
    //});

    var onSelect = function (e) {
        var ID_TYPE_DETA_TICK = $("#ID_TYPE_DETA_TICK").data("kendoComboBox");
        //if (ID_TYPE_DETA_TICK.dataItem().ID_TYPE_DETA_TICK == 7) {
        $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();

                    toastr.warning("Cargue el archivo de documento Adobe Acrobat en pdf", "Alerta");

                }
            });

    };

    $("#files").kendoUpload({
        localization: {
            select: "Adjuntar"
        },
        select: onSelect,
        multiple: false,
    });
</script>
<script type='text/javascript'>


    $('#CodigoArticulo').change(function (e) {
        var soliValue = "@Html.Raw(ViewBag.SolicitanteDocExpense)".replace(/&#209;/g, 'Ñ');
        $('#txtComentario').val($("#CodigoArticulo").data("kendoDropDownList").text() + " - " + soliValue);
    });

     $('#PlacaVehiculo').on('input', function () {
        var soliValue = "@Html.Raw(ViewBag.SolicitanteDocExpense)".replace(/&#209;/g, 'Ñ');
        var placavalue = $(this).val();
         $('#txtComentario').val($("#CodigoArticulo").data("kendoDropDownList").text() + " - " + soliValue + " - " + placavalue);
    });

    function uploadDoneMsnEDDocument(msg, msnErr) {
        if (msg == 'Update PettyCash') {
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.warning("Actualizado correctamente", "Documento de Gastos");
            LoadDocuments(@ViewBag.id);
        }
        else {
            toastr.error(msnErr,"@ResourceLanguaje.Resource.InformationMissing");
        }
    }

</script>
