@model ERPElectrodata.Models.DOCUMENT_EXPENSE

@{
    Layout = null;
}
<style>
    .divHide {
        display: none;
    }
</style>

@using (Html.BeginForm("CreateDocument", "DocumentExpense", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewDocument", name = "FormNewDocument", target = "ut_NewDocument" }))
{
<div class="modal-body" id="ModalContentBody">
    <input type="hidden" name="NEW_ID_REQU_EXPE" id="NEW_ID_REQU_EXPE" value="@ViewBag.ID_REQU_EXPE" />
    <input type="hidden" name="NEW_COIN" id="NEW_COIN" value="@ViewBag.Currency" />
    
    <div>
        <div class="row">
            <div class="col-sm-3 reformax">
                <div class="editor-label">
                    Tipo de Documento
                </div>
                <div class="editor-field">
                    <input type="text" name="ID_TYPE_DOCU_EXPE" id="ID_TYPE_DOCU_EXPE" class="dropdownKendo" style="width:100%;" />
                </div>
            </div>
            <div class="col-sm-3 reformax">
                <div class="editor-label">
                    Fecha
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DOC_DATE)
                    @Html.ValidationMessageFor(model => model.DOC_DATE)
                </div>
            </div>
            <div class="col-sm-6" id="divS">
                <div class="editor-label">
                    Cod.Articulo / Cuenta Contable
                </div>
                <div class="editor-field">
                    <input type="text" name="COD_ART" value="dd" id="COD_ART" class="dropdownKendo" style="width:100%;" />
                </div>
            </div>
        </div>

        <div class="row" id="divDocument">
            <div class="col-sm-4">
                <div class="editor-label">
                    Serie
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.DOC_SERI)
                    @Html.ValidationMessageFor(model => model.DOC_SERI)
                </div>
            </div>
            <div class="col-sm-8" id="divToChange">
                <div class="editor-label">
                    @ResourceLanguaje.Resource.Number
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.DOC_NUMB)
                    @Html.ValidationMessageFor(model => model.DOC_NUMB)
                </div>
            </div>
            <div class="col-sm-4 divHide" id="divPlacaVehiculo">
                <div class="editor-label">
                    Placa de Vehículo
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.PlacaVehiculo)
                    @Html.ValidationMessageFor(model => model.PlacaVehiculo)
                </div>
            </div>
        </div>

        <div class="row" id="divSupplier">
            <div class="col-sm-6">
                <div class="editor-label">
                    RUC Proveedor
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.PROVEEDOR)
                    @Html.ValidationMessageFor(model => model.PROVEEDOR)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="editor-label">
                    Nombre del @ResourceLanguaje.Resource.Supplier
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.SUPPLIER)
                    @Html.ValidationMessageFor(model => model.SUPPLIER)
                </div>
            </div>
        </div>

        <div class="row divHide" id="divReintegro">
            <div class="col-sm-6">
                <div class="editor-label">
                    Banco
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.Banco)
                    @Html.ValidationMessageFor(model => model.Banco)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="editor-label">
                    Código de Operación
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.CodigoOperacion)
                    @Html.ValidationMessageFor(model => model.CodigoOperacion)
                </div>
            </div>
        </div>

        <div class="row divHide" id="divMotivo">
            <div class="col-sm-6">
                <div class="editor-label">
                    @ResourceLanguaje.Resource.Reason
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.REASON)
                    @Html.ValidationMessageFor(model => model.REASON)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="editor-label">
                    @ResourceLanguaje.Resource.Destination
                </div>
                <div class="k-textbox" style="width:100%;">
                    <input type="text" name="DESTINATION" id="DESTINATION" />
                </div>
            </div>
        </div>

        <div class="row divHide" id="divDestino">
            
            <div class="col-sm-6">
                <div class="editor-label">
                    Usuario
                </div>
                <div class="editor-field">
                    <input type="text" name="usuarioGlosa" id="usuarioGlosa" class="dropdownKendo" style="width:100%;" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="editor-label">
                    Planilla de Movilidad
                </div>
                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.PlanillaMovilidad)
                    @Html.ValidationMessageFor(model => model.PlanillaMovilidad)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 reformax">
                <div class="editor-label">
                    @ResourceLanguaje.Resource.Currency
                </div>
                <div class="editor-field">
                    <input type="text" name="COIN" id="COIN" class="dropdownKendo" style="width:100%;" />
                </div>
            </div>
            <div class="col-sm-3 reformax">
                <div class="editor-label">
                    @ResourceLanguaje.Resource.Amount sin I.G.V
                </div>
                <div style="margin-top:0px;">
                    @Html.EditorFor(model => model.AMOUNT)
                    @Html.ValidationMessageFor(model => model.AMOUNT)
                </div>
            </div>
            <div class="col-sm-3" id="divS1">
                <div class="editor-label">
                    <input type="hidden" id="TIPO_IMPUESTO" name="TIPO_IMPUESTO" value="4" />
                    I.G.V  - <span id="TipodeImpuesto" style="background-color: #f4ff00;"><b> INAFECTO </b></span>
                </div>
                <div class="editor-field">
                    <input type="text" name="IGV" id="IGV" class="dropdownKendo" style="width:100%;" />
                </div>
                Total I.G.V. = <span id="TotalIGV" name="TotalIGV">0</span>
            </div>
            <div class="col-sm-3" id="divS3">
                <div class="editor-label">
                    Monto Total con I.G.V.
                </div>
                <div style="margin-top:0px;">
                    <input type="text" name="MontoTotal" id="MontoTotal" class="dropdownKendo" style="width:100%;" disabled />
                </div>
            </div>

        </div>
        <div class="row" id="divcentimos">
            @*<div class="col-sm-9">
            </div>*@
            <div class="col-sm-3">
                <input type="checkbox" id="CentimoInefacto" name="CheckCentimo" /><span> Recargo por consumo <span style="background-color: #f4ff00;"><b>INAFECTO</b></span></span>
            </div>
            <div class="divHide col-sm-3" style="margin-top:0px;" id="inputcentimos">
                <input type="text" id="MontoCentimos" name="MontoCentimos" class="dropdownKendo" style="width:100%;" />
            </div>
            
        </div>
        <br />
        <div class="row" id="divDescrip">
            <div class="col-sm-12">
                <div class="editor-label">
                    Comentario / Glosa
                </div>

                <div class="k-textbox" style="width:100%;">
                    @Html.EditorFor(model => model.GLOSA)
                    @Html.ValidationMessageFor(model => model.GLOSA)

                </div>

            </div>

        </div>

        <div class="row mt-2">
            <div class="col-sm-12">
                <input name="files" id="files" type="file" />
            </div>
        </div>

        <div id="mensajeAlerta"></div>
    </div>
</div>
    <div class="modal-footer">
        <button id="submitDocument" class="k-button">Guardar</button>
    </div>
}
<iframe id="ut_NewDocument" name="ut_NewDocument" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>



<script type="text/javascript">
    var c = 0;
    $(document).ready(function () {

        $("form").submit(function (event) {
            var glosaValue = $("#GLOSA").val();
            if (glosaValue.includes("#")) {
                uploadDoneMsn('ERROR', 'No se acepta este tipo de caracter "#" verificar antes de guardar.');
            }
        });

        var ID_TYPE_DOCU_EXPE = $("#ID_TYPE_DOCU_EXPE").kendoDropDownList({
            dataTextField: "NAM_DOCU",
            dataValueField: "ID_TYPE_DOCU_EXPE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListTypeDocumentExpense?var=" + Math.random()
                }
            }
        });

        var ID_TYPE_DOCU_EXPE = $("#ID_TYPE_DOCU_EXPE").data("kendoDropDownList");
        ID_TYPE_DOCU_EXPE.bind("change", function (e) {
            if (ID_TYPE_DOCU_EXPE.dataItem().ID_TYPE_DOCU_EXPE == 4) {
                $("#divDocument").addClass("divHide");
                $("#divSupplier").addClass("divHide");
                $("#divS").addClass("divHide");
                $("#divS1").addClass("divHide");
                $("#divS2").addClass("divHide");
                $("#divS3").addClass("divHide");
                $("#divMotivo").removeClass("divHide");
                $("#divDestino").removeClass("divHide");
                $("#divReintegro").addClass("divHide");
                $("#divcentimos").addClass("divHide");
                $("#usuarioGlosa").data("kendoDropDownList").value("");
                $('#PlanillaMovilidad').val('');
                $("#COD_ART").data("kendoDropDownList").value("65930008");
                var selectedText = $("#COD_ART").data("kendoDropDownList").text();
                $('#GLOSA').val(selectedText);
                $(".reformax").removeClass("col-sm-3")
                $(".reformax").addClass("col-sm-6")
            }
            else if (ID_TYPE_DOCU_EXPE.dataItem().ID_TYPE_DOCU_EXPE == 8) {
                $("#divDocument").addClass("divHide");
                $("#divSupplier").addClass("divHide");
                $("#divS").addClass("divHide");
                $("#divS1").addClass("divHide");
                $("#divS2").addClass("divHide");
                $("#divS3").addClass("divHide");
                $("#divReintegro").removeClass("divHide");
                $(".reformax").removeClass("col-sm-3");
                $(".reformax").addClass("col-sm-6");
                $("#divMotivo").addClass("divHide");
                $("#divDestino").addClass("divHide");
                $("#divcentimos").addClass("divHide");
                $('#GLOSA').val('');
            }
            else {
                $("#divS3").removeClass("divHide");
                $("#divReintegro").addClass("divHide");
                $("#divDocument").removeClass("divHide");
                $("#divSupplier").removeClass("divHide");
                $("#divDescrip").removeClass("divHide");
                $("#divcentimos").removeClass("divHide");
                $("#divS").removeClass("divHide");
                $("#divS1").removeClass("divHide");
                $("#divS2").removeClass("divHide");
                $("#divMotivo").addClass("divHide");
                $("#divDestino").addClass("divHide");
                $("#COD_ART").data("kendoDropDownList").value("");
                $('#GLOSA').val('');
                $(".reformax").removeClass("col-sm-6")
                $(".reformax").addClass("col-sm-3")
            }
        });

        var USUARIOGLOSA = $("#usuarioGlosa").kendoDropDownList({
            dataTextField: "NOMBRE",
            dataValueField: "CODUSUARIO",
            optionLabel: {
                NOMBRE: "Seleccionar",
                CODUSUARIO: null
            },
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;font-size: 13px;">' +
                '<div style="float:left; width: 25%;">${data.CODUSUARIO}</div>' +
                '<div style="float:right; width: 75%;">${data.NOMBRE}</div>' +
                '</div>',
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListUsuarioGlosa?var=" + Math.random()
                }
            }
        });

        var USUARIOGLOSA = $("#usuarioGlosa").data("kendoDropDownList");
        USUARIOGLOSA.bind("change", function (e) {
            var soliValue = USUARIOGLOSA.dataItem().NOMBRE;
            var plantillamovili = $('#PlanillaMovilidad').val();
            $('#GLOSA').val($("#COD_ART").data("kendoDropDownList").text() + " - " + soliValue + " - " + plantillamovili );
        });


        var DOC_DATE = $("#DOC_DATE").kendoDatePicker().data("kendoDatePicker");
        DOC_DATE.max("@ViewBag.DOC_DATE_MAX");

        //here add

        var COD_ART = $("#COD_ART").kendoDropDownList({
            dataTextField: "DESCRIPCION",
            dataValueField: "COD_S",
            optionLabel: {
                DESCRIPCION: "Seleccionar",
                COD_S: null
            },
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;font-size: 13px;">' +
                '<div style="float:left; width: 25%;">${data.COD_S}</div>' +
                '<div style="float:right; width: 75%;">${data.DESCRIPCION}</div>' +
                '</div>',
            filter: "contains",
            //autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListCuentaCDocumentExpense?var=" + Math.random()
                }
            },
            change: function (e) {
                var selectedValue = this.value();
                var allowedValues = ["65930021", "65930002", "63430016"];
                var divPlacaVehiculo = $("#divPlacaVehiculo");
                var divToChange = $("#divToChange");

                if (allowedValues.includes(selectedValue)) {
                    divToChange.removeClass("col-sm-8");
                    divToChange.addClass("col-sm-4");
                    divPlacaVehiculo.removeClass("divHide");
                } else {
                    divPlacaVehiculo.addClass("divHide");
                    divToChange.removeClass("col-sm-4");
                    divToChange.addClass("col-sm-8");
                }
            }
        });

        var IGV = $("#IGV").kendoDropDownList({
            dataTextField: "VAL_ACCO_PARA",
            dataValueField: "VAL_ACCO_PARA",
            optionLabel: {
                VAL_ACCO_PARA: "Seleccionar"
            },
            //filter: "contains",
            //autoBind: true,
            delay: 500,
            minLength: 0,
            //suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListIGVDocumentExpense?var=" + Math.random()
                }
            },
            change: function (e) {
                var selectedValue = this.value();

                var TipoImpuesto = $("#TipodeImpuesto");

                var newAmountValue = $("#AMOUNT").data("kendoNumericTextBox").value();


                if (selectedValue === undefined || selectedValue === "No aplica" || selectedValue === "" || selectedValue === "Seleccionar" || selectedValue === "Exonerado") {
                    if (newAmountValue != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(newAmountValue);
                    }
                    TipoImpuesto.html("<b> INAFECTO </b>");

                    totalIGV = Math.floor(0 * 100) / 100;
                    $("#TotalIGV").text(totalIGV.toFixed(2));
                    $("#TIPO_IMPUESTO").val("4");

                } else if (selectedValue === "10%") {
                    var MontoTot = newAmountValue + (newAmountValue * 10) / 100
                    if (newAmountValue != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    TipoImpuesto.html("<b> GRAVADO </b>");

                    var IGV = (newAmountValue * 10) / 100
                    $("#TotalIGV").text(IGV.toFixed(2));
                    $("#TIPO_IMPUESTO").val("1");
                } else {
                    var MontoTot = newAmountValue + (newAmountValue * 18) / 100
                    if (newAmountValue != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    TipoImpuesto.html("<b> GRAVADO </b>");
                    var IGV = (newAmountValue * 18) / 100
                    $("#TotalIGV").text(IGV.toFixed(2));
                    $("#TIPO_IMPUESTO").val("1");
                    }

            }
        });

        //

        var moneda = [{ text: "@ResourceLanguaje.Resource.PeruvianNuevoSol", value: "MN" }, { text: "@ResourceLanguaje.Resource.DollarAmerican", value: "ME" }];
        var COIN = $("#COIN").kendoDropDownList({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,
            dataSource: moneda,
            value: "@ViewBag.Currency",
            enable: false
        }).data("kendoComboBox");

        $("#MontoTotal").kendoNumericTextBox({
            min: 0,
            format: "0.00", // Formato para 4 decimales
            decimals: 2,
            spinners: false, // Deshabilitar los botones de aumento/disminución
            parseFormats: ["0.00"],
            format: "#.00", // Formato personalizado
            change: function (e) {
                var value = this.value();
                if (value != null) {
                    this.value(value.toFixed(4)); // Establecer el valor con 4 decimales
                }
            }
        });

        $("#MontoCentimos").kendoNumericTextBox({
            min: 0
        });

        var totalIGV = document.getElementById("TotalIGV");
        var valor = parseFloat(totalIGV.innerHTML);

        totalIGV.innerHTML = valor.toFixed(2);

        $("#CentimoInefacto").on("change", function () {
            if ($(this).is(":checked")) {
                $("#inputcentimos").removeClass("divHide");
            } else {
                $("#inputcentimos").addClass("divHide");
            }
        });

        $("#AMOUNT").kendoNumericTextBox({
            min: 0,
            format: "0.0000",
            decimals: 4,
            spinners: false,
            parseFormats: ["0.0000"],
            format: "#.0000",
            change: function (e) {
                var value = this.value();

                var igvValue = $("#IGV").data("kendoDropDownList").value();


                if (igvValue === '' || igvValue === 'No aplica' || igvValue === "Seleccionar" || igvValue === "Exonerado") {
                    $("#MontoTotal").data("kendoNumericTextBox").value(value);

                    totalIGV.innerHTML = parseFloat("0").toFixed(2);

                } else if (igvValue === '10%') {

                    var MontoTot = value + (value * 10) / 100
                    if (value != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    var IGV = (value * 10) / 100
                    totalIGV.innerHTML = parseFloat(IGV).toFixed(2);

                } else {
                    var MontoTot = value + (value * 18) / 100

                    if (value != null) {
                        $("#MontoTotal").data("kendoNumericTextBox").value(MontoTot);
                    }

                    var IGV = (value * 18) / 100
                    totalIGV.innerHTML = parseFloat(IGV).toFixed(2);
                }


            }
        });

    });

    $("#submitDocument").click(function () {
        $('#myModalLoading').modal('show');
    });

    var onSelect = function (e) {
        var ID_TYPE_DETA_TICK = $("#ID_TYPE_DETA_TICK").data("kendoComboBox");
        $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();

                    toastr.warning("Cargue el archivo de documento Adobe Acrobat en pdf", "Alerta");

                }
            });

    };

    $("#files").kendoUpload({
        localization: {
            select: "Adjuntar"
        },
        select: onSelect,
        multiple: false,
    });
</script>
<script type='text/javascript'>

    $('#COD_ART').change(function (e) {
    var soliValue = "@Html.Raw(ViewBag.Soli)".replace(/&#209;/g, 'Ñ');
    $('#GLOSA').val($("#COD_ART").data("kendoDropDownList").text() + " - " + soliValue);
    });

    $('#PlacaVehiculo').on('input', function () {
        var soliValue = "@Html.Raw(ViewBag.Soli)".replace(/&#209;/g, 'Ñ');
        var placavalue = $(this).val();
        $('#GLOSA').val($("#COD_ART").data("kendoDropDownList").text() + " - " + soliValue + " - " + placavalue);
    });

    $('#PlanillaMovilidad').on('input', function () {
        var soliValue = $("#usuarioGlosa").data("kendoDropDownList").text();
        var plantillamovili = $(this).val();
        $('#GLOSA').val($("#COD_ART").data("kendoDropDownList").text() + " - " + soliValue + " - " + plantillamovili);
    }); 

    $('#PROVEEDOR').on('input', function () {
        var proveedorValue = $(this).val();

        $.ajax({
            url: '/DocumentExpense/ObtenerNombreProveedor',
            method: 'POST',
            data: { proveedor: proveedorValue },
            success: function (data) {
                $('#SUPPLIER').val(data);
            },
            error: function () {
            }
        });
    });

    

</script>