@model ERPElectrodata.Models.DOCUMENT_EXPENSE

@{
    Layout = null;
}

<div style="width:100%; height:565px; display:inline-block;">
    <div style="float:left; width:42%; margin-top:10px;" id="divFormVia">
        @using (Html.BeginForm("CreateViatical", "DocumentExpense", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewViatical", name = "FormNewViatical", target = "ut_viatical" }))
        {
        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.NewDocument</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" style="display: inline-block;">
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Number @ResourceLanguaje.Resource.Viatical
                        </div>
                        <div class="editor-field">
                            <input type="text" name="ID_DELI_SUST_V" id="ID_DELI_SUST_V" />
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Number OP
                        </div>
                        <div class="editor-field">
                            <input type="text" name="ID_DOCU_SALE_V" id="ID_DOCU_SALE_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <ul class="poll-results">
                        <li>
                            <div id="divProgress" style="width:92.5%;"></div>
                        </li>
                    </ul>
                </div>
                <div class="divFondoDos">
                    <div style="width: 95.5%; float:left; padding: 0px 0px 0 15px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Place
                        </div>
                        <div class="k-textbox" style="max-width:98%;">
                            <input type="text" name="PLACE_V" id="PLACE_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoUno">
                    <div style="width: 95.5%; float:left; padding: 0px 0px 0 15px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Reason
                        </div>
                        <div class="k-textbox" style="max-width:98%;">
                            <input type="text" name="REASON_V" id="REASON_V" />
                        </div>
                    </div>
                </div>
                <input type="hidden" name="HF_ID_DOCU_SALE" id="HF_ID_DOCU_SALE" />
                <input type="hidden" name="HF_PLACE" id="HF_PLACE" />
                <input type="hidden" name="HF_REASON" id="HF_REASON" />
            </div>
        </div>
        <div style="height:12px; width:100%;"></div>
        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.DetailExpense</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" style="display: inline-block;">
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.TypeDocument
                        </div>
                        <div class="editor-field">
                            <input type="text" name="ID_TYPE_DOCU_EXPE_V" id="ID_TYPE_DOCU_EXPE_V" class="dropdownKendo" />
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Date
                        </div>
                        <div class="editor-field">
                            <input type="text" name="DOC_DATE_V" id="DOC_DATE_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoDos" id="divDocumentV">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            Serie
                        </div>
                        <div class="k-textbox">
                            <input type="text" name="DOC_SERI_V" id="DOC_SERI_V" />
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Number
                        </div>
                        <div class="k-textbox">
                            <input type="text" name="DOC_NUMB_V" id="DOC_NUMB_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoUno" id="divSupplierV">
                    <div style="width: 95.5%; float:left; padding: 0px 0px 0 15px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Supplier
                        </div>
                        <div class="k-textbox" style="max-width:98%;">
                            <input type="text" name="SUPPLIER_V" id="SUPPLIER_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoDos" style="display:none;" id="divMotivoV">
                    <div style="width: 95.5%; float:left; padding: 0px 0px 0 15px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Reason
                        </div>
                        <div class="k-textbox" style="max-width:98%;">
                            <input type="text" name="REASON_MOB_V" id="REASON_MOB_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoUno" style="display:none;" id="divDestinoV">
                    <div style="width: 95.5%; float:left; padding: 0px 0px 0 15px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Destination
                        </div>
                        <div class="k-textbox" style="max-width:98%;">
                            <input type="text" name="DESTINATION_V" id="DESTINATION_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoDos">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Coin
                        </div>
                        <div class="editor-field">
                            <input type="text" name="COIN_V" id="COIN_V" class="dropdownKendo" />
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Amount
                        </div>
                        <div style="margin-top:0px;">
                            <input type="text" name="AMOUNT_V" id="AMOUNT_V" />
                        </div>
                    </div>
                </div>
                <div class="divFondoUno">
                    <div class="divSpace3"></div>
                    <div style="display:inline-block; float:right; padding:5px 15px 0px 5px;">
                        <div style=" float:left; padding-bottom:10px;">
                            <button id="submitHead" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        <iframe id="ut_viatical" name="ut_viatical" src="" class="frameHidden"></iframe>
    </div>
    <div style="float:left; width:1%; min-width:10px; height:10px;"></div>
    <div style="float:left; width:57%; margin-top:10px;">
        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.DocumentsApproving</div>
        </div>
        <div class="bodyForm" id="idListViaWithoutApp">
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        var progressbars = [];
        $(".poll-results div").each(function () {
            var pb = $(this).kendoProgressBar({
                type: "percent",
                animation: {
                    duration: 600
                }
            }).data("kendoProgressBar");
            progressbars.push(pb);
        });

        var ID_DELI_SUST_V = $("#ID_DELI_SUST_V").kendoComboBox({
            dataTextField: "dataText",
            dataValueField: "ID_DELI_SUST",
            template: '<div style="font-weight:bold;">${ data.DOC_NUMB } (${ data.DATE_DOC })</div>' +
                '<div style="text-transform:capitalize; width:100%; margin-top:-5px;">@ResourceLanguaje.Resource.AmountAssigned: ${ data.COIN } ${ data.AMOUNT }</div>' +
                '<div style="text-transform:capitalize; width:100%; margin-top:-5px;">Amount Register: ${ data.COIN } ${ data.AMOUNT_REGI }</div>',
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DeliverySustain/ListDeliverySustainByTypeByStat?id=2&stat=P&var=" + Math.random()
                }
            }
        });
        var ID_DELI_SUST_V = $("#ID_DELI_SUST_V").data("kendoComboBox");

        ID_DELI_SUST_V.bind("dataBound", function (e) {
            if (ID_DELI_SUST_V.dataItem() != null) {
                var amo = ID_DELI_SUST_V.dataItem().AMOUNT;
                var rem = ID_DELI_SUST_V.dataItem().AMO_REGI;
                var tt = parseFloat(rem) / parseFloat(amo) * 100;
                if (tt > 100) { tt = 100; }
                $("#divProgress").data("kendoProgressBar").value(tt);
            }
        });

        ID_DELI_SUST_V.bind("change", function (e) {
            var ID_DOCU_SALE_V = $("#ID_DOCU_SALE_V").data("kendoComboBox");
            if (ID_DELI_SUST_V.dataItem().ID_DOCU_SALE != 0) {
                ID_DOCU_SALE_V.value(ID_DELI_SUST_V.dataItem().ID_DOCU_SALE);
                $("#HF_ID_DOCU_SALE").val(ID_DELI_SUST_V.dataItem().ID_DOCU_SALE);
            }
            else {
                ID_DOCU_SALE_V.value('');
                $("#HF_ID_DOCU_SALE").val(0);
            }
            $("#PLACE_V").val(ID_DELI_SUST_V.dataItem().PLACE);
            $("#HF_PLACE").val(ID_DELI_SUST_V.dataItem().PLACE);
            $("#REASON_V").val(ID_DELI_SUST_V.dataItem().REASON);
            $("#HF_REASON").val(ID_DELI_SUST_V.dataItem().REASON);
            var COIN_V = $("#COIN_V").data("kendoDropDownList");
            COIN_V.value(ID_DELI_SUST_V.dataItem().CURRENCY);

            $.each(progressbars, function (i, pb) {
                pb.value(0);
            });
            var amo = ID_DELI_SUST_V.dataItem().AMOUNT;
            var rem = ID_DELI_SUST_V.dataItem().AMO_REGI;
            var tt = parseFloat(rem) / parseFloat(amo) * 100;

            if (tt > 100) { tt = 100; }

            $("#divProgress").data("kendoProgressBar").value(tt);

            LoadListViaWithoutApp(ID_DELI_SUST_V.dataItem().ID_DELI_SUST); //Esta funcion se encuentra en la vista viewNewSustain

        });

        var ID_DOCU_SALE_V = $("#ID_DOCU_SALE_V").kendoComboBox({
            dataTextField: "dataTextDS",
            dataValueField: "ID_DOCU_SALE",
            template: '<div style="font-weight:bold;">${ data.TextDS }</div>' +
                '<div style="text-transform:capitalize; width:100%; margin-top:-5px;" title="${ data.CIA_1 }">Customer: ${ data.COM_NAME }</div>' +
                '<div style="text-transform:capitalize; width:100%; margin-top:-5px;" title="${ data.CIA_2 }">Final Customer: ${ data.COM_NAME_END }</div>',
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentSaleActivity/ListOPsNotClosed?var=" + Math.random()
                }
            }
        });
        var ID_DOCU_SALE_V = $("#ID_DOCU_SALE_V").data("kendoComboBox");
        ID_DOCU_SALE_V.list.width(450);

        var ID_TYPE_DOCU_EXPE_V = $("#ID_TYPE_DOCU_EXPE_V").kendoDropDownList({
            dataTextField: "NAM_DOCU",
            dataValueField: "ID_TYPE_DOCU_EXPE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DocumentExpense/ListTypeDocumentExpense?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_DOCU_EXPE_V = $("#ID_TYPE_DOCU_EXPE_V").data("kendoDropDownList");
        ID_TYPE_DOCU_EXPE_V.bind("change", function (e) {
            if (ID_TYPE_DOCU_EXPE_V.dataItem().ID_TYPE_DOCU_EXPE == 4) {
                $("#divDocumentV").css("display", "none");
                $("#divSupplierV").css("display", "none");
                $("#divMotivoV").css("display", "inline-block");
                $("#divDestinoV").css("display", "inline-block");
            }
            else {
                $("#divDocumentV").css("display", "inline-block");
                $("#divSupplierV").css("display", "inline-block");
                $("#divMotivoV").css("display", "none");
                $("#divDestinoV").css("display", "none");
            }
        });


        var DOC_DATE_V = $("#DOC_DATE_V").kendoDatePicker().data("kendoDatePicker");
        DOC_DATE_V.max("@ViewBag.DOC_DATE_MAX");

        var moneda = [{ text: "S/.", value: "MN" }, { text: "US$", value: "ME" }];
        var COIN_V = $("#COIN_V").kendoDropDownList({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,
            dataSource: moneda,
        }).data("kendoComboBox");
        var COIN_V = $("#COIN_V").data("kendoDropDownList");
        COIN_V.readonly();

        $("#AMOUNT_V").kendoNumericTextBox({
            min: 0
        });

    });

</script>
