@model ERPElectrodata.Models.PRIORITY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PRIORITY</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PRIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PRIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAM_PRIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAM_PRIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DES_PRIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DES_PRIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HOU_PRIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HOU_PRIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COL_PRIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COL_PRIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ICO_PRIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ICO_PRIO)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
