@model IEnumerable<ERPElectrodata.Models.PRIORITY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_PRIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAM_PRIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DES_PRIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOU_PRIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COL_PRIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ICO_PRIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PRIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAM_PRIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DES_PRIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOU_PRIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COL_PRIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ICO_PRIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
