@model ERPElectrodata.Models.GRUPOPLANTILLA

@{
    Layout = null;
}

<style>
    b {
        color: #F83C50;
    }
</style>

<div style="width:100%; display:inline-block;">
    @using (Html.BeginForm("EdicionGrupo", "Grupo", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewRequest", name = "FormNewRequest", target = "ut_NewRequest" }))
    {
        <div id="mensaje"></div>
        @Html.HiddenFor(model => model.USUARIOCREACION)
        @Html.HiddenFor(model => model.FECHACREACION)
        @Html.HiddenFor(model => model.IdCuenta)

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div>Cuenta<b>*</b> </div>
                    <input id="cbCuentaE" name="cbCuentaE" class="form-control" type="text" style="width:100%" disabled="disabled"> @* *@
                </div>
                <div class="col-md-6">
                    Grupo<b>*</b>
                    <input id="GrupoE" name="GrupoE" class="form-control" type="text" value="@ViewBag.Nombre" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <br />
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div>Descripción del Grupo </div>
                    <textarea class="form-control" id="TextareaGrupoEdita" name="TextareaGrupoEdita" rows="8"> @ViewBag.Descrip</textarea>
                </div>
            </div>

            <h2></h2>
            <div class="row">
                <div class="col-md-2">
                    <div class="editor-label">
                        Estado
                    </div>
                    <div class="editor-field">
                        <input type="checkbox" id="EstadoE" name="EstadoE" style="width:80%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br />
        </div>



        <input type="hidden" id="IDGrupo" name="IDGrupo" value="@ViewBag.IdGrupo" />
        @*---------------------------Footer--------------------------------------------------------*@

        <div class="card-footer">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-3">
                        <br />

                    </div>
                    <div class="col-md-3">
                        <br />

                    </div>
                    <div class="col-md-3">
                        <button id="submitRequest" class="btn btn-primary btn-block">Guardar</button>

                    </div>
                    <div class="col-md-3">
                        <button id="reset" class="ladda-button mb-2 btn btn-gradient-light btn-block widthMax" data-style="expand-right" data-dismiss="modal">
                            <span class="ladda-label">Cancelar</span><span class="ladda-spinner"></span>
                        </button>

                    </div>
                </div>
            </div>

        </div>


    }
    <iframe id="ut_NewRequest" name="ut_NewRequest" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        /*
        $("#submitRequest").click(function () {
            event.preventDefault();
            //Valida si el Grupo está asignado a algún soporte
            ValidarEdicionGrupo();
        });
        */
        if("@ViewBag.Estado"=="1"){
            $("#EstadoE").attr('checked',true)
        }else{
            $("#EstadoE").attr('checked',false)
        }
        $("#cbCuentaE").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            placeholder: "Seleccione una cuenta",
            dataValueField: "id",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListarCuentas_Kendo"
                }

            }
        });
        //Asignación inicial
        $("#cbCuentaE").data("kendoComboBox").value(@ViewBag.IdCuenta);

        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

    });


    function uploadDoneNR(msg, msnErr) {
        if (msg == 'OK') {
            toastr.success(msnErr);
            $("#btnBuscar").click();
            $("#reset").click();
        }
        else {
            toastr.error(msnErr);
        }
    }


</script>









@**
        @model ERPElectrodata.Models.GRUPOPLANTILLA
        @{
            Layout = null;
        }

        <style>
            b {
                color: #F83C50;
            }
        </style>

        <div style="width:100%; display:inline-block;">
            @using (Html.BeginForm("EditarGrupo", "Grupo", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewRequest", name = "FormNewRequest", target = "ut_NewRequest" }))
            {
                @Html.HiddenFor(model => model.USUARIOCREACION)
                @Html.HiddenFor(model => model.FECHACREACION)
                <fieldset>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Cuenta<b>*</b> </label>
                                <input id="cbCuentaEdita" name="cbCuentaEdita" class="" type="text" />
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="GrupoEdita">Grupo<b>*</b></label>
                                    <input id="GrupoEdita" name="GrupoEdita" type="text" class="form-control">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Descripción del Grupo</label>
                                <textarea class="form-control" id="TextareaGrupoEdita" name="TextareaGrupoEdita" rows="8"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <br />
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="editor-label">
                                    Estado
                                </div>
                                <div class="editor-field">
                                    <input type="checkbox" id="Estado" name="Estado" style="width:80%">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <br />
                    </div>

                    <div class="card-footer">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-3">
                                    <button id="btnGuardar" class="btn btn-primary btn-block">Guardar</button>
                                </div>
                                <div class="col-md-3">
                                    <button id="btnCancelar" class="ladda-button mb-2 btn btn-gradient-light btn-block widthMax" data-style="expand-right" data-dismiss="modal">
                                        <span class="ladda-label">Cancelar</span><span class="ladda-spinner"></span>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                     <input type="hidden" id="IDGRUPO" name="IDGRUPO" value="@ViewBag.IDGRUPO" />

            </fieldset>

        }
    <iframe id="ut_NewRequest" name="ut_NewRequest" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
    </div>



    <script type="text/javascript">

        $(document).ready(function () {

            $("#submitRequest").click(function () {
                event.preventDefault();
                //Valida si el Grupo está asignado a algún soporte
                ValidarEdicionGrupo();
            });


            if("@ViewBag.Estado"=="1"){
                $("#Estado").attr('checked',true)
            }else{
                $("#Estado").attr('checked',false)
            }

            $("#cbCuentaEdita").kendoComboBox({
                autoBind: true,
                dataTextField: "text",
                placeholder: "Seleccione una cuenta",
                dataValueField: "id",
                filter: "contains",
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListarCuentas_Kendo"
                    }

                }
            });
            //Asignación inicial
            $("#cbCuentaEdita").data("kendoComboBox").value(@ViewBag.IdCuenta);

            $("#GrupoEdita").data("text").value(@ViewBag.Id);



            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });



        function uploadDoneNR(msg, msnErr) {
            if (msg == 'OK') {
                toastr.success(msnErr);
                $("#btnGuardar").click();
                $("#btnCancelar").click();
            }
            else {
                toastr.error(msnErr);
            }
        }

        function ValidarEdicionGrupo() {
            $.ajax({
                    url: "/Grupo/ValidarEdicionGrupo?IdGrupo=@ViewBag.IDGRUPO",
                    type: "GET",
                    dataType: "text",
                    success: function (resp) {
                        if (resp != '') {
                            toastr.warning(resp);
                        } else if (resp == 'Error') {
                            toastr.error("Ha ocurrido un error, por favor contacte al administrador.");
                        } else {
                            $("#FormNewRequest").submit();
                        }
                    },
                    error: function (dato) {
                        toastr.error("Ha ocurrido un error, contacte al administrador.");
                    }
            });
        }

    </script>
*@
