@model ERPElectrodata.Models.PERSON_TRAINING

@{
    Layout = null;
}    
    
<div style="width:100%">
    <div class="bodyForm">
        <div style="display:inline-block;">
        @using (Html.BeginForm("RejectTraining", "Training", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormRejectTraining", name = "FormRejectTraining", target = "ut_training" }))
        {
            <input type="hidden" name="ID_PERS_TRAI" id="ID_PERS_TRAI" value="@ViewBag.ID_PERS_TRAI" />
            <div class="divFondoUno">
                <div style="width: 93.7%; float:left; padding: 0px 0px 0 15px;">
                    <div class="editor-label">
                        @ResourceLanguaje.Resource.TrainingMsn03
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.REA_REJECT)
                        @Html.ValidationMessageFor(model => model.REA_REJECT)
                    </div>
                </div>
            </div>
            <div class="divFondoUno" style="margin-bottom:5px;">
                <div class="divSpace2"></div>
                <div style="display:inline-block; float:right; padding:5px 15px 5px 0;">
                    <div style=" float:left; padding:0px 15px 0px 0px; ">
                        <button id="submitTrai" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
                    </div>
                    <button id="reset" class="k-button" onclick="cancel(); return false;">Cancel</button>
                </div>
            </div>
        }
        </div>
    </div>
</div>
<iframe id="ut_training" name="ut_training" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

<script type="text/javascript">

    $("#submitTrai").click(function () {
        winPopUpModalLoad('@ResourceLanguaje.Resource.Saving @ResourceLanguaje.Resource.NewTraining', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
    });

    $(document).ready(function () {
        $("#REA_REJECT").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });
    });
</script>