@model ERPElectrodata.Models.PERSON_TRAINING

@{
    Layout = null;
}

@using (Html.BeginForm("NewTraining", "Training", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormTraining", name = "FormTraining", target = "ut_training" }))
{
    <input type="hidden" name="ID_PERS_ENTI" id="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />
    <div style="float:left; width:41%; margin:10px 0 20px 0;">
        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.NewTraining</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" style="display:inline-block;">
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.TypeTraining
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_TYPE_TRAI)
                            @Html.ValidationMessageFor(model => model.ID_TYPE_TRAI)
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Name @ResourceLanguaje.Resource.Training
                        </div>
                        <div class="k-textbox">
                            @Html.EditorFor(model => model.NAM_REVIEW)
                            @Html.ValidationMessageFor(model => model.NAM_REVIEW)
                        </div>
                    </div>
                </div>
                <div class="divFondoDos">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Manufacturer
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_TRAI_MANU)
                            @Html.ValidationMessageFor(model => model.ID_TRAI_MANU)
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Date @ResourceLanguaje.Resource.Training
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DAT_REVIEW)
                            @Html.ValidationMessageFor(model => model.DAT_REVIEW)
                        </div>
                    </div>
                </div>
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Money
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.MONEY)
                            @Html.ValidationMessageFor(model => model.MONEY)
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Amount
                        </div>
                        <div style="margin-top:0px;">
                            @Html.EditorFor(model => model.AMOUNT)
                            @Html.ValidationMessageFor(model => model.AMOUNT)
                        </div>
                    </div>
                </div>
                <div class="divFondoDos">
                    <div style="width: 93.7%; float:left; padding: 0px 0px 0 15px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Summary
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.SUM_TRAI)
                            @Html.ValidationMessageFor(model => model.SUM_TRAI)
                        </div>
                    </div>
                </div>
                <div class="divFondoUno">
                    <div style="width:96%; margin:0 auto;">
                        <input name="filesTrai" id="filesTrai" type="file" />
                    </div>
                </div>
                <div class="divFondoUno" style="margin-bottom:5px;">
                    <div class="divSpace2"></div>
                    <div style="display:inline-block; float:right; padding:5px 15px 5px 0;">
                        <div style=" float:left; padding:0px 15px 0px 0px; ">
                            <button id="submitTrai" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
                        </div>
                        <button id="reset" class="k-button" onclick="cancel(); return false;">Cancel</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>   
}
<iframe id="ut_training" name="ut_training" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

<script type="text/javascript">

    $("#submitTrai").click(function () {
        winPopUpModalLoad('@ResourceLanguaje.Resource.Saving @ResourceLanguaje.Resource.NewTraining', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
        });

    $(document).ready(function () {
        $("#ID_TYPE_TRAI").kendoComboBox({
            dataTextField: "NAM_TRAI",
            dataValueField: "ID_TYPE_TRAI",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Training/ListTypeTraining?var=" + Math.random()
                }
            }
        });
        var ID_TYPE_TRAI = $("#ID_TYPE_TRAI").data("kendoComboBox");

        $("#ID_TRAI_MANU").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_TRAI_MANU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: false,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Training/ListManuTraining?var=" + Math.random()
                }
            }
        });
        var ID_TRAI_MANU = $("#ID_TRAI_MANU").data("kendoComboBox");

        var moneda = [{ text: "US$", value: "US$" }, { text: "S/.", value: "S/." }];
        var MONEY = $("#MONEY").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,
            dataSource: moneda,
            index: 0
        }).data("kendoComboBox");
        var SEX_ENTI = $("#MONEY").data("kendoComboBox");

        var DAT_REVIEW = $("#DAT_REVIEW").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#AMOUNT").kendoNumericTextBox({
            min: 0,
        });

        $("#SUM_TRAI").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        var onSelect = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();

                    winPopUpModal("@ResourceLanguaje.Resource.WrongFileExtension", "<div style='border-bottom:1px dotted #dadada;padding:0 3px 20px 3px;'>" +
                    "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.WrongFileExtMsn</div>" +
                    "<div style='float:right; padding:30px 0 0 0; '>" +
                    "<button id='continuee' class='k-button'>Continue</button>" +
                    "</div></div>", 400, 140);

                    var undo = $("#continuee")
                        .bind("click", function () {
                            closeWinModalPopUp();
                        });
                }
            });
        };

        $("#filesTrai").kendoUpload({
            localization: {
                select: "Attach"
            },
            select: onSelect,
            multiple: false,
        });
    });

</script>