@model List<ERPElectrodata.Models.BusquedaTicketListaPaginado_Result>
    @foreach (var ticket in Model)
    {
        <a href=@(ticket.ID_TYPE_FORM==null?"/DetailsTicket/Index/"+ticket.ID_TICK:"/DeliveryReception/Details/"+ticket.ID_TICK) class="text-decoration-none" target="_blank">
            <div class="card-body py-3 btn-shadow btn-outline-focus">
                <div class="row no-gutters align-items-center">
                    <div class="col-4">
                        <div class="small">
                            @ticket.NAM_TYPE_TICK @ticket.COD_TICK
                        </div>
                        <div class="small">Creado: @ticket.CREATEBY @ticket.CREATE_TICK</div>
                        <div class="small">Actualizado: @ticket.MODIFIED_TICK</div>
                    </div>
                    <div class="col-6">
                        <div class="small">Asignado a: @ticket.Client</div>
                        <div class="small">@ticket.NAM_CATE2 > @ticket.NAM_CATE1 > </div>
                    </div>
                    <div class="d-none d-md-block col-2">
                        <div class="row no-gutters align-items-center">

                            <div class="media col-12 align-items-center">

                                <div class="media-body flex-truncate ml-2">
                                    @{
                                        if (ticket.NAM_PRIO.Contains("P1"))
                                        {
                                            <div class="badge badge-danger">@ticket.NAM_STAT | @ticket.NAM_PRIO</div>
                                        }
                                        if (ticket.NAM_PRIO.Contains("P2"))
                                        {
                                            <div class="badge badge-warning">@ticket.NAM_STAT | @ticket.NAM_PRIO</div>
                                        }
                                        if (ticket.NAM_PRIO.Contains("P3"))
                                        {
                                            <div class="badge badge-success">@ticket.NAM_STAT | @ticket.NAM_PRIO</div>
                                        }
                                        if (ticket.NAM_PRIO.Contains("P4"))
                                        {
                                            <div class="badge badge-info">@ticket.NAM_STAT | @ticket.NAM_PRIO</div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }