@model ERPElectrodata.Models.TICKET
@using ERPElectrodata.AppCode
@{
    ViewBag.Title = "AsignarTicketPortal";
    Layout = null;
}

<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<style>
    .divHide {
        display: none;
    }
</style>
@using (Html.BeginForm("AsignarTicketPortal", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicket", target = "upload_target" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="IdCuenta" id="IdCuenta" value="@ViewBag.IdCuenta" />
    <input type="hidden" name="ID_CIA" id="ID_CIA" value="0" />
    <input type="hidden" value="@ViewBag.UploadFile" name="KEY_ATTA" readonly="readonly" />
    <input type="hidden" name="ID_CAT_N1" id="ID_CAT_N1" value="0" />
    <input type="hidden" name="ID_CAT_N2" id="ID_CAT_N2" value="0" />
    <input type="hidden" name="ID_CAT_N3" id="ID_CAT_N3" value="0" />
    <input type="hidden" name="ID_CAT" id="ID_CAT" value="0" />
    <input type="hidden" name="FlagCategoria" id="FlagCategoria" value="@ViewBag.FlagCategoria" />

    <div class="row">
        <div class="col-lg-12">
            <div class="main-card card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 mt-2">
                            <div class="main-card card">
                                <div class="card-body pb-1">
                                    <div class="form-row">
                                        <div class="col-lg-12">
                                            <div class="position-relative form-group" id="divTitulo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="">
                                <div class="form-row">
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblTipoTicket" for="ID_TYPE_TICK" class="">Tipo de Ticket <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(model => model.ID_TYPE_TICK)
                                            @Html.ValidationMessageFor(model => model.ID_TYPE_TICK)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblPrioridad" for="ID_PRIO" class="">Prioridad <span style="color:red">*</span></label>
                                            @Html.EditorFor(model => model.ID_PRIO)
                                            @Html.ValidationMessageFor(model => model.ID_PRIO)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblCompañiaFinal" for="ID_COMP_END" class="">Compañía Final <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(model => model.ID_COMP_END)
                                            @Html.ValidationMessageFor(model => model.ID_COMP_END)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblArticulo" for="ID_DETA_DOCU_SALE" class="">Artículo </label>
                                            @Html.TextBoxFor(model => model.ID_DETA_DOCU_SALE)
                                            @Html.ValidationMessageFor(model => model.ID_DETA_DOCU_SALE)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblArea" for="ID_QUEU" class="">Área Responsable <span style="color:red">*</span></label>
                                            @Html.TextBoxFor(model => model.ID_QUEU)
                                            @Html.ValidationMessageFor(model => model.ID_QUEU)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblAsignado" for="ID_PERS_ENTI_ASSI" class="">Asignado a <span style="color:red">*</span></label>
                                            @Html.EditorFor(model => model.ID_PERS_ENTI_ASSI)
                                            @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_ASSI)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row divCategorias">
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblCategoria1" for="ID_CATE_N1" class="">Unidad de Negocio <span style="color:red">*</span></label>
                                            @Html.Editor("ID_CATE_N1")
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group">
                                            <label id="lblCategoria2" for="ID_CATE_N2" class="">Macroservicio <span style="color:red">*</span></label>
                                            @Html.Editor("ID_CATE_N2")
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-row divCategorias">
                                        <div class="col-lg-6">
                                            <div class="position-relative form-group">
                                                <label id="lblCategoria3" for="ID_CATE_N3" class="">Servicio <span style="color:red">*</span></label>
                                                @Html.Editor("ID_CATE_N3")
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="position-relative form-group">
                                                <label id="lblCategoria" for="ID_CATE" class="">Incidente/Requerimiento <span style="color:red">*</span></label>
                                                @Html.EditorFor(model => model.ID_CATE)
                                                @Html.ValidationMessageFor(model => model.ID_CATE)
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="form-row divCategorias">
                                    <div class="col-lg-12">
                                        <div class="form-group d-flex flex-column">
                                            Categoría
                                            <div class="d-flex ">
                                                <textarea id="nuevaCategoria" class="form-control w-100 d-inline" disabled="disabled" style="height:38px; overflow:auto; min-height:38px"></textarea>
                                                @Html.TextBoxFor(model => model.ID_CATE, new { style = "display:none" })
                                                <button class="btn-shadow btn btn-primary" type="button" style="height:auto" data-toggle="modal" data-target="#modalCategorias" onclick="AgregarCategoriaTicket();" id="AgregarCategoria" disabled>
                                                    +
                                                </button>
                                            </div>

                                            @*Servicio*@
                                            @*<label id="lblFechaRegistro" for="FEC_TICK" class="">Fecha <span style="color:red">*</span></label>*@
                                            @*@Html.Editor("ID_CATE_N3")*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    @if (ViewBag.SOURCE == 7)
                                    {
                                        <div class="col-lg-6">
                                            <div class="position-relative form-group">
                                                <label id="lblSolicitante" for="ID_PERS_ENTI" class="">Solicitante <span style="color:red">*</span></label>
                                                @Html.EditorFor(model => model.ID_PERS_ENTI)
                                                @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                            </div>
                                        </div>
                                    }
                                    <div class="col-lg-6">
                                    </div>
                                    <div class="col-lg-6">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="position-relative form-group" style="text-align:center; padding-top:25px">
                                            <button id="submit" class="btn btn-outline-primary btn-block">Asignar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="main-card card mt-2">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="" id="divDetalle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="valCate2" type="hidden" value="@ViewBag.Cate2" />
}

<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>




@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@*<script id="tmp-Details" type="text/x-kendo-template">
        <div style="width:100%;" title="#= TOOLTIP #">#= ITEM_CATE #</div>
    </script>*@
@*<script id="tmp-CIA" type="text/x-kendo-template">
        <div style="width: 100%; font-size: 1em;">
            <span style="width:100%; font-size:1em;">#= COM_NAME #</span>
            <div style="width:100%; font-size:0.9em; margin-top:-5px;">RUC: #= NUM_TYPE_DI #</div>
        </div>
    </script>*@


<script type="text/javascript">
    $(document).ready(function () {
        if ("@ViewBag.FlagCategoria" == 1)
            $(".divCategorias").addClass("divHide");
        else
            $(".divCategorias").removeClass("divHide");

        $.ajax({
            url: "/Ticket/TicketPortalDetalle/" + "@ViewBag.ID_TICK",
            data: "var=" + Math.random(),
            type: "GET",
            dataType: "json",
            success: function (source) {
                data1 = source;
                $.each(data1['datadeta'], function (index, value) {
                    $("#divTitulo").append('<div class="form-row">' +
                        '<div class="col-md-12">' +
                        '<strong>Título :</strong> ' + (data1['datadeta'][index]['ID_TITLE']) +
                        '</div>' +
                        '<div class="col-md-12">' +
                        '<strong>Creado Por :</strong> ' + (data1['datadeta'][index]['CREABY']) +
                        '</div>' +
                        '</div>');
                    $("#divDetalle").append(
                        '<div class="form-row">' +
                            '<div class="col-md-12">' +
                                '<strong>Descripción :</strong><br/>' + (data1['datadeta'][index]['SUM_TICK_PLAIN']) +
                            '</div>' +
                        '</div>'
                    );
                    //$("#idSum").innerHTML = sum_tick;
                    //' + (data1['datadeta'][index]['SUM_TICK_PLAIN']) + '
                });
            },
            error: function (source) {
            }
        });

        var ID_TYPE_TICK = $("#ID_TYPE_TICK").kendoComboBox({
            //autoBind: true,
            //index: 0,
            dataTextField: "NAM_TYPE_TICK",
            dataValueField: "ID_TYPE_TICK",
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeTicket/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PRIO = $("#ID_PRIO").kendoComboBox({
            autoBind: false,
            //index: 1,
            //cascadeFrom: "ID_PERS_ENTI_END",
            //placeholder: "Select Priority...",
            dataTextField: "NAM_PRIO",
            dataValueField: "ID_PRIO",
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Priority/List"
                }
            }
        }).data("kendoComboBox");

        var ID_COMP_END = $("#ID_COMP_END").kendoComboBox({
            //autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            suggest: true,
            filter: "contains",
            //delay: 500,
            //minLength: 0,
            //suggest: true,
            //template: kendo.template($("#tmp-CIA").html()),
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListarCompaniaxCuentaTicket?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_DETA_DOCU_SALE = $("#ID_DETA_DOCU_SALE").kendoComboBox({
            dataTextField: "CODE_ARTI",
            dataValueField: "ID_DETA_DOCU_SALE",
            cascadeFrom: "ID_COMP_END",
            filter: "contains",
            //autoBind: false,
            //delay: 500,
            //minLength: 0,
            suggest: true,
            //template: kendo.template($("#tmp-Details").html()),
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/DetailDocumentSale/ListByCOMP?_=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        //ID_DETA_DOCU_SALE.list.width(350);


        var ID_QUEU = $("#ID_QUEU").kendoComboBox({
            dataTextField: "QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: true,
            minLength: 0,
            suggest: true,
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%; height:50px; position:relative; ">' +
                        '<span><strong>${data.QUEU}</strong></span><br />' +
                        '<span style="position:absolute; top:15px;font-size:12px">${data.DES_QUEU}</span></div>',
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListarAreaResponsablexCuenta?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_ASSI = $("#ID_PERS_ENTI_ASSI").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "text",
            filter: "contains",
            cascadeFrom: "ID_QUEU",
            dataValueField: "id",
            //template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
            //                          '<div style="float:left;">${data.ASSI}</div>' +
            //                          '<div style="float:right; ">(WL ${data.WorkLoad})</div>' +
            //                      '</div>',
            dataSource: {
                //type: "odata",
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListarPersonaxAreaResponsable?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");


        var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    //Establecer url de donde se consume recursos en Json.
                    read: "/AccountEntity/PersonaxCuenta?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_CATE_N1 = $("#ID_CATE_N1").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "ID_ACCOUNT_CAT",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListCategory?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_CATE_N1.bind("change", function (e) {
            $('#ID_CATE').val(null)
            $('#nuevaCategoria').val('')
            document.getElementById('AgregarCategoria').disabled = true
        });

        var ID_CATE_N2 = $("#ID_CATE_N2").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE2",
            filter: "contains",
            cascadeFrom: "ID_CATE_N1",
            dataValueField: "ID_CATE2",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListCategory2?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_CATE_N2.bind("change", function (e) {
            console.log(ID_CATE_N2.dataItem())
            if (ID_CATE_N2.dataItem()) {
                $('#ID_CAT_N2').attr('value', ID_CATE_N2.dataItem().ID_CATE2);
                $('#valCate2').attr('value', ID_CATE_N2.dataItem().ID_CATE2);
            }
            else {
                $('#ID_CAT_N2').attr('value', 0);
            }
            if ($('#ID_CAT_N2').val() != 0) {
                document.getElementById('AgregarCategoria').disabled = false
            }
            else {
                document.getElementById('AgregarCategoria').disabled = true
            }
            $('#ID_CATE').val(null)
            $('#nuevaCategoria').val('')
        });

        //var ID_CATE_N3 = $("#ID_CATE_N3").kendoComboBox({
        //    autoBind: false,
        //    index: -1,
        //    dataTextField: "NAM_CATE",
        //    filter: "contains",
        //    cascadeFrom: "ID_CATE_N2",
        //    dataValueField: "ID_CATE",
        //    dataSource: {
        //        serverFiltering: true,
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/Administrator/ListCategory?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
        //        }
        //    }
        //}).data("kendoComboBox");

        //var ID_CATE_N4 = $("#ID_CATE").kendoComboBox({
        //    autoBind: false,
        //    index: -1,
        //    dataTextField: "NAM_CATE",
        //    filter: "contains",
        //    cascadeFrom: "ID_CATE_N3",
        //    dataValueField: "ID_CATE",
        //    dataSource: {
        //        serverFiltering: true,
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/Administrator/ListCategory?ID_ACCO=" + $("#IdCuenta").val() + "&var=" + Math.random()
        //        }
        //    }
        //}).data("kendoComboBox");
        //$("#ID_CATE").data("kendoComboBox").value(20813);
    });

    function AgregarCategoriaTicket() {
        var val = $('#valCate2').val()
        $("#lblTituloCategoria").text("Agregar Categorias");

        //$(".modal-dialog").removeClass("modal-sm");
        //$(".modal-dialog").removeClass("modal-lg");

        $('#modal-contentCategoria').empty();
        $('#modal-contentCategoria').load('/Ticket/AgregarCategoriasTicket?id=' + val + "&idAcco=" + $("#IdCuenta").val());
    }

    function uploadDoneEdit(val, msg) {
        if (val == "OK") {

            toastr.success(msg, "Ticket Asignado");

            $("[data-dismiss=modal]").trigger({ type: "click" });
            $('#tbListadoSolicitudesPortal').DataTable().ajax.reload();
            CantidadNotificaciones();

        }
        else {
            toastr.warning(msg, "Completar Datos Obligatorios");

        }
    }

</script>
