@model ERPElectrodata.Models.TICKET

@{
    ViewBag.Title = "NuevoTicketProblema";
    //Layout = null;
}
<style>
    .contain-newAct {
        min-width: 100%;
        max-width: 100%;
        float: left;
    }

    .backgroundcad {
        max-width: 100%;
        min-width: 100%;
    }

    .text-box {
        width: 220px;
        height: 26px;
    }

    #COMENTARIO {
        width: 100%;
        height: 250px;
    }

    .delete-link {
        background: transparent url("~/Content/Images/close_active.png") no-repeat 50% 50%;
    }

    #DES_ASUNTO {
        width: 350px;
        height: 26px;
    }

    #NamSubTipo {
        margin-bottom: 0px !important;
        font-weight: normal !important;
    }

    .modal-vertical-centered {
        transform: translate(0, 50%) !important;
        -ms-transform: translate(0, 50%) !important; /* IE 9 */
        -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
    }
</style>

<input type="hidden" id="IdIdioma" name="IdIdioma" value="@Session["IdIdioma"]" />
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-crosshairs icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Nuevo Ticket Problema
                <div class="page-title-subheading">
                    Nuevo Ticket Problema.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                @using (Html.BeginForm("CrearTicketProblema", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicket", target = "upload_target" }))
                {
                    @Html.ValidationSummary(true)
                    <input type="hidden" value="@ViewBag.UploadFile" name="KEY_ATTA" readonly="readonly" />
                    <input type="hidden" name="ID_CAT_N1" id="ID_CAT_N1" value="0" />
                    <input type="hidden" name="ID_CAT_N2" id="ID_CAT_N2" value="0" />
                    <input type="hidden" name="ID_CAT_N3" id="ID_CAT_N3" value="0" />
                    <input type="hidden" name="ID_CAT" id="ID_CAT" value="0" />
                    <input type="hidden" name="ID_SOUR" id="ID_SOUR" value="0" />
                    <input type="hidden" name="ID_STAT" id="ID_STAT" value="0" />
                    <div class="form-row">
                        <div id="divComp" class="col-md-3">
                            <div class="form-group">
                                <label id="txtCompañia" for="txtCompañia" class="">Compañía Solicitante </label>
                                @Html.TextBoxFor(model => model.ID_COMP)
                                @Html.ValidationMessageFor(model => model.ID_COMP)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtSolicitante" for="txtSolicitante" class="">Solicitante </label>
                                @Html.TextBoxFor(model => model.ID_PERS_ENTI)
                                @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtArea" for="txtArea" class="">Usuario Afectado</label>
                                @Html.TextBoxFor(model => model.ID_PERS_ENTI_END)
                                @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_END)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtFechaTicket" for="txtFechaTicket" class="">Fecha Ticket</label>
                                @Html.TextBoxFor(model => model.FEC_TICK, new { @readonly = true })
                                @Html.ValidationMessageFor(model => model.FEC_TICK)
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtAreaResponsable" for="txtAreaResponsable" class="">Área Responsable </label>
                                @Html.TextBoxFor(model => model.ID_QUEU)
                                @Html.ValidationMessageFor(model => model.ID_QUEU)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtAsignado" for="txtAsignado" class="">Asignado a </label>
                                @Html.TextBoxFor(model => model.ID_PERS_ENTI_ASSI)
                                @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_ASSI)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtUnidad" for="txtUnidad" class="">Unidad de Negocio </label>
                                @Html.TextBox("ID_CATE_N1")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtMacro" for="txtMacro" class="">Macroservicio </label>
                                @Html.TextBox("ID_CATE_N2")
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtServicio" for="txtServicio" class="">Servicio </label>
                                @Html.TextBox("ID_CATE_N3")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtxInciReque" for="txtxInciReque" class="">Incidente/Requerimiento </label>
                                @Html.TextBoxFor(model => model.ID_CATE)
                                @Html.ValidationMessageFor(model => model.ID_CATE)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtTickets" for="txtTickets" class="">Tickets</label>
                                @Html.TextBox("ID_TICK_PARENT")
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label id="txtTicketRelacionado" for="txtTicketRelacionado" class="">Tickets Relacionados</label>
                                <input type="hidden" name="Cont" id="idcontreciever" value="0" />
                                <div id="NewReceiver"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label id="txtComentario" for="txtComentario" class="right">Comentarios </label>
                                @Html.TextAreaFor(model => model.SUM_TICK)
                                @Html.ValidationMessageFor(model => model.SUM_TICK)
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label id="" for="" class="">&nbsp; </label>
                                <div id="btnAdjuntar" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#myModal1" data-dismiss="modal" data-backdrop="false">
                                    Adjuntar
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id="" for="" class="">&nbsp; </label>


                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label id="" for="" class="">&nbsp; </label>
                                <button id="submit" class="mb-2 mr-2 btn-pill btn btn-primary btn-block"><span>Crear</span></button>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label id="" for="" class="">&nbsp; </label>
                                <button id="reset" class="mb-2 mr-2 btn-pill btn btn-info btn-block"><span>Cancelar</span></button>

                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>




    <!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
    <iframe id="upload_target" name="upload_target" src="" class="frameHidden" hidden></iframe>

    <!--Modal usado para crear un tema.-->
    @*<div class="modal fade" id="myTema" data-backdrop="static" data-keyboard="false"></div>*@

    <!--Código HTML para adjuntar archivos.-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adjuntar Archivos</h4>
                </div>
                <div class="modal-body">
                    <div class="editor-label">
                        Tipo de Documento
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ArrayFile")
                    </div>
                    <br />
                    <input name="files" id="files" type="file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="k-button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


<script type="text/javascript">

    $(document).ready(function () {
        $("#reset").click(function () {
            event.preventDefault();
            location.href = "Ticket/FindTicketProblema";
        });
        //cambioIdiomaTexto();
        $(".ShowReceiver").hide();
        $("#idcontreciever").hide();

        //var ID_TYPE_TICK = $("#ID_TYPE_TICK").kendoComboBox({
        //    //autoBind: true,
        //    //index: 0,
        //    dataTextField: "NAM_TYPE_TICK",
        //    dataValueField: "ID_TYPE_TICK",
        //    suggest: true,
        //    dataSource: {
        //        serverFiltering: false,
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/TypeTicket/List?var=" + Math.random()
        //        }
        //    }
        //}).data("kendoComboBox");

        //$("#ID_TYPE_TICK").val('REQUERIMIENTO');
        var FEC_TICK = $("#FEC_TICK").kendoDateTimePicker().data("kendoDateTimePicker");
        FEC_TICK.value("@ViewBag.DATE");


        //var ID_PRIO = $("#ID_PRIO").kendoComboBox({
        //    autoBind: false,
        //    //index: 1,
        //    //cascadeFrom: "ID_PERS_ENTI_END",
        //    //placeholder: "Select Priority...",
        //    dataTextField: "NAM_PRIO",
        //    dataValueField: "ID_PRIO",
        //    dataSource: {
        //        //type: "odata",
        //        serverFiltering: false,
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/Priority/List"
        //        }
        //    }
        //}).data("kendoComboBox");


        //ID_COMP.list.width(350);
        if(@ViewBag.Compania==1){

            var ID_COMP = $("#ID_COMP").kendoComboBox({
                autoBind: false,
                dataTextField: "COM_NAME",
                dataValueField: "ID_ENTI",
                filter: "contains",
                suggest: true,
                dataSource: {
                    //serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
                autoBind: false,
                cascadeFrom: "ID_COMP",
                filter: "contains",
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/RequesterByCIA2?_=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            var ID_PERS_ENTI_END = $("#ID_PERS_ENTI_END").kendoComboBox({
                autoBind: false,
                cascadeFrom: "ID_PERS_ENTI",
                filter: "contains",
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/AEUByAcco2?_=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            ID_PERS_ENTI.bind("change", function (e) {

                if (ID_PERS_ENTI.dataItem() === undefined) {
                }
                else {
                    var combobox = $("#ID_PERS_ENTI_END").data("kendoComboBox");
                    combobox.value(ID_PERS_ENTI.dataItem().ID_PERS_ENTI);

                }
            });

        }else{
            $("#divComp").hide();

            var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        //Establecer url de donde se consume recursos en Json.
                        read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            var ID_PERS_ENTI_END = $("#ID_PERS_ENTI_END").kendoComboBox({
                cascadeFrom: "ID_PERS_ENTI",
                dataTextField: "CLIE",
                dataValueField: "ID_PERS_ENTI",
                filter: "contains",
                autoBind: false,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/AEUByAcco?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            ID_PERS_ENTI.bind("change", function (e) {
                ID_PERS_ENTI_END.value(ID_PERS_ENTI.dataItem().ID_PERS_ENTI);
            });
        }



        var ID_QUEU = $("#ID_QUEU").kendoComboBox({
            dataTextField: "QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%; height:35px; position:relative; ">' +
                        '<span><strong>${data.QUEU}</strong></span><br />' +
                        '<span style="position:absolute; top:15px;">${data.DES_QUEU}</span></div>',
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_QUEU.bind("dataBound", function () {
            cb = $("#ID_QUEU").data("kendoComboBox");
            ds = cb.dataSource;
            data = ds.data();
            for (var i = 0; i <= data.length - 1; i++) {
                if (parseInt('@ViewBag.ID_QUEU') == data[i].ID_QUEU && swt == 0) {
                    ID_QUEU.value(data[i].ID_QUEU);
                    swt = 1;
                }
            }
        });

        ID_QUEU.bind("change", function (e) {
            //ID_STAT.value(ID_QUEU.dataItem().ID_STAT);
            ID_PERS_ENTI_ASSI.value(ID_QUEU.dataItem().ID_PERS_ENTI_ASSI_DEFA);
        });

        var ID_PERS_ENTI_ASSI = $("#ID_PERS_ENTI_ASSI").kendoComboBox({
            autoBind: false,
            index: 0,
            cascadeFrom: "ID_QUEU",
            dataTextField: "ASSI",
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
                                      '<div style="float:left;letter-spacing:-1px;">${data.ASSI}</div>' +
                                      '<div style="float:right; ">(WL ${data.WorkLoad})</div>' +
                                  '</div>',
            dataValueField: "ID_PERS_ENTI",
            //filter: "contains",
            //suggest: true,
            dataSource: {
                //type: "odata",
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AssigneByQueue?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_PERS_ENTI_ASSI.bind("dataBound", function () {
            cbPE = $("#ID_PERS_ENTI_ASSI").data("kendoComboBox");
            ds = cbPE.dataSource;
            data = ds.data();
            for (var i = 0; i <= data.length - 1; i++) {
                if (parseInt('@ViewBag.ID_PERS_ENTI_ASSI') == data[i].ID_PERS_ENTI && (swt == 0 || swt == 1)) {
                    ID_PERS_ENTI_ASSI.value(data[i].ID_PERS_ENTI);
                    //ID_STAT = $("#ID_STAT").data("kendoComboBox");
                    //ID_STAT.value(1);
                    swt = 2;
                }
            }
        });

        //var ID_STAT = $("#ID_STAT").kendoComboBox({
        //    autoBind: true,
        //    //cascadeFrom: "ID_QUEU",
        //    //placeholder: "Select Status...",
        //    dataTextField: "NAM_STAT",
        //    dataValueField: "ID_STAT",
        //    dataSource: {
        //        //type: "odata",
        //        serverFiltering: false,
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/StatusTicket/List"
        //        }
        //    }
        //}).data("kendoComboBox");

        //ID_STAT.bind("change", function (e) {

        //    if (ID_STAT.dataItem().ID_STAT == 5) {
        //        $("#divFecIniTick").removeClass('divHide');
        //    }
        //    else {
        //        $("#divFecIniTick").addClass('divHide');
        //        FEC_INI_TICK.value("");
        //    }
        //});

        var ID_CATE_N1 = $("#ID_CATE_N1").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "ID_ACCOUNT_CAT",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListCategory?ID_ACCO=" + @Session["ID_ACCO"] + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_CATE_N1.bind("change", function (e) {
            if (ID_CATE_N1.dataItem()) {
                $('#ID_CAT_N1').attr('value', ID_CATE_N1.dataItem().ID_CATE);
            }
            else {
                $('#ID_CAT_N1').attr('value', 0);
            }
        });

        var ID_CATE_N2 = $("#ID_CATE_N2").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "ID_CATE_N1",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListCategory?ID_ACCO=" + @Session["ID_ACCO"] + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_CATE_N2.bind("change", function (e) {
            if (ID_CATE_N2.dataItem()) {
                $('#ID_CAT_N2').attr('value', ID_CATE_N2.dataItem().ID_CATE);
            }
            else {
                $('#ID_CAT_N2').attr('value', 0);
            }
        });

        var ID_CATE_N3 = $("#ID_CATE_N3").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "ID_CATE_N2",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListCategory?ID_ACCO=" + @Session["ID_ACCO"] + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_CATE_N3.bind("change", function (e) {
            if (ID_CATE_N3.dataItem()) {
                $('#ID_CAT_N3').attr('value', ID_CATE_N3.dataItem().ID_CATE);
            }
            else {
                $('#ID_CAT_N3').attr('value', 0);
            }
        });

        var ID_CATE_N4 = $("#ID_CATE").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            cascadeFrom: "ID_CATE_N3",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListCategory?ID_ACCO=" + @Session["ID_ACCO"] + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ID_CATE_N4.bind("change", function (e) {
            if (ID_CATE_N4.dataItem()) {
                $('#ID_CAT').attr('value', ID_CATE_N4.dataItem().ID_CATE);
                if (ID_CATE_N4.dataItem().ID_TYPE_TICK != 0)
                {
                    ID_TYPE_TICK.value(ID_CATE_N4.dataItem().ID_TYPE_TICK);
                }
            }
            else {
                $('#ID_CAT').attr('value', 0);
            }
        });



        $("#SUM_TICK").val("Impacto en el Servicio: <br><br> Detalle:");

        $("#SUM_TICK").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        var jsonArr = [];

        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            upload: function (e) {
                e.data = {
                    ID_TYPE_DOCU_ATTA: ArrayFile.dataItem().ID_TYPE_DOCU_ATTA,
                    KEY_ATTA: '@ViewBag.UploadFile'
                };
            },
            remove: function (e) {
                e.data = {
                    KEY_ATTA: '@ViewBag.UploadFile'
                };
            },
            async: {
                saveUrl: "/Attach/SaveAttachTicket",
                removeUrl: "/Attach/RemoveAsyncAttachTicket"
            }
        });

        var ArrayFile = $("#ArrayFile").kendoComboBox({
            dataTextField: "NAM_TYPE_DOCU_ATTA",
            dataValueField: "ID_TYPE_DOCU_ATTA",
            filter: "contains",
            index: 1,
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Total"
                },
                transport: {
                    read: "/TypeDocumentModule/ListByModule/1?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_TICK_PARENT = $("#ID_TICK_PARENT").kendoComboBox({
            autoBind: false,
            //cascadeFrom: "ID_CATE",
            //enable: false,
            placeholder: "SELECCIONAR TICKET",
            dataTextField: "TICKET",
            dataValueField: "ID_TICK",
            filter: "contains",
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Ticket/ListarTickets?var=" + Math.random()
                }
            },
            change: function (e) {
                AgregarTicket()
            },
        }).data("kendoComboBox");



    });


    function cambioIdiomaTexto() {
        idIdioma = $("#IdIdioma").val();
        if (idIdioma != 0) {
            $.ajax({
                url: "/Account/cambioIdiomaTexto?IdIdioma=" + idIdioma,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (source) {
                    data = source;
                    var valTextos = new Array()
                    $.each(data['Data'], function (index) {
                        valTextos.push((data['Data'][index]));
                    });
                    for (var i = 0; i < valTextos.length; i++) {
                        var valores = valTextos[i].split("|");
                        var valorLlave = valores[1];
                        var valorTexto = valores[0];
                        var clases = document.getElementsByClassName(valorLlave);
                        for (var j = 0; j < clases.length; j++) {
                            clases[j].innerText = valorTexto;
                        }
                    }
                },
                error: function (source) {
                }
            });
        }
    }

</script>


<script type="text/javascript">

    function AgregarTicket() {
        $("#idcontreciever").show();
        $(".ShowReceiver").show();

        var cont = $("#idcontreciever").val();
        cont = parseInt(cont) + 1;

        var ID_TICK_PARENT = $("#ID_TICK_PARENT").data("kendoComboBox");
        var Name = ID_TICK_PARENT.text();
        var valor = ID_TICK_PARENT.value();

        $("#NewReceiver").append("<div id='divname" + cont + "'>" + Name +
            "<input type='hidden' name='RECEIVER" + cont + "' id='RECEIVER" + cont + "' value='" + valor + "'>" +
            "<span>&nbsp;<a  onclick='DeleteReceiver(" + cont + ")' class='delete-link' title='Remove' href='javascript:void(0)'><i class='icon ion-android-close'></i></a></span></div>");
        var v = parseInt(cont);
        $("#idcontreciever").val(v);
        //ID_TICK_PARENT.value('');
        //$("#ID_TICK_PARENT").val('');

    }
    function DeleteReceiver(id) {
        $("#divname" + id + "").remove();
        var cont = $("#idcontreciever").val();
        cont = parseInt(cont) - 1;
        $("#idcontreciever").val(cont);
    }

    function cancel() {
        closeWinModalPopUp();

        winPopUpModal("Operación Cancelada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
            "<div style='padding:10px 0px 10px 0px;'>La operacion fue cancelada</div>" +
            "<div style='float:right; padding:20px 0px 0px 0px; '>" +
            "<button id='continuer' class='k-button'>Continuar</button></div></div>"
            , 350, 130);


        var undo = $("#continuer")
            .bind("click", function () {
                closeWinFormModalPopUp();
                closeWinModalPopUp();
                //location.replace(location.href.replace("CrearCuentaTA"));
            });

        $("#closebtnmodal").click(function () {
            closeWinFormModalPopUp();
            closeWinModalPopUp();
            //location.replace(location.href.replace("Edit", "Details"));
        });

        return false;
    }

    function uploadDone(msg, code) {

        //Cierre de la ventana de espera.
        //closeWinModalPopUpLoad();

        //Todo conforme se procede a mostrar mensaje de satisfacción.
        if (msg == "OK") {
            var title = 'Información Guardada / Notificación Enviada';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                + "<div style='padding:10px 0px 10px 0px;'>Ticket information was succesfully saved</div>"
                + "<div style='padding:10px 0px 10px 0px;'>Code: " + code + "</div>"
                + "The notification was succesfully sent to: <br>End User, Staff, Service Desk and IT Coordinator.<br>" +
                "<div style='float:right; padding:30px 6px 0px 6px; '>" +
                "<button id='btnContinues' class='k-button'>Continue</button>" +
                "</div></div>";
            swal({
                type: 'success',
                title: 'Ticket information was succesfully saved',
                text: 'Code: ' + code + ' The notification was succesfully sent to: End User, Staff, Service Desk and IT Coordinator. ',
                confirmButtonText:
                    'Continue',
            }, function () {
                    var newurl = location.host + "/Home";
                    location = "http://" + location.host + "/Ticket/FindTicketProblema";
            })
            //Mostrar mensaje.
            //winPopUpModal(title, body, 400, 230);

            //Cerrar mensaje desde simbolo X
            //$("#closebtnmodal").click(function () {
            //    //location.reload(true);
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });

            //    var newurl = location.host + "/#/Home";
            //    location = "http://" + location.host + "/#/BandejaTicketProblema";
            //});

            //Cerrarmensaje desde boton Continuar
            //$("#btnContinues").click(function () {
            //    var newurl = location.host + "/#/Home";
            //    location = "http://" + location.host + "/#/BandejaTicketProblema";

            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });
            //});

        }
        else if (msg == "ERROR1") {
            var title = 'Mensaje';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>Seleccione al menos un ticket.</div>" +
                "<div style='float:right; padding:30px 6px 0px 6px; '>" +
                "<button id='btnContinuee' class='k-button'>Continue</button>" +
                "</div></div>";
            swal({
                type: 'info',
                title: 'Mensaje',
                text: 'Seleccione al menos un ticket',
                confirmButtonText:
                    'Continue',
            })
            //winPopUpModal(title, body, 400, 150);

            //$("#btnContinuee").click(function () {
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });
            //});
        }
        //En caso exista disconformidad se muestra mensaje
        else {
            var title = 'Falta Información';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>Debe completar la información requerida</div>" +
                "<div style='float:right; padding:30px 6px 0px 6px; '>" +
                "<button id='btnContinuee' class='k-button'>Continue</button>" +
                "</div></div>";
            swal({
                type: 'info',
                title: 'Falta Información',
                text: 'Debe completar la información requerida',
                confirmButtonText:
                    'Continue',
            })
            //winPopUpModal(title, body, 400, 150);

            //$("#btnContinuee").click(function () {
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });
            //});
        }
    }


</script>

<script type="text/ecmascript">
    var DivHeight = $("#divNewTicket").height();
    var divDetailsTicket = $("#divDetailsTicket").height();
    var divDetailsUser = $("#divDetailsUser").height();
    var divTitleDetailsTicket = $("#divTitleDetailsTicket").height();
    $("#divAssetByUser").height(DivHeight - divDetailsTicket - 20 - divTitleDetailsTicket * 2 - divDetailsUser - 2);
    $("#gridAssetByUser").height(DivHeight - divDetailsTicket - 20 - divTitleDetailsTicket * 2 - divDetailsUser -2- 55);
</script>