@model ERPElectrodata.Models.TICKET

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TICKET</legend>
    <style>
  
    </style>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TYPE_TICKET.NAM_TYPE_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TYPE_TICKET.NAM_TYPE_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT.SEX_CLIE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT.SEX_CLIE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT1.SEX_CLIE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT1.SEX_CLIE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_AREA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_AREA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QUEUE.NAM_QUEU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QUEUE.NAM_QUEU)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PRIO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PRIO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STATUS.NAM_STAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STATUS.NAM_STAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STATUS1.NAM_STAT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STATUS1.NAM_STAT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLIENT2.SEX_CLIE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLIENT2.SEX_CLIE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_SUBC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_SUBC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_SUBS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_SUBS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SOURCE.NAM_SOUR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SOURCE.NAM_SOUR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FEC_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FEC_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FEC_INI_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FEC_INI_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REP_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REP_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COD_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COD_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SUM_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SUM_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.REM_CTRL_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.REM_CTRL_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CREATE_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CREATE_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MODIFIED_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MODIFIED_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DELETE_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DELETE_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FOR_REP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FOR_REP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_TICK_PARENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_TICK_PARENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_PARENT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_PARENT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IS_ROLE_USER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IS_ROLE_USER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_COMP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_COMP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_DETA_SALE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_DETA_SALE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PERS_ENTI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PERS_ENTI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PERS_ENTI_END)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PERS_ENTI_END)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_PERS_ENTI_ASSI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_PERS_ENTI_ASSI)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
