@model ERPElectrodata.Models.TICKET

@{
    Layout = null;
}


@using (Html.BeginForm("EditSummary", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEditTicket", target = "upload_target" }))
{
    <div class="modal-body">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID_TICK)

        <div class="divFondoDos">
            @{
                if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 3)
                    {
                    <div class="divCont3">
                        <div class="editor-label">
                            Fecha Inicio
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FEC_INI_REAL)
                            @Html.ValidationMessageFor(model => model.FEC_INI_REAL)
                        </div>
                    </div>
                    }
            }
                    <div style="clear:both;"></div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SUM_TICK)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.SUM_TICK)
                        @Html.ValidationMessageFor(model => model.SUM_TICK)
                    </div>

                </div>
            </div>

                <div class="modal-footer">
                    <button id="submit" class="k-button">Save</button>
                </div>
            }

            <iframe id="upload_target" name="upload_target" src="" class="frameHidden"></iframe>

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#SUM_TICK").kendoEditor({
                        encoded: false
                    });
                    if (parseInt(@Session["ID_ACCO"]) == 3) {
                        $("#FEC_INI_REAL").kendoDateTimePicker();
                    }
                });

                function uploadDoneEdit(val, msg) {
                    //alert('sd');
                    if (val == "OK") {
                        $('#EditCommentModal').modal('hide');
                        alert(msg);
                        location.reload();
                    }
                    else {
                        $('#EditCommentModal').modal('hide');
                        alert(msg);
                    }
                }
            </script>
