@model ERPElectrodata.Models.TICKET

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TICKET</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_TICK)
            @Html.ValidationMessageFor(model => model.ID_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_ACCO)
            @Html.ValidationMessageFor(model => model.ID_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TYPE_TICK, "TYPE_TICKET")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_TYPE_TICK", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_TYPE_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_CLIE, "CLIENT")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_CLIE", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_CLIE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_AFEC_END_CLIE, "CLIENT1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_AFEC_END_CLIE", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_AFEC_END_CLIE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_AREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_AREA)
            @Html.ValidationMessageFor(model => model.ID_AREA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_QUEU, "QUEUE")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_QUEU", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_QUEU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_PRIO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_PRIO)
            @Html.ValidationMessageFor(model => model.ID_PRIO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_STAT, "STATUS")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_STAT", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_STAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_STAT_END, "STATUS1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_STAT_END", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_STAT_END)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_ASSI, "CLIENT2")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_ASSI", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_ASSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_SUBC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_SUBC)
            @Html.ValidationMessageFor(model => model.ID_SUBC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_SUBS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_SUBS)
            @Html.ValidationMessageFor(model => model.ID_SUBS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_SOUR, "SOURCE")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_SOUR", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_SOUR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FEC_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FEC_TICK)
            @Html.ValidationMessageFor(model => model.FEC_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FEC_INI_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FEC_INI_TICK)
            @Html.ValidationMessageFor(model => model.FEC_INI_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REP_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REP_TICK)
            @Html.ValidationMessageFor(model => model.REP_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COD_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.COD_TICK)
            @Html.ValidationMessageFor(model => model.COD_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUM_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUM_TICK)
            @Html.ValidationMessageFor(model => model.SUM_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REM_CTRL_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REM_CTRL_TICK)
            @Html.ValidationMessageFor(model => model.REM_CTRL_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CREATE_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CREATE_TICK)
            @Html.ValidationMessageFor(model => model.CREATE_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MODIFIED_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MODIFIED_TICK)
            @Html.ValidationMessageFor(model => model.MODIFIED_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DELETE_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DELETE_TICK)
            @Html.ValidationMessageFor(model => model.DELETE_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FOR_REP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FOR_REP)
            @Html.ValidationMessageFor(model => model.FOR_REP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TICK_PARENT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_TICK_PARENT)
            @Html.ValidationMessageFor(model => model.ID_TICK_PARENT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IS_PARENT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IS_PARENT)
            @Html.ValidationMessageFor(model => model.IS_PARENT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IS_ROLE_USER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IS_ROLE_USER)
            @Html.ValidationMessageFor(model => model.IS_ROLE_USER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_COMP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_COMP)
            @Html.ValidationMessageFor(model => model.ID_COMP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_DETA_SALE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_DETA_SALE)
            @Html.ValidationMessageFor(model => model.ID_DETA_SALE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_PERS_ENTI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_PERS_ENTI)
            @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_PERS_ENTI_END)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_PERS_ENTI_END)
            @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_END)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_PERS_ENTI_ASSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_PERS_ENTI_ASSI)
            @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_ASSI)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
