@model ERPElectrodata.Models.TICKET

@{
    Layout = null;
}

    <div class="afterMain">
        <div style="float:left; width:40%;">
            <div class="titleForm">
                <div class="title">@ResourceLanguaje.Resource.FindFormat</div>
            </div>
            <div class="bodyForm">
                <div class="inBodyForm" id="divFindFormat">
                @using (Html.BeginForm("FindFormat", "Ticket", FormMethod.Post, new { id = "FrmFindFormat"}))
                {
                    @Html.ValidationSummary(true)    
                    <fieldset>
                        <legend>TICKET</legend>
                        <div class="divFondoUno">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.TypeFormat
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_TYPE_FORM)
                                    @Html.ValidationMessageFor(model => model.ID_TYPE_FORM)
                                </div>
                            </div>                                          
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Code
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.COD_TICK)
                                    @Html.ValidationMessageFor(model => model.COD_TICK)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                 <div class="editor-label">
                                    @ResourceLanguaje.Resource.CreatedBy
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.UserId)
                                    @Html.ValidationMessageFor(model => model.UserId)
                                </div>
                            </div>
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Priority
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PRIO)
                                    @Html.ValidationMessageFor(model => model.ID_PRIO)
                                </div>
                            </div>
                        </div>    
                        <div class="divFondoUno">                
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Queue
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_QUEU)
                                    @Html.ValidationMessageFor(model => model.ID_QUEU)
                                </div>
                            </div>
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Assignee
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PERS_ENTI_ASSI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_ASSI)
                                </div>
                            </div>
                        </div>                                                
                        <div class="divFondoDos">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Source
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_SOUR)
                                    @Html.ValidationMessageFor(model => model.ID_SOUR)
                                </div>
                            </div>
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.KeyWord
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.SUM_TICK)
                                    @Html.ValidationMessageFor(model => model.SUM_TICK)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Requester
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PERS_ENTI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                </div>
                            </div>
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.AffectedEndUser
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PERS_ENTI_END)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_END)
                                </div>
                            </div>            
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.StartDate
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("START_DATE")
                                    @Html.ValidationMessageFor(model => model.MODIFIED_TICK)
                                </div>
                            </div>    
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.EndDate
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("END_DATE")
                                    @Html.ValidationMessageFor(model => model.DELETE_TICK)
                                </div>
                            </div>
                        </div>
                        <div style="display:inline-block; float:right; padding:10px 10px 10px 5px;">
                            <button id="find" class="k-button">@ResourceLanguaje.Resource.BtnFind</button>
                        </div>
                    </fieldset>
                }
                </div>
            </div>
        </div>
        <div style="width:1%;min-width:5px;height:1px;float:left;"></div>
        <div style="float:left; width:29%;">
            <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.GraphByIntervalDate</div></div>
            <div class="bodyForm"><div class="inBodyForm" style="height:455px;" id="divIntervalDate">
                <div style=" width:100%;" ><div id="pie" style=" width:98%;height:455px; "></div></div>
            </div></div>
        </div>
        <div style="width:1%;min-width:5px;height:1px;float:left;"></div>
        <div style="float:left; width:29%;">
            <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.GraphByStatus</div></div>
            <div class="bodyForm"><div class="inBodyForm" style="height:455px;" id="divByStatus">
                <div style=" width:100%;" ><div id="line" style=" width:98%;height:455px;"></div></div>
            </div></div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <div id="gridTickets" class="contentView"></div>
    
    <div id="pagerTickets" class="contentViewPager"></div>

<script type="text/javascript">
    function Graficos() {
        $("#pagerTickets").empty();
        $("#gridTickets").empty();

        if ($("#gridTickets").data("kendoListView")) {
            $("#pagerTickets").data("kendoPager").destroy();
            $("#gridTickets").data("kendoListView").destroy();
        }

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Ticket/FindFormatResult/0?" + $('#FrmFindFormat').serialize(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerTickets").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 65],
            refresh: true
        });

        $("#gridTickets").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html())
        });

        //AJAX PARA GRÁFICAS
        $.ajax({
            url: "/Ticket/FindFormatResult/0?" + $('#FrmFindFormat').serialize() + "&skip=0&take=0",
            dataType: 'json',
            cache: false,
            async: true,
            success: function (json) {
                //console.log(json['line']);
                var CatLine = new Array();
                var CloseLine = new Array();
                var ActiveLine = new Array();
                var ScheduledLine = new Array();
                //pie

                $.each(json['legend'], function (index, value) {
                    CatLine[index] = value['name'] + ' ' + value['Year'].toString().substring(2, 4);
                    CloseLine[index] = null;
                    ActiveLine[index] = null;
                    ScheduledLine[index] = null;
                });

                //Pie
                $('#pie').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: '@ResourceLanguaje.Resource.From '
                            + json['From'] + ' @ResourceLanguaje.Resource.To '
                            + json['To'] + '<br>@ResourceLanguaje.Resource.TotalClosed: ' + json['CountClose']
                    },
                    credits: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: 'Percentage: <b>{point.percentage:.2f}%</b><br>Quantity: <b>{point.y}</b>',
                        percentageDecimals: 2
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            size: '55%',
                            showInLegend: true,
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                                distance: -10
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: json['Pie']
                    }]
                });//fin pie

                //line
                $.each(json['lineClose'], function (index, value) {
                    var i = CatLine.indexOf(value['name'] + ' ' + value['Year'].toString().substring(2, 4));
                    CloseLine[i] = value['RES_COUN'];
                });

                $.each(json['lineOpen'], function (index, value) {
                    var x = CatLine.indexOf(value['name'] + ' ' + value['Year'].toString().substring(2, 4));
                    ActiveLine[x] = value['RES_COUN'];
                });

                $.each(json['lineScheduled'], function (index, value) {
                    var y = CatLine.indexOf(value['name'] + ' ' + value['Year'].toString().substring(2, 4));
                    ScheduledLine[y] = value['RES_COUN'];
                });
                //line
                $('#line').highcharts({
                    chart: {
                        type: 'line',
                        marginRight: 10,
                        marginTop: 20
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: CatLine,
                        gridLineWidth: 1
                    },
                    yAxis: {
                        title: {
                            text: '@ResourceLanguaje.Resource.Tickets'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        crosshairs: true,
                        shared: true
                    },
                    plotOptions: {
                        line: {
                            lineWidth: 3,
                            marker: { symbol: 'circle' }
                        }
                    },
                    series: [{
                        name: 'Close',
                        data: CloseLine,
                        color: "#516882"
                    },
                    {
                        name: 'Active',
                        data: ActiveLine,
                        color: "#B21E1E"
                    },
                    {
                        name: 'Scheduled',
                        data: ScheduledLine,
                        color: "#FFBB00"
                    }]
                });//fin line
            }
        });                
    }

    $(document).ready(function () {

        var ID_TYPE_FORM = $("#ID_TYPE_FORM").kendoComboBox({
            autoBind: true,
            index: 0,
            dataTextField: "NAM_TYPE_FORM",
            dataValueField: "ID_TYPE_FORM",
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeFormat/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var UserId = $("#UserId").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "USUARIO",
            filter: "contains",
            dataValueField: "UserId",
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Ticket/PersonCreateTicket?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI = $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_END = $("#ID_PERS_ENTI_END").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PRIO = $("#ID_PRIO").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_PRIO",
            dataValueField: "ID_PRIO",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Priority/List"
                }
            }
        }).data("kendoComboBox");

        var ID_SOUR = $("#ID_SOUR").kendoComboBox({
            index: 1,
            autoBind:false,
            dataTextField: "NAM_SOUR",
            dataValueField: "ID_SOUR",
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SourceTicket/List"
                }
            }
        }).data("kendoComboBox");

        var ID_QUEU = $("#ID_QUEU").kendoComboBox({
            dataTextField: "QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_ASSI = $("#ID_PERS_ENTI_ASSI").kendoComboBox({
            autoBind: false,
            index: 1,
            cascadeFrom: "ID_QUEU",
            dataTextField: "ASSI",
            template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
                                      '<div style="float:left;">${data.ASSI}</div>' +
                                      '<div style="float:right; ">(WL ${data.WorkLoad})</div>' +
                                  '</div>',
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AssigneByQueue?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var START_DATE = $("#START_DATE").kendoDateTimePicker().data("kendoDateTimePicker");
        var END_DATE = $("#END_DATE").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#find").click(function (event) {
            event.preventDefault();
            Graficos()
        });        
    });
    //Cargando los graficos el inicio de la pagina
    Graficos();

    var DivHeight = $("#divFindFormat").height();
    $("#divIntervalDate").height(DivHeight);
    $("#divByStatus").height(DivHeight);
    $("#pie").height(DivHeight - 2);
    $("#line").height(DivHeight - 2);

</script>

<script type="text/x-kendo-tmpl" id="template">
    <div class="incidentHomeList">
        <div class = "incidentHomeListBlock1 hasLayout">
            <div class = "incidentHomeListHeader">  
                <div class="FondoNegro">
                    <div id="${ID_INCI}" onclick="child(this)" class="${PARENT}">
                    </div>
                    <div class="status">
                        ${NAM_STAT}
                    </div>
                    <div class="incidentHomeRequesterIcon" title="Affected End User">
                        ${REQU}
                    </div>
                    <div class="incidentHomeCreate" title="Creation date @ResourceLanguaje.Resource.DateFormat">
                        Create: ${CREATE_INCI}
                    </div>
                    <div class="incidentHomeModified" title="Modification date @ResourceLanguaje.Resource.DateFormat">
                        Modified: ${MODIFIED_INCI}
                    </div>
                    <div class="incidentHomeExpTime" title="Expiration Time">
                        Expiration Time: ${EXP_TIME}
                    </div>
                </div>
                <div class="${ICO_PRIO}">
                    ${NAM_PRIO}
                </div>
            </div>
        </div>
        <div class = "incidentHomeSumary" >
            <a href="\\DeliveryReception/Details/${ID_INCI}" TARGET='_BLANK' style="height:100%">#= SUM_INCI #</a>
        </div>
        <div class="contraya">
            <div class="raya"></div>
        </div>
        <div class="incidentHomeRes">
            <div class="ticket">${NAM_TYPE_TICK} \\#
            ${COD_INCI}</div>
            <div class="cateTicket" >${NAM_CATE} - ${NAM_SUBC}</div> 
            <div class="viaTicket">Via ${NAM_SOUR}</div>
            <div class="createBy">Create By: ${CREATEBY}</div>
            <div class="assignedTo">Assigned To: ${ASSI}</div>
        </div>
    </div>

    <div  id="btn${ID_INCI}">
    </div>

    <div style="clear:both">
    </div>
</script>
