@model IEnumerable<ERPElectrodata.Models.TICKET>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ACCO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPE_TICKET.NAM_TYPE_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT.SEX_CLIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT1.SEX_CLIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_AREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUEUE.NAM_QUEU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PRIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS.NAM_STAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS1.NAM_STAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENT2.SEX_CLIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_SUBC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_SUBS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOURCE.NAM_SOUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEC_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEC_INI_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REP_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COD_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUM_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REM_CTRL_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODIFIED_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELETE_TICK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOR_REP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TICK_PARENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_PARENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_ROLE_USER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_COMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_DETA_SALE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PERS_ENTI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PERS_ENTI_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PERS_ENTI_ASSI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ACCO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPE_TICKET.NAM_TYPE_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT.SEX_CLIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT1.SEX_CLIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_AREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUEUE.NAM_QUEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PRIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS.NAM_STAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS1.NAM_STAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENT2.SEX_CLIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SUBC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_SUBS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOURCE.NAM_SOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEC_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEC_INI_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REP_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COD_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUM_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REM_CTRL_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATE_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODIFIED_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DELETE_TICK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FOR_REP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_TICK_PARENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_PARENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_ROLE_USER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_COMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_DETA_SALE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PERS_ENTI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PERS_ENTI_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_PERS_ENTI_ASSI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
