@{
//Layout = null;
}

<link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar/fullcalendar.css">
<link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar/fullcalendar.print.css" media="print">
<script src="~/Content/themes/plugin/fullcalendar/fullcalendar.min.js"></script>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>


<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<style>
    .divFind {
        width: 100%;
        display: inline-block;
        border: 1px #eee solid;
    }

    .divHead {
        padding: 5px 10px 5px 10px;
    }

    .rowx {
        float: left;
        margin-left: 10px;
        
    }
</style>

<input type="hidden" name="esGestorTareas" id="esGestorTareas" value="@ViewBag.esGestorTareas" />

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Reporte de Tareas
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="IdIdioma" name="IdIdioma" value="@Session["IdIdioma"]" />

<div class="tab-content">
    @using (Html.BeginForm("ExportarReporteTarea", "Ticket", FormMethod.Post, new { id = "formExportar", name = "formExportar" }))
    {

        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Tarea por Área Responsable
                    </div>
                    <fieldset class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 col-lg-2">
                                <div class="editor-label">
                                    Sede
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_LOCA")

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="editor-label">
                                    Área Responsable
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_QUEU")
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2">
                                <div class="editor-label">
                                    Estado
                                </div>
                                <div class="editor-field">
                                    @Html.Editor("ID_ESTADO")
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="editor-label">
                                    Código tarea
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("COD_TAREA", null, new { @class = "k-textbox", @style = "width: 200px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;" })
                                    @*<input id="COD_TAREA" class="k-textbox" style="width:100%">*@
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                                <div class="editor-label">
                                    Desde
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="FechaInicial" name="FechaInicial" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="editor-label">
                                    Hasta
                                </div>
                                <div class="editor-field">
                                    <input type="text" id="FechaFinal" name="FechaFinal" />
                                </div>
                            </div>
                            @*<div class="col-md-2">

                                </div>*@
                            <div class="col-md-2 col-lg-2">
                                <div class="col-md-12">
                                    <br />
                                    <button onclick="ListarReporteTareas()" class="mb-2 mr-2 btn-block btn btn-primary btn-pill" type="button">BUSCAR</button>
                                </div>
                            </div>

                            <div class="col-md-2 col-lg-2">
                                <div class="col-md-12">
                                    <br />
                                    <button onclick="Exportar()" id="export" class="mb-2 mr-2 btn-block btn btn-success btn-pill" type="button">EXPORTAR</button>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
    }
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-title" id="titleForm">Reporte de Tareas</div>
                        <fieldset>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <table id="tbDocumentos" class="table table-bordered table-striped table-responsive-lg">
                                            <thead style="background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important; color: white; ">
                                                <tr>
                                                    @*<th>Id</th>*@
                                                    <th> Codigo Tarea </th>
                                                    <th> Codigo Ticket </th>
                                                    <th> Asignado a </th>
                                                    <th> Tipo de Gestion </th>
                                                    <th> Descripcion de Tarea </th>
                                                    <th> Area Responsable </th>
                                                    <th> Estado </th>
                                                    <th> Sede </th>
                                                    <th> Usuario afectado </th>
                                                    <th> Fecha de Ingreso </th>
                                                    <th> Realizado por: </th>
                                                    <th> Fecha de Realización </th>


                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot style="background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important; color: white; ">
                                                <tr>
                                                    @*<th>Id</th>*@
                                                    <th> Codigo Tarea </th>
                                                    <th> Codigo Ticket </th>
                                                    <th> Asignado a </th>
                                                    <th> Tipo de Gestion </th>
                                                    <th> Descripcion de Tarea </th>
                                                    <th> Area Responsable </th>
                                                    <th> Estado </th>
                                                    <th> Sede </th>
                                                    <th> Usuario afectado </th>
                                                    <th> Fecha de Ingreso </th>
                                                    <th> Realizado por: </th>
                                                    <th> Fecha de Realización </th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            $(document).ready(function () {
                @*var esGestorTarea = @ViewBag.esGestorTareas;*@

                var today = new Date();
                var k_startdatetimepicker = $("#FechaInicial").kendoDatePicker({
                    value: today
                }).data("kendoDateTimePicker");
                var k_enddatetimepicker = $("#FechaFinal").kendoDatePicker({
                    value: today
                }).data("kendoDateTimePicker");

                var ID_QUEU = $("#ID_QUEU").kendoComboBox({
                    autoBind: true,
                    dataTextField: "QUEU",
                    dataValueField: "ID_QUEU",

                    filter: "contains",
                    delay: 500,
                    minLength: 0,
                    suggest: true,
                    template: '<div style="text-transform:capitalize; display: inline-block; width:100%; height:35px; position:relative; ">' +
                        '<span><strong>${data.QUEU} |</strong>  ${data.DES_QUEU}</span>' +
                        '</div>',
                    dataSource: {
                        schema: {
                            data: "Data",
                            total: "Count"
                        },
                        transport: {
                            read: "/Ticket/ListaPorCuentaReporte?var=" + Math.random()
                        }
                    }
                }).data("kendoComboBox");

                var ID_ESTADO = $("#ID_ESTADO").kendoComboBox({
                    autoBind: true,
                    dataTextField: "ESTADO",
                    dataValueField: "ID_ESTADO",

                    filter: "contains",
                    delay: 500,
                    minLength: 0,
                    suggest: true,

                    dataSource: {
                        schema: {
                            data: "Data",
                            total: "Count"
                        },
                        transport: {
                            read: "/Ticket/ListaPorEstado?var=" + Math.random()
                        }
                    }
                }).data("kendoComboBox");




                $("#ID_LOCA").kendoComboBox({
                    dataTextField: "NAM_LOCA",
                    dataValueField: "ID_LOCA",
                    filter: "contains",
                    autoBind: false,
                    suggest: true,

                    dataSource: {
                        serverFiltering: true,
                        schema: {
                            data: "Data",
                            total: "Count"
                        },
                        transport: {
                            read: "/Ticket/ListTareaLocation?var=" + Math.random()
                        }
                    }
                });
                var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

            });


            function Exportar() {

                $("#formExportar").submit();
            }


            function ListarReporteTareas() {

                var idqueu = $("#ID_QUEU").val();
                var idloca = $("#ID_LOCA").val();
                var idestado = $("#ID_ESTADO").val();
                var codigotarea = $("#COD_TAREA").val();
                var FechaInicial = $("#FechaInicial").val();
                var FechaFinal = $("#FechaFinal").val();
                var esGestorTareas = $("#esGestorTareas").val();


                $('#tbDocumentos').dataTable().fnDestroy();
                var table = $('#tbDocumentos').dataTable({

                    "order": [1, 'desc'],
                    responsive: true,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                    },
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"> Exportar Tabla</i>',
                            titleAttr: 'Excel'
                        },
                    ],

                    "bPaginate": true,
                    "searching": true,

                    ajax: {

                        "url": "/Ticket/ListadoReporteTarea",
                        "data": function (d) {
                            d.ID_QUEU = idqueu;
                            d.ID_LOCA = idloca;
                            d.ID_ESTADO = idestado;
                            d.FechaInicio = FechaInicial;
                            d.FechaFin = FechaFinal;
                            d.codigotarea = codigotarea;
                        }


                    },
                    columns: [

                        { data: "Cod_Tarea" },
                        { data: "Codigo" },
                        {
                            data: null,
                            render: function (data, type, row) {
                                if (data.Asignado != '') {
                                    return data.Asignado;

                                } else if (data.Asignado == '' && data.AreaResponsable != '') {
                                    if (esGestorTareas == 1) {
                                        return '<div style="text-align:center">' +
                                            `<button id="" class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#miModal" onClick=SeleccionarAsignado(${data.IdTareaDetalle}) > <i class="fa fa-user" style="margin-right: 5px;"></i><i class="fa fa-search"></i></button>` +
                                            '</div>';
                                    }
                                    else
                                        return 'Sin asignar'
                                } else {
                                    return ''
                                }
                            }
                        },
                        { data: "TipoGestion" },
                        { data: "Descripcion" },
                        { data: "AreaResponsable" },
                        {
                            data: null,
                            render: function (data, type, row) {
                                if (data.Estado == 'No procede') {
                                    return '<div style="text-align:center"><div class="badge badge-danger">' + data.Estado + '</div></div>';
                                } else if (data.Estado == 'Realizado') {
                                    return '<div style="text-align:center"><div class="badge badge-success">' + data.Estado + '</div></div>';

                                } else if (data.Estado == 'Transferido' || data.Estado == 'Pendiente') {
                                    if (data.Asignado == '') {
                                        return '<div style="text-align:center"><div class="badge badge-secondary">' + "Sin Asignar" + '</div></div>';
                                    } else {
                                        return '<div style="text-align:center"><div class="badge badge-warning">' + "Pendiente" + '</div></div>';
                                    }
                                } else if (data.Estado == 'Pendiente por Gestor' || data.Estado == 'Pendiente por Administrador de TI' || data.Estado == 'Pendiente por Usuario' || data.Estado == 'Pendiente por Consultor SAP' || data.Estado == 'Pendiente de Superintendente TI & OT') {
                                    return '<div style="text-align:center"><div class="badge badge-warning">' + data.Estado + '</div></div>';

                                } else {
                                    return '<div style="text-align:center"><div class="badge badge-secondary">' + "Sin Asignar" + '</div></div>';
                                }
                            }
                        },
                        { data: "Sede" },
                        { data: "UsuarioAfectado" },
                        { data: "FechaCreacion" },
                        { data: "UsuarioSesion" },
                        { data: "FechaFin" }

                    ],
                });

                uploadDoneBuscar("OK");
            }

            function SeleccionarAsignado(id) {

                $("#lblTitulo").text("Asignar Colaborador");
                $(".modal-dialog").removeClass("modal-xl");
                $(".modal-dialog").removeClass("modal-lg");
                $(".modal-dialog").removeClass("modal-sm");
                $(".modal-dialog").addClass("modal-md");
                $("#modal-content").empty();
                $("#modal-content").load(`/Ticket/ReporteTareasSelecAsignado/${id}?var=${Math.random()}`);
            }

            function uploadDoneBuscar(msg, msgerror) {

            if (msg == "OK") {
                toastr.warning(msgerror, "Para visualizar más de 4000 registros utilice el boton Exportar.");
            }
            else {

                toastr.warning(msgerror, "Error al buscar");
            }
        }



        </script>
