@{
    Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
    //Layout = null;
}



<script type="text/javascript">

    $(document).ready(function () {


        debugger

        buscarCategorias('@ViewBag.IDACCO');

        function buscarCategorias(id) {


            var ID_TYPE_TICK = $("#ID_TYPE_TICK").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_TYPE_TICK",
                filter: "contains",
                dataValueField: "ID_TYPE_TICK",
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeTicket/List"
                    }
                }
            }).data("kendoComboBox");

            //var ID_CATE_N1 = $("#ID_CATE_N1").kendoComboBox({
            //    autoBind: false,
            //    cascadeFrom: "ID_ACCOUNT_CAT",
            //    filter: "contains",
            //    dataTextField: "NAM_CATE",
            //    dataValueField: "ID_CATE",
            //    dataSource: {
            //        serverFiltering: false,
            //        schema: {
            //            data: "Data",
            //            total: "Count"
            //        },
            //        transport: {
            //            read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
            //        }
            //    },
            //    change: function (e) {
            //        if (ID_CATE_N1.dataItem()) {
            //            $('#ID_CAT_N1').attr('value', ID_CATE_N1.dataItem().ID_CATE);
            //        }
            //        else {
            //            $('#ID_CAT_N1').attr('value', 0);
            //        }
            //        $("#ID_CATE_N2").data("kendoComboBox").value("");
            //        $("#ID_CATE_N3").data("kendoComboBox").value("");
            //        $("#ID_CATE_N4").data("kendoComboBox").value("");
            //        $('#ID_CAT_N4').attr('value', 0);
            //        $('#ID_CAT_N3').attr('value', 0);
            //        $('#ID_CAT_N2').attr('value', 0);

            //    }
            //}).data("kendoComboBox");
            if (@Session["ID_ACCO"]== 60) {
                ///Categoria 1 especial 60
                var ID_CATE_N1v2 = $("#ID_CATE_N1v2").kendoComboBox({
                    autoBind: true,
                    cascadeFrom: "ID_TYPE_TICK",
                    filter: "contains",
                    dataTextField: "NAM_CATE",
                    dataValueField: "ID_CATE",
                    dataSource: {
                        serverFiltering: false,
                        schema: {
                            data: "Data",
                            total: "Count"
                        },
                        transport: {
                            read: "/Administrator/ListCategoryxTipoTicket?ID_ACCO=" + id + "&IdTipoTicket=" + ID_TYPE_TICK.value() + "&var=" + Math.random()
                        }
                    },
                    change: function (e) {
                        if (ID_CATE_N1v2.dataItem()) {
                            $('#ID_CATE_N1v2').attr('value', ID_CATE_N1v2.dataItem().ID_CATE);
                        }
                        else {
                            $('#ID_CATE_N1v2').attr('value', 0);
                        }
                        $("#ID_CATE_N2").data("kendoComboBox").value("");
                        $("#ID_CATE_N3").data("kendoComboBox").value("");
                        $("#ID_CATE_N4").data("kendoComboBox").value("");
                        $('#ID_CAT_N4').attr('value', 0);
                        $('#ID_CAT_N3').attr('value', 0);
                        $('#ID_CAT_N2').attr('value', 0);

                    }
                }).data("kendoComboBox");
                
            } else {
                
                ///Categoria  1 normal
                var ID_CATE_N1 = $("#ID_CATE_N1").kendoComboBox({
                    autoBind: false,
                    cascadeFrom: "ID_ACCOUNT_CAT",
                    filter: "contains",
                    dataTextField: "NAM_CATE",
                    dataValueField: "ID_CATE",
                    dataSource: {
                        serverFiltering: false,
                        schema: {
                            data: "Data",
                            total: "Count"
                        },
                        transport: {
                            read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                        }
                    },
                    change: function (e) {
                        if (ID_CATE_N1.dataItem()) {
                            $('#ID_CAT_N1').attr('value', ID_CATE_N1.dataItem().ID_CATE);
                        }
                        else {
                            $('#ID_CAT_N1').attr('value', 0);
                        }
                        $("#ID_CATE_N2").data("kendoComboBox").value("");
                        $("#ID_CATE_N3").data("kendoComboBox").value("");
                        $("#ID_CATE_N4").data("kendoComboBox").value("");
                        $('#ID_CAT_N4').attr('value', 0);
                        $('#ID_CAT_N3').attr('value', 0);
                        $('#ID_CAT_N2').attr('value', 0);

                    }
                }).data("kendoComboBox");
            }
            

            //Alert($("#ID_TYPE_TICK").val());
            //

            
            

            var ID_CATE_N2 = $("#ID_CATE_N2").kendoComboBox({
                autoBind: false,
                cascadeFrom: id == 60 ? "ID_CATE_N1v2" : "ID_CATE_N1",
                filter: "contains",
                dataTextField: "NAM_CATE2",
                dataValueField: "ID_CATE2",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory2?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                },
                change: function (e) {
                    if (ID_CATE_N2.dataItem()) {
                        $('#ID_CAT_N2').attr('value', ID_CATE_N2.dataItem().ID_CATE2);
                    }
                    else {
                        $('#ID_CAT_N2').attr('value', 0);
                    }
                    $("#ID_CATE_N3").data("kendoComboBox").value("");
                    $("#ID_CATE_N4").data("kendoComboBox").value("");
                    $('#ID_CAT_N4').attr('value', 0);
                    $('#ID_CAT_N3').attr('value', 0);
                }
            }).data("kendoComboBox");

            var ID_CATE_N3 = $("#ID_CATE_N3").kendoComboBox({
                autoBind: true,
                cascadeFrom: "ID_CATE_N2",
                filter: "contains",
                dataTextField: "NAM_CATE3",
                dataValueField: "ID_CATE3",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory3?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                },
                change: function (e) {
                    if (ID_CATE_N3.dataItem()) {
                        $('#ID_CAT_N3').attr('value', ID_CATE_N3.dataItem().ID_CATE3);
                    }
                    else {
                        $('#ID_CAT_N3').attr('value', 0);
                    }
                    $("#ID_CATE_N4").data("kendoComboBox").value("");
                    $('#ID_CAT_N4').attr('value', 0);
                }
            }).data("kendoComboBox");

            var ID_CATE_N4 = $("#ID_CATE_N4").kendoComboBox({
                autoBind: true,
                cascadeFrom: "ID_CATE_N3",
                filter: "contains",
                dataTextField: "NAM_CATE4",
                dataValueField: "ID_CATE4",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory4?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                },
                change: function (e) {
                    if (ID_CATE_N4.dataItem()) {
                        $('#ID_CAT_N4').attr('value', ID_CATE_N4.dataItem().ID_CATE4);
                    }
                    else {
                        $('#ID_CAT_N4').attr('value', 0);
                    }
                }
            }).data("kendoComboBox");

            

            $("#Estado").kendoComboBox({
                dataTextField: "texto",
                dataValueField: "valor",
                dataSource: [
                    { texto: "Activo", valor: 1 },
                    { texto: "Inactivo", valor: 2 }
                ]
            });



        }
      
        $("#btnBuscar").click(function (event) {

            event.preventDefault();
            
            var ID_CATE_N1 = 0;
            //ID_CATE_N1 = $("#ID_CATE_N1").data("kendoComboBox");

            if (@Session["ID_ACCO"] == 60) {
                ID_CATE_N1 = $("#ID_CATE_N1v2").data("kendoComboBox");
            } else {
                 ID_CATE_N1 = $("#ID_CATE_N1").data("kendoComboBox");
            }
            
            var ID_CATE_N2 = $("#ID_CATE_N2").data("kendoComboBox");
            var ID_CATE_N3 = $("#ID_CATE_N3").data("kendoComboBox");
            var ID_CATE_N4 = $("#ID_CATE_N4").data("kendoComboBox");
            var Estado = $("#Estado").data("kendoComboBox");
            var ID_TYPE_TICK = $("#ID_TYPE_TICK").data("kendoComboBox");

            var keyword = "";
            if ($("#keyword").val()!= null) {
                keyword = $("#keyword").val();
            }
            
            window.frames["RSCategorias"].src = "/Reporting/Ticket/ReporteCategoria.aspx?c1=" + ID_CATE_N1.value() +
                "&c2=" + ID_CATE_N2.value() + "&c3=" + ID_CATE_N3.value() + "&c4=" + ID_CATE_N4.value() +
                "&estado=" + Estado.value() + "&idtype=" + ID_TYPE_TICK.value() + "&keyword=" + keyword ;
          
        });

    });
        

</script>


<div class="mb-3 card">
    <div class="card-header-tab card-header">
        Reporte de Categorias
    </div>
    <div class="card-body">
        <form id="Parametros">

            <div class="form-row" style="margin-block-end: 10px; align-content: center; margin-inline: 10px; gap: 30px;">



                <div class="col-md-2">
                    <div class="editor-label">
                        Tipo Ticket
                    </div>
                    <div style="color:gray;">
                        @Html.Editor("ID_TYPE_TICK")
                    </div>
                </div>

                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60)
                    {

                        @*<div class="col-md-3">
                            <div class="editor-label">
                                Macroservicio
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_CATE_N1v2")
                            </div>
                        </div>*@

                        <div class="col-md-3">
                            <div class="editor-label">
                                Macroservicio
                            </div>
                            <div class="editor-field">
                                <input id="ID_CATE_N1v2" type="text" name="ID_CATE_N1v2">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <div class="editor-label">
                                Categoria / Unidad de Negocio
                            </div>
                            <div class="editor-field">
                                @Html.Editor("ID_CATE_N1")
                            </div>
                        </div>
                    }
                }

                @*<div class="col-md-3">
            <div class="editor-label">
                @(ViewBag.IDACCO == 60 ? "Macroservicio" : "Categoria / Unidad de Negocio")
            </div>
            <div class="editor-field">
                @Html.Editor("ID_CATE_N1")
            </div>
        </div>*@



                <div class="col-md-2">
                    <div class="editor-label">
                        @(ViewBag.IDACCO == 60 ? "Categoria 1" : "Macroservicio")
                    </div>
                    <div class="editor-field">
                        @Html.Editor("ID_CATE_N2")
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        @(ViewBag.IDACCO == 60 ? "Categoria 2" : "Servicio")
                    </div>
                    <div class="editor-field">
                        @Html.Editor("ID_CATE_N3")
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        @(ViewBag.IDACCO == 60 ? "Categoria 3" : "Incidente/Requerimiento")
                    </div>
                    <div style="color:gray;">
                        @Html.Editor("ID_CATE_N4")
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="editor-label">
                        Estado
                    </div>
                    <div class="editor-field">
                        @Html.Editor("Estado")
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        Palabra Clave
                    </div>
                    <div class="editor-field">
                        <input id="keyword" name="keyword" class="k-textbox" style="width:100%;" value="" />
                    </div>
                </div>


                <div class="col-md-2">
                    <br />
                    <button id="btnBuscar" class="btn btn-primary btn-block" style="margin-left:0"><i class="fa fa-search"></i> Buscar</button>

                </div>

            </div>
        </form>
    </div>
</div>

<div class="bodyForm">
    <div class="inBodyForm">
        <iframe id="RSCategorias" style="height:573px; width:100%; border: 0px #eee solid;"></iframe>
    </div>
</div>
