@{
    Layout = null;
}
<div id="divContent">
    <div style="height:10px;"></div>
    <div style="float:left; width:94%; padding-left:30px">
        <div class="titleForm"><div class="title" style="background-color: #3E4752;color:white;">Ticket Padre</div></div>
        <div class="row">
            <div style="right:auto" class="col-md-12">
                <div class="x_panel">
                    <div class="x_content ticketPadre">
                        <ul class="list-unstyled msg_list" style="overflow-x: hidden; overflow-y: scroll;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="height:10px;"></div>
    <div style="float:left; width:94%; padding-left:30px">
        <div class="titleForm"><div class="title" style="background-color: #3E4752;color:white;">Ticket Hijo</div></div>
        <div class="row">
            <div style="right:auto" class="col-md-12">
                <div class="x_panel">
                    <div class="x_content ticketHijo">
                        <ul class='list-unstyled msg_list' style='overflow-x: hidden; overflow-y: scroll;'></ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div style="height:10px;"></div>
    <div style="float:left; width:94%; padding-left:30px">
        <div class="titleForm"><div class="title" style="background-color: #3E4752;color:white;">Ticket Hermano</div></div>
        <div class="row">
            <div style="right:auto" class="col-md-12">
                <div class="x_panel">
                    <div class="x_content ticketHermano">
                        <ul class='list-unstyled msg_list' style='overflow-x: hidden; overflow-y: scroll;'></ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var idTicket = "@ViewBag.ID_TICK";
    $(document).ready(function () {
        debugger;
        var url = "Ticket/ListarTicketsPadreHijo";
        var idTicket = "@ViewBag.ID_TICK";

        $.ajax({
            url: '/Ticket/ListarTicketsPadreHijo',
                        data: { idTicket: idTicket },
            type: 'GET',
            success: function (data) {
                listaTicketsPadre(data.ticketPadre); // Use 'data' instead of 'response'
                listaTicketsHijo(data.ticketHijo);
                listaTicketsHermano(data.ticketHermano);
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
        console.log(":(");
    });
        /*################################################################## GCR161203 #######################################################################################*/
        function listaTicketsPadre(ticketPadre) {
            if (parseInt(ticketPadre.length) > 0) {
                $.each(ticketPadre, function (index, value) {

                    $(".ticketPadre ul").append('<li><div class="row"><div class="col-md-12 titulo">' +
                       ("@ViewBag.ID_ACCO" == 1 || "@ViewBag.ID_ACCO" == 25 ?
                        '<b class = "col-sm-6 col-lg-3">' +
                        ticketPadre[index].CodTicket +
                        '</b>':
                        '') +
                       '<a target="_blank" href="' + location.origin + '/DetailsTicket/Index/' + ticketPadre[index].idTicket + '" style="text-decoration:none;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>' +
                       '<span>' + ticketPadre[index].nombreCategoria + '</span></a></div>' +
                       '</div>' +
                       '<div class="row"> <div class="col-md-12">' +
                      ' <span style="display: inline-block; font-size: 11px;margin-left:14px; ">' + ticketPadre[index].ComentarioTicket + '</span></div></div><div class="rayaItms"></div></li>');

                });
            } else {
                $(".ticketPadre ul").append('<div class="smallField"> No se encontraron Tickets');
            }
        }
        /*################################################################## GCR161203 #######################################################################################*/
        function listaTicketsHijo(ticketHijo) {


            if (parseInt(ticketHijo.length) > 0) {
                $.each(ticketHijo, function (index, value) {

                    $(".ticketHijo ul").append('<li><div class="row"><div class="col-md-12 titulo">' +
                       ("@ViewBag.ID_ACCO" == 1 || "@ViewBag.ID_ACCO" == 25 ?
                        '<b class = "col-sm-6 col-lg-3">' +
                        ticketHijo[index].CodTicket +
                        '</b>':
                        '') +
                       '<a target = "_blank" href = "' + location.origin + '/DetailsTicket/Index/' + ticketHijo[index].idTicket + '" style = "text-decoration:none;" > <span class="glyphicon glyphicon-play" aria-hidden="true"></span>' +
                       '<span>' + ticketHijo[index].nombreCategoria + '</span></a></div>' +
                       '</div>' +
                       '<div class="row"> <div class="col-md-12">' +
                      ' <span style="display: inline-block; font-size: 11px;margin-left:14px; ">' + ticketHijo[index].ComentarioTicket + '</span></div></div><div class="rayaItms"></div></li>');
                });
            } else {
                $(".ticketHijo ul").append('<div class="smallField"> No se encontraron Tickets');
            }

        }
        /*################################################################## GCR161203 #######################################################################################*/
        function listaTicketsHermano(ticketHijo) {


            if (parseInt(ticketHijo.length) > 0) {
                $.each(ticketHijo, function (index, value) {

                    $(".ticketHermano ul").append('<li><div class="row"><div class="col-md-12 titulo">' +
                        ("@ViewBag.ID_ACCO" == 1 || "@ViewBag.ID_ACCO" == 25 ?
                        '<b class = "col-sm-6 col-lg-3">' +
                        ticketHijo[index].CodTicket +
                        '</b>':
                        '') +
                        '<a target="_blank" href="' + location.origin + '/DetailsTicket/Index/' + ticketHijo[index].idTicket + '" style="text-decoration:none;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>' +
                        '<span>' + ticketHijo[index].nombreCategoria + '</span></a></div>' +
                        '</div>' +
                        '<div class="row"> <div class="col-md-12">' +
                        ' <span style="display: inline-block; font-size: 11px;margin-left:14px; ">' + ticketHijo[index].ComentarioTicket + '</span></div></div><div class="rayaItms"></div></li>');
                });
            } else {
                $(".ticketHermano ul").append('<div class="smallField"> No se encontraron Tickets');
            }
        }
</script>
