@{
    ViewBag.Title = "Editar";
    Layout = null;
}

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link rel="stylesheet" href="~/Content/themes/plugin/iCheck/all.css">
<script src="~/Content/themes/plugin/iCheck/icheck.min.js"></script>
<style>
    r {
        color: #F83C50;
        font-weight: bold;
    }
</style>


<div id="mensajeCategoriaEdicion"></div>
<div class="afterMain2">
    <div style="float:left; width:100%;">
        <div class="bodyForm">
            <div id="divNewCategory" class="inBodyForm">
                @using (Html.BeginForm("CrearCategoria", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormChangeStatus", target = "upload_changeStatus" }))
                {
                    <input type="hidden" name="EDIT_ID_ACCO_CAT" id="EDIT_ID_ACCO_CAT" value=0 />
                    <input type="hidden" name="EDIT_NIV_CAT_N1" id="EDIT_NIV_CAT_N1" value="@ViewBag.EDIT_NIV_CAT_N1" />
                    <input type="hidden" name="EDIT_NIV_CAT_N2" id="EDIT_NIV_CAT_N2" value="@ViewBag.EDIT_NIV_CAT_N2" />
                    <input type="hidden" name="EDIT_NIV_CAT_N3" id="EDIT_NIV_CAT_N3" value="@ViewBag.EDIT_NIV_CAT_N3" />
                    <input type="hidden" name="EDIT_NIV_CAT_N4" id="EDIT_NIV_CAT_N4" value="@ViewBag.EDIT_NIV_CAT_N4" />
                    <input type="hidden" name="EDIT_NIV_CAT_N5" id="EDIT_NIV_CAT_N4" value="@ViewBag.EDIT_NIV_CAT_N5" />
                    <input type="hidden" name="EDIT_NIV_CAT_N6" id="EDIT_NIV_CAT_N4" value="@ViewBag.EDIT_NIV_CAT_N6" />
                    @Html.ValidationSummary(true)
            <div id="divNewCategory">
                 <div class="form-group row">
                    <div class="col-md-3">
                        <div class="editor-label">
                            Nombre de Cuenta
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("EDIT_ID_ACCO", (SelectList)ViewBag.NAM_ACCO)
                        </div>
                    </div>
                 </div>
                 <div class="form-group row">
                     <div class="col-md-4">
                         <div class="editor-label">
                             Nivel 1
                         </div>
                         <div class="editor-field">
                             @Html.DropDownList("EDIT_ID_CATE_N1", (SelectList)ViewBag.COMBO_NAM_CATE1)
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-label">
                             Abreviatura Nivel 1
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_ABR_N1" id="EDIT_ABR_N1" value="@ViewBag.ABR_CATE1" />
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-label">
                             Categoria
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_NOM_CATE_N1" id="EDIT_NOM_CATE_N1" value="@ViewBag.NAM_CATE1" />
                         </div>
                     </div>

                     <div class="col-md-4">
                         <div>SLA Asociado</div>
                         <input id="SLANV1" name="SLANV1" style="width: 100%;" />
                     </div>

                 </div>

                 <div class="form-group row">
                     <div class="col-md-4">
                         <div class="editor-label">
                             Nivel 2
                         </div>
                         <div class="editor-field">
                             @Html.DropDownList("EDIT_ID_CATE_N2", (SelectList)ViewBag.COMBO_NAM_CATE2)
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-label">
                             Abreviatura Nivel 2
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_ABR_N2" id="EDIT_ABR_N2" value="@ViewBag.ABR_CATE2" />
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-label">
                             Categoria
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_NOM_CATE_N2" id="EDIT_NOM_CATE_N2" value="@ViewBag.NAM_CATE2" />
                         </div>
                     </div>

                     <div class="col-md-4">
                         <div>SLA Asociado</div>
                         <input id="SLANV2" name="SLANV2" style="width: 100%;" />
                     </div>
                 </div>
                 <div class="form-group row">
                     <div class="col-md-4">
                         <div class="editor-label">
                             Nivel 3
                         </div>
                         <div class="editor-field">
                             @Html.DropDownList("EDIT_ID_CATE_N3", (SelectList)ViewBag.COMBO_NAM_CATE3)
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-label">
                             Abreviatura Nivel 3
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_ABR_N3" id="EDIT_ABR_N3" value="@ViewBag.ABR_CATE3" />
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-field">
                             Categoria
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_NOM_CATE_N3" id="EDIT_NOM_CATE_N3" value="@ViewBag.NAM_CATE3" />
                         </div>

                     </div>

                     <div class="col-md-4">
                         <div>SLA Asociado</div>
                         <input id="SLANV3" name="SLANV3" style="width: 100%;" />
                     </div>
                 </div>
                 <div class="form-group row">
                     <div class="col-md-4">
                         <div class="editor-label">
                             Nivel 4
                         </div>
                         <div class="editor-field">
                             @Html.DropDownList("EDIT_ID_CATE_N4", (SelectList)ViewBag.COMBO_NAM_CATE4)
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-label">
                             Abreviatura Nivel 4
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_ABR_N4" id="EDIT_ABR_N4" value="@ViewBag.ABR_CATE4" />
                         </div>
                     </div>
                     <div class="col-md-4">
                         <div class="editor-label">
                             Categoria
                         </div>
                         <div class="k-textbox">
                             <input type="text" name="EDIT_NOM_CATE_N4" id="EDIT_NOM_CATE_N4" value="@ViewBag.NAM_CATE4" />
                         </div>

                     </div>

                     <div class="col-md-4">
                         <div>SLA Asociado</div>
                         <input id="SLANV4" name="SLANV4" style="width: 100%;" />
                     </div>
                 </div>

                 @*categoria 5*@
            <div class="form-group row" id="DatosExtras3">
                <div class="col-md-4">
                    <div class="editor-label">
                        Nivel 5
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("EDIT_ID_CATE_N5", (SelectList)ViewBag.COMBO_NAM_CATE5)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        Abreviatura Nivel 5
                    </div>
                    <div class="k-textbox">
                        <input type="text" name="EDIT_ABR_N5" id="EDIT_ABR_N5" value="@ViewBag.ABR_CATE5" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        Categoria
                    </div>
                    <div class="k-textbox">
                        <input type="text" name="EDIT_NOM_CATE_N5" id="EDIT_NOM_CATE_N5" value="@ViewBag.NAM_CATE5" />
                    </div>


                </div>

                <div class="col-md-4">
                    <div>SLA Asociado</div>
                    <input id="SLANV5" name="SLANV5" style="width: 100%;" />
                </div>
            </div>

                @*categoria 6*@
            <div class="form-group row" id="DatosExtras4">
                <div class="col-md-4">
                    <div class="editor-label">
                        Nivel 6
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("EDIT_ID_CATE_N6", (SelectList)ViewBag.COMBO_NAM_CATE6)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        Abreviatura Nivel 6
                    </div>
                    <div class="k-textbox">
                        <input type="text" name="EDIT_ABR_N6" id="EDIT_ABR_N6" value="@ViewBag.ABR_CATE6" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="editor-label">
                        Categoria
                    </div>
                    <div class="k-textbox">
                        <input type="text" name="EDIT_NOM_CATE_N6" id="EDIT_NOM_CATE_N6" value="@ViewBag.NAM_CATE6" />
                    </div>

                </div>

                <div class="col-md-4">
                    <div>SLA Asociado</div>
                    <input id="SLANV6" name="SLANV6" style="width: 100%;" />
                </div>
            </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <div class="editor-label">
                            Tipo de Ticket
                        </div>
                        <div class="editor-field">
                            @*<input name="IdTipoTicket" id="IdTipoTicket" />*@
                            @Html.DropDownList("IdTipoTicket", (SelectList)ViewBag.TipoTicket)
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>Tipo de Gestión de Cambio(Ticket) </div>
                        <select id="cbTipoCambioTicketEdit" name="cbTipoCambioTicketEdit" class="form-control input-sm select2" type="text" style="width:80%" ></select>
                    </div>
                    <div class="col-md-4">
                        <div>Aplica Ticket Problema</div>
                        <input id="cbTicketProblemaEdit" name="cbTicketProblemaEdit" type="checkbox" class="flat-blue" value="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <div>Aplica Gestión de Activos</div>
                        <input id="cbxGestionActivosEdit" name="cbxGestionActivosEdit" type="checkbox" class="flat-blue" value="1" />
                    </div>


                    <div class="col-md-4" id="DatosExtras1">
                        <div>Aplica Notificación</div>
                        <input id="cbAplicaNotificacionEdit" name="cbAplicaNotificacionEdit" type="checkbox" class="flat-blue" value="1" />
                    </div>
                    <div class="col-md-4" id="DatosExtras2">
                        <div>Tiene Tarea</div>
                        <input id="cbTieneTareaEdit" name="cbTieneTareaEdit" type="checkbox" class="flat-blue" value="1" />
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <div>Estado</div>
                        <input id="cbxEstadoEdit" name="cbxEstadoEdit" type="checkbox" class="flat-blue" value="1" />
                    </div>
                </div>
            </div>
                    <fieldset>
                        <div class="divFondoDos">
                        </div>
                        <div class="divFondoUno">
                        </div>
                        <div class="divFondoDos" id="divNuevasCategorias" style="display:none">
                            <div class="col-md-4">
                                <div class="editor-label">
                                    Nueva Categoria
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="NEW_CATE" id="NEW_CATE" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="editor-label">
                                    Abreviatura
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="NEW_ABRV" id="NEW_ABRV" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos" style="margin-bottom:5px;">
                            <div class="divSpace2"></div>
                            <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                                <div style=" float:left; padding:0px 10px 0px 0px; ">
                                    <button id="btnActualizar" class="k-button">Actualizar</button>
                                </div>
                                @*<button id="btnCancelar" class="k-button">Cancelar</button>*@
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<script id="tmp-Categoria" type="text/x-kendo-template">
    <div style="width:100%;" id="#= ID_CATE #">#= NAM_CATE #</div>
</script>

<script type="text/javascript">
    $(document).ready(function () {


        if(@ViewBag.TicketProblema == "1"){
            $("#cbTicketProblemaEdit").attr("checked",true)
        }

        if(@ViewBag.GestionActivos == "1"){
            $("#cbxGestionActivosEdit").attr("checked",true)
        }

        if(@ViewBag.EstadoCategoria == "1"){
            $("#cbxEstadoEdit").attr("checked",true)
        }

        if (@ViewBag.IdCuenta == "56" || @ViewBag.IdCuenta == "57" || @ViewBag.IdCuenta == "58") {
            if (@ViewBag.AplicaNotificacion == "1") {
                $("#cbAplicaNotificacionEdit").attr("checked", true);
            }

            if (@ViewBag.TieneTarea == "1") {
                $("#cbTieneTareaEdit").attr("checked", true);
            }
        } else {
            $("#cbAplicaNotificacionEdit").prop("disabled", true);
            $("#cbTieneTareaEdit").prop("disabled", true);
        }

        var comboBox4 = $('#EDIT_ID_CATE_N4');

        if (comboBox4.children().length === 0) {
            debugger;
            comboBox4.prop("disabled", true);

        }

        var comboBox5 = $('#EDIT_ID_CATE_N5');

        if (comboBox5.children().length === 0) {
            debugger;
            comboBox5.prop("disabled", true);
        }

        var comboBox6 = $('#EDIT_ID_CATE_N6');

        if (comboBox6.children().length === 0) {
            debugger;
            comboBox6.prop("disabled", true);

        }

        $("#EDIT_ID_ACCO").prop("disabled", true);

        $("#cbTipoCambioTicketEdit").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Administrator/ListarPrioridadCambio/"+@ViewBag.IdCuenta,
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        var ID_ACCOUNT_CAT = $("#EDIT_ID_ACCO").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_ACCO",
            dataValueField: "ID_ACCO",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Account/AccountsByUser?var=" + Math.random()
                },
            },
            filter: "contains",
            suggest: true,
        });
        var ID_CATE_N1 = $("#EDIT_ID_CATE_N1").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#EDIT_ID_CATE_N2").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#EDIT_ID_CATE_N3").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#EDIT_ID_CATE_N4").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#EDIT_ID_CATE_N5").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#EDIT_ID_CATE_N6").kendoComboBox({}).data("kendoComboBox");

        ID_ACCOUNT_CAT.bind("change", function (e) {
            if (ID_ACCOUNT_CAT.val()) {
                limpiarCategorias();
                $('#EDIT_ID_ACCO_CAT').attr('value', ID_ACCOUNT_CAT.val());
                var id_acco_cat = $('#EDIT_ID_ACCO_CAT').val();

                buscarCategorias(id_acco_cat);
            }
            else {
                $('#EDIT_ID_ACCO_CAT').attr('value', '');
                $('#EDIT_NOM_CATE_N1').attr('value', '');
                $('#EDIT_ABR_N1').attr('value', '');
                $('#EDIT_NOM_CATE_N1').attr('value', '');
                $('#EDIT_ABR_N2').attr('value', '');
                $('#EDIT_NOM_CATE_N2').attr('value', '');
                $('#EDIT_ABR_N3').attr('value', '');
                $('#EDIT_NOM_CATE_N3').attr('value', '');
                $('#EDIT_ABR_N4').attr('value', '');
                $('#EDIT_ABR_N5').attr('value', '');
                $('#EDIT_ABR_N6').attr('value', '');
                $('#EDIT_NOM_CATE_N4').attr('value', '');
                limpiarCategorias();
                //$("#EDIT_ID_CATE_N1").data("kendoComboBox").value("");
                //$("#EDIT_ID_CATE_N2").data("kendoComboBox").value("");
                //$("#EDIT_ID_CATE_N3").data("kendoComboBox").value("");
                //$("#EDIT_ID_CATE_N4").data("kendoComboBox").value("");
            }
        });

        $("#EDIT_ID_ACCO").on('change', function (e) {
            var IdCuenta = $("#EDIT_ID_ACCO").val()
            $("#cbTipoCambioTicketEdit").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    url: "/Administrator/ListarPrioridadCambio/" + IdCuenta,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });
        });

        var $newOption = $("<option></option>").val("@ViewBag.IdTipoCambioTicket").text("@ViewBag.TipoCambioTicket");
        $("#cbTipoCambioTicketEdit").append($newOption).trigger('change');

        var IdTipoTicket = $("#IdTipoTicket").kendoComboBox({
            //autoBind: true,
            //index: 0,
            dataTextField: "NAM_TYPE_TICK",
            dataValueField: "ID_TYPE_TICK",
                suggest: true,
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeTicket/ListarTipoEdicion/" + $("#EDIT_ID_ACCO").val()
                    }
                }
        }).data("kendoComboBox");



        if ($("#EDIT_ID_ACCO").val() == 60) {
            $("#DatosExtras1").hide();
            $("#DatosExtras2").hide();
            $("#DatosExtras3").hide();
            $("#DatosExtras4").hide();
        }
        else {
            $("#DatosExtras1").show();
            $("#DatosExtras2").show();
            $("#DatosExtras3").show();
            $("#DatosExtras4").show();
            $("#IdSlaDiv").hide();
        }

        let TypeTicket = $("#IdTipoTicket").val();

        $("#SLANV1").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ID",
            dataSource: {
                transport: {
                    read: {
                        url: "/SLA/ListaSLACategory",
                        dataType: "json",
                        type: "GET",
                        data: {
                            IdTypeTicket: TypeTicket,
                            IdACCO: $("#EDIT_ID_ACCO").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count"
                }
            },
            filter: "contains",
            suggest: true
        });

        var combo1 = $("#SLANV1").data("kendoComboBox");
        combo1.value(@ViewBag.NivelSLA1);



        $("#SLANV2").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ID",
            dataSource: {
                transport: {
                    read: {
                        url: "/SLA/ListaSLACategory",
                        dataType: "json",
                        type: "GET",
                        data: {
                            IdTypeTicket: TypeTicket,
                            IdACCO: $("#EDIT_ID_ACCO").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count"
                }
            },
            filter: "contains",
            suggest: true
        });

        var combo2 = $("#SLANV2").data("kendoComboBox");
        combo2.value(@ViewBag.NivelSLA2);

                $("#SLANV3").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ID",
            dataSource: {
                transport: {
                    read: {
                        url: "/SLA/ListaSLACategory",
                        dataType: "json",
                        type: "GET",
                        data: {
                            IdTypeTicket: TypeTicket,
                            IdACCO: $("#EDIT_ID_ACCO").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count"
                }
            },
            filter: "contains",
            suggest: true
        });

        var combo3 = $("#SLANV3").data("kendoComboBox");
        combo3.value(@ViewBag.NivelSLA3);



        $("#SLANV4").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ID",
            dataSource: {
                transport: {
                    read: {
                        url: "/SLA/ListaSLACategory",
                        dataType: "json",
                        type: "GET",
                        data: {
                            IdTypeTicket: TypeTicket,
                            IdACCO: $("#EDIT_ID_ACCO").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count"
                }
            },
            filter: "contains",
            suggest: true
        });

        var combo4 = $("#SLANV4").data("kendoComboBox");
        combo4.value(@ViewBag.NivelSLA4);


        $("#SLANV5").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ID",
            dataSource: {
                transport: {
                    read: {
                        url: "/SLA/ListaSLACategory",
                        dataType: "json",
                        type: "GET",
                        data: {
                            IdTypeTicket: TypeTicket,
                            IdACCO: $("#EDIT_ID_ACCO").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count"
                }
            },
            filter: "contains",
            suggest: true
        });

        var combo5 = $("#SLANV5").data("kendoComboBox");
        combo5.value(@ViewBag.NivelSLA5);


        $("#SLANV6").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "ID",
            dataSource: {
                transport: {
                    read: {
                        url: "/SLA/ListaSLACategory",
                        dataType: "json",
                        type: "GET",
                        data: {
                            IdTypeTicket: TypeTicket,
                            IdACCO: $("#EDIT_ID_ACCO").val()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count"
                }
            },
            filter: "contains",
            suggest: true
        });

        var combo6 = $("#SLANV6").data("kendoComboBox");
        combo6.value(@ViewBag.NivelSLA6);

        function buscarCategorias(id) {
            debugger;
            var ID_CATE_N1 = $("#EDIT_ID_CATE_N1").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_ACCOUNT_CAT",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            ID_CATE_N1.bind("change", function (e) {
                //alert($("#EDIT_ID_CATE_N1").data("kendoComboBox").dataItem());
                if ($("#EDIT_ID_CATE_N1").data("kendoComboBox").dataItem()) {
                    $('#EDIT_ID_CAT_N1').attr('value', $("#EDIT_ID_CATE_N1").data("kendoComboBox").dataItem().ID_CATE);
                    $('#EDIT_ABR_N1').attr('value', $("#EDIT_ID_CATE_N1").data("kendoComboBox").dataItem().ABR_CATE);
                    $('#EDIT_NOM_CATE_N1').attr('value', $("#EDIT_ID_CATE_N1").data("kendoComboBox").dataItem().NAM_CATE);
                    $('#EDIT_NIV_CAT_N1').attr('value', $("#EDIT_ID_CATE_N1").data("kendoComboBox").dataItem().NIV_CATE);

                    //limpiar cajas de texto
                    $('#EDIT_ABR_N2').empty();
                    $('#EDIT_NOM_CATE_N2').empty();
                    $('#EDIT_ABR_N3').empty();
                    $('#EDIT_NOM_CATE_N3').empty();
                    $('#EDIT_ABR_N4').empty();
                    $('#EDIT_NOM_CATE_N4').empty();
                    $('#EDIT_ABR_N5').empty();
                    $('#EDIT_NOM_CATE_N5').empty();
                    $('#EDIT_ABR_N6').empty();
                    $('#EDIT_NOM_CATE_N6').empty()
                }
                else {
                    $('#EDIT_ID_CAT_N1').attr('value', 0);
                    $('#EDIT_ABR_N1').attr('value', '');
                    $('#EDIT_NOM_CATE_N1').attr('value', '');
                    $('#EDIT_ABR_N2').attr('value', '');
                    $('#EDIT_NOM_CATE_N2').attr('value', '');
                    $('#EDIT_ABR_N3').attr('value', '');
                    $('#EDIT_NOM_CATE_N3').attr('value', '');
                    $('#EDIT_ABR_N4').attr('value', '');
                    $('#EDIT_NOM_CATE_N4').attr('value', '');
                    $('#EDIT_ABR_N5').attr('value', '');
                    $('#EDIT_NOM_CATE_N5').attr('value', '');
                    $('#EDIT_ABR_N6').attr('value', '');
                    $('#EDIT_NOM_CATE_N6').attr('value', '');
                }
            });

            var ID_CATE_N2 = $("#EDIT_ID_CATE_N2").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_CATE_N1",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            ID_CATE_N2.bind("change", function (e) {
                if (ID_CATE_N2.dataItem()) {
                    $('#EDIT_ID_CAT_N2').attr('value', ID_CATE_N2.dataItem().ID_CATE);
                    $('#EDIT_ABR_N2').attr('value', ID_CATE_N2.dataItem().ABR_CATE);
                    $('#EDIT_NOM_CATE_N2').attr('value', ID_CATE_N2.dataItem().NAM_CATE);
                    $("#EDIT_ABR_N1").prop("disabled", true);
                    $("#EDIT_NOM_CATE_N1").prop("disabled", true);
                    $('#EDIT_NIV_CAT_N2').attr('value', ID_CATE_N2.dataItem().NIV_CATE);
                    //probar
                    $('#EDIT_ABR_N3').attr('value', '');
                    $('#EDIT_NOM_CATE_N3').attr('value', '');
                    $('#EDIT_ABR_N4').attr('value', '');
                    $('#EDIT_NOM_CATE_N4').attr('value', '')
                    $('#EDIT_ABR_N4').attr('value', '');
                    $('#EDIT_NOM_CATE_N5').attr('value', '')
                    $('#EDIT_ABR_N5').attr('value', '');
                    $('#EDIT_NOM_CATE_N6').attr('value', '')
                    $('#EDIT_ABR_N6').attr('value', '');
                }
                else {
                    $('#EDIT_ID_CAT_N2').attr('value', 0);
                    $("#EDIT_ABR_N1").prop("disabled", false);
                    $("#EDIT_NOM_CATE_N1").prop("disabled", false);
                    $('#EDIT_ABR_N2').attr('value', '');
                    $('#EDIT_NOM_CATE_N2').attr('value', '');
                    $('#EDIT_ABR_N3').attr('value', '');
                    $('#EDIT_NOM_CATE_N3').attr('value', '');
                    $('#EDIT_ABR_N4').attr('value', '');
                    $('#EDIT_NOM_CATE_N4').attr('value', '');
                    $('#EDIT_ABR_N5').attr('value', '');
                    $('#EDIT_NOM_CATE_N5').attr('value', '');
                    $('#EDIT_ABR_N6').attr('value', '');
                    $('#EDIT_NOM_CATE_N6').attr('value', '');
                }
            });
            var ID_CATE_N3 = $("#EDIT_ID_CATE_N3").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_CATE_N2",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            ID_CATE_N3.bind("change", function (e) {
                if (ID_CATE_N3.dataItem()) {
                    $('#EDIT_ID_CAT_N3').attr('value', ID_CATE_N3.dataItem().ID_CATE);
                    $('#EDIT_ABR_N3').attr('value', ID_CATE_N3.dataItem().ABR_CATE);
                    $('#EDIT_NOM_CATE_N3').attr('value', ID_CATE_N3.dataItem().NAM_CATE);
                    $("#EDIT_ABR_N2").prop("disabled", true);
                    $("#EDIT_NOM_CATE_N2").prop("disabled", true);
                    $('#EDIT_NIV_CAT_N3').attr('value', ID_CATE_N3.dataItem().NIV_CATE);
                    //probar
                    $('#EDIT_ABR_N4').attr('value', '');
                    $('#EDIT_NOM_CATE_N4').attr('value', '');
                    $('#EDIT_ABR_N5').attr('value', '');
                    $('#EDIT_NOM_CATE_N5').attr('value', '');
                    $('#EDIT_ABR_N6').attr('value', '');
                    $('#EDIT_NOM_CATE_N6').attr('value', '')
                }
                else {
                    $('#EDIT_ID_CAT_N3').attr('value', 0);
                    $("#EDIT_ABR_N2").prop("disabled", false);
                    $("#EDIT_NOM_CATE_N2").prop("disabled", false);
                    $('#EDIT_ABR_N3').attr('value', '');
                    $('#EDIT_NOM_CATE_N3').attr('value', '');
                    $('#EDIT_ABR_N4').attr('value', '');
                    $('#EDIT_NOM_CATE_N4').attr('value', '');
                    $('#EDIT_ABR_N5').attr('value', '');
                    $('#EDIT_NOM_CATE_N5').attr('value', '');
                    $('#EDIT_ABR_N6').attr('value', '');
                    $('#EDIT_NOM_CATE_N6').attr('value', '');
                }
            });
            var ID_CATE_N4 = $("#EDIT_ID_CATE_N4").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_CATE_N3",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            ID_CATE_N4.bind("change", function (e) {
                if (ID_CATE_N4.dataItem()) {
                    $('#EDIT_ID_CAT_N4').attr('value', ID_CATE_N4.dataItem().ID_CATE);
                    $('#EDIT_ABR_N4').attr('value', ID_CATE_N4.dataItem().ABR_CATE);
                    $('#EDIT_ABR_N5').attr('value', ID_CATE_N5.dataItem().ABR_CATE);
                    $('#EDIT_ABR_N6').attr('value', ID_CATE_N6.dataItem().ABR_CATE);
                    $('#EDIT_NOM_CATE_N4').attr('value', ID_CATE_N4.dataItem().NAM_CATE);
                    $('#EDIT_NOM_CATE_N5').attr('value', ID_CATE_N4.dataItem().NAM_CATE);
                    $('#EDIT_NOM_CATE_N6').attr('value', ID_CATE_N4.dataItem().NAM_CATE);
                    $("#ABR_N3").prop("disabled", true);
                    $("#NOM_CATE_N3").prop("disabled", true);
                    $('#NIV_CAT_N4').attr('value', ID_CATE_N4.dataItem().NIV_CATE);
                }
                else {
                    $('#EDIT_ID_CAT_N4').attr('value', 0);
                    $("#EDIT_ABR_N3").prop("disabled", false);
                    $("#EDIT_NOM_CATE_N3").prop("disabled", false);
                    $('#EDIT_ABR_N4').attr('value', '');
                    $('#EDIT_NOM_CATE_N4').attr('value', '');
                }
            });

            var ID_CATE_N5 = $("#EDIT_ID_CATE_N5").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_CATE_N4",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            ID_CATE_N5.bind("change", function (e) {
                if (ID_CATE_N5.dataItem()) {
                    $('#EDIT_ID_CAT_N5').attr('value', ID_CATE_N5.dataItem().ID_CATE);
                    $('#EDIT_ABR_N5').attr('value', ID_CATE_N5.dataItem().ABR_CATE);
                    $('#EDIT_NOM_CATE_N5').attr('value', ID_CATE_N5.dataItem().NAM_CATE);
                    $("#EDIT_ABR_N4").prop("disabled", true);
                    $("#EDIT_NOM_CATE_N4").prop("disabled", true);
                    $('#EDIT_NIV_CAT_N5').attr('value', ID_CATE_N5.dataItem().NIV_CATE);

                    $('#EDIT_ABR_N6').attr('value', '');
                    $('#EDIT_NOM_CATE_N6').attr('value', '');
                }
                else {
                    $('#EDIT_ID_CAT_N5').attr('value', 0);
                    $("#EDIT_ABR_N4").prop("disabled", false);
                    $("#EDIT_NOM_CATE_N4").prop("disabled", false);
                    $('#EDIT_ABR_N5').attr('value', '');
                    $('#EDIT_NOM_CATE_N5').attr('value', '');
                    $('#EDIT_ABR_N6').attr('value', '');
                    $('#EDIT_NOM_CATE_N6').attr('value', '');
                }
            });
        }


    });

    function limpiarCategorias() {
        $("#EDIT_ID_CATE_N1").data("kendoComboBox").value("");
        $("#EDIT_ID_CATE_N2").data("kendoComboBox").value("");
        $("#EDIT_ID_CATE_N3").data("kendoComboBox").value("");
        $("#EDIT_ID_CATE_N4").data("kendoComboBox").value("");
        $("#EDIT_ID_CATE_N5").data("kendoComboBox").value("");
        $("#EDIT_ID_CATE_N6").data("kendoComboBox").value("");

        $('#EDIT_ABR_N1').attr('value', '');
        $('#EDIT_NOM_CATE_N1').attr('value', '');
        $('#EDIT_ABR_N2').attr('value', '');
        $('#EDIT_NOM_CATE_N2').attr('value', '');
        $('#EDIT_ABR_N3').attr('value', '');
        $('#EDIT_NOM_CATE_N3').attr('value', '');
        $('#EDIT_ABR_N4').attr('value', '');
        $('#EDIT_NOM_CATE_N4').attr('value', '');
        $('#EDIT_ABR_N5').attr('value', '');
        $('#EDIT_NOM_CATE_N5').attr('value', '');
        $('#EDIT_ABR_N6').attr('value', '');
        $('#EDIT_NOM_CATE_N6').attr('value', '');
    }

    //function buscarCategoriasxfiltro() {
    //    event.preventDefault();
    //    var leng_esp = {
    //        "sProcessing": "Procesando...",
    //        "sLengthMenu": "Mostrar _MENU_ registros",
    //        "sZeroRecords": "No se encontraron resultados",
    //        "sEmptyTable": "Ningún dato disponible en esta tabla =(",
    //        "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
    //        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
    //        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
    //        "sInfoPostFix": "",
    //        "sSearch": "Buscar:",
    //        "sUrl": "",
    //        "sInfoThousands": ",",
    //        "sLoadingRecords": "Cargando...",
    //        "oPaginate": {
    //            "sFirst": "Primero",
    //            "sLast": "Último",
    //            "sNext": "Siguiente",
    //            "sPrevious": "Anterior"
    //        },
    //        "oAria": {
    //            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
    //            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    //        },
    //        "buttons": {
    //            "copy": "Copiar",
    //            "colvis": "Visibilidad"
    //        }
    //    };
    //    $("#tbTipoServicio").dataTable().fnDestroy();
    //    //Carga de Tablas

    //    $('#tbTipoServicio').DataTable({
    //        responsive: true,
    //        dom: 'frtip',
    //        select: true,
    //        ajax: {
    //            url: "/Administrator/BuscarCategoria/?var=" + Math.random() + "&" + $('#FormCategoria').serialize(),
    //            type: "GET",
    //            dataSrc: "Data"
    //        },
    //        columns: [
    //            {
    //                data: "Categoria1"
    //            },
    //            {
    //                data: "Categoria2"
    //            },
    //            {
    //                data: "Categoria3"
    //            },
    //            {
    //                data: "Categoria4"
    //            },
    //            {
    //                data: "Categoria5"
    //            },
    //            {
    //                data: "Categoria6"
    //            },
    //            {
    //                data: "TipoTicket"
    //            },
    //            {
    //                data: "Cuenta"
    //            },
    //            {
    //                data: "TipoGestionCambio"
    //            },
    //            {
    //                data: "TicketProblema"
    //            },
    //            {
    //                data: "GestionActivos"
    //            },
    //            {
    //                data: "AplicaNotificacion"
    //            },
    //            {
    //                data: "TieneTarea"
    //            },
    //            {
    //                data: "Estado"
    //            },
    //            {
    //                data: null,
    //                render: function (data, type, row) {


    //                    return '<div><center>' +
    //                        '<span class="fa fa-pencil-alt btnAbrirModal" style="cursor: pointer;" onclick="EditCategory(' + (data.IdCategoria4 || data.IdCategoria3 || data.IdCategoria5 || data.IdCategoria6 || 0) + ',' + data.IdCuenta + ')"></span> <span class="fa fa-window-close btnAbrirModal" onclick="deleteCategory(' + (data.IdCategoria4 || data.IdCategoria3 || data.IdCategoria5 || data.IdCategoria6 || 0) + ',' + data.IdCuenta + ')" style="cursor: pointer;"></span>' +
    //                        '</center></div>';
    //                }
    //            }
    //        ],

    //        language: leng_esp
    //    });
    //}
    $("#btnCancelar").click(function (event) {
        event.preventDefault();
        $("#mensajeCategoriaEdicion").modal('hide');
    });
    $("#btnActualizar").click(function (event) {
        event.preventDefault();
        debugger;
        var sID_CATE_N1 = $("#EDIT_ID_CATE_N1").val();
        var sID_CATE_N2 = $("#EDIT_ID_CATE_N2").val();
        var sID_CATE_N3 = $("#EDIT_ID_CATE_N3").val();
        var sID_CATE_N4 = $("#EDIT_ID_CATE_N4").val() || 0;
        var sID_CATE_N5 = $("#EDIT_ID_CATE_N5").val() || 0;
        var sID_CATE_N6 = $("#EDIT_ID_CATE_N6").val() || 0;
        var sNEW_CATE = $('#NEW_CATE').val();
        var sNEW_ABRV = $('#NEW_ABRV').val();
        var sID_ACCO = $('#EDIT_ID_ACCO').val();
        var sNIV_CAT_N1 = $('#EDIT_NIV_CAT_N1').val();
        var sNIV_CAT_N2 = $('#EDIT_NIV_CAT_N2').val();
        var sNIV_CAT_N3 = $('#EDIT_NIV_CAT_N3').val();
        var sNIV_CAT_N4 = $('#EDIT_NIV_CAT_N4').val();
        var sNIV_CAT_N5 = $('#EDIT_NIV_CAT_N5').val();
        var sNIV_CAT_N6 = $('#EDIT_NIV_CAT_N6').val();
        var sABR_N1 = $('#EDIT_ABR_N1').val();
        var sNOM_CATE_N1 = $('#EDIT_NOM_CATE_N1').val();
        var sABR_N2 = $('#EDIT_ABR_N2').val();
        var sNOM_CATE_N2 = $('#EDIT_NOM_CATE_N2').val();
        var sABR_N3 = $('#EDIT_ABR_N3').val();
        var sNOM_CATE_N3 = $('#EDIT_NOM_CATE_N3').val();
        var sABR_N4 = $('#EDIT_ABR_N4').val();
        var sNOM_CATE_N4 = $('#EDIT_NOM_CATE_N4').val();
        var sABR_N5 = $('#EDIT_ABR_N5').val();
        var sNOM_CATE_N5 = $('#EDIT_NOM_CATE_N5').val();
        var sABR_N6 = $('#EDIT_ABR_N6').val();
        var sNOM_CATE_N6 = $('#EDIT_NOM_CATE_N6').val();
        var IdTipoTicket = $('#IdTipoTicket').val();
        var cbTipoCambioTicket = $('#cbTipoCambioTicketEdit').val();
        var cbTicketProblema = $('input:checkbox[name=cbTicketProblemaEdit]:checked').val();
        var cbxGestionActivos = $('input:checkbox[name=cbxGestionActivosEdit]:checked').val();
        var cbxEstadoEdit = $('input:checkbox[name=cbxEstadoEdit]:checked').val();
        var cbAplicaNotificacion = $('input:checkbox[name=cbAplicaNotificacionEdit]:checked').val();
        var cbTieneTarea = $('input:checkbox[name=cbTieneTareaEdit]:checked').val();


        @* winPopUpModalLoad("@ResourceLanguaje.Resource.Saving", "@ResourceLanguaje.Resource.PleaseWait", 300, 130);*@
        toastr.info("Actualizando...");
        $.ajax({
            url: "/Administrator/EditarCategoria/",
            data: "&ID_ACCO=" + sID_ACCO +
                "&ID_CAT_N1=" + sID_CATE_N1 +
                "&ID_CAT_N2=" + sID_CATE_N2 +
                "&ID_CAT_N3=" + sID_CATE_N3
                + "&ID_CAT_N4=" + sID_CATE_N4 +
                "&ID_CAT_N5=" + sID_CATE_N5 +
                "&ID_CAT_N6=" + sID_CATE_N6 +
                "&NEW_CATE=" + sNEW_CATE + "&NEW_ABRV=" + sNEW_ABRV +
                "&NIV_CAT_N1=" + sNIV_CAT_N1
                + "&NIV_CAT_N2=" + sNIV_CAT_N2 +
                "&NIV_CAT_N3=" + sNIV_CAT_N3 +
                "&NIV_CAT_N4=" + sNIV_CAT_N4
                + "&NIV_CAT_N5=" + sNIV_CAT_N5 +
                "&NIV_CAT_N6=" + sNIV_CAT_N6 +
                "&NOM_CATE_N1=" + sNOM_CATE_N1 + "&ABR_N1=" + sABR_N1 +
                "&NOM_CATE_N2=" + sNOM_CATE_N2 + "&ABR_N2=" + sABR_N2 +
                "&NOM_CATE_N3=" + sNOM_CATE_N3 + "&ABR_N3=" + sABR_N3 +
                "&NOM_CATE_N4=" + sNOM_CATE_N4 + "&ABR_N4=" + sABR_N4 +
                "&NOM_CATE_N5=" + sNOM_CATE_N5 + "&ABR_N5=" + sABR_N5 +
                "&NOM_CATE_N6=" + sNOM_CATE_N6 + "&ABR_N6=" + sABR_N6 +
                "&IdTipoTicket=" + IdTipoTicket + "&cbTipoCambioTicket=" + cbTipoCambioTicket + "&cbTicketProblema=" + cbTicketProblema + "&cbxGestionActivos=" + cbxGestionActivos + "&cbxEstadoEdit=" + cbxEstadoEdit +
                "&cbAplicaNotificacion=" + cbAplicaNotificacion + "&cbTieneTarea=" + cbTieneTarea +
                "&SLANV1=" + $("#SLANV1").val()
                +"&SLANV2=" + $("#SLANV2").val()
                +"&SLANV3=" + $("#SLANV3").val()
                +"&SLANV4=" + $("#SLANV4").val()
                +"&SLANV5=" + $("#SLANV5").val()
                +"&SLANV6=" + $("#SLANV6").val(),
            type: "POST",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                    toastr.success("El registro ha sido guardado");
                    buscarCategoriasxfiltro();
                    $("[data-dismiss=modal]").trigger({ type: "click" });
                    //$("#modaleditarCategoria").modal('hide');
                    //$('#SmallModalContent').modal('show');
                    //$("#SmallModalTitle").empty();
                    //$("#SmallModalTitle").text("Mensaje");
                    //$("#SmallModalBody").empty();
                    //$("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + 'El registro ha sido guardado.' + "</div>");
                    //$("#SmallModalFooter").empty();
                    //$("#SmallModalFooter").append("<div style='float:right;'>" +
                    //                                  "<button id='continuee' class='k-button'>Continuar</button>" +
                    //                           "</div>");
                    //var undo = $("#continuee")
                    //.bind("click", function () {
                    //    closeWinModalPopUp();
                    //    $('#winPopUpModalLoad').hide();
                    //    closeWinFormModalPopUp();
                    //    $('#SmallModalContent').modal('hide');
                    //});
                }
                else if (resp == "ERROR_ABR") {
                    //closeWinModalPopUp();
                    //$('#winPopUpModalLoad').hide();
                    //closeWinFormModalPopUp();
                    MensajeConfirmacionEdicion("La abreviatura debe ser máximo 5 dígitos.", "2")

                }
                else if (resp == "ERROR") {
                    //closeWinModalPopUp();
                    //$('#winPopUpModalLoad').hide();
                    //closeWinFormModalPopUp();
                    MensajeConfirmacionEdicion("Error al guardar la información.", "2")
                }
                else {
                    MensajeConfirmacionEdicion(`La categoria ${resp}  ya existe.`, "2")
                }
            }
        });
    });


    function MensajeConfirmacionEdicion(msj, flag) {
        if (flag == 1) {
            toastr.warning(msj);
            //$('#SmallModalContent').modal('show');
            //$("#SmallModalTitle").empty();
            //$("#SmallModalTitle").text("Mensaje");
            //$("#SmallModalBody").empty();
            //$("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msj + "</div>");
            //$("#SmallModalFooter").empty();
            //$("#SmallModalFooter").append("<div style='float:right;'>" +
            //                                  "<button id='continuee' class='k-button'>Continuar</button>" +
            //                           "</div>");
            //var undo = $("#continuee")
            //.bind("click", function () {
            //    $('#SmallModalContent').modal('hide');
            //});

        } else {
            $('#mensajeCategoriaEdicion').empty();
            $('#mensajeCategoriaEdicion').show("show");
            $("#mensajeCategoriaEdicion").append("<div class='alert alert-danger'><strong>¡Alerta!</strong> " + msj + " </div>");
            setTimeout(function () {
                $("#mensajeCategoriaEdicion").fadeOut(4500);
            }, 1000);

        }
    }

</script>
<script>
    $(function () {
        $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
    });
</script>

