
@{
    ViewBag.Title = "Editar";
    Layout = null;
}
<style type="text/css">
    #ABR_N1, #NOM_CATE_N1, #ABR_N2, #NOM_CATE_N2, #ABR_N3, #NOM_CATE_N3, #ABR_N4, #NOM_CATE_N4, #NEW_CATE, #NEW_ABRV, #ID_CATE_N1, #ID_CATE_N2, #ID_CATE_N3, #ID_CATE_N4, #ID_ACCO {
        height: 25px !important;
        width: 220px !important;
        font-size: 14px !important;
    }
    
</style>
<div class="afterMain2">
    <div style="float:left; width:100%;">
        <div class="bodyForm">
            <div id="divNewCategory" class="inBodyForm">
                @using (Html.BeginForm("EditarCategoria", "Administrator"))
                {
                    <input type="hidden" name="ID_ACCO_CAT" id="ID_ACCO_CAT" value="0" />
                    <input type="hidden" name="NIV_CAT_N1" id="NIV_CAT_N1" value="0" />
                    <input type="hidden" name="NIV_CAT_N2" id="NIV_CAT_N2" value="0" />
                    <input type="hidden" name="NIV_CAT_N3" id="NIV_CAT_N3" value="0" />
                    <input type="hidden" name="NIV_CAT_N4" id="NIV_CAT_N4" value="0" />
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>Categoria</legend>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Nombre de Cuenta
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("ID_ACCO", (SelectList)ViewBag.NAM_ACCO)
                                </div>
                            </div>

                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Nivel 1
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("ID_CATE_N1", (SelectList)ViewBag.COMBO_NAM_CATE1)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Abreviatura Nivel 1
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ABR_N1" id="ABR_N1" value="@ViewBag.ABR_CATE1" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Categoria
                                </div>
                                <div class="editor-field">
                                   <input type="text" name="NOM_CATE_N1" id="NOM_CATE_N1" value="@ViewBag.NAM_CATE1" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Nivel 2
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("ID_CATE_N2", (SelectList)ViewBag.COMBO_NAM_CATE2)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Abreviatura Nivel 2
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ABR_N2" id="ABR_N2" value="@ViewBag.ABR_CATE2" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Categoria
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="NOM_CATE_N2" id="NOM_CATE_N2" value="@ViewBag.NAM_CATE2" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Nivel 3
                                </div>
                                <div class="editor-field">
                                    @*@Html.Editor("ID_CATE_N3"), ViewBag.NAM_CATE3)*@
                                    @Html.DropDownList("ID_CATE_N3", (SelectList)ViewBag.COMBO_NAM_CATE3)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Abreviatura Nivel 3
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ABR_N3" id="ABR_N3" value="@ViewBag.ABR_CATE3" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Categoria
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="NOM_CATE_N3" id="NOM_CATE_N3" value="@ViewBag.NAM_CATE3" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Nivel 4
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("ID_CATE_N4", (SelectList)ViewBag.COMBO_NAM_CATE4)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Abreviatura Nivel 4
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="ABR_N4" id="ABR_N4" value="@ViewBag.ABR_CATE4" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Categoria
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="NOM_CATE_N4" id="NOM_CATE_N4" value="@ViewBag.NAM_CATE4" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos" id="divNuevasCategorias" style="display:none">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Nueva Categoria
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="NEW_CATE" id="NEW_CATE" />
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Abreviatura
                                </div>
                                <div class="editor-field">
                                    <input type="text" name="NEW_ABRV" id="NEW_ABRV" />
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" style="margin-bottom:5px;">
                            <div class="divSpace2"></div>
                            <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                                <div style=" float:left; padding:0px 10px 0px 0px; ">
                                    <button id="submit" class="k-button">Actualizar</button>
                                </div>
                                <button id="reset" class="k-button">Cancelar</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<script id="tmp-Categoria" type="text/x-kendo-template">    
    <div style="width:100%;" id="#= ID_CATE #">#= NAM_CATE #</div>
</script>

<script type="text/javascript">
    $(document).ready(function () {        
        var ID_ACCOUNT_CAT = $("#ID_ACCO").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_ACCO",
            dataValueField: "ID_ACCO",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Account/AccountsByUser?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        var ID_CATE_N1 = $("#ID_CATE_N1").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#ID_CATE_N2").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#ID_CATE_N3").kendoComboBox({}).data("kendoComboBox");
        var ID_CATE_N1 = $("#ID_CATE_N4").kendoComboBox({}).data("kendoComboBox");

        ID_ACCOUNT_CAT.bind("change", function (e) {
            if (ID_ACCOUNT_CAT.dataItem()) {
                $('#ID_ACCO_CAT').attr('value', ID_ACCOUNT_CAT.dataItem().ID_ACCO);
                var id_acco_cat = $('#ID_ACCO_CAT').val();
                buscarCategorias(id_acco_cat);
                limpiarCategorias();
            }
            else {
                $('#ID_ACCO_CAT').attr('value', '');
                $('#NOM_CATE_N1').attr('value', '');
                $('#ABR_N1').attr('value', '');
                $('#NOM_CATE_N1').attr('value', '');
                $('#ABR_N2').attr('value', '');
                $('#NOM_CATE_N2').attr('value', '');
                $('#ABR_N3').attr('value', '');
                $('#NOM_CATE_N3').attr('value', '');
                $('#ABR_N4').attr('value', '');
                $('#NOM_CATE_N4').attr('value', '');
            }
        });
        function buscarCategorias(id)
        {
            var ID_CATE_N1 = $("#ID_CATE_N1").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_ACCOUNT_CAT",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            ID_CATE_N1.bind("change", function (e) {
                if (ID_CATE_N1.dataItem()) {
                    $('#ID_CAT_N1').attr('value', ID_CATE_N1.dataItem().ID_CATE);
                    $('#ABR_N1').attr('value', ID_CATE_N1.dataItem().ABR_CATE);
                    $('#NOM_CATE_N1').attr('value', ID_CATE_N1.dataItem().NAM_CATE);
                    $('#NIV_CAT_N1').attr('value', ID_CATE_N1.dataItem().NIV_CATE);
                    //limpiar cajas de texto
                    $('#ABR_N2').attr('value', '');
                    $('#NOM_CATE_N2').attr('value', '');
                    $('#ABR_N3').attr('value', '');
                    $('#NOM_CATE_N3').attr('value', '');
                    $('#ABR_N4').attr('value', '');
                    $('#NOM_CATE_N4').attr('value', '')
                }
                else {
                    $('#ID_CAT_N1').attr('value', 0);
                    $('#ABR_N1').attr('value','');
                    $('#NOM_CATE_N1').attr('value', '');
                    $('#ABR_N2').attr('value', '');
                    $('#NOM_CATE_N2').attr('value', '');
                    $('#ABR_N3').attr('value', '');
                    $('#NOM_CATE_N3').attr('value', '');
                    $('#ABR_N4').attr('value', '');
                    $('#NOM_CATE_N4').attr('value', '');
                }
            });

            var ID_CATE_N2 = $("#ID_CATE_N2").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_CATE_N1",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            ID_CATE_N2.bind("change", function (e) {
                if (ID_CATE_N2.dataItem()) {
                    $('#ID_CAT_N2').attr('value', ID_CATE_N2.dataItem().ID_CATE);
                    $('#ABR_N2').attr('value', ID_CATE_N2.dataItem().ABR_CATE);
                    $('#NOM_CATE_N2').attr('value', ID_CATE_N2.dataItem().NAM_CATE);
                    $("#ABR_N1").prop("disabled", true);
                    $("#NOM_CATE_N1").prop("disabled", true);
                    $('#NIV_CAT_N2').attr('value', ID_CATE_N2.dataItem().NIV_CATE);
                    //probar
                    $('#ABR_N3').attr('value', '');
                    $('#NOM_CATE_N3').attr('value', '');
                    $('#ABR_N4').attr('value', '');
                    $('#NOM_CATE_N4').attr('value', '')
                }
                else {
                    $('#ID_CAT_N2').attr('value', 0);
                    $("#ABR_N1").prop("disabled", false);
                    $("#NOM_CATE_N1").prop("disabled", false);
                    $('#ABR_N2').attr('value', '');
                    $('#NOM_CATE_N2').attr('value', '');
                    $('#ABR_N3').attr('value', '');
                    $('#NOM_CATE_N3').attr('value', '');
                    $('#ABR_N4').attr('value', '');
                    $('#NOM_CATE_N4').attr('value', '');
                }
            });
            var ID_CATE_N3 = $("#ID_CATE_N3").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_CATE_N2",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            ID_CATE_N3.bind("change", function (e) {
                if (ID_CATE_N3.dataItem()) {
                    $('#ID_CAT_N3').attr('value', ID_CATE_N3.dataItem().ID_CATE);
                    $('#ABR_N3').attr('value', ID_CATE_N3.dataItem().ABR_CATE);
                    $('#NOM_CATE_N3').attr('value', ID_CATE_N3.dataItem().NAM_CATE);
                    $("#ABR_N2").prop("disabled", true);
                    $("#NOM_CATE_N2").prop("disabled", true);
                    $('#NIV_CAT_N3').attr('value', ID_CATE_N3.dataItem().NIV_CATE);
                    //probar
                    $('#ABR_N4').attr('value', '');
                    $('#NOM_CATE_N4').attr('value', '')
                }
                else {
                    $('#ID_CAT_N3').attr('value', 0);
                    $("#ABR_N2").prop("disabled", false);
                    $("#NOM_CATE_N2").prop("disabled", false);
                    $('#ABR_N3').attr('value', '');
                    $('#NOM_CATE_N3').attr('value', '');
                    $('#ABR_N4').attr('value', '');
                    $('#NOM_CATE_N4').attr('value', '');
                }
            });
            var ID_CATE_N4 = $("#ID_CATE_N4").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "ID_CATE_N3",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            ID_CATE_N4.bind("change", function (e) {
                if (ID_CATE_N4.dataItem()) {
                    $('#ID_CAT_N4').attr('value', ID_CATE_N4.dataItem().ID_CATE);
                    $('#ABR_N4').attr('value', ID_CATE_N4.dataItem().ABR_CATE);
                    $('#NOM_CATE_N4').attr('value', ID_CATE_N4.dataItem().NAM_CATE);
                    $('#divNuevasCategorias').hide();
                    $("#ABR_N3").prop("disabled", true);
                    $("#NOM_CATE_N3").prop("disabled", true);
                    $('#NIV_CAT_N4').attr('value', ID_CATE_N4.dataItem().NIV_CATE);
                }
                else {
                    $('#ID_CAT_N4').attr('value', 0);
                    $('#divNuevasCategorias').show();
                    $("#ABR_N3").prop("disabled", false);
                    $("#NOM_CATE_N3").prop("disabled", false);
                    $('#ABR_N4').attr('value', '');
                    $('#NOM_CATE_N4').attr('value', '');
                }
            });
        }

    });
    function limpiarCategorias()
    {
        $("#ID_CATE_N1").data("kendoComboBox").value("");
        $("#ID_CATE_N2").data("kendoComboBox").value("");
        $("#ID_CATE_N3").data("kendoComboBox").value("");
        $("#ID_CATE_N4").data("kendoComboBox").value("");
        $('#ABR_N1').attr('value', '');
        $('#NOM_CATE_N1').attr('value', '');
        $('#ABR_N2').attr('value', '');
        $('#NOM_CATE_N2').attr('value', '');
        $('#ABR_N3').attr('value', '');
        $('#NOM_CATE_N3').attr('value', '');
        $('#ABR_N4').attr('value', '');
        $('#NOM_CATE_N4').attr('value', '');
    }
    $("#reset").click(function (event) {
        event.preventDefault();
        closeWinFormModalPopUp();
    });

    $("#submit").click(function (event) {        
        event.preventDefault();
        var sID_CATE_N1 = $("#ID_CATE_N1").val();
        var sID_CATE_N2 = $("#ID_CATE_N2").val();
        var sID_CATE_N3 = $("#ID_CATE_N3").val();
        var sID_CATE_N4 = $("#ID_CATE_N4").val();
        var sNEW_CATE = $('#NEW_CATE').val();
        var sNEW_ABRV = $('#NEW_ABRV').val();
        var sID_ACCO = $('#ID_ACCO').val();
        var sNIV_CAT_N1 = $('#NIV_CAT_N1').val();
        var sNIV_CAT_N2 = $('#NIV_CAT_N2').val();
        var sNIV_CAT_N3 = $('#NIV_CAT_N3').val();
        var sNIV_CAT_N4 = $('#NIV_CAT_N4').val();
        var sABR_N1 = $('#ABR_N1').val();
        var sNOM_CATE_N1 = $('#NOM_CATE_N1').val();
        var sABR_N2 = $('#ABR_N2').val();
        var sNOM_CATE_N2 = $('#NOM_CATE_N2').val();
        var sABR_N3 = $('#ABR_N3').val();
        var sNOM_CATE_N3 = $('#NOM_CATE_N3').val();
        var sABR_N4 = $('#ABR_N4').val();
        var sNOM_CATE_N4 = $('#NOM_CATE_N4').val();
        winPopUpModalLoad("@ResourceLanguaje.Resource.Saving", "@ResourceLanguaje.Resource.PleaseWait", 300, 130);
        $.ajax({
            url: "/Administrator/EditarCategoria",
            data: "ID_ACCO=" + sID_ACCO + "&ID_CAT_N1=" + sID_CATE_N1 + "&ID_CAT_N2=" + sID_CATE_N2 + "&ID_CAT_N3=" + sID_CATE_N3 + "&ID_CAT_N4=" + sID_CATE_N4 + "&NEW_CATE=" + sNEW_CATE + "&NEW_ABRV=" + sNEW_ABRV + "&NIV_CAT_N1=" + sNIV_CAT_N1 + "&NIV_CAT_N2=" + sNIV_CAT_N2 + "&NIV_CAT_N3=" + sNIV_CAT_N3 + "&NIV_CAT_N4=" + sNIV_CAT_N4 + "&NOM_CATE_N1=" + sNOM_CATE_N1 + "&ABR_N1=" + sABR_N1 + "&NOM_CATE_N2=" + sNOM_CATE_N2 + "&ABR_N2=" + sABR_N2 + "&NOM_CATE_N3=" + sNOM_CATE_N3 + "&ABR_N3=" + sABR_N3 + "&NOM_CATE_N4=" + sNOM_CATE_N4 + "&ABR_N4=" + sABR_N4 + "&var=" + Math.random(),
            type: "POST",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                     winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                    "<div style='padding:10px 0 10px 0;'>'Se Actualizo con exito!'</div>" +
                    "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                    "<button id='continues' class='k-button'>Continuar</button>" +
                    "</div></div>", 400, 140);

                    var undo = $("#continues")
                    .bind("click", function () {
                        closeWinModalPopUp();
                        $('#winPopUpModalLoad').hide();
                        closeWinFormModalPopUp();                        
                    });
                }
                else
                {
                    var undo = $("#continues")
                    .bind("click", function () {
                        $('#SmallModalContent').modal('hide');
                        $('#winPopUpModalLoad').hide();
                    });
                }
            }
        });
    });
</script>


