@model ERPElectrodata.Models.DELIVERY_SUSTAIN

@{
    //Layout = "~/Views/Shared/_LayoutClient.cshtml";
    //Layout = null;
    ViewBag.Title = ResourceLanguaje.Resource.Accountability;
}

@*<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />*@

<style>
    .menuBandeja {
        width: 24px;
        height: 24px;
        background: transparent url('/Content/Images/Menu.png') no-repeat;
        cursor: pointer;
    }

        .menuBandeja:hover {
            background: transparent url('/Content/Images/MenuAct.png') no-repeat;
        }

    .AccApproval {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        background: transparent url('/Content/Images/Approval.png') no-repeat;
        cursor: pointer;
        float: left;
    }

        .AccApproval:hover {
            background: transparent url('/Content/Images/ApprovalAct.png') no-repeat;
        }

    .AccApprovalDisabled {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        /*background: transparent url('/Content/Images/ApprovalDisabled.png') no-repeat;*/
        float: left;
    }

    .AccReject {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        background: transparent url('/Content/Images/Reject.png') no-repeat;
        cursor: pointer;
        float: left;
    }

        .AccReject:hover {
            background: transparent url('/Content/Images/RejectAct.png') no-repeat;
        }

    .AccRejectDisabled {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        /*background: transparent url('/Content/Images/RejectDisabled.png') no-repeat;*/
        float: left;
    }

    .AccCancel {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        background: transparent url('/Content/Images/Cancel.png') no-repeat;
        cursor: pointer;
        float: left;
    }

        .AccCancel:hover {
            background: transparent url('/Content/Images/CancelAct.png') no-repeat;
        }

    .AccCancelDisabled {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        /*background: transparent url('/Content/Images/CancelDisabled.png') no-repeat;*/
        float: left;
    }

    .AccPayment {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        background: transparent url('/Content/Images/Payment.png') no-repeat;
        cursor: pointer;
        float: left;
    }

    .AccPaymentGC {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        background: transparent url('/Content/Images/ChatActive.png') no-repeat;
        cursor: pointer;
        float: left;
    }


    .AccPayment:hover {
        background: transparent url('/Content/Images/PaymentAct.png') no-repeat;
    }

    .AccPaymentDisabled {
        margin-top: 27px;
        width: 24px;
        height: 24px;
        /*background: transparent url('/Content/Images/PaymentDisabled.png') no-repeat;*/
        float: left;
    }
</style>
<div id="divContent">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="font-icon-wrapper font-icon-lg">
                    <i class="fa fa-comment-dollar icon-gradient bg-sunny-morning"> </i>
                </div>
                <div>
                    <div class="titleModule"><b>Contabilidad</b></div>
                    <div class="page-title-subheading">
                        Lista de Rendiciones
                    </div>
                </div>
                <div class="derecha">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            FILTROS
        </div>
    </div>

    <div class="p-4 card-body">
        <div class="row">
            <div class="col-lg-11">

                @using (Html.BeginForm("ExportRendiciones", "RequestExpense", FormMethod.Post, new { id = "FrmRequestExpenseIndex" })) //, name = "formExportar"
                {
                    <div class="p-1 slick-slider-sm mx-auto">
                        <div class="row">

                            <div class="col-lg-2">
                                <div class="editor-label">
                                    Tipo
                                </div>
                                <div class="editor-field">
                                    <input id="idfiltertype" name="filtertype" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="editor-label">
                                    Codigo<br />
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    <input id="Codigo" name="Codigo" class="k-textbox" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="editor-label">
                                    Estado
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    <input id="idfilterstatus" name="filterstatus" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="editor-label">
                                    Solicitud
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    <input id="idfilterrequest" name="filterrequet" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="editor-label">
                                    Tipo OP
                                </div>
                                <div class="editor-field" style="width:100%;">
                                    <input id="ID_TYPE_DOCU_SALE" name="ID_TYPE_DOCU_SALE" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="editor-label">
                                    Nro OP<br />
                                </div>
                                <div class="k-textbox" style="width:100%;">
                                    <input id="nroOP" name="nroOP" class="k-textbox" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="editor-label">
                                    &nbsp;
                                </div>
                                <div class="" style="width:100%;">
                                    <button id="export" class="btn btn-success btn-block" onclick="Exportar();">Exportar</button>
                                </div>
                            </div>

                        </div>

                    </div>
                }
            </div>
            <div class="col-lg-1">
                <div class="editor-label">
                    &nbsp;
                </div>
                <div class="" style="width:100%;">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" onclick="CargarGrilla(this)">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%;font-size:0.9em" id="divContent">
    <div style="width: 100.4%; position: relative; overflow: hidden; margin-top: 15px;" id="divPrincipal">
        <div style="width:100%; display:inline-block;">
            @*<div style="float:right; margin-right:17px; width:7%; text-align:right;" id="divCheckAll">
                    <span>Select All &nbsp;</span>
                    <input type="checkbox" name="checkAll" id="checkAll" class="cssCheckBox" />
                </div>*@
            <div style="float:right; width:15%; text-align:right; margin-right:5px; display:none;" id="divButtons">
                <button id="btnApprovals" class="k-button">@ResourceLanguaje.Resource.Approvals</button>
            </div>
        </div>

        @*Grilla y Pager Caja Chica*@
        <div style="position: absolute; left: 0px; top: 20px; width: 100%; height:100%;" id="divBandeja">
            <div id="gridRequest" class="contentView" style="width: 99.6%; margin-top: 0px; border: 1px solid #eaeaea;"></div>
            <div id="pagerRequest" class="contentViewPager" style="width: 99.4%;"></div>
        </div>







        @*Detalle de Cada Solicitud*@


    </div>
</div>

@*/RequestExpense/List*@
<script type="text/x-kendo-tmpl" id="template">
    <div class="col-lg-12 p-0 m-0">
        <div class="row no-gutters m-0" id="id${ID_REQU_EXPE}" style="border-bottom:1px solid \\#eaeaea; width: 100%; background-color: \\#f5f5f5; font-family: Arial, Helvetica, Tahoma, sans-serif;" onmouseover="mouseOverBandeja(${ID_REQU_EXPE})" onmouseout="mouseOutBandeja(${ID_REQU_EXPE})">
            <div class="col-sm-10 m-2" style="width: 91%; float: left; display: inline-block; cursor: pointer;" onclick="onclickBandeja(${ID_REQU_EXPE},${ID_PERS_ENTI_REQU},'${UserRequest}','${DAT_LONG}','${UserApprov}','${TIME}','${COD_REQU_EXPE}','${NAM_TYPE_DELI_SUST}','${COLOR}','${NAM_STAT_REQU_EXPE}','${NAM_ABBR}',${ID_TICK},'${COD_TICK}','${CURRENCY} ${AMOUNT} ${NAM_CURR}','${JUSTIFICATION}',${ID_TYPE_DELI_SUST},'${MONEY}',${SwxRendir},${SwRendir},'${NAM_CURR}',${TOTAL},'${NUM_OP}',${ID_OP},${NUM_DAYS},'${DAT_DEPA}','${DESTINATION}',${ID_DELI_SUST},${SwPrint})">
                <div class="row no-gutters">
                    @*<div class="col-sm-1" style="width: 50px; height: 42px; color: white; font-size: 2.2em;text-align: center; padding-top: 8px; background-color: ${COLOR};">
                            ${NAM_ABBR}
                        </div>*@
                    <div class="icon-wrapper" style="background-color: ${COLOR};">
                        <!--circulo  rounded-circle-->
                        <div class="icon-wrapper-bg bg-focus">
                        </div>
                        <i class="text-white" style="font-style:normal;">
                            ${NAM_ABBR}
                        </i>
                    </div>
                    <div class="col-sm-2">
                        <div style="width:100%; font-size: .8em; color: \\#808080;" id="idType${ID_REQU_EXPE}">${NAM_TYPE_DELI_SUST}</div>
                        <div style="width: 100%; font-size: .8em; color: \\#808080;" id="idStat${ID_REQU_EXPE}">@ResourceLanguaje.Resource.Status: ${NAM_STAT_REQU_EXPE}</div>
                        <div style="width: 100%; font-size: .65em; color: \\#808080; ">@ResourceLanguaje.Resource.Code: ${COD_REQU_EXPE}</div>
                    </div>
                    <div class="col-sm-2">
                        <div style="width:100%; height:100%;">
                            <div style="width:100%; font-size: .8em; color: \\#808080; text-transform:capitalize;" id="idUR${ID_REQU_EXPE}">${UserRequest}</div>
                            <div style="width: 100%; font-size: .65em; color: \\#808080; ">@ResourceLanguaje.Resource.Requester</div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        # if(ID_TYPE_DELI_SUST == 1 && ID_PERS_ENTI_APPR_VIAT != 0 && ID_PERS_ENTI_APPR != ID_PERS_ENTI_APPR_VIAT) { #
                        <div style="width:100%; font-size: .8em; color: \\#808080; text-transform:capitalize;" id="idUA${ID_REQU_EXPE}">
                            <span style="text-decoration: line-through;">${AbrevAppro}</span> / ${OtherAppro}
                        </div>
                        # } else { #
                        <div style="width:100%; font-size: .8em; color: \\#808080; text-transform:capitalize;" id="idUA${ID_REQU_EXPE}">${UserApprov}</div>
                        # } #
                        <div style="width: 100%; font-size: .65em; color: \\#808080; ">@ResourceLanguaje.Resource.Approves</div>
                    </div>
                    <div class="col-sm-3">
                        <div style="width: 85%; font-size: .7em; color: \\#808080; overflow-y: auto; max-height: 45px; padding: 3px 5px 3px 5px;" id="idJusti${ID_REQU_EXPE}">${JUSTIFICATION}</div>
                    </div>
                    <div class="col-sm-1">
                        <div style="width:100%; font-size: .7em; color: \\#808080; text-transform:capitalize;" id="idMY${ID_REQU_EXPE}">${MONTH_YEAR}</div>
                        <div style="width: 100%; font-size: .65em; color: \\#808080; text-transform: capitalize; ">${DAY_NAME}</div>
                    </div>
                    <div class="col-sm-1">
                        <div style="width:100%; font-size: .8em; color: \\#808080; text-transform:capitalize;" id="idAmount${ID_REQU_EXPE}">${CURRENCY} ${AMOUNT}</div>
                        <div style="width: 100%; font-size: .65em; color: \\#808080; text-transform: capitalize;">${NAM_CURR}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 pl-1 mb-2">
                <div style="float:right;">
                    # if(SwPayment == false) { #
                    # if(SwApproval) { #  @*-----Muestra botones si aprueba o rechaza un reuqerimiento, esto se ven segun sus permisos. Los jefes ven estos iconos------*@
                    <div class="AccApproval mr-3 idAppr" title="Approval" onclick="ApprCancRow(1,${ID_REQU_EXPE},'${NAM_TYPE_DELI_SUST}','${UserRequest}','${UserApprov}','${CURRENCY} ${AMOUNT} ${NAM_CURR}','${COD_REQU_EXPE}',${ID_STAT_REQU_EXPE})"></div>

                    <div class="AccReject mr-3 idReject" title="Reject" onclick="RejectRequest(${ID_REQU_EXPE})"></div>
                    # } else {#
                    <div class="AccApprovalDisabled"></div>
                    <div class="AccRejectDisabled"></div>
                    # } #
                    # if(SwDelete) { # @*-----Muestra boton para eliminar un requerimiento-----*@
                    <div class="AccCancel mr-3 idAppr" title="Cancel" onclick="ApprCancRow(3,${ID_REQU_EXPE},'${NAM_TYPE_DELI_SUST}','${UserRequest}','${UserApprov}','${CURRENCY} ${AMOUNT} ${NAM_CURR}','${COD_REQU_EXPE}',${ID_STAT_REQU_EXPE})"></div>
                    # } else {#
                    <div class="AccCancelDisabled"></div>
                    # } #
                    # if(SwApproval) { #
                    <div style="width: 5px; float: left; margin: 33px 0 0 10px;">
                        @* <input type="checkbox" name="idCH${ID_REQU_EXPE}" id="idCH${ID_REQU_EXPE}" class="cssCheckBox" onclick="selectRow(this)"/>*@
                    </div>
                    # } #
                    # } else { #

                    @*-----Muestra el dolar de Pagar los Requerimientos------*@
                    <div class="AccPayment mr-3 idPayment" title="@ResourceLanguaje.Resource.Payment" onclick="PaymentRequest(${ID_REQU_EXPE},${ID_TYPE_DELI_SUST},'${NAM_TYPE_DELI_SUST}','${UserRequest}','${UserApprov}','${CURRENCY} ${AMOUNT} ${NAM_CURR}','${COD_REQU_EXPE}','${MONEY}','${AMOUNT}')"></div>
                    # } #
                </div>
            </div>
        </div>
    </div>
    # AltoPrincipal(Alto) #
</script>

<script type="text/x-kendo-tmpl" id="tpt_ListActivity">
    <div class="fondoDetailReques">
        <div style="width: 96%; margin: 5px 2% 5px 2%; display: inline-block;">
            <div style="float:left; width:30%;">
                <div style="width: 100%; color: \\#808080;">@ResourceLanguaje.Resource.Status</div>
                # if(ID_STAT_REQU_EXPE == 3) {#
                <div style="width:100%; color:black;">
                    <a style="text-decoration:none; cursor:pointer;" title="${REASON_REJECT}">${NAM_STAT_REQU_EXPE}</a>
                </div>
                # } else { #
                <div style="width:100%; color:black;">${NAM_STAT_REQU_EXPE}</div>
                # } #
            </div>
            <div style="float:left; width:35%;">
                <div style="width: 100%; color: \\#808080;">Nombre de Usuario</div>
                <div style="width: 100%; color: black;">${User}</div>
            </div>
            <div style="float:left; width:35%;">
                <div style="width: 100%; color: \\#808080;">Fecha de Inicio</div>
                <div style="width: 100%; color: black;">${DAT_STAR} ${DAT_HH}</div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">


    var widthMain = 0;

    $(document).ready(function () {
        //---------------------COMBOS DE FILTROS----------------------------

        var ID_TYPE_DOCU_SALE = $("#ID_TYPE_DOCU_SALE").kendoComboBox({
            autoBind: false,
            index: 0,
            dataTextField: "COD_TYPE_DOCU_SALE",
            filter: "contains",
            dataValueField: "ID_TYPE_DOCU_SALE",
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeDocumentSale/ListAll?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var idfiltertype = $("#idfiltertype").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_TYPE_DELI_SUST",
            filter: "contains",
            dataValueField: "ID_TYPE_DELI_SUST",
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/RequestExpense/ListByType?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var idfilterstatus = $("#idfilterstatus").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_STAT_REQU_EXPE",
            filter: "contains",
            dataValueField: "ID_STAT_REQU_EXPE",
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/RequestExpense/ListByStatus?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var idfilterrequest = $("#idfilterrequest").kendoComboBox({
            autoBind: false,
            dataTextField: "NOMBRE",
            filter: "contains",
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                //type: "odata",
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/RequestExpense/ListByRequest?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        CargarGrilla();
        widthMain = $("#divBandeja").width() + 5;
        $("#divDetails").css("left",widthMain + "px");
    });

    //-----------------------------------------------------------------


    function ApprCancRow(tip,id,typ,fro,to,amo,cod,idst){ //Aprueba, Cancela, requerimientos si es que es jefe o supervisor.

        var title = '';
        var msn = '';
        var res = '';
        if(tip == 1){
            title = "@ResourceLanguaje.Resource.ApprovalNotification";
            msn = "@ResourceLanguaje.Resource.RequestApprovalMsn";
            res = "@ResourceLanguaje.Resource.StatusApproval";
        }
        else{
            title = "@ResourceLanguaje.Resource.CancelNotification";
            msn = "@ResourceLanguaje.Resource.RequestCancelMsn";
            res = "@ResourceLanguaje.Resource.StatusCancel";
        }

        $("#lblTitulo").text(title);
        $(".idAppr").attr("data-style", "expand-right");
        $(".idAppr").attr("data-toggle", "modal");
        $(".idAppr").attr("data-target", "#miModal");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-md");
        $('#modal-content').empty();
        $("#modal-content").append();
        $("#modal-content").append("<div class='modal-body'>"+
                                       "<div style='font-size:1em;'>" +
                                          "<div style='width:100%; display:inline-block; text-transform:capitalize;'>" +
                                            "<div style='width:20%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Type:</div>" +
                                            "<div style='width:80%; float:left;'>" + typ + "</div>" +
                                            "<div style='width:20%; float:left; color:#444444;'>@ResourceLanguaje.Resource.FromUser:</div>" +
                                            "<div style='width:80%; float:left;'>" + fro + "</div>" +
                                            "<div style='width:20%; float:left; color:#444444;'>@ResourceLanguaje.Resource.ToUser:</div>" +
                                            "<div style='width:80%; float:left;'>" + to + "</div>" +
                                            "<div style='width:20%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Amount:</div>" +
                                            "<div style='width:80%; float:left;'>" + amo + "</div>" +
                                            "<div style='width:100%; float:left; margin-top:10px; color:#444444;  text-transform:none;'>" + msn + "</div>" +
                                            "</div>" +
                                       "</div>"+
                                     "</div>");


        $("#modal-content").append("<div class='modal-footer'>"+
                                       "<div style='width:100%;'>" +
                                          "<div style='width:95%; margin:0 auto; text-align:right;'>" +
                                             "<div style='width:100%;'>" +
                                               "<button id='btnYes' class='k-button' style='font-size:.9em;'>@ResourceLanguaje.Resource.Yes</button>" +
                                                "&nbsp;&nbsp;<button id='btnNO' class='k-button' style='font-size:.9em;'>No</button>" +
                                            "</div>" +
                                         "</div>" +
                                      "</div>"+
                                  "</div>");

        var undo = $("#btnYes")
            .bind("click", function () {
                $.ajax({
                    url: "/RequestExpense/UpdateStatus/" + id + "/" + tip + "/" + idst,
                    data: "var=" + Math.random(),
                    cache: false,
                    type: "GET",
                    dataType: "text",
                    success: function (resp) {
                        if(resp=='OK'){
                            toastr.success(res, "@ResourceLanguaje.Resource.InformationSaved");
                            $("[data-dismiss=modal]").trigger({ type: "click" });
                            CargarGrilla();
                        }
                        else if(resp=='Change Status'){
                            toastr.warning("@ResourceLanguaje.Resource.ChangeStatusRequest", "@ResourceLanguaje.Resource.Warning");

                        }
                        else{
                            toastr.warning("@ResourceLanguaje.Resource.NotPettyCash", "@ResourceLanguaje.Resource.Warning");

                        }

                    },
                    error: function (source) {
                        toastr.error("Ha ocurrido un error, contacte al administrador","");
                    }
                });
            });

        var undo = $("#btnNO")
            .bind("click", function () {
                $("[data-dismiss=modal]").trigger({ type: "click" });
            });
    }

    function PaymentRequest(id, idt, typ, fro, to, amo, cod, mon, tt) {

            $("#lblTitulo").text("@ResourceLanguaje.Resource.Payment @ResourceLanguaje.Resource.Viatical");
            $(".idPayment").attr("data-style", "expand-right");
            $(".idPayment").attr("data-toggle", "modal");
            $(".idPayment").attr("data-target", "#miModal");
            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");
            $(".modal-dialog").addClass("modal-md");
            $('#modal-content').empty();
        $("#modal-content").load("/DeliverySustain/viewPaymentViatical?id=" + id + "&mon=" + mon + "&tt=" + tt + "&idt=" + idt +"&var=" + Math.random());

    }

    function selectRow(e){
        lv= $("#gridRequest").data("kendoListView");
        ds = lv.dataSource;
        data = ds.data();
        ind1 = 0;
        ind2 = 0;
        for(var i=0; i <= data.length - 1; i++){
            idre = data[i].ID_REQU_EXPE;
            if(document.getElementById("idCH" + idre) != null){
                if(document.getElementById("idCH" + idre).checked == false){
                    ind1 = 1;
                }
                if(document.getElementById("idCH" + idre).checked == true){
                    ind2 = 1;
                }
            }
        }

        if(ind1 == 0){
            $("#checkAll").prop("checked", true);
        }
        else{
            $("#checkAll").prop("checked", false);
        }

        if(ind2 == 0){ //si no está marcado ninguna fila
            $("#divBandeja").css("top","20px");
            $("#divCheckAll").css("margin-top","0px");
            $("#divButtons").css("display","none");
            var alt = $("#divPrincipal").height();
            $("#divPrincipal").height(alt - 10);
        }

        if(document.getElementById(e.id).checked){
            $("#divBandeja").css("top","30px");
            $("#divCheckAll").css("margin-top","8px");
            $("#divButtons").css("display","block");
            var alt = $("#divPrincipal").height();
            $("#divPrincipal").height(alt + 10);
        }
    }

    //verificar funcion ?? Uso
    $("#btnApprovals").click(function(){

        lv= $("#gridRequest").data("kendoListView");
        ds = lv.dataSource;
        data = ds.data();
        var petcas = '';
        var via = '';
        var ttmnPC = 0;
        var ttmePC = 0;
        var ttmnVIA = 0;
        var ttmeVIA = 0;
        var sw1 = 0;
        var sw2 = 0;
        var sw3 = 0;
        var ids = '';
        for(var i=0; i <= data.length - 1; i++){
            idre = data[i].ID_REQU_EXPE;
            if(document.getElementById("idCH" + idre) != null){
                if(document.getElementById("idCH" + idre).checked){
                    if(data[i].ID_TYPE_DELI_SUST == 1) //Petty Cash
                    {
                        if(sw1 == 0){ petcas = data[i].COD_REQU_EXPE; }
                        else{ petcas = petcas + ", " + data[i].COD_REQU_EXPE; }
                        sw1=sw1+1;

                        if(data[i].CURRENCY == 'S/.'){
                            ttmnPC = ttmnPC + parseFloat(data[i].AMOUNT);
                        }
                        else{ ttmePC = ttmePC + parseFloat(data[i].AMOUNT); }
                    }
                    else{ //Viatical
                        if(sw2 == 0){ via = data[i].COD_REQU_EXPE; }
                        else{ via = via + ", " + data[i].COD_REQU_EXPE; }
                        sw2=sw2+1;

                        if(data[i].CURRENCY == 'S/.'){
                            ttmnVIA = ttmnVIA + parseFloat(data[i].AMOUNT);
                        }
                        else{ ttmeVIA = ttmeVIA + parseFloat(data[i].AMOUNT); }
                    }
                    if(sw3 == 0){ ids= data[i].ID_REQU_EXPE;}
                    else{ ids= ids + "|" + data[i].ID_REQU_EXPE; }
                    sw3=sw3+1;
                }
            }
        }
        if(ttmnPC + ttmePC > 0){petcas = petcas + ")";}
        if(ttmnVIA + ttmeVIA > 0){via = via + ")";}

        if(ttmnPC + ttmePC + ttmnVIA + ttmeVIA > 0){
            var altu = 235;
            winFormPopUpModal("@ResourceLanguaje.Resource.ApprovalNotification",
                "<div style='border-bottom:1px dotted #dadada; height:" + (altu - 31 - 51) +"px;'>" +
                    "<div style='width:95%; margin:0 auto; font-size:1em;'>" +
                        "<div style='width:100%; display:inline-block; text-transform:capitalize; margin-top:1%;'>" +
                            "<div style='width:20%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Type:</div>" +
                            "<div style='width:80%; float:left;'>@ResourceLanguaje.Resource.PettyCash</div>" +
                            "<div style='width:20%; float:left; color:#444444;'>Total:</div>" +
                            "<div style='width:80%; float:left;'>S/. " + ttmnPC.toFixed(2) + " @ResourceLanguaje.Resource.PeruvianNuevoSol</div>" +
                            "<div style='width:20%; float:left; color:#444444;'>&nbsp;</div>" +
                            "<div style='width:80%; float:left;'>US$ " + ttmePC.toFixed(2) + " @ResourceLanguaje.Resource.DollarAmerican</div>" +
                            "<div style='width:20%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Type:</div>" +
                            "<div style='width:80%; float:left;'>@ResourceLanguaje.Resource.Viatical</div>" +
                            "<div style='width:20%; float:left; color:#444444;'>Total:</div>" +
                            "<div style='width:80%; float:left;'>S/. " + ttmnVIA.toFixed(2) + " @ResourceLanguaje.Resource.PeruvianNuevoSol</div>" +
                            "<div style='width:20%; float:left; color:#444444;'>&nbsp;</div>" +
                            "<div style='width:80%; float:left;'>US$ " + ttmeVIA.toFixed(2) + " @ResourceLanguaje.Resource.DollarAmerican</div>" +
                            "<div style='width:100%; float:left; margin-top:10px; color:#444444; text-transform:none;'>@ResourceLanguaje.Resource.RequestAprovalAllMsn</div>" +
                        "</div>" +
                    "</div>" +
                "</div>" +
                "<div style='height:50px; width:100%; display:inline-block;'>" +
                    "<div style='width:95%; margin:0 auto; text-align:right;'>" +
                        "<div style='width:100%; margin-top:10px;'>" +
                            "<button id='btnYes' class='k-button' style='font-size:.9em;'>@ResourceLanguaje.Resource.Yes</button>" +
                            "&nbsp;&nbsp;<button id='btnNO' class='k-button' style='font-size:.9em;'>No</button>" +
                        "</div>" +
                    "</div>" +
                "</div>", 400, altu);

            var undo = $("#btnYes")
                .bind("click", function () {
                    closeWinFormModalPopUp();
                    winPopUpModalLoad("@ResourceLanguaje.Resource.Saving", "@ResourceLanguaje.Resource.PleaseWait", 300, 130);

                    $.ajax({
                        url: "/RequestExpense/ApprovalAll/" + ids,
                        data: "var=" + Math.random(),
                        type: "GET",
                        dataType: "text",
                        success: function (resp) {
                            closeWinModalPopUpLoad();
                            if(resp=='OK'){
                                winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                                "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.StatusApprovalAll</div>" +
                                "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                                "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                "</div></div>", 400, 140);

                                var undo = $("#continues")
                                .bind("click", function () {
                                    closeWinModalPopUp();
                                });

                                $("#divBandeja").css("top","20px");
                                $("#divCheckAll").css("margin-top","0px");
                                $("#divButtons").css("display","none");
                                var alt = $("#divPrincipal").height();
                                $("#divPrincipal").height(alt - 10);
                                $("#checkAll").prop("checked", false);
                                CargarGrilla();
                            }
                        },
                        error: function (resp) {
                            alert('ERROR');
                        }
                    });
                });

            var undo = $("#btnNO")
                .bind("click", function () {
                    closeWinFormModalPopUp();
                });
        }

    });

    $("#checkAll").click(function () {
        lv= $("#gridRequest").data("kendoListView");
        ds = lv.dataSource;
        data = ds.data();
        nsw = 0;
        if ($("#checkAll").is(':checked')) {
            for(var i=0; i <= data.length - 1; i++){
                idre = data[i].ID_REQU_EXPE;
                if(document.getElementById("idCH" + idre) != null){
                    document.getElementById("idCH" + idre).checked = true;
                    nsw = 1;
                }
            }

            if(nsw == 1){
                $("#divBandeja").css("top","30px");
                $("#divCheckAll").css("margin-top","8px");
                $("#divButtons").css("display","block");
                var alt = $("#divPrincipal").height();
                $("#divPrincipal").height(alt + 10);
            }
            else{
                $("#checkAll").prop("checked", false);
            }
        }
        else{
            for(var i=0; i <= data.length - 1; i++){
                idre = data[i].ID_REQU_EXPE;
                if(document.getElementById("idCH" + idre) != null){
                    document.getElementById("idCH" + idre).checked = false;
                }
            }
            $("#divBandeja").css("top","20px");
            $("#divCheckAll").css("margin-top","0px");
            $("#divButtons").css("display","none");
            var alt = $("#divPrincipal").height();
            $("#divPrincipal").height(alt - 10);
        }
    });

    function AltoPrincipal(alto){
        $("#divPrincipal").height(alto);
    }

    function CargarGrilla(sw){
        $("#checkAll").prop("checked", false);
        $("#divBandeja").css("top","20px");
        $("#divCheckAll").css("margin-top","0px");
        $("#divButtons").css("display","none");

        $("#pagerRequest").empty();
        $("#gridRequest").empty();

        if ($("#gridRequest").data("kendoListView")) {
            $("#pagerRequest").data("kendoPager").destroy();
            $("#gridRequest").data("kendoListView").destroy();
        }
        //------------------------------FILTROS-----------------------------
        var comboboxt = $("#idfiltertype").data("kendoComboBox");
        idt= comboboxt.value();

        var comboboxs = $("#idfilterstatus").data("kendoComboBox");
        ids= comboboxs.value();

        var comboboxr = $("#idfilterrequest").data("kendoComboBox");
        idr= comboboxr.value();

        var cmbID_TYPE_DOCU_SALE = $("#ID_TYPE_DOCU_SALE").data("kendoComboBox");
        ID_TYPE_DOCU_SALEv = cmbID_TYPE_DOCU_SALE.value();
        console.log(ID_TYPE_DOCU_SALEv);

        var nroOP = $("#nroOP").val();
        var codigo = $("#Codigo").val();

        if (!idt)
        {
            idt=0;
        }

        if (!ids)
        {
            ids=0;
        }
        if (!idr)
        {
            idr=0;
        }
        if (!ID_TYPE_DOCU_SALEv)
        {
            ID_TYPE_DOCU_SALEv=0;
        }

        //------------------------------MODIFICACIÓN DE LA URL PARA LOS FILTROS-----------------------------
        //Lista los requerimientos para mostrar en el accountability.
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/RequestExpense/List/?var" + Math.random() + "&idt=" + idt + "&ids=" + ids + "&idr=" + idr + "&nroOP=" + nroOP + "&ID_TYPE_DOCU_SALE=" + ID_TYPE_DOCU_SALEv + "&Codigo=" + codigo,
                    type: "GET",
                    dataType: "json",
                    data: {
                        q: "#kendoui",
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerRequest").kendoPager({
            dataSource: dataSource,
            pageSizes: [10],
            refresh: true,
            change: function () {
                if(document.getElementById("checkAll").checked){
                    var alt = $("#divPrincipal").height();
                    $("#divPrincipal").height(alt - 10);
                }
                document.getElementById("checkAll").checked = false;
                $("#divBandeja").css("top","20px");
                $("#divCheckAll").css("margin-top","0px");
                $("#divButtons").css("display","none");
            }
        });

        $("#gridRequest").kendoListView({ //Llena por primera vez la grilla
            dataSource: dataSource,
            template: kendo.template($("#template").html()),
        });
    }

    function mouseOverBandeja(id) {
        $("#id" + id).css("background-color", "#ffffff");
        $("#idType" + id).css("color", "#000000");
        $("#idStat" + id).css("color", "#000000");
        $("#idUR" + id).css("color", "#000000");
        $("#idUA" + id).css("color", "#000000");
        $("#idJusti" + id).css("color", "#000000");
        $("#idMY" + id).css("color", "#000000");
        $("#idAmount" + id).css("color", "#000000");
    }

    function mouseOutBandeja(id) {
        $("#id" + id).css("background-color", "#f5f5f5");
        $("#idType" + id).css("color", "#808080");
        $("#idStat" + id).css("color", "#808080");
        $("#idUR" + id).css("color", "#808080");
        $("#idUA" + id).css("color", "#808080");
        $("#idJusti" + id).css("color", "#808080");
        $("#idMY" + id).css("color", "#808080");
        $("#idAmount" + id).css("color", "#808080");
    }

    // Evento ingreso al detalle de la solicitud de las cuentas por rendir
    var idree = 0;
    var altMain = 0
    var idTDSus = 0;
    var sttBtn = '';
    function onclickBandeja(id,idreq,req,dlong,app,tim,cod,tip,col,stat,abr,idti,codti,tot,jus,idtds,curr,swxRendir,swRendir,txtmon,amo,op,idop,numday,depdat,dest,ID_DELI_SUST,SwPrint) {
        //location.href = "/#/Details/" + id;
        console.log(idti);
        console.log(tip);

        //if (stat.trim() === "Nueva Solicitud" && tip === "Viatico") {
        //    toastr.warning(tip + ", pendiente de aprobar por <span style='text-transform:capitalize;'>" + app + "</span>.", "Alerta");
        //}
        //else if (stat.trim() === "Aprobado" && tip === "Viatico") {
        //    toastr.warning(tip + ", pendiente de adjuntar documento de depósito.", "Alerta");
        //}
        //else {
            window.open("/DeliverySustain/Details/" + id, "_blank");
            
        //}

        @*idree = id;
        idTDSus = idtds;
        var anc = $("#divBandeja").width();
        altMain = $("#divPrincipal").height();
        sttBtn = $("#divButtons").css("display");

        $("#divCheckAll").css("display","none");
        $("#divButtons").css("display","none");
        $("#divDetails").css("width",(anc - 4) + "px");

        //Moviendo los divs

        //--------------------OCULTA FILTROS----------------------
        //$("#filtros").css("display","none");
        $("#filtros").hide(500);
        //--------------------------------------------------------

        $("#divBandeja").animate({ left: "-" + widthMain + "px" }, 500);
        $("#divDetails").animate({ left: "0px" }, 500);

        $("#divDetailImage").empty();
        $("#divDetailImage").append("<img src='/Content/Fotos/" + idreq + ".jpg' width='60' height='60' />");
        $("#divDetailRequest").empty();
        $("#divDetailRequest").append("<div style='width:100%; float:left;'><span style='text-transform:capitalize;'>@ResourceLanguaje.Resource.FromUser: " + req + "</span><span style='color:#808080;'> (@ResourceLanguaje.Resource.Requester)</span></div>" +
        "<div style='width:100%; float:left;'><span style='text-transform:capitalize;'>@ResourceLanguaje.Resource.Date: " + dlong + "</span> " + tim + "</div>" +
        "<div style='width:100%; float:left;'><span style='text-transform:capitalize;'>@ResourceLanguaje.Resource.ToUser: " + app + "</span><span style='color:#808080;'> (@ResourceLanguaje.Resource.Approves)</span></div>");
        $("#divDetailDetail").empty();
        $("#divDetailDetail").append("<div style='width:100%; font-size:1.3em;'>" + tip + "</div>" +
        "<div style='width:100%; font-size:.85em; color:#808080;'>@ResourceLanguaje.Resource.Code " + cod + "</div>" +
        "<div style='width:100%; font-size:.85em; color:#808080;'>" + stat +"</div>");

        $("#divDetailStatus").empty();
        $("#divDetailStatus").append("<div style='width: 50px; height: 44px; border: 1px solid #f5f5f5; " +
            "background-color: " + col + "; color: white; font-size: 2.2em; text-align: center; padding-top: 3px;'>" + abr + "</div>");

        $("#divDetailBody").empty();
        $("#divDetailBody").append("<div style='width: 30%; float: left; color: #808080; margin-bottom:3px;'>@ResourceLanguaje.Resource.Code Ticket:</div>" +
            "<div style='width: 70%; float: left; margin-bottom: 3px;'><a href='/#/DetailsTicket/Index/" + idti + "' target='_blank' style='text-decoration:none; color:#017ad1;'>" + codti + "</a></div>" +
            "<div style='width: 30%; float: left; color: #808080; margin-bottom:3px;'>@ResourceLanguaje.Resource.OrderForm:</div>" +
            "<div style='width: 70%; float: left; margin-bottom: 3px;'><a href='/#/DocumentSaleActivity/Index/" + idop + "' target='_blank' style='text-decoration:none; color:#017ad1;'>" + op + "</a></div>" +
            "<div style='width: 30%; float: left; color: #808080; margin-bottom: 3px;'>@ResourceLanguaje.Resource.Amount:</div>" +
            "<div style='width: 70%; float: left; margin-bottom: 3px;'>" + tot + "</div>" +
            "<div style='width: 100%; display:none;' id='divDetVia'></div>" +
            "<div style='width: 97%; float: left; margin-bottom: 3px;'><div id='gridDetailsVia'></div></div>" +
            "<div style='width: 100%; float: left; color: #808080; margin-bottom: 3px;'>@ResourceLanguaje.Resource.Justification:</div>" +
            "<div style='width: 94%; float: left; margin-bottom: 3px; padding:3px 5px 3px 5px; border: 1px solid #c3c3c3; overflow-y: auto; height: 74px; text-align:justify;'>" + jus +"</div>"+
            "<div style='width: 97%; float:left; margin:10px 0 10px 0; color:white; display:inline-block;'>" +
                "<div style='width:97%; height:22px; padding:4px 0 0 3%; background-color:#2b5797;'>Actividades</div>"+
                "<div id='divListActivity'></div>" +
            "</div><br />");

        $("#divRendicion").empty();
        $("#divRendicion").append(
            "<div style='width: 100%; float:right; margin:0 0 0 0; color:white; display:inline-block;'>" +
                "<div class='divTitleDocuments'>Documentos" +
                    "<div id='divButtonPri' class='divButtomPrint' title='@ResourceLanguaje.Resource.BtnPrint' onclick='PrintDeliSust(" + ID_DELI_SUST + ")'></div>" +
                    "<div id='divButtonRej' class='divButtomReject' title='@ResourceLanguaje.Resource.RejectAccountability' onclick='RejectAccountability(" + id + ")'></div>" +
                    "<div id='divButtonVal' class='divButtomVal' title='@ResourceLanguaje.Resource.ValidateAccountability' onclick='Accountability(" + id + ",\"" + tip + "\",\"" + cod + "\",\"" + txtmon + "\"," + amo + ",\"" + curr + "\")'></div>" +
                    "<div id='divButtonRec' class='divButtomReceive' title='@ResourceLanguaje.Resource.ReceptionRequest' onclick='ReceptionRequest(" + id + ",\"" + tip + "\",\"" + cod + "\",\"" + txtmon + "\"," + amo + ",\"" + curr + "\")'></div>" +
                    "<div id='divButtonNew' class='divButtomAdd' title='@ResourceLanguaje.Resource.NewDocument' onclick='NewDocument(" + id + ",\"" + curr + "\")'></div>" +
                "</div>" +

                "<div id='divDocuments'></div>" +
            "</div>");

        //Ocultando Boton
        if(swxRendir){
            $("#divButtonNew").css("display","block");
            $("#divButtonRec").css("display","block");
        }
        else{
            $("#divButtonNew").css("display","none");
            $("#divButtonRec").css("display","none");
            $("#divButtonRej").css("display","none");
        }

        if(swRendir){
            $("#divButtonVal").css("display","block");
            $("#divButtonRej").css("display","block");
        }
        else{
            $("#divButtonVal").css("display","none");
            $("#divButtonRej").css("display","none");
        }

        if(SwPrint){
            $("#divButtonPri").css("display","block");
        }
        else{
            $("#divButtonPri").css("display","none");
        }

        //Cargando Detalle de Viatico
        if(idtds==2){
            LoadDetailViatical(id);
            $("#divDetVia").append("<div style='width: 30%; float: left; color: #808080; margin-bottom:3px;'>@ResourceLanguaje.Resource.NumberDays:</div>" +
                "<div style='width: 70%; float: left; margin-bottom: 3px;'>" + numday + "</div>" +
                "<div style='width: 30%; float: left; color: #808080; margin-bottom: 3px;'>@ResourceLanguaje.Resource.DepartureDate:</div>" +
                "<div style='width: 70%; float: left; margin-bottom: 3px;'>" + depdat + "</div>" +
                "<div style='width: 30%; float: left; color: #808080; margin-bottom: 3px;'>@ResourceLanguaje.Resource.Destination:</div>" +
                "<div style='width: 70%; float: left; margin-bottom: 6px;'>" + dest + "</div>");
            $("#divDetVia").css("display","block");
        }
        //Cargando Lista de actividades
        LoadActivity(id);
        //Cargando Documentos asociados
        LoadDocuments(id);*@
    }

    function PrintDeliSust(id){
        window.open('/Reporting/WF_ReportAccountability.aspx?id=' + id, '_blank');
    }

    function RejectRequest(id){
        var altu = 140;

        $("#lblTitulo").text("@ResourceLanguaje.Resource.RejectRequest");
        $(".idReject").attr("data-style", "expand-right");
        $(".idReject").attr("data-toggle", "modal");
        $(".idReject").attr("data-target", "#miModal");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-md");
        $('#modal-content').empty();

        $("#modal-content").append("<form  method='post' id='FormRejectRequest' name='FormRejectRequest' target = 'ut_rejectrequest'>" +
                                      "<div class='modal-body'>"+
                                       "<div style='font-size:1em;'>" +
                                         "<div style='width:100%; display:inline-block; text-transform:capitalize;'>" +
                                                "<div style='height:" + (altu - 31 - 51) +"px;'>" +
                                                    "<div style='width:95%; margin:0 auto;'>" +
                                                        "<div style='width:100%; display:inline-block; text-align:justify;'>" +
                                                            "<span style='float:left; width:100%;'>@ResourceLanguaje.Resource.RejectRequestMsn</span>" +
                                                            "<div style='float:left; width:100%;'>" +
                                                                "<div class='k-textbox' style='width:100%;'>" +
                                                                    "<input type='text' name='REASON_REJECT' id='REASON_REJECT' />" +
                                                                    "</div>" +
                                                            "</div>" +
                                                        "</div>" +
                                                    "</div>" +
                                                "</div>" +
                                          "</div>" +
                                       "</div>"+
                                     "</div>");

        $("#modal-content").append("<div class='modal-footer'>"+
                                       "<div style='width:100%;'>" +
                                         "<div style='width:100%; display:inline-block;'>" +
                                                    "<div style='width:95%; margin:0 auto; text-align:right;'>" +
                                                        "<div style='width:100%;'>" +
                                                            "<button id='btnYesRejReq' class='k-button' style='font-size:.9em;'>@ResourceLanguaje.Resource.Yes</button>" +
                                                            "&nbsp;&nbsp;<button id='btnNORejReq' class='k-button' style='font-size:.9em;'>No</button>" +
                                                        "</div>" +
                                                    "</div>" +
                                                "</div>" +
                                            "</form>" +
                                            "<iframe id='ut_rejectrequest' name='ut_rejectrequest' src='' style='width:0px;height:0px;border-width:0px;display:none;'></iframe>"+
                                       "</div>"+
                                   "</div>");

        var undo = $("#btnYesRejReq")
            .bind("click", function () {
                $.ajax({
                    url: "/RequestExpense/RejectRequest/" + id,
                    data: $("#FormRejectRequest").serialize()+"&var=" + Math.random(),
                    type: "POST",
                    success: function (resp) {
                        if(resp=='OK'){
                            toastr.success("@ResourceLanguaje.Resource.StatusReject", "@ResourceLanguaje.Resource.InformationSaved");
                            $("[data-dismiss=modal]").trigger({ type: "click" });
                            CargarGrilla();
                        }else if(resp=='ERROR1'){
                            toastr.warning("@ResourceLanguaje.Resource.ReasonReject","@ResourceLanguaje.Resource.InformationSaved");


                        }else if(resp=='ERROR2'){
                            toastr.warning("Change Status","@ResourceLanguaje.Resource.InformationSaved");

                        } else if(resp=='ERROR3'){
                            toastr.warning("The request not exist","@ResourceLanguaje.Resource.InformationSaved");

                        }
                        else {
                            toastr.error("Error in the Transaction","@ResourceLanguaje.Resource.InformationSaved");

                        }
                    }
                });
            });

        var undo = $("#btnNORejReq")
            .bind("click", function (event) {
                event.preventDefault();
                $("[data-dismiss=modal]").trigger({ type: "click" });
            });
    }

    function ReceptionRequest(id,tip,cod,txtmon,amo,curr){
        moneda = txtmon;
        ttSolicitado = amo;
        ttRendido = 0;
        devol = amo;
        reint = 0;
        if(curr=='MN'){curr='S/.'}
        else{curr='US$'}

        lv= $("#gridDocument").data("kendoListView"); //Muestra los montos rendidos.
        ds = lv.dataSource;
        data = ds.data();
        if(data[0] != null){
            devol = 0;
            for(var i=0; i <= data.length - 1; i++){
                if(data[i].ID_TYPE_DOCU_EXPE != 5 && data[i].ID_TYPE_DOCU_EXPE != 6){
                    ttRendido = ttRendido + data[i].TotalAcco;
                }
            }
            if(ttSolicitado > ttRendido){ devol = ttSolicitado - ttRendido; }
            if(ttSolicitado < ttRendido){ reint = ttRendido - ttSolicitado; }
        }

        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">'+
                                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+
                                           '<h2 class="modal-title" style="font-weight:bold;">Solicitud de Recepción</h2>'+
                                      '</div>');

        $("#ModalContentAll").append("<div class='modal-body'>"+
                                       "<div style='font-size:1em;'>" +
                                          "<div style='width:100%; display:inline-block; text-transform:capitalize;'>" +
                                            "<div style='width:28%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Type:</div>" +
                                            "<div style='width:72%; float:left;'>" + tip + "<span style='font-size: .95em; color: #808080;'> (@ResourceLanguaje.Resource.Code: " + cod + ")</span></div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>Total:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + ttSolicitado.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Accountability:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + ttRendido.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>Devolución:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + devol.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>Devolución al trabajador:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + reint.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:100%; float:left; margin-top:10px; color:#444444;  text-transform:none;'>@ResourceLanguaje.Resource.ReceptionRequestMsn</div>" +
                                        "</div>" +
                                       "</div>"+
                                     "</div>");

        $("#ModalContentAll").append("<div class='modal-footer'>"+
                                       "<div style='width:100%;'>" +
                                          "<div style='width:95%; margin:0 auto; text-align:right;'>" +
                                             "<div style='width:100%; margin-top:10px;'>" +
                                                  "<button id='btnYesRec' class='k-button' style='font-size:.9em;'>@ResourceLanguaje.Resource.Yes</button>" +
                                                  "&nbsp;&nbsp;<button id='btnNORec' class='k-button' style='font-size:.9em;'>No</button>" +
                                                "</div>" +
                                         "</div>" +
                                      "</div>"+
                                  "</div>");
        var undo = $("#btnYesRec")
            .bind("click", function () {

                $('#myModalLoading').modal('show');

                $.ajax({
                    url: "/RequestExpense/ReceptionRequest/" + id,
                    data: "var=" + Math.random(),
                    type: "GET",
                    dataType: "text",
                    success: function (resp) {
                        $('#myModalLoading').modal('hide');

                        if(resp=='OK'){
                            $('#SmallModalContent').modal('show');
                            $("#SmallModalTitle").empty();
                            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationSaved");
                            $("#SmallModalBody").empty();
                            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.ReceptionRequestMsnOK</div>");
                            $("#SmallModalFooter").empty();
                            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                                              "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                                       "</div>");
                            var undo = $("#continues")
                            .bind("click", function () {
                                $('#SmallModalContent').modal('hide');
                                $('#ModalContent').modal('hide');
                            });
                            CargarGrilla();
                            returnBandeja();
                        }
                    },
                    error: function (resp) {
                        alert('ERROR');
                    }
                });
            });

        var undo = $("#btnNORec")
            .bind("click", function () {
                $('#ModalContent').modal('hide');
            });
    }

    function Accountability(id,tip,cod,txtmon,amo,curr){
        moneda = txtmon;
        ttSolicitado = amo;
        ttRendido = 0;
        devol = 0;
        reint = 0;
        if(curr=='MN'){curr='S/.'}
        else{curr='US$'}

        lv= $("#gridDocument").data("kendoListView");
        ds = lv.dataSource;
        data = ds.data();
        for(var i=0; i <= data.length - 1; i++){
            console.log(data[i].ID_TYPE_DOCU_EXPE);
            console.log(data[i].TotalAcco);
            if(data[i].ID_TYPE_DOCU_EXPE != 5 && data[i].ID_TYPE_DOCU_EXPE != 6){
                ttRendido = ttRendido + data[i].TotalAcco;
            }
        }
        if(ttSolicitado > ttRendido){ devol = ttSolicitado - ttRendido; }
        if(ttSolicitado < ttRendido){ reint = ttRendido - ttSolicitado; }

        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">'+
                                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+
                                           '<h2 class="modal-title" style="font-weight:bold;">@ResourceLanguaje.Resource.ReceptionRequest</h2>'+
                                      '</div>');

        $("#ModalContentAll").append("<div class='modal-body'>"+
                                       "<div style='font-size:1em;'>" +
                                         "<div style='width:100%; display:inline-block; text-transform:capitalize;'>" +
                                            "<div style='width:28%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Type:</div>" +
                                            "<div style='width:72%; float:left;'>" + tip + "<span style='font-size: .95em; color: #808080;'> (@ResourceLanguaje.Resource.Code: " + cod + ")</span></div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>Total:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + ttSolicitado.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Accountability:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + ttRendido.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Devolution:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + devol.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:28%; float:left; color:#444444;'>@ResourceLanguaje.Resource.Reinstantement:</div>" +
                                            "<div style='width:72%; float:left;'>" + curr + " " + reint.toFixed(2) + " " + moneda + "</div>" +
                                            "<div style='width:100%; float:left; margin-top:10px; color:#444444;  text-transform:none;'>@ResourceLanguaje.Resource.AccountabilityMsn</div>" +
                                          "</div>" +
                                       "</div>"+
                                     "</div>");

        $("#ModalContentAll").append("<div class='modal-footer'>"+
                                       "<div style='width:100%;'>" +
                                          "<div style='width:95%; margin:0 auto; text-align:right;'>" +
                                             "<div style='width:100%;'>" +
                                               "<button id='btnYesVal' class='k-button' style='font-size:.9em;'>@ResourceLanguaje.Resource.Yes</button>" +
                                               "&nbsp;&nbsp;<button id='btnNOVal' class='k-button' style='font-size:.9em;'>No</button>" +
                                            "</div>" +
                                         "</div>" +
                                      "</div>"+
                                  "</div>");

        var undo = $("#btnYesVal")
            .bind("click", function () {

                $('#myModalLoading').modal('show');

                $.ajax({
                    url: "/RequestExpense/ValidateRequest/" + id,
                    data: "var=" + Math.random(),
                    type: "GET",
                    dataType: "text",
                    success: function (resp) {
                        $('#myModalLoading').modal('hide');

                        if(resp=='OK'){
                            $('#SmallModalContent').modal('show');
                            $("#SmallModalTitle").empty();
                            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationSaved");
                            $("#SmallModalBody").empty();
                            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.PettyCashRendered</div>");
                            $("#SmallModalFooter").empty();
                            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                                              "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                                       "</div>");

                            var undo = $("#continues")
                            .bind("click", function () {
                                $('#SmallModalContent').modal('hide');
                                $('#ModalContent').modal('hide');
                            });
                            CargarGrilla();
                            returnBandeja();
                        }else if(resp=='Error Transaction')  {

                            $('#SmallModalContent').modal('show');
                            $("#SmallModalTitle").empty();
                            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.Warning");
                            $("#SmallModalBody").empty();
                            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>Error Saving Data</div>");
                            $("#SmallModalFooter").empty();
                            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                                              "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                                       "</div>");
                            var undo = $("#continues")
                            .bind("click", function () {
                                $('#SmallModalContent').modal('hide');
                            });
                            CargarGrilla();
                            returnBandeja();
                        }
                    },
                    error: function (resp) {
                        alert('ERROR');
                    }
                });
            });

        var undo = $("#btnNOVal")
            .bind("click", function () {
                $('#ModalContent').modal('hide');
            });
    }

    function NewDocument(id,curr){
        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">'+
                                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+
                                           '<h2 class="modal-title" style="font-weight:bold;">Nuevo Documento</h2>'+
                                      '</div>');

        $("#ModalContentAll").append('<div id="FormNewDocument"></div>');
        $("#FormNewDocument").load("/DocumentExpense/viewNewPettyCash?var=" + Math.random() + "&id=" + id + "&id1=" + curr);
        return false;
    }

    function LoadDocuments(id){
        $("#divDocuments").empty();
        $("#divDocuments").load("/DocumentExpense/viewDocumentsPettyCash?id=" + id + "&var=" + Math.random());
    }

    function LoadDetailViatical(id){

        var dsGrid = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/RequestViatical/ListDetailViatical?id=" + id + "&var=" + Math.random(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        q: "#kendoui",
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: "Data",
                total: "Count",
                model: {
                    fields: {
                        NAM_TYPE_VIAT: { type: "string" },
                        AMOUNT: { type: "number" },
                    }
                }
            },
            aggregate: [{ field: "NAM_TYPE_VIAT", aggregate: "count" },
                        { field: "AMOUNT", aggregate: "sum" }]
        });

        $("#gridDetailsVia").kendoGrid({
            dataSource: dsGrid,
            resizable: false,
            columns: [
                {
                    field: "NAM_TYPE_VIAT", title: "@ResourceLanguaje.Resource.Type",
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: left; font-size: 12px"
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 12px;"
                    },
                    footerTemplate: "<div style='text-align:right; width:100%; font-weight:normal;'>Total:</div>"
                },
                {
                    field: "AMOUNT", title: "@ResourceLanguaje.Resource.Amount", format: "{0:N2}", width: 80,
                    attributes: {
                        "class": "table-cell",
                        style: "text-align: right; font-size: 12px"
                    },
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-size: 12px;"
                    },
                    footerTemplate: "<div style='text-align:right; width:100%; font-weight:normal;'>#= kendo.format('{0:N2}',sum) #</div>"
                }
            ],
        });
    }

    function LoadActivity(id){
        var dsLV = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/RequestExpenseActivity/ListActivity?id=" + id + "&var" + Math.random(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        q: "#kendoui",
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#divListActivity").kendoListView({
            dataSource: dsLV,
            template: kendo.template($("#tpt_ListActivity").html()),
            dataBound: function() {
                var altDet = 325 + (dsLV.data().length * 45);
                if(idTDSus == 2){
                    altDet = altDet + 215;
                }
                altMain = $("#divPrincipal").height();
                $("#divPrincipal").height(altDet);
                //Detecta barra vertical y ajusta el visor del detalle
                altdoc = $(document).height();
                altwin = $(window).height();
                var anc = $("#divDetails").width();
                console.log(altMain);
                console.log(altdoc);
                console.log(altwin);
                if(altMain + 190 < altwin){
                    console.log('1');
                    if (altdoc < altwin) {
                        $("#divDetails").css("width", (anc + 15) + "px");
                    }
                    if (altdoc > altwin) {
                        $("#divDetails").css("width", (anc - 15) + "px");
                    }
                }
                else{
                    console.log('2');
                    if (altdoc == altwin) {
                        $("#divDetails").css("width", (anc + 15) + "px");
                    }
                }
            }
        });

        $("#divListActivity").kendoTooltip({
            filter: "a",
            content: kendo.template($("#tpt-tootip").html()),
            width: 250,
            position: "top",
            animation: {
                open: {
                    effects: "fade:in"
                }
            }
        }).data("kendoTooltip");

        $("#divListActivity").find("a").click(false);
    }

    function returnBandeja(){


        //--------------MUESTRA NUEVAMENTE LOS FILTROS------------------------
        $("#filtros").show(500);

        //$("#filtros").css("display","block");
        //---------------------------------------------------------------------

        $("#divDetails").animate({ left: widthMain + "px" }, 500);

        $("#divBandeja").animate({ left: "0px" }, 500,function(){
            $("#divCheckAll").css("display","block");


            if(altMain != 0){
                $("#divPrincipal").height(altMain);
            }
            if(sttBtn=='block'){
                $("#divBandeja").css("top","30px");
                $("#divCheckAll").css("margin-top","8px");
                $("#divButtons").css("display","block");
                var alt = $("#divPrincipal").height();
                $("#divPrincipal").height(alt + 10);
            }
        });
    }


        function Exportar() {
            $("#FrmRequestExpenseIndex").submit();
        }

</script>

<script id="tpt-tootip" type="text/x-kendo-template">
    <div style="width:100%; text-align:justify;">#=target.data('title')#</div>
</script>

<script type="text/javascript">

    function uploadDoneMsn(msg, msnErr) {
        //$('#myModalLoading').modal('hide');
        var btnCerrar = document.getElementById("closeModal");
        btnCerrar.click()
        //closeWinModalPopUpLoad();

        if (msg == 'OK PettyCash') {
            toastr.success("@ResourceLanguaje.Resource.PettyCashMsn00", "@ResourceLanguaje.Resource.InformationSaved");
            CargarGrilla(this)
            @*$('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationSaved");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.PettyCashMsn00</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                       "</div>");
            var undo = $("#continues")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                $('#ModalContent').modal('hide');
            });

            $("#closebtnmodal").click(function () {
                $('#SmallModalContent').modal('hide');
            });*@

            LoadDocuments(idree);
        }
        else if (msg == 'OK Reject') {

            closeWinFormModalPopUp();
            $('#ModalContent').modal('hide');
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationSaved");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                       "</div>");
            var undo = $("#continues")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
            });

            CargarGrilla();
            returnBandeja();
        }
        else if (msg == 'OK Payment') {
            toastr.success("@ResourceLanguaje.Resource.InformationSaved", "@ResourceLanguaje.Resource.InformationSaved");
            CargarGrilla(this)
            @*$('#ModalContent').modal('hide');
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationSaved");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                       "</div>");
            var undo = $("#continues")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                $('#ModalContent').modal('hide');
            });
            CargarGrilla();*@
        }
            @*else if (msg == 'OK Closure') {
            closeWinFormModalPopUp();

            $('#ModalContent').modal('show');
            $("#ModalTitle").empty();
            $("#ModalTitle").text("@ResourceLanguaje.Resource.InformationSaved");
            $("#ModalBody").empty();
            $("#ModalBody").append( "<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#ModalFooter").empty();
            $("#ModalFooter").append( "<div style='float:right;'>" +
                                              "<button id='contiClose' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                       "</div>");*@

            //    var undo = $("#contiClose")
            //    .bind("click", function () {
            //        $('#ModalContent').modal('hide');
            //        //closeWinModalPopUp();
            //    });

            //    $('#divGridClosure').data('kendoGrid').dataSource.read();
            //    $('#divGridClosure').data('kendoGrid').refresh();

            //}
        else {

            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationMissing");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continues' class='k-button'>@ResourceLanguaje.Resource.Continue</button>" +
                                       "</div>");
            var undo = $("#continues")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
            });
        }
    }
</script>



