@model ERPElectrodata.Models.DOCUMENT_EXPENSE

@{
    Layout = null;
}
@*
    NEW SUSTAIN
*@
<div id="tabstrip" style="margin-top:5px;">
    <ul>
        <li class="k-state-active">
            @ResourceLanguaje.Resource.PettyCash
        </li>
        <li>
            @ResourceLanguaje.Resource.Viatical
        </li>
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#tabstrip").kendoTabStrip({
            animation: { open: { effects: "fadeIn" } },
            contentUrls: [
                        '/DocumentExpense/viewNewPettyCash',
                        '/DocumentExpense/viewNewViatical',
            ]
        });       

    });
</script>

<script type="text/javascript">

    function LoadListDocWithoutApp() {
        $("#idListDocWithoutApp").empty();
        $("#idListDocWithoutApp").load("/DocumentExpense/viewDocumentWithoutApproval?var=" + Math.random(), function () {
            var alt = $("#divBodyForm").height();
            alt = alt - 67;
            $("#gridDocument").css("height", alt + "px");
        });
    }

    function LoadListViaWithoutApp(id) {
        $("#idListViaWithoutApp").empty();
        $("#idListViaWithoutApp").load("/DocumentExpense/viewDocuViaticalWithoutApproval?id=" + id + "&var=" + Math.random(), function () {
            var alt = $("#divFormVia").height();
            alt = alt - 163;
            $("#gridDocuVia").css("height", alt + "px");
        });
    }

    function uploadDoneMsn(msg, msnErr) {
        closeWinModalPopUpLoad();
        if (msg == 'OK PettyCash') {

            winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:5px 12px 10px 10px; font-size:1em; height:23px;'>@ResourceLanguaje.Resource.PettyCashMsn00</div>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continue</button>" +
           "</div></div>"
             , 400, 140);

            var undo = $("#continues")
            .bind("click", function () {
                closeWinModalPopUp();
            });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
            });
            
            document.FormNewPettyCash.reset();
            LoadListDocWithoutApp();
        }
        else if (msg == 'OK Viatical') {

            winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:5px 12px 10px 10px; font-size:1em; height:23px;'>@ResourceLanguaje.Resource.PettyCashMsn00</div>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continue</button>" +
           "</div></div>"
             , 400, 140);

            var undo = $("#continues")
            .bind("click", function () {
                closeWinModalPopUp();
            });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
            });

            $("#DOC_DATE_V").val('');
            $("#DOC_SERI_V").val('');
            $("#DOC_NUMB_V").val('');
            $("#SUPPLIER_V").val('');
            $("#REASON_MOB_V").val('');
            $("#DESTINATION_V").val('');
            var AMOUNT_V = $("#AMOUNT_V").data("kendoNumericTextBox");
            AMOUNT_V.value('');
                       
            var ID_DELI_SUST = $("#ID_DELI_SUST_V").data("kendoComboBox");

            LoadListViaWithoutApp(ID_DELI_SUST.value());
            ID_DELI_SUST.setDataSource(ID_DELI_SUST.dataSource);
            ID_DELI_SUST.refresh();           

        }
        else {
            winPopUpModal("@ResourceLanguaje.Resource.InformationMissing", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
               "<div style='padding:5px 12px 10px 10px; font-size:1em; height:23px;'>" + msnErr + "</div>" +
                   "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                   "<button id='continuee' class='k-button'>Continue</button>" +
                   "</div></div>"
                   , 400, 140);

            var undo = $("#continuee")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }

</script>