@model ERPElectrodata.Models.ABSENCE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>

<body>

    <style type="text/css">
        #divNewAbstence{
            padding:0px 15px 10px 15px;
        }
        #divTitleNewAbsence{
            cursor:pointer;
        }
    </style>
    
    <style type="text/css">
        a{
            text-decoration:none;
        }
    </style>
    
    <div class="contentView">
        <div style="float:left;width:60%">
            <div class="titleForm" onclick="ActionEC(this)" id="divTitleNewAbsence"><div class="title">New Absence</div></div>
            <div class="bodyForm frameHidden" id="divNewAbsenceCont">
                <div class="inBodyForm" id="divNewAbstence">
                    @using (Html.BeginForm("Create", "Absence", FormMethod.Post, new { id = "FormAbsence", target = "upload_target" }))
                {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            <legend>ABSENCE</legend>

                            <div class="divFondoUno">
                                <div class="divCont3">
                                    <div class="editor-label">
                                        Employee
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.ID_PERS_ENTI)
                                        @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        Type Absence
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.ID_TYPE_ABSE)
                                        @Html.ValidationMessageFor(model => model.ID_TYPE_ABSE)
                                    </div>
                                </div>
                            </div>

                            <div class="divFondoUno">
                                <div class="divCont3">
                                    <div class="editor-label">
                                        Since Date
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.SIN_DATE)
                                        @Html.ValidationMessageFor(model => model.SIN_DATE)
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        To Date
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.TO_DATE)
                                        @Html.ValidationMessageFor(model => model.TO_DATE)
                                    </div>
                                </div>
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="editor-label">
                                        Return Date
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.RET_DATE)
                                        @Html.ValidationMessageFor(model => model.RET_DATE)
                                    </div>
                                </div>
                            </div>
                            <div class="divFondoUno">
                                <div class="editor-label">
                                    Summary
                                </div>
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.SUM)
                                    @Html.ValidationMessageFor(model => model.SUM)
                                </div>
                            </div>

                            <div style="float:right;display:block;margin-right:-2px;margin-top:5px;">
                                <button class="k-button" id="subNewAbsence">Create</button>
                            </div>
                        </fieldset>
                }
                    <iframe id="upload_target" name="upload_target" src="" class="frameHidden"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>

    <div class="contentView" style="clear: both; border: none;" id="listAbsence">
    </div>

    <div class="contentViewPager" id="pagerAbsence">
    </div>

</body>
</html>

<style>
    .panel {
        margin-bottom: 5px;
        width: 100%;
        min-height: 110px;
        background: #eaeaea;
        /*background-color:white;*/
    }
    .panelHeading{
        display:block;
        padding:20px;
    }
    .row1{
        width:100%;
        display:inline-block
    }
        .row1 .image {
            height: 64px;
            width:64px;
            float: left;
            padding:0px 10px 0px 10px;
        }
        .row1 .text {
            height: 64px;
            float: left;
        }
        .row2{
            width:100%;
            display:inline-block;
        }
    .block {
        float: left;
        color: #77818e;
    }
    .block-right {
        float: right;
        color: #111;
    }
    .rowEmployee {
        font-size: 13px;
        color: #111;
    }
</style>

<script type="text/x-kendo-tmpl" id="templateAbsence">
    <div class="panel">
        <div class="panelHeading">
        <div class="row1">
            <div class="image"><img src="/Content/Fotos/${EMP_ABSE_FOTO}.jpg" width="64px;" /></div>
            <div class="block">
                <div class="rowEmployee">${EMP_ABSE}</div>
                <div class="row2">
                    <div class="block">${NAM_TYPE_ABSE}</div>
                    <div class="block">&nbsp;| Since: ${SIN_DATE}</div>
                    <div class="block">&nbsp;| To: ${TO_DATE}</div>
                    <div class="block">&nbsp;| Return: ${RET_DATE}</div>
                </div>
                <div>#= SUM #</div>
            </div>
            <div class="block-right">
                <div style="clear:both;">
                    <div style="font-size:30px">
                        ${NUM_DAYS}
                    </div>
                    <div>Days</div>
                </div>
                
            </div>
        </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SIN_DATE").kendoDatePicker();
        $("#TO_DATE").kendoDatePicker();
        $("#RET_DATE").kendoDatePicker();
        $("#SUM").kendoEditor();

        var ID_TYPE_ABSE = $("#ID_TYPE_ABSE").kendoComboBox({
            dataTextField: "NAM_TYPE_ABSE",
            dataValueField: "ID_TYPE_ABSE",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAbsence/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_TYPE_ABSE = $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "UserUpper",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TalentChart/ListStaffED?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#subNewAbsence").click(function () {
            winPopUpModalLoad('Saving Absence', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
        });

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Absence/List?var" + Math.random(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        q: "#kendoui",
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerAbsence").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 65],
            refresh: true
        });

        $("#listAbsence").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#templateAbsence").html()),
        });

    });
</script>

<script type="text/javascript">
    var i = 0;
    function ActionEC(x) {

        if (i == 0) {
            i = 1;
            $("#divNewAbsenceCont").removeClass("frameHidden");
        }
        else {
            i = 0;
            $("#divNewAbsenceCont").addClass("frameHidden");
        }
    }

    function uploadDone(msg, code, text) {
        closeWinModalPopUpLoad();
        if (msg == "OK") {
            var title = '@ResourceLanguaje.Resource.InformationSaved ';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                    + "<div style='padding:10px 0px 10px 0px;'>Absence information was succesfully saved</div>"
                    + "<div style='padding:10px 0px 10px 0px;'>Code Absence: " + code + "</div>" +
                    //+ "The notification was succesfully sent to: <br>End User, Staff, Service Desk and IT Coordinator.<br>" +
                    "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                    "<button id='btnContinues' class='k-button'>Continue</button>" +
                    "</div></div>";

            winPopUpModal(title, body, 400, 180);

            $("#closebtnmodal").click(function () {
                
                $("#divSubContent").empty();
                $("#divSubContent").load("/Absence/Create?var=" + Math.random());
                //location.reload(true);
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });

            });

            $("#btnContinues").click(function () {

                $("#divSubContent").empty();
                $("#divSubContent").load("/Absence/Create?var=" + Math.random());
                //location.reload(true);
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });
            });
        }
        else {
            var title = '@ResourceLanguaje.Resource.InformationMissing';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>" + text + "</div>" +
                "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                "<button id='btnContinuee' class='k-button'>Continue</button>" +
                "</div></div>";
            winPopUpModal(title, body, 400, 150);
            $("#btnContinuee").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });
            });
        }
    }

</script>
