@model  List<ERPElectrodata.Models.ListarTareasPorUsuario_Result>

@foreach (var tarea in Model)
{
    <tr role="row" class="odd" style="cursor:pointer" onclick="AbrirTarea(@tarea.IdTick)">
        <td class="sorting_1">@tarea.CodTarea</td>
        <td>@tarea.FechaCreacion</td>
        <td>@tarea.Titulo</td>
        <td>@tarea.UsuarioAfectado</td>
        <td>@tarea.AreaResponsable</td>
        <td>@tarea.Usuario</td>
    </tr>
}

<script>
    function AbrirTarea(e) {
        window.open("/DetailsTicket/Index/" + e)
    }
</script>