@model  List<ERPElectrodata.Models.ListarTicketGrupoPorUsuario_Result>

@foreach (var ticket in Model)
{
    <tr role="row" class="odd" style="cursor:pointer" id="btnAsignarTicket-@ticket.ID_TICK" onclick="asignarTicket(@ticket.ID_TICK)">
        <td class="sorting_1">@ticket.ID_TICK</td>
        <td>@ticket.FEC_TICK</td>
        <td>@ticket.TITLE_TICK</td>
        <td>@ticket.RequeridoPor</td>
        <td>@ticket.ResolutorAsignado</td>
        <td>@ticket.Sede</td>
    </tr>
}

<script>
    function asignarTicket(id) {

        $("#lblTituloTicket").text("Asignar Ticket");
        $("#btnAsignarTicket-" + id).attr("data-style", "expand-right");
        $("#btnAsignarTicket-" + id).attr("data-toggle", "modal");
        $("#btnAsignarTicket-" + id).attr("data-target", "#miModalTicket");
        $("#miModalTicketDialog").addClass("modal-xl");
        $('#modal-contentTicket').empty();
        $('#modal-contentTicket').load('/Ticket/EditarPreTicketBnv/' + id);
    }
</script>