<div class="card">
    <div class="card-header">
        <ul class="nav ">
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-1" class="nav-link active show">Mis casos</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-0" class="nav-link  show" onclick="cargarMisGrupos()">Mis grupos</a></li>
            @if (ViewBag.PuedeVerMisTickets == "true")
            {
                <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-2" class="nav-link  show" onclick="cargarMisTickets()">Mis tickets</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-3" class="nav-link  show" onclick="cargarPortalUsuario()">Portal Usuario</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-4" class="nav-link  show" onclick="cargarAppItms()">App ITMS</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-5" class="nav-link  show" onclick="cargarAppTeams()">App Teams</a></li>
            }
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg7-6" class="nav-link  show" onclick="cargarMisTareas()">Mis tareas</a></li>

        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active show" id="tab-eg7-1" role="tabpanel">
                <div id="ticketGen">
                    @Html.Action("_General", "Home")
                </div>
            </div>
            <div class="tab-pane  show" id="tab-eg7-0" role="tabpanel">
                @Html.Action("_Buenaventura_Grupos", "Home")
            </div>
            @if (ViewBag.PuedeVerMisTickets == "true")
            {
                <div class="tab-pane  show" id="tab-eg7-2" role="tabpanel">
                    @Html.Action("_Buenaventura_MisTickets", "Home")
                </div>
                <div class="tab-pane  show" id="tab-eg7-3" role="tabpanel">
                    @Html.Action("_Buenaventura_PortalUsuario", "Home")
                </div>
                <div class="tab-pane  show" id="tab-eg7-4" role="tabpanel">
                    @Html.Action("_Buenaventura_AppItms", "Home")
                </div>
                <div class="tab-pane  show" id="tab-eg7-5" role="tabpanel">
                    @Html.Action("_Buenaventura_Teams", "Home")
                </div>
            }
            <div class="tab-pane  show" id="tab-eg7-6" role="tabpanel">
                @Html.Action("_Buenaventura_MisTareas", "Home")
            </div>

        </div>
    </div>
</div>
<script>
    //Carga bajo demanda
    var cargoMisGrupos = false
    var cargoMisTickets = false
    var cargoPortalUsuario = false
    var cargoAppItms = false
    var cargoAppTeams = false
    var cargoMisTareas = false

    function startCargarTickets() {
        cargaInicialCasos()
    }
    function cargaInicialCasos() {
        cargaInicialGeneralActivosTickets()
        cambioPaginaProgramados(1)
        cambioPaginaResueltos(1)
        cambioPaginaCerrados(1)
    }
    function cargaInicialGrupos() {
        cambioPaginaGrupoActivos(1)
        cambioPaginaGrupoProgramados(1)
        cambioPaginaGrupoResueltos(1)
        cambioPaginaGrupoCerrados(1)
    }
    function cargaInicialMisTickets() {
        cambioPaginaMisTicketsActivos(1)
        cambioPaginaMisTicketsProgramados(1)
    }
    function cargaInicialPortalUsuario() {
        cambioPaginaPortalUsuario(1)
    }
    function cargaInicialAppItms() {
        cambioPaginaAppItms(1)
    }
    function cargaInicialTeams() {
        cambioPaginaAppTeams(1)
    }
    function cargaInicialMisTareas() {
        cambioPaginaMisTareasActivos(1);
        cambioPaginaMisTareasProgramados(1);
        cambioPaginaMisTareasResueltos(1);
    }
    function cargarMisGrupos() {
        if (!cargoMisGrupos) {
            cargaInicialGrupos()
            cargoMisGrupos = true
        }
    }
    function cargarMisTickets() {
        if (!cargoMisTickets) {
            cargaInicialMisTickets()
            cargoMisTickets = true
        }
    }
    function cargarPortalUsuario() {
        if (!cargoPortalUsuario) {
            cargaInicialPortalUsuario()
            cargoPortalUsuario = true
        }
    }
    function cargarAppItms() {
        if (!cargoAppItms) {
            cargaInicialAppItms()
            cargoAppItms = true
        }
    }
    function cargarAppTeams() {
        if (!cargoAppTeams) {
            cargaInicialTeams()
            cargoAppTeams = true
        }
    }
    function cargarMisTareas() {
        if (!cargoMisTareas) {
            cargaInicialMisTareas();
            cargoMisTareas = true;
        }
    }

</script>