<div id="content">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="cambioEstadoMisTareasBnv('activoMTBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Activos</div>
                        <div class="widget-subheading">Total @ViewBag.TaActivo</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.TaActivo</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="cambioEstadoMisTareasBnv('programadoMTBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Programados</div>
                        <div class="widget-subheading">Total @ViewBag.TaProgramado</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.TaProgramado</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-success btn" id="homInc3" onclick="cambioEstadoMisTareasBnv('resueltoMTBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resueltos</div>
                        <div class="widget-subheading">Total @ViewBag.TaResuelto</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.TaResuelto</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="divTareasActivoBnv">
            @Html.Action("_Buenaventura_MisTareas_Activos", "Home", new { cantidad = @ViewBag.TaActivo })
        </div>
        <div id="divTareasProgramadoBnv" style="display:none">
            @Html.Action("_Buenaventura_MisTareas_Programados", "Home", new { cantidad = @ViewBag.TaProgramado })
        </div>
        <div id="divTareasResueltoBnv" style="display:none">
            @Html.Action("_Buenaventura_MisTareas_Resueltos", "Home", new { cantidad = @ViewBag.TaResuelto })
        </div>
    </div>
</div>
<script>
    function cambioEstadoMisTareasBnv(estado) {
        var activo = document.getElementById("divTareasActivoBnv");
        var programado = document.getElementById("divTareasProgramadoBnv");
        var resuelto = document.getElementById("divTareasResueltoBnv");

        if (estado == 'activoMTBnv') {
            activo.style.display = "block";
            programado.style.display = "none";
            resuelto.style.display = "none";
        }
        else if (estado == 'programadoMTBnv') {
            programado.style.display = "block";
            resuelto.style.display = "none";
            activo.style.display = "none";
        }
        else if (estado == 'resueltoMTBnv') {
            resuelto.style.display = "block";
            activo.style.display = "none";
            programado.style.display = "none";
        }
    }
</script>