<div id="content">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="cambioEstadoBnv('activoBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Activos</div>
                        <div class="widget-subheading">Total @ViewBag.TAActive</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PActive</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="cambioEstadoBnv('programadoBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Programados</div>
                        <div class="widget-subheading">Total @ViewBag.TAScheduled</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PScheduled</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-success btn" id="homInc3" onclick="cambioEstadoBnv('resueltoBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resueltos</div>
                        <div class="widget-subheading">Total @ViewBag.TAResolved</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResolved</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-info btn" id="homInc4" onclick="cambioEstadoBnv('cerradoBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Cerrados</div>
                        <div class="widget-subheading">Total @ViewBag.TAClosed</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PClosed</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TimeServer" name="TimeServer" value="@ViewBag.TimeServer" />
    <div>
        <div id="activoBnv">
            @Html.Action("_Buenaventura_Grupos_Activos", "Home", new { cantidad = @ViewBag.TAActive })
        </div>
        <div id="programadoBnv" style="display:none">
            @Html.Action("_Buenaventura_Grupos_Programados", "Home", new { cantidad = @ViewBag.PScheduled })
        </div>
        <div id="resueltoBnv" style="display:none">
            @Html.Action("_Buenaventura_Grupos_Resueltos", "Home", new { cantidad = @ViewBag.PResolved })
        </div>
        <div id="cerradoBnv" style="display:none">
            @Html.Action("_Buenaventura_Grupos_Cerrados", "Home", new { cantidad = @ViewBag.PClosed })
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var valor = document.getElementById('dias').value;

        var diferencia = parseInt(valor);

        if (diferencia > 170) {
            var diasDieferencia = 180 - diferencia;
            console.log('La contraseña vencio');
            swal({
                title: "Debe actualizar su contraseña",
                text: "En " + diasDieferencia + " días se vencerá su contraseña. Por favor, actualizar.",
                type: "info",
                showCancelButton: true,
                confirmButtonText: "Actualizar ahora",
                cancelButtonText: "Actualizar después"
            }).then(function (result) {
                if (result.value) {
                    // Acción al hacer clic en "Actualizar ahora"
                    location = "http://" + location.host + "/Account/Manage";
                }
            });
        }

    });

    function cambioEstadoBnv(estado) {
        var activo = document.getElementById("activoBnv")
        var programado = document.getElementById("programadoBnv")
        var resuelto = document.getElementById("resueltoBnv")
        var cerrado = document.getElementById("cerradoBnv")
        if (estado == 'activoBnv') {
            console.log('1')
            activo.style.display = "block"
            programado.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'programadoBnv') {
            console.log('2')
            programado.style.display = "block"
            activo.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'resueltoBnv') {
            console.log('3')
            resuelto.style.display = "block"
            programado.style.display = "none"
            activo.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'cerradoBnv') {
            console.log('4')
            cerrado.style.display = "block"
            programado.style.display = "none"
            resuelto.style.display = "none"
            activo.style.display = "none"
        }
    }
</script>