@model  List<ERPElectrodata.Models.ListarTicketGrupoPorUsuario_Result>

@foreach (var ticket in Model)
{
    <tr role="row" class="odd" style="cursor:pointer" onclick="AbrirTicket(@ticket.ID_TICK)">
        <td class="sorting_1">@ticket.COD_TICK</td>
        <td>@ticket.FEC_TICK</td>
        <td>@ticket.TITLE_TICK</td>
        <td>@ticket.RequeridoPor</td>
        <td>@ticket.ResolutorAsignado</td>
        <td>@ticket.Asignado</td>
        <td>@ticket.Sede</td>
    </tr>
}

<script>
    function AbrirTicket(e) {
        console.log(e)
        window.open("/DetailsTicket/Index/" + e)
    }
</script>