<div id="content">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="cambioEstadoMisTicketsBnv('activoMTBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Activos</div>
                        <div class="widget-subheading">Total @ViewBag.TAActive</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PActive</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="cambioEstadoMisTicketsBnv('programadoMTBnv')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Programados</div>
                        <div class="widget-subheading">Total @ViewBag.TAScheduled</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PScheduled</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TimeServer" name="TimeServer" value="@ViewBag.TimeServer" />
    <div>
        <div id="activoMTBnv">
            @Html.Action("_Buenaventura_MisTickets_Activos", "Home", new { cantidad = @ViewBag.TAActive })
        </div>
        <div id="programadoMTBnv" style="display:none">
            @Html.Action("_Buenaventura_MisTickets_Programados", "Home", new { cantidad = @ViewBag.PScheduled })
        </div>
    </div>
</div>
<script>
    function cambioEstadoMisTicketsBnv(estado) {
        var activo = document.getElementById("activoMTBnv")
        var programado = document.getElementById("programadoMTBnv")
        if (estado == 'activoMTBnv') {
            activo.style.display = "block"
            programado.style.display = "none"
        }
        if (estado == 'programadoMTBnv') {
            programado.style.display = "block"
            activo.style.display = "none"
        }
    }
</script>