<div id="content">
    <div class="row">
        @*<div class="col-lg-6 col-xl-2">
                <br />
                <img src="~/Content/Images/LogoElectrodata.png" alt="Descripción de la imagen" class="img-fluid">
            </div>*@
        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="cambioEstadoExterno('activoExterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Activos</div>
                        <div class="widget-subheading">Total @ViewBag.TAActive</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PActive</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="cambioEstadoExterno('programadoExterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Programados</div>
                        <div class="widget-subheading">Total @ViewBag.TAScheduled</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PScheduled</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-info btn" id="homInc3" onclick="cambioEstadoExterno('enesperaExterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">En espera</div>
                        <div class="widget-subheading">Total @ViewBag.TAEnEspera </div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PEnEspera</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-primary btn" id="homInc4" onclick="cambioEstadoExterno('resueltosininformeExterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resuelto sin informe</div>
                        <div class="widget-subheading">Total @ViewBag.TAResueltoSinInforme </div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResueltoSinInforme</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-success btn" id="homInc5" onclick="cambioEstadoExterno('resueltoExterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resueltos</div>
                        <div class="widget-subheading">Total @ViewBag.TAResolved</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResolved</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-secondary btn" id="homInc6" onclick="cambioEstadoExterno('cerradoExterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Cerrados</div>
                        <div class="widget-subheading">Total @ViewBag.TAClosed</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PClosed</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TimeServer" name="TimeServer" value="@ViewBag.TimeServer" />
    <div>
        <div id="activoExterno">
            @Html.Action("_ElectrodataPeru_Externo_Activos", "Home", new { cantidad = @ViewBag.TAActive })
        </div>
        <div id="programadoExterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Externo_Programados", "Home", new { cantidad = @ViewBag.TAScheduled })
        </div>
        <div id="enesperaExterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Externo_EnEspera", "Home", new { cantidad = @ViewBag.TAEnEspera })
        </div>
        <div id="resueltosininformeExterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Externo_ResueltoSinInforme", "Home", new { cantidad = @ViewBag.TAResueltoSinInforme })
        </div>
        <div id="resueltoExterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Externo_Resueltos", "Home", new { cantidad = @ViewBag.TAResolved })
        </div>
        <div id="cerradoExterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Externo_Cerrados", "Home", new { cantidad = @ViewBag.TAClosed })
        </div>
    </div>
</div>
<script>
    function cambioEstadoExterno(estado) {
        console.log("cambioEstadoExterno")
        var activo = document.getElementById("activoExterno")
        var programado = document.getElementById("programadoExterno")
        var enespera = document.getElementById("enesperaExterno")
        var resueltosininforme = document.getElementById("resueltosininformeExterno")
        var resuelto = document.getElementById("resueltoExterno")
        var cerrado = document.getElementById("cerradoExterno")
        if (estado == 'activoExterno') {
            console.log('1')
            activo.style.display = "block"
            programado.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'programadoExterno') {
            console.log('2')
            programado.style.display = "block"

            activo.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'enesperaExterno') {
            console.log('3')
            activo.style.display = "none"
            enespera.style.display = "block"
            programado.style.display = "none"

            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'resueltosininformeExterno') {
            console.log('4')
            resueltosininforme.style.display = "block"

            activo.style.display = "none"
            programado.style.display = "none"
            enespera.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'resueltoExterno') {
            console.log('5')
            resuelto.style.display = "block"

            activo.style.display = "none"
            programado.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'cerradoExterno') {
            console.log('6')
            cerrado.style.display = "block"
            activo.style.display = "none"
            programado.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"

        }
    }
</script>