<div id="content">
    <div class="row">
        @*<div class="col-lg-6 col-xl-2">
                <br />
                <img src="~/Content/Images/LogoElectrodata.png" alt="Descripción de la imagen" class="img-fluid">
            </div>*@
        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="cambioEstadoCompleto('activoCompleto')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Activos</div>
                        <div class="widget-subheading">Total @ViewBag.TAActive</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PActive</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="cambioEstadoCompleto('programadoCompleto')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Programados</div>
                        <div class="widget-subheading">Total @ViewBag.TAScheduled</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PScheduled</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-info btn" id="homInc3" onclick="cambioEstadoCompleto('enesperaCompleto')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">En espera</div>
                        <div class="widget-subheading">Total @ViewBag.TAEnEspera</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PEnEspera</span></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-primary btn" id="homInc4" onclick="cambioEstadoCompleto('resueltosininformeCompleto')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resuelto sin informe</div>
                        <div class="widget-subheading">Total @ViewBag.TAResueltoSinInforme</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResueltoSinInforme</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-success btn" id="homInc5" onclick="cambioEstadoCompleto('resueltoCompleto')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resueltos</div>
                        <div class="widget-subheading">Total @ViewBag.TAResolved</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResolved</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-secondary btn" id="homInc6" onclick="cambioEstadoCompleto('cerradoCompleto')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Cerrados</div>
                        <div class="widget-subheading">Total @ViewBag.TAClosed</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PClosed</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="dias" name="dias" value="@ViewBag.dias" />
    <div>
        <div id="activoCompleto">
            @Html.Action("_ElectrodataPeru_Completo_Activos", "Home", new { cantidad = @ViewBag.TAActive })
        </div>
        <div id="programadoCompleto" style="display:none">
            @Html.Action("_ElectrodataPeru_Completo_Programados", "Home", new { cantidad = @ViewBag.TAScheduled })
        </div>
        <div id="enesperaCompleto" style="display:none">
            @Html.Action("_ElectrodataPeru_Completo_EnEspera", "Home", new { cantidad = @ViewBag.TAEnEspera })
        </div>
        <div id="resueltosininformeCompleto" style="display:none">
            @Html.Action("_ElectrodataPeru_Completo_ResueltoSinInforme", "Home", new { cantidad = @ViewBag.TAResueltoSinInforme })
        </div>
        <div id="resueltoCompleto" style="display:none">
            @Html.Action("_ElectrodataPeru_Completo_Resueltos", "Home", new { cantidad = @ViewBag.TAResolved })
        </div>
        <div id="cerradoCompleto" style="display:none">
            @Html.Action("_ElectrodataPeru_Completo_Cerrados", "Home", new { cantidad = @ViewBag.TAClosed })
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        var valor = document.getElementById('dias').value;

        var diferencia = parseInt(valor);

        if (diferencia > 170) {
            var diasDieferencia = 180 - diferencia;
            console.log('La contraseña vencio');
            swal({
                title: "Debe actualizar su contraseña",
                text: "En " + diasDieferencia + " días se vencerá su contraseña. Por favor, actualizar.",
                type: "info",
                showCancelButton: true,
                confirmButtonText: "Actualizar ahora",
                cancelButtonText: "Actualizar después"
            }).then(function (result) {
                if (result.value) {
                    // Acción al hacer clic en "Actualizar ahora"
                    location = "http://" + location.host + "/Account/Manage";
                }
            });
        }

    });

    function cambioEstadoCompleto(estado) {
        var activo = document.getElementById("activoCompleto")
        var programado = document.getElementById("programadoCompleto")
        var enespera = document.getElementById("enesperaCompleto")
        var resueltosininforme = document.getElementById("resueltosininformeCompleto")
        var resuelto = document.getElementById("resueltoCompleto")
        var cerrado = document.getElementById("cerradoCompleto")

        if (estado == 'activoCompleto') {
            console.log('1')
            activo.style.display = "block"
            programado.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"

        }
        if (estado == 'programadoCompleto') {
            console.log('2')
            programado.style.display = "block"
            activo.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }

        if (estado == 'enesperaCompleto') {
            console.log('3')
            enespera.style.display = "block"
            activo.style.display = "none"
            programado.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }

        if (estado == 'resueltosininformeCompleto') {
            console.log('4')
            resueltosininforme.style.display = "block"

            activo.style.display = "none"
            programado.style.display = "none"
            enespera.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }

        if (estado == 'resueltoCompleto') {
            console.log('5')

            resuelto.style.display = "block"
            activo.style.display = "none"
            programado.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'cerradoCompleto') {
            console.log('6')

            cerrado.style.display = "block"
            activo.style.display = "none"
            programado.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"

        }
    }
</script>