@model List<ERPElectrodata.Models.TicketsPorGrupo_Result>
<div>
    @foreach (var ticket in Model)
    {
        <a href=@("/DetailsTicket/Index/"+ticket.ID_TICK) class="text-decoration-none k-listview-item" target="_blank" title="" data-uid="be888484-8a1b-4844-9b82-f11d45d56ff0" role="listitem" aria-setsize="314" aria-posinset="1">
            <div class="card-body py-3 btn-shadow btn-outline-focus">
                <div class="row no-gutters align-items-center">
                    <div class="col-4">
                        <div class="small">
                            requerimiento @ticket.COD_TICK
                        </div>
                        <div class="small">Asignado a: @ticket.asignadoA</div>

                        <div class="small"><b>@ticket.requeridoPor (@ticket.COM_NAME)</b></div>

                        <div class="small">Creado: @ticket.creadoPor @ticket.fechaCreacion</div>
                        <div class="small">Actualizado: @ticket.MODIFIED_TICK</div>
                    </div>
                    <div class="col-6">
                        <div class="small" title="">@ticket.TITLE_TICK</div>
                        <div class="small">@ticket.c4 &gt; @ticket.c3 &gt; @ticket.c2 &gt; @ticket.c1</div>
                    </div>
                    <div class="d-none d-md-block col-2">
                        <div class="row no-gutters align-items-center">

                            <div class="media col-12 align-items-center">
                                <img style="width: 40px; height: auto;" src="@("/Content/Fotos/"+ticket.FOT_PERS+".jpg")" alt=" " class="d-block ui-w-30 rounded-circle">
                                <div class="media-body flex-truncate ml-2">
                                    @{
                                        if (ticket.NAM_PRIO.Contains("P1"))
                                        {
                                            <div class="badge badge-danger">@ticket.NAM_PRIO @(ticket.HOU_PRIO+"H")</div>
                                        }
                                        if (ticket.NAM_PRIO.Contains("P2"))
                                        {
                                            <div class="badge badge-warning">@ticket.NAM_PRIO @(ticket.HOU_PRIO+"H")</div>
                                        }
                                        if (ticket.NAM_PRIO.Contains("P3"))
                                        {
                                            <div class="badge badge-success">@ticket.NAM_PRIO @(ticket.HOU_PRIO+"H")</div>
                                        }
                                        if (ticket.NAM_PRIO.Contains("P4"))
                                        {
                                            <div class="badge badge-info">@ticket.NAM_PRIO @(ticket.HOU_PRIO+"H")</div>
                                        }
                                    }
                                    @{
                                        if (ticket.expTime.IndexOf("Stopped") > -1)
                                        {
                                            if (ticket.ID_STAT_END != 4 && ticket.ID_STAT_END != 6)
                                            {
                                                <div class="line-height-1 text-truncate">@ticket.cronograma | @ticket.tiempoTicket</div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="line-height-1 text-truncate">@ticket.expTime</div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>