<div id="content">
    <div class="row">
        @*<div class="col-lg-6 col-xl-2">
                <br />
                <img src="~/Content/Images/LogoElectrodata.png" alt="Descripción de la imagen" class="img-fluid">
            </div>*@
        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="cambioEstadoInterno('activoInterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Activos</div>
                        <div class="widget-subheading">Total @ViewBag.TAActive</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PActive</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="cambioEstadoInterno('programadoInterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Programados</div>
                        <div class="widget-subheading">Total @ViewBag.TAScheduled</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PScheduled</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-info btn" id="homInc3" onclick="cambioEstadoInterno('enesperaInterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">En espera</div>
                        <div class="widget-subheading">Total @ViewBag.TAEnEspera</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PEnEspera</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-primary btn" id="homInc4" onclick="cambioEstadoInterno('resueltosininformeInterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resuelto sin informe</div>
                        <div class="widget-subheading">Total @ViewBag.TAResueltoSinInforme</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResueltoSinInforme</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-success btn" id="homInc5" onclick="cambioEstadoInterno('resueltoInterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resueltos</div>
                        <div class="widget-subheading">Total @ViewBag.TAResolved</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResolved</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card mb-3 widget-content bg-secondary btn" id="homInc6" onclick="cambioEstadoInterno('cerradoInterno')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Cerrados</div>
                        <div class="widget-subheading">Total @ViewBag.TAClosed</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PClosed</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TimeServer" name="TimeServer" value="@ViewBag.TimeServer" />
    <div>
        <div id="activoInterno">
            @Html.Action("_ElectrodataPeru_Interno_Activos", "Home", new { cantidad = @ViewBag.TAActive })
        </div>
        <div id="programadoInterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Interno_Programados", "Home", new { cantidad = @ViewBag.TAScheduled })
        </div>
        <div id="enesperaInterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Interno_EnEspera", "Home", new { cantidad = @ViewBag.TAEnEspera })
        </div>
        <div id="resueltosininformeInterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Interno_ResueltoSinInforme", "Home", new { cantidad = @ViewBag.TAResueltoSinInforme })
        </div>
        <div id="resueltoInterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Interno_Resueltos", "Home", new { cantidad = @ViewBag.TAResolved })
        </div>
        <div id="cerradoInterno" style="display:none">
            @Html.Action("_ElectrodataPeru_Interno_Cerrados", "Home", new { cantidad = @ViewBag.TAClosed })
        </div>
    </div>
</div>
<script>
    function cambioEstadoInterno(estado) {
        console.log("cambioEstadoInterno")
        var activo = document.getElementById("activoInterno")
        var programado = document.getElementById("programadoInterno")
        var enespera = document.getElementById("enesperaInterno")
        var resueltosininforme = document.getElementById("resueltosininformeInterno")
        var resuelto = document.getElementById("resueltoInterno")
        var cerrado = document.getElementById("cerradoInterno")

        if (estado == 'activoInterno') {
            console.log('1')
            activo.style.display = "block"
            programado.style.display = "none"
            enespera.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'programadoInterno') {
            console.log('2')
            programado.style.display = "block"
            enespera.style.display = "none"
            activo.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'enesperaInterno') {
            console.log('3')
            enespera.style.display = "block"
            programado.style.display = "none"
            activo.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }

        if (estado == 'resueltosininformeInterno') {
            console.log('4')
            resueltosininforme.style.display = "block"
            resuelto.style.display = "none"
            enespera.style.display = "none"
            programado.style.display = "none"
            activo.style.display = "none"
            cerrado.style.display = "none"
        }

        if (estado == 'resueltoInterno') {
            console.log('5')
            resuelto.style.display = "block"
            enespera.style.display = "none"
            programado.style.display = "none"
            activo.style.display = "none"
            resueltosininforme.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'cerradoInterno') {
            console.log('6')
            cerrado.style.display = "block"
            enespera.style.display = "none"
            programado.style.display = "none"
            resueltosininforme.style.display = "none"
            resuelto.style.display = "none"
            activo.style.display = "none"
        }
    }
</script>