@*<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>*@

<div id="content">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="cambioEstado('activo')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Activos</div>
                        <div class="widget-subheading">Total @ViewBag.TAActive</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PActive</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="cambioEstado('programado')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Programados</div>
                        <div class="widget-subheading">Total @ViewBag.TAScheduled</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PScheduled</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-success btn" id="homInc3" onclick="cambioEstado('resuelto')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Resueltos</div>
                        <div class="widget-subheading">Total @ViewBag.TAResolved</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PResolved</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-info btn" id="homInc4" onclick="cambioEstado('cerrado')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Cerrados</div>
                        <div class="widget-subheading">Total @ViewBag.TAClosed</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.PClosed</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TimeServer" name="TimeServer" value="@ViewBag.TimeServer" />
    <div>
        <div id="activo">
            @Html.Action("_General_Activos", "Home")
        </div>
        <div id="programado" style="display:none">
            @Html.Action("_General_Programados", "Home")
        </div>
        <div id="resuelto" style="display:none">
            @Html.Action("_General_Resueltos", "Home")
        </div>
        <div id="cerrado" style="display:none">
            @Html.Action("_General_Cerrados", "Home")
        </div>
    </div>
</div>
<script>
    function cambioEstado(estado) {
        var activo = document.getElementById("activo")
        var programado = document.getElementById("programado")
        var resuelto = document.getElementById("resuelto")
        var cerrado = document.getElementById("cerrado")
        if (estado == 'activo') {
            console.log('1')
            activo.style.display = "block"
            programado.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'programado') {
            console.log('2')
            programado.style.display = "block"
            activo.style.display = "none"
            resuelto.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'resuelto') {
            console.log('3')
            resuelto.style.display = "block"
            programado.style.display = "none"
            activo.style.display = "none"
            cerrado.style.display = "none"
        }
        if (estado == 'cerrado') {
            console.log('4')
            cerrado.style.display = "block"
            programado.style.display = "none"
            resuelto.style.display = "none"
            activo.style.display = "none"
        }
    }
</script>