<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
<script src="~/Content/themes/plugin/DataTables/datatables.min.js"></script>
<link href="~/Content/themes/plugin/DataTables/datatables.min.css" rel="stylesheet" />

<div id="content">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-warning btn" id="homInc1" onclick="cambioEstadoTareas('listaPendientes')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Pendientes</div>
                        <div class="widget-subheading">Total @ViewBag.Pendientes</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.Pendientes</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-secondary btn" id="homInc2" onclick="cambioEstadoTareas('listaSinAsignar')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Sin Asignar</div>
                        <div class="widget-subheading">Total @ViewBag.SinAsignar</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.SinAsignar</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-info btn" id="homInc3" onclick="cambioEstadoTareas('listaTerminadas')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Terminados</div>
                        <div class="widget-subheading">Total @ViewBag.Terminadas</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.Terminadas</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3 widget-content bg-danger btn" id="homInc4" onclick="cambioEstadoTareas('listaNoProcedentes')">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">No procede</div>
                        <div class="widget-subheading">Total @ViewBag.NoProceden</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span>@ViewBag.NoProceden</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TimeServer" name="TimeServer" value="@ViewBag.TimeServer" />
    <div>
        <div id="listaPendientes">
            @Html.Action("_Minsur_Tareas_Pendientes", "Home", new { cantidad = @ViewBag.Pendientes })
        </div>
        <div id="listaSinAsignar" style="display:none">
            @Html.Action("_Minsur_Tareas_SinAsignar", "Home", new { cantidad = @ViewBag.SinAsignar })
        </div>
        <div id="listaTerminadas" style="display:none">
            @Html.Action("_Minsur_Tareas_Terminadas", "Home", new { cantidad = @ViewBag.Terminadas })
        </div>
        <div id="listaNoProcedentes" style="display:none">
            @Html.Action("_Minsur_Tareas_NoProcedentes", "Home", new { cantidad = @ViewBag.NoProceden })
        </div>
    </div>
</div>
<script>
    //function startCargarTickets() {
    //    cargaInicialPendientes()
    //    cargaInicialSinAsignar()
    //    cargaInicialTerminadas()
    //    cargaInicialNoProcedentes()
    //}
    //function cargaInicialPendientes() {
    //    cargaInicialGeneralPendientes()
    //}
    //function cargaInicialSinAsignar() {
    //    cambioPaginaSinAsignar(1)
    //}
    //function cargaInicialTerminadas() {
    //    cambioPaginaTerminadas(1)
    //}
    //function cargaInicialNoProcedentes() {
    //    cambioPaginaNoProcedentes(1)
    //}
    function cambioEstadoTareas(estado) {

        var listaPendientes = document.getElementById("listaPendientes")
        var listaSinAsignar = document.getElementById("listaSinAsignar")
        var listaTerminadas = document.getElementById("listaTerminadas")
        var listaNoProcedentes = document.getElementById("listaNoProcedentes")

        switch (estado) {
            case "listaPendientes":
                listaPendientes.style.display = "block";
                listaSinAsignar.style.display = "none";
                listaTerminadas.style.display = "none";
                listaNoProcedentes.style.display = "none";
                break;
            case "listaSinAsignar":
                listaSinAsignar.style.display = "block";
                listaPendientes.style.display = "none";
                listaTerminadas.style.display = "none";
                listaNoProcedentes.style.display = "none";
                break;
            case "listaTerminadas":
                listaTerminadas.style.display = "block";
                listaSinAsignar.style.display = "none";
                listaPendientes.style.display = "none";
                listaNoProcedentes.style.display = "none";
                break;
            case "listaNoProcedentes":
                listaNoProcedentes.style.display = "block";
                listaSinAsignar.style.display = "none";
                listaTerminadas.style.display = "none";
                listaPendientes.style.display = "none";
                break;
        }

    }
</script>
