@model ERPElectrodata.Models.DETAILS_TICKET

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuarioExterno.cshtml";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ResourceLanguaje.Resource.LoginTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/kendo/2014.3.1119/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1119/kendo.electrodata.min.css" rel="stylesheet" />

    @*<link href="~/Content/menu.css" rel="stylesheet" />*@
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/jquery")
    @*@RenderSection("scripts", required: false)*@

    @*<script src="~/Scripts/angular-1.3.14/angular.min.js"></script>
    <script src="~/Scripts/angular-1.3.14/angular-route.min.js"></script>
    <script src="~/Scripts/angular-1.3.14/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-1.3.14/angular-resource.min.js"></script>

    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>*@

    @*<script src="~/Scripts/ui-select-master/dist/select.min.js"></script>
    <link href="~/Scripts/ui-select-master/dist/select.min.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/DocumentControl/Config.js"></script>*@

    @*<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>*@

    @*<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>*@

    <script src="~/Scripts/highstock/js/highstock.js"></script>
    <script src="~/Scripts/UtilElectrodata.js"></script>
    <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>

    <script src="~/Scripts/Itms/Plugins/switchery.js"></script>
    <link href="~/Content/ITMS/switchery.css" rel="stylesheet" />
    <link href="~/Content/ITMS/starrr.css" rel="stylesheet" />
    <script src="~/Scripts/Itms/Plugins/starrr.js"></script>
    <link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

    @*<link href="~/Content/menu.css" rel="stylesheet" />*@

    <script src="~/Scripts/kendo/2013.3.1119/kendo.timezones.min.js"></script>

    @*<script src="~/Scripts/highcharts/highcharts.js"></script>
    <script src="~/Scripts/highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/highcharts/modules/solid-gauge.src.js"></script>
    <script src="~/Scripts/jquery.tinycarousel.min.js"></script>
    <script src="~/Scripts/highcharts/modules/exporting.js"></script>
    <script src="~/Scripts/Itms/Plugins/gauge.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/sweet-alert.js"></script>
    <script src="~/Scripts/bootstrap-tags.js"></script>
    <script src="~/Scripts/bootstrap-tags.min.js"></script>
    <script src="~/Scripts/Itms/Plugins/jquery.validate.min.js"></script>*@

    @*<script src="~/Scripts/angular-1.3.14/angular.min.js"></script>*@
    @*<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>*@

    @*<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />*@
</head>
<style>
    .navVertical {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .navVertical ul {
            margin: 0px;
            padding: 0px;
            width: 100%;
            list-style: none;
        }

            .navVertical ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
                border-bottom: 1px solid #e2e2e2;
                width: 100%;
            }

                .navVertical ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    .navVertical ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    .navVertical ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    #navDT {
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        #navDT ul {
            margin: 0px;
            margin-top: 2px;
            /*border:solid 1px #e2e2e2;*/
            /*background-color:#e2e2e2;*/
            display: inline-block;
            list-style: none;
            padding: 0px;
            width: 100%;
            border-top: solid 1px #e2e2e2;
            /*border-bottom:solid 1px #e2e2e2;*/
        }

            #navDT ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
            }

                #navDT ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    #navDT ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    #navDT ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    .activeNavDT {
        background-color: #022A41;
        color: #e2e2e2;
    }

    .titulo a:hover {
        color: #2E64FE;
        cursor: pointer;
    }

    #tamGestionCambio {
        width: 78% !important;
    }
</style>
<div id="divContent">
    <div style="width:80%;margin:10px auto;">
        <div class="titleForm">
            <div style="display:inline-block; width:100%; height:20px;">
                <div class="title" style="float:left; width:30%;">@ViewBag.NAM_TYPE_TICK # @ViewBag.COD_TICK</div>
                <div style="padding-top:3px; padding-right:1%; float:right; width:64%; text-transform:capitalize; text-align:right;" id="divCIA"></div>
            </div>
            <input type="hidden" id="idUsuario" name="idUsuario" readonly="readonly" />
        </div>
        <div class="bodyForm">
            <div class="inBodyForm">
                <div id="divDetaTicket">
                </div>
                <div style="clear:both;">
                    <div style="width:100%;">
                        <nav id="navDT">
                            <ul>
                                <li><a href="javascript:void(0)" onclick="fxNewComment(this)"><div id="linkNC" class="activeNavDT"><i class="glyphicon glyphicon-comment"></i><font style="font-size:13px;margin-left:10px;">Actividad</font></div></a></li>
                                @*<li><a href="javascript:void(0)" onclick="fxSchedule(this)"><div id="linkSCH"><i class="glyphicon glyphicon-calendar"></i><font style="font-size:13px;margin-left:10px;">Programar</font></div></a></li>
                                <li><a href="javascript:void(0)" onclick="fxUpdateStatus(this)"><div id="linkUS"><i class="glyphicon glyphicon-open"></i><font style="font-size:13px;margin-left:10px;">Cambiar Estado</font></div></a></li>
                                <li><a href="javascript:void(0)" onclick="fxTransferTo(this)"><div id="linkTT"><i class="glyphicon glyphicon-transfer"></i><font style="font-size:13px;margin-left:10px;">Transferir</font></div></a></li>*@
                            </ul>
                        </nav>
                    </div>
                    <div style="width:100%;position:relative;">
                        <div id="divDTOptions" style="overflow:hidden;float:right;position:absolute;width:220px;height:0px;z-index:5;right:0;background-color:white;">
                            <nav class="navVertical">
                                <ul>
                                    <li><a href="javascript:void(0)" onclick="fxNewComment(this)"><div id="linkNC"><i class="glyphicon glyphicon-arrow-right"></i><font style="font-size:13px;margin-left:10px;">Excalation RMA</font></div></a></li>
                                    <li><a href="javascript:void(0)" onclick="fxNewComment(this)"><div id="linkNC"><i class="glyphicon glyphicon-edit"></i><font style="font-size:13px;margin-left:10px;">Recategorise</font></div></a></li>
                                    <li><a href="javascript:void(0)" onclick="fxNewComment(this)"><div id="linkNC"><i class="glyphicon glyphicon-link"></i><font style="font-size:13px;margin-left:10px;">Assign Parent Ticket</font></div></a></li>
                                    <li><a href="javascript:void(0)" onclick="fxNewComment(this)"><div id="linkNC"><i class="glyphicon glyphicon-user"></i><font style="font-size:13px;margin-left:10px;">Waiting For The Customer</font></div></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    @using (Html.BeginForm("Create", "DetailsTicket", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDetailIncident", target = "upload_target" }))
                    {
                        @Html.ValidationSummary(true)
                        <input type="hidden" value="@ViewBag.UploadFile" name="KEY_ATTA" readonly="readonly" />
                        @Html.HiddenFor(model => model.ID_TICK)

                        @Html.HiddenFor(model => model.ID_TYPE_DETA_TICK)

                        @*<div id="divTypeTicket5" class="divFondoUno">*@
                        <div>
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Desde
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.FROM_TIME)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Hasta
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.TO_TIME)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div id="divCausa" class="divCont3">
                                <div class="editor-label">
                                    Causas
                                </div>
                                <div class="editor-field">
                                    @Html.CheckBox("Causa", false)
                                    @Html.ValidationMessageFor(model => model.Causa)
                                </div>
                            </div>
                        </div>
                        @*</div>*@

                        <div id="divTypeTicket4" class="divFondoUno divHide">
                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @Html.Label("Status Sales Opportunity")
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_STAT_SALE_OPP)
                                    @Html.ValidationMessageFor(model => model.ID_STAT_SALE_OPP)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @Html.Label("Ammount ($)")
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.AMM_SALE_OPP)
                                    @Html.ValidationMessageFor(model => model.AMM_SALE_OPP)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    @Html.Label("Profit (%)")
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.PRO_SALE_OPP)
                                    @Html.ValidationMessageFor(model => model.PRO_SALE_OPP)
                                </div>
                            </div>
                        </div>

                        <div id="divTypeTicket3" class="divFondoUno divHide">

                            <div class="divSpace2_a"></div>
                            <div id="divStatus" class="divCont3 divHide">
                                <div class="editor-label">
                                    Estado
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_STAT)
                                    @Html.ValidationMessageFor(model => model.ID_STAT)
                                </div>
                            </div>
                            <div class="divSpace3"></div>
                            <div id="fechaScheduled" class="divCont3 divHide">
                                <div class="editor-label">
                                    Fecha Programada
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.FEC_SCHE)
                                    @Html.ValidationMessageFor(model => model.FEC_SCHE)
                                </div>
                            </div>
                            <div id="divControlRemoto" class="divCont3 divHide">
                                <div class="editor-label">
                                    Control Remoto
                                </div>
                                <div>
                                    @Html.CheckBox("ControlRemoto", false)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div id="divEsperaPorCliente" class="divCont3 divHide">
                                <div class="editor-label">
                                    ¿Es Espera Por Cliente?
                                </div>
                                <div>
                                    @Html.CheckBox("EsperaPorCliente", false)
                                    @Html.ValidationMessageFor(model => model.EsperaPorCliente)
                                </div>
                            </div>

                            @{
                        if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 3)
                        {
                            <div id="fechaRealTermino" class="divCont2 divHide">
                                <div class="editor-label">
                                    Fecha Fin Real
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.FEC_END_REAL)
                                    @Html.ValidationMessageFor(model => model.FEC_END_REAL)
                                </div>
                            </div>
                        }
                            }
                        </div>
                        <div id="divTypeTicket2" class="divFondoUno divHide">

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Area Responsable
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_QUEU)
                                    @Html.ValidationMessageFor(model => model.ID_QUEU)
                                </div>
                            </div>

                            <div class="divSpace3"></div>
                            <div class="divCont3">
                                <div class="editor-label">
                                    Asignado a
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PERS_ENTI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                </div>
                            </div>

                        </div>
                        <div class="ComentsTickets">
                            <div class="divFondoUno">
                                <div class="divSpace2_a"></div>
                                <div style="width:96%;float:left">
                                    <div class="editor-label">
                                        Comentario
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(model => model.COM_DETA_TICK, new { rows = "20" })
                                        @Html.ValidationMessageFor(model => model.COM_DETA_TICK)
                                    </div>
                                </div>
                            </div>

                            <div class="divFondoUno">
                                <div class="divSpace3"></div>
                                <div class="divCont3">
                                    <div class="k-button" data-toggle="modal" data-target="#myModal">
                                        Adjuntar
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin:0px 15px 0px 0px; height:25px; border:0px solid black;">
                            <div style="float:right;padding:10px 0px 0px 0px; ">
                                <button id="submit" class="k-button">Crear</button>
                            </div>
                        </div>

                        <iframe id="upload_target" name="upload_target" src="" class="frameHidden"></iframe>
                        <div style="clear:both; padding-top:10px;"></div>
                    }

                </div>
                <div class="divFondoUno">
                    <div id="divDetails"></div>
                </div>

                <div class="divFondoUno">
                    <div id="divLeccionAprendida"></div>
                </div>

                <div style="clear:both; padding-bottom:5px;"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adjuntar Archivos</h4>
                </div>
                <div class="modal-body">
                    <div class="editor-label">
                        Type Document
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("ArrayFile")
                    </div>
                    <br />
                    <input name="files" id="files" type="file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="k-button" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EditCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">Editar Descripción</h4>
                </div>
                <div id="divFrmLoadSummary">

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalGenerarCambio" role="dialog" aria-labelledby="modalGenerarCambioLabel" aria-hidden="true">
        <div class="modal-dialog" id="tamGestionCambio">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalGenerarCambioLabel">Gestión de Cambios</h4>
                </div>
                <div class="modal-body">
                    <div id="divGenerarCambio"></div>
                    <!-- CONTENIDO -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSoporteED" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamVerSoporte">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"> <span id="tituloOP"></span></h4>
            </div>
            <div class="modal-body">
                <div id="divSoporteED"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-tmpl" id="templdu">
    <div class="du12">
        <div class="duCont">
            <div class="duContdet" style="text-transform:capitalize;margin:0px 5px 3px 5px;color:black;">
                Fotocheck: ${FOT_CLIE}<br>
                Usuario: ${NAM_CLIE}<br>
                <div style="float:left;padding:0px 5px 0px 0px">Tipo Usuario: </div><div style="color:${COLOR};"> ${USE_TYPE}</div>
                Cargo: ${JOB_TITL}<br>
                Area: ${ARE_CLIE}<br>
                Gestión: ${MANA}<br>
                Compañía: ${CIA}<br>
                Anexo: ${EXT}<br>
                Celular: ${CEL_CLIE}<br>
                RPM: ${RPM_CLIE}
            </div>
            <div class="duContFot">
            </div>
        </div>
    </div>
</script>


<script id="templateDownload" type="text/x-kendo-template">
    <tr data-uid="#= uid #">
        <td colspan="2">
            <a href="../../Adjuntos/#: NAM_ATTA #" target="_BLANK">#: NAM_ATTA #</a>
        </td>
        <td colspan="2">
            <strong>#: NAM_TYPE_DOCU_ATTA #</strong>
        </td>
    </tr>
</script>

<script type="text/javascript">
    /*################################################################## GCR161203 #######################################################################################*/
    function detalleUsuario() {

        var idUsuario = $("#idUsuario").val();
        var htmlForm = '<div id="FormDetalleUsuario"></div>';
        winFormPopUpModal("Detalle de Usuario", htmlForm, 850, 600);
        $("#FormDetalleUsuario").load("/Ticket/viewDetalleUsuario?id=" + idUsuario + "&var=" + Math.random());
    }
    function detalleTicketPadreHijo() {
        var htmlForm = '<div id="FormDetalleTicketPadreHijo"></div>';
        winFormPopUpModal("Ticket Padre-Hijo", htmlForm, 580, 320);
        $("#FormDetalleTicketPadreHijo").load("/Ticket/verTicketPadreHijo?id=" + @ViewBag.ID_TICK + "&var=" + Math.random());
    }
    /*################################################################## GCR161203 #######################################################################################*/
    function verSoporteED() {
        $("#divSoporteED").empty();
        $("#divSoporteED").load("/SoporteED/ListaSoportes/@ViewBag.IdDocuSale");
        $('#tituloOP').text('Lista de Soportes');
    }
    var i_conf = 0;

    $(document).ready(function () {
        if(@ViewBag.AplicaCambio==1){
            var flag=0;
            $("#btnEntregaActivo").click(function(){
                window.open("/DeliveryReception/Create/@ViewBag.ID_TICK", "_blank");
            });
            if(((@ViewBag.Estado == 1 || @ViewBag.Estado == 3 || @ViewBag.Estado == 5 ) && @ViewBag.AplicaGestionActivo == 0) || @ViewBag.Estado == 2 || @ViewBag.Estado == 4 || @ViewBag.Estado == 6 ){
                $("#btnEntregaActivo").hide();
            }
            if( @ViewBag.Estado==4 ||  @ViewBag.Estado==6 ||  @ViewBag.IdCambio!=0) {
                $("#btnGestionDeCambio").hide();
                flag=1;
            }

            if(@ViewBag.IdCambio==0){
                $("#btnIrCambio").hide();
                flag=flag+1;
            }
            if(flag==2){
                $("#MensajeCambio").text("No se encontró una solicitud de cambios.")
            }
        }else{
            $("#btnGestionDeCambio").hide();
            $("#btnIrCambio").hide();
            $("#MensajeCambio").text("La solicitud del cambio solo aplica a los tickets de tipo incidente o requerimiento.")
        }

        if(@ViewBag.ExisteCambio == 0){
            $("#linkUS").show();
            $("#btnIrCambio").hide();
        }
        else{
            $("#linkUS").hide();
            $("#btnIrCambio").show();
            //$("#btnEntregaActivo").hide();
            $("#btnGestionDeCambio").hide();
        }
        if(@ViewBag.ExisteCambioInc == 1){
            $("#linkUS").hide();
            $("#btnIrCambio").show();
            //$("#btnEntregaActivo").hide();
            $("#btnGestionDeCambio").hide();
        }

        if(((@ViewBag.Estado == 1 || @ViewBag.Estado == 3 || @ViewBag.Estado == 5 ) && @ViewBag.AplicaGestionActivo == 0) || @ViewBag.Estado == 2 || @ViewBag.Estado == 4 || @ViewBag.Estado == 6 ){
            $("#btnEntregaActivo").hide();
        }else{
            $("#btnGestionDeCambio").hide();
        }

        if (parseInt(@Session["OPERACIONES"]) == 1 && parseInt(@ViewBag.ID_COMP) != 9) {
            $(".ComentsTickets").addClass("divHide");
        }
        else {
            $(".ComentsTickets").removeClass("divHide");
        }
        
        $("#ID_TYPE_DETA_TICK").val(1);

        $("#AMM_SALE_OPP").kendoNumericTextBox({
            min: 0,
            step: 1
        });

        $("#PRO_SALE_OPP").kendoNumericTextBox({
            min: 0,
            step: 1,
            max: 100
        });

        $("#submit").click(function () {
            winPopUpModalLoad('Guardando Ticket', 'Espere por favor', 300, 130);
        });
        
        $.ajax({
            url: "/Home/ListByIdTick/" + "@ViewBag.ID_TICK",
            data: "var=" + Math.random(),
            type: "GET",
            dataType: "json",
            success: function (source) {

                data1 = source;
                showDetailsIncident();
            },
            error: function (source) {
            }
        });
    });
    /*
        $(".lecciones").click(function () {

            alert("Hola");
        });*/

    /*################################################################## GCR161203 #######################################################################################*/

    var url = "KnowledgeManagement/ListLeccionesAprendidasTickets";
    var idTicket = "@ViewBag.ID_TICK";
    /*Carga de las leccioens aprendidas y Tickets*/
    $.ajax({
        contentType: 'application/json; charset=utf-8',
        url: url,
        type: "Get",
        data: { idTicket: idTicket },
        datatype: "json",
        cache: false,
        /*  beforeSend: function () {
              swal({ title: "Procesando información, por favor espere.", text: "Detalle de Tickets", showConfirmButton: false, imageUrl: "/images/search_abs.gif" })
          },*/
        success: function (data) {

            if (data) {
                tejerLeccionesAprendidas(data["lecciones"]);
                tejerTicket(data["tickets"]);
                swal.close();
            }
        },
        error: function () {
            //Crear_Failed()
        }
    });
    /*################################################################## GCR161203 #######################################################################################*/
    $("#files").kendoUpload({
        localization: {
            select: "Adjuntar"
        },
        upload: function (e) {
            e.data = {
                ID_TYPE_DOCU_ATTA: ArrayFile.dataItem().ID_TYPE_DOCU_ATTA,
                KEY_ATTA: '@ViewBag.UploadFile'
            };
        },
        remove: function (e) {
            e.data = {
                KEY_ATTA: '@ViewBag.UploadFile'
            };
        },
        async: {
            saveUrl: "/Attach/SaveDetailTicket",
            removeUrl: "/Attach/RemoveDetailTicket"
        }
    });

    var ArrayFile = $("#ArrayFile").kendoComboBox({
        dataTextField: "NAM_TYPE_DOCU_ATTA",
        dataValueField: "ID_TYPE_DOCU_ATTA",
        filter: "contains",
        index: 1,
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Total"
            },
            transport: {
                read: "/TypeDocumentModule/ListByModule/1?var=" + Math.random()
            }
        }
    }).data("kendoComboBox");

    var FEC_SCHE = $("#FEC_SCHE").kendoDateTimePicker({ change: startChange }).data("kendoDateTimePicker");

    var FEC_END_REAL = $("#FEC_END_REAL").kendoDateTimePicker({ value: today, change: startChange }).data("kendoDateTimePicker");

    //var FEC_SCHE = $("#FEC_SCHE").kendoDateTimePicker().data("kendoDateTimePicker");

    function addMins(theDate, min) {
        return new Date(theDate.getTime() + min * 60 * 1000);
    }

    var today = new Date();
    var newDate = addMins(new Date(), 1);
    //var today = kendo.date.today();

    var time_from = $("#FROM_TIME").kendoDateTimePicker({ value: today, change: startChange }).data("kendoDateTimePicker");
    var time_to = $("#TO_TIME").kendoDateTimePicker({ value: newDate, change: endChange }).data("kendoDateTimePicker");
    //var time_to = $("#TO_TIME").kendoDateTimePicker({ value: today, change: endChange }).data("kendoDateTimePicker");

    /*################################################################## GCR161203 #######################################################################################*/
    function tejerLeccionesAprendidas(lecciones) {


        if (parseInt(lecciones.length) > 0) {
            $.each(lecciones, function (index, value) {
                $(".lecciones ul").append('<li><div class="row"><div class="col-xs-6 titulo"><a target="_blank"  href="#/KnowledgeManagement/EditLessonLearned/' + lecciones[index].idLeccionAprendida + '"' + ' style="text-decoration:none;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>' +
                   '<span>' + lecciones[index].Titulo + '</span></a></div>' +
                   '<div class="col-xs-6"><div class="stars stars-existing" style="float:right;" title="' + lecciones[index].Puntuacion + ' estrellas' + '"></div></div></div>' +
                   '<div class="row"> <div class="col-xs-12">' +
                  ' <span style="display: inline-block; font-size: 11px;margin-left:14px; ">' + lecciones[index].Solucion + '</span></div></div><div class="rayaItms"></div></li>');
                var puntuacion = lecciones[index].Puntuacion;
                $('.stars-existing').starrr({
                    rating: puntuacion
                });
            });
        } else {
            $(".lecciones ul").append('<div class="smallField">No se encontraron Lecciones aprendidas vinculadas');
        }

    }
    /*################################################################## GCR161203 #######################################################################################*/
    function tejerTicket(tickets) {


        if (parseInt(tickets.length) > 0) {
            $.each(tickets, function (index, value) {

                $(".tickets ul").append('<li><div class="row"><div class="col-xs-6 titulo"><a target="_blank" href="#/DetailsTicket/Index/' + tickets[index].idTicket + '"' + ' style="text-decoration:none;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>' +
                   '<span>' + tickets[index].nombreCategoria + '</span></a></div>' +
                   '</div>' +
                   '<div class="row"> <div class="col-xs-12">' +
                  ' <span style="display: inline-block; font-size: 11px;margin-left:14px; ">' + tickets[index].ComentarioTicket + '</span></div></div><div class="rayaItms"></div></li>');
            });
        } else {
            $(".lecciones ul").append('<div class="smallField">No se encontraron Lecciones aprendidas vinculadas');
        }
    }
    /*################################################################## GCR161203 #######################################################################################*/
    function Crear_Failed() {
        swal("¡Error al intentar obtener información!", "Cierre de Tickets", "error");
    }
    /*################################################################## GCR161203 #######################################################################################*/
    function startChange() {
        var startDate = time_from.value(),
        endDate = time_to.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            time_to.min(startDate);
        } else if (endDate) {
            time_from.max(new Date(endDate));
        } else {
            endDate = new Date();
            time_from.max(endDate);
            time_to.min(endDate);
        }
    }

    function endChange() {
        var endDate = time_to.value(),
        startDate = time_from.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            time_from.max(endDate);
        } else if (startDate) {
            time_to.min(new Date(startDate));
        } else {
            endDate = new Date();
            time_from.max(endDate);
            time_to.min(endDate);
        }
    }

    time_from.max(time_to.value());
    time_to.max(time_to.value());
    //time_to.min(time_from.value());

    $("#COM_DETA_TICK").kendoEditor({
        encoded: false
    });

    @*var ID_TYPE_DETA_TICK = $("#ID_TYPE_DETA_TICK").kendoComboBox({
        autoBind: true,
        index: 0,
        dataTextField: "NAM_TYPE_DETA_TICK",
        dataValueField: "ID_TYPE_DETA_TICK",
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/TypeDetailsTicket/List/"+"@ViewBag.ID_QUEU"
            }
        }
    }).data("kendoComboBox");

    ID_TYPE_DETA_TICK.bind("change", function (e) {

        for (var i = 2; i <= 4; i++) {
            $("#divTypeTicket" + i).addClass('divHide');
        }

        if (ID_TYPE_DETA_TICK.dataItem().ID_TYPE_DETA_TICK == 8) {
            $("#divTypeTicket4").removeClass('divHide');
        }
        if (ID_TYPE_DETA_TICK.dataItem().ID_TYPE_DETA_TICK == 3) {
            $("#divTypeTicket3").removeClass('divHide');
            $("#ID_QUEU").data("kendoComboBox").value("");

            if(	$("#ID_CLIE").data("kendoComboBox"))
            {
                $("#ID_CLIE").data("kendoComboBox").value("");
                $("#ID_CLIE").data("kendoComboBox").enable(false);
            }

        }
        if (ID_TYPE_DETA_TICK.dataItem().ID_TYPE_DETA_TICK == 2) {
            $("#divTypeTicket2").removeClass('divHide');
            $("#ID_STAT").data("kendoComboBox").value("");
        }
        if (ID_TYPE_DETA_TICK.dataItem().ID_TYPE_DETA_TICK == 1) {

            $("#ID_QUEU").data("kendoComboBox").value("");
            if(	$("#ID_CLIE").data("kendoComboBox"))
            {
                $("#ID_CLIE").data("kendoComboBox").value("");
                $("#ID_CLIE").data("kendoComboBox").enable(false);
            }
            $("#ID_STAT").data("kendoComboBox").value("");

        }
    });*@

    var ID_STAT = $("#ID_STAT").kendoComboBox({
        autoBind: true,
        dataTextField: "NAM_STAT",
        dataValueField: "ID_STAT",
        dataSource: {
            //type: "odata",
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/StatusTicket/StatusCondition/@ViewBag.ID_TICK"
            }
        }
    }).data("kendoComboBox");

    ID_STAT.bind("change", function (e) {

        if (ID_STAT.dataItem().ID_STAT == 5) {
            $("#fechaScheduled").removeClass('divHide');
            $("#fechaRealTermino").addClass('divHide');
            $("#divControlRemoto").addClass('divHide');
        }
        else {
            if (ID_STAT.dataItem().ID_STAT == 4) {
                $("#fechaScheduled").addClass('divHide');
                $("#fechaRealTermino").removeClass('divHide');
                $("#divControlRemoto").removeClass('divHide');
                //IniciarLeccionAprendida();
                //$("#submit").trigger('click');
            }
            else {
                $("#fechaScheduled").addClass('divHide');
                $("#fechaRealTermino").addClass('divHide');
                $("#divControlRemoto").addClass('divHide');
            }
        }
    });

    //status sale
    $("#ID_STAT_SALE_OPP").kendoComboBox({
        dataTextField: "NAM_STAT_SALE_OPPO",
        dataValueField: "ID_STAT_SALE_OPPO",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/StatusSalesOpportunities/ListAll?var=" + Math.random()
            }
        }
    }).data("kendoComboBox");

    $("#ID_QUEU").kendoComboBox({
        dataTextField: "QUEU",
        dataValueField: "ID_QUEU",
        filter: "contains",
        autoBind: false,
        delay: 500,
        minLength: 0,
        suggest: true,
        template: '<div style="text-transform:capitalize; display: inline-block; width:100%; height:35px; position:relative; ">' +
                    '<span><strong>${data.QUEU}</strong></span><br />' +
                    '<span style="font-size:.9em; position:absolute; top:15px;">${data.DES_QUEU}</span></div>',
        dataSource: {
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountQueue/ListByAcco?var=" + Math.random()
            }
        }
    }).data("kendoComboBox");




    $("#ID_PERS_ENTI").kendoComboBox({
        autoBind: false,
        index: 1,
        cascadeFrom: "ID_QUEU",
        dataTextField: "ASSI",
        template: '<div style="text-transform:capitalize; display: inline-block; width:100%;">' +
                                  '<div style="float:left;">${data.ASSI}</div>' +
                                  '<div style="float:right; ">(WL ${data.WorkLoad})</div>' +
                              '</div>',
        dataValueField: "ID_PERS_ENTI",
        dataSource: {
            //type: "odata",
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/AssigneByQueue?var=" + Math.random()
            }
        }
    }).data("kendoComboBox");


    @*function uploadDone(conf, msg, nivel1, nivel2, nivel3, nivel4, idTema, idtick, nameNivel1, nameNivel2, nameNivel3, nameNivel4, nameTema, idEstado) {

        closeWinModalPopUpLoad();
        if (conf == 'OK') {
            var title = 'Información Guardada';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                   + "<div style='padding:10px 0px 10px 0px;'>Detail Ticket information was succesfully saved</div>"
                   + "<div style='padding:10px 0px 10px 0px;'>Code: " + msg + "</div>" +
                   "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                   "<button id='btnContinues' class='k-button'>Continue</button>" +
                   "</div></div>";

            winPopUpModal(title, body, 400, 185);

            $("#closebtnmodal").click(function () {
                location.reload(true);
            });

            $("#btnContinues").click(function () {
                location.reload(true);
            });
        }
        else {
            var title = '@ResourceLanguaje.Resource.InformationMissing';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
                "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                "<button id='btnContinuee' class='k-button'>Continue</button>" +
                        "</div></div>";

            winPopUpModal(title, body, 400, 150);

            $("#btnContinuee").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });
            });
        }
    }*@

    function IniciarLeccionAprendida() {

        //$("#miModal").show();
        var htmlForm = '<div id="FormLeccionAprendida"></div>';
        var id = $("#ID_TICK").val();
        winFormPopup("Nueva lección Aprendida", htmlForm);
        $("#FormLeccionAprendida").load("/KnowledgeManagement/GenerarLeccionTicketProblema?id=" + id + "&var=" + Math.random());
        //load("/Ticket/viewDetalleUsuario?id=" + idUsuario + "&var=" + Math.random());
        @*/*?id=" + "@ViewBag.ID_COMP" + "&var=" + Math.random()*/*@
    }


    /*Modificado para la gestión de conocimiento y problemas*/
    function uploadDone(conf, msg, nivel1, nivel2, nivel3, nivel4, idTema, idtick, nameNivel1, nameNivel2, nameNivel3, nameNivel4, nameTema, idEstado, Flagproblema) {

        closeWinModalPopUpLoad();
        if (conf == 'OK') {
            /*################################################################## GCR161203 #######################################################################################*/
            if (idEstado == 4) {

                if (Flagproblema == "True") {

                    var title = 'Información Guardada';
                    var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                           + "<div style='padding:10px 0px 10px 0px;'>Detail Ticket information was succesfully saved</div>"
                           + "<div style='padding:10px 0px 10px 0px;'>Code: " + msg + "</div>" +
                           "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                           "<button id='btnContinues' class='k-button'>Continue</button>" +
                           "</div></div>";

                    winPopUpModal(title, body, 400, 185);

                    $("#closebtnmodal").click(function () {

                        //location.reload(true);
                        location.reload(true);
                        // var url = "http://" + location.host + "/#/NewLessonLearned?nivel1=" + nivel1 + "&nivel2=" + nivel2 + "&nivel3=" + nivel3 + "&nivel4=" + nivel4 + "&idTema=" + idTema + "&idtick=" + idtick + "&nameNivel1=" + nameNivel1 + "&nameNivel2=" + nameNivel2 + "&nameNivel3=" + nameNivel3 + "&nameNivel4=" + nameNivel4 + "&nameTema=" + nameTema;
                        // window.open(url, '_blank');
                    });
                    $("#btnContinues").click(function () {
                        location.reload(true);
                        //var url = "http://" + location.host + "/#/NewLessonLearned?nivel1=" + nivel1 + "&nivel2=" + nivel2 + "&nivel3=" + nivel3 + "&nivel4=" + nivel4 + "&idTema=" + idTema + "&idtick=" + idtick + "&nameNivel1=" + nameNivel1 + "&nameNivel2=" + nameNivel2 + "&nameNivel3=" + nameNivel3 + "&nameNivel4=" + nameNivel4 + "&nameTema=" + nameTema;
                        //window.open(url, '_blank');
                    });
                } else {
                    var title = 'Información Guardada';
                    var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                           + "<div style='padding:10px 0px 10px 0px;'>Detail Ticket information was succesfully saved</div>"
                           + "<div style='padding:10px 0px 10px 0px;'>Code: " + msg + "</div>" +
                           "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                           "<button id='btnContinues' class='k-button'>Continue</button>" +
                           "</div></div>";

                    winPopUpModal(title, body, 400, 185);

                    $("#closebtnmodal").click(function () {

                        location.reload(true);
                        var url = "http://" + location.host + "/KnowledgeManagement/NewLessonLearned?nivel1=" + nivel1 + "&nivel2=" + nivel2 + "&nivel3=" + nivel3 + "&nivel4=" + nivel4 + "&idTema=" + idTema + "&idtick=" + idtick + "&nameNivel1=" + nameNivel1 + "&nameNivel2=" + nameNivel2 + "&nameNivel3=" + nameNivel3 + "&nameNivel4=" + nameNivel4 + "&nameTema=" + nameTema;
                        window.open(url, '_blank');
                    });
                    $("#btnContinues").click(function () {
                        swal({
                            title: "¿Desea agregar una lección aprendida a esta operación realizada?",
                            type: "info",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            cancelButtonText: "No",
                            confirmButtonText: "Sí",
                            closeOnConfirm: false
                        }, function (dismiss) {
                            if (dismiss) {
                                location.reload(true);
                                var url = "http://" + location.host + "/KnowledgeManagement/NewLessonLearned?nivel1=" + nivel1 + "&nivel2=" + nivel2 + "&nivel3=" + nivel3 + "&nivel4=" + nivel4 + "&idTema=" + idTema + "&idtick=" + idtick + "&nameNivel1=" + nameNivel1 + "&nameNivel2=" + nameNivel2 + "&nameNivel3=" + nameNivel3 + "&nameNivel4=" + nameNivel4 + "&nameTema=" + nameTema;
                                window.open(url, '_blank');
                            } else
                                location.reload(true);
                        })
                    });
                }
            } else {

                var title = 'Información Guardada';
                var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                       + "<div style='padding:10px 0px 10px 0px;'>Detail Ticket information was succesfully saved</div>"
                       + "<div style='padding:10px 0px 10px 0px;'>Code: " + msg + "</div>" +
                       "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                       "<button id='btnContinues' class='k-button'>Continue</button>" +
                       "</div></div>";

                winPopUpModal(title, body, 400, 185);

                $("#closebtnmodal").click(function () {

                    location.reload(true);
                });
                $("#btnContinues").click(function () {
                    location.reload(true);
                });
            }

        }
        else {
            var title = '@ResourceLanguaje.Resource.InformationMissing';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>" + msg + "</div>" +
                "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                "<button id='btnContinuee' class='k-button'>Continue</button>" +
                        "</div></div>";

            winPopUpModal(title, body, 400, 150);

            $("#btnContinuee").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                });
            });

            /*################################################################## GCR161203 #######################################################################################*/
        }
    }


    function detailUser(id) {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/AccountEntity/DetailPerson/" + id,
                    type: "GET",
                    dataType: "json",
                    data: {
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#divDetu").empty();

        $("#divDetu").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#templdu").html())
        });
    }

    function ListAllAttach() {

        $("#divAttachFiles").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/DetailsTicket/AttaAllTick/" + "@ViewBag.ID_TICK",
                        type: "GET",
                        dataType: "json",
                        data: {
                            ran: Math.random()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count",
                    model: {
                        fields: {
                            NAM_ATTA: { type: "string" },
                            ID_ATTA: { type: "number" },
                            EXT_ATTA: { type: "string" },
                            NAM_TYPE_DOCU_ATTA: { type: "string" }
                        }
                    }
                },
                group: {
                    field: "NAM_TYPE_DOCU_ATTA", aggregates: [
                       { field: "NAM_ATTA", aggregate: "count" }
                       , { field: "NAM_TYPE_DOCU_ATTA", aggregate: "count" }
                    ]
                }
            },
            sortable: true,
            filterable: true,
            pageable: false,
            //height: 185,
            //columns: [
            //    { field: "NAM_ATTA", title: "File Name", template: "<a href='#: NAM_ATTA #_#: ID_ATTA ##: EXT_ATTA #' target='_blank'>#: NAM_ATTA # </a>" }
            columns: [
                {
                    field: "NAM_ATTA", title: "File Name", template: function(query2){
                        if (query2.EXT_ATTA == '.pdf' || query2.EXT_ATTA == '.jpg' || query2.EXT_ATTA == '.png' || query2.EXT_ATTA == '.txt') {
                            //return "<a href='DetailsTicket/VerDocumento/#: NAM_ATTA #' target='_blank'>#: NAM_ATTA # </a>"
                            return "<a href='/DetailsTicket/VerDocumento/" + query2.NAM_ATTA + '_' + query2.ID_ATTA + query2.EXT_ATTA + "' target='_blank'>" + query2.NAM_ATTA + "</a>"
                        }
                        else {
                            return "<a href='/DetailsTicket/DescargarArchivo/" + query2.NAM_ATTA + '_' + query2.ID_ATTA + query2.EXT_ATTA + "' target='_blank'>" + query2.NAM_ATTA + "</a>"
                        }
                    }

                }
                , { field: "NAM_TYPE_DOCU_ATTA", title: "Type Attach", groupHeaderTemplate: "#= value # (#= count#)" }
            ]
        });
    }

    function showDetailsIncident() {

        $.each(data1['datadeta'], function (index, value) {

            $("#divDetaTicket").append(
                '<div class="divFondoDos">' +
            '<div class="casilla">' +
                '<div class="smallTitle">Estado</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['NAM_STAT']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Usuario Solicitante</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['Sol']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Usuario Afectado</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['AEU']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Nivel de Servicio</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['SLA']) + ' Horas</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Tiempo de Expiración</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['EXP_TIME']) + '</div>' +
            '</div>' +
              ("@ViewBag.ACCESO_EDIT" == 1 && parseInt(@Session["ID_ACCO"]) == 17 ?
             '<div class="casilla">' +
                '<div class="smallTitle">Tiempo transcurrido</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['TIME_USED']) + '</div>' +
            '</div>' : '') +

            ((data1['datadeta'][index]['ID_DOCU_SALE']) != 0 ?
            '<div class="casilla">' +
                '<div class="smallTitle">OP</div>' +
                '<div class="smallField"><a href="/OrderForm/Details/' + (data1['datadeta'][index]['ID_DOCU_SALE']) + '" target="_blank" style="text-decoration:none;" title="View OP">' + (data1['datadeta'][index]['COD_TYPE_DOCU_SALE']) + ' ' + (data1['datadeta'][index]['NUM_OP']) + '</a></div>' +
            '</div>' : '') +
            ((data1['datadeta'][index]['ID_QUEU']) == 26 ?
            '<div class="casilla">' +
                '<div class="smallTitle">Monto</div>' +
                '<div class="smallField">$ ' + (data1['datadeta'][index]['AMM']) + '</div>' +
            '</div>' : '') +
            ((data1['datadeta'][index]['ID_QUEU']) == 26 ?
            '<div class="casilla">' +
                '<div class="smallTitle">Ganancia</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['PROF']) + ' % </div>' +
            '</div>' : '') +
        '</div>' +
        '<div class="divFondoUno">' +
            '<div class="casilla">' +
                '<div class="smallTitle">Prioridad</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['NAM_PRIO']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Categoria</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['CATE_1']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">SubCategoria</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['CATE_2']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Clase</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['CATE_3']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">SubClase</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['CATE_4']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Tema</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['NAME_TEMA']) + '</div>' +
            '</div>' +
        '</div>' +
        '<div class="divFondoDos">' +
            '<div class="casilla">' +
                '<div class="smallTitle">Fuente</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['NAM_SOUR']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Fecha Creación</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['CREATE_TICK']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Fecha Modificación</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['MODIFIED_TICK']) + '</div>' +
            '</div>' +
            ((data1['datadeta'][index]['ID_STAT']) == 5 ?
            '<div class="casilla">' +
                '<div class="smallTitle">Fecha Programación</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['DATE_SCHE']) + '</div>' +
            '</div>' : '') +
            '<div class="casilla">' +
                '<div class="smallTitle">Adjuntos</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['ATTA_TOT']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Control Remoto</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['REM_CONT']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Servicio</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['SERVICE']) + '</div>' +
            '</div>' +
        '</div>' +
            (parseInt(@Session["ID_ACCO"]) == 3 ?
        '<div class="divFondoDos">' +
             '<div class="casilla">' +
                '<div class="smallTitle">Fecha de Inicio Real</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['FEC_INI_REAL']) + '</div>' +
            '</div>' +
            '<div class="casilla">' +
                '<div class="smallTitle">Fecha Fin Real</div>' +
                '<div class="smallField">' + (data1['datadeta'][index]['FEC_END_REAL']) + '</div>' +
            '</div>' +
         '</div>' : '') +

        '<div class="divFondoUno">' +
            '<div class="detailsSummary">' +
                '<div id="detSummary">' +
                    '<div class="containerdt">' +
                        '<div class ="userData">' +
                            '<div class="asignedImage"><a><img src="/Content/Fotos/' + (data1['datadeta'][index]['PHOTO']) + '.jpg"/></a></div>' +
                        '</div>' +
                        '<div class="messageData">' +
                            '<div class="messageArrow"></div>' +
                            '<div class="messageBoxDet">' +
                                '<div class="msgBoxDetUser">' + 'Creado por ' + (data1['datadeta'][index]['CREA_BY']) +
                                '</div>' +
                                ("@ViewBag.ACCESO_SEND_SURVEY" == 1 && (data1['datadeta'][index]['ID_STAT']) == 6 ?
                                     '<div class="msgBoxDetUserAssi">' +
                                        '|<a style="cursor:pointer; color:#369;" href="javascript:void(0)" onclick="FcnSendSurvey(@ViewBag.ID_TICK)"> Enviar Encuesta </a>' +
                                     '</div>' : '') +

                                ("@ViewBag.ACCESO_EDIT" == 1 ?
                                '<div class="msgBoxDetUserAssi">' +
                                     '|<a style="cursor:pointer; color:#369;" href="javascript:void(0)" data-toggle="modal" data-target="#EditCommentModal" onclick="EditComment(@ViewBag.ID_TICK)"> Editar </a>' +
                                '</div>' : '') +



                                '<div class="msgBoxDetUserAssi">' + 'Asignado a ' + (data1['datadeta'][index]['ASSI_TO']) +
                                '&nbsp;</div>' +

                            '</div>' +
                            '<div class="msgBoxBody">' + (data1['datadeta'][index]['SUM_TICK']) +
                            '</div>' +
                            '<div class="dadjuntos">' + (data1['datadeta'][index]['ATTA']) +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>' +
        '</div>'
                );


            if ((data1['datadeta'][index]['ID_ACCO']) == 4) {
                $("#divCIA").html(data1['datadeta'][index]['CIA'] + ' - ' + data1['datadeta'][index]['COMPEND']);
                $("#divCIA").attr("title", data1['datadeta'][index]['COMP'] + ' - ' + data1['datadeta'][index]['COMPEND']);
            }

            /*Gestión del Conocimiento*/
            //detailUser(data1['datadeta'][index]['ID_PERS_ENTI_END']);
            /*Fin*/

            $("#idUsuario").val(data1['datadeta'][index]['ID_PERS_ENTI_END']);
            ListAllAttach();
        });

        $.each(data1['data'], function (index, value) {

            $("#divActivities").append(
                '<a href="#" onclick="mover(' + (data1['data'][index]['ID_DETA_TICK']) + ')"><div class="listActCont">' +
                    '<div class="listActContGris">' +
                        (data1['data'][index]['NAM_TYPE_DETA_TICK']) + '-' + (data1['data'][index]['MinutosTranscurridos']) + ' m' +
                    '</div>' +
                    '<div class="listActContGrisR">' +
                        (data1['data'][index]['PERS']) +
                    '</div>' +
                    '<div class="listActContGrisC">' +
                        (data1['data'][index]['CREATE_DETA_INCI']) +
                    '</div>' +
                '</div></a>'
                );

            $("#divDetails").append('<div class="detailsSummary">' +
                        '<div id="' + (data1['data'][index]['ID_DETA_TICK']) + '">' +
                            '<div class="containerdt">' +
                                '<div class="userData">' +
                                    '<div class="asignedImage"><div ><img src="/Content/Fotos/' + (data1['data'][index]['PHOTO']) + '.jpg"/></div></div>' +
                                '</div>' +
                                '<div class="messageData">' +
                                    '<div class="messageArrow"></div>' +
                                        '<div class ="messageBoxDet">' +
                                            '<div class ="msgBoxDetUser">' +
                                                (data1['data'][index]['PERS']).toLowerCase() +
                                            '</div>' +
                                            ("@ViewBag.ACCESO_EDIT" == 1 ?
                                            '<div class="msgBoxDetUserAssi">' +
                                                  '<a style="color:#369; cursor:pointer;" data-toggle="modal" data-target="#EditCommentModal" onclick="EditDetailComment(' + data1['data'][index]['INEX'] + ')"> Edit</a>' +
                                            '</div>' : '') +

                                            '<div class ="msgBoxDetCreate">' +
                                                (data1['data'][index]['CREATE_DETA_INCI']) +
                                            '</div>' +
                                            '<div class ="msgBoxDetCreate">' +
                                                (data1['data'][index]['Causa']) +
                                            '</div>' +
                                        '</div>' +
                                        '<div class ="messageBoxDet2">' +
                                        '<div class ="msgBoxDetTDI"><div> Inicio Actividad:&nbsp;' +
                                            (data1['data'][index]['DATE_INIC']) +
                                        '</div><div  style="margin-top: -16px;margin-left: 375px;">Fin Actividad:&nbsp;' +
                                            (data1['data'][index]['DATE_END']) +
                                        '</div></div>' +
                                            '<div class ="msgBoxDetTDI' + (data1['data'][index]['ID_TYPE_DETA_TICK']) + '">' +
                                            (data1['data'][index]['NAM_TYPE_DETA_TICK']).toLowerCase() +
                                            '</div>' +
                                            '<div class="msgBoxDetAs"> ' + ' ' +
                                                ((data1['data'][index]['ID_TYPE_DETA_TICK']) == 3 ? (": " + (data1['data'][index]['NAM_STAT']).toLowerCase() + " " + (data1['data'][index]['FEC_SCHE'])) : '') +
                                                ((data1['data'][index]['ID_TYPE_DETA_TICK']) == 2 ? (": " + data1['data'][index]['ASSI']).toLowerCase() : '') +
                                                ((data1['data'][index]['ID_TYPE_DETA_TICK']) == 8 ? (": " + data1['data'][index]['NAM_STAT_SALE_OPPO']).toLowerCase() + " | Ammount: $ " + (data1['data'][index]['AMM_SALE_OPP']) + " | Profit:" + (data1['data'][index]['PRO_SALE_OPP']) + " %" : '') +
                                                ((data1['data'][index]['ID_TYPE_DETA_TICK']) == 9 ? (": " + data1['data'][index]['FROM_TIME'] + " - " + data1['data'][index]['TO_TIME']) : '') +
                                            '</div>' +
                                        '</div>' +
                                    '<div class="msgBoxBody">' +
                                        (data1['data'][index]['COM_DETA_INCI']) +
                                    '</div>' +
                                    '<div class ="dadjuntos">' +
                                        (data1['data'][index]['ADJ']) +
                                        //////'<a href="#/DetailsTicket/VerDocumento/fdvdfg>' + '</a>' +
                                        ////'<a target="_blank" href="/DetailsTicket/DescargarArchivo/fdvdfg">' + (data1['data'][index]['ADJ']) + '</a>' +
                                '</div>' +
                                '</div>' +//message Data
                            '</div>' +
                        '</div>' +
                    '</div>');

        });

        $.each(data1['listaLeccionAprendida'], function (index, value) {

            /*Gestión de problemas*/
            $("#divLeccionAprendida").append('<div class="detailsSummary">' +
                      '<div id="detSummary">' +
                          '<div class="containerdt">' +
                              '<div class="userData">' +
                                  '<div class="asignedImage"><div ><img src="/Content/Fotos/prueba.jpg"/></div></div>' +
                              '</div>' +

                              '<div class="messageData">' +
                                  '<div class="messageArrow"></div>' +
                                      '<div class ="messageBoxDet">' +
                                            '<label>Lección aprendida Ticket problema</label> <a target="_blank" href="#/KnowledgeManagement/EditLessonLearned/' + data1['listaLeccionAprendida'][index]['idLeccionAprendida'] + '"' + ' style="text-decoration:none;"><span class="glyphicon glyphicon-play" aria-hidden="true"></span><span>' + data1['listaLeccionAprendida'][index]['idLeccionAprendida'] + '</span></a>' +
                                        '</div>' +
                                  '<div class="msgBoxBody">' +
                                       '<spam><label>Título</label><p>' +
                                      (data1['listaLeccionAprendida'][index]['Titulo']) +
                                      '</p><label>Categoría</label><p>' +
                                        (data1['listaLeccionAprendida'][index]['Categoria']) +
                                        '</p></spam>' +
                                          '</p><label>Descripción</label><p>' +
                                        (data1['listaLeccionAprendida'][index]['Descripcion']) +
                                        '</p></spam>' +
                                        //   '</p><label>Solución Aplicada</label><p>' +
                                        //(data1['listaLeccionAprendida'][index]['SolucionAplicada']) +
                                        //'</p></spam>' +
                                               '</p><label>Impacto</label><p>' +
                                        (data1['listaLeccionAprendida'][index]['Impacto']) +
                                        '</p></spam>' +
                                          '</p><label>Solución Temporal</label><p>' +
                                        (data1['listaLeccionAprendida'][index]['SolucionTemporal']) +
                                        '</p></spam>' +
                                               '</p><label>Solución Definitiva</label><p>' +
                                        (data1['listaLeccionAprendida'][index]['SolucionDefinitiva']) +
                                        '</p></spam>' +
                                  '</div>' +
                              '</div>' +//message Data
                          '</div>' +
                      '</div>' +
                  '</div>');
            /*Fin*/
        });
    }

    function EditComment(id) {

        $("#divFrmLoadSummary").empty();

        //if (parseInt(@Session["ID_ACCO"]) == 17) {
        $("#divFrmLoadSummary").load("/Ticket/UpdateDateTicket/" + id + "?_=" + Math.random());
        //}
        //else {
        //    $("#divFrmLoadSummary").load("/Ticket/EditSummary/" + id + "?_=" + Math.random());
        //}

    }

    function EditDetailComment(id) {
        $("#divFrmLoadSummary").empty();
        @*if(parseInt(@Session["ID_ACCO"]) == 17 )
        *@//{
        $("#divFrmLoadSummary").load("/DetailsTicket/UpdateDatesDetailsTicket/" + id + "?_=" + Math.random());
        //}
        //else {
        //$("#divFrmLoadSummary").load("/DetailsTicket/EditSummary/" + id + "?_=" + Math.random());
        //}
    }

    function fxNewComment(obj) {
        ChangeX();
        if (parseInt(@Session["Operations_Module"]) == 1 && parseInt(@ViewBag.ID_COMP) != 9) {
            $(".ComentsTickets").addClass("divHide");
        }
        else {
            $(".ComentsTickets").removeClass("divHide");
        }
        $("#linkNC").addClass("activeNavDT");
        $("#divCausa").removeClass("divHide");

        $("#ID_TYPE_DETA_TICK").val(1);

        $("#FEC_END_REAL").val('');
        //$("#divTypeTicket5").removeClass("divHide");
    }
    function fxSchedule(obj, eve) {
        ChangeX();
        $("#linkSCH").addClass("activeNavDT");
        $("#ID_TYPE_DETA_TICK").val(3);
        $("#ID_STAT").val(5);

        $("#fechaScheduled").removeClass("divHide");
        $("#divEsperaPorCliente").removeClass("divHide");
        $("#divTypeTicket3").removeClass("divHide");
        $("#fechaRealTermino").addClass("divHide");
        $(".ComentsTickets").removeClass("divHide");
        $("#divCausa").addClass("divHide");

    }

    function fxUpdateStatus() {
        ChangeX();
        $("#linkUS").addClass("activeNavDT");
        $("#divCausa").addClass("divHide");

        $("#ID_TYPE_DETA_TICK").val(3);

        $("#divStatus").removeClass("divHide");
        $("#divTypeTicket3").removeClass("divHide");
        $(".ComentsTickets").removeClass("divHide");

        if ($("#ID_STAT").val() == 5) {
            $("#ID_STAT").data("kendoComboBox").value(5);
            $("#fechaScheduled").removeClass("divHide");
            $("#divEsperaPorCliente").removeClass("divHide");
        }
    }

    function fxTransferTo() {
        ChangeX();
        $("#linkTT").addClass("activeNavDT");
        $("#divCausa").addClass("divHide");

        $("#divTypeTicket2").removeClass("divHide");
        $("#ID_TYPE_DETA_TICK").val(2);
        $(".ComentsTickets").removeClass("divHide");
    }

    function fxTimer() {
        ChangeX();
        $("#linkTimer").addClass("activeNavDT");

        $("#ID_TYPE_DETA_TICK").val(9);

        //$("#divTypeTicket5").removeClass("divHide");
        $(".ComentsTickets").removeClass("divHide");
    }

    function fxOptions() {
        ChangeX();
        $("#linkOptions").addClass("activeNavDT");

        if (i_conf == 0) {
            $("#divDTOptions").css("height", 135);
            $("#divDTOptions").css("border", "1px solid #e2e2e2");
            i_conf = 1;
        }
        else {
            $("#divDTOptions").css("height", 0);
            $("#divDTOptions").css("border", "0px solid #e2e2e2");
            i_conf = 0;
        }
    }

    function ChangeX() {
        $("#linkSCH").removeClass("activeNavDT");
        $("#linkNC").removeClass("activeNavDT");
        $("#linkUS").removeClass("activeNavDT");
        $("#linkTT").removeClass("activeNavDT");
        $("#linkTimer").removeClass("activeNavDT");
        $("#linkOptions").removeClass("activeNavDT");
        $("#divTypeTicket2").addClass("divHide");
        $("#divTypeTicket3").addClass("divHide");
        $("#fechaScheduled").addClass("divHide");
        $("#divStatus").addClass("divHide");
        $("#divEsperaPorCliente").addClass("divHide");
        $("#divControlRemoto").addClass("divHide");
        //$("#divTypeTicket5").addClass("divHide");

        $("#ID_QUEU").data("kendoComboBox").value("");
    }

    function FcnSendSurvey(id) {
        $('#SmallModalContent').modal('show');
        $("#SmallModalTitle").empty();
        $("#SmallModalTitle").text("Warning");
        $("#SmallModalBody").empty();
        $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>Are you sure to send survey</div>");
        $("#SmallModalFooter").empty();
        $("#SmallModalFooter").append("<div style='float:right;'>" +
                                          "<button id='continues' class='k-button'>Yes</button>" +
                                          "<span>&nbsp;&nbsp;</span>" +
                                          "<button id='cancel' class='k-button'>No</button>" +
                                   "</div>");
        var undo = $("#continues")
        .bind("click", function () {
            $('#SmallModalContent').modal('hide');

            $.ajax({
                url: "/Ticket/SendSurveyTicket/",
                data: "ID_TICK=" + id + "&var=" + Math.random(),
                type: "POST",
                cache: false,
                dataType: "text",
                success: function (resp) {
                    if (resp == "OK") {

                        $('#SmallModalContent').modal('show');
                        $("#SmallModalTitle").empty();
                        $("#SmallModalTitle").text("Warning");
                        $("#SmallModalBody").empty();
                        $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>Sent successfully</div>");
                        $("#SmallModalFooter").empty();
                        $("#SmallModalFooter").append("<div style='float:right;'>" +
                                                          "<button id='continues' class='k-button'>Continue</button>" +
                                                       "</div>");
                        var undo = $("#continues")
                        .bind("click", function () {
                            $('#SmallModalContent').modal('hide');
                        });
                    }
                    else if (resp == "EXISTE") {

                        alert("The survey was sent");

                        //$('#SmallModalContent').modal('show');
                        //$("#SmallModalTitle").empty();
                        //$("#SmallModalTitle").text("Warning");
                        //$("#SmallModalBody").empty();
                        //$("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>The survey was sent</div>");
                        //$("#SmallModalFooter").empty();
                        //$("#SmallModalFooter").append("<div style='float:right;'>" +
                        //                                  "<button id='continues' class='k-button'>Continue</button>" +
                        //                               "</div>");
                        //var undo = $("#continues")
                        //.bind("click", function () {
                        //    $('#SmallModalContent').modal('hide');
                        //});
                    }
                    else {
                        alert(Error);
                    }
                }
            });
        });

        var cancel = $("#cancel")
     .bind("click", function () {
         $('#SmallModalContent').modal('hide');
     });
    }

    function mover(IdTicketDetalle) {
        event.preventDefault();
        $('html,body').animate({
            scrollTop: $("#" + IdTicketDetalle).offset().top
        }, 1000);
    }
    function GenerarCambio(id) {
        $("#divGenerarCambio").empty();
        $("#divGenerarCambio").load("/ChangeRequest/RegistrarGestionCambio/" + @ViewBag.ID_TICK);
    }
    function IrCambio(id){
        window.open("http://" + location.host + "/ChangeRequest/ResumenGestionCambio/"+id)
    }

</script>