<script type="text/javascript" src="~/Scripts/jq-paginator.js"></script>
<div>
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="tabs-lg-alternate card-header">
                <ul class="nav nav-justified">
                    <li class="nav-item">
                        <a data-toggle="tab" class="nav-link active show">
                            <div class="tab-subheading colorTab">
                                <span class="pr-2 opactiy-6">
                                    <i class="fa fa-wrench"></i>
                                </span>
                                Tickets Mantenimiento
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active show" role="tabpanel">
                    <div class="card-body">
                        <p class="mb-0">
                            <div id="content">
                                <div class="row">
                                    @*<div class="col-lg-6 col-xl-2">
                                            <br />
                                            <img src="~/Content/Images/LogoElectrodata.png" alt="Descripción de la imagen" class="img-fluid">
                                        </div>*@
                                    <div class="col-lg-6 col-xl-2">
                                        <div class="card mb-3 widget-content bg-danger btn" id="homInc1" onclick="ClickMante(this)">
                                            <div class="widget-content-wrapper text-white">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Activos</div>
                                                    <div class="widget-subheading">Total @ViewBag.TAActive</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-white"><span>@ViewBag.TAActive</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-xl-2">
                                        <div class="card mb-3 widget-content bg-warning btn" id="homInc2" onclick="ClickMante(this)">
                                            <div class="widget-content-wrapper text-white">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Programados</div>
                                                    <div class="widget-subheading">Total @ViewBag.TAScheduled</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-white"><span>@ViewBag.TAScheduled</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-xl-2">
                                        <div class="card mb-3 widget-content bg-info btn" id="homInc3" onclick="ClickMante(this)">
                                            <div class="widget-content-wrapper text-white">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">En espera</div>
                                                    <div class="widget-subheading">Total @ViewBag.TAEnEspera</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-white"><span>@ViewBag.TAEnEspera</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-xl-2">
                                        <div class="card mb-3 widget-content bg-primary btn" id="homInc4" onclick="ClickMante(this)">
                                            <div class="widget-content-wrapper text-white">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Resuelto sin informe</div>
                                                    <div class="widget-subheading">Total @ViewBag.TAResueltoSinInforme</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-white"><span>@ViewBag.TAResueltoSinInforme</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-xl-2">
                                        <div class="card mb-3 widget-content bg-success btn" id="homInc5" onclick="ClickMante(this)">
                                            <div class="widget-content-wrapper text-white">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Resueltos</div>
                                                    <div class="widget-subheading">Total @ViewBag.TAResolved</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-white"><span>@ViewBag.TAResolved</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-xl-2">
                                        <div class="card mb-3 widget-content bg-secondary btn" id="homInc6" onclick="ClickMante(this)">
                                            <div class="widget-content-wrapper text-white">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Cerrados</div>
                                                    <div class="widget-subheading">Total @ViewBag.TAClosed</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-white"><span>@ViewBag.TAClosed</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div id="listView" class="contentView">
                                    </div>

                                    @*<div id="pager" class="contentViewPager">
                                        </div>*@
                                    <div id="pager" class="pagination mt-3">
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-tmpl" id="templateMante">
    <div>
        <a href="\\DetailsTicket/Index/${ID_TICK}" target="_blank" class="text-decoration-none" style="width:100%">
            <div class="card-body py-3 btn-shadow btn-outline-focus">
               <div class="row no-gutters align-items-center">
                    <div class="col-lg-4">
                        <div class="small">requerimiento ${COD_TICK}</div>
                        <div class="small">Asignado a: ${asignadoA}</div>
                        <div class="small"><b>${requeridoPor} (${COM_NAME})</b></div>
                        <div class="small">Creado: ${creadoPor}</div>
                        <div class="small">Actualizado: ${kendo.toString(new Date(parseInt(MODIFIED_TICK.substr(6))), 'M/d/yyyy h:mm:ss tt')}</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="small" title>${TITLE_TICK}</div>
                        <div class="small">${c1} > ${c2} > ${c3} > ${c4}</div>
                    </div>
                    <div class="d-none d-md-block col-lg-2">
                            <div class="row no-gutters align-items-center">
                                <div class="media col-12 align-items-center">
                                    <img style="width: 40px; height: auto;" src="/Content/Fotos/${FOT_PERS}.jpg" alt=" " class="d-block ui-w-30 rounded-circle">
                                    <div class="media-body flex-truncate ml-2">
                                        # if (NAM_PRIO == 'P1 - CRITICO') { #
                                            <div class="badge badge-danger">${NAM_PRIO} ${HOU_PRIO}</div>
                                        # } else if (NAM_PRIO == 'P2 - ALTO') { #
                                            <div class="badge badge-warning">${NAM_PRIO} ${HOU_PRIO}</div>
                                        # } else if (NAM_PRIO == 'P3 - MEDIO') { #
                                            <div class="badge badge-success">${NAM_PRIO} ${HOU_PRIO}</div>
                                        # } else if (NAM_PRIO == 'P4 - BAJO') { #
                                            <div class="badge badge-info">${NAM_PRIO} ${HOU_PRIO}</div>
                                        # } #
                                        <div class="line-height-1 text-truncate">${expTime}</div>
                                    </div>
                                </div>
                            </div>
                     </div>
               </div>
            </div>
        </a>
    </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#pager").empty();
        $("#listView").empty();

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/ListaTicketsMantenimiento?var" + Math.random(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        skip: 0,
                        take: 10
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 1 },
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: "Grid",
                total: "Cantidad"
            }
        });

        //$("#pager").kendoPager({
        //    dataSource: dataSource,
        //    pageSizes: [10, 20, 30],
        //    refresh: true
        //});

        var cantTicketsAct = @ViewBag.TAActive;
        var cantPageAct = Math.ceil(cantTicketsAct / 10);
        if (cantTicketsAct > 1000) {
            cantPageAct = 100;
        }

        if (cantTicketsAct > 0) {
            $.jqPaginator('#pager', {
                totalPages: cantPageAct,
                visiblePages: 10,
                currentPage: 1,
                onPageChange: function (num, type) {
                    if (type == "change") {
                        var skip = (num - 1) * 10;
                        dataSource.read({ skip: skip, take: 10 });
                    }
                }
            });
        } else {
            $("#listView").hide();
        }

        $("#listView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#templateMante").html())
        });

    });

    function ClickMante(parm) {
        $("#pager").empty();
        $("#listView").show();
        var bandera = 0;
        var cantPage = 0;

        for (var i = 1; i < 5; i++) {
            $("#homInc" + i).removeClass("tab-active");
            $("#StatusSelecthomInc" + i).removeClass("tab-active-marks2");
            $("#letrashomInc" + i).removeClass("letrasActive");
        }
        $("#" + parm.id).addClass("tab-active");
        $("#StatusSelect" + parm.id).addClass("tab-active-marks2");
        $("#letras" + parm.id).addClass("letrasActive");

        if (parm.id == "homInc1") {
            bandera = 1;
            var cantTickets = @ViewBag.TAActive;
            cantPage = Math.ceil(cantTickets / 10);
            if (cantTickets > 1000) {
                cantPage = 100;
            }
        }
        else if (parm.id == "homInc2") {
            bandera = 5;
            var cantTickets = @ViewBag.TAScheduled;
            cantPage = Math.ceil(cantTickets / 10);
            if (cantTickets > 1000) {
                cantPage = 100;
            }
        }
        else if (parm.id == "homInc3") {
            bandera = 9;
            var cantTickets = @ViewBag.TAEnEspera;
            cantPage = Math.ceil(cantTickets / 10);
            if (cantTickets > 1000) {
                cantPage = 100;
            }
        }
        else if (parm.id == "homInc4") {
            bandera = 10;
            var cantTickets = @ViewBag.TAResueltoSinInforme;
            cantPage = Math.ceil(cantTickets / 10);
            if (cantTickets > 1000) {
                cantPage = 100;
            }
        }
        else if (parm.id == "homInc5") {
            bandera = 4;
            var cantTickets = @ViewBag.TAResolved;
            cantPage = Math.ceil(cantTickets / 10);
            if (cantTickets > 1000) {
                cantPage = 100;
            }
        }
        else {
            bandera = 6;
            var cantTickets = @ViewBag.TAClosed;
            cantPage = Math.ceil(cantTickets / 10);
            if (cantTickets > 1000) {
                cantPage = 100;
            }
        }

        var listView = $("#listView").data("kendoListView");
        listView.dataSource.filter({ field: "Status", operator: "eq", value: bandera });

        if (cantTickets > 0) {
            $.jqPaginator('#pager', {
                totalPages: cantPage,
                visiblePages: 10,
                currentPage: 1,
                onPageChange: function (num, type) {
                    if (type == "change") {
                        var skip = (num - 1) * 10;
                        listView.dataSource.read({ skip: skip, take: 10 });
                    }
                }
            });
        } else {
            $("#listView").hide();
        }
    }

</script>