
@{
    ViewBag.Title = "EditarSoporteED";
    Layout = null;
}
<style>
    table.k-editor {
        height: auto !important;
    }
</style>
@using (Html.BeginForm("EditarSoporteElectrodata", "SoporteED", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmRegistrar", name = "FrmRegistrar", target = "FrmRegistrar" }))
{
    <input type="hidden" id="IdSoporteED" name="IdSoporteED" value="@ViewBag.IdSoporteED" />
    <input type="hidden" id="NroCombo" name="NroCombo" value="@ViewBag.MantPrev" />
    <input type="hidden" id="MantPeriodico" name="MantPeriodico" value="@ViewBag.MantPeriodico" />
    <input type="hidden" id="Frecuencia" name="Frecuencia" value="@ViewBag.Frecuencia" />
    <input type="hidden" id="idCboSLAED" name="idCboSLAED" value="" />
    <div class="mb-3 card">
        <div class="card-body">
            <div id="mensajeSoporteED"></div>

            <!--<div class="form-group" id="divMantenimientosMeses">
                <div class="form-row">
                    <div class="col-md-10 editor-label">
                        Mantenimientos Periódicos-->
            @*@Html.CheckBox("chkMantPreiodico", false)*@
            <!--<input type="checkbox" id="chkMantPeriodicoED" name="chkMantPeriodicoED" style="width:80%">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        <select id="cbFechaED1" name="cbFechaED1" class="form-control input-sm select2" type="text" style="width:100%" disabled></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <select id="cbFechaED2" name="cbFechaED2" class="form-control input-sm select2" type="text" style="width:100%" disabled></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <select id="cbFechaED3" name="cbFechaED3" class="form-control input-sm select2" type="text" style="width:100%" disabled></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <select id="cbFechaED4" name="cbFechaED4" class="form-control input-sm select2" type="text" style="width:100%" disabled></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <select id="cbFechaED5" name="cbFechaED5" class="form-control input-sm select2" type="text" style="width:100%" disabled></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <select id="cbFechaED6" name="cbFechaED6" class="form-control input-sm select2" type="text" style="width:100%"></select>
                    </div>
                </div>
            </div>-->


            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div>Fabricante <b>(*)</b></div> <!--IdAccoPara-->
                        @*<input id="cbFabricanteElectrodata" name="cbFabricanteElectrodata" value="@ViewBag.Fabricante" class="form-control select2" type="text" style="width:100%">*@
                        <input id="cbFabricanteElectrodata" name="cbFabricanteElectrodata" class="dropdownKendo" >
                    </div>
                    <div class="col-md-4">
                        <div>SLA <b>(*)</b></div> <!--IdAccoPara-->
                        <select id="cbSLAED" name="cbSLAED" class="form-control select2" value="@ViewBag.SLA" type="text" style="width:100%" disabled></select>
                    </div>
                    <div class="col-md-4">
                        Bolsa de Horas Totales <b>(*)</b>
                        <input id="txtBolsaHorasED" name="txtBolsaHorasED" class="form-control" type="number" min="0" value="@ViewBag.BolsaHoras" />
                    </div>
                </div>
            </div>

            <div class="form-group" id="mantenimientoPeriodico1">
                <div class="row">
                    <div class="col-md-4" id="inicioSoporte">
                        <div class="position-relative form-group">
                            Inicio de soporte <b>(*)</b>
                            <input id="dtIniSoporteED" name="dtIniSoporteED" class="form-control pull-right" value="@ViewBag.FechaInicio" />
                        </div>
                    </div>
                    <div class="form-row col-md-8">
                        <div class="col-md-3" id="mesesDias">
                            <span>Meses o días<b>(*)</b></span>
                            <select class="form-control input-sm select2" type="text" style="width:100%" id="cbFrecuenciaSoporteED" name="cbFrecuenciaSoporteED">
                                <option value="M">Meses</option>
                                <option value="D">Dias</option>
                            </select>
                        </div>
                        <div class="col-md-3" id="tiempoSoporte">
                            <span style="font-size:11px">Tiempo de Soporte<b>(*)</b></span>
                            <input id="txtTiempoSoporteED" name="txtTiempoSoporteED" class="form-control" type="number" style="width:100%;" min="0" value="@ViewBag.TiempoSoporte" />
                        </div>
                        <div class="col-md-6" id="finSoporte">
                            <div class="position-relative form-group">
                                &nbsp;&nbsp;&nbsp;&nbsp;Fin de soporte <b>(*)</b>
                                <input id="dtFinSoporteED" name="dtFinSoporteED" style="padding-left:13px" class="form-control pull-right" value="@ViewBag.FechaFin" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="mantenimientoPeriodico2">
                <div class="row">
                    <div class="col-md-4">
                        Mant. Preventivos Totales <b>(*)</b>
                        <input id="txtMantPreventivoED" name="txtMantPreventivoED" class="form-control" type="number" style="width:100%;" min="0" value="@ViewBag.MantPrev" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-lg-4" id="mantenimientoPeriodico3">
                <div class="main-card card">
                    <div class="card-header">Listado de Mantenimientos</div>
                    <div class="card-body" style="overflow-y: scroll;max-height:210px">
                        <div id="divListadoSoporte">
                            En esta sección se mostrará el listado de soportes.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" id="divObservacionesSoporte">
                <textarea id="txtObservacionesED" name="txtObservacionesED" placeholder="Observaciones...">@ViewBag.Observaciones</textarea>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button id="btnEditarSoporteElectrodata" name="btnEditarSoporteElectrodata" class="btn btn-hover-shine btn-block btn-primary btn-sm" type="submit"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
}

<iframe id="FrmRegistrar" name="FrmRegistrar" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>


<script type="text/javascript">
    var estado= 0;
    var numeroCombo = 1;
    var numeroOpcion = 1;

    $(document).ready(function () {
        if("@ViewBag.MantPeriodico"=="1"){
            $("#divMantenimientosMeses").hide();
            $("#chkMantPeriodicoED").attr('checked', true);
        }
        else {
            //$("#mantenimientoPeriodico1").hide();
            $("#mesesDias").hide();
            $("#tiempoSoporte").hide();
            $("#inicioSoporte").show();
            $("#finSoporte").show();

            $("#mantenimientoPeriodico2").show();
            $("#mantenimientoPeriodico3").hide();

            //Observaciones
            $("#divObservacionesSoporte").removeClass();
            $("#divObservacionesSoporte").addClass("col-lg-12");

            numeroCombo=@ViewBag.MantPrev
            ocultarCombosNoPeriodico(@ViewBag.MantPrev)

            $.ajax({
                url: "/SoporteED/ListarSoporteEDMeses/@ViewBag.IdDocuSale/@ViewBag.IdSoporteED",
                type: "GET",
                dataType: "json",
                success: function (source) {
                    data = source;
                    //var c=1;
                    $.each(data['Data'], function (index, value) {
                        var $Option = $("<option></option>").val(data['Data'][index]['id']).text(data['Data'][index]['meses']);
                        //$("#cbFechaED"+c).append($Option).trigger('change');
                        //c=c+1;
                    });
                },
                error: function (source) {
                }
            });

        }

        $("#dtIniSoporteED").kendoDatePicker({ format: "dd/MM/yyyy" });
        $("#dtFinSoporteED").kendoDatePicker({ format: "dd/MM/yyyy" });

        $("#txtObservacionesED").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });


        $("#agregarED1").click(function () {
            if (numeroCombo != 6) {
                numeroCombo = numeroCombo + 1;
                //$("#cbFechaED" + numeroCombo).parent().show("show");
                $("#agregarED" + numeroCombo).show("show");
                $("#eliminarED1").show("show");

                $("#NroCombo").val(numeroCombo);
            }
        });
        $("#eliminarED1").click(function () {
            if (numeroCombo > 1) {
                //$("#cbFechaED" + numeroCombo).parent().hide("show");
                $("#agregarED" + numeroCombo).hide("show");
                numeroCombo = numeroCombo - 1;

                $("#NroCombo").val(numeroCombo);
            }
        });

        $("#dtIniSoporteED").change(function () {
            if ($("#txtTiempoSoporteED").val() != "" && kendo.toString($("#dtIniSoporte").data("kendoDatePicker").value(), "yyyy MM dd") != "") {
                $.ajax({
                    url: "/SoporteED/CalculoFinSoporte/",
                    data: "&TiempoSoporte=" + $("#txtTiempoSoporteED").val() + "&Frecuencia=" + $("#cbFrecuenciaSoporteED").val() +
                        "&TiempoInicial=" + kendo.toString($("#dtIniSoporte").data("kendoDatePicker").value(), "yyyy MM dd"),
                    cache: false,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#dtFinSoporte").data("kendoDatePicker").value(data.replace(/['"]+/g, ''));
                    },
                    error: function (data) {
                        toastr.error("Por favor, ingrese una tiempo válido.")
                    }
                });
            }
        });

        $("#cbFrecuenciaSoporteED").change(function () {
            if ($("#txtTiempoSoporteED").val() != "" && kendo.toString($("#dtIniSoporte").data("kendoDatePicker").value(), "yyyy MM dd") != "") {
                $.ajax({
                    url: "/SoporteED/CalculoFinSoporte/",
                    data: "&TiempoSoporte=" + $("#txtTiempoSoporteED").val() + "&Frecuencia=" + $("#cbFrecuenciaSoporteED").val() +
                        "&TiempoInicial=" + kendo.toString($("#dtIniSoporte").data("kendoDatePicker").value(), "yyyy MM dd"),
                    cache: false,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#dtFinSoporte").data("kendoDatePicker").value(data.replace(/['"]+/g, ''));
                    },
                    error: function (data) {
                        toastr.error("Por favor, ingrese una tiempo válido.")
                    }
                });
            }
        });

        $("#txtTiempoSoporteED").change(function () {
            if ($("#txtTiempoSoporteED").val() != "" && kendo.toString($("#dtIniSoporte").data("kendoDatePicker").value(), "yyyy MM dd") != "") {
                $.ajax({
                    url: "/SoporteED/CalculoFinSoporte/",
                    data: "&TiempoSoporte=" + $("#txtTiempoSoporteED").val() + "&Frecuencia=" + $("#cbFrecuenciaSoporteED").val() +
                        "&TiempoInicial=" + kendo.toString($("#dtIniSoporte").data("kendoDatePicker").value(), "yyyy MM dd"),
                    cache: false,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#dtFinSoporte").data("kendoDatePicker").value(data.replace(/['"]+/g, ''));
                    },
                    error: function (data) {
                        toastr.error("Por favor, ingrese una tiempo válido.")
                    }
                });
            }
        });

        //$("#cbFabricanteElectrodata").kendoComboBox({
        //    dataTextField: "text",
        //    dataValueField: "id",
        //    //index: 1,
        //    filter: "contains",
        //    autoBind: true,
        //    suggest: true,
        //    dataSource: {
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/SoporteFabricante/ListarFabricante?var=" + Math.random()
        //        }
        //    }
        //});

        var cbFabricanteElectrodata = $("#cbFabricanteElectrodata").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "id",
            filter: "contains",
            autoBind: true,
            suggest: true,
            value: "@ViewBag.IdFabricante",
            dataSource: {
                transport: {
                    read: {
                        url: "/SoporteFabricante/ListarFabricanteOP",
                        data: { NumDocuSale: @ViewBag.IdDocuSale },
                        dataType: "json"
                    }
                },
                schema: {
                    data: function (response) {
                        return response;
                    }
                }
            }
        });

        $("#cbSLAED").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/SoporteED/ListarSLA",
                dataType: 'json',
                //type: "POST",
                //params: {
                //    contentType: 'application/json; charset=utf-8'
                //},
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page,
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            }
        });

        //$("#cbFechaED1").select2();
        //$("#cbFechaED2").select2();
        //$("#cbFechaED3").select2();
        //$("#cbFechaED4").select2();
        //$("#cbFechaED5").select2();
        //$("#cbFechaED6").select2();

        //Asignación inicial
        @*var $newOption1 = $("<option></option>").val("@ViewBag.IdFabricante").text("@ViewBag.Fabricante");
        $("#cbFabricanteElectrodata").append($newOption1).trigger('change');*@
        var $newOption2 = $("<option></option>").val("@ViewBag.IdSla").text("@ViewBag.SLA");
        $("#cbSLAED").append($newOption2).trigger('change');
        $("#idCboSLAED").val("@ViewBag.IdSla");

        var frecuencia = $("#Frecuencia").val();
        $("#cbFrecuenciaSoporteED option[value='" + frecuencia + "']").attr("selected", true);

        //Listar Fechas de Mantenimientos
        ObtenerSoporteEDDetalle();
    });
    //function ocultarCombos() {
    //    // Oculta los combos de Mantenimientos periodicos
    //    $("#agregarED1").hide();
    //    $("#eliminarED1").hide();
    //    $("#cbFechaED1").parent().hide();
    //    $("#cbFechaED2").parent().hide();
    //    $("#cbFechaED3").parent().hide();
    //    $("#cbFechaED4").parent().hide();
    //    $("#cbFechaED5").parent().hide();
    //    $("#cbFechaED6").parent().hide();
    //}
    function ocultarCombosNoPeriodico(cont) {
        // Oculta los combos de Mantenimientos periodicos
        var c=cont+1;
        for(i=c;i<=6;i++){
            $("#cbFechaED"+i).parent().hide();
        }
    }

    function ObtenerSoporteEDDetalle() {
        $.ajax({
            url: "/SoporteED/ObtenerSoporteEDDetalle/" + $("#IdSoporteED").val(),
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                var IdMant;
                var cont = 1;
                $("#divListadoSoporte").empty();
                $.each(source['data'], function (index, value) {
                    var ticket = "";
                    if ((source['data'][index]['Ticket']) != 0) {
                        ticket = ' <a href=\"/DetailsTicket/Index/' + source['data'][index]['Ticket'] + '" target="_blank">(' + source['data'][index]['CodigoTicket'] + ')</a>';
                    }

                    IdMant = (source['data'][index]['IdMant']);
                    $("#divListadoSoporte").append(
                        '<div class="form-row">' +
                        'Soporte ' + cont + '&nbsp;' + ticket + '</div>' +
                        '<input type="text" class="form-control pull-right" id="dtSoporte' + IdMant + '" name="dtSoporte' + IdMant + '" value="' + (source['data'][index]['FechaMantenimiento']) + '"/>' +
                        '</div>');

                    if ((source['data'][index]['Ticket']) != 0) {
                        $("#dtSoporte" + IdMant).prop("readonly", "readonly");
                    }
                    $("#dtSoporte" + IdMant).kendoDatePicker({ format: "dd/MM/yyyy" });
                    cont = cont + 1;
                });

                if (cont == 1) {
                    $("#divListadoSoporte").append("No aplica mantenimientos. ");
                }
            },
        });
    }
    function MensajeConfirmacion(resp, descripcion) {
        if (resp == "OK") {
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.success("", "El soporte se actualizó con éxito.");
            var tbProyectos = $('#tablaSoporteEdata').DataTable();
            tbProyectos.ajax.reload();
        }
        else if (resp == "SoporteED") {
            toastr.warning(descripcion, "Soporte");

        }  else if (resp == "ERROR") { //Error Try catch
            toastr.error("Por favor contacte al administrador.", "Mensaje");
        }
    }
</script>