
@{
    Layout = null;
}

<link href="~/Content/ITMS/starrr.css" rel="stylesheet" />
<script src="~/Scripts/Itms/Plugins/starrr.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form class="">
                    <div class="">
                        <div class="row no-gutters align-items-center">
                            <div class="col-lg-6" style="text-align:center;align-items:center;display:flex">
                                <div class="col-lg-3" style="display:inline-block">
                                    % Aprobación
                                </div>
                                <div class="col-lg-5" style="display:inline-block">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" id="Aprobacion" role="progressbar">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 valor" style="display:inline-block">
                                </div>
                            </div>
                            <div class="col-lg-6" style="text-align:center;align-items:center;display:flex">
                                <div class="col-sm-4" style="display:inline-block">
                                    Última valorazación
                                </div>
                                <div class="col-sm-7" style="display:inline-block">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <div id="valorizacion">
                                                <div class="starrr stars-existing">
                                                </div>
                                                <span class="stars-count">  0</span> estrellas de calificación
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center">

                            <div class="col-lg-6" style="text-align:center;align-items:center;display:flex">
                                <div class="col-sm-4" style="display:inline-block">
                                    Revisiones
                                </div>
                                <div class="col-sm-8" style="display:inline-block">
                                    <input type="text" class="form-control" id="txtRevisiones" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-lg-6" style="text-align:center;align-items:center;display:flex">
                                <div class="col-sm-3">
                                    Categoría
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtCategoria" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="col-md-12">
                    <div class="text-center row">
                        <div class="col-md-4 btnHidden">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-4">
                            <button type="button" style="display:inline-block" class="btn btn-outline-primary btn-block" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    /*Carga de valores*/
    //Valorización
    $(function () {

        var aprobacion ='@ViewBag.Aprobacion'==''?0:parseInt('@ViewBag.Aprobacion');
        var ultimaPuntuacion = parseInt('@ViewBag.UltimaPuntuacion');
        var revisiones = parseInt('@ViewBag.Revisiones');
        var categoria = '@ViewBag.Categoria';

        $(".stars").starrr();
        $('.stars-existing').starrr({
            rating: ultimaPuntuacion
        });
        $(".stars-count").text(ultimaPuntuacion);
        $("#valorizacion").attr('disabled', 'disabled');
        //Porcentage de aprobación
        $("#Aprobacion").css("width",aprobacion + "%");
        $(" div.valor").text(aprobacion + "%");

        $("#txtRevisiones").val(revisiones + " revisiones");
        $("#txtCategoria").val(categoria);
    });
    /*Fin*/
</script>
