@model ERPElectrodata.Models.MEASURE

@{
    Layout = null;
}

<div style="padding:0px 10px 10px 9px;">
    <div style="width:100%;">

        @* -------------------------------------FORMULARIO--------------------------------- *@

        @using (Html.BeginForm("SaveMeasure", "ObjectByStaff", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmCommentObjectives", target = "upload_target" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="editor-label">
                Name Measure
            </div>
            <div class="editor-field">
                @* @Html.EditorFor(model => model.NAM_MEAS)*@

                <input type="text" id="NAM_MEAS" name="NAM_MEAS" class="k-textbox" />
                @Html.ValidationMessageFor(model => model.NAM_MEAS)
            </div>
            
            <div style="height:10px;"></div>

            <div class="editor-label">
                Description Measure
            </div>
            <div class="editor-field">
                @*@Html.EditorFor(model => model.DESC_MEAS)*@

                <input type="text" id="DESC_MEAS" name="DESC_MEAS" class="k-textbox" />
                @Html.ValidationMessageFor(model => model.DESC_MEAS)
            </div>

            <div style="clear:both;"></div>
            <div style="height:20px;"></div>
            <div style="float:right;padding:10px 0px 0px 0px; ">
                <button id="submit" class="k-button">Create</button>
            </div>

            <iframe id="upload_target" name="upload_target" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>
            <div style="clear:both; padding-top:10px;"></div>
        }

    </div>
</div>

