@model ERPElectrodata.Models.TYPE_TICKET

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TYPE_TICKET</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_TYPE_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_TYPE_TICK)
            @Html.ValidationMessageFor(model => model.ID_TYPE_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NAM_TYPE_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAM_TYPE_TICK)
            @Html.ValidationMessageFor(model => model.NAM_TYPE_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESC_TYPE_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESC_TYPE_TICK)
            @Html.ValidationMessageFor(model => model.DESC_TYPE_TICK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VIG_TYPE_TICK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VIG_TYPE_TICK)
            @Html.ValidationMessageFor(model => model.VIG_TYPE_TICK)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
