@model ERPElectrodata.Models.TYPE_TICKET

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TYPE_TICKET</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_TYPE_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_TYPE_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAM_TYPE_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAM_TYPE_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESC_TYPE_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESC_TYPE_TICK)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIG_TYPE_TICK)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIG_TYPE_TICK)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
