@model ERPElectrodata.Models.ProgramaLicencia
@{
    ViewBag.Title = "Nuevo";
    //Layout = null;
}

<style>

    #textFecha {
        cursor: help;
    }

    #Validacion,
    #textFecha {
        display: inline;
    }

    .fondo-suave {
        background-color: #f0f0f0;
        padding: 3px;
        border-radius: 5px;
        font-size: 11px;
    }
</style>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<div class="mb-3 card">
    <div class="card-header-tab card-header">
        Nuevo Programa
    </div>
    <div class="card-body">
        <!--Declaración de Formulario-->
        @using (Html.BeginForm("Crear", "ProgramaLicencia", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmProgramaLicencia", target = "upload_target" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <div class="form-group row">
                    <div class="col-md-2 align-self-center">
                        <div class="form-group">
                            ¿Es una licencia asociada a un usuario?
                            <input type="checkbox" id="IS_BY_USER" name="IS_BY_USER" />
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-3 form-group row" id="credencialesdiv" hidden>

                        <div class="editor-label">
                            Usuario Asociado
                        </div>
                        <div class="editor-field" style="width:100%">
                            <input id="ID_PERS_ENTI" name="id_pers_enti" />
                        </div>


                    </div>
                </div>
                @*<div class="form-row">

                    </div>*@
            <div class="form-row">
                <div class="col-md-6 col-lg-3">
                    <div id="divNuevoPrograma" class="editor-label" onclick="NuevoPrograma()" style="cursor:pointer;color:royalblue" data-toggle="modal" data-target="#miModal" title="Click aquí para registrar un programa.">
                        Programa <b style="color:red">(*)</b>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.IdPrograma)
                        @Html.ValidationMessageFor(model => model.IdPrograma)
                    </div>
                </div>


                <div class="col-md-6 col-lg-3">
                    <div id="divNuevoProveedor" class="editor-label" onclick="NuevoProveedor()" style="cursor:pointer;color:royalblue" data-toggle="modal" data-target="#miModal" title="Click aquí para registrar un proveedor.">
                        Proveedor <b style="color:red">(*)</b>
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IdProveedor)
                        @Html.ValidationMessageFor(model => model.IdProveedor)
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 not-user">
                    <div class="editor-label">
                        Cantidad <b style="color:red">(*)</b>
                    </div>
                    <div class="editor-field">
                        <input id="LicenciasDisponibles" name="LicenciasDisponibles" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div id="divNuevaLicencia" class="editor-label" onclick="NuevoPeriodoLicencia()" style="cursor:pointer;color:royalblue" data-toggle="modal" data-target="#miModal" title="Click aquí para registrar un periodo.">
                        Periodo de caducidad <b style="color:red">(*)</b>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.IdTipoLicencia)
                        @Html.ValidationMessageFor(model => model.IdTipoLicencia)
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="editor-label">
                        Tipo de Licencia <b style="color:red">(*)</b>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TipoLicencia)
                        @Html.ValidationMessageFor(model => model.TipoLicencia)
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="editor-label">
                        Fecha de Adquisición <b style="color:red">(*)</b>
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FechaCompra)
                        @Html.ValidationMessageFor(model => model.FechaCompra)
                    </div>

                    <input type="checkbox" id="Validacion" name="Validacion" />
                    <p id="textFecha" title="Establece la fecha de expiración desde la fecha de adquisición de acuerdo al periodo de caducidad">Fijar Expiración</p>
                </div>


                <div class="col-md-6 col-lg-3">
                    <div class="editor-label">
                        Fecha de Activacion
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FechaActivacion)
                        @Html.ValidationMessageFor(model => model.FechaActivacion)
                    </div>

                </div>

               

                <div class="col-md-6 col-lg-3">

                    <div class="editor-label">
                        Solped / CC / OP
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Solped)
                        @Html.ValidationMessageFor(model => model.Solped)
                    </div>
                </div>



                <div class="col-md-6 col-lg-3">
                    <div class="editor-label">
                        Versión <b style="color:red">(*)</b>
                    </div>
                    <div class="k-textbox" style="width:100%">
                        @Html.TextBoxFor(model => model.VersionLic)
                        @Html.ValidationMessageFor(model => model.VersionLic)
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="editor-label">
                        Costo
                    </div>
                    <div class="k-textbox" style="width:100%">
                        @Html.EditorFor(model => model.Costo)
                        @Html.ValidationMessageFor(model => model.Costo)

                        <label>
                            @Html.RadioButtonFor(model => model.TipoMoneda, "S", new { @checked = "checked" }) S/.
                        </label>

                        <label>
                            @Html.RadioButtonFor(model => model.TipoMoneda, "D") $
                        </label>
                        @Html.ValidationMessageFor(model => model.TipoMoneda)

                    </div>
                    <p class="fondo-suave">NO INCLUYE IGV</p>
                </div>


                @if (Convert.ToInt32(Session["SUPERVISOR_PERMISO_LICENCIAS"]) == 1)
                {
                    <div class="col-md-6 col-lg-3 not-user">
                        <div class="editor-label">
                            Código de Activación
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.CodigoActivacion)
                            @Html.ValidationMessageFor(model => model.CodigoActivacion)
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 not-user">
                        <div class="editor-label">
                            Código Adicional
                        </div>
                        <div class="k-textbox" style="width:100%">
                            @Html.EditorFor(model => model.CodigoAdicional, new { @class = "not-user-validation" })
                            @Html.ValidationMessageFor(model => model.CodigoAdicional)
                        </div>
                    </div>
                }

            </div>

                @*<div class="form-row">

                    </div>
                    <div class="form-row">

                    </div>*@
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="editor-label">
                            Comentario
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.Observacion)
                            @Html.ValidationMessageFor(model => model.Observacion)
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <button id="reset" type="button" class="btn btn-light btn-block">Cancelar</button>
                    </div>
                    <div class="col-md-3">
                        <button id="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>

<script type="text/javascript">

    $(document).ready(function () {

        $("#Validacion").change(function () {
            actualizarFechaActivacion();
        });


        $("#TipoLicencia").change(function () {
            actualizarFechaActivacion();
        });

        function actualizarFechaActivacion() {
            var checkboxMarcado = $("#Validacion").prop("checked");
            var tipoLicencia = $("#TipoLicencia").val();

            if (checkboxMarcado && (tipoLicencia === "" || tipoLicencia === "Volumen")) {
                $("#FechaActivacion").data("kendoDateTimePicker").enable(false);
                $("#FechaActivacion").data("kendoDateTimePicker").value(null);
            } else {
                $("#FechaActivacion").data("kendoDateTimePicker").enable(true);
            }


        }

        $("#TipoLicencia").kendoComboBox({
            dataSource: ["Volumen", "Unitario"],
            change: function (e) {
                console.log("Seleccionado: " + this.value());
                if (this.value() === "Unitario") {
                    $("#FechaActivacion").data("kendoDateTimePicker").enable(false);
                    $("#Validacion").prop("disabled", true);
                    $("#textFecha").css("color", "grey");
                    $("#FechaActivacion").data("kendoDateTimePicker").value(null);
                    $("#Validacion").prop("checked", false);
                } else {
                    $("#FechaActivacion").data("kendoDateTimePicker").enable(true);
                    $("#Validacion").prop("disabled", false);
                    $("#textFecha").css("color", "");
                }
            },

            dataBound: function (e) {
                $(this.ul[0]).find("li").each(function (index) {
                    var text = $(this).text();
                    var tooltipText = obtenerTextoTooltip(text);
                    $(this).attr({
                        "title": tooltipText,
                        "style": "cursor: help;"
                    });
                });
            }

        });
        function obtenerTextoTooltip(valor) {
            if (valor === "Volumen") {
                return "La fecha de Activación es igual para todas las licencias registradas";
            } else if (valor === "Unitario") {
                return "Opción para activar la licencia posterior al registro";
            }
            return "Información por defecto";
        }

        var FechaCompra = $("#FechaCompra").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaActivacion = $("#FechaActivacion").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaCompra = $("#FechaVencimiento").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#LicenciasDisponibles").kendoNumericTextBox({
            min: 0,
            decimals: 0,
            format: '#'
        });

        $("#Criticidad").kendoNumericTextBox({
            min: 1,
            max: 2,
            decimals: 0,
            format: '#'
        });

        $("#reset").click(function (event) {
            event.preventDefault();
            location.reload(true);
        });

        $("#Observacion").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        $("#IdPrograma").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Programa/ListarProgramas?var=" + Math.random()
                }
            }
        });


        $("#Solped").kendoComboBox({
            dataValueField: "Solped",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Programa/ListarOP"
                }
            }
        });


        

        $("#IdProveedor").kendoComboBox({
            dataTextField: "NombreProveedor",
            dataValueField: "Id",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Proveedor/Listar?var=" + Math.random()
                }
            }
        });
        var IdProveedor = $("#IdProveedor").data("kendoComboBox");

        $("#IdModoInstalacion").kendoComboBox({
            dataTextField: "VAL_ACCO_PARA",
            dataValueField: "ID_ACCO_PARA",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Parameter/ListarModoInstalacion?var=" + Math.random()
                }
            }
        });

        $("#IdTipoLicencia").kendoComboBox({
            dataTextField: "NombrePeriodo",
            dataValueField: "IdPeriodo",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/ProgramaLicencia/ListarTipoLicencia?var=" + Math.random()
                }
            }
        });

    });

</script>

<script type="text/javascript">

    $('#IS_BY_USER').click(function (e) {///.on('Click', function (event) { //ifToggled

        //var tipo = document.getElementById("IS_BY_USER");
        var div = document.getElementById("credencialesdiv");
        var notUserDiv = document.getElementsByClassName("not-user");
        var notUserValDiv = document.getElementsByClassName("not-user-validation");

        if ($(this).is(':checked')) {  //.is(':checked')
            div.hidden = false;


            for (var i = 0; i < notUserDiv.length; i++) {
                notUserDiv[i].hidden = true;
                //notUserValDiv[i].rules('remove');
                //notUserValDiv[i].text('');

                //notUserDiv[i].rules('remove');
                //notUserDiv[i].text('');
            }
            //notUserDiv.hidden = true;
            //$('#Llave').rules('remove');
            //$('#Llave-error').text('');

            //$("#Usuario_Login").rules("add", 'required');
            //$("#Contrasena").rules("add", 'required');

        }
        else {
            div.hidden = true;
            for (var i = 0; i < notUserDiv.length; i++) {
                notUserDiv[i].hidden = false;
                /*   notUserValDiv[i].rules("add", 'required');*/
                /* notUserDiv[i].rules("add", 'required');*/
            }
            //$('#Usuario_Login').rules('remove');
            //$('#Usuario_Login-error').text('');
            //$('#Contrasena').rules('remove');
            //$('#Contrasena-error').text('');


            /*  notUserDiv.hidden = false;*/
        }

        $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "USUARIO",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Cantidad"
                },
                transport: {
                    read: "/ProgramaLicencia/ListarUsuarioAsociado?var=" + Math.random()
                }
            },
            change: function (e) {
                var selectedID = this.value();
                $("#ID_TYPE_ASSE").data("kendoComboBox").dataSource.read({ ID_PERS_ENTI: selectedID });
            }
        });
    });
    function NuevoProveedor() {
        $("#lblTitulo").text("Nuevo Proveedor");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/Proveedor/Nuevo?var=" + Math.random());
    }

    function NuevoPeriodoLicencia() {
        $("#lblTitulo").text("Nuevo Periodo");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/ProgramaLicencia/NuevoPeriodoLicencias?var=" + Math.random());
    }

    function NuevoPrograma() {
        $("#lblTitulo").text("Nuevo Programa");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/Programa/Crear?var=" + Math.random());
    }

    function uploadDone1(msg, code, programa, proveedor, version) {
        if (msg == "OK2") {
            toastr.success("Se actualizaron los datos.", "Información Guardada");

            setTimeout(function () {
                var urlRedireccion = "http://" + location.host + "/ProgramaLicencia/Detalle" +
                    "?programa=" + programa +
                    "&proveedor=" + proveedor +
                    "&version=" + version;

                location = urlRedireccion;
            }, 1000);
        }
        else if (msg == 'LicxUsu') {
            toastr.warning("Ya existe una licencia-Usuario con estos datos. Por favor renuévela desde la misma licencia", "Mensaje");
        }
        else {
            toastr.warning("Por favor complete la información requerida.", "Mensaje");
        }
    }
</script>
