@model  ERPElectrodata.Models.Candidato

@{
    Layout = null;
}

<style>
    /*b {
        color: #F83C50;
    }*/

    #Estudios {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }

    #ComentarioJefe {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }
    .k-maskedtextbox {
        width: 100%;
    }
</style>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
@*<script type="text/javascript" src="js/jquery.js"></script>*@

@*<div class="box">*@


    @using (Html.BeginForm("CrearCandidato", "SeleccionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSeleccionCandidato", target = "upload_target" }))
    {
        @Html.ValidationSummary(true)


        <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblNombres" for="Nombres" class="">Nombres <span style="color:red">*</span></label>
                                    @Html.EditorFor(model => model.Nombres)
                                    @Html.ValidationMessageFor(model => model.Nombres)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblNombres" for="Apellidos" class="">Apellidos <span style="color:red">*</span></label>
                                    @Html.EditorFor(model => model.Apellidos)
                                    @Html.ValidationMessageFor(model => model.Apellidos)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblProfesion" for="IdProfesion" class="">Profesion <span style="color:red">*</span></label>
                                    @Html.EditorFor(model => model.IdProfesion)
                                    @Html.ValidationMessageFor(model => model.IdProfesion)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblPretencionSalarial" for="PretencionSalarial" class="">Pretencion Salarial <span style="color:red">*</span></label>
                                    @Html.EditorFor(model => model.PretencionSalarial)
                                    @Html.ValidationMessageFor(model => model.PretencionSalarial)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblCurriculumVitae" for="CurriculumVitae" class="">Cargar Curriculum Vitae </label>
                                    <input type="file" name="files" id="files" class="btn-shadow btn btn-info btn-sm" />
                                </div>
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="position-relative form-group">
                                <label id="lblCalificacionGTH" for="CalificacionGTH" class=""><strong><ins>Calificación de GTH :</ins></strong></label>
                            </div>
                         </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblResponsabilidadPuntualidad" for="ResponsabilidadPuntualidad" class="">Responsabilidad y Puntualidad</label>
                                    @Html.TextBox("ResponsabilidadPuntualidad", 0, new { disabled = "true", @onchange = "sumarCalificacion()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblPresentacion" for="Presentacion" class="">Presentacion</label>
                                    @Html.TextBox("Presentacion", 0, new { disabled = "true", @onchange = "sumarCalificacion()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblPersonalidad" for="Personalidad" class="">Personalidad</label>
                                    @Html.TextBox("Personalidad", 0, new { disabled = "true", @onchange = "sumarCalificacion()" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblHabilidadExpresion" for="HabilidadExpresion" class="">Habilidad de Expresion</label>
                                    @Html.TextBox("HabilidadExpresion", 0, new { disabled = "true", @onchange = "sumarCalificacion()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblReferencias" for="Referencias" class="">Referencias</label>
                                    @Html.TextBox("Referencias", 0, new { disabled = "true", @onchange = "sumarCalificacion()" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group" style="text-align:center; padding-top:15px;">  
                                    <label id="lblPuntajeGTH" for="PuntajeGTH" class="">Puntaje de GTH : </label>
                                    <label id="suma" for="suma" class="">0</label>
                                    <br />
                                    
                                        <label id="lblPromedioGTH" for="PromedioGTH" class="">Promedio de GTH : </label>
                                    <label id="promedio" for="promedio" class="">0</label>
                                        
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblEstudios" for="Estudios" class="">Estudios <span style="color:red">*</span></label>
                                    @Html.TextAreaFor(model => model.Estudios)
                                    @Html.ValidationMessageFor(model => model.Estudios)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblObservacion" for="Observacion" class="">Otros Comentarios </label>
                                    @Html.TextAreaFor(model => model.ComentarioJefe)
                                    @Html.ValidationMessageFor(model => model.ComentarioJefe)
                                </div>
                            </div>
                            <div class="col-lg-4" style="text-align:center; padding-top:35px;">
                                <div class="position-relative form-group" >
                                    <button type="submit" id="btnAgregarCandidato" class="btn-shadow btn btn-success btn-sm block-element-btn-example-1">Crear Candidato</button>
                                </div>
                            </div>
                            
                        </div>

</form>
                    @*<div class="divFondoUno">

                            <div style="display:inline-block; float:right; padding:2px 0px 0px 0px;">
                                <div style=" float:right; padding:0px 0px 0px 0px; ">
                                    <button id="submit" class="k-button">Crear Candidato</button>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>



    }




<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>
@*@section Scripts { @Scripts.Render("~/bundles/jqueryval") }*@

<script type="text/javascript">


    $(document).ready(function () {

        validar();

        $("#Nombres").kendoMaskedTextBox({
            mask: ""
        });

        $("#Apellidos").kendoMaskedTextBox({
            mask: ""
        });
        //validar();
        $("#IdProfesion").kendoComboBox({
            placeholder: "",
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Profesion/ListarProfesiones"
                }
            }
        });
        var IdProfesion = $("#IdProfesion").data("kendoComboBox");

        $("#PretencionSalarial").kendoNumericTextBox({
            format: "S/ #.#",
            decimals: 0,
            min: 0
        });



        $("#ResponsabilidadPuntualidad").kendoComboBox({
            dataSource: [
            { Name: "[Seleccione]", Id: 0 },
            { Name: "No adecuado", Id: 1 },
            { Name: "Adecuado", Id: 2 },
            { Name: "Con potencial", Id: 3 }
            ],
            dataTextField: "Name",
            dataValueField: "Id"
        });

        $("#Presentacion").kendoComboBox({
            dataSource: [
            { Name: "[Seleccione]", Id: 0 },
            { Name: "No adecuado", Id: 1 },
            { Name: "Adecuado", Id: 2 },
            { Name: "Con potencial", Id: 3 }
            ],
            dataTextField: "Name",
            dataValueField: "Id"
        });



        $("#Personalidad").kendoComboBox({
            dataSource: [
            { Name: "[Seleccione]", Id: 0 },
            { Name: "No adecuado", Id: 1 },
            { Name: "Adecuado", Id: 2 },
            { Name: "Con potencial", Id: 3 }
            ],
            dataTextField: "Name",
            dataValueField: "Id"
        });


        $("#HabilidadExpresion").kendoComboBox({
            dataSource: [
            { Name: "[Seleccione]", Id: 0 },
            { Name: "No adecuado", Id: 1 },
            { Name: "Adecuado", Id: 2 },
            { Name: "Con potencial", Id: 3 }
            ],
            dataTextField: "Name",
            dataValueField: "Id"
        });


        $("#Referencias").kendoComboBox({
            dataSource: [
            { Name: "[Seleccione]", Id: 0 },
            { Name: "No adecuado", Id: 1 },
            { Name: "Adecuado", Id: 2 },
            { Name: "Con potencial", Id: 3 }
            ],
            dataTextField: "Name",
            dataValueField: "Id"
        });

        

    });

    function validar(){
        var Permiso = '@ViewBag.ACCESO';

        if (Permiso == 1) {
            document.getElementById('ResponsabilidadPuntualidad').disabled = false;
            document.getElementById('Presentacion').disabled = false;
            document.getElementById('Personalidad').disabled = false;
            document.getElementById('HabilidadExpresion').disabled = false;
            document.getElementById('Referencias').disabled = false;

        } if (Permiso == 2) {


        } if (Permiso == 3) {
            document.getElementById('ResponsabilidadPuntualidad').disabled = false;
            document.getElementById('Presentacion').disabled = false;
            document.getElementById('Personalidad').disabled = false;
            document.getElementById('HabilidadExpresion').disabled = false;
            document.getElementById('Referencias').disabled = false;
        }
    }

    function sumarCalificacion() {
        var responsabilidad = parseInt(document.getElementById("ResponsabilidadPuntualidad").value);
        var presentacion = parseInt(document.getElementById("Presentacion").value);
        var personalidad = parseInt(document.getElementById("Personalidad").value);
        var habilidad = parseInt(document.getElementById("HabilidadExpresion").value);
        var referencias = parseInt(document.getElementById("Referencias").value);

        var suma = responsabilidad + presentacion + personalidad + habilidad + referencias;

        document.getElementById("suma").innerHTML = "<strong>" + suma + "</strong>";
        document.getElementById("promedio").innerHTML = "<strong>" + suma/5.0 + "</strong>";

    }
</script>

<script type="text/javascript">



    function NuevaProfesion() {
        var htmlForm = '<div id="FormNuevaProfesion"></div>';
        winFormPopUpModal("Nueva Profesion", htmlForm, 750, 180);
        $("#FormNuevaProfesion").load("/Profesion/Crear?var=" + Math.random());
    }

   
    function uploadDone(msg, code) {
        if (msg == "OK") {
            
            toastr.success("El Candidato se registro correctamente.", "Información Guardada");

            
            $("[data-dismiss=modal]").trigger({ type: "click" });
            
            $('#tbCandidatosAgregados').DataTable().ajax.reload();
            //var tabla = $('#tbCandidatosAgregados').DataTable();
            //tabla.ajax.reload();
            
        }
        else {
            toastr.warning("Error al Registrar Candidato.", "La Información no se ha Guardado");
            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show")

        }
    }
</script>