@model  ERPElectrodata.Models.Referencia

@{
    Layout = null;
}

<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>


<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>



<style>
    #CompetenciaSignificativa {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }

    #CompetenciaFortalecer {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }

    .k-maskedtextbox {
        width: 100%;
    }

    #MotivoRetiroCandidato {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }
</style>

@*<script type="text/javascript" src="js/jquery.js"></script>*@



@using (Html.BeginForm("CrearReferenciaCandidato", "SeleccionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmCandidatoReferencia", target = "upload_target" }))
{
    @Html.HiddenFor(model => model.VolveriaContratar)
    @Html.ValidationSummary(true)

    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />

    <input type="hidden" id="IdReferencia" name="IdReferencia" value="0" />
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblEmpresa" for="Empresa" class="">Empresa</label>
                                    @Html.TextBoxFor(model => model.Empresa)
                                    @Html.ValidationMessageFor(model => model.Empresa)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblNombreApellidoEmpleador" for="NombreApellidoEmpleador" class="">Empleador</label>
                                    @Html.TextBoxFor(model => model.NombreApellidoEmpleador)
                                    @Html.ValidationMessageFor(model => model.NombreApellidoEmpleador)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblCargoEmpleador" for="CargoEmpleador" class="">Cargo del Empleador</label>
                                    @Html.TextBoxFor(model => model.CargoEmpleador)
                                    @Html.ValidationMessageFor(model => model.CargoEmpleador)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblRelacionLaboral" for="RelacionLaboral" class="">Relacion laboral con el candidato</label>
                                    @Html.TextBoxFor(model => model.RelacionLaboral)
                                    @Html.ValidationMessageFor(model => model.RelacionLaboral)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblCargoCandidato" for="CargoCandidato" class="">Cargo desempeñado</label>
                                    @Html.TextBoxFor(model => model.CargoCandidato)
                                    @Html.ValidationMessageFor(model => model.CargoCandidato)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblTiempoTrabajadoCandidato" for="TiempoTrabajadoCandidato" class="">Tiempo laborado</label>
                                    @Html.TextBoxFor(model => model.TiempoTrabajadoCandidato)
                                    @Html.ValidationMessageFor(model => model.TiempoTrabajadoCandidato)
                                </div>
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblMotivoRetiroCandidato" for="MotivoRetiroCandidato" class="">Motivo de retiro</label>
                                    @Html.TextAreaFor(model => model.MotivoRetiroCandidato)
                                    @Html.ValidationMessageFor(model => model.MotivoRetiroCandidato)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblCompetenciaSignificativa" for="CompetenciaSignificativa" class="">Competencias Significativas</label>
                                    @Html.TextAreaFor(model => model.CompetenciaSignificativa)
                                    @Html.ValidationMessageFor(model => model.CompetenciaSignificativa)
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">
                                    <label id="lblCompetenciaFortalecer" for="CompetenciaFortalecer" class="">Competencias a Fortalecer</label>
                                    @Html.TextAreaFor(model => model.CompetenciaFortalecer)
                                    @Html.ValidationMessageFor(model => model.CompetenciaFortalecer)
                                </div>
                            </div>
                            

                        </div>

                        <div class="form-row">

                            <div class="col-lg-4">
                                <div class="position-relative form-group" style="padding-top:25px;">
                                    <label id="lblAprobacion" for="Aprobacion" class="">Confirma que volveria a contratar </label>
                                    @Html.CheckBox("Aprobacion")
                                    @Html.ValidationMessageFor(model => model.VolveriaContratar)
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="position-relative form-group">

                                </div>

                            </div>
                            <div id="divBotones" class="col-lg-4" style="text-align:center; padding-top:19px;">
                                <div class="position-relative form-group">
                                    <div id="divCrear">
                                        <button type="submit" id="btnAgregarCandidato" class="btn-shadow btn btn-warning btn-sm">Crear Referencia</button>
                                    </div>
                                    <div id="divModificar">
                                        <button type="button" id="btnEditarCandidato" class="btn-shadow btn btn-warning btn-sm" onclick="EditarReferencia();">Editar Referencia</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                    <div class="box">
                        <div class="alert alert-danger" id="eliminarReferencia">
                            ¿Desea eliminar la referencia?
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span id="btnEliminarSi" title="Eliminar" class="" aria-hidden="true" style="color: #4CAF50; cursor: pointer; font-size:13px;"><i class="fa fa-check fa-lg"></i></span>
                            &nbsp;
                            <span id="btnEliminarNo" title="Cancelar" class="" aria-hidden="true" style="color: #BA141A; cursor: pointer; font-size:13px;"><i class="fa fa-times fa-lg"></i></span>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <table id="tbCandidatosReferencia" class="table table-bordered table-striped table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Cargo del Candidato</th>
                                        <th>Tiempo Trabajado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Cargo del Candidato</th>
                                        <th>Tiempo Trabajado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        
                        <!-- ELIMINAR CONTACTO -->
                        <div class="alert alert-success" id="MsjCorrectoEliminarReferencia">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #4CAF50; cursor: pointer; font-size:13px;"></span>
                            &nbsp;&nbsp;&nbsp;
                            Se ha eliminado el contacto del proyecto.
                        </div>
                        <!-- FIN ELIMINAR CONTACTO -->
                        <!-- ERROR ELIMINAR CONTACTO -->
                        <div class="alert alert-success" id="MsjAlertaEliminarReferencia">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #BA141A; cursor: pointer; font-size:13px;"></span>
                            &nbsp;&nbsp;&nbsp;
                            Ha ocurrido un error, comuníquese con el administrador.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->

<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>




<script type="text/javascript">
    var idReferencia = 0;
    $(document).ready(function () {

        $('#Aprobacion').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });

        $("#Aprobacion").on('ifChanged', function (e) {
            $("#VolveriaContratar").val($("#Aprobacion").is(':checked'));
        });
        listarCandidatos1();
        $("#MsjCorrectoEliminarReferencia").hide();
        $("#MsjAlertaEliminarReferencia").hide();
        $("#eliminarReferencia").hide();
        VerBotones();
        $("#divModificar").hide();

        //$("#Buscar").click(function () {

        @*$("#pagerdivReferencia").empty();
            $("#divReferencia").empty();

            if ($("#divReferencia").data("kendoListView")) {
                $("#pagerdivReferencia").data("kendoPager").destroy();
                $("#divReferencia").data("kendoListView").destroy();
            }

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/SeleccionCandidato/ListarReferencia/"+ @ViewBag.Id,
                        type: "GET",
                        dataType: "json",
                        data: {
                            q: "#kendoui",
                            ran: Math.random(),
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Data",
                    total: "Cantidad"
                }
            });

            $("#pagerdivReferencia").kendoPager({
                dataSource: dataSource,
                pageSizes: [5, 10, 15],
                refresh: true
            });

            $("#divReferencia").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#plantillaReferencia").html())
            });*@
        //});

        //$("#Buscar").click();

        //$("#reset").click(function (event) {
        //    event.preventDefault();
        //    location.reload(true);
        //});

        $("#Empresa").kendoMaskedTextBox({
            mask: ""
        });

        $("#NombreApellidoEmpleador").kendoMaskedTextBox({
            mask: ""
        });

        $("#CargoEmpleador").kendoMaskedTextBox({
            mask: ""
        });

        $("#RelacionLaboral").kendoMaskedTextBox({
            mask: ""
        });

        $("#CargoCandidato").kendoMaskedTextBox({
            mask: ""
        });

        $("#TiempoTrabajadoCandidato").kendoMaskedTextBox({
            mask: ""
        });


    });

    function VerBotones() {
        var Ver = '@ViewBag.VerBoton';
        if (Ver == 1) {
            $("#divBotones").show();
        } else {
            $("#divBotones").hide();
        }
    }

    function listarCandidatos1() {
        $('#tbCandidatosReferencia').dataTable().fnDestroy();
        $('#tbCandidatosReferencia').dataTable({
            "order": [[0, "asc"]],
            responsive: true,
            "bPaginate": false,
            "searching": false,
            ajax: "/SeleccionPersonal/ListarReferencia/@ViewBag.Id",
            columns: [
                { data: "Empresa" },
                { data: "CargoCandidato" },
                { data: "TiempoTrabajadoCandidato" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<div class="widget-content-left">' +
                                '<button type="button" id="btnEditarReferencia' + data.Id + '" title="Editar Referencia" class="border-0 btn-transition btn btn-outline-success" onclick="ObtenerReferencia(' + data.Id + ')"><i class="fa fa-pencil-alt"></i></button>' +
                                '<button type="button" id="btnEliminarReferencia' + data.Id + '" title="Eliminar Referencia" class="border-0 btn-transition btn btn-outline-danger" onclick="eliminarReferencia(' + data.Id + ')"><i class="fa fa-trash-alt"></i></button>' +
                               '</div>';
                    }
                }
            ]
        });
    }

    function ObtenerReferencia(id) {
        //Ocultando botones
        $("#divCrear").hide();
        $("#divModificar").show();


        $.ajax({
            url: "/SeleccionPersonal/ObtenerReferencia/" + id,
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (data) {
                $.each(data['Data'], function (index, value) {
                    $("#IdReferencia").val(data['Data'][index]['Id']);
                    $("#Empresa").val(data['Data'][index]['Empresa']);
                    $("#NombreApellidoEmpleador").val((data['Data'][index]['NombreApellidoEmpleador']));
                    $("#CargoEmpleador").val((data['Data'][index]['CargoEmpleador']));
                    $("#RelacionLaboral").val((data['Data'][index]['RelacionLaboral']));
                    $("#CargoCandidato").val((data['Data'][index]['CargoCandidato']));
                    $("#TiempoTrabajadoCandidato").val((data['Data'][index]['TiempoTrabajadoCandidato']));
                    $("#MotivoRetiroCandidato").val((data['Data'][index]['MotivoRetiroCandidato']));
                    $("#CompetenciaSignificativa").val((data['Data'][index]['CompetenciaSignificativa']));
                    $("#CompetenciaFortalecer").val((data['Data'][index]['CompetenciaFortalecer']));

                    if ((data['Data'][index]['VolveriaContratar']) == false) {
                        $('input').iCheck('uncheck');
                    } else {
                        $('input').iCheck('check');
                    }
                });
            },
            error: function (source) {
                alert("Error Carga Json Comercial");
            }
        });
    }

    function EditarReferencia() {

        $.ajax({
            url: "/SeleccionPersonal/EditarReferenciaCandidato/",
            data: "Id=" + $("#IdReferencia").val() +
                       "&Empresa=" + $("#Empresa").val() +
                       "&NombreApellidoEmpleador=" + $("#NombreApellidoEmpleador").val() +
                       "&CargoEmpleador=" + $("#CargoEmpleador").val() +
                       "&RelacionLaboral=" + $("#RelacionLaboral").val() +
                       "&CargoCandidato=" + $("#CargoCandidato").val() +
                       "&TiempoTrabajadoCandidato=" + $("#TiempoTrabajadoCandidato").val() +
                       "&MotivoRetiroCandidato=" + $("#MotivoRetiroCandidato").val() +
                       "&CompetenciaSignificativa=" + $("#CompetenciaSignificativa").val() +
                       "&CompetenciaFortalecer=" + $("#CompetenciaFortalecer").val() +
                       "&VolveriaContratar=" + $("#VolveriaContratar").val() +
                       "&var=" + Math.random(),
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                    uploadDone("OK", "")

                } else
                    uploadDone("ERROR", "");
            }
        });
    }



    function eliminarReferencia(id) {
        idReferencia = id;
        $("#eliminarReferencia").show();
    }

    $("#btnEliminarSi").click(function () {
        $.ajax({
            url: "/SeleccionPersonal/EliminarReferencia/",
            data: "Id=" + idReferencia +
                  "&var=" + Math.random(),
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                    console.log(resp);
                    $("#eliminarReferencia").hide("show");
                    toastr.success("La Referencia se eliminó con éxito.", "Referencia Eliminada");

                    $('#tbCandidatosReferencia').DataTable().ajax.reload();
                    //listarCandidatos1();
                } else {
                    $("#eliminarReferencia").hide("show");
                    toastr.warning("No se pudo eliminar la referencia.", "Error");
                }
            },
            error: function (resp) {
                toastr.warning("No se pudo eliminar la referencia.", "Error");
            }
        });


    });

    $("#btnEliminarNo").click(function () {
        $("#eliminarReferencia").hide("show");
        toastr.warning("Se canceló la eliminación de la referencia.", "Mensaje");
    });

    function uploadDone(msg, code) {
        if (msg == "OK") {

            toastr.success("La Referencia se registró con éxito.", "Referencia Guardada");



            $('#tbCandidatosReferencia').DataTable().ajax.reload();
            document.getElementById("Empresa").value = "";
            document.getElementById("NombreApellidoEmpleador").value = "";
            document.getElementById("CargoEmpleador").value = "";
            document.getElementById("RelacionLaboral").value = "";
            document.getElementById("CargoCandidato").value = "";
            document.getElementById("TiempoTrabajadoCandidato").value = "";
            document.getElementById("MotivoRetiroCandidato").value = "";
            document.getElementById("CompetenciaSignificativa").value = "";
            document.getElementById("CompetenciaFortalecer").value = "";


            $("#Aprobacion:checked").val() == 0;

            //Ocultando botones
            $("#divCrear").show();
            $("#divModificar").hide();

            //$('#VolveriaContratar').prop('checked', false);

            //$('#VolveriaContratar').prop('checked', true).iCheck('update');
            

            $('input').iCheck('uncheck');

            $('#VolveriaContratar').prop('checked', false).iCheck('update');
        }

        else {
            toastr.warning("", "Completar Datos");


        }

    }

</script>
