@model ERPElectrodata.Models.VACATION

@{
    Layout = null;
}


    @*<div class="titleForm"><div class="title">New Request Vacation</div></div>*@
    @*<div class="bodyForm" id="divNewTicket">
        <div class="inBodyForm">*@
    @*<form class="form-horizontal">*@
@using (Html.BeginForm("RequestVacation", "Vacation", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicket", target = "upload_target", @class = "form-horizontal" }))
{
        @Html.HiddenFor(x=>x.ID_PROV_VACA)
        @Html.HiddenFor(x=>x.ID_PERS_ENTI)
        <div class="modal-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Fecha Inicio</label>
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.DAT_STAR)
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Fecha Fin</label>
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.DAT_END)
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>
        </div>
        

}
<iframe id="upload_target" name="upload_target" src="" class="frameHidden"></iframe>
@*</div>
    </div>*@

<script type="text/javascript">

    function uploadDoneRequestVacation(msg, msg_txt) {
        if (msg == "OK") {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationSaved");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msg_txt + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continues' class='btn btn-default'>@ResourceLanguaje.Resource.Continue</button>" +
                                       "</div>");
            var undo = $("#continues")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                $('#ModalContent').modal('hide');
            });

            $("#closebtnmodal").click(function () {
                $('#SmallModalContent').modal('hide');
            });

        }
        else {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("@ResourceLanguaje.Resource.InformationMissing");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msg_txt + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continuesError' class='btn btn-default'>@ResourceLanguaje.Resource.Continue</button>" +
                                       "</div>");
            var undo = $("#continuesError")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
                //$('#ModalContent').modal('hide');
            });

            $("#closebtnmodal").click(function () {
                $('#SmallModalContent').modal('hide');
            });
        }
    }

    $(document).ready(function () {
        var DAT_STAR = $("#DAT_STAR").kendoDateTimePicker().data("kendoDateTimePicker");
        var DAT_END = $("#DAT_END").kendoDateTimePicker().data("kendoDateTimePicker");
    });

</script>