@model ERPElectrodata.Models.VACATION

@{
    Layout = null;
}

@using (Html.BeginForm("NewVacation", "Vacation", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormVacation", name = "FormVacation", target = "ut_Vacation" }))
{
    <div style="float:left; width:41%; margin:10px 0 20px 0;">
        <div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.NewVacation</div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" style="display:inline-block;">
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Employee
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_PERS_ENTI)
                            @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                        </div>
                    </div>
                </div>
                <div class="divFondoDos">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.StartDate
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DAT_STAR)
                            @Html.ValidationMessageFor(model => model.DAT_STAR)
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.EndDate
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DAT_END)
                            @Html.ValidationMessageFor(model => model.DAT_END)
                        </div>
                    </div>
                </div>
                <div class="divFondoUno">
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.DateReturn
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.DAT_RETU)
                            @Html.ValidationMessageFor(model => model.DAT_RETU)
                        </div>
                    </div>
                    <div class="divSpace2"></div>
                    <div class="divCont2">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.NumberDays
                        </div>
                        <div style="margin-top:5px; color:gray;" id="NUM_DAYS">-
                        </div>
                        <input type="hidden" id="NumDaysHF" name="NumDaysHF" value="0" />
                    </div>
                </div>
                <div class="divFondoDos">
                    <div style="width: 93.7%; float:left; padding: 0px 0px 0 15px;">
                        <div class="editor-label">
                            @ResourceLanguaje.Resource.Summary
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.SUMMARY)
                            @Html.ValidationMessageFor(model => model.SUMMARY)
                        </div>
                    </div>
                </div>
                <div class="divFondoUno">
                    <div style="width:97%; margin:0 auto;">
                        <input name="filesVaca" id="filesVaca" type="file" />
                    </div>
                </div>
                <div class="divFondoUno" style="margin-bottom:5px;">
                    <div class="divSpace2"></div>
                    <div style="display:inline-block; float:right; padding:5px 15px 5px 0;">
                        <div style=" float:left; padding:0px 15px 0px 0px; ">
                            <button id="submitVaca" class="k-button">@ResourceLanguaje.Resource.BtnSave</button>
                        </div>
                        <button id="reset" class="k-button" onclick="cancel(); return false;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<iframe id="ut_Vacation" name="ut_Vacation" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

<script type="text/javascript">
    $("#submitVaca").click(function () {
        winPopUpModalLoad('@ResourceLanguaje.Resource.Saving @ResourceLanguaje.Resource.NewVacation', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
    });

    $(document).ready(function () {

        $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "UserUpper",
            dataValueField: "ID_PHOT",
            template: '<div style="width:100%; height:48px;">' +
                        '<div style="width:17%; min-width:40px; float:left; height:45px; margin-top:3px;"><img style="border:1px solid lavender;" src="/Content/Fotos/${ID_PHOT}.jpg" height="40" width="40"/></div>' +
                        '<div style="width:70%; float:left; height:19px; text-transform:capitalize; margin-top:3px;"><b>${User}</b></div>' +
                        '<div style="width:70%; float:left; height:19px; text-transform:capitalize;font-size:.85em; margin-top:-2px;">${JobTitle}</div>' +
                      '</div>',
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TalentChart/ListStaffED?var=" + Math.random()
                }
            }
        });
        var ID_PERS_ENTI = $("#ID_PERS_ENTI").data("kendoComboBox");
        ID_PERS_ENTI.list.width(300);


        var DAT_STAR = $("#DAT_STAR").kendoDatePicker().data("kendoDatePicker");
        var DAT_END = $("#DAT_END").kendoDatePicker().data("kendoDatePicker");
        var DAT_RETU = $("#DAT_RETU").kendoDatePicker().data("kendoDatePicker");

        DAT_END.enable(false);
        DAT_RETU.enable(false);

        DAT_STAR.bind("change", function (e) {
            $("#NumDaysHF").val(0);
            var start = this.value();
            if (start != null) {                
                end = new Date(start);
                end.setDate(end.getDate() + 6);
                DAT_END.enable(true);
                DAT_END.min(end);
                DAT_END.value('');
                DAT_RETU.enable(false);
                DAT_RETU.value('');
                $("#NUM_DAYS").html('-');
            }
            else {
                DAT_END.enable(false);
                DAT_END.value('');
                DAT_RETU.enable(false);
                DAT_RETU.value('');
                $("#NUM_DAYS").html('-');
            }
        });

        DAT_END.bind("change", function (e) {
            $("#NumDaysHF").val(0);
            var end = this.value();
            if (end != null) {
                var start = DAT_STAR.value();
                ret = new Date(end);
                daysDiff = parseInt((end - start) / (24 * 3600 * 1000)) + 1;
                $("#NUM_DAYS").html(daysDiff + ' days');
                $("#NumDaysHF").val(daysDiff);

                ret.setDate(end.getDate() + 1);
                DAT_RETU.enable(true);
                DAT_RETU.min(ret);
                DAT_RETU.value('');
            }
            else {
                DAT_RETU.enable(false);                
                DAT_RETU.value('');
                $("#NUM_DAYS").html('-');
            }
        });

        $("#SUMMARY").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "createLink",
                "unlink",
                "subscript",
                "superscript"
            ], encoded: false
        });

        var onSelect = function (e) {
            $.each(e.files, function (index, value) {
                if (value.extension.toLowerCase() != ".pdf") {
                    e.preventDefault();

                    winPopUpModal("@ResourceLanguaje.Resource.WrongFileExtension", "<div style='border-bottom:1px dotted #dadada;padding:0 3px 20px 3px;'>" +
                    "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.WrongFileExtMsn</div>" +
                    "<div style='float:right; padding:30px 0 0 0; '>" +
                    "<button id='continuee' class='k-button'>Continue</button>" +
                    "</div></div>", 400, 140);

                    var undo = $("#continuee")
                        .bind("click", function () {
                            closeWinModalPopUp();
                        });
                }
            });
        };

        $("#filesVaca").kendoUpload({
            localization: {
                select: "Attach"
            },
            select: onSelect,
            multiple: false,
        });

    });

</script>

<script type="text/javascript">

    function uploadDoneVaca(msg, msnError) {
        closeWinModalPopUpLoad();
        if (msg == 'OK') {
            winPopUpModal("@ResourceLanguaje.Resource.InformationSaved", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           + "<div style='padding:10px 0 10px 0;'>@ResourceLanguaje.Resource.VacationMsn06</div>"
           + "<div></div>" +
           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           "<button id='continues' class='k-button'>Continue</button>" +
           "</div></div>"
             , 400, 140);

            var undo = $("#continues")
            .bind("click", function () {
                closeWinModalPopUp();
            });

            $("#closebtnmodal").click(function () {
                closeWinModalPopUp();
            });
            NewVacation();
        }
        else {
            winPopUpModal("@ResourceLanguaje.Resource.InformationMissing", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
               "<div style='padding:10px 0px 10px 0px;'>" + msnError + "</div>" +
                   "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                   "<button id='continuee' class='k-button'>Continue</button>" +
                   "</div></div>"
                   , 400, 140);

            var undo = $("#continuee")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }
</script>