@model ERPElectrodata.Models.VACATION

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="afterMain">
    <div style="float:left; width:41%;">
        <div class="titleForm"><div class="title">@ResourceLanguaje.Resource.FindVacation</div></div>
        <div class="bodyForm">
            <div id="divFindVacation" class="inBodyForm">
                @using (Html.BeginForm("Find", "Vacation", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmFindVacation", target = "ut_vacation" }))
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <legend>@ResourceLanguaje.Resource.Vacation</legend>
                        <div class="divFondoUno">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Employee
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_PERS_ENTI)
                                    @Html.ValidationMessageFor(model => model.ID_PERS_ENTI)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.StartDate
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DAT_STAR)
                                    @Html.ValidationMessageFor(model => model.DAT_STAR)
                                </div>
                            </div>
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.EndDate
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DAT_END)
                                    @Html.ValidationMessageFor(model => model.DAT_END)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.DateReturn
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DAT_RETU)
                                    @Html.ValidationMessageFor(model => model.DAT_RETU)
                                </div>
                            </div>
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.NumberDays
                                </div>
                                <div style="color:gray;">
                                    @Html.EditorFor(model => model.NUM_DAYS)
                                    @Html.ValidationMessageFor(model => model.NUM_DAYS)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoDos">
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.Status
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.ID_VACA_STAT)
                                    @Html.ValidationMessageFor(model => model.ID_VACA_STAT)
                                </div>
                            </div>
                            <div class="divSpace2"></div>
                            <div class="divCont2">
                                <div class="editor-label">
                                    @ResourceLanguaje.Resource.KeyWord
                                </div>
                                <div class="k-textbox">
                                    @Html.EditorFor(model => model.SUMMARY)
                                    @Html.ValidationMessageFor(model => model.SUMMARY)
                                </div>
                            </div>
                        </div>
                        <div class="divFondoUno" style="margin-bottom:5px;">
                            <div class="divSpace2"></div>
                            <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                                <div style=" float:left; padding:0px 10px 0px 0px; ">
                                    <button id="submit" class="k-button" onclick="SearchVacation(); return false;">@ResourceLanguaje.Resource.BtnFind</button>
                                </div>
                            </div>
                        </div>
                        <iframe id="ut_vacation" name="ut_vacation" src="" style="width:0px;height:0px;border-width:0px; display:none;"></iframe>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<div id="gridFindVaca" class="contentView">
</div>
<div id="pagerFindVaca" class="contentViewPager">
</div>

<script type="text/x-kendo-tmpl" id="tpt-Vacation">
    <div style="display: inline-block; width: 100%; # if(ID_VACA_STAT == 5){ # opacity: 0.5; # } # " id="divListVacation${ID_VACA}">
        <div style="border: 1px solid \\#516882; margin: 0px 0px 7px 0px; width: 60%; float: left;">
            <div style="font-size: .9em; width: 99%; background-color: \\#516882; height: 20px; color: white; padding: 2px 0px 0px 1%; display: inline-block; position:relative;">
                <div style="float:left; width:auto;color:white; text-align:right; text-transform:capitalize;">
                    @ResourceLanguaje.Resource.Code: ${COD_VACA}
                </div>
                <div style="float:left; width:auto;color:white; margin:0px 0px 0px 1%; text-align:right; text-transform:capitalize;">
                    @ResourceLanguaje.Resource.Status: ${NAM_VACA_STAT}
                </div>
                @*<div title="Delete" class="botonDelete" onclick="deleteVacation(${ID_VACA})">x</div>*@
                <div style="float:right; width:48%;color:white; margin:0px 2% 0px 0px; text-align:right;">
                    @ResourceLanguaje.Resource.CreatedDate: ${DAT_REGI}
                </div>
            </div>
            <div class="incidentHomeListHeader">
                <div style="min-width: 48px; float: left; margin: 5px 5px 0 5px; width: 48px; height: 48px;">
                    <img src="/Content/Fotos/${ID_FOTO}.jpg" width="48px" height="48px" />
                </div>
                <div style="min-width: 180px; margin:3px 10px 0 0; height: auto; width: auto; text-align:left; float:left;">
                    <div class="smallTitle" style="text-transform:capitalize;">&nbsp;${Employee}</div>
                    <div class="smallTitle" style="text-transform:capitalize;">&nbsp;${JobTitle}</div>
                    <div class="smallTitle" style="text-transform:capitalize;">@ResourceLanguaje.Resource.CellPhone:&nbsp;${CEL_PERS}</div>
                </div>
                <div style="min-width: 80px; margin:3px 0 0 0; height: auto; width: auto; text-align:right; float:left;">
                    <div class="smallField"><b>@ResourceLanguaje.Resource.SinceDate:</b></div>
                    <div class="smallField"><b>@ResourceLanguaje.Resource.ToDate:</b></div>
                    <div class="smallField"><b>@ResourceLanguaje.Resource.DateReturn:</b></div>
                </div>
                <div style="min-width: 150px; margin: 3px 0 0 0; height: auto; width: auto; text-align: left; float: left;">
                    <div class="smallTitle">&nbsp;${DAT_STAR}</div>
                    <div class="smallTitle">&nbsp;${DAT_END}</div>
                    <div class="smallTitle">&nbsp;${DAT_RETU}</div>
                </div>
                <div style="width: 50px; margin: 4px 4px 0 0; height: 50px; background-color: \\#00a8e6; float: right; color: White; text-align: center;">
                    <div style="width:100%; text-align:center; font-size:2.2em; font-family:'Segoe UI';"><b>${NUM_DAYS}</b></div>
                    <div style="width:100%; text-align:center; font-size:.95em; margin-top:-3px;">@ResourceLanguaje.Resource.Days</div>
                </div>
                <div style="min-width: 100px; margin: 3px 0 0 0; height: 50px; width: auto; float: right; border-right: 1px dotted \\#ddd; display: inline-block;">
                    <div style="float:left; width:33.33%; height:100%; position:relative;">
                        <div class="botonDownload" title="Download File"></div>
                    </div>
                    <div style="float:left; width:33.33%; height:100%; position:relative;">
                        <div class="botonUpload" title="Updolad File"></div>
                    </div>
                    <div style="float:left; width:33.33%; height:100%; position:relative;">
                        <a href="/DetailsVacation/Index/${ID_VACA}" target="_blank"><div class="botonSummary" title="view Details"></div></a>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 0px 0px 7px 0px; width:39.5%; float:left;">
            <div style="margin-left: 10px; position: relative; border: 1px solid \\#ccc; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; ">
                <div class="messageArrow"></div>
                <div style="height:55px; padding: 3px 0px 6px 0px; margin: 8px 8px 8px 8px; overflow: auto; text-align: justify; font-family:Tahoma; font-size:1em;">
                    #= SUMMARY#
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#ID_PERS_ENTI").kendoComboBox({
            dataTextField: "UserUpper",
            dataValueField: "ID_PHOT",
            template: '<div style="width:100%; height:48px;">' +
                        '<div style="width:17%; min-width:40px; float:left; height:45px; margin-top:3px;"><img style="border:1px solid lavender;" src="/Content/Fotos/${ID_PHOT}.jpg" height="40" width="40"/></div>' +
                        '<div style="width:70%; float:left; height:19px; text-transform:capitalize; margin-top:3px;"><b>${User}</b></div>' +
                        '<div style="width:70%; float:left; height:19px; text-transform:capitalize;font-size:.85em; margin-top:-2px;">${JobTitle}</div>' +
                      '</div>',
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TalentChart/ListStaffED?var=" + Math.random()
                }
            }
        });
        var ID_PERS_ENTI = $("#ID_PERS_ENTI").data("kendoComboBox");
        ID_PERS_ENTI.list.width(300);

        $("#ID_VACA_STAT").kendoComboBox({
            dataTextField: "NAM_VACA_STAT",
            dataValueField: "ID_VACA_STAT",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Vacation/ListStatus?var=" + Math.random()
                }
            }
        });
        var ID_VACA_STAT = $("#ID_VACA_STAT").data("kendoComboBox");

        $("#NUM_DAYS").kendoNumericTextBox({
            min: 7
        });
        ini = new Date('1980,0,1');
        fin = new Date('2100,11,31');
        var DAT_STAR = $("#DAT_STAR").kendoDatePicker().data("kendoDatePicker");
        var DAT_END = $("#DAT_END").kendoDatePicker().data("kendoDatePicker");
        var DAT_RETU = $("#DAT_RETU").kendoDatePicker().data("kendoDatePicker");

        DAT_STAR.bind("change", function (e) {
            var start = this.value();
            if (start != null) {
                DAT_END.min(start);
            }
            else {
                DAT_END.min(ini);
            }
        });

        DAT_END.bind("change", function (e) {
            var end = this.value();
            if (end != null) {
                DAT_STAR.max(end);
            }
            else {
                DAT_STAR.max(fin);
            }
        });

        SearchVacation();
    });

    function SearchVacation() {
        var dataSource = null;
        var pager = null;

        $("#pagerFindVaca").empty();
        $("#gridFindVaca").empty();

        if ($("#gridFindVaca").data("kendoListView")) {
            $("#pagerFindVaca").data("kendoPager").destroy();
            $("#gridFindVaca").data("kendoListView").destroy();
        }

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Vacation/FindResult?var=" + Math.random() + "&" + $('#FrmFindVacation').serialize(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        q: "#kendoui",
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 1 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerFindVaca").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 65],
            refresh: true
        });

        $("#gridFindVaca").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#tpt-Vacation").html())
        });
    }
    function deleteVacation(id) {
        winPopUpModal("@ResourceLanguaje.Resource.Delete", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
       "<div style='padding:10px 0px 10px 0px;' style='font-size:.9em;'>Are you sure to delete the vacation?</div>" +
       "<div style='float:right; padding:20px 0px 0px 0px; '>" +
       "<button id='btnYes' class='k-button' style='font-size:.9em;'>@ResourceLanguaje.Resource.Yes</button>&nbsp;&nbsp;<button id='btnNO' class='k-button' style='font-size:.9em;'>No</button></div></div>"
       , 350, 130);

        var undo = $("#btnYes")
            .bind("click", function () {
                closeWinModalPopUp();
                winPopUpModalLoad('@ResourceLanguaje.Resource.DeletingRecord', '@ResourceLanguaje.Resource.PleaseWait', 300, 130);
                $.ajax({
                    url: "/Vacation/Delete/" + id,
                    data: "var=" + Math.random(),
                    type: "GET",
                    dataType: "text",
                    success: function (dato) {
                        closeWinModalPopUpLoad();
                        $("#divListVacation" + id).hide(1000);
                        $('#audio_win')[0].play();

                    },
                    error: function (dato) {
                        alert('ERROR');
                        closeWinModalPopUpLoad();
                    }
                });
            });

        var undo = $("#btnNO")
            .bind("click", function () {
                closeWinModalPopUp();
            });

    }
</script>
