@model ERPElectrodata.Models.PERSON_CONTRACT

@{
    Layout = null;
}
<div id="divViewContracts"></div>

<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            url: "/Person_Contract/LoadViewContract/@ViewBag.ID_PERS_CONT/@ViewBag.ID_PERS_ENTI",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                showInfoContract();
            },
            error: function (source) {
                //alert("Error Carga Json");
            }
        });
    });

    function showInfoContract() {

        $.each(data['data'], function (index, value) {
            $("#divViewContracts").append(
                '<div class="m-4"><div class="row">' +
                    '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>Codigo Contrato (' + (data['data'][index]['TYPE']) + ')</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CODE']) + '</div>' +
                '</div>' +
                '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StatusTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NAM_STAT']) + '</div>' +
                '</div>' +
                    '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDateContractTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['STAR_DATE']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class="row">' +
                    '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.EndDateContractTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['END_DATE']) + '</div>' +
                '</div>' +
                '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.ConditionContractTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['CONDITION']) + '</div>' +
                '</div>' +
                    '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.GrossSalaryTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['GROSS_SALARY']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class="row">' +
                    '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.Usb</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['SBU']) + '</div>' +
                '</div>' +
                '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>Area</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NOM_AREA']) + '</div>' +
                '</div>' +
                    '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.JobTitleTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NAM_CARG']) + '</div>' +
                    '</div>' +
                '</div>' +
                '<div class="row">' +
                    '<div class="col-sm-4">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.SiteTalent - @ResourceLanguaje.Resource.LocationTalent</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['SITE_LOCA']) + '</div>' +
                '</div>' +
                '</div></div>');
            $("#divLoad").css("display", "none");
        });
        $("#divViewContracts").append(
            '<div class="col-lg-12">' +
                '<div style="display:inline-block; float:right; padding: 0 15px 0 0;">' +
                    '<div style=" float:left; padding:0px 15px 0px 0px; ">' +
                        '<button id="submit" class="btn btn-primary mb-3" onclick="ManttoContract(0,@ViewBag.ID_CIA); return false;">@ResourceLanguaje.Resource.NewTalent @ResourceLanguaje.Resource.ContractTalent</button>' +
                    '</div>' +
                    '<button id="reset" class="btn btn-primary mb-3" onclick="ManttoContract(1,@ViewBag.ID_CIA); return false;">Nueva Addenda</button>' +
                '</div>' +
            '</div>');

    }
</script>
