@model ERPElectrodata.Models.CATEGORY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CATEGORY</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAM_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAM_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACR_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACR_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DES_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DES_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIG_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIG_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEF_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEF_CATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_CATE_PARE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_CATE_PARE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NIV_CATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NIV_CATE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
