@{
    ViewBag.Title = "EditarConfiguracionCategoriaGF";
    Layout = null;
}


<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>


<input type="hidden" name="ID_CAT_N1" id="ID_CAT_N1" value="@ViewBag.ID_CATE_N1" />

<input type="hidden" name="ID_CAT_N2" id="ID_CAT_N2" value="@ViewBag.ID_CATE_N2" />

<input type="hidden" name="ID_CAT_N3" id="ID_CAT_N3" value="@ViewBag.ID_CATE_N3" />

<input type="hidden" name="ID_CAT_N4" id="ID_CAT_N4" value="@ViewBag.ID_CATE_N4" />

<input type="hidden" name="ID_PERS_ENTI" id="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />
<input type="hidden" name="DetalleCabeceraHide" id="DetalleCabeceraHide" value="@ViewBag.DetalleCabecera" />
<input type="hidden" name="IdConfiguracion" id="IdConfiguracion" value="@ViewBag.IdConfiguracion" />


<fieldset>
    <div class="form-row">
        <div class="col-sm-6">
            <div class="editor-label">
                Categoria 1
            </div>
            @Html.Editor("EDIT_ID_CATE_N10")
        </div>
        <div class="col-sm-6">
            <div class="editor-label">
                Categoria 2
            </div>
            @Html.Editor("EDIT_ID_CATE_N20")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <div class="editor-label">
                Categoria 3
            </div>
            @Html.Editor("EDIT_ID_CATE_N30")
        </div>
        <div class="col-sm-6">
            <div class="editor-label">
                Categoria 4
            </div>
            @Html.Editor("EDIT_ID_CATE_N40")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <div class="editor-label">
                Personal Asignado
            </div>
            @Html.Editor("EDIT_ID_PERS_ENTI")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="DetalleCabecera">Detalle de cabecera</label>
                <input type="text" class="form-control" id="DetalleCabecera" name="DetalleCabecera">
            </div>
        </div>
    </div>
    <div class="form-row">
        <button type="button" class="btn btn-primary" onclick="guardarCambios()">Guardar Cambios</button>
    </div>
</fieldset>

<script>
    $(document).ready(function () {

        var idPersEnti = $("#ID_PERS_ENTI").val();
        var detalleCabecera = $("#DetalleCabeceraHide").val();

        $("#DetalleCabecera").val(detalleCabecera);

        var EDIT_ID_PERS_ENTI = $("#EDIT_ID_PERS_ENTI").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/PersonalAsignadoGF?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        EDIT_ID_PERS_ENTI.value(idPersEnti);

        var valorID_CAT_N1 = $("#ID_CAT_N1").val();

        // Inicializar el Kendo ComboBox con el valor obtenido
        var EDIT_ID_CATE_N10 = $("#EDIT_ID_CATE_N10").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "NAM_CATE",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategoryGF?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        // Establecer el valor del Kendo ComboBox
        EDIT_ID_CATE_N10.value(valorID_CAT_N1);

        // Deshabilitar el Kendo ComboBox
        EDIT_ID_CATE_N10.enable(false);

        var valorID_CAT_N2 = $("#ID_CAT_N2").val();

        // Inicializar el Kendo ComboBox con el valor obtenido
        var EDIT_ID_CATE_N20 = $("#EDIT_ID_CATE_N20").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "NAM_CATE",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategoryGeneral?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        // Establecer el valor del Kendo ComboBox
        EDIT_ID_CATE_N20.value(valorID_CAT_N2);

        // Deshabilitar el Kendo ComboBox
        EDIT_ID_CATE_N20.enable(false);


        var valorID_CAT_N3 = $("#ID_CAT_N3").val();

        var EDIT_ID_CATE_N30 = $("#EDIT_ID_CATE_N30").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "NAM_CATE",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategoryGeneral?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        // Establecer el valor del Kendo ComboBox
        EDIT_ID_CATE_N30.value(valorID_CAT_N3);

        // Deshabilitar el Kendo ComboBox
        EDIT_ID_CATE_N30.enable(false);

        var valorID_CAT_N4 = $("#ID_CAT_N4").val();

        var EDIT_ID_CATE_N40 = $("#EDIT_ID_CATE_N40").kendoComboBox({
            autoBind: false,
            filter: "contains",
            dataTextField: "NAM_CATE",
            dataValueField: "ID_CATE",
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/ListCategoryGeneral?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        // Establecer el valor del Kendo ComboBox
        EDIT_ID_CATE_N40.value(valorID_CAT_N4);

        // Deshabilitar el Kendo ComboBox
        EDIT_ID_CATE_N40.enable(false);
    });

    function guardarCambios() {

        var idConfiguracionG = $("#IdConfiguracion").val();
        var detalleCabeceraG = $("#DetalleCabecera").val();
        var idPers = $("#EDIT_ID_PERS_ENTI").val();

        $.ajax({
            url: '/CategoryTicket/GuardarCambiosConfiguracion',
            data: { idConfiguracion: idConfiguracionG, detalleCabecera: detalleCabeceraG, persEnti: idPers },
            type: 'POST',
            success: function (response) {
                if (response.success) {
                    swal({
                        title: 'Cambios guradados',
                        type: 'success',
                        confirmButtonText: 'Continuar',
                    }, function (isConfirmed) {
                        // If the user clicks "Continuar", reload the page
                        if (isConfirmed) {
                            window.location.reload();
                        }
                    });
                } else {
                    toastr.error(response.message, 'Error al guardar la configuración');
                }
            },
            error: function () {
                console.error("Error");
            }
        });
    }

</script>