@model ERPElectrodata.Models.CATEGORY

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CATEGORY</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_CATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_CATE)
            @Html.ValidationMessageFor(model => model.ID_CATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NAM_CATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAM_CATE)
            @Html.ValidationMessageFor(model => model.NAM_CATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACR_CATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACR_CATE)
            @Html.ValidationMessageFor(model => model.ACR_CATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DES_CATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DES_CATE)
            @Html.ValidationMessageFor(model => model.DES_CATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VIG_CATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VIG_CATE)
            @Html.ValidationMessageFor(model => model.VIG_CATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEF_CATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEF_CATE)
            @Html.ValidationMessageFor(model => model.DEF_CATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_CATE_PARE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_CATE_PARE)
            @Html.ValidationMessageFor(model => model.ID_CATE_PARE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NIV_CATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NIV_CATE)
            @Html.ValidationMessageFor(model => model.NIV_CATE)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
