@model IEnumerable<ERPElectrodata.Models.CATEGORY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_CATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAM_CATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACR_CATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DES_CATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIG_CATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEF_CATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_CATE_PARE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIV_CATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAM_CATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACR_CATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DES_CATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIG_CATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEF_CATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CATE_PARE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIV_CATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
