@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendMail</title>
</head>
<body>
    <table width="600px" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="width:600px;">
        <tr>
            <td colspan="3">
                <table style="width:100%;background-color:#7CBB00;color:white;font-family:'Segoe UI',Verdana,sans-serif;">
                    <tr>
                        <td style="width:15px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr><td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td style="text-align:right;font-size:20px;">@ViewBag.Code</td>
                        <td style="width:15px;"></td>
                    </tr>
@*                    <tr><td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>*@
                    <tr><td></td>
                        <td><div style="font-size:18px; font-family:'Segoe UI',Verdana,sans-serif;color:white;">@String.Format("{0:dddd MMMM dd yyyy}",DateTime.Now)</div></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><td></td>
                        <td colspan="3"><div style="font-size:22px; font-family:'Segoe UI',Verdana,sans-serif;color:white;">Information Technologies Management System</div></td>
                        <td></td>
                    </tr>
                    <tr><td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:100%;font-size:14px;" cellspacing="0" cellpadding="1" border="0">
                    <tr style="background-color:#7CBB00;font-family:'Segoe UI',Verdana,sans-serif;color:white;">
                        <td style="width:15px;">&nbsp;</td>
                        <td colspan="5">English Version</td>

                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                    
                </table>
                <table style="width:100%;font-size:14px;font-family:Calibri,'Segoe UI',Verdana,sans-serif;" cellspacing="0" cellpadding="1" border="0">
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td style="width:140px;"><b>Affected User</b></td>
                        <td style="width:15px;">:</td>
                        <td>@ViewBag.AffectedUser</td>
                        <td style="width:30px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;"><b>Priority</b></td>
                        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">:</td>
                        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">@ViewBag.Priority</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td><b>Status</b></td>
                        <td>:</td>
                        <td>@ViewBag.Status</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>    
                        <td><b>Category</b></td>
                        <td>:</td>
                        <td>@ViewBag.Category</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td><b>SubCategory</b></td>
                        <td>:</td>
                        <td>@ViewBag.SubCategory</td>
                        <td>&nbsp;</td>
                    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Class</b></td>
        <td>:</td>
        <td>@ViewBag.Class</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>SubCLass</b></td>
        <td>:</td>
        <td>@ViewBag.SubClass</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Staff Assigned</b></td>
        <td>:</td>
        <td>@ViewBag.StaffAssigned</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Create By</b></td>
        <td>:</td>
        <td>@ViewBag.CreateBy</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;"><b>SLA</b></td>
        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">:</td>
        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">@ViewBag.SLA Hours</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Creation Date</b></td>
        <td>:</td>
        <td>@ViewBag.CreationDate</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Expiration Date</b></td>
        <td>:</td>
        <td>@ViewBag.ExpirationDate</td>
        <td>&nbsp;</td>
    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:100%; color:white;font-size:14px;font-family:'Segoe UI',Verdana,sans-serif;" cellspacing="0" cellpadding="1" border="0">
                    <tr style="background-color:#7CBB00">
                        <td style="width:15px;">&nbsp;</td>
                        <td colspan="5">Versi&#243;n en Espa&#241;ol</td>
                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                </table>
                <table style="width:100%;font-size:14px;font-family:Calibri,'Segoe UI',Verdana,sans-serif;" cellspacing="0" cellpadding="1" border="0">
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td style="width:140px;"><b>Usuario Afectado</b></td>
                        <td style="width:15px;">:</td>
                        <td>@ViewBag.AffectedUser</td>
                        <td style="width:30px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;"><b>Prioridad</b></td>
                        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">:</td>
                        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">@ViewBag.Priority</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td><b>Estado</b></td>
                        <td>:</td>
                        <td>@ViewBag.Status</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>    
                        <td><b>Categor&#237;a</b></td>
                        <td>:</td>
                        <td>@ViewBag.Category</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td><b>Sub Categor&#237;a</b></td>
                        <td>:</td>
                        <td>@ViewBag.SubCategory</td>
                        <td>&nbsp;</td>
                    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Clase</b></td>
        <td>:</td>
        <td>@ViewBag.Class</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Sub CLase</b></td>
        <td>:</td>
        <td>@ViewBag.SubClass</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Personal Asignado</b></td>
        <td>:</td>
        <td>@ViewBag.StaffAssigned</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Creado Por</b></td>
        <td>:</td>
        <td>@ViewBag.CreateBy</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;"><b>SLA</b></td>
        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">:</td>
        <td style="border-top:1px solid #7CBB00;border-bottom:1px solid #7CBB00;">@ViewBag.SLA Horas</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Fecha de Creaci&#243;n</b></td>
        <td>:</td>
        <td>@ViewBag.CreationDate</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:30px;">&nbsp;</td>
        <td><b>Fecha de Vencimiento</b></td>
        <td>:</td>
        <td>@ViewBag.ExpirationDate</td>
        <td>&nbsp;</td>
    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:100%; color:white;font-size:14px;font-family:'Segoe UI',Verdana,sans-serif;" cellspacing="0" cellpadding="1" border="0">
                    <tr style="background-color:#7CBB00">
                        <td style="width:15px;">&nbsp;</td>
                        <td colspan="5">Links</td>
                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                </table>
                <table style="width:100%;font-size:14px;font-family:Calibri,'Segoe UI',Verdana,sans-serif;" cellspacing="0" cellpadding="1" border="0">
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td style="width:140px;"><b>Affected User</b></td>
                        <td style="width:15px;">:</td>
                        <td><a href="@ViewBag.UrlEndUser">@ViewBag.UrlEndUser</a></td>
                        <td style="width:30px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30px;">&nbsp;</td>
                        <td><b>Staff Assigned</b></td>
                        <td>:</td>
                        <td><a href="@ViewBag.UrlStaff">@ViewBag.UrlStaff</a></td>
                        <td style="width:30px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:100%; color:white;font-size:14px;font-family:'Segoe UI',Verdana,sans-serif;" cellspacing="0" cellpadding="1" border="0">
                    <tr style="background-color:#7CBB00">
                        <td style="width:15px;">&nbsp;</td>
                        <td colspan="5">Share Page</td>
                    </tr>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                </table>
                <table style="width:100%;">
                    <tr>
                        <td style="width:30px;"></td>
                        <td style="width:40px;"><img src="~/Content/Images/social/social-facebook.png" /></td>
                        <td style="width:40px;"><img src="~/Content/Images/social/social-twitter.png" /></td>
                        <td style="width:40px;"><img src="~/Content/Images/social/social-linkedin.png" /></td>
                        <td ><img src="~/Content/Images/social/social-email.png" /></td>
                        <td style="width:30px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width:100%; color:black; " cellspacing="0" cellpadding="1" border="0">
                    <tr style="background-color:#EAEAEA">
                        <td style="width:15px;">&nbsp;</td>
                        <td><span style="font-family:'Segoe UI',Verdana,sans-serif; font-size:12px;" >&copy; @DateTime.Now.Year Electrodata All Rights Reserved</span></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
    </table>
</body>
</html>
