@model ERPElectrodata.Models.ACCOUNT_ENTITY

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ACCOUNT_ENTITY</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_ACCO_ENTI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ACCO_ENTI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSON_ENTITY.FOT_PERS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSON_ENTITY.FOT_PERS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIG_ACCO_ENTI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIG_ACCO_ENTI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEF_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEF_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIS_REQU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIS_REQU)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIS_ASSI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIS_ASSI)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
