@model ERPElectrodata.Models.ACCOUNT_ENTITY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ACCOUNT_ENTITY</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_ACCO_ENTI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ACCO_ENTI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PERSON_ENTITY.FOT_PERS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PERSON_ENTITY.FOT_PERS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIG_ACCO_ENTI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIG_ACCO_ENTI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEF_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEF_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIS_REQU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIS_REQU)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIS_ASSI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIS_ASSI)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
