@model IEnumerable<ERPElectrodata.Models.ACCOUNT_ENTITY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_ACCO_ENTI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSON_ENTITY.FOT_PERS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ACCO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIG_ACCO_ENTI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEF_ACCO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIS_REQU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIS_ASSI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ACCO_ENTI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSON_ENTITY.FOT_PERS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ACCO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIG_ACCO_ENTI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEF_ACCO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIS_REQU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIS_ASSI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
