@model ERPElectrodata.Models.PERSON_ENTITY

@{
    Layout = null;
}

@using (Html.BeginForm("CreateClient", "AccountEntity", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicket", target = "upload_target" }))
{
    @Html.ValidationSummary(true)
    <input type="hidden" name="HD_ID_EMP" id="HD_ID_EMP" value="@ViewBag.ID_COMP" />
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Compañia
                </label>
                <input id="ID_EMP" type="text" name="ID_EMP" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Primer Nombre
                </label>
                <input id="FIR_NAME" type="text" name="FIR_NAME" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Apellido Paterno
                </label>
                <input id="LAS_NAME" type="text" name="LAS_NAME" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Sexo
                </label>
                <input id="SEX_ENTI" type="text" name="SEX_ENTI" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Celular
                </label>
                @Html.TextBoxFor(model => model.CEL_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CEL_PERS)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    RPM
                </label>
                @Html.TextBoxFor(model => model.RPM_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RPM_PERS)
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Extension
                </label>
                @Html.TextBoxFor(model => model.EXT_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EXT_PERS)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Correo Personal
                </label>
                @Html.TextBoxFor(model => model.EMA_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMA_PERS)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Fotocheck (DNI) 
                </label>
                @Html.TextBoxFor(model => model.FOT_PERS, new { @class = "form-control", @type = "text", @id = "age", @name = "age", @onkeypress = "return valideKey(event);" })
                @Html.ValidationMessageFor(model => model.FOT_PERS)
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Cargo
                </label>
                @{
                    try
                    {
                        if (ViewBag.IdAccoType == 2)
                        {

                            @Html.TextBoxFor(model => model.CAR_PERS, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CAR_PERS)

                        }
                        else
                        {
                            if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60)
                            {
                                @Html.Editor("ID_CHAR2")
                            }
                            else { 
                                @Html.TextBoxFor(model => model.ID_CHAR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_CHAR)
                            }
                        }
                        }
                        catch { }
                }
            </div>
        </div>
        <div class="col-md-4" id="divArea">
            <div class="form-group">
                <label id="" for="">
                    Area
                </label>

                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60)
                    {
                        @Html.Editor("ID_AREA2")
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ID_AREA, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_AREA)

                    }

                }

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    UserActiveDirectory
                </label>
                @Html.TextBoxFor(model => model.UAD_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UAD_PERS)
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Tipo de usuario
                </label>
                @Html.TextBoxFor(model => model.ID_TYPE_CLIE)
                @Html.ValidationMessageFor(model => model.ID_TYPE_CLIE)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Sede
                </label>

                @{
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 60)
                    {
                        @Html.Editor("ID_LOCA2")

                    }
                    else
                    {

                        @Html.TextBoxFor(model => model.ID_LOCA)
                        @Html.ValidationMessageFor(model => model.ID_LOCA)

                    }
                }

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    &nbsp;
                </label>

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    &nbsp;
                </label>
                @*<button id="cancelNewClient" class="btn btn-info btn-block">Cancelar</button>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">

                </label>
                <button id="submitNewClient" type="submit" class="btn btn-primary btn-block">Crear</button>
            </div>
        </div>
    </div>
   
}
<iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>

<script type="text/javascript">

    if ('@ViewBag.ID_ACCO' == 4) {
        $("#divArea").css("display", "none");
    }


    $("#ID_EMP").kendoComboBox({
        dataTextField: "CIA",
        dataValueField: "ID_CIA",
        filter: "contains",
        index:0,
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/ListCIAByID_ACCO?var=" + Math.random()
            }
        }
    });

    var sexo = [{ text: "Masculino", value: "M" }, { text: "Femenino", value: "F" }];
    var SEX_ENTI = $("#SEX_ENTI").kendoComboBox({
        autoBind: true,
        dataTextField: "text",
        dataValueField: "value",
        suggest: true,
        dataSource: sexo,
        index: 0
    }).data("kendoComboBox");

    //$("#ID_AREA").kendoComboBox({
    //    dataTextField: "NAM_AREA",
    //    dataValueField: "ID_AREA",
    //    template: '<div style="font-weight:bold;">${ data.NOM_AREA_PARE }</div>' +
    //                '<div>${ data.NAM_AREA }</div>',
    //    filter: "contains",
    //    autoBind: false,
    //    delay: 500,
    //    minLength: 0,
    //    suggest: true,
    //    dataSource: {
    //        serverFiltering: false,
    //        schema: {
    //            data: "Data",
    //            total: "Count"
    //        },
    //        transport: {
    //            read: "/Area/ListDetailsByClient?var=" + Math.random()
    //        }
    //    }
    //});
    $("#ID_AREA").kendoComboBox({
        dataTextField: "NAM_AREA",
        dataValueField: "ID_AREA",
        filter: "contains",
        index: 0,
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Area/ListDetailsByClient?var=" + Math.random()
            }
        },
        dataBound: function (e) {
            var dropdownlist = this;
            dropdownlist.ul.find("li").each(function () {
                var item = dropdownlist.dataItem(this);
                $(this).html('<div style="text-transform:capitalize; white-space: nowrap;">' +
                    '<span><strong>' + (item.NOM_AREA_PARE || '') + '</strong></span><br />' +
                    '<span>' + (item.NAM_AREA || '') + '</span></div>');
            });
        }
    });

    var ID_AREA = $("#ID_AREA").data("kendoComboBox");
    //ID_AREA.list.width(300);

    $("#ID_CHAR").kendoComboBox({
        dataTextField: "text",
        dataValueField: "id",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/ListarCargos?var=" + Math.random()
            }
        },
        index: 1
    });
    var ID_CHAR = $("#ID_TYPE_CLIE").data("kendoComboBox");

    $("#ID_TYPE_CLIE").kendoComboBox({
        dataTextField: "NAM_TYPE_CLIE",
        dataValueField: "ID_TYPE_CLIE",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/TypeClient/List?var=" + Math.random()
            }
        },
        index: 1
    });
    var ID_TYPE_CLIE = $("#ID_TYPE_CLIE").data("kendoComboBox");

    $("#ID_LOCA").kendoComboBox({
        dataTextField: "NAM_LOCA",
        dataValueField: "ID_LOCA",
        template: '<div><div style="font-weight:bold">${ data.NAM_SITE }</div>' +
            '<div>${ data.NAM_LOCA }</div></div>',
        filter: "contains",
        autoBind: false,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Location/List?var=" + Math.random()
            }
        }
    });
    var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

    var ID_CHAR2 = $("#ID_CHAR2").kendoComboBox({
        autoBind: false,
        cascadeFrom: "ID_EMP",
        filter: "contains",
        dataTextField: "text",
        dataValueField: "id",
        filter: "contains",
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/ListarCargosxCompania?var=" + Math.random()
            }
        },
        index: 1
    });

    var ID_AREA2 = $("#ID_AREA2").kendoComboBox({
        autoBind: false,
        cascadeFrom: "ID_EMP",
        dataTextField: "text",
        dataValueField: "id",
        //template: '<div style="font-weight:bold;">${ data.NOM_AREA_PARE }</div>' +
        //    '<div>${ data.NAM_AREA }</div>',
        filter: "contains",
        index: 0,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Area/ListarAreaxCompania?var=" + Math.random()
            }
        }
    });

    var ID_LOCA2 = $("#ID_LOCA2").kendoComboBox({
        autoBind: false,
        cascadeFrom: "ID_EMP",
        dataTextField: "NamLoca",
        dataValueField: "IdLoca",
        template: '<div><div style="font-weight:bold">${ data.NamSite }</div>' +
            '<div>${ data.NamLoca }</div></div>',
        filter: "contains",
        suggest: true,
        index: 0,
        dataSource: {
            serverFiltering: true,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Location/ListarLocacionesxCompania?var=" + Math.random()
            }
        }
    });

    function uploadDoneForm(msg, code, idprio) {
        //closeWinModalPopUpLoad();
        if (msg == "OK") {
            //closeWinFormModalPopUp();

            //var title = 'Informacion Guardada';
            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //"<div style='padding:10px 0px 10px 10px;'>La información ha sido actualizada.</div>" +
            //"<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //"<button id='btnContinues' class='k-button'>Continue</button>" +
            //"</div></div>";
            //winPopUpModal(title, body, 400, 140);

            //$("#closebtnmodal").click(function () {
            //    closeWinModalPopUp();
            //});

            //$("#btnContinues").click(function () {
            //    closeWinModalPopUp();
            //});

             swal({
            title: 'Informacion Guardada',
            type: 'success',
            text: 'La información ha sido actualizada.',
            focusConfirm: false,
            confirmButtonText:
                'Continue',
            confirmButtonAriaLabel: 'Thumbs up, great!'

        })

            var ID_PERS_ENTI_REQ = $("#ID_PERS_ENTI").data("kendoComboBox");
            var ID_PERS_ENTI_ENDING = $("#ID_PERS_ENTI_END").data("kendoComboBox");
            var ID_PRIORITY = $("#ID_PRIO").data("kendoComboBox");

            ID_PERS_ENTI_REQ.dataSource.read();
            ID_PERS_ENTI_REQ.refresh();
            ID_PERS_ENTI_REQ.value(code);

            ID_PERS_ENTI_ENDING.value(code);

            idpriory = idprio;
            ID_PRIORITY.value(idprio);

            detailUser(code);
            AssetByUser(code);
            $("#divEditCombo").css("display", "block");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
        else {
            var titleTK = '';
            var messageAsset = '';
            if (code == '0') {
                titleTK = '@ResourceLanguaje.Resource.InformationMissing';
                messageAsset = '@ResourceLanguaje.Resource.InformationMissingMsn';
            }
            else if (code == '1') {
                titleTK = '@ResourceLanguaje.Resource.BasedDrawback';
                messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }
            else if (code == '2') {
                titleTK = '@ResourceLanguaje.Resource.IdenticalClient';
                messageAsset = '@ResourceLanguaje.Resource.IdenticalClientMsn';
            }
            else if (code == 'DNI') {
                titleTK = 'Error de Formato';
                messageAsset = 'Valide el formato del Fotocheck / DNI';
            }
            else if (code == 'EXISTE') {
                titleTK = 'Fotocheck / DNI existente';
                messageAsset = 'El valor ingresado ya existe, a nombre de: ' + idprio;
            }
            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //"<div style='padding:10px 5px 10px 10px;'>" + messageAsset + "</div>" +
            //"<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //"<button id='btnContinuee' class='k-button'>Continue</button>" +
            //        "</div></div>";

            //winPopUpModal(titleTK, body, 420, 140);

            //$("#btnContinuee").click(function () {
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });
            //});

            swal({
                title: titleTK,
                type: 'info',
                text: messageAsset,
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
        }
    }
    function valideKey(evt) {

        // code is the decimal ASCII representation of the pressed key.
        var code = (evt.which) ? evt.which : evt.keyCode;

        if (code == 8) { // backspace.
            return true;
        } else if (code >= 48 && code <= 57) { // is a number.
            return true;
        } else { // other keys.
            return false;
        }
    }
</script>