@model ERPElectrodata.Models.PERSON_ENTITY

@{
    Layout = null;
}
<style>
    .form-control {
        height: 28px;
        /*padding:4px;*/
    }
</style>

@using (Html.BeginForm("EditClient", "AccountEntity", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEditContact", target = "ut_editContact" }))
{
    @*@Html.HiddenFor(model => model.ID_AREA)*@
    @Html.ValidationSummary(true)
    <input type="hidden" name="ID_PERS_ENTI" id="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />
    <input type="hidden" name="DNI" id="DNI" value="@ViewBag.DNI" />
    <input type="hidden" name="NOMB" id="NOMB" value="@ViewBag.FIR_NAME" />
    <input type="hidden" name="APEL" id="APEL" value="@ViewBag.LAS_NAME" />
    <div class="form-row">

        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Primer Nombre
                </label>
                <input id="FIR_NAME" type="text" name="FIR_NAME" value="@ViewBag.FIR_NAME" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Apellido Paterno
                </label>

                <input id="LAS_NAME" type="text" name="LAS_NAME" value="@ViewBag.LAS_NAME" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Sexo
                </label>

                <input id="SEX_ENTI" type="text" name="SEX_ENTI" value="@ViewBag.SEX_ENTI">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Celular
                </label>
                @Html.TextBoxFor(model => model.CEL_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CEL_PERS)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    RPM
                </label>
                @Html.TextBoxFor(model => model.RPM_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RPM_PERS)
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Extension
                </label>
                @Html.TextBoxFor(model => model.EXT_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EXT_PERS)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Correo Personal
                </label>
                @Html.TextBoxFor(model => model.EMA_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMA_PERS)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Fotocheck (DNI)
                </label>
                @Html.TextBoxFor(model => model.FOT_PERS, new { @class = "form-control", @type = "text", @id = "age", @name = "age", @onkeypress = "return valideKey(event);" })
                @Html.ValidationMessageFor(model => model.FOT_PERS)
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Cargo
                </label>
                @{
                    try
                    {
                        if (ViewBag.IdAccoType == 2)
                        {

                            @Html.TextBoxFor(model => model.CAR_PERS, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CAR_PERS)

                        }
                        else
                        {

                            @Html.TextBoxFor(model => model.ID_CHAR)
                            @Html.ValidationMessageFor(model => model.ID_CHAR)

                        }
                    }
                    catch { }
                }
            </div>
        </div>
        <div class="col-md-4" id="divArea">
            <div class="form-group">
                <label id="" for="">
                    Area
                </label>
                @Html.TextBoxFor(model => model.ID_AREA)
                @Html.ValidationMessageFor(model => model.ID_AREA)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    UserActiveDirectory
                </label>
                @Html.TextBoxFor(model => model.UAD_PERS, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UAD_PERS)
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Tipo de usuario
                </label>
                @Html.TextBoxFor(model => model.ID_TYPE_CLIE)
                @Html.ValidationMessageFor(model => model.ID_TYPE_CLIE)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    Sede
                </label>
                @*@Html.TextBoxFor(model => model.ID_LOCA)
                    @Html.ValidationMessageFor(model => model.ID_LOCA)*@
                <input id="ID_LOCA1" name="ID_LOCA1" value="@ViewBag.ID_LOCA">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    &nbsp;
                </label>

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">
                    &nbsp;
                </label>
                @*<button id="cancelNewClient" class="btn btn-info btn-block">Cancelar</button>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="" for="">

                </label>
                <button id="submitEditClient" type="submit" class="btn btn-primary btn-block">Editar</button>
            </div>
        </div>
    </div>
    @*<fieldset>
            <legend>TICKET</legend>
            <div class="divFondoUno">
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Primer Nombre <b>*</b>
                    </div>
                    <div class="k-textbox">
                        <input id="FIR_NAME" type="text" name="FIR_NAME" value="@ViewBag.FIR_NAME">
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Apellido Paterno <b>*</b>
                    </div>
                    <div class="k-textbox">
                        <input id="LAS_NAME" type="text" name="LAS_NAME" value="@ViewBag.LAS_NAME">
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Sexo <b>*</b>
                    </div>
                    <div class="editor-field">
                        <input id="SEX_ENTI" type="text" name="SEX_ENTI" value="@ViewBag.SEX_ENTI">
                    </div>
                </div>
            </div>
            <div class="divFondoDos">
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Celular
                    </div>
                    <div class="k-textbox">
                        @Html.TextBoxFor(model => model.CEL_PERS)
                        @Html.ValidationMessageFor(model => model.CEL_PERS)
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        RPM
                    </div>
                    <div class="k-textbox">
                        @Html.TextBoxFor(model => model.RPM_PERS)
                        @Html.ValidationMessageFor(model => model.RPM_PERS)
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Extension
                    </div>
                    <div class="k-textbox">
                        @Html.TextBoxFor(model => model.EXT_PERS)
                        @Html.ValidationMessageFor(model => model.EXT_PERS)
                    </div>
                </div>
            </div>
            <div class="divFondoUno">
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Correo Personal <b>*</b>
                    </div>
                    <div class="k-textbox">
                        @Html.TextBoxFor(model => model.EMA_PERS)
                        @Html.ValidationMessageFor(model => model.EMA_PERS)
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Fotocheck <b>*</b>
                    </div>
                    <div class="k-textbox">
                        @Html.TextBoxFor(model => model.FOT_PERS)
                        @Html.ValidationMessageFor(model => model.FOT_PERS)
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Cargo
                    </div>
                    @{
                        try
                        {
                            if (ViewBag.IdAccoType == 2)
                            {
                                <div class="k-textbox">
                                    @Html.TextBoxFor(model => model.CAR_PERS)
                                    @Html.ValidationMessageFor(model => model.CAR_PERS)
                                </div>
                            }
                            else
                            {
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.ID_CHAR)
                                    @Html.ValidationMessageFor(model => model.ID_CHAR)
                                </div>
                            }
                        }
                        catch { }
                    }
                </div>
            </div>
            <div class="divFondoDos">
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        UserActiveDirectory
                    </div>
                    <div class="k-textbox">
                        @Html.TextBoxFor(model => model.UAD_PERS)
                        @Html.ValidationMessageFor(model => model.UAD_PERS)
                    </div>
                </div>
                <div class="divSpace3"></div>
                <div class="divCont3">
                    <div class="editor-label">
                        Tipo de usuario <b>*</b>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ID_TYPE_CLIE)
                        @Html.ValidationMessageFor(model => model.ID_TYPE_CLIE)
                    </div>
                </div>

            </div>
            <div style="display:inline-block; float:right; padding: 20px 20px 15px 5px;">
                <div style=" float: left; padding: 0 15px 0 0;">
                    <button id="submitNewClient" class="k-button">Guardar</button>
                </div>
                <button id="cancelNewClient" class="k-button">Cancel</button>
            </div>
        </fieldset>*@
}
<iframe id="ut_editContact" name="ut_editContact" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>

<script type="text/javascript">

    //$("#submitNewClient").click(function () {
    //    winPopUpModalLoad("Mensaje", "Espere un momento porfavor", 300, 130);
    //});

    //$("#cancelNewClient").click(function (event) {
    //    event.preventDefault();
    //    closeWinFormModalPopUp();
    //});

    var sexo = [{ text: "Masculino", value: "M" }, { text: "Femenino", value: "F" }];
    var SEX_ENTI = $("#SEX_ENTI").kendoComboBox({
        autoBind: true,
        dataTextField: "text",
        dataValueField: "value",
        suggest: true,
        dataSource: sexo,
        index: 0,
    }).data("kendoComboBox");

    $("#ID_AREA").kendoComboBox({
        dataTextField: "NOM_AREA",
        dataValueField: "ID_AREA",
        template: '<div style="display:flex;flex-direction:column">' +
                    '<div style="font-weight:bold;">' +
                        '${ data.NOM_AREA_PARE }</div> ' +
                    '<div>${ data.NOM_AREA }</div>' +
                  '</div>',
        filter: "contains",
        index: 0,
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Area/ListarAreasTotales?var=" + Math.random()
            }
        }
    });
    var ID_AREA = $("#ID_AREA").data("kendoComboBox");
    //ID_AREA.list.width(300);
    //$("#ID_AREA").kendoComboBox({
    ////    dataTextField: "NAM_AREA",
    ////    dataValueField: "ID_AREA",
    //    filter: "contains",
    //    autoBind: true,
    //    delay: 500,
    //    minLength: 0,
    //    suggest: true,
    //    dataSource: {
    //        serverFiltering: false,
    //        schema: {
    //            data: "Data",
    //            total: "Count"
    //        },
    //        transport: {
    //            read: "/Area/ListDetailsByClient?var=" + Math.random()
    //        }
    //    }
    //});
    $("#ID_CHAR").kendoComboBox({
        dataTextField: "text",
        dataValueField: "id",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/AccountEntity/ListarCargos?var=" + Math.random()
            }
        }
    });
    var ID_CHAR = $("#ID_CHAR").data("kendoComboBox");

    $("#ID_TYPE_CLIE").kendoComboBox({
        dataTextField: "NAM_TYPE_CLIE",
        dataValueField: "ID_TYPE_CLIE",
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/TypeClient/List?var=" + Math.random()
            }
        },
        index: 1
    });
    var ID_TYPE_CLIE = $("#ID_TYPE_CLIE").data("kendoComboBox");

    $("#ID_LOCA1").kendoComboBox({
        dataTextField: "NAM_LOCA",
        dataValueField: "ID_LOCA",
        template: '<div><div style="font-weight:bold">${ data.NAM_SITE }</div>' +
            '<div>${ data.NAM_LOCA }</div></div>',
        filter: "contains",
        autoBind: true,
        delay: 500,
        minLength: 0,
        suggest: true,
        dataSource: {
            serverFiltering: false,
            schema: {
                data: "Data",
                total: "Count"
            },
            transport: {
                read: "/Location/List?var=" + Math.random()
            }
        },
        //index: 1
    });
    var ID_LOCA1 = $("#ID_LOCA1").data("kendoComboBox");

    $('#submitEditClient').click(function () {
        toastr.info("Guardando la información", "Espere por favor");
    });

    //$("#ID_LOCA").kendoComboBox({
    //    dataTextField: "NAM_LOCA",
    //    dataValueField: "ID_LOCA",
    //    template: '<div><div style="font-weight:bold">${ data.NAM_SITE }</div>' +
    //        '<div>${ data.NAM_LOCA }</div></div>',
    //    filter: "contains",
    //    autoBind: false,
    //    suggest: true,
    //    dataSource: {
    //        serverFiltering: false,
    //        schema: {
    //            data: "Data",
    //            total: "Count"
    //        },
    //        transport: {
    //            read: "/Location/List?var=" + Math.random()
    //        }
    //    },
    //    index: 1
    //});
    //var ID_LOCA = $("#ID_LOCA").data("kendoComboBox");

    function uploadDoneForm(msg, code, idprio) {
        //closeWinModalPopUpLoad();
        if (msg == "OK") {
            //closeWinFormModalPopUp();

            //var title = 'Información Guardada / Notificación Enviada';
            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //"<div style='padding:10px 0px 10px 10px;'>La información ha sido actualizada</div>" +
            //"<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //"<button id='btnContinues' class='k-button'>Continue</button>" +
            //"</div></div>";
            //winPopUpModal(title, body, 400, 140);

            //$("#closebtnmodal").click(function () {
            //    closeWinModalPopUp();
            //});

            //$("#btnContinues").click(function () {
            //    closeWinModalPopUp();
            //});

            swal({
                title: 'Informacion Guardada',
                type: 'success',
                text: 'La información ha sido actualizada.',
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })

            var ID_PERS_ENTI_REQ = $("#ID_PERS_ENTI").data("kendoComboBox");
            var ID_PERS_ENTI_ENDING = $("#ID_PERS_ENTI_END").data("kendoComboBox");
            var ID_PRIORITY = $("#ID_PRIO").data("kendoComboBox");

            ID_PERS_ENTI_REQ.dataSource.read();
            ID_PERS_ENTI_REQ.refresh();
            ID_PERS_ENTI_REQ.value(code);

            ID_PERS_ENTI_ENDING.value(code);

            idpriory = idprio;
            ID_PRIORITY.value(idprio);

            detailUser(code);
            AssetByUser(code);
            $("#divEditCombo").css("display", "block");
            $("[data-dismiss=modal]").trigger({ type: "click" });

            } else if (msg == "EXISTE") {
                //winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                //    "<div style='padding:10px 0px 10px 0px;'>La persona ha sido registrada anteriormente</div>" +
                //    "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                //    "<button id='continuee' class='k-button'>Continuar</button>" +
                //    "</div></div>"
                //    , 400, 140);
                //$("#continuee").focus();
                //var undo = $("#continuee")
                //    .bind("click", function () {
                //        closeWinModalPopUp();
                //    });
            swal({
                title: 'Alerta',
                type: 'info',
                text: 'La persona ha sido registrada anteriormente',
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
            }


        else {
            var titleTK = '';
            var messageAsset = '';
            if (code == '0') {
                titleTK = 'Campos incompletos';
                messageAsset = 'Complete la informacion solicitada';
            }
            else if (code == '1') {
                titleTK = '@ResourceLanguaje.Resource.BasedDrawback';
                messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
            }
            else if (code == '2') {
                titleTK = 'Alerta';
                messageAsset = 'La persona ha sido registrada anteriormente';
            }
            else if (code == 'DNI') {
                titleTK = 'Error de Formato';
                messageAsset = 'Valide el formato del Fotocheck / DNI';
            }
            else if (code == 'EXISTE') {
                titleTK = 'Fotocheck / DNI existente';
                messageAsset = 'El valor ingresado ya existe, a nombre de: ' + idprio;
            }
            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //"<div style='padding:10px 5px 10px 10px;'>" + messageAsset + "</div>" +
            //"<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //"<button id='btnContinuee' class='k-button'>Continue</button>" +
            //        "</div></div>";

            //winPopUpModal(titleTK, body, 420, 140);

            //$("#btnContinuee").click(function () {
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });
            //});

            swal({
                title: titleTK,
                type: 'info',
                text: messageAsset,
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
        }
    }

    function valideKey(evt) {

        // code is the decimal ASCII representation of the pressed key.
        var code = (evt.which) ? evt.which : evt.keyCode;

        if (code == 8) { // backspace.
            return true;
        } else if (code >= 48 && code <= 57) { // is a number.
            return true;
        } else { // other keys.
            return false;
        }
    }
</script>
