@model ERPElectrodata.Models.TYPE_ASSET
@{
    ViewBag.Title = "Tipo Activo";
    Layout = null;
}

    <div id="FormNewTypeAsset">
        <div class="row" id="divContainerNewTicket">
            <div class="col-md-12">
                <div class="bodyForm" id="divNuevaLicencia">
                        <!--Declaración de Formulario-->
                        @using (Html.BeginForm("Crear", "TipoActivo", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewTypeAsset", target = "upload_target" }))
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>
                                @*<legend>Tipo Activo</legend>*@

                                <div class="form-row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="NAM_TYPE_ASSE">
                                                Nombre <b>*</b>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.NAM_TYPE_ASSE, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.NAM_TYPE_ASSE)
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-2 ml-4">
                                        <div class="editor-label">
                                            Color <b>*</b>
                                        </div>
                                        <div class="mt-1">
                                            <input type="color" name="COLOR" id="COLOR" class="mt-2"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label for="DESC_TYPE_ASSE">
                                            Descripción
                                        </label>
                                        <div class="">
                                            @Html.TextAreaFor(model => model.DESC_TYPE_ASSE, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DESC_TYPE_ASSE)
                                        </div>
                                    </div>
                                </div>
                                @*<div style="display:inline-block; float:right; padding: 20px 20px 15px 5px;">
                                    <div style=" float: left; padding: 0 15px 0 0;">
                                        <button id="submit" class="k-button">Crear</button>
                                    </div>
                                    <button id="reset" class="k-button" onclick="cancel(); return false;">Cancelar</button>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                                </div>*@
                                <div class="card-footer">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3 ml-auto">
                                                <button id="submit" class="btn btn-primary btn-block">Crear</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button id="btnCancelar" class="ladda-button mb-2 btn btn-gradient-light btn-block widthMax" data-style="expand-right" data-dismiss="modal">
                                                    <span class="ladda-label">Cancelar</span><span class="ladda-spinner"></span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }
                </div>
            </div>
        </div>
    </div>




@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


<script type="text/javascript">

    $(document).ready(function () {


        $("#stock").kendoNumericTextBox({
            min: 0,
            decimals: 0,
            format: '#'
        });

        //$("#DESC_TYPE_ASSE").ready( function () {
        //    $("#DESC_TYPE_ASSE").kendoEditor({
        //        tools: [
        //            "bold",
        //            "italic",
        //            "underline",
        //            "strikethrough",
        //            "foreColor",
        //            "backColor",
        //            "justifyLeft",
        //            "justifyCenter",
        //            "justifyRight",
        //            "justifyFull",
        //            "insertUnorderedList",
        //            "insertOrderedList",
        //            "indent",
        //            "outdent",
        //            "createLink",
        //            "unlink",
        //            "subscript",
        //            "superscript"
        //        ], encoded: false
        //    });
        //});

        //$("#reset").click(function (event) {
        //    event.preventDefault();
        //    closeWinFormModalPopUp();
        //});

        //$('#COLOR').ColorPicker({
        //    onSubmit: function (hsb, hex, rgb) {
        //        $('#COLOR').val(hex);
        //    },
        //    onBeforeShow: function () {
        //        $(this).ColorPickerSetColor(this.value);
        //    }
        //})
        //    .bind('keyup', function () {
        //        $(this).ColorPickerSetColor(this.value);
        //    });
       
    });

</script>

<script type="text/javascript">
   
    function cancel() {
        closeWinModalPopUp();

        winPopUpModal("Operación Cancelada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
       "<div style='padding:10px 0px 10px 0px;'>La operacion fue cancelada</div>" +
       "<div style='float:right; padding:20px 0px 0px 0px; '>" +
       "<button id='continuer' class='k-button'>Continuar</button></div></div>"
       , 350, 130);

        $("#continuer").focus();
        var undo = $("#continuer")
            .bind("click", function () {
                closeWinFormModalPopUp();
                closeWinModalPopUp();
                //location.replace(location.href.replace("CrearCuentaTA"));
            });

        $("#closebtnmodal").click(function () {
            closeWinFormModalPopUp();
            closeWinModalPopUp();
            //location.replace(location.href.replace("Edit", "Details"));
        });

        return false;
    }

    function uploadDone(msg, code, idLicencia) {
        if (msg == "OK") {
           // winPopUpModal("Información Guardada / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
           //         + "<div style='padding:10px 0px 10px 0px;'>La información ha sido actualizada.</div>"
           //         + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
           //         "<button id='continues' class='k-button'>Continuar</button>" +
           //         "</div></div>", 400, 160);

           // $("#continues").focus();
           // var undo = $("#continues")
           //.bind("click", function () {
           //    closeWinFormModalPopUp();
           //    closeWinModalPopUp();
           //    $("#btnCuentaTA").click();
           //});

           // $("#closebtnmodal").click(function () {
           //     closeWinFormModalPopUp();
           //     closeWinModalPopUp();
           //     $("#btnCuentaTA").click();
           // });
            toastr.success("La información ha sido actualizada", "Información Guardada / Notificación Enviada");
            /* $("#btnCancelar").trigger({ type: "click" });*/
            $(".modal-dialog .close").click();
            $("#ID_TYPE_ASSE").data("kendoComboBox").dataSource.read();
        }
        else {
            //winPopUpModal("Error al registrar", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //   "<div style='padding:10px 0px 10px 0px;'>Completar la información solicitada</div>" +
            //   "<div style='float:right; padding:30px 0px 0px 0px; '>" +
            //   "<button id='continuee' class='k-button'>Continuar</button>" +
            //   "</div></div>"
            //   , 400, 140);

            //$("#continuee").focus();
            //var undo = $("#continuee")
            //.bind("click", function () {
            //    closeWinModalPopUp();
            //});
            toastr.warning("Completar la información solicitada", "Error al registrar");
        }
    }
</script>
