@model ERPElectrodata.Models.ACCOUNT_TYPE_ASSET
@{
    ViewBag.Title = "Editar";
    Layout = null;
}

    <div id="FormEditarCuenta">
        <div class="form-row" id="divContainerNewTicket">
            <div class="col-md-12">
                <div class="" id="divNuevaLicencia">
                        <!--Declaración de Formulario-->
                        @using (Html.BeginForm("EditarCuentaTA", "TipoActivo", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormEditarCuenta", target = "upload_target" }))
                        {
                            <div style="display:none">
                                @Html.HiddenFor(model => model.ID_TYPE_ASSE)
                                @Html.HiddenFor(model => model.ID_ACCO)
                                <input type="hidden" name="ID" id="ID" value="@ViewBag.ID" />
                            </div>
                            <fieldset>
                                @*<legend>Cuenta Tipo Activo</legend>*@
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="NAM_TYPE_ASSE_ACC">
                                                Tipo Activo
                                            </label>
                                            <input id="NAM_TYPE_ASSE_ACC" class="form-control" type="text" name="NAM_TYPE_ASSE" value="@ViewBag.NAM_TYPE_ASSE" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="NAM_ACCO_ACC">
                                                Cuenta
                                            </label>
                                            <input id="NAM_ACCO_ACC" class="form-control" type="text" name="NAM_ACCO" value="@ViewBag.NAM_ACCO" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="MONTH_LIFE_ACC">
                                                Meses <b>*</b>
                                            </label>
                                            <input id="MONTH_LIFE_ACC" class="form-control" type="number" name="MONTH_LIFE_ACC" value="@ViewBag.MONTH_LIFE" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3 ml-auto">
                                                <button id="submit" class="btn btn-primary btn-block">Guardar</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button id="btnCancelar" class="ladda-button mb-2 btn btn-gradient-light btn-block widthMax" data-style="expand-right" data-dismiss="modal">
                                                    <span class="ladda-label">Cancelar</span><span class="ladda-spinner"></span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#MONTH_LIFE_ACC").kendoNumericTextBox({
            min: 0,
            decimals: 0,
            format: '#'
        });

        $("#ID_TYPE_ASSE_ACC").kendoComboBox({
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/ListarTipoActivo?var=" + Math.random()
                }
            }
        });

        $("#ID_ACCO_ACC").kendoComboBox({
            dataTextField: "NAM_ACCO",
            dataValueField: "ID_ACCO",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TipoActivo/ListarCuentaTipoActivo?var=" + Math.random()
                }
            }
        });

        $("#reset").click(function (event) {
            event.preventDefault();
            closeWinFormModalPopUp();
            //location.reload(true);
        });
    });

</script>

<script type="text/javascript">

    //function cancel() {
    //    closeWinModalPopUpLoad();

    //    winPopUpModal("Operación Cancelada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
    //   "<div style='padding:10px 0px 10px 0px;'>La operacion fue cancelada</div>" +
    //   "<div style='float:right; padding:20px 0px 0px 0px; '>" +
    //   "<button id='continuar' class='k-button' >Continuar</button></div></div>"
    //   , 350, 130);
    //    $("#continuar").focus();
    //    $("#continuar").click(function () {

    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("CrearCuentaTA"));
    //    });


    //    $("#closebtnmodal").click(function () {
    //        closeWinModalPopUp();
    //        closeWinFormModalPopUp();
    //        //location.replace(location.href.replace("Edit", "Details"));
    //    });

    //    return false;
    //}


    //function uploadDone(msg, code) {
    //    if (msg == "OK") {
    //        winPopUpModal("Información Guardada / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
    //       + "<div style='padding:10px 0px 10px 0px;'>La información ha sido actualizada.</div>"
    //       + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //       "<button id='continues' class='k-button'>Continuar</button>" +
    //       "</div></div>", 400, 160);
    //        $("#continues").focus();
    //        $("#continues").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            //location.reload(true);
    //            $("#MONTH_LIFE").val('');
    //            $("#Buscar").click();
    //        });

    //        $("#closebtnmodal").click(function () {
    //            closeWinModalPopUp();
    //            closeWinFormModalPopUp();
    //            $("#MONTH_LIFE").val('');
    //            $("#Buscar").click();
    //            //location = "http://" + location.host + "/#/Mantenimientos/";
    //            //location.replace(location.href.replace("Edit", "Details"))
    //        });
    //    }
    //    else {
    //        winPopUpModal("Error al registrar", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //           "<div style='padding:10px 0px 10px 0px;'>Completar la información solicitada</div>" +
    //           "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //           "<button id='continuee' class='k-button'>Continuar</button>" +
    //           "</div></div>"
    //           , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //        .bind("click", function () {
    //            closeWinModalPopUp();
    //        });
    //    }   
    //}
    function uploadDoneEditarCuenta(msg, code, idLicencia) {
        if (msg == "OK") {
            debugger
            toastr.success("La información ha sido actualizada", "Información Guardada / Notificación Enviada");
            $("#btnCancelar").trigger({ type: "click" });
            $("#Buscar").trigger({ type:"click" });
            $("#Buscar").trigger({ type: "click" });
            $("#Buscar").trigger({ type: "click" });
            $("#Buscar").trigger({ type:" click" });
            //$("#divComponente").data("kendoListView").refresh();
            //$("#divComponente").data("kendoListView").refresh();
        }
        else {
            toastr.warning("Completar la información solicitada", "Error al registrar");
        }
    }
</script>