@{
    ViewBag.Title = "Detalle de Componente";
    Layout = null;
}
<style>
    .navVertical {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .navVertical ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
        list-style: none;
    }

    .navVertical ul li {
        float: left;
        color: #022A41;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid #e2e2e2;
        width: 100%;
    }

    .navVertical ul li a {
        text-decoration: none;
        color: #022A41;
    }

    .navVertical ul li a div {
        padding: 6px 10px 6px 10px;
    }

    .navVertical ul li a:hover div {
        background-color: #022A41;
        color: #e2e2e2;
    }

    #navDT {
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        #navDT ul {
            margin: 0px;
            margin-top: 2px;
            /*border:solid 1px #e2e2e2;*/
            /*background-color:#e2e2e2;*/
            display: inline-block;
            list-style: none;
            padding: 0px;
            width: 100%;
            border-top: solid 1px #e2e2e2;
            /*border-bottom:solid 1px #e2e2e2;*/
        }

    #navDT ul li {
        float: left;
        color: #022A41;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
    }

    #navDT ul li a {
        text-decoration: none;
        color: #022A41;
    }

    #navDT ul li a div {
        padding: 6px 10px 6px 10px;
    }

    #navDT ul li a:hover div {
        background-color: #022A41;
        color: #e2e2e2;
    }
    
    #divTitle {
        border:0.1px solid;
    }

    .activeNavDT {
        background-color: #022A41;
        color: #e2e2e2;
    }

    .bloque1{
        float:left;
        width:50%;
        background:white;
    }

    .bloque2 {
        float:right;
        width:50%;
        background:white;   
    }

    .encabezado{
        font-size:16px;
        margin: 4px;
    }
    
    .titulo{
        font-size:16px;
        margin: 15px 20px;
        color: #4B4C4C;
    }

    .titulo ~ .descripcion{
        font-size:16px;
        margin: auto 20%;  
        margin-top:-37px; 
        font-weight:bold;
        color: #4B4C4C;
    }
    .btn-primary {
        float:right;
        margin-top:-40px;
        height:35px;
    }
</style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.2/css/select.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../extensions/Editor/css/editor.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<div style="float:left; width:100%;">
    <div class="titleForm">
        <div class="title" id="divTitle">
            <div class="encabezado">Tipo de Activo &nbsp;&nbsp;&nbsp; @ViewBag.NombreLicencia </div>
        </div>
    </div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div class="divSpace2"></div>
            <div style="width:100%;">
                <div class="bodyForm">
                    <div class="inBodyForm">
                        <div id="divDato">
                                <div class="">
                                    <div class="titulo">Stock</div>
                                    <div class="descripcion"><b>@ViewBag.Stock</b></div>
                                </div>
                                <div class="">
                                    <div class="titulo">En Uso</div>
                                    <div class="descripcion"><b>@ViewBag.EnUso</b></div>
                                </div>
                            @using (Html.BeginForm("ExportarListaDetalleComponentes", "Componente", FormMethod.Post, new { id = "formExportar", name = "formExportar" }))
                            {
                                <button type="button" class="btn btn-primary btn-warning" onclick="ExportarDetalleComponentes();" id="exportar">Exportar</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="divSpace2"></div>
            <div style="width:100%;">
                <div class="titleForm">
                    <div class="title" id="divTitle">
                        Componentes Stock
                    </div>
                </div>
                <div class="bodyForm">
                    <div class="inBodyForm">
                        <table class="table table-hover display" id="example">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tipo de Activo</th>
                                    <th>Componente</th>
                                    <th>Subtipo de Componente</th>
                                    <th>Nombre</th>
                                    <th>En Uso</th>
                                    <th>Disponible</th>
                                </tr>
                            </thead>
                            <tbody id="TablaLicencias"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="divSpace2"></div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {
        //alert("id: " + );
        ObtenerStockComponenteDetalle();
        $("#btnEditar").click(function () {
            var title = 'Editar Licencia';
            var contHtml = '<div id="EditaRegistro"></div>';
            var ancho = 500;
            var alto = 150;
            @*if(@ViewBag.estado == 1){*@
                winFormPopUpModal(title, contHtml, ancho, alto);
                $("#EditaRegistro").load("/Componente/Editar//@ViewBag.Id?var=" + Math.random());
            //} else {
            //    winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
            //   "<div style='padding:10px 0px 10px 0px;'>Esta licencia no puede ser modificada</div>" +
            //   "<div style='float:right; padding:20px 0px 0px 0px; '>" +
            //   "<button id='continuer' class='k-button'>Continuar</button></div></div>"
            //   , 350, 130);
            //    var undo = $("#continuer")
            //    .bind("click", function () {
            //        closeWinModalPopUp(); mi muiro
            //    });
            //}
        });
    });

    function ObtenerStockComponenteDetalle() {
        $.ajax({
            url: "/ComponenteStockCabecera/ObtenerStockComponenteDetalle/@ViewBag.Id",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data = source;
                mostrarDetalleComponentes();
                $('#example').dataTable();
            },
            error: function (source) {
                alert("Error Carga Json Lista de Componente");
            }
        });
    }

    function mostrarDetalleComponentes() {
        $("#TablaLicencias").empty();
        $.each(data['Data'], function (index, value) {
            $("#TablaLicencias").append(
                '<tr id="' + (data['Data'][index]['']) + '">' +
                    '<td>' + (data['Data'][index]['ORDEN']) + '</td>' +
                    '<td>' + (data['Data'][index]['TipoActivo']) + '</td>' +
                    '<td>' + (data['Data'][index]['Componente']) + '</td>' +
                    '<td>' + (data['Data'][index]['SubTipoComponente']) + '</td>' +
                    '<td>' + (data['Data'][index]['NombreStockCabecera']) + '</td>' +
                    '<td>' + (data['Data'][index]['EnUso']) + '</td>' +
                    '<td>' + (data['Data'][index]['Disponible']) + '</td>' +
                '</tr>'
            );
        });
    }

    function ExportarDetalleComponentes() {
        $("#formExportar").submit();
    }
</script>
