@model ERPElectrodata.Models.ACCOUNT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ACCOUNT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NAM_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NAM_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DES_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DES_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STAF_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STAF_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SIT_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SIT_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ACR_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ACR_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_UBIG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_UBIG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AGR_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AGR_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IND_AGR_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IND_AGR_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MON_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MON_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SIM_MONE_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SIM_MONE_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAL_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAL_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LAT_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LAT_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LON_ACCO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LON_ACCO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_STAR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_STAR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DATE_END)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DATE_END)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
