@model ERPElectrodata.Models.ACCOUNT

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ACCOUNT</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_ACCO)
            @Html.ValidationMessageFor(model => model.ID_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NAM_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAM_ACCO)
            @Html.ValidationMessageFor(model => model.NAM_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DES_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DES_ACCO)
            @Html.ValidationMessageFor(model => model.DES_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STAF_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STAF_ACCO)
            @Html.ValidationMessageFor(model => model.STAF_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SIT_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SIT_ACCO)
            @Html.ValidationMessageFor(model => model.SIT_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ACR_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ACR_ACCO)
            @Html.ValidationMessageFor(model => model.ACR_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_UBIG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_UBIG)
            @Html.ValidationMessageFor(model => model.ID_UBIG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AGR_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AGR_ACCO)
            @Html.ValidationMessageFor(model => model.AGR_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IND_AGR_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IND_AGR_ACCO)
            @Html.ValidationMessageFor(model => model.IND_AGR_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MON_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MON_ACCO)
            @Html.ValidationMessageFor(model => model.MON_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SIM_MONE_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SIM_MONE_ACCO)
            @Html.ValidationMessageFor(model => model.SIM_MONE_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CAL_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CAL_ACCO)
            @Html.ValidationMessageFor(model => model.CAL_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAT_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAT_ACCO)
            @Html.ValidationMessageFor(model => model.LAT_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LON_ACCO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LON_ACCO)
            @Html.ValidationMessageFor(model => model.LON_ACCO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE_STAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE_STAR)
            @Html.ValidationMessageFor(model => model.DATE_STAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DATE_END)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DATE_END)
            @Html.ValidationMessageFor(model => model.DATE_END)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
