@model ERPElectrodata.Models.DOCUMENT_SALE
@{
    Layout = null;
}

@using (Html.BeginForm("EditarOPProyecto", "OrderForm", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAsignarEspec", target = "upload_target" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.ID_DOCU_SALE)
    <div class="mb-3 card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label id="cbFechaCompromiso" for="cbFechaCompromiso">
                            Fecha Compromiso
                        </label>
                        <input type="text" class="form-control" id="dtFechaCompromiso" name="dtFechaCompromiso" value="@ViewBag.FechaCompromiso" />
                    </div>
                </div>
                <div class="col-md-4">
                    <br /> (La Fecha de Compromiso solo se ingresará una vez)
                </div>
                <div class="col-md-4">
                    <br />
                    <div class="custom-radio custom-control">
                        <input type="radio" id="rdOperaciones" name="rdTipoProyecto" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="rdOperaciones">
                            Proyecto Operaciones
                        </label>
                    </div>
                    <div class="custom-radio custom-control">
                        <input type="radio" id="rdOutsourcing" name="rdTipoProyecto" class="custom-control-input" value="2">
                        <label class="custom-control-label" for="rdOutsourcing">
                            Proyecto Outsourcing
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <iv class="position-relative form-group">
                        <label>
                            Fecha de Entrega a Cliente
                        </label>
                        <input type="text" class="form-control" id="dtFechaLimitePM" name="dtFechaLimitePM" value="@ViewBag.FechaEntregaCliente" disabled />
                    </iv>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>
                            Nivel de Riesgo
                        </label>
                        @Html.EditorFor(Model => Model.Impacto)
                        @Html.ValidationMessageFor(model => model.Impacto)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>Horas Hombre Programadas</label>
                        <div class="editor-field">
                            @Html.EditorFor(Model => Model.HorasProgramadas)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>
                            $ Precio Venta (sin IGV)
                        </label>
                        @Html.EditorFor(Model => Model.PrecioVenta)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>$ Precio Costo Cotizado (sin IGV)</label>
                        @Html.EditorFor(Model => Model.PCCotizado)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>$ Precio Costo Real</label>
                        @Html.EditorFor(Model => Model.PCReal)
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4">
                    <iv class="position-relative form-group">
                        &nbsp;
                    </iv>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>
                            $ Precio Costo Cotizado (Compras)
                        </label>
                        @Html.EditorFor(Model => Model.PCCotizadoCompra)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>$ Precio Costo Real (Compras)</label>
                        @Html.EditorFor(Model => Model.PCRealCompra)
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4">
                    <iv class="position-relative form-group">
                        &nbsp;
                    </iv>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>
                            $ Precio Costo Cotizado (Servicios)
                        </label>
                        @Html.EditorFor(Model => Model.PCCotizadoServicio)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>$ Precio Costo Real (Servicios)</label>
                        @Html.EditorFor(Model => Model.PCRealServicio)
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>
                            % Avance
                        </label>
                        <input id="txtAvanceReal" name="txtAvanceReal" value="@ViewBag.PorcentajeAvance" class="form-control input-sm" type="number" disabled />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>
                            % Facturacion
                        </label>
                        @Html.EditorFor(Model => Model.Facturacion)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label>Fecha de Facturación</label>
                        @Html.EditorFor(Model => Model.FechaFacturacion)
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-8">
                    &nbsp;
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <button id="submit" class="btn btn-primary btn-block">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" class="hidden" style="display:none"></iframe>

<script type="text/javascript">
    $(document).ready(function () {

        if (@ViewBag.EstadoTipoProyecto == 1) {
            $("#rdOperaciones").attr("checked", true);
        } else {
            $("#rdOutsourcing").attr("checked", true);
        }

        if ($('#dtFechaCompromiso').val() != "") {
            $('#dtFechaCompromiso').attr('disabled', true);
        }


        $("#PCCotizadoCompra").change(function (event) {
            var CC = Number($("#PCCotizadoCompra").val());
            var CS = Number($("#PCCotizadoServicio").val());
            var PCCotizado = $("#PCCotizado").data("kendoNumericTextBox");
            PCCotizado.value(CC + CS);
        });
        $("#PCCotizadoServicio").change(function (event) {
            var CC = Number($("#PCCotizadoCompra").val());
            var CS = Number($("#PCCotizadoServicio").val());
            var PCCotizado = $("#PCCotizado").data("kendoNumericTextBox");
            PCCotizado.value(CC + CS);
        });

        $("#PCRealCompra").change(function (event) {
            var RC = Number($("#PCRealCompra").val());
            var RS = Number($("#PCRealServicio").val());
            var PCReal = $("#PCReal").data("kendoNumericTextBox");
            PCReal.value(RC + RS);
        });
        $("#PCRealServicio").change(function (event) {
            var RC = Number($("#PCRealCompra").val());
            var RS = Number($("#PCRealServicio").val());
            var PCReal = $("#PCReal").data("kendoNumericTextBox");
            PCReal.value(RC + RS);
        });

        $("#reset").click(function (event) {
            event.preventDefault();
            closeWinFormModalPopUp();
        });

        var Impacto = $("#Impacto").kendoComboBox({
            dataTextField: "VAL_ACCO_PARA",
            dataValueField: "ID_ACCO_PARA",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Parameter/ListarxParametro?idparametro=42"
                }
            }
        });

        var Impacto = $("#Impacto").data("kendoComboBox");

        $("#FechaLimitePM").kendoDateTimePicker().data("kendoDateTimePicker");
        $("#FechaFacturacion").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#HorasProgramadas").kendoNumericTextBox({
            min: 0
        });
        $("#PrecioVenta").kendoNumericTextBox({
            min: 0
        });
        $("#PCCotizado").kendoNumericTextBox({
            min: 0
        });
        $("#PCReal").kendoNumericTextBox({
            min: 0
        });
        $("#PCCotizadoCompra").kendoNumericTextBox({
            min: 0
        });
        $("#PCRealCompra").kendoNumericTextBox({
            min: 0
        });
        $("#PCCotizadoServicio").kendoNumericTextBox({
            min: 0
        });
        $("#PCRealServicio").kendoNumericTextBox({
            min: 0
        });

        $("#AvanceReal").kendoNumericTextBox({
            min: 0
        });

        $("#Facturacion").kendoNumericTextBox({
            min: 0
        });

        if(@ViewBag.Habilitar == 1){
            $("#dtFechaLimitePM").attr("disabled",false);
            $("#txtAvanceReal").attr("disabled",false);
        }

        $("#dtFechaCompromiso").kendoDatePicker().data("kendoDateTimePicker");
        $("#dtFechaLimitePM").kendoDatePicker().data("kendoDateTimePicker");
    });


    function MensajeEditarOP(msg, msnErr) {

        if (msg == 'OK') {
            toastr.success("", "Información Actualizada.");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }

        else {
            toastr.error("No se Actualizaron los Datos.\n\n Contacte al Administrador.", "Mensaje");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    }
</script>