@{
    Layout = null;
}
<div id="divContent">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="font-icon-wrapper font-icon-lg">
                    <i class="fa fa-folder-open icon-gradient bg-sunny-morning"> </i>
                </div>
                <div>
                    <div class="titleModule"><b>PROYECTOS</b></div>
                    <div class="page-title-subheading">
                        Lista de Proyectos por estado.
                    </div>
                </div>
                <div class="derecha">
                </div>
            </div>
        </div>
    </div>
    <div class="divFondoDos" style="padding:10px,10px,10px,10px;">
        <div class="editor-label" style="float:left; padding: 5px;">
            Cliente Final
        </div>
        <div class="editor-field" style="float:left;">
            <input id="IdCompEnd" />
        </div>
        <div class="editor-label" style="float:left; padding: 5px;">
            PM Asignado
        </div>
        <div class="editor-field" style="float:left;">
            <input id="IdPM">
        </div>
        <div class="editor-label" style="float:left; padding: 5px;">
            Especialista
        </div>
        <div class="editor-field" style="float:left;">
            <input id="IdING">
        </div>
        <div class="editor-label" style="float:left; padding: 5px;" title="">
            OP
        </div>
        <div class="k-textbox" style="float:left; width:150px" title="">
            <input id="NombreOP">
        </div>
        <div class="editor-label" style="float:left; padding: 5px;">
        </div>
        <button type="button" class="btn btn-primary btn-sm" style="float:right;" id="btnBuscar">Buscar</button>
    </div>

    <div id="ticketsByStatus">
        <div class="ticketByStatusP4_1">
            <div id="Stat1" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus1">
                    <div id="boxABIERTO" class="boxQty">@ViewBag.POpen</div>
                    <div id="letrasStat1" class="letras letrasActive">
                        <div>Nuevos<br /><div id="boxTABIERTO">Total: </div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat1" class="tab-active-marks2"></div>
                </div>
            </div>
        </div>

        <div class="ticketByStatusP4_1">
            <div id="Stat2" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus2">
                    <div id="boxASIGNADO" class="boxQty">@ViewBag.PAssigned</div>
                    <div id="letrasStat2" class="letras">
                        <div>Asignados<br /><div id="boxTASIGNADO">Total: @ViewBag.TTAssigned</div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat2"></div>
                </div>
            </div>
        </div>

        <div class="ticketByStatusP4_1">
            <div id="Stat3" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus3">
                    <div id="boxRESUELTO" class="boxQty">@ViewBag.PResolved</div>
                    <div id="letrasStat3" class="letras">
                        <div>Resueltos<br /><div id="boxTRESUELTO">Total: @ViewBag.TTResolved</div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat3"></div>
                </div>
            </div>
        </div>

        <div class="ticketByStatusP4_1">
            <div id="Stat4" class="ticketByStatusP4" onclick="Click(this)">
                <div class="tabStatus4">
                    <div id="boxCERRADO" class="boxQty">@ViewBag.PClosed</div>
                    <div id="letrasStat4" class="letras">
                        <div>Cerrados<br /><div id="boxTCERRADO">Total: @ViewBag.TTClosed</div></div>
                        <div style="clear:both;"></div>
                    </div>
                    <div id="StatusSelectStat4"></div>
                </div>
            </div>
        </div>

    </div>

    <div id="gridOPs" class="contentView">
    </div>

    <div id="pagerOPs" class="contentViewPager">
    </div>
</div>

<script type="text/x-kendo-tmpl" id="template">
    <div style="border:1px solid \\#c6c6c6; margin-bottom:10px;">
        <div style="display: inline-block; width:100%;">
            <div class="incidentHomeListBlock1 hasLayout" style="width: 75.5%; float: left; ">
                <div class="incidentHomeListHeader" style="width:100%;">
                    <a href="\\OrderForm/Details/${ID_DOCU_SALE}" target="_blank" style="cursor:pointer;" title="Ver Detalle OP">
                        <div class="TitleOP" style="width:100%;">
                            <div class="TitleOPText" style="width:11%;">
                                <b>${COD_TYPE_DOCU_SALE} ${NUM_DOCU_SALE}</b>
                            </div>
                            <div class="TitleOPText2" style="width:15%;">
                                <b>${COM_NAME}</b>
                            </div>
                            <div class="TitleOPText" style="width:10%;">
                                <b>OS: </b> ${OS}
                            </div>
                            <div class="TitleOPText" style="width:11%;">
                                <b>Creado:</b> ${DAT_DOCU_SALE}
                            </div>
                            <div class="TitleOPText" style="width:17%;">
                                <b>Fecha de Expiración: </b> ${EXP_DATE}
                            </div>
                            <div class="TitleOPText2">
                                <b>Vendedor:</b> ${VENDOR}
                            </div>
                            @*# if (ID_STAT_DOCU_SALE != 1) { #
                                <div id="btnExpandTicket${ID_DOCU_SALE}" class="btnExpandTicket" onclick="ExecuteEffectTicket(${ID_DOCU_SALE})" title="View Tickets"></div>
                                # } #
                                <div id="btnExpandir${ID_DOCU_SALE}" class="btnExpand" onclick="ExecuteEffect(${ID_DOCU_SALE})" title="View Details OP"></div>
                                <div class="divAjax-Loading" style="display:none;" id="divLoading${ID_DOCU_SALE}"></div>*@
                        </div>
                    </a>
                </div>
                <div class="OPDetails">
                    <a href="\\OrderForm/Details/${ID_DOCU_SALE}" target="_blank" style="cursor:pointer;" title="Ver Detalle OP">
                        <div style="float: left; width: 47%; padding: 0 0.5% 2px 1%; ">
                            <div style="float: left; width: 15%; text-align: center;"><b>Cliente:</b></div>
                            <div style="float:left; width:84%; padding-left:1%;">
                                <div style="float: left; width: 100%; text-transform: capitalize;">${CIA}</div>
                                <div style="float:left; width:100%; color:\\#808080; text-transform:capitalize; font-size:12px;">${CIA_ADDR}</div>
                            </div>
                        </div>
                        <div style="float: left; width: 33%; padding: 0 0.5% 2px 1%; text-transform: capitalize; ">
                            <b>Contacto:</b> ${NAM_CLIE_CONT}
                            <div style="float: left; width: 100%; color: \\#808080; text-transform: capitalize; font-size: 12px; ">${CLI_   JOB_TITL}</div>
                        </div>
                    </a>
                    # if (ID_STAT_DOCU_SALE == 4 && NAM_FILE != '') { #
                    <div style="float: right; width: 15.5%; padding: 0 0.5% 0 0; text-transform:capitalize;">
                        <a href="/Adjuntos/Knowledge/${NAM_ATTA}" target="_blank" style="text-decoration:none;" title="Descargar Acta de Conformidad">
                            <b>Acta de Conformidad &\\#8659;</b>
                            <div style="float: left; width: 91%; padding-left:3px; color: \\#808080;">${NAM_FILE}</div>
                            <div style="float: left; width: 91%; padding-left:3px; color: \\#808080;">Fecha Adjunto: ${DATE_ATTA}</div>
                        </a>
                    </div>
                    # } #

                </div>
                @*<div style="width: 91%; margin:0 0 10px 8%; height: 65px; overflow: auto; border:1px solid \\#eaeaea;">
                        #= SUM_DOCU_SALE #
                    </div>*@
                <div class="OPContentDetails" id="effect${ID_DOCU_SALE}">

                </div>
                <div class="OPContentDetails" id="effectTicket${ID_DOCU_SALE}">

                </div>
            </div>
            <div style="float: left; ">
                <div style="width:250px">${TITULO}</div>
                <br /><br />
                Gerente de Proyectos Asignado:<br />
                ${PM}
                <br /><br />
                Ingeniero Asignado:<br />
                ${INGENIERO}
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var ind = 0;
    var idTck = 0;
    $(document).ready(function () {
        location.href = "/OrderForm/ListaProyectos";
        $("#effect").hide();
        UpdateBarStatusOP();

        $("#IdCompEnd").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            }
        });
        var IdCompEnd = $("#IdCompEnd").data("kendoComboBox");

        $("#IdPM").kendoComboBox({
            autoBind: false,
            dataTextField: "ASSI",
            dataValueField: "ID_PERS_ENTI",
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AssigneByQueue?filter[filters][0][field]=ID_QUEU&filter[filters][0][value]=22&var=" + Math.random()
                }
            }
        });
        var IdPM = $("#IdPM").data("kendoComboBox");

        $("#IdING").kendoComboBox({
            autoBind: false,
            dataTextField: "ASSI",
            dataValueField: "ID_PERS_ENTI",
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/AsignarOperaciones"
                }
            }
        });
        var IdING = $("#IdING").data("kendoComboBox");

        //$("#IdING").data("kendoComboBox").dataSource.add({ ASSI: "SIN ASIGNAR", ID_PERS_ENTI: -1 });

        $("#btnBuscar").click(function () {
            if ($("#letrasStat1").hasClass("letrasActive")) {
                bandera = 1;
            }
            if ($("#letrasStat2").hasClass("letrasActive")) {
                bandera = 2;
            }
            if ($("#letrasStat3").hasClass("letrasActive")) {
                bandera = 3;
            }
            if ($("#letrasStat4").hasClass("letrasActive")) {
                bandera = 4;
            }

            ListarOP(bandera);
            UpdateBarStatusOP();
            //var listView = $("#gridOPs").data("kendoListView");
            //listView.dataSource.filter({ field: "Status", operator: "eq", value: bandera });
        });

        ListarOP(0);

        function ListarOP(bandera) {

            $("#pagerOPs").empty();
            $("#gridOPs").empty();

            if ($("#gridOPs").data("kendoListView")) {
                $("#pagerOPs").data("kendoPager").destroy();
                $("#gridOPs").data("kendoListView").destroy();
            }

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/OrderForm/ListarOP",
                        cache: false,
                        type: "GET",
                        dataType: "json",
                        data: {
                            IdCliente: $("#IdCompEnd").val() == '' ? 0 : $("#IdCompEnd").val(),
                            IdPM: $("#IdPM").val() == '' ? 0 : $("#IdPM").val(),
                            IdIng: $("#IdING").val() == '' ? 0 : $("#IdING").val(),
                            OP: $("#NombreOP").val()
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                filter: { field: "Status", operator: "eq", value: bandera },
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Data",
                    total: "Count"
                }
            });

            $("#pagerOPs").kendoPager({
                dataSource: dataSource,
                pageSizes: [15, 30, 65],
                refresh: true
            });

            $("#gridOPs").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });
        }

    });

    function ReloadDetailsOPFind(id) {
        $("#divLoadingFind" + id).css("display", "block");
        $("#effectFind" + id).hide('blind', function () {
            $("#effectFind" + id).empty();
            //expandiendo nuevamente el detalle de la OP
            $("#effectFind" + id).show('blind', function () {
                $("#effectFind" + id).load("/OrderForm/ViewDetailArticleService?id=" + id + "&var=" + Math.random(), function () {
                    $("#divLoadingFind" + id).css("display", "none");
                });
            });
        });
    }

    function ReloadDetailsOP(id) {
        $("#divLoading" + id).css("display", "block");
        $("#effect" + id).hide('blind', function () {
            $("#effect" + id).empty();
            //expandiendo nuevamente el detalle de la OP
            $("#effect" + id).show('blind', function () {
                $("#effect" + id).load("/OrderForm/ViewDetailArticleService?id=" + id + "&var=" + Math.random(), function () {
                    $("#divLoading" + id).css("display", "none");
                });
            });
        });
    }

    function EffectExpandirTicket(id) {
        $("#effectTicket" + id).show('blind', function () {
            var txt = $("#effectTicket" + id).html();
            if (txt.length == 14 || txt.length == 18 || txt.length == 0 && ind == 1) {
                $("#effectTicket" + id).empty();
                $("#effectTicket" + id).load("/OrderForm/ViewListTicket?id=" + id + "&var=" + Math.random(), function () {
                    $("#divLoading" + id).css("display", "none");
                });
            }
            else { $("#divLoading" + id).css("display", "none"); }
        });
    }

    function EffectExpandir(id) {
        $("#effect" + id).show('blind', function () {
            var txt = $("#effect" + id).html();
            if (txt.length == 14 || txt.length == 18 || txt.length == 0 && ind == 0) {
                $("#effect" + id).empty();
                $("#effect" + id).load("/OrderForm/ViewDetailArticleService?id=" + id + "&var=" + Math.random(), function () {
                    $("#divLoading" + id).css("display", "none");
                });
            }
            else { $("#divLoading" + id).css("display", "none"); }
        });
    }

    function EffectContraerTicket(id, sw) {
        $("#effectTicket" + id).hide('blind', function () {
            //expandiendo los ticket despues de cerrar el detalle de la OP
            if (sw == 1) {
                $("#effect" + id).empty();
                EffectExpandir(id);
            }
            else { $("#divLoading" + id).css("display", "none"); }
        });
    }

    function EffectContraer(id, sw) {
        $("#effect" + id).hide('blind', function () {
            //expandiendo los ticket despues de cerrar el detalle de la OP
            if (sw == 1) {
                $("#effect" + id).empty();
                EffectExpandirTicket(id);
            }
            else { $("#divLoading" + id).css("display", "none"); }
        });
    }

    function ExecuteEffect(id) {
        if (ind != 0) { $("#effectTicket" + id).empty(); }
        ind = 0;
        $("#divLoading" + id).css("display", "block");

        var className = $('#btnExpandir' + id).attr('class');
        if (className == 'btnExpand') { //Solicita Expandir Detalle de OP
            var classNameT = $('#btnExpandTicket' + id).attr('class');
            if (classNameT == 'btnContractTicket') { //Tickets expandidos
                EffectContraerTicket(id, 1);
                $("#btnExpandTicket" + id).removeClass("btnContractTicket").addClass("btnExpandTicket");
            }
            else {
                EffectExpandir(id);
            }
            $("#btnExpandir" + id).removeClass("btnExpand").addClass("btnContract");
        }
        else { //Solicita Contraer Detalle de OP
            EffectContraer(id, 0);
            $("#btnExpandir" + id).removeClass("btnContract").addClass("btnExpand");
        }
        return false;
    }

    function ExecuteEffectTicket(id) {
        if (ind != 1) { $("#effectTicket" + id).empty(); }
        ind = 1;
        $("#divLoading" + id).css("display", "block");

        var classNameT = $('#btnExpandTicket' + id).attr('class');
        if (classNameT == 'btnExpandTicket') { //Solicita expandir los tickets
            var className = $('#btnExpandir' + id).attr('class');
            if (className != 'btnExpand') { //Detalle de OP expandido
                EffectContraer(id, 1);
                $("#btnExpandir" + id).removeClass("btnContract").addClass("btnExpand");
            }
            else {
                EffectExpandirTicket(id);
            }
            $("#btnExpandTicket" + id).removeClass("btnExpandTicket").addClass("btnContractTicket");
        }
        else {//Solicita contraer los tickets
            EffectContraerTicket(id, 0);
            $("#btnExpandTicket" + id).removeClass("btnContractTicket").addClass("btnExpandTicket");
        }
    }

    var bandera = 0;
    function Click(parm) {

        for (var i = 1; i < 5; i++) {
            $("#Stat" + i).removeClass("tab-active");
            $("#StatusSelectStat" + i).removeClass("tab-active-marks2");  //letrashom
            $("#letrasStat" + i).removeClass("letrasActive");
        }
        $("#" + parm.id).addClass("tab-active");
        $("#StatusSelect" + parm.id).addClass("tab-active-marks2");
        $("#letras" + parm.id).addClass("letrasActive");

        if (parm.id == "Stat1") {
            bandera = 1;
        }
        else if (parm.id == "Stat2") {
            bandera = 2;
        }
        else if (parm.id == "Stat3") {
            bandera = 3;
        }
        else if (parm.id == "Stat4") {
            bandera = 4;
        }

        var listView = $("#gridOPs").data("kendoListView");
        listView.dataSource.filter({ field: "Status", operator: "eq", value: bandera });
    }

    function UpdateBarStatusOP() {

        $.ajax({
            url: '/OrderForm/UpdateBarStatusOP?var=' + Math.random(),
            data: {
                clienteFinal: $("#IdCompEnd").val() == '' ? 0 : $("#IdCompEnd").val(),
                IdPM: $("#IdPM").val() == '' ? 0 : $("#IdPM").val(),
                IdING: $("#IdING").val() == '' ? 0 : $("#IdING").val(),
                NombreOP: $("#NombreOP").val()
            },
            dataType: 'json',
            cache: false,
            async: true,
            success: function (jsonx) {

                var active = 0, activeT = 0;
                $.each(jsonx['Data'], function (index, value) {
                    $("#box" + value['NAM_STAT_DOCU_SALE']).html(value['OPs']);
                    $("#boxT" + value['NAM_STAT_DOCU_SALE']).html("@ResourceLanguaje.Resource.TotalAccount: " + value['Total']);
                });
                var listViewd = $("#gridOPs").data("kendoListView");
                listViewd.dataSource.page(listViewd.dataSource.page());
                //var listViewd = $("#gridOPs").data("kendoListView");
                //listViewd.dataSource.page(listViewd.dataSource.page());
            }
        });

        myVarOP = setTimeout("UpdateBarStatusOP();", 500000);
        ind = 0;
    }
</script>