@model ERPElectrodata.Models.PERSON_ENTITY
@{ViewBag.Title = "Editar";
    Layout = null;
}
<style type="text/css">
</style>

@*<div class="panel-body">*@
@using (Html.BeginForm("ActualizarComp", "Persona", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewRequest", name = "FormNewRequest", target = "ut_NewRequest" }))
{
    <div id="mensaje"></div>
    @Html.HiddenFor(model => model.ID_TYPE_CLIE)
    @*@Html.HiddenFor(model=>model.)*@
    <input id="ID_PERS_ENTI" name="ID_PERS_ENTI" style="visibility:hidden" class="form-control" placeholder="Primer Nombre" value="@ViewBag.ID_PERS_ENTI">
    @*<div class="row">
        <div class="col-xs-4">
            Primer Nombre*
            <input id="pNombre" name="pnombre" type="text" class="form-control" placeholder="Primer Nombre" value="@ViewBag.FIR_NAME">
        </div>
        <div class="col-xs-4">
            Segundo Nombre
            <input id="sNombre" name="snombre" type="text" class="form-control" placeholder="Segundo Nombre" value="@ViewBag.SEC_NAME">
        </div>
        <div class="col-xs-4">
            Primer Apellido*
            <input id="pApellido" name="pApellido" type="text" class="form-control" placeholder="Primer Apellido" value="@ViewBag.LAS_NAME">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4">
            Segundo Apellido*
            <input id="sApellido" name="sApellido" type="text" class="form-control" placeholder="Segundo Apellido" value="@ViewBag.MOT_NAME">
        </div>
        <div class="col-xs-4">
            Sexo* <br />
            <select id="CbSex" name="CbSex" class="form-control select2" type="text" style="width:100%"></select>
        </div>
        <div class="col-xs-4">
            Celular Personal*
            <input id="celularp" name="celularp" type="text" class="form-control" placeholder="Celular" value="@ViewBag.CEL_PERS">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4">
            Celular Empresa
            <input id="celular" name="celular" type="text" class="form-control" placeholder="Celular" value="@ViewBag.CEL_ENTI">
        </div>
        <div class="col-xs-4">
            RPM*
            <input id="rpm" name="rpm" type="text" class="form-control" placeholder="RPM" value="@ViewBag.RPM_PERS">
        </div>
        <div class="col-xs-4">
            Extension
            <input id="exten" name="exten" type="text" class="form-control" placeholder="Extension">
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-xs-4">
            Correo Personal*
            <input id="cPersonal" name="cPersonal" type="text" class="form-control" placeholder="Correo Personal" value="@ViewBag.EMA_PERS">
        </div>
        <div class="col-xs-4">
            Fotocheck
            <input id="fotoch" name="fotoch" type="text" class="form-control" placeholder="Fotocheck" value="@ViewBag.FOT_PERS">
        </div>
        <div class="col-xs-4">
            Cargo*
            <select id="CbCargo" name="CbCargo" class="form-control select2" type="text" style="width:100%" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4">
            User Active Directory*
            <input id="userA" name="userA" type="text" class="form-control" placeholder="User Active Directory" value="@ViewBag.UAD_PERS">
        </div>
        <div class="col-xs-4">
            Tipo Usuario
            <select id="TipUser" name="TipUser" class="form-control select2" type="text" style="width:100%" />
        </div>
        <div class="col-xs-4">
            Area*
            <select id="cbArea" name="cbArea" class="form-control select2" type="text" style="width:100%" />
        </div>
    </div>
    <div style="display:inline-block; float:right; padding: 20px 20px 15px 5px;">
        <div style=" float: left; padding: 0 15px 0 0;">
            <button id="submitRequest" class="k-button">Guardar</button>
        </div>
        <button id="cancelNewClient" class="k-button" onclick="cancel(); return false;">Cancelar</button>
    </div>
    <br />
    <div> Datos Necesarios a llenar *</div>*@

    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <form class="">
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="cbUsuario" for="cbUsuario" class="">Primer Nombre*</label>
                                        <input id="pNombre" name="pnombre" type="text" class="form-control" placeholder="Primer Nombre" value="@ViewBag.FIR_NAME">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="cbMarca" for="cbMarca" class="">Segundo Nombre</label>
                                        <input id="sNombre" name="snombre" type="text" class="form-control" placeholder="Segundo Nombre" value="@ViewBag.SEC_NAME">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Primer Apellido*</label>
                                        <input id="pApellido" name="pApellido" type="text" class="form-control" placeholder="Primer Apellido" value="@ViewBag.LAS_NAME">

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Segundo Apellido*</label>
                                        <input id="sApellido" name="sApellido" type="text" class="form-control" placeholder="Segundo Apellido" value="@ViewBag.MOT_NAME">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Sexo*</label>
                                        <select id="CbSex" name="CbSex" class="form-control select2" type="text" style="width:100%"></select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Celular Personal*</label>
                                        <input id="celularp" name="celularp" type="text" class="form-control" placeholder="Celular" value="@ViewBag.CEL_PERS">

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Celular Empresa</label>
                                        <input id="celular" name="celular" type="text" class="form-control" placeholder="Celular" value="@ViewBag.CEL_ENTI">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">RPM*</label>
                                        <input id="rpm" name="rpm" type="text" class="form-control" placeholder="RPM" value="@ViewBag.RPM_PERS">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Extension</label>
                                        <input id="exten" name="exten" type="text" class="form-control" placeholder="Extension">

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Correo Personal*</label>
                                        <input id="cPersonal" name="cPersonal" type="text" class="form-control" placeholder="Correo Personal" value="@ViewBag.EMA_PERS">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Fotocheck</label>
                                        <input id="fotoch" name="fotoch" type="text" class="form-control" placeholder="Fotocheck" value="@ViewBag.FOT_PERS">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Cargo*</label>
                                        <select id="CbCargo" name="CbCargo" class="form-control select2" type="text" style="width:100%" ></select>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">User Active Directory*</label>
                                        <input id="userA" name="userA" type="text" class="form-control" placeholder="User Active Directory" value="@ViewBag.UAD_PERS">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Tipo Usuario</label>
                                        <select id="TipUser" name="TipUser" class="form-control select2" type="text" style="width:100%" ></select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="position-relative form-group">
                                        <label id="" for="" class="">Area*</label>
                                        <select id="cbArea" name="cbArea" class="form-control select2" type="text" style="width:100%" ></select>

                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-md-8 ">
                                    <br />
                                </div>
                                <div class="col-md-4 float-right">
                                    <br />
                                    <button id="submitRequest" type="submit" class="mt-1 btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<iframe id="ut_NewRequest" name="ut_NewRequest" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
@*</div>*@

<script type="text/javascript">
    function cancel() {
        $("#modalEditar").modal("hide");
        closeWinModalPopUpLoad();

        winPopUpModal("Operación Cancelada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
       "<div style='padding:10px 0px 10px 0px;'>La operacion fue cancelada</div>" +
       "<div style='float:right; padding:20px 0px 0px 0px; '>" +
       "<button id='continuar' class='k-button' >Continuar</button></div></div>"
       , 350, 130);
        $("#continuar").focus();
        $("#continuar").click(function () {

            closeWinModalPopUp();
            closeWinFormModalPopUp();

        });
        $("#closebtnmodal").click(function () {
            closeWinModalPopUp();
            closeWinFormModalPopUp();
        });
        return false;
    }
    $(document).ready(function () {

        $("#CbCargo").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Persona/ListarCargo/",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
        $("#cbArea").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Persona/LisArea/",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    console.log("Data : " + data);
                    return { results: data };
                },
            },
        });
        $("#TipUser").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Persona/ListarUser/",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#CbSex").select2({

            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Persona/ListarSexo/",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

    });
        var $newOption1 = $("<option></option>").val('@ViewBag.SEX_ENTI').text('@ViewBag.SEX_ENTI' == 'M' ? 'MASCULINO':'FEMENINO');
        $("#CbSex").append($newOption1).trigger('change');
        var $newOption2 = $("<option></option>").val('@ViewBag.ID_CHAR').text('@ViewBag.NAM_char');
        $("#CbCargo").append($newOption2).trigger('change');
        var $newOption3 = $("<option></option>").val('@ViewBag.ID_AREA').text('@ViewBag.NOM_AREA');
        $("#cbArea").append($newOption3).trigger('change');
        var $newOption4 = $("<option></option>").val('@ViewBag.ID_TYPE_CLIE').text('@ViewBag.NAM_TYPE_CLIE');
        $("#TipUser").append($newOption4).trigger('change');

</script>
