@using ERPElectrodata.Models;
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @ResourceLanguaje.Resource.LoginTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1119/kendo.electrodata.min.css" rel="stylesheet" />

    <link href="~/Content/menu.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @*@RenderSection("scripts", required: false)*@
    <script src="~/Scripts/UtilElectrodata.js"></script>
    <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/2013.3.1119/kendo.timezones.min.js"></script>
    <script src="~/Scripts/highcharts/highcharts.js"></script>
    <script src="~/Scripts/highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/highcharts/modules/solid-gauge.src.js"></script>
    <script src="~/Scripts/jquery.tinycarousel.min.js"></script>
    <script src="~/Scripts/highcharts/modules/exporting.js"></script>
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>

    <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div >
            <div style="width:100%;position:fixed;z-index:3;">
                <div class="confTools" style="float:right;">
                    <div id="divConfToolsniv1" class="confToolsniv1">@Html.Partial("_ConfigUserClient")</div>
                    <div id="divConfToolsniv11" class="confToolsniv1">@Html.Partial("_HelpUser")</div>
                    <div style="float: right;"><a onclick="displaySettingH(this)"><img src="~/Content/Images/Hbar/Help.png" /></a></div>
                    <div style="float: right;"><a onclick="displaySettingC(this)"><img src="~/Content/Images/Hbar/Config.png" /></a></div>                   
                </div>
                

                <div style="float: right;">
                    <img height="32px;" src="~/Content/Fotos/1007.jpg" />
                </div>
                <div style="float: right;width:150px;">
                    <div style="width:100%; color:white;font-size:11px; padding-top:1px;">
                        <div style="padding-left:30px;">
                            <div>@Session["NAM_PERS"]</div>
                            <div>500 points</div>
                        </div>
                        
                    </div>
                </div>
                <div style="float: right;"><img src="~/Content/Images/Hbar/Add.png" /></div>
                <div style="float:left; color:white;">
                    <div style="margin-top:7px;padding:0px 8px 0px 50px;border-right:1px solid white;">@Session["CIA"]</div>
                </div>
                @*<div style="width:15px; height:15px; border:0px solid black; float: left;margin-top:9px;" onclick="CLickComboAcco(this)">
                    <div id="icon-change-acco">
                        <input type="text" name="ID_SELECT_ACCO" id="ID_SELECT_ACCO" style="visibility:hidden;" />
                    </div>
                </div>*@
            </div>
        </div>
    </header>
    <div class="menuVertical">
        <ul class="ulx">
            <li id="mp1" onmouseover="mouseOver(this)" class="activeMain"><a ><img src="~/Content/Images/menu/incident.png" /> </a></li>
            <!--<li id="mp8" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/inform.png" /> </a></li>-->
            <li id="mp10" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/inform2.png" /> </a></li>
        </ul>
    </div>
    <div id="navegadorL2" class="menuVertical_ second_ elementHide_">
        <div id="mainSecond" class="w1"></div>
    </div>
    <div class="panelPrincipal">
        <div style="padding-left:50px;padding-top:42px;">
            <div style="width:100%; border:0px solid red;">
                <div style="padding:25px 25px 25px 25px;">
                    @RenderBody()
                </div>
                <div id="divpopupmodal"></div>
                <div id="winPopUpModalLoad"></div>
                <div id="winFormPopUpModal"></div>
                <div id="winFormPopUpModal2"></div>
            </div>
        </div>
    </div>
    @*<nav></nav>
    <header></header>
    <section></section>
    <footer></footer>*@
<script type="text/javascript">
    var index = 0;
    var index1 = 0;
    //$("#mp1").mouseenter(function () {
    //    $("#mainSecond").load("/Navigator/IncidentRequest");
    //});

    //$("#mp2").mouseenter(function () {
    //    $("#mainSecond").load("/Navigator/AssetConfiguration");
    //});

    function mouseOver(x) {
        $(".activeMain").removeClass("activeMain");
        $("#" + x.id).addClass("activeMain");
        $("#navegadorL2").removeClass("elementHide");
    }

    function CLickComboAcco() {
        var cmbACCO = $("#ID_SELECT_ACCO").data("kendoComboBox");
        cmbACCO.open();
    }
    function displaySettingC() {
        if (index == 0) {
            $("#divConfToolsniv1").addClass("animOne");
            index = 1;
            if (index1 == 1) {
                index1 = 0;
                $("#divConfToolsniv11").removeClass("animOne");
            }
        }
        else {
            index = 0;
            $("#divConfToolsniv1").removeClass("animOne");
        }
        
    }
    function displaySettingH() {
        if (index1 == 0) {
            $("#divConfToolsniv11").addClass("animOne");
            index1 = 1;
            if (index == 1) {
                index = 0;
                $("#divConfToolsniv1").removeClass("animOne");
            }
        }
        else {
            index1 = 0;
            //$("#divConfToolsniv1").addClass("elementHide");
            $("#divConfToolsniv11").removeClass("animOne");
        }

    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mainSecond").load("/Navigator/IncidentRequest");
    });
</script>

</body>
</html>

