@using ERPElectrodata.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ResourceLanguaje.Resource.LoginTitle</title>
    <link href="~/Content/ArchitectureUI/main.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/Images/LogoED.png" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/kendo/2014.3.1119/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1119/kendo.electrodata.min.css" rel="stylesheet" />

    <link href="~/Content/menu.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@RenderSection("scripts", required: false)*@

    @*<script src="~/Scripts/angular-1.3.14/angular.min.js"></script>
    <script src="~/Scripts/angular-1.3.14/angular-route.min.js"></script>
    <script src="~/Scripts/angular-1.3.14/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-1.3.14/angular-resource.min.js"></script>

    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>*@

    <script src="~/Scripts/ui-select-master/dist/select.min.js"></script>
    <link href="~/Scripts/ui-select-master/dist/select.min.css" rel="stylesheet" />
    <script src="~/Scripts/DocumentControl/Config.js"></script>

    @*<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>*@

    @*<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>*@

    <script src="~/Scripts/highstock/js/highstock.js"></script>
    <script src="~/Scripts/UtilElectrodata.js"></script>
    <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>

    <script src="~/Scripts/Itms/Plugins/switchery.js"></script>
    <link href="~/Content/ITMS/switchery.css" rel="stylesheet" />
    <link href="~/Content/ITMS/starrr.css" rel="stylesheet" />
    <script src="~/Scripts/Itms/Plugins/starrr.js"></script>
    <link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

    <link href="~/Content/menu.css" rel="stylesheet" />

    <script src="~/Scripts/kendo/2013.3.1119/kendo.timezones.min.js"></script>

    <script src="~/Scripts/highcharts/highcharts.js"></script>
    <script src="~/Scripts/highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/highcharts/modules/solid-gauge.src.js"></script>
    <script src="~/Scripts/jquery.tinycarousel.min.js"></script>
    <script src="~/Scripts/highcharts/modules/exporting.js"></script>
    <script src="~/Scripts/Itms/Plugins/gauge.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    <script src="~/Scripts/sweet-alert.js"></script>
    <script src="~/Scripts/bootstrap-tags.js"></script>
    <script src="~/Scripts/bootstrap-tags.min.js"></script>
    <script src="~/Scripts/Itms/Plugins/jquery.validate.min.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/angular-1.3.14/angular.min.js"></script>*@
    @*<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>*@

    <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
    @*<link href="~/Content/ITMS/complemento.css" rel="stylesheet" />*@

    @*<link href="~/Content19/all.css" rel="stylesheet" />*@

    <style>
        #notificaciones {
            color: white;
            font-size: 9px;
            margin-left: -4px;
            padding: 2px;
            background: #F1B506;
            border-radius: 1px 1px 1px 1px;
            text-align: center;
        }

        #divNotificaciones {
            margin-right: 50px;
        }

        #tamModalValidarActividad {
            width: 75% !important;
        }

        .notificacion {
            height: 300px;
        }

        .icon-wrapper {
            width: 44px;
            height: 36px;
            margin: -4px auto;
            position: relative;
            overflow: hidden;
        }

        .rounded-circle {
            border-radius: 30% !important;
        }

        .menu-header-subtitle {
            opacity: 1;
        }

        .dropdown-menu .dropdown-item {
            font-size: 1.1rem;
        }

        .dropdown-item {
            color: #000000;
        }

        #notificationContainer {
            background-color: #fff;
            border: 1px solid rgba(100, 100, 100, .4);
            --webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
            overflow: visible;
            position: absolute;
            top: 30px;
            margin-left: -170px;
            width: 400px;
            z-index: -1;
            display: none;
        }

            #notificationContainer:before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                color: transparent;
                border: 10px solid black;
                border-color: transparent transparent white;
                margin-top: -20px;
                margin-left: 188px;
            }

        #notificationTitle {
            font-weight: bold;
            padding: 8px;
            font-size: 13px;
            background-color: #ffffff;
            position: fixed;
            z-index: 1000;
            width: 384px;
            border-bottom: 1px solid #dddddd;
        }

        #notificationsBody {
            padding: 33px 0px 0px 0px !important;
            min-height: 300px;
            max-height: 700px;
        }

        #notificationFooter {
            background-color: #e9eaed;
            text-align: center;
            font-weight: bold;
            padding: 8px;
            font-size: 12px;
            border-top: 1px solid #dddddd;
        }
    </style>
</head>

<body ng-app="phonecatApp">
    <header>
        <div>
            <input type="hidden" id="IdIdioma" name="IdIdioma" value="@Session["IdIdioma"]" />
            <input type="hidden" name="idPerfil" id="idPerfil" value="@Session["APROBADOR_OPERACIONES"]" />
            <div style="width:100%;position:fixed;z-index:3;">

                <div style="float: right;">
                    @*<input type="text" value="@Session["Idioma"]" id="cbxIdioma" style="width:50%;display:none;" />*@
                    <div class="dropdown">
                        <button type="button"
                                data-toggle="dropdown"
                                class="p-1 mr-2 btn btn-link">
                            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                                <span class="icon-wrapper-bg bg-focus"></span>
                                <span id="icIdioma" class="mr-3 opacity-8 flag large"></span>
                            </span>
                        </button>
                        <div tabindex="-1"
                             role="menu"
                             aria-hidden="true"
                             class="rm-pointers dropdown-menu dropdown-menu-right"
                             id="menuIdiomas">
                            <div class="dropdown-menu-header">
                                <div class="dropdown-menu-header-inner pt-4 pb-4 bg-focus">
                                    <div class="menu-header-image opacity-05"></div>
                                    <div class="menu-header-content text-center text-white">
                                        <h5 class="menu-header-subtitle mt-0">
                                            Selecciona Idioma
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <button type="button" tabindex="0" class="dropdown-item">
                                <span class="mr-3 opacity-8 flag large US"></span>
                                Inglés
                            </button>
                            <button type="button" tabindex="0" class="dropdown-item active">
                                <span class="mr-3 opacity-8 flag large PE"></span>
                                Español
                            </button>
                            <button type="button" tabindex="0" class="dropdown-item">
                                <span class="mr-3 opacity-8 flag large BR"></span>
                                Portugués
                            </button>
                            @*<div tabindex="-1" class="dropdown-divider"></div>
                                <h6 tabindex="-1" class="dropdown-header">Otros</h6>*@
                            <button type="button" tabindex="0" class="dropdown-item">
                                <span class="mr-3 opacity-8 flag large IT"></span>
                                Italiano
                            </button>
                        </div>
                    </div>
                </div>
                <div class="confTools" style="float:right;">
                    <div id="divConfToolsniv1" class="confToolsniv1" style="background-color:beige">@Html.Partial("_ConfigUser")</div>
                    <div id="divConfToolsniv11" class="confToolsniv1">@Html.Partial("_HelpUser")</div>
                    <div id="divNotificaciones" class="confToolsniv1" style="background-color:beige">@Html.Partial("_Notificaciones")</div>
                    @*<div style="float: right;"><a onclick="displaySettingH(this)"><img src="~/Content/Images/Hbar/Help.png" /></a></div>*@
                    <div style="float: right;"><a onclick="displaySettingC(this)"><img src="~/Content/Images/Hbar/Config.png" /></a></div>
                </div>


                <div style="float: right;">
                    <img height="32" style="height:32px;" src="~/Content/Fotos/@Session["ID_FOTO"]" class="img-circle" />
                </div>

                <div style="float: right;width:150px;">
                    <div style="width:100%; color:white;font-size:11px; padding-top:1px;">
                        <div style="padding-left:30px;">
                            <div>@Session["NAM_PERS"]</div>
                            @*<div><span id="idvalorpoint"></span><span> Points</span></div>*@
                        </div>
                    </div>
                </div>
                @{
                    try
                    {
                        if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4 || Convert.ToInt32(Session["ID_ACCO"].ToString()) == 52)
                        {
                            <div style="float: right;">
                                @*<img src="~/Content/Images/Hbar/Add.png" />*@
                                <a onclick="showBanner()" href="">
                                    @*<span class="glyphicon glyphicon-envelope" style="color:white;font-size:21px; margin-top:5px;"></span>*@
                                </a>
                                &nbsp;
                                @*<a onclick="mostrarNotificaciones(this);" style="cursor:pointer;text-decoration:none;" id="imagenNotificaciones">
                                        <i class="glyphicon glyphicon-bell" style="color:white;font-size:19px;"></i>
                                        <span id="notificaciones"></span>
                                    </a>*@
                                @*<ul class="nav navbar-nav">
                                    <li class="dropdown" id="d1">*@
                                <a id="lista" href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell" style="color:white;font-size:19px;"></span>&nbsp;<spand id="CantidadNotificacion" style="color:red;font-size:17px;">0</spand></a>
                                <div id="notificationContainer">
                                    <div id="notificationTitle" class="notificationTitle">
                                        <div>Notificaciones</div>
                                    </div>
                                    <div id="notificationsBody" class="notifications" style="overflow-y: scroll">

                                    </div>

                                    <div id="notificationFooter"><a href="" onclick="hrefTicketNotificacion();" target="_blank">Ver Todos</a></div>
                                </div>
                                @*</li>
                                    </ul>*@
                                @*<div style="float: right;border:1px solid red;"><a id="notificaciones" onclick="mostrarNotificaciones(this)"><img src="~/Content/Images/Hbar/Config.png" /></a></div>*@
                            </div>
                            <div onclick="enlaceOP()" style="float: right;width:80px;">
                                <div style="width:100%; color:white;font-size:11px; padding-top:1px;">
                                    <div style="cursor: pointer;">
                                        <div>Proyectos</div>
                                        <div><span id="idvalorop"></span> Open</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    catch
                    {

                    }

                }

                <div style="float:left; color:white;">
                    <div style="margin-top:7px;padding:0px 8px 0px 50px;border-right:1px solid white;">@Session["NAM_ACCO"]</div>
                </div>
                <div style="width:15px; height:15px; border:0px solid black; float: left;margin-top:9px;" onclick="CLickComboAcco(this)">
                    <div id="icon-change-acco">
                        <input type="text" name="ID_SELECT_ACCO" id="ID_SELECT_ACCO" style="visibility:hidden;" />
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Div PopUp Normal-->
    <div class="modal fade" id="ModalContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="ModalContentAll">
            </div>
        </div>
    </div>

    <!--Fin PopUp-->
    <!-- Small modal -->
    <div id="SmallModalContent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" id="SmallModalContentHeader">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="SmallModalTitle"></h2>
                </div>

                <div class="modal-body" id="SmallModalContentBody">
                    <div id="SmallModalBody"></div>
                </div>

                <div class="modal-footer" id="SmallModalContentFooter">
                    <div id="SmallModalFooter"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Div Loading-->
    <div class="modal fade" tabindex="-1" id="myModalLoading" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please Wait</h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Loading-->
    <!-- Fin Small modal -->
    <div class="menuVertical">
        <ul class="ulx">
            @try
            {
                if (Convert.ToInt32(Session["ID_ACCO"].ToString()) != 0 && Convert.ToInt32(Session["USUARIO_EXTERNO"].ToString()) == 0 &&
                    Convert.ToInt32(Session["USUARIO_EXTERNO_TICKET"].ToString()) == 0)
                {
                    <li id="mp0" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/Supervisor.png" title="Supervisión" /> </a></li>
                    <li id="mp1" onmouseover="mouseOver(this)" class="activeMain"><a><img src="~/Content/Images/menu/incident.png" title="Tickets" /> </a></li>
                    <li id="mp11" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/act.png" title="Actividades" /> </a></li>
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4 && Convert.ToInt32(Session["USUARIO_EXTERNO"].ToString()) == 0)
                    {
                        <li id="mp12" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/pmo.png" title="Proyectos" /></a></li>
                    }
                    <li id="mp2" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/asset.png" title="Activos" /></a></li>
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 0 && Convert.ToInt32(Session["USUARIO_EXTERNO"].ToString()) == 0)
                    {
                        <li id="mp13" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/inventario.png" title="Inventario" /></a></li>
                    }
                    @*<li id="mp3" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/change.png" /></a></li>*@
                    <li id="mp4" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/know.png" title="Knowledge" /></a></li>
                    <li id="mp9" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/document.png" title="Control Documentario" /> </a></li>
                    <li id="mp5" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/talent.png" title="Talento Humano" /></a></li>
                    <li id="mp6" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/financial.png" title="Finanzas" /></a></li>
                    @*<li id="mp7" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/sales.png" /></a></li>*@
                    @*<li id="mp8" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/inform.png" /> </a></li>*@
                    if (Convert.ToInt32(Session["ADMINISTRADOR_SISTEMA"]) == 1 || Convert.ToInt32(Session["OPERACIONES"]) == 1 || Convert.ToInt32(Session["SUPERVISOR_SERVICEDESK"]) == 1 && Convert.ToInt32(Session["USUARIO_EXTERNO"].ToString()) == 0)
                    {
                        <li id="mp10" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/adm.png" title="Administración" /> </a></li>
                    }
                    <li id="mp14" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/incident1.png" title="Gestión del Conocimiento" /> </a></li>
                    <li id="mp15" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/changemgn.png" width="32" height="32" title="Gestión del Cambio" /> </a></li>
                    if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 4 && Convert.ToInt32(Session["USUARIO_EXTERNO"].ToString()) == 0)
                    {
                        <li id="mp16" onmouseover="mouseOver(this)"><a><img src="~/Content/Images/menu/cmdb1.png" width="32" height="32" title="CMDB" /> </a></li>
                    }
                }
                if (Convert.ToInt32(Session["ID_ACCO"].ToString()) != 0 && Convert.ToInt32(Session["USUARIO_EXTERNO"].ToString()) == 0 &&
                    Convert.ToInt32(Session["USUARIO_EXTERNO_TICKET"].ToString()) == 1)
                {
                    <li id="mp1" onmouseover="mouseOver(this)" class="activeMain"><a><img src="~/Content/Images/menu/incident.png" title="Tickets" /> </a></li>
                }
            }
            catch { }

        </ul>
    </div>
    <div id="navegadorL2" class="menuVertical_ second_ elementHide_" @*ng-controller="AnotherCtrl"*@>
        <div id="mainSecond" class="w1" ng-include='"/Navigator/IncidentRequest"'></div>
    </div>

    @*<div ng-controller="AnotherCtrl">
            <div ng-include='name'></div>
        </div>*@


    <div @*class="panelPrincipal"*@>
        <div style="padding-left:50px; padding-top:42px;">
            <div style="width:100%; border:0px solid red;">
                <div style="padding:25px 25px 25px 25px;" ng-view>
                    @*<div ng-include='"/Home/Init"'></div>*@
                    @RenderBody()
                </div>

                @*<div style="padding:0px 25px 25px 25px;" ng-view >

                    </div>*@
                <div id="divpopupmodal"></div>
                <div id="divpopupmodal2"></div>
                <div id="winPopUpModalLoad"></div>
                <div id="winFormPopUpModal"></div>
                <div id="winFormPopUpModal2"></div>
                <div id="miModal" class="modal"></div>
            </div>
        </div>
    </div>

    <!-- Modal Editar Actividad-->
    <div class="modal fade" id="ModalValidarActividad" role="dialog" aria-labelledby="ValidarActividad" aria-hidden="true">
        <div class="modal-dialog" id="tamModalValidarActividad">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Actividades</h4>
                </div>
                <div class="modal-body">
                    <div id="divValidarActividad"></div>
                    <!-- CONTENIDO -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var index = 0;
        var index1 = 0;
        var index2 = 0;

        var TimerOP = setInterval(function () { CantidadOP() }, 300000);

        function CantidadOP() {
            $.ajax({
                url: '/Sales/ListOpsMensaje?var=' + Math.random(),
                dataType: 'text',
                cache: false,
                async: true,
                success: function (cantop) {
                    $("#idvalorop").empty();
                    $("#idvalorop").text(cantop);
                }
            });

        }
        function CantidadNotificaciones() {
            $.ajax({
                url: '/ChangeRequest/CantidadNotificaciones?var=' + Math.random(),
                dataType: 'text',
                cache: false,
                async: true,
                success: function (canNoti) {
                    $("#notificaciones").empty();
                    $("#notificaciones").text(canNoti);
                    $("#imagenNotificaciones").show();
                }
            });

        }
        function enlaceOP() {
            location.href = "http://itms.electrodata.com.pe/OrderForm";

        }

        function hrefTicketNotificacion() {
            location.href = "http://itms.electrodata.com.pe/Ticket/ListaTicketPortal";
        }

        function mouseOver(x) {
            $(".activeMain").removeClass("activeMain");
            $("#" + x.id).addClass("activeMain");
            $("#navegadorL2").removeClass("elementHide");
        }

        function CLickComboAcco() {
            var cmbACCO = $("#ID_SELECT_ACCO").data("kendoComboBox");
            cmbACCO.open();
        }
        function displaySettingC() {
            if (index == 0) {
                $("#divConfToolsniv1").addClass("animOne");
                index = 1;
                if (index1 == 1 || index2 == 1) {
                    index1 = 0;
                    index2 = 0;
                    $("#divConfToolsniv11").removeClass("animOne");
                    $("#divNotificaciones").removeClass("notificacion");
                    $("#divNotificaciones").removeClass("animOne");
                }
            }
            else {
                index = 0;
                $("#divConfToolsniv1").removeClass("animOne");
            }

        }
        function displaySettingH() {
            if (index1 == 0) {
                $("#divConfToolsniv11").addClass("animOne");
                index1 = 1;
                if (index == 1 || index2 == 1) {
                    index = 0;
                    index2 = 0;
                    $("#divConfToolsniv1").removeClass("animOne");
                    $("#divNotificaciones").removeClass("notificacion");
                    $("#divNotificaciones").removeClass("animOne");
                }
            }
            else {
                index1 = 0;
                //$("#divConfToolsniv1").addClass("elementHide");
                $("#divConfToolsniv11").removeClass("animOne");
            }

        }

        function mostrarNotificaciones() {
            if (index2 == 0) {
                $("#divNotificaciones").addClass("aniNoti animOne notificacion");
                //$("#divNotificaciones").addClass("aniNoti");
                index2 = 1;
                if (index1 == 1 || index == 1) {
                    index1 = 0;
                    index = 0;
                    $("#divConfToolsniv11").removeClass("animOne");
                    $("#divConfToolsniv1").removeClass("animOne");
                }
            }
            else {
                index2 = 0;
                $("#divNotificaciones").removeClass("notificacion");
                $("#divNotificaciones").removeClass("animOne");
            }

        }
        function showBanner() {
            $.get("Vacation/ValidateX", function (data) {

                if (data != "NO") {

                    $('#ModalContent').modal('show');
                    $("#ModalContentAll").empty();
                    $("#ModalContentAll").append("<div class='modal-header'>" +
                                                      "<button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>" +
                                                       "<h2 class='modal-title'>Vacations Report</h2>" +
                                                  "</div>");

                    $("#ModalContentAll").append("<div id='idbammner'></div>");

                    $("#ModalContentAll").append("<div class='modal-footer'>" +

                                                     "<div class='row' >" +
                                                            "<div class='col-sm-1'></div>" +
                                                            "<div class='col-sm-5' style='text-align:left;'>Reporting Date @String.Format("{0:d}",DateTime.Now)</div>" +
                                                            "<div class='col-sm-5' style='text-align:right;'><div><button id='btnCloseBanner' class='k-button' style='font-size:.9em;'>Close</button></div></div>" +
                                                            "<div class='col-sm-1'></div>" +
                                                            @*"<div style='float:left'></div>"+
                                                        "<div style='width:95%; margin:0 auto; text-align:right;'>" +
                                                                "<div style='width:100%;'>" +
                                                                    "" +
                                                                "</div>" +
                                                        "</div>" +*@
                                                      "</div>" +

                                               "</div>");

                    var undo = $("#btnCloseBanner")
                   .bind("click", function (event) {
                       event.preventDefault();
                       $('#ModalContent').modal('hide');
                   });

                    $("#idbammner").load("Vacation/Summary");
                }
            });
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            listaIdiomas(@Session["IdIdioma"]);
            UpdatePoints()
            CantidadOP();
            CantidadNotificaciones();
            $("#imagenNotificaciones").hide();


            /////////////////////////////////////////////////////IDIOMA///////////////////////////////////////////////////




            @*var cbxIdioma = $("#cbxIdioma").kendoComboBox({
                dataTextField: "Nombre",
                dataValueField: "Id",
                filter: "contains",
                autoBind: true,
                delay: 50,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Idioma/ListaComboIdioma?id=" + '@Session["IdIdioma"]'
                    }
                }
            }).data("kendoComboBox");
            cbxIdioma.bind("change", function (e) {
                $.ajax({
                    type: "GET",
                    url: "/Idioma/cambioSessionIdioma?IdIdioma=" + $("#cbxIdioma").val(),
                    data: { var: Math.random() }
                }).done(function (msg) {
                    location.reload(true);
                });
            });*@

            /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            var cmbIdSelectAcco = $("#ID_SELECT_ACCO").kendoComboBox({
                dataTextField: "NAM_ACCO",
                dataValueField: "ID_ACCO",
                template: '<div style="text-transform:capitalize;">' +
                                  '${data.NAM_ACCO}' +
                              '</div>',
                filter: "contains",
                autoBind: true,
                value: '@Session["ID_ACCO"]',
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Account/AccountsByUser?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            cmbIdSelectAcco.bind("change", function (e) {
                $.ajax({
                    type: "GET",
                    url: "/AccountIT/ChangeAccount/" + cmbIdSelectAcco.dataItem().ID_ACCO,
                    data: { var: Math.random() }
                }).done(function (msg) {
                    location.reload(true);
                });
            });

            if (parseInt(@Session["BANNER"]) == 1) {

                $.get("/Vacation/Validate", function (data) {

                    if (data != "NO") {

                        $('#ModalContent').modal('show');
                        $("#ModalContentAll").empty();
                        $("#ModalContentAll").append("<div class='modal-header'>" +
                                                          "<button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>" +
                                                           "<h2 class='modal-title'>Vacations Report</h2>" +
                                                      "</div>");

                        $("#ModalContentAll").append("<div id='idbammner'></div>");

                        $("#ModalContentAll").append("<div class='modal-footer'>" +

                                                         "<div class='row' >" +
                                                                "<div class='col-sm-1'></div>" +
                                                                "<div class='col-sm-5' style='text-align:left;'>Reporting Date @String.Format("{0:d}",DateTime.Now)</div>" +
                                                                "<div class='col-sm-5' style='text-align:right;'><button id='btnCloseBanner' class='k-button' style='font-size:.9em;'>Close</button></div>" +
                                                                "<div class='col-sm-1'></div>" +
                                                                @*"<div style='float:left'></div>"+
                                                            "<div style='width:95%; margin:0 auto; text-align:right;'>" +
                                                                    "<div style='width:100%;'>" +
                                                                        "" +
                                                                    "</div>" +
                                                            "</div>" +*@
                                                          "</div>" +

                                                   "</div>");

                        var undo = $("#btnCloseBanner")
                       .bind("click", function (event) {
                           event.preventDefault();
                           $('#ModalContent').modal('hide');
                       });

                        $("#idbammner").load("/Vacation/Summary");
                    }
                });
            }


            $("#link").dblclick(function () {
                alert("has hecho doble click en el párrafo con id=parrafo");
            });
        });

        function listaIdiomas(idIdioma) {
            if (idIdioma != 0) {
                $("#menuIdiomas").empty();
                $("#menuIdiomas").append(
                    '<div class="dropdown-menu-header">'
                                + '<div class="dropdown-menu-header-inner pt-4 pb-4 bg-focus">'
                                    + '<div class="menu-header-image opacity-05"></div>'
                                    + '<div class="menu-header-content text-center text-white">'
                                        + '<h5 class="menu-header-subtitle mt-0">'
                                            + 'Selecciona Idioma'
                                        + '</h5>'
                                    + '</div>'
                                + '</div>'
                            + '</div>'
                    );
                var activo = '';
                var disabled = '';
                $.ajax({
                    url: "/Idioma/ListaComboIdioma?id=" + idIdioma,
                    type: "GET",
                    cache: false,
                    dataType: "json",
                    success: function (source) {
                        data = source;

                        $.each(data['Data'], function (index) {
                            if (idIdioma == data["Data"][index]["Id"]) {
                                activo = " active";
                                disabled = "disabled";
                                var flag = data["Data"][index]["CodBandera"];
                                $("#icIdioma").addClass(flag);

                            } else {
                                activo = "";
                                disabled = "";
                            }
                            $("#menuIdiomas").append(
                                '<button type="button" tbindex="0" class="dropdown-item' + activo + '" ' + disabled + ' value="' + (data["Data"][index]["Id"]) + '">'
                                       + '<span class ="mr-3 opacity-8 flag large ' + (data["Data"][index]["CodBandera"]) + '"></span>'
                                       + (data["Data"][index]["Nombre"])
                               + '</button>');

                        });

                    },
                    error: function (source) {
                    }
                });
            }
        };
        $("#menuIdiomas").on("click", "button", function (e) {
            $.ajax({
                type: "GET",
                url: "/Idioma/cambioSessionIdioma?IdIdioma=" + $(this).val(),
                data: { var: Math.random() }
            }).done(function (msg) {
                location.reload(true);
            });
        });


        $("#lista").click(function () {
            $("#notificationContainer").fadeToggle(300);
            $.ajax({
                type: "GET",                                              // tipo de request que estamos generando
                url: '/Ticket/NotificationsTickets',                    // URL al que vamos a hacer el pedido
                data: null,                                                // data es un arreglo JSON que contiene los parámetros que
                // van a ser recibidos por la función del servidor
                contentType: "application/json; charset=utf-8",            // tipo de contenido
                dataType: "json",                                          // formato de transmición de datos
                async: true,                                               // si es asincrónico o no
                success: function (resultado) {                            // función que va a ejecutar si el pedido fue exitoso
                    $.each(resultado.Data, function (index, value) {
                        console.log(resultado.Count);
                        $('#notificationsBody').append('<div class="alert alert-warning"><a href="" class="alert-link" target="_blank" onclick="hrefTicketNotificacion();"><span class="glyphicon glyphicon-bell" style="color:red"></span><strong style="color:#605CB3">TICKET CREADO ' + value.NAM_SOUR + ' - </strong><strong>' + value.TITLE_TICK + ': </strong>' + value.SUM_TICK + '</a></div>');
                        $('.alert').alert();
                        //$('#notificationsBody').append('<strong>' + value.TITLE_TICK + '</strong>');
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) { // función que va a ejecutar si hubo algún tipo de error en el pedido
                    var error = eval("(" + XMLHttpRequest.responseText + ")");
                    aler(error.Message);
                }
            });


        });

        $(document).click(function () {
            $("#notificationContainer").hide();
            $("#notificationsBody").empty();

        });

        $("#notificationContainer").click(function () {

            return false;
        });



        function CantidadNotificaciones() {
            $.ajax({
                type: "GET",                                              // tipo de request que estamos generando
                url: '/Ticket/NotificationsTickets',                    // URL al que vamos a hacer el pedido
                data: null,                                                // data es un arreglo JSON que contiene los parámetros que
                // van a ser recibidos por la función del servidor
                contentType: "application/json; charset=utf-8",            // tipo de contenido
                dataType: "json",                                          // formato de transmición de datos
                async: true,                                               // si es asincrónico o no
                success: function (resultado) {                            // función que va a ejecutar si el pedido fue exitoso
                    document.getElementById("CantidadNotificacion").innerHTML = resultado.Count;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) { // función que va a ejecutar si hubo algún tipo de error en el pedido
                    var error = eval("(" + XMLHttpRequest.responseText + ")");
                    aler(error.Message);
                }
            });
        }



    </script>

</body>
</html>
