<!DOCTYPE html>

<html lang="es">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Gestión de Servicios TI
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Sistema Interno de Electrodata" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon" type="image/png" href="~/Content/Images/LogoED.png" />


    <link href="~/Content/ArchitectureUI/main.css" rel="stylesheet" />
    <link href="~/Content19/kendo/2019.3.1023/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content19/kendo/2019.3.1023/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content19/kendo/2019.3.1023/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content19/kendo/2019.3.1023/kendo.default.mobile.min.css" rel="stylesheet" />

    <link href="~/Content19/all.css" rel="stylesheet" />
    <script src="~/Scripts22/js/jquery-3.7.0.min.js"></script>
    @*<script src="~/Scripts19/kendo/2019.3.1023/jquery.min.js"></script>*@
    <script src="~/Scripts19/kendo/2019.3.1023/jszip.min.js"></script>
    <script src="~/Scripts19/kendo/2019.3.1023/kendo.all.min.js"></script>


    @*<script src="~/Scripts22/js/jszip.min.js"></script>
        <script src="~/Scripts22/js/kendo.all.min.js"></script>*@

    @*<script src="~/Scripts/highcharts/highcharts.js"></script>
        <script src="~/Scripts/highcharts/highcharts-more.js"></script>
        <script src="~/Scripts/highcharts/modules/solid-gauge.src.js"></script>
        <script src="~/Scripts/highcharts/modules/exporting.js"></script>*@
    <script src="~/Scripts22/highcharts/highcharts.js"></script>
    <script src="~/Scripts22/highcharts/exporting.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

    @*<script src="~/Scripts/angular-1.3.14/angular.min.js"></script>
        <script src="~/Scripts/angular-1.3.14/angular-route.min.js"></script>
        <script src="~/Scripts/angular-1.3.14/angular-sanitize.min.js"></script>
        <script src="~/Scripts/angular-1.3.14/angular-resource.min.js"></script>*@

    @*<script src="~/Scripts/Angular2023/1.3.14/angular.min.js"></script>*@
    @*<script src="~/Scripts/Angular2023/1.3.14/angular-route.min.js"></script>*@
    @*<script src="~/Scripts/Angular2023/1.3.14/angular-sanitize.min.js"></script>*@
    @*<script src="~/Scripts/Angular2023/1.3.14/angular-resource.min.js"></script>*@
    @*<script src="~/Scripts/Angular2023/1.3.14/ui-bootstrap-tpls.min.js"></script>*@

    @*<script src="~/Scripts/Angular2023/angular.min.js"></script>
        <script src="~/Scripts/Angular2023/angular-route.min.js"></script>
        <script src="~/Scripts/Angular2023/angular-sanitize.min.js"></script>
        <script src="~/Scripts/Angular2023/angular-resource.min.js"></script>
        <script src="~/Scripts/Angular2023/ui-bootstrap-tpls.min.js"></script>*@

    @*<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>*@

    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    <script src="~/Scripts/sweet-alert.js"></script>

    @*<script src="~/Scripts/ui-select-master/dist/select.min.js"></script>
        <link href="~/Scripts/ui-select-master/dist/select.min.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/DocumentControl/Config.js"></script>*@
    @*<script src="~/Scripts/DocumentControl/Angular2023/Config.js" />*@

    @*<script src="~/Scripts/highcharts/highcharts.js"></script>
        <script src="~/Scripts/highcharts/highcharts-more.js"></script>
        <script src="~/Scripts/highcharts/modules/solid-gauge.src.js"></script>
        <script src="~/Scripts/highcharts/modules/exporting.js"></script>*@

    <script src="~/Scripts/Itms/Plugins/switchery.js"></script>
    <link href="~/Content/ITMS/switchery.css" rel="stylesheet" />
    <link href="~/Content/ITMS/starrr.css" rel="stylesheet" />
    <script src="~/Scripts/Itms/Plugins/starrr.js"></script>
    @*LIBRERIAS CERRAR SESION*@
    <script src="~/Scripts/jquery.idle.min.js"></script>

    <script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
    <link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>*@

    @*FIN LIBRERIAS CERRAR SESION*@

    <style>
        .divHide {
            display: none;
        }
    </style>
</head>


<body>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">*@
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar closed-sidebar">
        <div class="app-header header-shadow bg-night-sky header-text-light">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button"
                                class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button"
                            class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    <ul class="header-megamenu" style="list-style:none;margin-bottom:0;padding-left:0">
                        <li class="dropdown nav-item" onclick="CLickComboAcco(this)" style="color:white;">
                            <a aria-haspopup="true"
                               class="nav-link"
                               aria-expanded="false">
                                <i class="nav-link-icon pe-7s-settings"></i>
                                @Session["NAM_ACCO"]
                                <i class="fa fa-angle-down ml-2 opacity-5"></i>
                            </a>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-rounded dropdown-menu-lg rm-pointers show" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: -35px; left: 0px; will-change: transform;" x-placement="bottom-start">
                                <input type="text" name="ID_SELECT_ACCO" id="ID_SELECT_ACCO" style="visibility:hidden;" class="form-group" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           class="p-0 btn">
                                            <img width="42"
                                                 class="rounded-circle"
                                                 src="~/Content/Fotos/@Session["ID_FOTO"]"
                                                 alt="" />
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1"
                                             role="menu"
                                             aria-hidden="true"
                                             class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-menu-header">
                                                <div class="dropdown-menu-header-inner bg-info">
                                                    <div class="menu-header-image opacity-2"
                                                         style="background-image: url('~/Content/ArchitectureUI/assets/images/dropdown-header/city3.jpg');"></div>
                                                    <div class="menu-header-content text-left">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42"
                                                                         class="rounded-circle"
                                                                         src="~/Content/Fotos/@Session["ID_FOTO"]"
                                                                         alt="" />
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">
                                                                        <label id="lblNombrePrincipal1">@Session["NAM_PERS"]</label>
                                                                    </div>
                                                                    <div class="widget-subheading opacity-8">
                                                                        <label id="lblCargoPrincipal1">@Session["Cargo"]</label>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-content-right mr-2">
                                                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <button id="action-button" class="btn-pill btn-shadow btn-shine btn btn-focus">
                                                                            Logout
                                                                        </button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="scroll-area-xs" style="height: 150px;">
                                                <div class="scrollbar-container ps">
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item-header nav-item">Actividad</li>
                                                        <li class="nav-item">
                                                            <a href="/Account/Manage/0" class="nav-link">
                                                                Cambiar Contraseña
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <label id="lblNombrePrincipal2">@Session["NAM_PERS"]</label>
                                    </div>
                                    <div class="widget-subheading">
                                        <label id="lblCargoPrincipal2">@Session["Cargo"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button"
                                    class="hamburger close-sidebar-btn hamburger--elastic"
                                    data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button"
                                class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                                class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">OPERACIONES</li>
                            <li>
                                <a href="#">
                                    <i class="metismenu-icon fa fa-box-open"></i>
                                    Activos
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul>
                                    <li>
                                        <a href="~/Asset/IndexOT">
                                            Lista de Activos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Asset/TicketOT">
                                            Tickets de Activos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Asset/FindOT">
                                            Buscar Activo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Asset/CreateOT">
                                            Nuevo Activo
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/DeliveryReception/CreateOT">
                                            Nueva Asignación
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/DeliveryReception/CreateRecepcionOT">
                                            Nueva Recepción
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner" ng-view>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/assets/js/datatables.js"></script>
    <script src="~/Scripts/assets/js/argon-dashboard.js"></script>

</body>

</html>

<div class="modal fade" id="miModal" name="miModal" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true" style="overflow-y:auto !important">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span id="lblTitulo" name="lblTitulo"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    Cargando...
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/ArchitectureUI/assets/scripts/main.js"></script>

<script type="text/javascript">

        var cmbIdSelectAcco = $("#ID_SELECT_ACCO").kendoComboBox({
        dataTextField: "NAM_ACCO",
                dataValueField: "ID_ACCO",
                template: '<div style="text-transform:capitalize;">' +
                                  '${data.NAM_ACCO}' +
                              '</div>',
                filter: "contains",
                autoBind: true,
                value: '@Session["ID_ACCO"]',
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
            schema: {
                data: "Data",
                        total: "Count"
                    },
                    transport: {
                read: "/Account/AccountsByUser?var=" + Math.random()
                    }
            }
        }).data("kendoComboBox");
        cmbIdSelectAcco.list.width(300);

        cmbIdSelectAcco.bind("change", function (e) {
                $.ajax({
            type: "GET",
                    url: "/AccountIT/ChangeAccount/" + cmbIdSelectAcco.dataItem().ID_ACCO,
                    data: { var: Math.random() }
                }).done(function (msg) {
                    location.reload(true);
                });
            });



    function CLickComboAcco() {
        var cmbACCO = $("#ID_SELECT_ACCO").data("kendoComboBox");
        cmbACCO.open();
    }
    

</script>

@*SCRIP PARA EL CALCULO DE LA INACTIVIDAD DE LA SESION*@
@*EL ESCRIP SE ENCUENTRA EN /Scripts/jquery.idle.min.js ADEMAS DE ESO SE USO OTRAS LIBRERIAS INDICADAS EN LA PARTE SUPERIOR*@
<script type="text/javascript">
    function clickbutton() {
        // simulamos el click del mouse en el boton del formulario
        $("#action-button").click();

    }
    $('#action-button').on('click', function () {
        console.log('action button clicked');
    });
</script>

<script type="text/javascript">
    function validarSesion() {
        $.ajax({
            url: "/Account/UsuarioActivo/",
            type: "GET",
            success: function (res) {
                if (res == "False") {
                    swal({
                        title: 'Se perdió la sesión',
                        type: 'error',
                        text: 'Su sesión ha finalizado',
                        focusConfirm: false,
                        confirmButtonText:
                            'Continuar',
                        //confirmButtonAriaLabel: 'Thumbs up, great!'

                    }, function () {
                        location = "http://" + location.host + "/Account/Login";
                    })
                }
            },
            error: function (source) {
                /*toastr.error("");*/
            }
        });
    }
    window.onload = function () {
        validarSesion()
    };
    document.addEventListener('visibilitychange', function () {
        if (document.visibilityState === 'visible') {
            // La pestaña volvió a estar activa
            validarSesion();
        }
    });
    $(document).ajaxSend(function (event, xhr, settings) {
        if (settings.url !== "/Account/UsuarioActivo/") {
            validarSesion()
        }
    });
    setInterval(validarSesion, 120000);
</script>