@using ERPElectrodata.Models;
<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @ResourceLanguaje.Resource.LoginTitle</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        
        <link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.3.1119/kendo.electrodata.min.css" rel="stylesheet" />
        <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <script src="~/Scripts/UtilElectrodata.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.web.min.js"></script>
        <script src="~/Scripts/kendo/2013.3.1119/kendo.timezones.min.js"></script>

        <script src="~/Scripts/highcharts/highcharts.js"></script>
        <script src="~/Scripts/highcharts/highcharts-more.js"></script>
        <script src="~/Scripts/jquery.tinycarousel.min.js"></script>        

        @*<script src="~/Scripts/highcharts/modules/exporting.js"></script>*@

        @Scripts.Render("~/bundles/modernizr")

        <style>
            .BannerMove {
                width: 100%;
                display: inline-block;
                color: white;
                height: 70px;
                margin-bottom: 1%;
            }
            #slider-code {
                height: 93px;
                overflow: hidden;
            }
            #slider-code .viewport {
                float: left;
                width: 100%;
                height: 90px;
                position: relative;
            }
            #slider-code .buttons {
                display: block;
                margin: 20px 0 0 0;
                float: left;
            }
            #slider-code .next {
                margin: 20px 0 0 0;
            }
            #slider-code .disable {
                visibility: hidden;
            }
            #slider-code .overview {
                list-style: none;
                position: absolute;
                padding: 0;
                margin: 0;
                left: 0;
                top: 0;
                width: 1657.47px;
            }
            #slider-code .overview li {
                float: left;
                height: 90px;
                width: 180px;
            }
        </style>
    </head>
    <body >
        <header>
            <div class="content-wrapperx">
                <div class="content-wrapper">
                <div class="float-left">
                    
                    @if (Request.IsAuthenticated) {
                    
                    //var Pers = new EntityEntities().CLASS_ENTITY.Single(c => c.UserId == WebSecurity.CurrentUserId);
                        
                    <div style="float:left; text-transform:capitalize; " class="usernamex" >
                        <div style="padding-right:3px;border-right:solid 1px white;">
                        <text style="padding-right:4px;">
                            @Session["NAM_ACCO"]
                        </text>
                        </div>
                    </div>
                        
                    <div style="width:15px; height:15px; border:0px solid black; float: left;margin-top:3px;" onclick="CLickComboAcco(this)">
                        <div id="icon-change-acco">
                            <input type="text" name="ID_SELECT_ACCO" id="ID_SELECT_ACCO" style="visibility:hidden;"/> 
                        </div>
                    </div>
                    
                    }
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                </div>
            </div>
            <div style="width:100%; height:36px;"></div>
            <div style="clear:both; width:90%;margin-left:auto;margin-right:auto;">
                <div id="mainPrincipal">
                    <div id="slider-code">
                        <div class="viewport" id="divVisor">
                            <a href="#" title="Previous" class="buttons prev" style="text-decoration:none;left:0px;position:relative;z-index:999;">
                                <div id="divIzqMenuCarrusel" style="color: white; font-weight: bold; font-size: 1em; transform: scaleY(1.3); height: 30px; width: 25px;
                                margin-left: -1px; text-align: center; filter: alpha(opacity=30); background-color: rgba(81,104,130,0.30);
                                margin-top: 7px; padding-top: 14px; border-bottom-left-radius: 2px; border-top-left-radius: 2px;" onmouseout="onmouseoutMenuCarrusel(1)" onmouseover="onmouseoverMenuCarrusel(1)"><</div>
                            </a>
                            <ul class="overview" id="ulCarrusel">
                                <li id="divli" style="margin-right:1.6%;">
                                    <div class="BannerMove">
                                        <a href="~/">
                                            <div id="mp1" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.IncidentRequest
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li style="margin-right: 1.6%; ">
                                    <div class="BannerMove">
                                        <a href="~/Asset/Index">
                                            <div id="mp2" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.AssetConfiguration
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li style="margin-right: 1.6%; ">
                                    <div class="BannerMove">
                                        <a href="~/Change/Index">
                                            <div id="mp3" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.Change
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li style="margin-right: 1.6%; ">
                                    <div class="BannerMove">
                                        <a href="~/Knowledge/Index">
                                            <div id="mp7" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.Knowledge
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li style="margin-right: 1.6%; ">
                                    <div class="BannerMove">
                                        <a href="/Talent/Index">
                                            <div id="mp4" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.Talent
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li style="margin-right: 1.6%; ">
                                    <div class="BannerMove">
                                        <a href="~/Financial/Index">
                                            <div id="mp5" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.Financial
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li style="margin-right: 1.6%; ">
                                    <div class="BannerMove">
                                        <a href="~/Sales/Index1">
                                            <div id="mp8" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.Sales
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="BannerMove">
                                        <a href="~/Inform/Index">
                                            <div id="mp6" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.Inform
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="BannerMove">
                                        <a href="~/Administration/Index">
                                            <div id="mp10" class="inmainP6">
                                                <div class="titleMainP6">
                                                    @ResourceLanguaje.Resource.Administration
                                                </div>
                                                <div class="subTitleMainP6">
                                                    @ResourceLanguaje.Resource.Management
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" title="Next" class="buttons next" style="text-decoration:none;left:96.2%;position:relative;z-index:999;">
                                <div id="divDerMenuCarrusel" style="color: white; font-weight: bold; background-color: #f9f9f9; font-size: 1em; transform: scaleY(1.3);
                                text-align: center; height: 30px; width: 25px; margin-left: -13px; filter: alpha(opacity=30);
                                background-color: rgba(81,104,130,0.30); margin-top: 7px; padding-top: 14px; border-bottom-right-radius: 2px; border-top-right-radius: 2px;" onmouseout="onmouseoutMenuCarrusel(2)" onmouseover="onmouseoverMenuCarrusel(2)">></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="divIconoChat" onclick="viewPanelChat()"></div>
            <div id="divChatMarco" style="display:none; position: absolute; width: 280px; height: 100%; top: 0px; right: 0px; background-color: transparent; overflow: hidden; z-index: 9999;">
                <div id="divChat" style="position: absolute; width: 279px; height: 100%; top: 0px; right: -280px; background-color: white; border-left: 1px solid #808080; "></div>
            </div>*@
        </header>
        <div>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            <div id="divpopupmodal"></div>
            <div id="winPopUpModalLoad"></div>
            <div id="winFormPopUpModal"></div>
            <div id="winFormPopUpModal2"></div>
        </div>
        <div style="width:100%;height:33px;"></div>
        <div class="Footer" id="divFooter">
            <div style="width: 90%; margin: 0 auto;">
                <div style="float:left; margin-top:0.75%;">&copy; @DateTime.Now.Year Electrodata. @ResourceLanguaje.Resource.AllRightReserved</div>                
                <div style="float: right; margin-top: 0.75%; border-left: 1px solid #dddddd; padding-left: 6px;" id="divLastDateFoo"></div>
                <div style="float: right; margin-top: 0.75%; padding-right: 6px; " id="divDateFoo"></div>
            </div>
        </div>                
    </body>

    <script type="text/javascript">

        function viewPanelChat(){
            $("#divChatMarco").css("display","block");
            $("#divChat").animate({ left: "0px" }, 500);
        }

        $(document).ready(function () {

            $.ajax({
                url: "/Account/DateTimeServer",
                data: "var=" + Math.random(),
                type: "GET",
                dataType: "text",
                success: function (source) {
                    data = source;
                    var elem = source.split('|');
                    
                    $("#divLastDateFoo").html("@ResourceLanguaje.Resource.LastAccess: @Session["PEN_ACCE"]");
                    relojFooter(parseInt(elem[1]), parseInt(elem[2]), parseInt(elem[3]),elem[6]);
                },
                error: function (dato) {
                    //alert("ERROR");
                }
            });

            var x = @Session["MAIN"].ToString();

            for (var i = 1; i < 6; i++) {
                $("#mp" + i).removeClass("activeMP");
                $("#" + x.id ).addClass("activeMP");
            }

            $('#slider-code').tinycarousel();
            var carrusel = $("#slider-code").data("plugin_tinycarousel");
            if(x.id=='mp8'){ carrusel.move(1); }
            else if(x.id=='mp6'){ carrusel.move(2); }
            else { carrusel.move(0); }

          cmbIdSelectAcco = $("#ID_SELECT_ACCO").kendoComboBox({
                dataTextField: "NAM_ACCO",
                dataValueField: "ID_ACCO",
                template: '<div style="text-transform:capitalize;">' +
                                  '${data.NAM_ACCO}' +
                              '</div>',
                filter: "contains",
                autoBind: true,
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Account/AccountsByUser?var=" + Math.random()
                    }
                }
          }).data("kendoComboBox");
          
          cmbIdSelectAcco.value('@Session["ID_ACCO"]');

          cmbIdSelectAcco.bind("change", function (e) {
              $.ajax({
                  type: "GET",
                  url: "/AccountIT/ChangeAccount/" + cmbIdSelectAcco.dataItem().ID_ACCO,
                  data: { var: Math.random() }
              }).done(function (msg) {
                  location.reload(true);
              });
          });

        });       

        function relojFooter(hh, min, seg, dat) {
            seg = seg + 1;
            if (seg == 60) {
                min = min + 1;
                seg = 0;
                if (min == 60) {
                    hh = hh + 1;
                    min = 0;
                    if(hh==24){ hh = 0;}
                }
            }
            st = "@ResourceLanguaje.Resource.Date: " + dat + " " + (hh < 10 ? "0" + hh : hh) + ":" + (min < 10 ? "0" + min : min)+ ":" + (seg < 10 ? "0" + seg : seg);
            $("#divDateFoo").html(st);            
            setTimeout("relojFooter(" + hh + "," + min + "," + seg+ ",'" + dat + "');", 1000);
        }

        function CLickComboAcco() {
            var cmbACCO = $("#ID_SELECT_ACCO").data("kendoComboBox");
            cmbACCO.open();
        }

        function onmouseoutMenuCarrusel(e){
            if(e==1){
                $("#divIzqMenuCarrusel").css("background-color","rgba(81,104,130,0.30)");
            }
            else{ $("#divDerMenuCarrusel").css("background-color","rgba(81,104,130,0.30)"); }
            
        }
        function onmouseoverMenuCarrusel(e){
            if(e==1){
                $("#divIzqMenuCarrusel").css("background-color","#ffbb00");
            }
            else{ $("#divDerMenuCarrusel").css("background-color","#ffbb00"); }
            
        }
        //$(window).bind( 'beforeunload', function() {
        //    console.log('ok');
        //    return false;
        //} );

    </script>
</html>

