@using ERPElectrodata.Models;

@if (Request.IsAuthenticated) {
    var Pers = new EntityEntities().CLASS_ENTITY.Single(c => c.UserId == WebSecurity.CurrentUserId);
    var usu = Pers.FIR_NAME.ToLower() + " " + Pers.LAS_NAME.ToLower();
    <div style="width:100%; display:block; padding-bottom:13px;">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @*<div class="usernamex" style="float:right;">
                <a href="javascript:document.getElementById('logoutForm').submit()" style="background-color:#000; font-size:1.05em; padding-top:0px; margin-top:0px;">@ResourceLanguaje.Resource.SignOut</a>
            </div>*@  
        <div style="float:right; text-transform:capitalize;" class="usernamex">
            <a style="background-color:#000; font-size:1.05em; padding-top:0px; margin-top:0px; margin-left:3px;" 
               href="javascript:document.getElementById('logoutForm').submit()">@ResourceLanguaje.Resource.SignOut</a>
        </div>                       
        }
        <div style="float:right; text-transform:capitalize;" class="usernamex">
            <div style="padding:0px 5px 0 5px;border-right:solid 1px white;">
                Performance 100 Points
            </div>
        </div> 
        <div style="float:right; text-transform:capitalize;" class="usernamex">
            <div style="padding-right:1px;border-right:solid 1px white;">
                <a style="background-color:black;" title="Administrar" href="/Account/Manage">@usu</a>
            </div>
        </div> 
    </div>
   
    <text>
        @*<div style="float:right; text-transform:capitalize; background-color:black; color:white;">
            <div style="padding-right:3px;border-right:solid 1px white;">
            
            </div>
        </div>*@        

    </text>
}
else
{
    @*<ul>
            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
