@model ERPElectrodata.Models.ACCOUNT_QUEUE

@{
    Layout = null;
}

<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>
<style type="text/css">
    a.tooltip span {
        cursor: default;
        display: none;
        padding: 5px;
        margin: -25px 0px 0px 120px;
        width: 230px;
        position: relative;
        z-index: 9;
    }

    a.tooltip:hover span {
        display: block;
        position: absolute;
        background: #000;
        border: 1px solid #cccccc;
        color: #ddd;
        font-size: 14px;
        font-weight: normal;
        opacity: 0.9;
    }

    .bg-primary {
        background-color: rgb(81, 104, 130);
        font-size: 13px;
    }

    .detalle {
        font-size: 13px;
        color: #7F7F7F;
    }

    .contenido {
        background: #DCDCDE;
    }

    #btnLicencias {
        margin-left: 5px;
        background: #F24541;
        border-color: #F24541;
    }

    #caja {
        /*border:1px solid black;*/
        height: 30px;
        padding-top: -5px;
    }

    #pagerdivPrograma {
        margin-top: 0;
        padding-top: 0;
    }

    #exportar {
        /*clear:both;*/
        float: right;
        height: 28px;
        width: 70px;
    }

    #Buscar {
        margin-right: 20px;
    }

    #BtnEditar {
        color: #2D5C88;
        background: #ffffff;
        border: 0;
    }

    b {
        color: #F83C50;
    }
</style>

<div class="afterMain" id="divContainerCreaCuentaCola">
    <div style="float: left; width:100%">
        <div class="titleForm">
            <div class="title" style="visibility:hidden">
                Cuentas Colas
            </div>
        </div>

        <div class="bodyForm" id="divNuevaLicencia">
            <div class=" inbodyform">
                @*Declaración de Formulario*@
                @using (Html.BeginForm("IndexCuentaCola", "AccountQueue", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmCuentaCola", target = "upload_target" }))
                {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Cuenta Cola</legend>

                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="editor-label">
                                        Cuenta
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(model => model.ID_ACCO, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ID_ACCO)
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="editor-label">
                                        Cola
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(model => model.ID_QUEU, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ID_QUEU)
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="editor-label">
                                        Usuario
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(model => model.ID_PERS_ENTI_CORD, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ID_PERS_ENTI_CORD)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div id="divRequest" class="editor-label">
                                        Estado
                                    </div>
                                    <div class="editor-field">
                                        @Html.Editor("EstadoC")
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div id="divRequest" class="editor-label">
                                        Visibilidad
                                    </div>
                                    <div class="editor-field">
                                        @Html.Editor("VisibilidadC")
                                    </div>
                                </div>

                            </div>
                        </div>

                        @*<div class="divFondoUno">

                            <button type="button" class="btn btn-primary " style="float:right;" id="Buscar">Buscar</button>

                            <div style="display:inline-block; float:right; padding:0px 15px 15px 5px;">
                                <div style=" float:right; padding:0px 15px 0px 0px; ">
                                    <button class="btn btn-warning" onclick="CreaCuentaCola()">Crear</button>
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2 ml-auto">
                                    <button id="Buscar" type="button" class="btn btn-primary btn-block">Buscar</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#miModal" onclick="CreaCuentaCola()">Crear</button>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>
@*<div style="width: 100%; margin:15px auto;" id="cabecera">
    <div class="bodyForm">
        <div class="inBodyForm" style="height:100%; background-color:white">

            <div class="bg-primary" style="width:100%;">
                <div class="bg-primary" style="float:left; width:100%;">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:16%"><strong>Cuenta</strong></div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:16%"><strong>Cola</strong></div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:16%"><strong>Usuario</strong></div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:14%"><strong>Estado</strong></div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:20%"><strong>Correo</strong></div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:10%"><strong>Visibilidad</strong></div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:0%"><strong>  </strong></div>
                <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
            </div>
            <div style="float:left; width:100%;height:10px;"></div>
            <div id="divCuentaCola" class="contentView"></div>
            <div id="pagerdivCuentaCola" class="contentViewPager" style="width:99%"></div>
        </div>
    </div>
</div>*@

<div class="row" id="cabecera">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:15%"><center>Cuenta</center></th>
                        <th style="width:17%"><center>Cola</center></th>
                        <th style="width:17%"><center>Usuario</center></th>
                        <th style="width:10%"><center>Estado</center></th>
                        <th style="width:21%"><center>Correo</center></th>
                        <th style="width:14%"><center>Visibilidad</center></th>
                        <th><center>Accion</center></th>
                    </tr>
                </thead>
            </table>
            @*<div style="float:left; width:100%;height:10px;"></div>*@
            <div id="divCuentaCola" class="contentView"></div>
            <div id="pagerdivCuentaCola" class="contentViewPager" style="width:99%"></div>
        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="plantillaCuentaCola">

    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:13%;height:30px;" class="detalle"><center>${Cuenta}</center></div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:16%;height:30px;" class="detalle"><center>${Cola}</center></div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:16%;height:30px;" class="detalle"><center>${Usuario}</center></div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:9%;height:20px;" class="detalle">
        #if(Estado == 'ACTIVO'){#
        <center><span class="badge badge-pill badge-success">${Estado}</span></center>
        #}else{#
        <center><span class="badge badge-pill badge-danger">${Estado}</span></center>
        #}#
    </div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:20%;height:30px;" class="detalle"><center>${Correo}</center></div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:10%;height:20px;" class="detalle"><center>${Visibilidad}</center></div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:0%"><strong>  </strong></div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; " onclick="EditaCuentaCola(${ID_ACCO_QUEUE})">
        <center>
            <button type="button" id="BtnEditar" class="btn" data-toggle="modal" data-target="\\#miModal">
                <i class="fas fa-edit"></i>
            </button>
        </center>
    </div>
    <div style="float:left; width:100%;" id="caja"><hr /></div>
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#Buscar").click(function () {

            $("#pagerdivCuentaCola").empty();
            $("#divCuentaCola").empty();

            if ($("#divCuentaCola").data("kendoListView")) {
                $("#pagerdivCuentaCola").data("kendoPager").destroy();
                $("#divCuentaCola").data("kendoListView").destroy();
            }
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/AccountQueue/ListarBuscarCuentaColaTodo/0?var",
                        type: "GET",
                        dataType: "json",
                        data: {
                            q: "#kendoui",
                            ran: Math.random(),
                            ID_ACCO: $("#ID_ACCO").val() == '' ? 0 : $("#ID_ACCO").val(),
                            ID_QUEU: $("#ID_QUEU").val() == '' ? 0 : $("#ID_QUEU").val(),
                            ID_PERS_ENTI_CORD: $("#ID_PERS_ENTI_CORD").val() == '' ? 0 : $("#ID_PERS_ENTI_CORD").val(),
                            VIG_ACCO_QUEU: $("#EstadoC").val() == '' ? '' : $("#EstadoC").val(),
                            VIS_ALL_QUEU: $("#VisibilidadC").val() == '' ? '' : $("#VisibilidadC").val()
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Data",
                    total: "Cantidad"
                }
            });

            $("#pagerdivCuentaCola").kendoPager({
                dataSource: dataSource,
                pageSizes: [10, 15],
                refresh: true
            });

            $("#divCuentaCola").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#plantillaCuentaCola").html())
            });

        });

        $("#Buscar").click();

        var ID_ACCO = $("#ID_ACCO").kendoComboBox({
            autoBind: true,
            dataTextField: "NAM_ACCO",
            dataValueField: "ID_ACCO",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListaCuentaCombo?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");


        var ID_QUEU = $("#ID_QUEU").kendoComboBox({
            autoBind: true,
            dataTextField: "NAM_QUEU_REPO",
            dataValueField: "ID_QUEU",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListaColaCombo?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var ID_PERS_ENTI_CORD = $("#ID_PERS_ENTI_CORD").kendoComboBox({
            autoBind: true,
            dataTextField: "NOMBRE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/RequestExpense/ListByRequest?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var Estadof = [{ text: "ACTIVO", value: "1" }, { text: "INACTIVO", value: "0" }];

        var VIG_ACCO_QUEU = $("#EstadoC").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,

            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,

            dataSource: Estadof,
            index: 0
        }).data("kendoComboBox");

        var Visibilidadf = [{ text: "SI", value: "1" }, { text: "NO", value: "0" }];

        var VisibilidadC = $("#VisibilidadC").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            dataValueField: "value",
            suggest: true,

            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,

            dataSource: Visibilidadf,
            index: 0
        }).data("kendoComboBox");

        //$("#reset").click(function (event) {
        //    event.preventDefault();
        //    location.reload(true);
        //});

    });

</script>

<script type="text/javascript">

    //function uploadDone(msg, code, idComponente) {
    //    if (msg == "OK") {
    //        winPopUpModal("Información Guardada / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
    //            + "<div style='padding:10px 0px 10px 0px;'>La información ha sido actualizada.</div>"
    //            + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continues' class='k-button'>Continuar</button>" +
    //            "</div></div>", 400, 160);
    //        $("#continues").focus();
    //        var undo = $("#continues")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //                $("#ID_ACCO").val('').clearQueue();
    //                $("#ID_QUEU").val('').clearQueue();
    //                $("#ID_PERS_ENTI_CORD").clearQueue();
    //                $("#EstadoC").val('');
    //                $("#VisibilidadC").val('');
    //                $("#Buscar").click();
    //            });


    //        $("#closebtnmodal").click(function () {
    //            closeWinModalPopUp();
    //            $("#ID_ACCO").val('').clearQueue();
    //            $("#ID_QUEU").val('').clearQueue();
    //            $("#ID_PERS_ENTI_CORD").clearQueue();
    //            $("#EstadoC").val('');
    //            $("#VisibilidadC").val('');
    //            $("#Buscar").click();
    //        });
    //    }
    //    else if (msg == "EXISTE") {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>La cuenta cola ha sido registrada anteriormente</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }
    //    else {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>Completar la información solicitada</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }
    //}

    function uploadDone(msg, code, idComponente) {
        if (msg == "OK") {
             toastr.success("La información ha sido actualizada", "Información Guardada / Notificación Enviada");
            $("#Buscar").trigger({ type: "click" });
        }
        else if (msg == "EXISTE") {
             toastr.warning("La cuenta cola ha sido registrada anteriormente<", "Alerta");
            $("#Buscar").trigger({ type: "click" });
        }
        else {
           toastr.warning("Completar la información solicitada", "Alerta");
        }
    }

    function EditaCuentaCola(Id) {
        $(".modal-dialog").removeClass("modal-xl");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-md");
        $("#lblTitulo").text("Editar Cuenta Cola");
        $(".modal-title").addClass("ml-auto");
        $("#modal-content").empty();
        $("#modal-content").load("/AccountQueue/EditaCuentaCola/" + Id);
    }

    function CreaCuentaCola() {
        $(".modal-dialog").removeClass("modal-xl");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-md");
        $("#lblTitulo").text("Crear Cuenta Cola");
        $(".modal-title").addClass("ml-auto");
        $("#modal-content").empty();
        $("#modal-content").load("/AccountQueue/CreaCuentaCola/");
    }

</script>