@model ERPElectrodata.Models.CLASS_ENTITY

@{
    ViewBag.Title = "Edit";
    //Layout = null;
    Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
}

<style>
    .k-icon {
        padding: 18px
    }
</style>
<div id="divContent">
    <div id="tabstrip" style="margin-top:17px;">
        <ul>
            <li class="k-state-active">
                Cuentas y Permisos
            </li>
           
        </ul>
    </div>
</div>
<br />
<script type="text/javascript">
    var NameArc = '';

    $(document).ready(function () {

        $("#tabstrip").kendoTabStrip({
            animation: { open: { effects: "fadeIn" } },
            contentUrls: [
                        '/CuentaPermisos/EditarColaUsuario',
            ]
        });

    });

    function Profile() {
        location.reload(true);
    }

</script>

<script type="text/javascript">

     function cancel() {
         location.reload(true);
         return false;
     }

     function uploadDone(msg, code, cdg) {
         if (msg == "OK") {
             
         }
         else {
             closeWinModalPopUpLoad();

             var titleAsset = '';
             var messageAsset = '';
             if (code == '0') {
                 titleAsset = '@ResourceLanguaje.Resource.InformationMissing';
                 messageAsset = '@ResourceLanguaje.Resource.InformationMissingMsn';
             }
             else if (code == '1') {
                 titleAsset = '@ResourceLanguaje.Resource.BasedDrawback';
                messageAsset = '@ResourceLanguaje.Resource.BasedDrawbackMsn';
             }
             else if (code == '2') {
                 titleAsset = '@ResourceLanguaje.Resource.WrongDates';
                 messageAsset = '@ResourceLanguaje.Resource.WrongDatesMsn';
             }
             else if (code == '3') {
                 titleAsset = '@ResourceLanguaje.Resource.Attach';
                 messageAsset = '@ResourceLanguaje.Resource.AttachMsn';
             }
             else if (code == '5') {
                 titleAsset = '@ResourceLanguaje.Resource.WrongCredentials';
                 messageAsset = '@ResourceLanguaje.Resource.WrongCredentialsMsn1';
             }
             else if (code == '6') {
                 titleAsset = '@ResourceLanguaje.Resource.WrongCredentials';
                 messageAsset = '@ResourceLanguaje.Resource.WrongCredentialsMsn2';
             }
            winPopUpModal(titleAsset, "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
               "<div style='padding:10px 0px 10px 0px;'>" + messageAsset + "</div>" +
                   "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                   "<button id='continuee' class='k-button'>Continue</button>" +
                   "</div></div>"
                   , 400, 140);

            var undo = $("#continuee")
            .bind("click", function () {
                closeWinModalPopUp();
            });
        }
    }
</script>