@model ERPElectrodata.Models.STATUS_FEEDBACK

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("SaveCreate", "StatusFeedback", FormMethod.Post, new { id = "idFormcreate", target = "upload_target" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>STATUS_FEEDBACK</legend>

        
        
            @Html.HiddenFor(model => model.ID_STAT_FEED)
          
        <div class="editor-label">
            @Html.LabelFor(model => model.NAM_STAT_FEED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAM_STAT_FEED)
            @Html.ValidationMessageFor(model => model.NAM_STAT_FEED)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DES_STAT_FEED)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DES_STAT_FEED)
            @Html.ValidationMessageFor(model => model.DES_STAT_FEED)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
